[2017-08-02 02:35] mdsupport opened #983 "mypcc"
Has anyone looked at purpose of `phone_country_code` which was used by old date widget - typically copy and pasted throughout the code as `var mypcc`?

[2017-08-02 07:37] bradymiller commented on #983
I think we can remove this (except for the small number of places that use the old date widget)

[2017-08-02 09:36] andremillet commented on #978
received the following answer:

[2017-08-02 09:38] andremillet commented on #978
My suggestion is that we still try to acquire this first version somehow, for testing purposes only

[2017-08-02 15:32] TheToolbox commented on #978
I may actually be somewhat helpful here! This is what I studied in undergrad. The difficulty with some of these solutions is the testing infrastructure behind them. Much of the cost of these devices comes from the certifications that they will work as expected. Cleaning and trimming the signals is easily as important as simply gathering them. The other issue that may be relevant is that certain ha

[2017-08-02 16:15] andremillet commented on #978
awesome, Jason! thx in advance!

[2017-08-02 16:49] MatthewVita commented on #978
@TheToolbox sounds great! We need more resources for this project as it is ambitious.

As far as FDA strictness, we may not have as much to worry about in other countries. This is good because that means we can make use of more unorthodox solutions (for instance, the products Andre and I are looking at "are not medical devices" :) ) - since we don't have to provide any warranties with anything bec

[2017-08-02 16:53] MatthewVita commented on #978
I should be clear that this does NOT mean we don't care about quality or testing. I am willing to spend personal funds buying and testing these devices for us. We just can't guarantee anything. This is in line with our license:

APPLICABLE LAW.  EXCEPT WHEN OTHERWISE STATED IN WRITING THE COPYRIGHT
HOLDERS AND/OR OTHER PARTIES PROVIDE THE PROGRAM "AS IS" WITHOUT WARRANTY
OF ANY KIND, EITHER EXPRES

[2017-08-02 16:56] MatthewVita commented on #978
I have a little story. So, up until recently, my wife's glucose monitor was not to be taken literally. If it said that she had a high or low glucose number, it was instructed that she actually take a reading with an FDA approved "finger prick" device. Recently, the company got FDA approval for the monitor to be taken literally (and it was always accurate for her anyways).

This may be an approach

[2017-08-02 17:38] andremillet commented on #978
It's over 9000! lol

[2017-08-03 00:20] #983 closed

[2017-08-03 17:16] bradymiller commented on #865
Main fix of this bug will be following:
If a acl role has access to an aco item with "any encounters" in it, also need to add the aco item with "my encounters" to their role.(appear to only be acos in Encounters category that have this issue).

[2017-08-04 15:01] robertdown commented on #978
I think we're going to try to sponsor a challenge at an upcoming medical hackathon for a group of engineering, medical, and CS students work on creating an open source, low-cost medical device. The areas I'd like to see are a glucometer, a vital signs matching, and a portal EKG device. I'm still working on the details but do keep this in mind. I'm also trying to get my university and perhaps the h

[2017-08-04 18:33] MatthewVita commented on #978
Okay sounds like a plan. We'll play it by ear

[2017-08-06 11:29] bradymiller commented on #469
Just completed this project. Last commit for this is here:
https://github.com/openemr/openemr/pull/990

[2017-08-06 11:29] #469 closed

[2017-08-06 20:31] bradymiller commented on #865
TODO for me:
add an admin->menu for the menu editor

[2017-08-08 05:30] TheToolbox commented on #978
I was able to talk a bit with the handful of engineers I know out in the field. The general consensus was that putting new hardware options together is not an easy task. Interestingly, security factored highly in their considerations, which is an issue I think we are more than capable of tackling without undue issues. The other concerns that they expressed, similar to what I had said, is that any

[2017-08-08 20:53] TheToolbox opened #998 "To module or not to module? and how?"
# The Problem
As discussions have ramped up for cTAKES, telemedicine, inpatient, and analytics, it has become clear that for many of these, tools already exist that can do much of what these features require. Including these tools in openEMR presents implementation challenges, the largest of which is that several of them require non-PHP environments. Adding these to the openEMR core would add a gr

[2017-08-08 21:24] robertdown commented on #998
This is a conversation better suited for the forums. I've created the topic at https://community.open-emr.org/t/module-framework-development/8851 (as well as my thoughts) and am going to close this issue.

[2017-08-08 21:24] #998 closed

[2017-08-08 21:34] robertdown commented on #978
Suggest migrating this to the forums, it's better suited for these longer form conversations.

[2017-08-09 22:49] MatthewVita commented on #934
Hi @nkduodu,

The OpenEMR cloud solution is ready. Would you like me to show you how to get started?

Thanks,

Matthew Vita

[2017-08-09 22:50] nkduodu commented on #934
Yes please

⁣Sent from TypeApp ​

On Aug 9, 2017, 18:49, at 18:49, Matthew Vita <notifications@github.com> wrote:

[2017-08-09 23:06] MatthewVita commented on #934
@nkduodu: please follow this guide along: https://github.com/GoTeamEpsilon/OpenEMR-Cloud

Let me know if you have any questions!

[2017-08-10 12:19] andremillet commented on #978
form conversations.
I second that.

*André Millet*

2017-08-08 18:34 GMT-03:00 Robert Down <notifications@github.com>:

[2017-08-11 07:46] bradymiller commented on #911
hi @MatthewVita ,
Just checking to make sure you're ok with me making the above class namespace changes.
thanks, -brady

[2017-08-12 05:29] MatthewVita commented on #911
Oops, I missed the notification from 29 days ago. I feel silly.

I am very happy with these changes.

[2017-08-13 23:38] MatthewVita commented on #593
Hi @Jeffrey-P-McAteer ,

This post is in response to the PR you put on my OpenEMR fork. I think you are on the right track, but it may be best to do the following as "homework" and I'll definitely be free to do as many Google Hangouts as you need during the week if you need help. You are certainly a Linux and Docker guru, time to be a PHP guru (this project will thank you for it!).

There are a lo

[2017-08-14 22:20] mdsupport opened #1009 "select2 and bootstrap"
Is there any reason config.yaml does not follow the order specified by [usage documentation](https://github.com/select2/select2-bootstrap-theme#usage) for select2 bootstrap theme?

[2017-08-15 01:18] mdsupport commented on #972
As an opensource project, shouldn't we ask installations to try [steps in this documentation](https://wiki.samba.org/index.php/Setting_up_Samba_as_an_Active_Directory_Domain_Controller) first?

[2017-08-15 08:22] bradymiller commented on #972
@mdsupport , I guess the first thing to confirm is that Samba will work with OpenEMR. Anybody up for testing this?

[2017-08-15 08:23] bradymiller commented on #1009
sounds like a simple commit to flip-flop these 2 lines is in order :)

[2017-08-15 16:38] f1re-w1re opened #1011 "XSS on OpenEMR"
Hello,

I found a cross site scripting flaw on my latest copy of OpenEMR, is this the proper place to post it? Seems like it would be public disclose if I do.

Please let me know, thanks!

[2017-08-16 05:13] bradymiller commented on #1011
hi @f1re-w1re ,
Thanks for reporting this. Best to email it to me at brady.g.miller@gmail.com . I'd prefer email encrypted via PGP, if possible, and my public key is here: https://pgp.mit.edu/pks/lookup?op=get&search=0x27DEF05B1A8A6D4F

[2017-08-16 15:20] mdsupport opened #1013 "Autoloader Optimization"
[Composer documentation](https://getcomposer.org/doc/articles/autoloader-optimization.md#autoloader-optimization) recommends 3 options to optimize/speed up autoloading process.

Since config key option is currently not implemented, can someone confirm that release scripts use the recommended run-time options?

[2017-08-16 19:16] ASC commented on #1011
Hi,
Sorry to hijack this thread but I've also got an XSS which I'll put in an email to you if that's alright.

Cheers

ASC

[2017-08-16 20:34] priya-anand commented on #1011
Hi Brady,

We were working on this XSS issues reported in 'gacl' module, as we mentioned in our early communications, we are developing a tool to identify the potential XSS in OpenEMR. We would like to discuss about it and share our analysis, with possible fixes. I will send a separate email about it.

- Priya

[2017-08-16 20:51] ASC commented on #1011
Priya,

I believe tools like this already exist e.g. this one:
https://github.com/bugbountyforum/XSS-Radar
You may find it helpful in your quest!

ASC

[2017-08-16 20:59] priya-anand commented on #1011
ASC, Thanks for sharing this one.... Actually, we are working on developing a tool to implement security patterns, and as an extension of our tool features, we are trying to detect possible XSS vulnerabilities. XSS - radar is a nice one as well, and we are focusing on identifying stored-XSS as well. I will compare our results with XSS-radar, and see how it works.

[2017-08-16 23:28] #916 closed

[2017-08-17 02:33] f1re-w1re commented on #1011
Hi @bradymiller,

I sent you an encrypted email, thank you for the pub key.

Cheers!

[2017-08-17 07:36] bradymiller commented on #865
fixes just committed to codebase

[2017-08-17 07:36] #865 closed

[2017-08-17 08:57] bradymiller commented on #1011
Confirming receipt of both encrypted emails from @f1re-w1re and @ASC .
After doing a bit of analysis, I'll get back to both of you.
And looking forward to your email @priya-anand .
thanks!
-brady

(btw, if there are any developers that are interested in working on security fixes and want to get these messages, just send me your PGP public key and I'll forward you this stuff)

[2017-08-17 09:01] bradymiller commented on #1013
@mdsupport ,
Here's the current command used to prep autoloader:
[code]
So, we already do the first option discussed in above link. Do you have thoughts on the other 2 (looks like that we can only choose 1 of those options).
(btw, here's openemr composer info on wiki: http://www.open-emr.org/wiki/index.php/Composer )
-brady

[2017-08-17 14:14] mdsupport commented on #1013
Perfect.
We are tracing performance issues so going through the checklists to find root cause.
Thx.

[2017-08-17 14:14] #1013 closed

[2017-08-17 16:37] mdsupport opened #1016 "upgrade and patch"
Currently the project relies on [documented guidelines](http://www.open-emr.org/wiki/index.php/Securing_OpenEMR) for preventing intentional mischief or accidental actions.

Is there any reason why at least the sql upgrade and/or patching functionality should not require an administrative login?

If acl checks are added, these scripts could also be ideal candidates for use of 'App' functionality.

[2017-08-17 20:38] attritionorg commented on #1011
@priya-anand You say the 'gacl' module, can you confirm that is the third-party phpGACL module, as documented here: https://github.com/openemr/openemr/blob/master/gacl/README

If so, has it been reported upstream?

[2017-08-17 22:34] mdsupport commented on #1016
On a related note, since the conditions use `LIKE` operator, use of `%` and `_` values is likely to result in unexpected updates/skips.

As an example, consider the following directive:
`#IfNotRow list_options list_id drug_form`

If an installation were to create a list called `drug2form`, `IfNotRow` will be false even if the list `drug_form` is not present.

`#IfNotRow list_options list_id allowe

[2017-08-19 07:07] bradymiller commented on #1011
Hi @f1re-w1re ,
I wasn't able to confirm the issue you emailed on either 5.0.0(with patch 3) or on the most recent codebase. What version were you testing?
thanks,
-brady

[2017-08-19 07:10] bradymiller commented on #1011
Disregard my above post.

I Just confirmed it on most recent codebase.

Interestingly, this doesn't happen in 5.0.0(3) secondary to aggressive conversion of any non latin character 1 underscore.

[2017-08-19 07:27] bradymiller commented on #799
Also doing html escaping while making these changes.

[2017-08-19 07:27] bradymiller commented on #1011
@f1re-w1re,
Just committed the fix for this to the codebase. Using this strategy in the rest of the smarty code: https://github.com/openemr/openemr/issues/799

[2017-08-19 15:02] f1re-w1re commented on #1011
Thank you, Brady, for the speedy patch and update. Closing this thread for now. Godspeed!

[2017-08-19 15:02] #1011 closed

[2017-08-19 15:04] ASC opened #1018 "XSS in Patient Record"
As per email to @bradymiller

[2017-08-19 15:04] ASC commented on #1011
Hi,
Not sure that the issue I raised via email has been resolved yet so will open a separate issue in order to track.  see  #1018
ASC

[2017-08-19 15:50] bradymiller commented on #1018
hi @ASC ,
This is next in my queue.
thanks, -brady

[2017-08-19 15:52] ASC commented on #1018
Hi Brady,

I'm happy to work on a fix in fork and submit a pull request if that helps? Could save you some time?

ASC

[2017-08-19 16:49] stephenwaite opened #1020 "view RA for Patient, Encounter, or Trace:"
hi @kevmccor
looks like this function disappeared in version 2.0
https://github.com/openemr/openemr/blob/rel-412/interface/billing/edi_history_main.php#L113-L117

could you give me some guidance restoring?
thank you

[2017-08-19 17:02] bradymiller commented on #1018
Hi @ASC ,
Always very happy to have others contribute and would be awesome if you would submit a PR for this. And looking forward to seeing the PR. (Just let me know if need guidance or if need to hand it back to me.)
thanks! -brady

[2017-08-19 20:37] stephenwaite opened #1022 "move globals->appearance->default encounter view to user setting"
it probably makes sense to make this be a user choice clinical or billing for this setting

[2017-08-19 21:27] bradymiller commented on #1022
Sounds good. This is easy to do by adding the setting here:
https://github.com/openemr/openemr/blob/master/library/globals.inc.php#L102-L122

[2017-08-20 03:05] stephenwaite commented on #973
resolved, thanks @sjpadgett
https://community.open-emr.org/t/patient-statement-in-v5-0-0-3/8803/51

[2017-08-20 03:05] #973 closed

[2017-08-20 03:06] stephenwaite commented on #961
thanks @mdsupport

[2017-08-20 03:06] #961 closed

[2017-08-20 03:11] stephenwaite commented on #1020
it's probably going to be easier to have the users use [MREP](https://www.cms.gov/Research-Statistics-Data-and-Systems/CMS-Information-Technology/AccesstoDataApplication/MedicareRemitEasyPrint.html), the default 835 viewer and printouts that most insurance companies will aceept
thanks anyways @kevmccor and once again for the edi history module

ps the upgrade to version 2 worked flawlessly recentl

[2017-08-20 03:16] #1020 closed

[2017-08-20 03:22] stephenwaite commented on #1022
nice, that's pretty obvious now that I see it :)
thanks for the quick pointer

[2017-08-20 03:22] #1022 closed

[2017-08-20 03:23] stephenwaite commented on #754
ultimately unable to verify

[2017-08-20 03:23] #754 closed

[2017-08-20 04:00] bradymiller commented on #1018
looks good and thanks for the contribution!
Will also include in the next 5.0.0 patch.

[2017-08-20 04:00] #1018 closed

[2017-08-20 07:35] sharonco-matrix commented on #1011
I have a security report, with some vulnerabilities. Maybe we can work together to fix them? let me know to whom send the report

[2017-08-20 07:44] sharonco-matrix commented on #972
Sure we have it working ... let me know which kind of examples do you need :

So this are the parameters to be added in globals.

The installation is done the same way. after the first login as admin a new user must be added and the globals changed.
After that the login will be only done with AD

![examplead](https://user-images.githubusercontent.com/17809889/29492943-583e0b42-8594-11e7-8b02-bb2e1

[2017-08-20 11:03] bradymiller commented on #1011
hi @sharonco-matrix ,

Ideally, best to send me a PGP encrypted email to brady.g.miller@gmail.com. My public PGP key is here:
https://pgp.mit.edu/pks/lookup?op=get&search=0x27DEF05B1A8A6D4F

-brady

[2017-08-20 11:04] bradymiller commented on #1011
(btw, offer still stands; if there are any developers that are interested in working on security fixes and want to get these messages, just send me your PGP public key and I'll forward you this stuff)

[2017-08-20 11:15] ASC commented on #1011
@bradymiller - Happy to take on the work of investigating and patching sec issues. You have my key already :-)

[2017-08-20 22:28] stephenwaite opened #1029 "click to view document opens blank tab"
the document loads inside the openemr tab but a blank tab is created which becomes active with this url:

http://demo.open-emr.org:2089/openemr/ccr/display.php?type=CCD&doc_id=2

[2017-08-20 22:54] stephenwaite commented on #1029
guess this is the culprit

https://github.com/openemr/openemr/blob/master/controllers/C_Document.class.php#L1167

[2017-08-21 21:05] priya-anand commented on #1011
@attritionorg : It is not the third-party 'gacl' module, as documented here: https://github.com/openemr/openemr/blob/master/gacl/README
but this one https://github.com/openemr/openemr/tree/master/gacl

[2017-08-21 21:08] bradymiller commented on #1011
Note this did originate from the third-party gacl module. However, that project has been stale since 2006, so we (openemr) are now responsible for the code inside openemr (we've had to make significant changes in it over the years for modernization, bug fixes, etc.).

[2017-08-22 01:01] MatthewVita commented on #972
Documentation with pictures like this will be great! Make sure to expand on any notable AD stuff like groups, realms, permissions, etc

[2017-08-22 23:09] ASC opened #1035 "Sepsis Screening Tool"
Hi Community,
Looking for some questions answered with regards to this...
I will try and explain the best I can.

**Background**
One of the main clinical systems we use in the UK is called SystmOne - it has the ability to create custom protocols (similar to macros) which are triggered by certain events in the patient record.
One of the protocols which someone has written for it is a Sepsis Screeni

[2017-08-22 23:42] ASC commented on #1035
Another useful source document http://sepsistrust.org/wp-content/uploads/2016/07/PH-adult-NICE-Final.pdf

[2017-08-23 02:15] robertdown commented on #1035
Sepsis tools are pretty common; I know at my facility they are automatically triggered based on clinical rules. My guess is this is exactly what you're talking about now. @bradymiller I don't have much experience with the Clinical Decision Rules Engine, but is this a good fit? I'm going to reach out to a professor who also heads a Sepsis team locally to get some clinical feedback on this feature.

[2017-08-23 11:07] ASC commented on #1035
@robertdown I agree this feature would be useful in an Inpatient but I'm also keen for it to be available in primary care to catch to early signs.

[2017-08-23 16:04] ASC commented on #1035
Around 3 mins 30 secs in this video shows an example of a similar tool in primary care.
https://www.youtube.com/watch?v=h7YpHgK6YiQ

[2017-08-23 19:32] stephenwaite opened #1036 "composer with xdebug"
looking at Travis details and found this:

is this something that we can configure?

[2017-08-24 00:51] MatthewVita commented on #1036
Hmm, I would assume this is something that we can't change because it's up to Travis to configure PHP.

There appears to be an issue here about the subject: https://github.com/travis-ci/travis-ci/issues/5780

Interesting

[2017-08-24 18:41] bradymiller opened #1037 "new encounters form edit bug because of new hierarchy of frames"
can find more information on this issue here:
https://github.com/openemr/openemr/pull/1034
@shachar058

[2017-08-24 18:49] bradymiller commented on #1029
@stephenwaite ,
See my post on the above PR.

[2017-08-25 00:10] stephenwaite commented on #1036
thanks for the research @MatthewVita since this is upstream maybe i should close this issue and hope to see some progress down the road from the travis folks?

[2017-08-25 03:41] MatthewVita commented on #1036
Sounds like a plan!

[2017-08-25 13:26] #1036 closed

[2017-08-25 13:31] stephenwaite opened #1038 "close openemr tab doesn't log out"
if you restore closed openemr tab from history you're back in the app

while convenient for a user who has mistakenly closed the tab not sure if this could be exploited

[2017-08-27 02:10] MatthewVita opened #1040 "Update Intelligent Chart Summarization Project Tasks Board"
Update/add tasks here https://github.com/openemr/openemr/projects/6

Matthew will tackle this because he has been leading this effort :)

[2017-08-27 02:13] MatthewVita opened #1041 "Define "Quality Reporting" project"
![image](https://user-images.githubusercontent.com/1715206/29746550-a19d8954-8aab-11e7-8fc1-a8ae870a0411.png)

Need to work with Lou to describe this project. The project should have:

- Github issues in a kanban board
- Chat room for live conversations
- Teammates
- Leader of the team
- Mockups/Diagrams

[2017-08-27 02:19] MatthewVita opened #1042 "Better define Clinical Intelligence Dashboards project"
https://community.open-emr.org/t/clinical-intelligence-dashboards/8871

Should have:
- Github issues in a kanban board
- Chat room for live conversations
- Teammates
- Leader of the team
- Mockups/Diagrams

[2017-08-27 02:20] MatthewVita opened #1043 "Better define FHIR project"
https://community.open-emr.org/t/fast-healthcare-interoperability-resources-fhir-integration/8220

Should have:
- Github issues in a kanban board
- Chat room for live conversations
- Teammates
- Leader of the team
- Mockups/Diagrams

[2017-08-27 02:21] MatthewVita opened #1044 "Define Team Tasks Management project"
https://community.open-emr.org/t/team-tasks-management/8872

Should have:
- Github issues in a kanban board
- Chat room for live conversations
- Teammates
- Leader of the team
- Mockups/Diagrams

[2017-08-27 02:21] MatthewVita opened #1045 "Understand the state of the UB04/CMS-1450 claims project"
https://community.open-emr.org/t/proposed-ub04-cms-1450-claims/8747

[2017-08-27 02:27] MatthewVita opened #1046 "Put together some funds for the Affordable Medical Devices Connectivity project"
https://community.open-emr.org/t/affordable-medical-devices-connectivity/8865

In order to work on this project, volunteers will need RaspPis and USB devices. Need to put identify which parts need to be purchased for testing and integration. Maybe OEMR and community members can help with putting together some funds for this. My estimate is that we'll need ~$200-500 for purchases/shipping.

[2017-08-27 02:34] MatthewVita commented on #1041
(I'm going to invite Joyce to our Github. She has offered to help with project management work, so I'll assign her to this if she is able to work on it!)

[2017-08-27 02:34] MatthewVita commented on #1041
The key to this ticket is talking with Lou :)

[2017-08-27 02:35] MatthewVita commented on #1046
(I'm going to invite Joyce to our Github. She has offered to help with project management work, so I'll assign her to this if she is able to work on it!)

[2017-08-27 18:24] bradymiller commented on #1029
placed a improved solution here:
https://github.com/openemr/openemr/pull/1048

[2017-08-28 00:35] #800 closed

[2017-08-28 00:37] MatthewVita opened #1049 "Get cTAKES ICD10 Dictionary set up"
(This ticket is really just a placeholder so folks can know the state of the Intelligent Chart Summarization and how the related OpenEMR integration is going)

Having a lot of issues with this. Sent out a mailing list question here: https://discourse-uploads-openemr.s3.amazonaws.com/optimized/2X/b/b130dc2bb4b5a533702f8013b2dd086f43cd0f79_1_690x384.png

Work is being done here: https://github.com/t

[2017-08-28 00:40] MatthewVita opened #1050 "HTML5/JS/CSS cTAKES Friendly Web UI"
(This ticket is really just a placeholder so folks can know the state of the Intelligent Chart Summarization and how the related OpenEMR integration is going)

TeamEpsilon is working on this here: https://github.com/GoTeamEpsilon/cTAKES-Friendly-Web-UI

[2017-08-28 00:41] MatthewVita opened #1051 "cTAKES Concept Mention Parser"
(This ticket is really just a placeholder so folks can know the state of the Intelligent Chart Summarization and how the related OpenEMR integration is going)

TeamEpsilon is working on this here: https://github.com/GoTeamEpsilon/cTAKES-Concept-Mention-Parser

[2017-08-28 00:43] MatthewVita commented on #1040
w00t https://github.com/openemr/openemr/projects/6

[2017-08-28 00:43] #1040 closed

[2017-08-28 03:24] bradymiller commented on #1046
This falls within OEMR's priorities, so OEMR can cover this(can formally discuss it at the next board meeting). -brady

[2017-08-28 03:29] MatthewVita commented on #1046
Wonderful :)

[2017-08-28 08:14] bradymiller commented on #911
First PR for this is here:
https://github.com/openemr/openemr/pull/1054

[2017-08-28 16:49] stephenwaite opened #1055 "fees->payment bug"
hi @sjpadgett @juggernautsei can reproduce bug by:

1. select a pt with past encounters, a balance due and no encounter dated today
2. verify total due from main pt screen by expanding billing widget (should be a pt balance due and a total due)
3. choose fees->payment and notice top line in payment entry table (it has no encounter # and this is where the disappearing payment is entered)

![untitle

[2017-08-28 16:55] stephenwaite commented on #1029
thanks for the contribution @bradymiller ;)

[2017-08-28 16:55] #1029 closed

[2017-08-28 18:28] juggernautsei commented on #1055
That is excellent detective work, Sir Sherlock.

[2017-08-28 18:31] sjpadgett commented on #1055
See what you mean and payment probably should still show up in ledger but maybe as a patient payment/unapplied or something along those lines. Use to be, I thought, an encounter create option would open to allow applying payment.
I'm not sure any longer how reconciliation happens. I'm guessing for encounter billing it is front payment and/or checkout!

[2017-08-28 18:41] juggernautsei commented on #1055
About the new billing module. Is there a preview around? Is it going to do away with what is currently being used? Is there any info on the new billing suite?

[2017-08-28 20:53] stephenwaite commented on #1055
no, Jerry's working on the 837I and cleaning up any errors we find along the way in the current billing module

[2017-08-29 13:34] MatthewVita commented on #593
@Jeffrey-P-McAteer how does this sound :)

[2017-08-30 01:42] stephenwaite commented on #1041
thanks for outlining the core roadmap

another main part of this issue is using openemr to produce the qrda files that can be directly submitted to [cms](https://www.cms.gov/Regulations-and-Guidance/Legislation/EHRIncentivePrograms/Downloads/eCQM_QRDA_EC.pdf)

[2017-08-31 10:50] stephenwaite commented on #1055
@juggernautsei maybe you were referring to @visolve-openemr 's billing module http://live.visolve.com/pbm/web/login ?

[2017-08-31 12:45] juggernautsei commented on #1055
Nope. Didn't know that existed.

[2017-09-04 21:15] bradymiller opened #1065 "Remove perl dependencies from ubuntu packages, demos, and installation guides"
Remove perl dependencies from ubuntu packages, demos, and installation guides

[2017-09-05 16:34] sunsetsystems opened #1067 "Multiple Improvements for Layout Based Forms"
Here's a heads-up that I'll be submitting this as a PR very soon. We're still testing and debugging right now.

https://github.com/sunsetsystems/openemr/commits/lbf

A high level summary of the new features:

o Layout groups may be nested, i.e. each group can have sub-groups.
o Layouts and their groups have properties that may be edited in the layout editor. This applies to all layouts and depreca

[2017-09-05 17:14] sunsetsystems commented on #1065
Seems like a good idea. As best I know the perl utilities are not used any more.

[2017-09-05 21:08] stephenwaite commented on #1045
helping @sjpadgett will be testing the x12 837**I** after completing 837**P**

[2017-09-05 21:28] sjpadgett commented on #1045
Committed
https://github.com/openemr/openemr/commit/e387e222fd9bca41ce27c4b93f3d0e4418e751cf

[2017-09-06 06:32] bradymiller commented on #1067
extensive and nice! looking forward to the PR.

[2017-09-06 06:33] bradymiller commented on #1065
done. when the newer docker demo farm reset tonight, they'll be using images without the perl dependencies, so should get good testing.

[2017-09-06 06:33] #1065 closed

[2017-09-07 15:12] stephenwaite opened #1072 "user friendly Edit Clinical Reminders Assessment: Tobacco (Past Due) ?"
it would sure be nice if you could click on the (Past Due) ? (which in red looks like a previously clicked hyperlink) and it would take you to the edit mode of the History & Lifestyle section where you have to set up person's smoking status

[2017-09-07 15:13] stephenwaite commented on #1072
just in general, editing the demographics is clunky since when you forget to click edit and you navigate to a submenu you then click edit and have to navigate back - the too many click phenonmenon

[2017-09-08 15:37] aalmangour opened #1075 ""Related to" field in inventory is being ignored while adding in Fee Sheet"
My understanding is whenever I relate a drug with a code and add that code in fee sheet upon the end of the encounter, then the related drug should also show up in fee sheet, right? I tried these steps but nothing is showing up in fee sheet except the code itself without the related drug.

![image](https://user-images.githubusercontent.com/25371349/30219422-a610f692-94c4-11e7-90c7-f99664d88508.png

[2017-09-08 15:38] aalmangour commented on #1075
I even tried the other way around by adding a product in the fee sheet that has a related code, but also that didn’t show anything up in the fee sheet except the product alone.

[2017-09-10 17:31] bradymiller commented on #911
this project is done :)
closing

[2017-09-10 17:31] #911 closed

[2017-09-10 23:55] sunsetsystems commented on #1067
PR created. Prior to that there were some fixes and rebasing to one commit.

[2017-09-14 14:22] stephenwaite commented on #1041
subcategories of the quality reporting could include "advancing care information", https://qpp.cms.gov/mips/advancing-care-information, and "improvement activities", https://qpp.cms.gov/mips/improvement-activities

[2017-09-23 20:13] bradymiller commented on #650
The 5th patch for OpenEMR 5.0.0 has been released, which is a CRITICAL SECURITY patch:
http://www.open-emr.org/wiki/index.php/OpenEMR_Patches

The patch includes the following new security fix:
*Critical security fix - reported by Isaac Sears, fixed by Brady

[2017-09-24 05:51] priya-anand commented on #1011
Hi Sharon,

Not sure how I missed this message, if it is not too late, can you please send me the report? I got list of some XSS vulnerabilities (mainly stored XSS) and I would like to compare my vulnerability analysis with your report.

- Priya

[2017-09-25 10:45] bradymiller commented on #1067
This is now in codebase, so closing.

[2017-09-25 10:45] #1067 closed

[2017-09-26 14:50] willingtone commented on #465
i have such issue it stops at step 3 with

OpenEMR Setup

Step 3

Configuring OpenEMR...

Connecting to MySQL Server... OK.
Creating database... OK.
Creating user with permissions for database... OK.
Reconnecting as new user... OK.

[2017-09-26 16:09] irco opened #1097 "Want to contribute, website down?"
Hi!
I am a developer I'd love to contribute to this effort but the website is down http://www.open-emr.org/  so I cant even read how to start contributing or look at the documenttion.

looking forward to contribute!

[2017-09-26 18:02] bradymiller commented on #1097
hi @irco,

Weclome to the project!

The OpenEMR website and wiki are served from sourceforge which has been down for several hours. Can follow their status on their twitter page(usually when this happens, it is only several hours; but we do have a plan in place to temporarily serve the website somewhere else if this is a prolonged issue):
https://twitter.com/sfnet_ops

Note the forum is still goin

[2017-09-28 04:04] irco commented on #1097
Thank you Brady, I appreciate the info.

[2017-09-28 04:04] #1097 closed

[2017-09-29 09:00] bradymiller opened #1100 "Layout Based Forms 'Save' and 'Save and Continue' confusing"
hi @sunsetsystems ,

Seeing odd behavior here. If click 'Save', then it Saves and closes (the standard old way it used to happen).
The behavior of the 'Save and Continue' is really odd. If I click this then the form information is basically cleared and behind the scenes it appears all the information is then saved to a separate form. This is basically 'Save and Start a New Form'. Is this the behav

[2017-09-29 13:19] sunsetsystems commented on #1100
Hi Brady, it's supposed to do the same thing as Save but leave the form open. I'll look into it and see what's up. Thanks for testing and reporting this.

[2017-09-29 14:22] sunsetsystems commented on #1100
I have pushed a fix for this. It seems to be a case of cherry-pick gone awry.

[2017-09-29 14:22] #1100 closed

[2017-09-29 23:40] stephenwaite opened #1101 "insufficient data sent appears in log after successful login"
think there's something funny going on after pulling up the login page

core.css has `@import themebuilder.php` which requires globals.php which is somehow getting around this https://github.com/openemr/openemr/blob/master/interface/globals.php#L550-L563

[2017-09-30 01:23] bradymiller commented on #1100
thanks for the quick fix!
-brady

[2017-09-30 21:08] bradymiller opened #1103 "https issues"
Several issues have been noted on the demos which now use https. These are related to modern browser now blocking mixed content by default. Mixed content means are trying to make a http connection when using a https connection:
https://developer.mozilla.org/en-US/docs/Web/Security/Mixed_content

1. First issue reported by @ophthal was that am unable to change dates in the date calendar. The follow

[2017-09-30 21:30] sjpadgett commented on #1103
Works fine on my ssl plus I don't build out urls for dependencies (they are relative). Is your server set up for port 80 and port 443 on same domain host ie should either block port 80 or redirect port 80 to 443 if ssl? Browser is determining to complete the relative uri to the http url...

[2017-09-30 21:42] sjpadgett commented on #1103
@bradymiller Only place I may use a base path is in the REST rewrites but dependencies is usually a server config issue. This is a better way to put it maybe...

[2017-09-30 22:09] bradymiller commented on #1103
@sjpadgett ,
Server works on both 443 and 80 (I figured this would be good for unmasking mixed content bugs); not doing any redirection/forwarding. It's odd that this is only happening in a 2 places though (calendar script and the portal script).
-brady

[2017-09-30 22:13] sjpadgett commented on #1103
Okay, I'll look into both but I've been here before. We may have a
wayward(love that word) rewrite.

On Sat, Sep 30, 2017 at 6:09 PM, Brady Miller <notifications@github.com>
wrote:

--
Jerry Padgett
Padgett's Consulting
Brandon, Florida 33511
sjpadgett@gmail.com <sjpadgett@gmailo.com>

[2017-09-30 22:40] bradymiller commented on #1103
Looks like the calendar bug is coming from this function:
https://github.com/openemr/openemr/blob/master/interface/main/calendar/includes/pnAPI.php#L1111-L1136

[2017-09-30 22:44] bradymiller commented on #1103
Isn't it odd to need to code the path for http/https like the above calendar function does??

[2017-09-30 22:48] ophthal commented on #1103
Looks like it is there specifically for an IIS issue.

It may no longer be relevant?

Is anyone maintaining this postNuke stuff still?  If not we can just change it here, while looking for a replacement for Calendar…

[2017-09-30 22:51] sjpadgett commented on #1103
They are trying to ensure their rewrite agrees with the server and goes
back to the days when same host tried to serve both http and https. We
should not allow server config like thus. Http should have its own host
config for port 80 and redirect to separate host config'ed for port 443 ssl
unless you wish to allow a http host.

On Sat, Sep 30, 2017 at 6:44 PM, Brady Miller <notifications@github.co

[2017-09-30 23:01] bradymiller commented on #1103
It seems like it should not even be concerned with this though and just return the relative path, though. correct?

[2017-09-30 23:03] sjpadgett commented on #1103
The real issue is not fully showing and we will see more problems like this. Server var's are unreliable for this purpose. This needs to be addressed in server config. Most relative paths get built out based on server config.

[2017-09-30 23:11] sjpadgett commented on #1103
More succinctly, Either run OpenEMR as http on port 80 or https on port 443 but not both.

[2017-09-30 23:19] bradymiller commented on #1103
It's odd, though. I still see this bug even when changed up one of the demos to force https:
https://github.com/openemr/demo_farm_openemr/commit/6a05be1642faf7f62feff549b27734a77468ed4d

[2017-09-30 23:32] sjpadgett commented on #1103
Check the proxy still talking http

On Sat, Sep 30, 2017 at 7:20 PM, Brady Miller <notifications@github.com>
wrote:

--
Jerry Padgett
Padgett's Consulting
Brandon, Florida 33511
sjpadgett@gmail.com <sjpadgett@gmailo.com>

[2017-09-30 23:44] bradymiller commented on #1103
(I reverted it back after realized it didn't work)
Just set it back for the following demo:
http://seven.openemr.io/openemr
https://seven.openemr.io/openemr

nginx config is here:
https://github.com/openemr/demo_farm_openemr/blob/master/docker/nginx/nginx.conf#L281-L290

[2017-09-30 23:48] bradymiller commented on #1103
There is also the possibility here that I have not set up nginx setting right :)
https://github.com/openemr/demo_farm_openemr/blob/master/docker/nginx/nginx.conf#L281-L307

But it just seems odd that this is only happening in 2 places.

[2017-10-01 00:00] sjpadgett commented on #1103
Like I said, we will see more as more folks move to ssl and try to do so
simply by just turning on port 443. Also we may see issue with frameworks
or CCM. Any modules requiring rewrites etc. I tried to bring all this up
when I did the session cookies for Matrix security fix.

On Sat, Sep 30, 2017 at 7:48 PM, Brady Miller <notifications@github.com>
wrote:

--
Jerry Padgett
Padgett's Consulting
Bran

[2017-10-01 00:11] sjpadgett commented on #1103
I don't know nginx but looks like a proxy is used and so proxy_pass http://seven-openemr; should change to proxy_pass  https://seven-openemr; or turn on redirect to https

[2017-10-01 00:31] sjpadgett commented on #1103
Think I know why but hard to prove unless I recreate on apache which I think I can. Dashboard IS using server var for base path so server host var's are wrong. Like I say, unreliable. Looks like they are still set from the redirected http

[2017-10-01 00:34] bradymiller commented on #1103
In the standard demo setup (supporting both 80 and 443), zend works fine and your new portal works fine, though. Can try them out here (note the demo credentials for portal can be found in below wiki page):
http://www.open-emr.org/wiki/index.php/Development_Demo#With_demo_data

I am guessing the issue is because the openemr demo dockers (which are a lamp stack with openemr installed) do not get di

[2017-10-01 00:36] bradymiller commented on #1103
To help visual this better, here is the list of dockers running in the host with some details:
[code]

[2017-10-01 00:37] bradymiller commented on #1103
btw, disregard the bradymiller/php-ssh docker in above listing; this is not used by the openemr setup (is used to serve an administration website to help administer the demo farm).

[2017-10-01 01:41] sjpadgett commented on #1103
If I patch portal will you put up to see if I fix this and then I can explain what we need to look for...

[2017-10-01 02:08] sjpadgett commented on #1103
Okay put up PR that should fix dashboard. I planned for this eventuality everywhere except dashboard. Sorry Brady. Anyway I still say these are work around for server config issues because I went thru my server to address this in server configs awhile back. I think I can do a fix for calendar also so will try.

[2017-10-01 02:31] bradymiller commented on #1103
awesome! I'll connect your PR to an up for grabs demo when get home this evening. then we can test it (once have it connected to a demo, then can reset it quickly as add code to the pr)

[2017-10-01 03:32] MatthewVita commented on #1097
Hi @irco, please check out http://www.open-emr.org/wiki/index.php/Roadmaps#OpenEMR_Project_Roadmap :)

Welcome!

[2017-10-01 03:36] bradymiller commented on #1103
demo here:
http://www.open-emr.org/wiki/index.php/Development_Demo#Kappa_-_Up_For_Grabs_Demo

[2017-10-01 08:38] bradymiller opened #1105 "Adding calendar categories"
This function is broken in master branch (unable to add calendar categories). See here for more details:
https://community.open-emr.org/t/adding-calendar-categories/9076

bug reported by @juggernautsei

[2017-10-01 09:40] bradymiller commented on #1105
Main bug has been fixed and is in the codebase. Here's the commit with this issue along with several more potential issues:
https://github.com/openemr/openemr/commit/cefeee03632fef9f5a601cc610954a94ba81eddd

@matrix-amiel , check out my comments in above commit

thanks, -brady

[2017-10-01 20:13] bradymiller commented on #1103
Fix has been posted to codebase (thanks to @sjpadgett ):
Pertinent PR's and comments can be found here:
https://github.com/openemr/openemr/pull/1104
https://github.com/openemr/openemr/pull/1106

[2017-10-01 20:13] #1103 closed

[2017-10-02 09:41] #1105 closed

[2017-10-02 12:20] juggernautsei commented on #1105
thanks for such swift actions!

[2017-10-02 14:26] arnabnaha opened #1107 "SQL UPGRADE FAILS"
When I try to upgrade the database..I see this error on the upgrade screen -
Query Error

ERROR: query failed: INSERT INTO `layout_options` (`form_id`,`field_id`,`group_name`,`title`,`seq`,`data_type`,`uor`,`fld_length`, `max_length`,`list_id`,`titlecols`,`datacols`,`default_value`,`edit_options`,`description`,`fld_rows`) VALUES ('LBTptreq','body','1','Details',10,3,2,30,0,'',1,3,'','','Content',5

[2017-10-02 14:48] sunsetsystems commented on #1107
Hi Arnab, what versions are you upgrading from and to?

[2017-10-02 20:16] arnabnaha commented on #1107
Hi Rod, actually I am using the 5.0.1 dev version. I downloaded the recent dev tip and tried upgrading my database from 4.2.0 (though I am using 5.0.1) and this error message showed up. I have done these before but such kind of error message was not shown before

[2017-10-02 20:54] sunsetsystems commented on #1107
Yeah OK, telling it you are upgrading from 4.2.0 when you are really on 5.0.1 will do that. In 5.0.1 the group_name column is removed from the layout_options table.

[2017-10-03 16:43] arnabnaha commented on #1107
thanks Rod. So its not a issue..It was my fault going back to 4.2.0. Did the upgrade puling it from 5.0.0 and all worked fine

[2017-10-05 01:43] MatthewVita opened #1111 "Roadmap Project Work (Matthew)"
This is a issue to account for the work for organizing and defining the roadmap projects into github projects with detailed issues. Joyce and Matthew are splitting the work in half. This is the half that will be taken care of in this issue:

• Affordable Medical Devices Connectivity
• Units Support
• Team Tasks Management
• Advanced Billing
• Fast Healthcare Interoperability Resources (FHIR) Integ

[2017-10-05 01:45] MatthewVita opened #1112 "Roadmap Project Work (Joyce)"
This is a issue to account for the work for organizing and defining the roadmap projects into github projects with detailed issues. Joyce and Matthew are splitting the work in half. This is the half that will be taken care of in this issue:

• Clinical Intelligence Dashboards
• Intelligent Chart Summarization
• Normalized Code Directory Structure
• Separation of Business Logic Code
• Module Framew

[2017-10-05 17:14] bradymiller opened #1113 "Support mysql connection encryption"
Looks like just need to work this into the code to support this option:
http://php.net/manual/en/mysqli.ssl-set.php

[2017-10-05 17:14] bradymiller opened #1114 "Support couchdb connection encryption"
Need to research this.

[2017-10-05 17:36] bradymiller commented on #1114
See this related issue:
https://github.com/openemr/openemr/issues/1113

[2017-10-05 17:38] bradymiller commented on #1113
Plan to store the public certs in sites/*/documents/certificates/mysql/ and sites/*/documents/certificates/couchdb/

[2017-10-05 17:42] bradymiller commented on #1113
for example, default will be(cert if main cert and ca is certificate authority cert):
sites/default/documents/certificates/mysql/cert
sites/default/documents/certificates/mysql/ca
sites/default/documents/certificates/couchdb/cert
sites/default/documents/certificates/couchdb/ca

And if these certificates exists, then will use encryption.

[2017-10-05 17:47] bradymiller commented on #1114
some helpful info:
https://github.com/dready92/PHP-on-Couch/issues/56

[2017-10-05 17:53] jesdynf commented on #1113
I don't think you'll need the CA? The CA is used for web-of-trust situations, but in these cases, we're specifically supplying the individual certificate required -- we don't need a CA to weigh in to know if a remote server is using a given cert, we only need a CA to help us decide *if* we will trust a supplied cert.

[2017-10-05 17:54] bradymiller commented on #1113
ok, will then be the following instead:
sites/default/documents/certificates/mysql-cert
sites/default/documents/certificates/couchdb-cert

[2017-10-05 22:59] bradymiller commented on #1113
Still researching this. We may not even need client side certificates for mysql/couchdb .

[2017-10-07 05:16] bradymiller commented on #842
An example of a common issue when upgrading to modern version of jquery:
https://github.com/openemr/openemr/commit/35b2d50854b30d0aed6cbaee27bb4eabc6fd39c2

[2017-10-08 22:59] stephenwaite opened #1117 "patient find by relocating to new/search"

[2017-10-08 23:17] bradymiller commented on #1117
Is this broken or missing?

[2017-10-09 02:06] sunsetsystems commented on #1117
Stephen can you be more specific? What action is broken?

[2017-10-09 02:07] stephenwaite commented on #1117
think it's broken because it was never converted to tabs?

[2017-10-09 13:27] stephenwaite commented on #1117
hi @bradymiller , saw your post on the forum, you're right it's missing too :)

so i followed your advice and you can see how i'm trying to add it on this pr https://github.com/openemr/openemr/pull/1118

[2017-10-09 15:17] arnabnaha commented on #1107
I guess this issue can be closed...

[2017-10-09 15:17] #1107 closed

[2017-10-09 15:20] stephenwaite commented on #1117
that sounds great, thanks, going to close this issue and abandon my fix because it's not testing well

[2017-10-10 14:08] stephenwaite commented on #1117
the forum user tried the dynamic finder but replied that the Find by Any is much more handy so i'll try to follow your advice and a search field by the search button

[2017-10-18 12:46] stephenwaite opened #1133 "Select All in Billing Manager broken on dev tip"
hi @sjpadgett , helping @bradymiller with php7.1 warnings/errors at http://www.open-emr.org/wiki/index.php/Development_Demo#Alternate_Demo_.28Ubuntu_17.10_-_uses_php_7.1.29

and found the aforementioned, it selects the claims for a second and then they're cleared

also verified the bug at https://one.openemr.io/a/openemr/index.php

[2017-10-18 12:49] sjpadgett commented on #1133
Okay, will look.

[2017-10-18 13:48] sjpadgett commented on #1133
@stephenwaite Okay I don't know if I changed select all to a button or another but it is submitting the form on select(buttons inside a form will auto submit regardless if type=submit where an input type button won't). So do you want me to submit a fix now or wait for your adventure into billing to conclude?

[2017-10-18 23:20] sjpadgett commented on #1133
see PR https://github.com/openemr/openemr/pull/1134

[2017-10-19 13:04] stephenwaite commented on #1133
now it works! nicely done @sjpadgett , thanks for the explanation and thanks for bringing it in @bradymiller

[2017-10-19 13:04] #1133 closed

[2017-10-20 17:39] arnabnaha opened #1141 "GIT Issue - Cant update my openemr"
Hi..
I will be really thankful if this anybody can help me solve this issue. Whenever I am trying to push changes to my local and remote origin directory..it shows me bad file number 22 error. I have attached the pic below. Kindly see. I am on windows 10.
![git error](https://user-images.githubusercontent.com/1074948/31834479-b75b0134-b5eb-11e7-8a8c-f41400f70b51.png)

[2017-10-21 00:46] sunsetsystems opened #1142 "Thoughts on Tabs?"
We have what I presume is some home-grown tabs code with the tabbify() function in library/js/common.js. It's not very capable, for example doesn't support dynamic adding and removing of tabs.

The Tabs layout is based on Knockout JS, not my cup of tea.

I noticed the [jQuery UI Tabs widget](https://jqueryui.com/tabs/). That looks pretty good. Anyone have experience with it? Other ideas?

My immed

[2017-10-21 03:59] bradymiller commented on #1142
Would be nice to stick with bootstrap, if possible. Thoughts @robertdown ?

[2017-10-21 07:23] bradymiller commented on #1141
what does your section for upstream repo look like in your .git/config file ?

[2017-10-21 12:48] arnabnaha commented on #1141
Hi Brady
In my .gitconfig file, I can only find my name and email

[2017-10-21 12:49] arnabnaha commented on #1141
sorry brady my Bad...I looked at the wrong file

here what it looks like -

[core]
	repositoryformatversion = 0
	filemode = false
	bare = false
	logallrefupdates = true
	symlinks = false
	ignorecase = true
	hideDotFiles = dotGitOnly
[remote "origin"]
	fetch = +refs/heads/*:refs/remotes/origin/*
	url = git@github.com:arnabnaha/openemr.git
[branch "master"]
	remote = origin
	merge = refs/heads/maste

[2017-10-21 14:59] sunsetsystems commented on #1142
Not seeing examples of dynamic add/removal of tabs with bootstrap. Perhaps there's a widget somewhere for that. Another nice feature of jQuery UI is you can drag the tabs to re-order them. Mainly looking for a polished component to avoid re-inventing wheels.

I'm good with adding a 3rd solution for tabs if there is some consensus that is the preferred one, so eventually we'd migrate to it.

[2017-10-22 03:08] MatthewVita commented on #1142
Don't believe I have see anything as interactive in Bootstrap, though I am not familiar with the latest version. jQuery UI supports this but it's not as stylish :)

[2017-10-22 05:55] matrix-amiel commented on #1142
I didn't work with this but maybe it can help.. style of Bootstrap for Jquery UI.
http://jquery-ui-bootstrap.github.io/jquery-ui-bootstrap/index.html

[2017-10-22 06:02] MatthewVita commented on #1142
Ah, looks like it's not actively maintained :(

[2017-10-22 08:34] bradymiller commented on #1141
@arnabnaha ,
Try this:
git remote set-url origin https://github.com/arnabnaha/openemr.git

[2017-10-22 08:35] bradymiller commented on #1141
if doesn't work, then can revert it back by:
git remote set-url origin git@github.com:arnabnaha/openemr.git

[2017-10-22 17:31] sunsetsystems commented on #1142
Might put it in a wrapper if the choices are all flawed. Making it easier to replace later.

[2017-10-22 22:24] bradymiller commented on #1142
Sounds like a good plan.

[2017-10-23 06:32] mdsupport commented on #1142
@sunsetsystems You can use [this](http://www.jqueryscript.net/demo/jQuery-Plugin-For-Dynamic-Bootstrap-Tabs-Component/) as a reference if _draggable_ is important.  Otherwise try [this](http://jsfiddle.net/happysmiles/F33Av/22/) fiddle.

For encounters have you explored collapsible sidebar that could retain continuous layout that is easy to read yet with ability to jump to a specific section?

[2017-10-23 14:44] arnabnaha commented on #1141
Thanks Brady
The https worked. All set. I am closing this issue.

[2017-10-23 14:44] #1141 closed

[2017-10-23 15:00] sunsetsystems commented on #1142
Thanks @mdsupport . I was hoping for a component that's actively maintained. Continuous layout is interesting but I think users will do better with clear separation between forms.

[2017-10-24 10:05] bradymiller commented on #499
Example of date internationalization:
https://github.com/openemr/openemr/pull/1128/commits/f71a00d188fb6d711a0d53c9ca34fabfd80c6b2a

[2017-10-25 03:30] sjpadgett commented on #854
Here is PR
https://github.com/openemr/openemr/pull/1150

[2017-10-25 11:38] stephenwaite commented on #854
thanks @sjpadgett

[2017-10-25 11:38] #854 closed

[2017-10-26 01:30] bradymiller opened #1153 "php 7.1 error in globals"
Testing on following PHP 7.1 demo:
http://www.open-emr.org/wiki/index.php/Development_Demo#Alternate_Demo_.28Alpine_3.6_-_uses_php_7.1.29

When click Save in Globals gui, get white screen of death and following php error:
PHP Fatal error:  Uncaught Error: Call to undefined function socket_create() in /var/www/localhost/htdocs/openemr/ccdaservice/ssmanager.php:99

[2017-10-26 20:58] bradymiller commented on #284
hi @ophthal ,
Are you still seeing this error message frequently in the most recent codebase?
thanks, -brady

[2017-10-26 21:02] bradymiller commented on #387
Closing this issue since has become inactive.
@rajukiran , if still have questions/issues, then feel free to re-open this issue.
thanks -brady

[2017-10-26 21:02] #387 closed

[2017-10-26 21:03] bradymiller commented on #410
Most recent PR for this is here:
https://github.com/openemr/openemr/pull/720

[2017-10-26 21:33] ophthal commented on #283
Yes

[2017-10-26 21:37] ophthal commented on #284
When appropriate, yes. I realize it is not an error but it is truly annoying. It’s like a stick 404 page when it could be so much more...  The answer I understood was we can’t change it because of mult-site iinstallations. I would think if you analyze the url calling it, there should be an easy way to show the correct site login splash page?

[2017-10-26 21:37] bradymiller commented on #283
thanks. added it to 5.0.1 milestone to ensure this gets addressed before 5.0.1 release.

[2017-10-26 21:39] bradymiller commented on #685
@stephenwaite ,
Just checking if this issue was addressed (I think it was, but don't clearly recall).
thanks, -brady

[2017-10-26 21:40] bradymiller commented on #713
hi @arnabnaha ,
Are you still having this issue in most recent codebase?
thanks, -brady

[2017-10-26 21:42] bradymiller commented on #713
@arnabnaha ,
Disregard my prior post. I realized this is from code/feature that we reverted from the codebase.

[2017-10-26 21:59] stephenwaite commented on #685
hmm, think it wasn't :(

[2017-10-27 17:57] bradymiller opened #1158 "php 7.1 error in Eye Form"
Used the following demo to test this:
http://www.open-emr.org/wiki/index.php/Development_Demo#Alternate_Demo_.28Alpine_3.6_-_uses_php_7.1.29

When trying to open the Eye Form, get a white screen of death with following output in error log:
[code]

[2017-10-27 18:02] bradymiller opened #1159 "Eye Form - font size too big"
Tested on following demo:
http://www.open-emr.org/wiki/index.php/Development_Demo#Alternate_Demo_.28Alpine_3.5.29

The font size is too big in the Eye Form, which makes everything look funny.

[2017-10-27 18:07] bradymiller opened #1160 "php 7.0 warnings in Eye Form"
tested on following demo:
http://www.open-emr.org/wiki/index.php/Development_Demo#Alternate_Demo_.28Alpine_3.5.29

Noted the following php warnings in php 7.0 when open the Eye Form:
[code]

[2017-10-27 18:34] bradymiller opened #1161 "Eye Form - javascript error"
tested in following demo:
http://www.open-emr.org/wiki/index.php/Development_Demo#Alternate_Demo_.28Alpine_3.5.29

Getting a javascript error when open the Eye Form. I think this is my fault since I incremented 1 of the jquery versions in this form (from following https://github.com/openemr/openemr/issues/842 : "it appears the eye module may have bug from the jquery-min-1-11-1 to jquery-min-1-11-3

[2017-10-27 18:40] bradymiller commented on #1153
On a related note, the User Settings page save is working fine.

[2017-10-27 18:48] bradymiller opened #1162 "php 7.1 deprecated warnings in Zend Module code"
Tested on following demo:
http://www.open-emr.org/wiki/index.php/Development_Demo#Alternate_Demo_.28Alpine_3.6_-_uses_php_7.1.29

If go to Modules->Manage Modules and register/install/enable all the modules get the following deprecated php warnings in php error log(note that there is no critical errors here, but deprecated means these will be critical errors in a future php version):
[code]

[2017-10-27 18:53] bradymiller opened #1163 "PHP 7.1 error in Care Coordination Module"
Tested on following demo:
http://www.open-emr.org/wiki/index.php/Development_Demo#Alternate_Demo_.28Alpine_3.6_-_uses_php_7.1.29

If go to Modules->Carecoordination (after install them in Modules->Manage Modules, set admin acl in Care Coordination module settings, and then logout/login), get white screen of deathwith following error in php error log:
[code]

[2017-10-27 21:26] bradymiller opened #1164 "PHP 7.1 warnings in reports"
Noted on following demo: http://www.open-emr.org/wiki/index.php/Development_Demo#Alternate_Demo_.28Alpine_3.6_-_uses_php_7.1.29

[code]

[2017-10-27 22:13] bradymiller opened #1165 "PHP 7.1 warning in Administration->Codes"
Tested in following demo: http://www.open-emr.org/wiki/index.php/Development_Demo#Alternate_Demo_.28Alpine_3.6_-_uses_php_7.1.29

[code]

[2017-10-27 22:18] bradymiller opened #1166 "PHP 7.1 warnings in Administration->ACL"
Tested in following demo: http://www.open-emr.org/wiki/index.php/Development_Demo#Alternate_Demo_.28Alpine_3.6_-_uses_php_7.1.29

[code]

[2017-10-28 09:49] bradymiller commented on #1153
Turns out this is not specific to php 7.1, but is an error on the Alpine OS (guessing is related to a missing dependency).

[2017-10-28 09:57] bradymiller commented on #1153
Think just need to add php7-sockets to the alpine docker and will be good. trying it now.

[2017-10-28 10:37] bradymiller commented on #1153
that worked. fixed and closing this issue.

[2017-10-28 10:37] #1153 closed

[2017-10-30 12:05] sunsetsystems commented on #1142
Wrapper class is in progress. It has some interesting aspects. Initially doing this with the client's older version of openemr, and will port it to current code when stable.

[2017-10-30 17:15] bradymiller opened #1174 "PHP 7.0 warning in Administration->Globals (when Save)"
Tested on following demo: http://www.open-emr.org/wiki/index.php/Development_Demo#Alternate_Demo_.28Alpine_3.5.29

See following php warning when save in adminsitration->globals
[code]

[2017-10-30 18:31] bradymiller opened #1175 "PHP 7.1 warnings in Administration->Rules"
Tested on following demo: http://www.open-emr.org/wiki/index.php/Development_Demo#Alternate_Demo_.28Alpine_3.6_-_uses_php_7.1.29

Getting bunch of php warnings in this module as click through the screens to modify plans and add/edit rules.

[code]

[2017-10-30 18:44] bradymiller opened #1176 "PHP 7.1 error in Administration->Other->Calendar->Category Limits"
Tested on following demo: http://www.open-emr.org/wiki/index.php/Development_Demo#Alternate_Demo_.28Alpine_3.6_-_uses_php_7.1.29

Getting white screen of death at 'Administration->Other->Calendar->Category Limits' with following php error(note there is no error/warning on php 7.0):
[code]

[2017-10-30 18:47] bradymiller opened #1177 "PHP 7.1 error in Administration->Other->Calendar->Categories"
Tested on following demo: http://www.open-emr.org/wiki/index.php/Development_Demo#Alternate_Demo_.28Alpine_3.6_-_uses_php_7.1.29

Getting white screen of death at 'Administration->Other->Calendar->Categories' with following php error:
[code]

[2017-10-30 18:57] bradymiller opened #1178 "PHP 7.1 warning at Procedures->Configuration"
Used following demo: http://www.open-emr.org/wiki/index.php/Development_Demo#Alternate_Demo_.28Alpine_3.6_-_uses_php_7.1.29

See the following php warning when go to 'Procedures->Configuration':
[code]

[2017-10-30 19:01] bradymiller opened #1179 "PHP 7.1 warning at Procedures->Batch Results"
tested on following demo: http://www.open-emr.org/wiki/index.php/Development_Demo#Alternate_Demo_.28Alpine_3.6_-_uses_php_7.1.29

Following php warning noted when go to 'Procedures->Batch Results':
[code]

[2017-10-30 19:06] bradymiller opened #1180 "PHP 7.1 warnings at Fees->Batch Payments"
Tested on following demo: http://www.open-emr.org/wiki/index.php/Development_Demo#Alternate_Demo_.28Alpine_3.6_-_uses_php_7.1.29

Noted following php warnings when go to 'Fees->Batch Payments' and click on the tabs:
[code]

[2017-10-30 19:17] bradymiller opened #1181 "PHP 7.1 warning at patient-summary->Reports->Download PDF"
Tested on following demo: http://www.open-emr.org/wiki/index.php/Development_Demo#Alternate_Demo_.28Alpine_3.6_-_uses_php_7.1.29

Following php warning noted when 'PHP 7.1 warning at patient-summary->Reports->Check All->Download PDF'
[code]

[2017-10-30 19:26] bradymiller opened #1182 "PHP 7.1 warning at patient-summary->External Data"
Tested on following demo: http://www.open-emr.org/wiki/index.php/Development_Demo#Alternate_Demo_.28Alpine_3.6_-_uses_php_7.1.29

See following php warning when go to 'patient-summary->External Data':
[code]

[2017-10-30 19:31] bradymiller opened #1183 "Bug at patient-summary->Disclosures->Edit->Record"
Tested in multiple development demos. Using Google Chrome (do not have access to Firefox at this time).

At 'patient-summary->Disclosures->Edit->Record' missing field for 'Description of the Disclosure' and unable to Save.

[2017-10-30 20:01] bradymiller opened #1184 "Bad Bug at patient-encounter->Administrative->New Encounter Form"
Tested on following demo: http://www.open-emr.org/wiki/index.php/Development_Demo#Alternate_Demo_.28Alpine_3.6_-_uses_php_7.1.29

If go to 'patient-encounter->Administrative->New Encounter Form', it breaks openemr (the entire window gets overrided by the new encounter form).

[2017-10-30 20:20] sunsetsystems commented on #1184
I think this would be fixed by changing line 372 of interface/patient_file/encounter/forms.php from:

`parent.location.href = sel;`

to:

`location.href = sel;`

... sorry can't test this right now.

[2017-10-30 20:42] bradymiller opened #1185 "PHP 7.1 warnings for several forms"
Tested on following demo: http://www.open-emr.org/wiki/index.php/Development_Demo#Alternate_Demo_.28Alpine_3.6_-_uses_php_7.1.29

At patient-encounter->Clinical, get the following warnings when open the following forms respectively:
Care Plan
Clinical Instructions
Functional and Cognitive Status
Observation
[code]

At patient-encounter->Administrative, get the following warnings when open the foll

[2017-10-30 20:49] bradymiller commented on #1142
Looking forward to seeing the code. -brady

[2017-10-31 08:22] bradymiller commented on #1184
Thanks @sunsetsystems for pointing me to the right spot. Fix is here and is working well:
https://github.com/openemr/openemr/pull/1187

[2017-10-31 08:26] bradymiller commented on #1184
Brought fix into codebase. whoohooo, just 50 or so more issues to go until release version 5.0.1!! :)

[2017-10-31 08:26] #1184 closed

[2017-11-01 06:33] eshiet opened #1188 "Patient Portal (Medication List) Issue"
If one logs into the demo patient portal at https://demo.openemr.io/openemr/patients
In the Medication List section one would see that there is no start date and end date with referrer recorded.

![screenshot from 2017-11-01 07 07 34](https://user-images.githubusercontent.com/13769435/32262182-851cabb4-bed3-11e7-83da-d494486eed3e.png)

[2017-11-01 09:02] bradymiller commented on #1177
Have proposed fix here:
https://github.com/openemr/openemr/pull/1190

This is an odd one to test since it does not even throw a warning in PHP 7.0 , but is at least not causing any issues in 7.0. Will likely just commit it and see how it works on the Development PHP 7.1 demos.
If this works, then will do the same type of fix for issue at https://github.com/openemr/openemr/issues/1176

[2017-11-01 17:55] bradymiller opened #1191 "Bug in css theme ordering"
Currently, the custom theme is being imported before the bootstrap theme. It should actually be the opposite order. Plan to submit a PR soon to start testing this fix.

[2017-11-02 03:08] bradymiller commented on #1177
fixed

[2017-11-02 03:08] #1177 closed

[2017-11-02 03:09] bradymiller commented on #1176
Fix with the same strategy from here: https://github.com/openemr/openemr/issues/1177

[2017-11-02 06:46] bradymiller commented on #1176
fixed

[2017-11-02 06:46] #1176 closed

[2017-11-02 16:30] bradymiller commented on #1191
https://github.com/openemr/openemr/pull/1193

[2017-11-03 06:21] bradymiller commented on #1163
fixed and submitted

[2017-11-03 06:21] #1163 closed

[2017-11-03 06:25] bradymiller opened #1196 "PHP 7.0 error in Care Coordination Module"
Used following demo:
PHP 7.0 error in Care Coordination Module

In Modules (after install the modules and logout)->Carecoordination, See following php errors with white screen death at Import->CCD and Import_CCR:
[code]

[2017-11-04 05:07] bradymiller commented on #1191
completed :)

[2017-11-04 05:07] #1191 closed

[2017-11-04 17:32] bradymiller commented on #488
Going to close this since are creating separate issued for PHP 7.1 problems.

[2017-11-04 17:32] #488 closed

[2017-11-04 19:29] bradymiller commented on #1183
fixed

[2017-11-04 19:29] #1183 closed

[2017-11-07 00:55] robertdown commented on #1142
Bootstrap handles the styling of various components. If we wanted to use if for the tab interface we'd have to do some heavy lifting (But this will be true no matter the framework).

Kevin wrote the tabs in KnockoutJS but it's not very pretty and think we should move to AngularJS for our frontend stuff. I know @MatthewVita will say use React, but Angular is a framework, which is more comprehensive

[2017-11-07 00:58] robertdown commented on #842
This is why we should start separating from jQuery as a whole and move to a better, more modern JS framework. Yes, this is a shameless plug for Angular

[2017-11-07 01:09] sunsetsystems commented on #1142
I've already made and tested the wrapper class for jQuery UI Tabs. So we'll have a lot of flexibility. Am partial to modules over frameworks for that reason.

[2017-11-08 03:40] robertdown commented on #1142
So we now have 2 types of tabs? Bootstrap and jQuery UI?

[2017-11-08 04:22] sunsetsystems commented on #1142
Three, as previously noted (I think you mean Knockout rather than Bootstrap?). My work is a vote for one, with the wrapper approach allowing moving forward without having to commit yet. I'll put up a PR after we've done a bit more testing and I can take a break to port it to current dev code.

For what it's worth, having some experience with jQuery UI Tabs now, I'm not very impressed with it eithe

[2017-11-08 06:53] bradymiller commented on #680
Working on this here:
https://github.com/openemr/openemr/pull/1204

[2017-11-08 07:49] bradymiller commented on #680
fixed

[2017-11-08 07:49] #680 closed

[2017-11-09 08:21] bradymiller commented on #1174
Looked into this and it is likely that will not be able to remove this warning. This is happening since it always tries to connect to the socket and shutdown the ccda service if it is turned off in globals, and does not impact OpenEMR. So, going to close this issue.

[2017-11-09 08:21] #1174 closed

[2017-11-10 19:41] sjpadgett commented on #1196
@bradymiller Have you looked at this any? I don't see an easy fix for this and am skeptical this ever worked correctly. Most all the methods being called are called as static. Some cases the offending method's class is not imported and/or instantiate. Even if a class get instantiated, I'm not sure the service layer is init'ed. ( I'm talking about methods being called from another class). May be ab

[2017-11-10 19:52] bradymiller commented on #1196
@sjpadgett ,
Yep, took a quick look and was really odd that those offending functions are using a $this-> on a static call to to the class(This worked on php 5.6, so guessing there is a way to quickly band-aid fix this). Didn't delve into it further than that though.
-brady

[2017-11-11 06:19] bradymiller commented on #650
The 6th patch for OpenEMR 5.0.0 has been released, which is a CRITICAL SECURITY patch:
http://www.open-emr.org/wiki/index.php/OpenEMR_Patches

The patch includes the following new fixes:
*Critical security fix - reported by Sven Krewitt, fixed by Brady
*Fix backup module - fixed by Brady

[2017-11-12 13:05] sjpadgett commented on #1196
@bradymiller Don't think a quick work around is going to solve this issue without some re-write. Might want to check with Z.H to see if they have a solution or what their plans are in their version.

[2017-11-12 16:15] sjpadgett commented on #1161
@bradymiller The bigger issue here is that it broke completely in PHP7.1. Want to leave for author or want me to take a whack?

[2017-11-12 19:46] sjpadgett commented on #1158
@bradymiller I don't see this error after issue #1215 fix also I use PHP Version 7.1.7RC1. Looks like now you must define array depth but just how far I don't know.

[2017-11-13 06:23] bradymiller commented on #1185
Fixed by @sjpadgett !

[2017-11-13 06:23] #1185 closed

[2017-11-13 06:37] bradymiller commented on #1158
Also confirmed that this error has resolved with your fixes on the PHP 7.1 demo:
http://www.open-emr.org/wiki/index.php/Development_Demo#Alternate_Demo_.28Alpine_3.6_-_uses_php_7.1.29

[2017-11-13 06:38] bradymiller commented on #1158
fixed by @sjpadgett

[2017-11-13 06:38] #1158 closed

[2017-11-13 06:39] bradymiller commented on #1161
Confirmed above fix.
Fixed by @sjpadgett

[2017-11-13 06:39] #1161 closed

[2017-11-13 06:40] bradymiller commented on #842
Issue by eye form was fixed here: https://github.com/openemr/openemr/issues/1161
(Note it required used of jquery-min-1-10-2 and will break if go higher until fix the underlying issues in the code)

[2017-11-13 06:44] bradymiller commented on #1161
@ophthal ,
Just letting you know of the following fix on your eye form by @sjpadgett :
https://github.com/openemr/openemr/pull/1215
(fixes both a jquery issue and also a php7.1 errors)

[2017-11-13 12:10] sjpadgett commented on #1196
@bradymiller I'm going to open a working PR for this issue. I think I have it figured out except for a service set not persisting, so maybe you or others in more of the know on zend can help out.

[2017-11-13 17:12] bradymiller commented on #1196
oops, I thought you wanted that last PR in codebase before getting underway. I must of woken up a bit trigger happy. If needed, I can revert that commit and you can submit the PR again. Just let me know.

[2017-11-13 19:24] sjpadgett commented on #1196
Nope, that's what I wanted.

[2017-11-14 02:48] sjpadgett commented on #1196
@bradymiller I understand now why this works with PHP5 and not PHP7 and how a simple work around does not seem likely. Most all this app is written using static calls to previously instantiated classes from module or application init's. Because the calls are static, $this is still in context . So now with PHP7 forcing context on the call to other class resources, those classes will need to be inst

[2017-11-14 11:18] bradymiller commented on #1196
Interested in getting @MatthewVita 's take on this (i.e. modern class guru).
I'll also send an email to Jacob at ZH to see if they can either provide input or even fix this.

[2017-11-14 11:28] sjpadgett commented on #1196
That'd be great, thanks.

On Tue, Nov 14, 2017 at 6:18 AM, Brady Miller <notifications@github.com>
wrote:

--
Jerry Padgett
Padgett's Consulting
Brandon, Florida 33511
sjpadgett@gmail.com <sjpadgett@gmailo.com>

[2017-11-14 13:07] sjpadgett commented on #1181
@bradymiller This is a warning against PHP's own flag GLOB_BRACE. Don't want to cast or not use constant flag, so need to leave this one be. Hey, I didn't invent PHP, just use it!

[2017-11-15 05:54] bradymiller commented on #1164
confirmed fix by @sjpadgett

[2017-11-15 05:55] #1164 closed

[2017-11-15 05:55] bradymiller commented on #1165
confirmed fix by @sjpadgett

[2017-11-15 05:55] #1165 closed

[2017-11-15 05:57] bradymiller commented on #1178
confirmed fix by @sjpadgett

[2017-11-15 05:57] #1178 closed

[2017-11-15 06:27] bradymiller commented on #1179
confirmed fix by @sjpadgett

[2017-11-15 06:27] #1179 closed

[2017-11-15 06:29] bradymiller commented on #1180
confirmed fix by @sjpadgett

[2017-11-15 06:29] #1180 closed

[2017-11-15 06:30] bradymiller commented on #1182
confirmed fix by @sjpadgett

[2017-11-15 06:30] #1182 closed

[2017-11-15 19:18] scorpions786 opened #1224 "Insurance services percentage discount"
If I added some information about insurance under patient insurance information
for example
for deductible you'll have to pay  10$ for each visit only the rest is on the insurance
and for service category you'll have discount
20% for service category A
10% for service category  B

and I have that information

where would be the best place to put that amount to be added to the bill "fee sheet"

the

[2017-11-17 08:58] bradymiller opened #1233 "Eye Form - Print as PDF not working"
In Eye form, when do File->Print as PDF, it is not working. Nothing happens and get following error in the php error log:
[code]

[2017-11-17 10:02] sjpadgett commented on #1233
If okay with author, I'll fix this and maybe convert pdf to mPDF.

[2017-11-17 10:07] bradymiller commented on #1233
I am pretty sure Ray ( @ophthal ) would be happy to get the help on this.

[2017-11-17 18:57] ophthal commented on #1233
https://github.com/ophthal/openEMR_2/commit/d3ad26d64a0fdb69cfc8b4bbf9ec761f052822d6

There is a fix in the last commit in my repo Reminders_6.27.17-rebase-4 which is running at https://two.openemr.io/openemr/.   Two small tweaks.  Will test it to be sure when the demo recycles tomorrow.

[2017-11-17 18:59] ophthal commented on #1233
@sjpadgett feel free to convert it to mPDF if that makes a difference to the project.  Consistency is a good thing.

[2017-11-17 19:44] sjpadgett commented on #1233
@ophthal Still an issue at L826
`<?php
                    if (($PUPIL_NORMAL =='1')&&(!$ODPUPILSIZE1||!$OSPUPILSIZE1)) { ?>
                      <b class="underline"><?php echo xlt('Pupils'); ?></b>&nbsp;&nbsp;
<b class="underline"><?php echo xlt('Pupils'); ?></b>&nbsp;&nbsp;
                        <?php echo xlt('Round and Reactive')."<br />";
                    }`
I have this fixed and teste

[2017-11-17 19:48] ophthal commented on #1233
Jerry, I am nearly as old as you are...  Whatever has the fewest steps and is the easiest for Brady works for me.  I assume Brady would like the PR...  Thanks Jerry.

[2017-11-17 19:57] sjpadgett commented on #1233
Sooo, age before beauty, you say! Will put up PR with a few style issues I've spotted. Also, mPDF will spit out the pdf enforcing the inline and stylesheet css where HTML2PDF tends to miss more styles such as inline font sizes so, the pdf will look different than current.

[2017-11-19 08:49] bradymiller commented on #1233
fixed by @sjpadgett

[2017-11-19 08:49] #1233 closed

[2017-11-19 08:50] bradymiller commented on #1233
@ophthal ,
Fix is here: https://github.com/openemr/openemr/pull/1238
(note the font size issues were also fixed and a bug in the category name when saving the note as a pdf)

[2017-11-19 08:51] bradymiller commented on #1159
fixed by @sjpadgett

[2017-11-19 08:51] #1159 closed

[2017-11-20 06:39] A1Gard opened #1242 "What is the form_id ??"
Hi dear developers

I try to understand what is `form_id` in the `forms` table, bot result is noting :-|

`form_id` is a key of this table but I can't found any rule to assign this.

Any one can help me?

[2017-11-20 19:11] stephenwaite commented on #1242
form_id auto increments from the sequences table and is used to reference the id of a child form like vitals

[2017-11-20 19:15] stephenwaite opened #1244 "postcalendar date widget lacking features"
please see https://community.open-emr.org/t/calendar-how-to-jump-backward-and-forward-in-year/9321

[2017-11-20 21:52] stephenwaite opened #1245 "Icd9, icd10 not modifiable in oemr5"
reported through [forum post](https://community.open-emr.org/t/icd9-icd10-not-modifiable-in-oemr5/9323?u=stephenwaite)

[2017-11-21 09:00] bradymiller commented on #1245
This was fixed in the development codebase (see above forum post) and is scheduled to get into the next 5.0.0 patch.

[2017-11-21 09:00] #1245 closed

[2017-11-21 12:02] bradymiller commented on #1181
@sjpadgett ,
It looks like Alpine OS may not support GLOB_BRACE flag; still researching this. Looks like this is used in 2 placed in the codebase. If this really isn't supported in Alpine OS, then we'll likely need to change the code to not use that flag.

[2017-11-21 12:05] bradymiller commented on #1181
Some useful background material on this here:
https://github.com/opencart/opencart/issues/4897

[2017-11-21 12:52] sjpadgett commented on #1181
No problem, I'll take care of it.

On Tue, Nov 21, 2017 at 7:05 AM, Brady Miller <notifications@github.com>
wrote:

--
Jerry Padgett
Padgett's Consulting
Brandon, Florida 33511
sjpadgett@gmail.com <sjpadgett@gmailo.com>

[2017-11-21 16:21] stephenwaite commented on #1242
glad that helped, feel free to follow up when it's convenient or close the issue before grimreaper @bradymiller comes calling :)

[2017-11-21 18:06] bradymiller commented on #1181
Fix has been confirmed. Fixed by @sjpadgett .

[2017-11-21 18:06] #1181 closed

[2017-11-22 00:45] bradymiller commented on #1242
:)

![kvbg5_s-200x150](https://user-images.githubusercontent.com/278968/33104135-6f1bb946-cedb-11e7-828e-aaa5234861b6.gif)

[2017-11-22 00:51] bradymiller commented on #1166
fixes

[2017-11-22 00:51] #1166 closed

[2017-11-22 04:38] A1Gard opened #1251 "Add highchart to openemr"
I want to add [highchart](https://www.highcharts.com) to openemr.
I think the best choose for start is vitals page:
`interface/patient_file/encounter/trend_form.php?formname=vitals`

@bradymiller what is the best choose of these [demo](https://www.highcharts.com/demo)?
And tell me about what we need, that I'll contribute.

Because the flash shockwave chart is not browser friendly.

[2017-11-22 04:39] #1242 closed

[2017-11-22 08:51] bradymiller commented on #1251
hi @A1Gard ,

Check out charting in the development demos (this is OpenEMR 5.0.1 that will likely be released in a couple months), and you will be pleasantly surprised:
http://www.open-emr.org/wiki/index.php/Development_Demo#Main_Demo_.28Ubuntu_16.04.29

Note that w actually had to drop the shockwave chart and go with a new one because of an unfixable security issue in the shockwave chart; and pla

[2017-11-22 14:28] sunsetsystems commented on #1251
Also, I don't think "free for non-commercial use" licensing will work here and is surely not GPL-compatible.

[2017-11-24 00:10] A1Gard commented on #1251
@bradymiller Thanks for reply, I see the chart ;)
I think this very simple :)
@sunsetsystems thats right, and the [chartjs](http://www.chartjs.org/)  is  GPL-compatible and this modern and easy to use.

Now Mrs Miller can I any help about more charts in vitals ?

[2017-11-24 10:07] bradymiller commented on #1251
hi @A1Gard ,

See this issue thread for background (also discussed why we ended up going with dygraphs over chartjs):
https://github.com/openemr/openemr/issues/583

-brady

[2017-11-28 01:36] sunsetsystems commented on #1142
I have created PR  #1263 which includes a TabsWrapper class. It would be great if anyone wants to improve it later.

[2017-11-29 00:21] bradymiller commented on #1113
This is getting super high priority.

[2017-11-29 00:50] sunsetsystems commented on #1113
Curious about the use case? My experience is that openemr is sensitive to database performance, so a remote database may present an issue there.

[2017-11-29 05:44] bradymiller commented on #1113
Hi @sunsetsystems ,
This would only be an option to support. For example, if there is a certificate at sites/default/documents/certificates/mysql-cert , then would use encryption to connect to mysql. This is to ensure encryption of data while in route when the mysql server is separate from the apache/php server(for example, in aws when connecting an ec2 instance to a rds instance).
-brady

[2017-11-29 13:27] sunsetsystems commented on #1113
Thanks Brady. Yes I understand it's optional.

[2017-12-02 04:10] arnabnaha opened #1266 "Database upgrade error"
Hi...
I was upgarding my databases (have multisite)...and I found this error -

Query Error

ERROR: query failed: UPDATE `layout_options` SET group_name='8Guardian',title='Name',seq='10' WHERE form_id='DEM' AND field_id='guardiansname' AND group_name LIKE '%Contact'

Error: Unknown column 'group_name' in 'where clause'

C:\xampp\htdocs\openemr\library\sql_upgrade_fx.php at 892:sqlStatement
C:\xamp

[2017-12-02 07:18] bradymiller commented on #1266
hi @arnabnaha ,
Hasn't something like this come up before if try to run upgrade from version 4.2.0 when the instance is already on 5.0.1-dev?
-brady

[2017-12-02 07:19] bradymiller commented on #1266
To clarify, what OpenEMR version are you upgrading from?
And what version did you select to upgrade from on the sql upgrade script?

[2017-12-02 11:53] arnabnaha commented on #1266
Hi Brady..
true...it came up earlier too. I tried upgrading from 4.2.0 though I am on 5.0.1 -dev. Once I did it from 5.0.0, everything was fine and working well.

[2017-12-03 00:25] mdsupport opened #1268 "group_name to group_id upgrade"
#1081 brings in group_id in layout_options table.  Is there an upgrade process for changing the existing layout?

After the upgrade, following errors are observed throughout various scripts:

[2017-12-03 00:30] mdsupport commented on #1266
Just created #1268 before coming across this.  This is related to missing group_name conversion process that breaks code in various places.  On first glance this is critical.

[2017-12-03 00:40] mdsupport commented on #1268
Another observation :
While introduction of layout_group_properties is a good thing, deleting an column in core tables will affect several localized changes.  This probably needs some advisory.

[2017-12-03 01:05] sunsetsystems commented on #1268
PR 1081 that you referenced changes scripts in OpenEMR accordingly, but custom code is always at risk for many types of changes. I don't think it's reasonable to leave group_name in the table because anything referencing it will be broken anyway.

Existing layouts are converted. See the changes to  library/sql_upgrade_fx.php and sql/5_0_0-to-5_0_1_upgrade.sql.

Not sure if that answers your questi

[2017-12-03 01:59] mdsupport commented on #1268
Thanks @sunsetsystems.  We were exploring the same direction. Since there were hits related to this column in upgrade sql, the original issue was raised to check if any manual step was missed.

Problem in our case appears that upgrade script depends on non-existence of 'layout_group_properties'.  As this table was not a custom addition, chances are this issue may occur for others as well.

Regardi

[2017-12-03 01:59] #1268 closed

[2017-12-03 02:21] mdsupport commented on #1266
@arnabnaha, as pointed out in #1268 discussion, critical update steps are skipped if table layout_group_properties exists in your database.  We renamed that table and repeated the upgrade which produced the following :

If you have any local code that uses group_name, you can retain that column to prevent SQL errors until you fix that code.

[2017-12-04 17:48] bradymiller commented on #1196
Jacob from ZH posted the fix for this here:
https://github.com/zhhealthcare/openemr/commit/1be275f922d65bbae9d698232f9b77b6933151c5

[2017-12-05 05:36] bradymiller commented on #650
The 7th patch for OpenEMR 5.0.0 has been released, which includes security fixes, a large graphing upgrade, and bug fixes:
http://www.open-emr.org/wiki/index.php/OpenEMR_Patches

The patch includes the following:
*Upgraded graphing to dygraphs that was necessary for a security fix - reported by SEC Consult Vulnerability Lab, fixed by Brady
*Security fix - reported by ADLab of Venustech, fixed by B

[2017-12-05 06:58] arnabnaha commented on #1266
Hi @mdsupport
Should I run the SQL statement as stated above directly in my phpmyadmin SQL commands??

[2017-12-06 00:07] stephenwaite commented on #1188
hi @eshiet , was able to see the other fields display data after entering it

maybe if the person logs out and then back in the new data will show?

[2017-12-06 00:23] stephenwaite commented on #1175
it lives on the main demo too :O
https://demo.openemr.io/log/logPhp.txt

[2017-12-06 00:29] mdsupport commented on #1266
You can run updates from any mySQL client - phpmyadmin or whatever.  Important to notice

This is done by running the following command before update :

`ALTER TABLE layout_options ADD group_name VARCHAR(255) NOT NULL AFTER group_id;`

Once the original column `group_name` is available in the table, the update statement should be available for pre 5.0.1 statements.

If you plan to repeat this upda

[2017-12-06 02:30] stephenwaite commented on #1175
could a null value here https://github.com/openemr/openemr/blob/33ef407f6364a6eb1f75d7b0172708f84775dd25/interface/super/rules/controllers/browse/controller.php#L41 be causing this?

[2017-12-06 07:37] bradymiller commented on #1113
@jesdynf ,
I am starting to work on this. It looks like the php call to support this use the php function mysqli_ssl_set() which it appears to bring in both a key and a certificate. This doesn't make sense to me since it seems like the key would be on the mysql server and then the certificate on the mysql client. Just wanted to make sure I wasn't missing anything obvious.

[2017-12-06 07:41] bradymiller commented on #1113
Interesting. It looks like need to have a private key for both the mysql server and the client:
https://dev.mysql.com/doc/refman/5.7/en/creating-ssl-files-using-openssl.html

[2017-12-06 15:42] jesdynf commented on #1113
Is this relevant?

https://stackoverflow.com/questions/3657765/php-to-mysql-ssl-connections

On Wed, Dec 6, 2017 at 1:41 AM, Brady Miller <notifications@github.com>
wrote:

--
Asher Densmore-Lynn <jesdynf@gmail.com>

[2017-12-06 15:44] matrix-amiel opened #1272 "New tabbed encounter not supports RTL"
Hi.
We pulled the latest version of master, The new feature of tabbed encounter not supports RTL languages.
It also doesn't include a general css file so I can't customize a page (I think it's important regardless a RTL's problem).

@sunsetsystems , @bradymiller
Could you help us with that?

Thanks
Amiel

[2017-12-06 16:18] sunsetsystems commented on #1272
I don't know what changes would have affected RTL. Are we talking about the text in the tab labels? Might help if you explain in some detail what's broken that used to work. Thanks.

[2017-12-06 16:36] matrix-amiel commented on #1272
Yes. the problem is a side of tabs.
![image](https://user-images.githubusercontent.com/17809866/33672353-b53475f2-dab2-11e7-8e12-b5df44c6ea09.png)
Should be -
![image](https://user-images.githubusercontent.com/17809866/33672418-cf9a0146-dab2-11e7-937c-fee18945aa15.png)
The solution is to put 'float:right' to 'li.ui-tabs-tab' elenemt.
But I don't know how to merge it right in the new code..
Thanks

[2017-12-10 04:38] MatthewVita commented on #1035
@ASC would you be interested in implementing a Sepsis protocol that a Dr. at the WONCA SAR conference presented on? He is excited to digitalize it (it is paper based) and spread it around the world so that it can be improved.

BTW, nice to meet you. I'm one of the admins of OpenEMR.

[2017-12-11 17:40] bradymiller commented on #1272
fixed by @matrix-amiel

[2017-12-11 17:40] #1272 closed

[2017-12-12 10:08] bradymiller commented on #1196
Posted above code in following PR:
https://github.com/openemr/openemr/pull/1283

[2017-12-12 21:32] bradymiller commented on #1113
Just committed this into codebase. Will also port this over to rel-500.

[2017-12-12 21:32] #1113 closed

[2017-12-14 08:19] eyalvo-matrix opened #1287 "Groups ->Participants ->Participant's name : Error when trying to add Participants"
When trying to add a participant to a group dialog.js
causing an error that preventing to complete the action

![image](https://user-images.githubusercontent.com/20621444/33982138-14bdc496-e0b8-11e7-991e-14517a5d02f9.png)

[2017-12-14 09:50] eyalvo-matrix commented on #1287
Added a pull request at
https://github.com/openemr/openemr/pull/1288

[2017-12-14 17:29] arnabnaha opened #1290 "POPUP Windows now dont close automatically"
Hi...
I applied the recent development upgrade/recent codes from the github to my openemr 5.0.1 and found a minor issue. After saving, previously the popup windows used to go away automatically, they used to close automatically, but now after saving, they stick there (the content of the popup doesnt show anymore) and by manually closing of the popups are needed. manually refreshing of the page sho

[2017-12-14 17:35] arnabnaha commented on #1290
My bad, Extremely Sorry...It was a local issue..Now working absolutely fine. so closing the issue

[2017-12-14 17:35] #1290 closed

[2017-12-14 17:45] sjpadgett commented on #1290
We are working on dialogs at the moment.

On Thu, Dec 14, 2017 at 12:35 PM, Arnab Naha <notifications@github.com>
wrote:

--
Jerry Padgett
Padgett's Consulting
Brandon, Florida 33511
sjpadgett@gmail.com <sjpadgett@gmailo.com>

[2017-12-14 17:50] arnabnaha opened #1291 "Graphic Pain Map Issue"
Hii
I am on windows and openemr 5.0.1. After recent update I noticed that the graphic pain map form is not working in encounters, giving a white screen.
PHP ERROR LOG -
[Thu Dec 14 23:17:47.582659 2017] [:error] [pid 5832:tid 1984] [client ::1:61791] PHP Fatal error:  Call to undefined method AbstractClickmapModel::AbstractClickmapModel() in C:\\xampp\\htdocs\\openemr\\interface\\forms\\painmap\\F

[2017-12-14 17:56] arnabnaha commented on #1290
@sjpadgett  Thanks 👍

[2017-12-14 18:22] sjpadgett commented on #1291
May have something to do with the new tab encounters. I'll look when I get
a chance.

On Thu, Dec 14, 2017 at 12:50 PM, Arnab Naha <notifications@github.com>
wrote:

--
Jerry Padgett
Padgett's Consulting
Brandon, Florida 33511
sjpadgett@gmail.com <sjpadgett@gmailo.com>

[2017-12-14 18:54] bradymiller commented on #1291
Probably here is issue:
https://github.com/openemr/openemr/commit/c8dd9341dfed06ddad20af8bfc958bd5c2294825#diff-083f7f92c3eba402864a55a4413d0cfa

This is likely the culprit:
https://github.com/openemr/openemr/blob/c8dd9341dfed06ddad20af8bfc958bd5c2294825/interface/forms/painmap/FormPainMap.php#L36

and should change those 2 lines to the following 1 liner:
[code]

[2017-12-14 18:56] bradymiller commented on #1291
(if nobody gets to above, I'll plan to test and bring this into codebase over the next day or two)

[2017-12-14 18:58] sjpadgett commented on #1291
okay, right now, dialogs seem to have caught my fancy...

[2017-12-14 19:20] bradymiller commented on #1291
this is mine then :)

[2017-12-15 02:33] bradymiller commented on #1291
@arnabnaha ,
I just brought in the fix for this:
https://github.com/openemr/openemr/pull/1293
Let me know if it fixes your issue.
thanks, -brady

[2017-12-15 05:28] MatthewVita opened #1294 "Remote Patient Vitals Module - Patient List View"
![openemr remote patient vitals module - patient list view](https://user-images.githubusercontent.com/1715206/34192740-c688b87a-e504-11e7-8e76-6d7beeb7c703.png)

[2017-12-15 05:31] MatthewVita opened #1295 "Remote Patient Vitals Module - Patient Detail View"
![openemr remote patient vitals module - patient detail view](https://user-images.githubusercontent.com/1715206/34028174-09d01f4e-e116-11e7-8b83-d970f4f60db4.png)

[2017-12-15 05:32] MatthewVita opened #1296 "Remote Patient Vitals Module - Editable Patient Detail View"
![openemr remote patient vitals module - editable patient detail view](https://user-images.githubusercontent.com/1715206/34028186-31f75078-e116-11e7-94be-7aaa48b258bb.png)

[2017-12-15 05:32] MatthewVita opened #1297 "Remote Patient Vitals Module - Patient Text View"
![openemr remote patient vitals module - patient text view 1](https://user-images.githubusercontent.com/1715206/34192832-42ff79e8-e505-11e7-85fc-1a3109bd795a.png)

[2017-12-15 05:34] MatthewVita opened #1298 "Remote Patient Vitals Module - Limited EHR View"
We need to expose only auth, patients, and this module in the EHR. The Bhutan providers don't want an EHR:

![openemr remote patient vitals module - context 1](https://user-images.githubusercontent.com/1715206/34028247-81d01e72-e116-11e7-8bab-6f688807c85f.png)

[2017-12-15 08:02] arnabnaha commented on #1291
Thanks Brady...I am testing the dialogue boxes..I will put up issues with dialogue boxes with prescription next. I am facing issues with it too..cant save medications

[2017-12-15 09:15] arnabnaha commented on #1291
Issue Fixed. Closing it

[2017-12-15 09:15] #1291 closed

[2017-12-15 13:42] arnabnaha opened #1299 "Fee Sheet Saving Issue"
Hi..
I am on openemr 5.0.1 with windows 10. while working, I found that the fee sheet is not saving and throwing errors after save button is clicked. Although, by clicking the "SAVE CURRENT" button, I could save it and do off my work.

I have attached a pic below showing the error. It only occurs when I click the SAVE button. I have cleared the cache and cookies but it still shows.
I tried  it on

[2017-12-15 14:27] sunsetsystems commented on #1299
I'll look into this. Thanks for the report.

[2017-12-15 15:49] sunsetsystems commented on #1299
This is fixed:
https://github.com/openemr/openemr/commit/cdec7c4fb1a0eb18e6c9f29edb4bf7e8b4210a59

[2017-12-15 15:49] #1299 closed

[2017-12-16 04:20] pelgay commented on #1294
Could you kindly add a patient cid no which is unique nos. for individual and which does not change once they have it. phone number may change.

[2017-12-16 04:26] pelgay commented on #1296
this view is fantastic as it reveals trend over period.which the patient can review himself or herself , only we need to set a upper and lower goal for the patient i mean the normal limits

[2017-12-16 04:29] pelgay commented on #1298
i think we start with just blood pressure and may be weight gain and blood sugar levels

[2017-12-16 17:54] stephenwaite opened #1301 "facility taxonomy"
from the forum, will need to add field to facility table and support in the x12, hcfa, ub04 scripts

also need to spruce up and enlarge the facility dialog

[2017-12-16 17:56] sjpadgett commented on #1301
where is it called?

[2017-12-16 17:58] stephenwaite commented on #1301
hi, interface/usergroup/facility_admin.php

[2017-12-16 18:07] stephenwaite commented on #1301
user discovered that the rendering provider taxo was getting pulled from line 150 in library/gen_x12_837.inc.php

[2017-12-17 09:54] sharonco-matrix opened #1304 "Critical Bug : New dialog instead of popup"
Hi @bradymiller
I'm not sure to address this issue. There have been amazing improvements in the "pop-ups". The problem is that there are not being tested in the frames UI. So a lot of things are broken now.

The last thing we found is in
Create encounter-> add n issue-> click on codes->-> "no popup"... instead the "coded is under the page
See the
![openemr 9](https://user-images.githubusercontent.

[2017-12-17 11:02] sjpadgett commented on #1304
Hi @sharonco-matrix I'm aware of these issues and am working very hard to finish this but, dialogs have transitioned several times over the life of codebase and are deeply rooted in the window style, making transition to responsive bootstrap a challenge, one I fully intend to overcome :). I have redone amendments, issues, pnotes well, mostly all of demographics and am working on browser compatibil

[2017-12-17 20:07] sjpadgett commented on #1304
@bradymiller I'm ready to open new PR for dialogs and i'm telling you this is an adventure. I think i've seen every possible way a window/script can be closed or submitted. Some close first, some last and some may take a journey through three scripts. :) Anyway,fairly large commit and was wondering if my git can be setup with a docker that has demo data so you guys can help me finish testing?

[2017-12-17 20:57] bradymiller commented on #1304
Yep, can do that with the same demo data that is used in the online demos. Just let me know when the PR is ready and remember to sleep and eat :)

[2017-12-17 21:34] ophthal commented on #284
Not sure 5.0.1 still has this issue.  I see it on mine production server but that is somewhere in limbo between 4.3 and 5.0.1.  I did a PR for a fix that'll work in solo-site installations, if it is needed. Otherwise you can close this.

[2017-12-17 23:20] sjpadgett commented on #1304
@sharonco-matrix Here is new PR so if you guys can look over and see if i've done any harm to your module or any suggestions. https://github.com/openemr/openemr/pull/1307

[2017-12-18 06:41] sharonco-matrix commented on #1304
Thanks! we will take a look and we are waiting for this fixes to be merged as our system is super unstable. And we are in a critical phase :)

[2017-12-18 17:33] HITECHPR opened #1309 "load_fda_drugs.plx not working"
Downloaded current EOB Zip file
ran ./load_fda_drug.plx < Products.txt as per instructions.
This is the error displayed on screen.
DBD::mysql::db do failed: Incorrect date value: '0000-00-00' for column 'last_notify' at row 1 at ./load_fda_drugs.plx line 80, <STDIN> line 1.
INSERT INTO drugs( name ) VALUES ( 'Trade_Name' ) at ./load_fda_drugs.plx line 80, <STDIN> line 1.

[2017-12-18 18:09] sunsetsystems commented on #1309
Oh I see. This utility should really be ported into the Native Data Loads page. There might be other problems, but for this one try adding the following line in the "Startup" section of the script:

`    $dbh->do("SET sql_mode = ''");`

[2017-12-18 21:31] stephenwaite commented on #1301
https://github.com/openemr/openemr/pull/1310

[2017-12-18 21:31] #1301 closed

[2017-12-19 04:34] sjpadgett opened #1311 "Top Menu Fee Sheet Issue"
Select an encounter then goto any other tab and select fee sheet from Fees->Fee Sheet. Use to open fee sheet where now a new tab is not opened. We may need to disable or remove that option from menu unless user is in encounter tab.

[2017-12-19 11:06] eyalvo-matrix opened #1313 "adding a new patient does not close the dialog window"
![image](https://user-images.githubusercontent.com/20621444/34154214-5ff45c5a-e4bd-11e7-9ed6-4987c41fea22.png)

[2017-12-19 11:07] eyalvo-matrix commented on #1313
@sjpadgett any thoughts on this ?
is this a part of the things you are working on ?

[2017-12-19 11:23] sjpadgett commented on #1313
Using true will force open a popup and does not register with include_opener. So if you have include_opener.php included in the script window.close has been monkey'ed to use non registered close windowed name. Why not use dialog or did I miss reassigning the popup to a dialog?

[2017-12-19 11:42] eyalvo-matrix commented on #1313
As much as I know currently all the group_attendance module use the dlgopen ()

[2017-12-19 11:45] sjpadgett commented on #1313
Well the original error is because bootstrap is not in scope to open modal. Are you using my update from this morning?

[2017-12-19 11:48] eyalvo-matrix commented on #1313
no we did a pull last night , I will do a pull and recheck it

[2017-12-19 11:54] sjpadgett commented on #1313
Another thing to be aware of is it seems IE11 has trouble using reassigned window.close() and dlgclose() is used to replace window.close for dialogs...

[2017-12-19 11:57] eyalvo-matrix commented on #1313
hi @ I checked and we do have the latest pull , and the problem is still relevant

[2017-12-19 11:58] sjpadgett commented on #1313
Okay my friend let me take a look

[2017-12-19 12:04] eyalvo-matrix commented on #1313
Thanks :)
notice that I did a pull request related to this issue at
https://github.com/openemr/openemr/pull/1312

[2017-12-19 12:07] sjpadgett commented on #1313
Right but that does not solve the issue but only delays it until close. Give me a minute to see what is going on because this may affect other forms as well.

[2017-12-19 12:38] sjpadgett commented on #1313
So far you need to update all your jquery-ui-core dependency to jquey-ui (only where dlgopen is used) because core doesn't support resizable or turn off both dialog allowResize and allowDrag using dialog options. I updated the jquery in therapy groups views header and was able to add new patient to group. Not sure if same add you refer to here.

[2017-12-19 12:45] sjpadgett commented on #1313
Or maybe we should add global to default off for resize and the jquery-ui requirement. So let me do that now and you can continue to leave your dependencies the way they are.

[2017-12-19 12:45] eyalvo-matrix commented on #1313
This is what I did in the above  pull ,
 but without the true tag it does not open the window

[2017-12-19 12:48] sjpadgett commented on #1313
you need to add the jquery-ui to therapy_groups->therapy_group_views->header.php

[2017-12-19 12:51] eyalvo-matrix commented on #1313
therapy_groups is for the modal this issue is for the group_attendance form

[2017-12-19 12:52] sjpadgett commented on #1313
Okay then let me look in right place :) sorry

[2017-12-19 12:56] eyalvo-matrix commented on #1313
I updated it on
https://github.com/openemr/openemr/pull/1312/files

[2017-12-19 13:00] sjpadgett commented on #1313
yes but that form's dialog uses dependencies from the class views header file.

[2017-12-19 13:03] eyalvo-matrix commented on #1313
but some how this dependencies are still missing in the form
the latest version does include the right dependencies in the header
therapy_groups/therapy_groups_views/header.php
![image](https://user-images.githubusercontent.com/20621444/34158377-d1b7f4d6-e4cd-11e7-9ab4-ab649aee5013.png)

[2017-12-19 13:04] eyalvo-matrix commented on #1313
did you checked that using the frame mod ?

[2017-12-19 13:05] sjpadgett commented on #1313
Nutzzz, no, let me do that

On Tue, Dec 19, 2017 at 8:04 AM, eyalvo-matrix <notifications@github.com>
wrote:

--
Jerry Padgett
Padgett's Consulting
Brandon, Florida 33511
sjpadgett@gmail.com <sjpadgett@gmailo.com>

[2017-12-19 13:20] sharonco-matrix commented on #1313
Please Please Please... dont bring things to the codebase that break the frames. It breaks completely our development. Please :) and also dont forget to check RTL :)
I hope to move soon to the tabs UI but for now we are stuck with the frames :)

Thanks for your help and understanding

[2017-12-19 13:25] eyalvo-matrix commented on #1313
on a side matter , on frames adding a new coding to a new encounter got even worst than before
and it is not possible to see the screen
you can only see a red box in the upper right of the screen

![image](https://user-images.githubusercontent.com/20621444/34159092-9652c8aa-e4d0-11e7-8d51-175004754daf.png)

[2017-12-19 13:56] sjpadgett commented on #1313
Appears a dialog and fancybox dialog are both initialized. you can have one or the other. I didn't do this that I can see because it works for me on IE11 and others.

[2017-12-19 14:01] eyalvo-matrix commented on #1313
Going to PATIENT-> select a patient -> choose  New Encounter -> Add (Issues) -> press on coding
works for you on frames?

[2017-12-19 14:18] sharonco-matrix commented on #1313
So let's summarize what we have still pending it's: +1:
1. Adding participants to the attendance list in the encounter form that is being addressed in this PR
* fix cannot add user to group attendance report #1312
2. New encountrer-> add issues -> click on code
*Nothing happens it opens the divs under and not in a dialog

When do you think this issues will be ready to merge?

BTW... everything els

[2017-12-19 14:23] sjpadgett commented on #1313
Doesn't matter new encounter or not. Looks like those fancyboxes need to go as well.
@sharonco-matrix @bradymiller You know guys, I'm trying to do something that no one else wanted to do, which is, get rid of fancybox, try to save frames and clean up codebase some so we can move on with modernizing. It's going to come with some pain and everyone can't put it all on my back. I'm trying to be accomm

[2017-12-19 14:58] sjpadgett commented on #1313
@eyalvo-matrix I'm going to make the dialog for issues in encounters about half the size displayed above. Any problem with that or does it need to be that large?

[2017-12-19 19:11] sjpadgett commented on #1313
@eyalvo-matrix I don't know where dependency was changed to fixs (new or header) but here is what I see. Are we on same page?
![screen shot 2017-12-19 at 14 05 04-fullpage](https://user-images.githubusercontent.com/1859985/34174296-6e3b80d2-e4c6-11e7-9964-6d4e021db349.png)

[2017-12-19 20:21] sjpadgett commented on #1313
@eyalvo-matrix Hope this does it but let me know. https://github.com/openemr/openemr/pull/1315

[2017-12-20 00:32] stephenwaite commented on #685
update, dovoid in fee_sheet/new.php isn't passing time so query fails

[2017-12-20 01:06] stephenwaite commented on #685
update :) bill_time isn't matching post_time in the minutes and seconds

[2017-12-20 03:40] stephenwaite commented on #685
hi @sunsetsystems , aka Rod :)

https://github.com/openemr/openemr/blob/master/library/billing.inc#L423-L424
and
https://github.com/openemr/openemr/blob/master/library/billing.inc#L444

would it make sense for the query to match on YYYY-MM-DD vs +HH-MM?

[2017-12-20 05:37] MatthewVita commented on #1294
Hi @pelgay, sorry for my delay. I just updated the mockup to have a unique ID column! Good thought.

- Matthew

[2017-12-20 05:40] MatthewVita commented on #1297
@pelgay Good idea. Sorry for my delay, I just updated the mockup!

[2017-12-20 05:42] MatthewVita commented on #1296
@pelgay I actually was thinking this would be the physician's view. However, maybe in a v2 of the software we can add a login for the patient so they can observe their graphs?

[2017-12-20 05:42] MatthewVita commented on #1298
@pelgay I believe that is the best path forward! :)

[2017-12-20 05:49] sunsetsystems commented on #685
No. The timestamp is important to distinguish between multiple checkouts in the same encounter.
Do we have steps to reproduce this problem?

[2017-12-20 06:49] bradymiller opened #1317 "Get rid of fancybox"
(play the Rocky soundtrack)

[2017-12-20 06:50] bradymiller commented on #1317
https://www.youtube.com/watch?v=I33u_EHLI3w

[2017-12-20 12:42] stephenwaite commented on #685
ok, thanks. yes, create a fee sheet, add an item and a copay and then do void.

[2017-12-20 15:36] sunsetsystems commented on #685
Thanks Stephen, I'll find some time to look at this.

[2017-12-21 09:37] bradymiller commented on #1317
@sjpadgett ,
14 scripts to go. I am planning to go after the following:
facility_user.php
facility_user_admin.php

[2017-12-21 09:40] eyalvo-matrix opened #1321 "deleting an encounter does not close the encounter"
Hi all ,
There 2 problems when deleting an encounter

1. Deleting an encounter create an alert and display a white popup that sometimes displays SQL
2. After deleting the encounter the window of the encounter does not redirect to somewhere else
   causing the user to stay in the same encounter (that now doesn't exist ) and he can delete it again

![image](https://user-images.githubusercontent.com/

[2017-12-21 09:45] sjpadgett commented on #1321
Hi @eyalvo-matrix , is this IE11?

[2017-12-21 09:45] eyalvo-matrix commented on #1321
I think after deletion the window/frame should go back to" Past Encounters and Documents "
what do you think @bradymiller  @sjpadgett  ?

[2017-12-21 09:46] eyalvo-matrix commented on #1321
yes but it happens on all browsers

[2017-12-21 09:48] sjpadgett commented on #1317
Yep and I guess i'm going to tackle the custom templates where it may prove a challenge on demographics level.

[2017-12-21 09:50] bradymiller commented on #1321
Yep, ideally, it should unset the active encounter and then show "Past Encounters and Documents". Also, regarding mysql showing via delete, this can be turned off via:
http://www.open-emr.org/wiki/index.php/Administration_Globals#Mode_-_Do_Not_Show_SQL_Queries

[2017-12-21 09:50] eyalvo-matrix commented on #1321
this is in frames
![image](https://user-images.githubusercontent.com/20621444/34250305-209cfe48-e645-11e7-958f-79b8d45b5b6e.png)

[2017-12-21 09:51] eyalvo-matrix commented on #1321
@bradymiller  why do we even need the second window ?

[2017-12-21 09:52] sjpadgett commented on #1321
Okay on returning to past encounters but for some reason IE11 tends to not show the delete sql summary tho I know it deletes. Not sure if it is faster then FF or what but FF consistently shows the sql in dialog box. Maybe a timer..

[2017-12-21 09:53] sjpadgett commented on #1321
The second alert is to keep the dialog open to see the delete summary. This is the past behavior

[2017-12-21 09:54] bradymiller commented on #1321
This is what I see on firefox:
![image](https://user-images.githubusercontent.com/278968/34250488-d6adfd6c-e5f1-11e7-87df-7323d222dbc0.png)
![image](https://user-images.githubusercontent.com/278968/34250504-e02b72fc-e5f1-11e7-9dcf-4de49d9ffe49.png)

[2017-12-21 09:55] bradymiller commented on #1321
Note this is with the follow global off, which is the default setting:
http://www.open-emr.org/wiki/index.php/Administration_Globals#Mode_-_Do_Not_Show_SQL_Queries

[2017-12-21 09:55] bradymiller commented on #1321
This can definitely be simplified, if wish.

[2017-12-21 09:56] eyalvo-matrix commented on #1321
In my opinion we do not need the alert at all
I would display a nice fail/successes message instead of the sql
and after approval I would redirect to Past Encounters and Documents

[2017-12-21 09:58] eyalvo-matrix commented on #1321
@sjpadgett do you want to have a swing on it or you prefer we will fix it ?

[2017-12-21 09:59] bradymiller commented on #1321
Agree, and the message that shows the fail/success can also show the sql if the above global is set for that.
Directing to Past Encounters and Documents makes sense. Note you also need to unset the encounter (like you do when you unset the patient), which I am pretty sure has been supported in a couple other places in the codebase.

[2017-12-21 10:00] bradymiller commented on #1304
Is this issue resolved?
(if so, then will close this)

[2017-12-21 10:00] bradymiller commented on #1287
Is this issue resolved?
(if so, then will close this issue)

[2017-12-21 10:05] sjpadgett commented on #1321
@eyalvo-matrix Prob just easier if I fix as I know just where to go. I'll get back to you when done. Thanks for bringing this to issues..

[2017-12-21 10:14] sjpadgett commented on #1321
This may be an opportunity to add a redirect feature to dlgopen along with the alert feature.

[2017-12-21 11:09] sjpadgett commented on #1321
@bradymiller These existing functions for imdeleted are no longer in scope in either tabs or frames. Not sure if from new encounter tabs ui. do you knoe?
top.window.parent.left_nav.removeOptionSelected(EncounterId);
  top.window.parent.left_nav.clearEncounter();

[2017-12-21 12:05] bradymiller commented on #1321
@sjpadgett ,
Looks like meant for frames. I wonder if this broke with several of the changes to this script (seemed like frames stuff got changed around here). To support tab, may make sense to add proxy functions here:
https://github.com/openemr/openemr/blob/master/interface/main/tabs/js/frame_proxies.js
Which wrapped/incorporated a function or two here made to clear the encounter:
https://github

[2017-12-21 12:07] sjpadgett commented on #1321
yes sir thanks, I just couldn't figure out where that was setup.

On Thu, Dec 21, 2017 at 7:05 AM, Brady Miller <notifications@github.com>
wrote:

--
Jerry Padgett
Padgett's Consulting
Brandon, Florida 33511
sjpadgett@gmail.com <sjpadgett@gmailo.com>

[2017-12-21 16:09] eyalvo-matrix commented on #1321
@sjpadgett I am doing some fixes on the group modal
(https://github.com/matrix-israel/openemr/tree/therapyGroupsFixes)
and I am getting the following error
![image](https://user-images.githubusercontent.com/20621444/34263879-9a358e94-e679-11e7-8ae9-28dc88ede509.png)

this is because href was replaced from # to toggledivs(this.id,this.id); any advice of how to fix it ?

[2017-12-21 16:19] sjpadgett commented on #1321
That's strange because I fixed that recently by changing to # and removing toggledivs because I could not find the function in scope. Maybe it was somewhere else so I fixed by removing toggledivs. I really don't know where that came from!

[2017-12-21 20:31] sunsetsystems commented on #685
See fix here: https://github.com/openemr/openemr/pull/1322

[2017-12-21 20:37] sunsetsystems commented on #685
By the way, the mismatch between the timestamps in billing and ar_activity is a problem that will be fixed in some upcoming major updates to fee sheet and checkout code.

[2017-12-21 21:53] sjpadgett commented on #1321
@eyalvo-matrix Here is PR. Will bring in later tonight unless it is needed now.. https://github.com/openemr/openemr/pull/1323

[2017-12-22 20:35] stephenwaite commented on #685
nice simple fix for now and thanks for the update

[2017-12-22 20:35] #685 closed

[2017-12-24 05:29] scorpions786 opened #1325 "add_edit_event.php dialog Jquery"
the old version of the dialog on can support new library of jquery
(jquery-min-3-1-1)
in
interface/main/calendar/modules/PostCalendar/pntemplates/default/views/header.html
(jquery-min-1-7-2) now

but the new update cannot support (jquery-min-3-1-1)

[2017-12-24 09:34] sjpadgett commented on #1325
I don't understand. What is the issue? New dialog will dynamically replace v1-7-2 with v1-9-1 so dialog can run. This is until can go through calendar to update jquery for compatibility. I haven't seen any issues as yet with all the testing we have done. Are you just pointing out v1-7-2 is incompatible with bootstrap? Note: you should see a message in console if jquery is replaced on dialog run.

[2017-12-24 13:04] scorpions786 commented on #1325
my point is when you have new feature(js library) that doesn't work with the old version of the JQuery
so you can't add them when the dialog or the click on calendar to add event will not work

[2017-12-24 13:05] scorpions786 commented on #1325
while the older version of the system you can update the librarry of jquery without any issue

[2017-12-26 12:25] arnabnaha opened #1331 "Horrible Menu Fonts"
Just extracted the development codebase from github and loaded it in my server. The moment I logged in into my system, it showed huge horrible font size of the menu items only. is this purposefully done?? or its a bug???
![horrible_font_openemr](https://user-images.githubusercontent.com/1074948/34356686-e67ca64e-ea65-11e7-8e0a-0290540f7916.jpg)

[2017-12-26 18:52] arnabnaha commented on #1331
Recent commit fixes the issue. So closing it. Thanks @sjpadgett

[2017-12-26 18:52] #1331 closed

[2017-12-27 17:26] bradymiller commented on #1317
@sjpadgett ,
Just checked in edit_globals.php

Down to just 12 :)

I plan to attack the following next:
1. interface/patient_file/front_payment.php
2. interface/patient_file/transaction/add_transaction.php

[2017-12-27 17:31] sjpadgett commented on #1317
@bradymiller Cool, getting ready to put up custom templates. I updated to the assets ckeditor 4-7-0 and wrote a custom config so will get rid of the library ckeditor instance once I find only nation notes is using that instance in library/custom_template. Next hour or two then maybe put on docker and I will ask forum for some NN users to test for us...

[2017-12-27 18:17] bradymiller commented on #1114
Am now actively working on this.

[2017-12-28 07:09] bradymiller commented on #1317
ok, above done and now down to 10. Then when @sjpadgett's ckeditor work is in, we'll be down to 6.
I'm gonna attack the following next:
1. interface/usergroup/usergroup_admin.php
2. interface/usergroup/usergroup_admin_add.php

[2017-12-28 23:04] bradymiller commented on #1317
And then there were only 4 fancyboxes left standing... :)
1. interface/usergroup/usergroup_admin_add.php (in progress)
2. interface/usergroup/usergroup_admin.php (in progress)
3. interface/billing/era_payments.php
4. patients/summary_pat_portal.php

[2017-12-29 00:38] sjpadgett commented on #1317
I'll grab 3 and 4 tomorrow some time

[2017-12-29 12:14] arnabnaha opened #1340 "Cancel button donot work in payment"
Hi..
The "cancel" button in Fees->Payment donot seem to work. Clicking it, doesnt cancel anything. Simply nothing happens. i guess, the payment form should close on clicking it..but it doesnot happen. I am getting this in the php error log -

[Fri Dec 29 17:40:06.313875 2017] [:error] [pid 6044:tid 2012] [client 117.194.216.152:52176] PHP Warning:  Invalid argument supplied for foreach() in C:\\xa

[2017-12-29 15:16] stephenwaite commented on #1340
https://github.com/openemr/openemr/blob/master/interface/patient_file/front_payment.php#L1249

could this be window.close?

[2017-12-29 15:18] arnabnaha commented on #1340
@sjpadgett  Please take a look here.

[2017-12-29 15:26] sjpadgett commented on #1340
@stephenwaite This script doesn't include opener because, in this case, is called from menu. However the same script is called elsewhere as a popup so I need to add logic to handle where i'm at so to speak. When in a tab there really is not a window to close and would have to close the tab. Also, window.close is already defined as a global thus we are just reassigning (or monkey'ed) existing funct

[2017-12-29 15:30] stephenwaite commented on #1340
oh, thank you and thanks to your many contributions as of late

[2017-12-29 15:36] sjpadgett commented on #1340
You're welcome and thanks. Do you remember if originally front payment was a popup that got turn into a tab? Seems to me it was..

[2017-12-29 15:48] arnabnaha commented on #1340
Yes @sjpadgett  it was a popup initially which was later turned into tab and put under fees menu

[2017-12-29 15:49] stephenwaite commented on #1340
yes, sounds familiar

[2017-12-29 15:52] sjpadgett commented on #1340
So we need to close the tab or frame or go to the encounter or anything other than nothing because there is nothing to really close for a window. Suggestions!

[2017-12-29 16:03] stephenwaite commented on #1340
sure, close the tab and return to main pt screen with billing expanded ;)

[2017-12-29 16:06] sjpadgett commented on #1340
lol, just had to ask, didn't I......................

[2017-12-29 16:08] stephenwaite commented on #1340
yeah, never ending ui/workflow improveemnts to billing in openEMR

[2017-12-29 16:09] sjpadgett commented on #1340
Okay, I get the jest and will come up with something. Thanks

[2017-12-29 16:22] sjpadgett commented on #1340
Here is how I want to handle if agree.
If tab, then will close tab and focus demographics tab.
If frames, will return to previous frame before calling payment.
In both cases will turn receipt into a dialog.

[2017-12-29 17:13] sjpadgett commented on #1340
Question? Do we always want to force a print receipt or have option to save payment or save and print?

[2017-12-29 18:13] arnabnaha commented on #1340
After creating a fee sheet, we can go to payments and bill the patient by generating an invoice through the payment screen. Payment screen is mainly for cash/self pay patients (non-insurance) but insurance patients can also pay. After clicking generate invoice, it shows a dialogue box asking to save. If saved it shows the option to print.

[2017-12-29 18:22] bradymiller commented on #1317
@sjpadgett , Your hands seem to be full at the movement. I would be super happy to attack 3 and 4 this evening, if you wish.  -brady

[2017-12-29 18:22] sjpadgett commented on #1340
Thanks, I misspoke, I meant force to receipt screen. No matter, the dialog will take care of those decisions.

[2017-12-29 18:23] sjpadgett commented on #1317
Yep, that be great, thanks.

On Fri, Dec 29, 2017 at 1:22 PM, Brady Miller <notifications@github.com>
wrote:

--
Jerry Padgett
Padgett's Consulting
Brandon, Florida 33511
sjpadgett@gmail.com <sjpadgett@gmailo.com>

[2017-12-29 18:26] arnabnaha commented on #1340
it always forces the receipt screen after saving and then gives an option to print.

[2017-12-29 19:30] bradymiller commented on #1317
These are just notes to myself (because of my bad memory):
1. interface/billing/era_payments.php (simple removal of fancybox includes will suffice)
2. patients/summary_pat_portal.php (dlgopen conversions will  be involved and will be good practice)

[2017-12-29 19:32] sjpadgett commented on #1317
lol, not sure this was fair trade:)

On Fri, Dec 29, 2017 at 2:30 PM, Brady Miller <notifications@github.com>
wrote:

--
Jerry Padgett
Padgett's Consulting
Brandon, Florida 33511
sjpadgett@gmail.com <sjpadgett@gmailo.com>

[2017-12-29 19:58] bradymiller commented on #1317
yep; I think I am the winner in this trade :)
I was thinking about the user admin stuff. The issue is the popup that happens if the password check does not work (this happens when creating a new user or when changing the password of a current user (in both cases, it checks the password of the user that is logged in). If migrated this as a simple password ajax check before submitting the form(in a

[2017-12-29 20:00] bradymiller commented on #1317
of course, though, if you could magically get it to submit through the original frame, this would be ideal. looking forward to seeing the solution, whatever it is :)

[2017-12-30 12:11] bradymiller commented on #1317
Done!
Thank you @sjpadgett for making this dream possible!

[2017-12-30 12:11] #1317 closed

[2017-12-30 23:11] sjpadgett commented on #1340
Here is PR for this issue with some additions.
https://github.com/openemr/openemr/pull/1343

[2018-01-01 13:46] arnabnaha opened #1345 "Payment receipt on printing showing wrong info"
Hi..
I applied the latest dev-tip from codebase to my server and now the cancel button in payment is working fine. Thanks to @sjpadgett for the fix. New issue which creeped up was after generating invoice, it was shoing the invoice to be printed, but the info was either wrong in the receipt or was missing from it. I have attached an image below to illustrate that -

![receipt_issue](https://user-i

[2018-01-01 13:49] arnabnaha commented on #1340
Thanks @sjpadgett. its working fine, but I have reported a new issue for the receipt (after generating it) #1345

[2018-01-01 13:49] #1340 closed

[2018-01-01 14:05] sjpadgett commented on #1345
@arnabnaha Working okay for me but one never knows:). Can you give me some details how you get there i.e : is it a new encounter? posting on existing and so on...

[2018-01-01 14:12] arnabnaha commented on #1345
It was an exixting encounter. Selected a patient first..went to
fees->payment. It displayed the list of payments. I clicked on generate
invoice and showed me that receipt.

On 01-Jan-2018 7:35 PM, "Jerry Padgett" <notifications@github.com> wrote:

[2018-01-01 14:23] sjpadgett commented on #1345
Okay, front payment is for making a payment and should not allow you to print a receipt if a payment is not made so, this is a bug because, in this case, a blank payment gets posted, a no no for sure. For printing an already posted payment receipt you can use Reports->Front Rec. Thanks for pointing out and i'll address.

[2018-01-01 14:27] arnabnaha commented on #1345
Thanks Jerry

On 01-Jan-2018 7:53 PM, "Jerry Padgett" <notifications@github.com> wrote:

[2018-01-02 19:03] sjpadgett commented on #1345
@arnabnaha I'm thinking this PR get's you there... https://github.com/openemr/openemr/pull/1348

[2018-01-03 04:09] arnabnaha commented on #1345
@sjpadgett Thank you so much Jerry. Its a very good fix. Thank you so much. Much needed.

[2018-01-03 04:20] MatthewVita opened #1350 "Document reference isn't stored in the database when a patient has a very large pid"
This bug is minor because it can only really happen from the use of another tool connected to the OpenEMR database (patient demo generator, for example, which has been patched), but basically when a patient `pid` is huge (e.g.: 99999999999), certain `foreign_id` fields in tables that point back to the `patient_data` table can't hold the value. This is the case with the `documents` table.

This wou

[2018-01-03 04:30] arnabnaha commented on #1345
@sjpadgett  I am reopening this because, if I go to Fees->posting, I can post an empty payment through posting. If someone clicks save, it just does that.

[2018-01-03 10:49] sjpadgett commented on #1345
The good thing about testing is to find bugs. The bad thing about testing is, we find bugs :)

[2018-01-03 19:32] arnabnaha commented on #1345
:)

[2018-01-03 22:49] sjpadgett commented on #1345
New PR https://github.com/openemr/openemr/pull/1351

[2018-01-04 05:21] arnabnaha commented on #1345
Thanks for the PR @sjpadgett . Tested checkout mode of payment and this also allows posting of zero payment. Fees->checkout, if the payment is zero, on clicking save, it saves it.

Regarding the above PR, have tested it and it works absolutely good

[2018-01-04 11:08] matrix-amiel opened #1352 "Adding acl group to user on create/edit user"
Hi.
Currently users that don't have the 'Administration ACL' permission can't add/edit user's acl group.
This means that if a user has permissions to create users but does not have Administration ACL permission he can only create users without any permissions, which is pretty useless.
We think that the ability to add/edit a user's acl group (in the add/edit users screen - not in the acl screen) sh

[2018-01-05 06:04] bradymiller commented on #1352
@matrix-amiel , Agreed :)

[2018-01-07 10:49] eyalvo-matrix opened #1359 "Creating a new patient date format does not refer to global date format"
![image](https://user-images.githubusercontent.com/20621444/34648760-0e0b7dc4-f3a9-11e7-945e-da716fef9c3a.png)

![image](https://user-images.githubusercontent.com/20621444/34648766-2a396e8e-f3a9-11e7-9ebc-793333633acc.png)

![image](https://user-images.githubusercontent.com/20621444/34648769-3c2532a4-f3a9-11e7-93ae-1be036b6c0da.png)

[2018-01-08 02:15] MatthewVita opened #1360 "Support imaging with multiple images (CT or MRI)"
The issue is that the current dicom mechanism only supports 1 image. This is great for xrays. However, it sounds like this will get much more complicated for imaging with multiple images (such as a CT or MRI).

[2018-01-08 02:16] MatthewVita opened #1361 "QA DICOM Web Viewer i18nLocalesPath Integration"

[2018-01-08 02:18] MatthewVita opened #1362 "DICOM Web Viewer erroring on master"
### STEPS TO REPRODUCE:

1. Clone and pull `master`
2. run `docker-compose up`
3. Login as admin
4. Create a test patient
5. Upload https://github.com/ivmartel/dwv/raw/master/tests/data/dwv-test-simple.dcm to the Lab Reports document category
6. Click on the uploaded file

### EXPECTATION:

It loads!

### ACTUAL:

White screen of death

[2018-01-08 02:19] MatthewVita opened #1363 "Research security and production readiness of Orthanc Docker"
Asher's report:

1) Add Orthanc to docker-compose to get a server instance of it running. For now, configure it into the SQLite mode. Do *not* allow a public Orthanc port to be exposed.
2) Teach OE to proxy Orthanc requests over the private Docker network.
Once you've done this and you've handed me a thing that works, things I will do:
3) Reconfigure Orthanc to install to a Postgres server.
4) Rec

[2018-01-08 02:22] MatthewVita opened #1364 "Integrate Orthanc into Docker Compose"
Add Orthanc to docker-compose to get a server instance of it running. For now, configure it into the SQLite mode. Do *not* allow a public Orthanc port to be exposed.

[2018-01-08 02:23] MatthewVita opened #1365 "Use OpenEMR as a proxy to get to Orthanc"
Use a private Docker network, OpenEMR gACL, and a token strategy/base auth strategy to get to Orthanc.

[2018-01-08 02:23] MatthewVita commented on #1365
Make this generic so we can use it with Shiny!

[2018-01-08 02:24] MatthewVita opened #1366 "Setup Orthanc and associated Docker configurations to point at a Postgres server"

[2018-01-08 02:24] MatthewVita opened #1367 "Configure Orthanc to use the Amazon CA for Postgres SSL"

[2018-01-08 02:29] MatthewVita opened #1368 "Add helpful tooltips/documentation on what v1 features consistent of"
We need to note in the press release, the code itself (via a nice tooltip or modal, which Jerry can help with), and the wiki that v1 of our solution is mainly aimed at Xrays and we will support multi images (CT, MRI) in the next version as well as a proper PACS server (for now, clinicians and staff have to manually upload the images to OpenEMR).

Should probably noop the mouse scrolling too.

[2018-01-08 02:29] MatthewVita opened #1369 "V1 Press Release!"

[2018-01-08 02:30] MatthewVita opened #1370 "Setup DICOM Web Viewer with Orthanc"

[2018-01-08 02:31] #1363 closed

[2018-01-08 05:48] MatthewVita commented on #1297
@pelgay I'm not sure if you received my email from 12/31/17. Please let me know. I am happy to say we are making great progress on this work!

[2018-01-08 07:38] bradymiller commented on #1366
Does orthanc not use mysql?

[2018-01-08 08:58] bradymiller commented on #1359
Yep, been doing a slow code walk through to support this in the codebase. Sound like we don't yet support this in the layouts engine yet, then. If your interested, I can point you to examples where I have done this and you can take a stab at supporting this in the layout engines.

[2018-01-08 13:35] sjpadgett commented on #1368
@MatthewVita If you outline what you need I can take a look. Most likely a one time popup/user informing current limitation on app entry or a help panel.

[2018-01-08 15:53] kofiav commented on #1362
Thanks for the note, I will look into this within the next couple of days.

[2018-01-09 05:52] MatthewVita commented on #1368
@sjpadgett Thanks for being on top of it. Let me assign this to you and me, but please note that the work cannot start quite yet because the UI is not working on `master`. @kofiav is currently fixing this up. Once done, I'll re-comment here so you can take a look at the popup/user information. I'll give you the text for it too.

Thanks!

[2018-01-09 05:53] MatthewVita commented on #1366
It was SQLite and Postgres only. For most users, SQLite will be fine as it requires no setup. For cloud, we're gonna want to use Postgres for replication purposes.

@bradymiller

[2018-01-09 06:16] MatthewVita commented on #1362
@kofiav Let me know if you can't reproduce it.

Happy new year !

[2018-01-09 10:16] bradymiller commented on #1366
As with openemr/mysql dockers integration, will it make sense to build out orthanc/postgres dockers (nicely postgres docker actually uses alpine btw :) ) integration so install/integration doesn't differ across different platforms?

[2018-01-09 15:37] eyalvo-matrix commented on #1359
Sure I will have a swing on it , please share the examples

[2018-01-10 07:32] MatthewVita commented on #1366
Yup! Docker all the way!

[2018-01-10 09:09] bradymiller commented on #1196
Just committed fix for this, so closing this.

[2018-01-10 09:09] #1196 closed

[2018-01-10 18:42] bradymiller commented on #1359
@eyalvo-matrix ,
Here's a nice simple example:
https://github.com/openemr/openemr/commit/6288a8f0cb112cd432b7da631023a12338be5e61?w=1

Note:
1. The use of DateToYYYYMMDD() when initially process date to convert it to standard format. This then allows use in the code for things like sql queries etc.
2. Setting of `$datetimepicker_formatInput = true` in datetimepicker which will then have it use the

[2018-01-11 15:55] kofiav commented on #1362
I was able to reproduce it. Bizarre. Some other change on master must have clobbered the feature. I'll attempt to root it out using a git bisect.

[2018-01-11 21:31] bradymiller commented on #1055
@stephenwaite ,
Is this still a bug in most recent codebase?
-brady

[2018-01-11 22:05] bradymiller commented on #1037
On testing, this appears to have been fixed by Rod's code that places the forms within tabs. So, will close this issue.

[2018-01-11 22:05] #1037 closed

[2018-01-11 22:08] bradymiller commented on #532
This issue has not resurfaced; will keep the issue for now, but will remove it from the 5.0.1 milestone.

[2018-01-11 22:11] bradymiller commented on #381
Thanks to @sjpadgett , this bug no longer exists. Will close this issue.

[2018-01-11 22:11] #381 closed

[2018-01-11 23:01] juggernautsei commented on #1055
No, I think this works well. Had to explain to the staff that could no longer use the blank space at the top when patient walk in to make a payment without an appointment. I had to explain to use any previous encounter to enter the amount against and the biller would sort out the rest.

[2018-01-11 23:04] bradymiller commented on #1055
Great. Then will close this issue.

[2018-01-11 23:04] #1055 closed

[2018-01-11 23:35] sjpadgett commented on #1055
note: I fixed this behavior along with validations in front payment. The disappearing payments were pre payments and was caused by problems in patient ledger and validation in front payments. You can not make a payment against a todays encounter if encounter does not exist yet or patient does not have an appointment. Making a payment against past encounters for a today encounter is a bad idea and

[2018-01-12 05:14] MatthewVita commented on #1362
Cool, cool

[2018-01-12 11:55] juggernautsei commented on #1055
@stephenwaite  Glad, you said something because it totally slipped my mind about the pre-payment option. I have sent an email to the office to update them on taking in prepayments.

[2018-01-13 15:48] stephenwaite commented on #1175
https://github.com/openemr/openemr/blob/33ef407f6364a6eb1f75d7b0172708f84775dd25/interface/super/rules/controllers/alerts/controller.php#L27

found a nice approach to supressing, will put together a pr

[2018-01-13 18:35] stephenwaite commented on #1175
https://github.com/openemr/openemr/pull/1381

[2018-01-14 18:43] kofiav commented on #1362
Looks like this is the offending commit that broke the feature on `master`:

c11874506437f56bf66f9bb841220c273b6b2c85

[2018-01-14 18:45] sjpadgett commented on #1362
How?

[2018-01-14 19:51] kofiav commented on #1362
Hi @sjpadgett,

It looks like the addition of this line (https://github.com/openemr/openemr/blob/master/templates/documents/general_list.html#L14) to `templates/documents/general_list.html` (from this commit https://github.com/openemr/openemr/commit/c11874506437f56bf66f9bb841220c273b6b2c85#diff-c70919673c887048ebd7fffed9c3f510) is what's causing our problems.

A naive solution at the moment to get

[2018-01-14 20:17] sjpadgett commented on #1362
I added the style sheet for the bootstrap modal however, dlgopen() will dynamically include if missing within dialogs scope. If handy, would you comment style out then double click on say a pdf or other document icon in tree (this is what uses the dialog) then try your viewer afterwards, it would save me the setup to test.

[2018-01-14 20:54] kofiav commented on #1362
I commented out the bootstrap line and tried uploading a PDF and it worked.

![pdf](https://user-images.githubusercontent.com/4621203/34920586-e075f89a-f942-11e7-8fcc-06772838e47e.png)

So I am now able to view the DICOM files and PDFs.

![dcm](https://user-images.githubusercontent.com/4621203/34920607-387a19e0-f943-11e7-8810-1f6268d3fe4a.png)

[2018-01-14 21:00] sjpadgett commented on #1362
yep, but if you look in the document tree for icon to the left of the pdf file name and doubleclick to popup full screen viewer then knock it down and try to load the lab image, does it work? I can't seem to get viewer to work either way..

[2018-01-14 21:26] kofiav commented on #1362
Thanks, I am now starting to understand the issue.

DICOM file shows up when I click it as shown in the image I've already posted, but it doesn't work with the full screen viewer. All I get is a dialog asking me where to save the DICOM file.

![full_popup](https://user-images.githubusercontent.com/4621203/34920862-b2abc25a-f947-11e7-80fb-e62ed1543aab.png)

[2018-01-14 21:28] kofiav commented on #1362
So this is more than a bug fix. I guess the challenge will be integrating the new functionality you introduced in c11874506437f56bf66f9bb841220c273b6b2c85 with the existing DICOM web viewer.

[2018-01-14 21:34] sjpadgett commented on #1362
Yep, I can do that and at same time figure out why or what in bootstrap is bothering dicom. In the end I think we need to have the viewer work in bootstrap environment. I'm on windows now and viewer is not working and I think it has to do with mime type. Also bootstrap may be stepping on mime somehow plus I think I see a smarty problem in view template.

[2018-01-14 21:41] kofiav commented on #1362
Ha! I have had similar problems in the past on Windows (XAMPP) regarding mime type inconsistency. If it helps, the screenshot I provided is on Ubuntu 16.04, so I can't say the issue is being caused by anything intrinsic to Windows, although it's an issue that should definitely be addressed because there's a lot of people running OpenEMR on Windows.

[2018-01-14 21:42] kofiav commented on #1362
Indeed, this seems like the core issue.

[2018-01-14 23:33] sjpadgett commented on #1362
@kofiav This feature really needs to be in a container like an iframe. The imported libraries for the viewer are stepping on the tabs frame and resetting html classes for the tab, including adding a hidden class which is why the whole tab white screens because of bootstrap hidden class style. Moreover, windows wants to set the mime type to application/octet-stream (thinks it's a binary, which it i

[2018-01-15 00:30] bradymiller commented on #1175
fixed by @stephenwaite

[2018-01-15 00:30] #1175 closed

[2018-01-15 01:07] kofiav commented on #1362
Interesting, I will look into implementing it the way you mentioned to see if it will take care of the bug.

As for the mime type issue - it seems this is the code responsible for determining the mime type of a file: https://github.com/openemr/openemr/blob/master/library/classes/Document.class.php#L207-L214

Essentially, the `/usr/bin/file` command is being used to determine mime type (https://git

[2018-01-15 13:29] sjpadgett commented on #1362
Thanks for tracking the mime stuff down. So I will task myself to get mime working on windows and help ya test your changes on windows when you are ready. Also, I think we probably should not allow pop'ing out the viewer in a full screen unless you feel that would be a good option to have, if so, I can help with that.

[2018-01-16 06:35] MatthewVita commented on #1362
A +1 to putting the DICOM viewer in an iframe. Just make sure you hide the iframe borders so it looks natural.

Thanks for keeping things moving along, @kofiav and @sjpadgett 👍

[2018-01-16 10:53] bradymiller commented on #498
this was fixed via both:
https://github.com/openemr/openemr/pull/1388
https://github.com/openemr/openemr/commit/6d8234dd0e81c484e094b97ca3cfad5b3cf3930f

[2018-01-16 10:53] #498 closed

[2018-01-18 04:06] priya-anand opened #1389 "OpenEMR- (latest version) - XSS Issues"
Encountered some issues in the latest version - will send a separate message as an email attachment.

[2018-01-18 18:32] bradymiller commented on #1389
Confirmed that received above security issues via email.

[2018-01-18 23:00] ivmartel commented on #1360
The dwv application 'loadURLs' method used in the launcher ([dicom_launcher.js#L28](https://github.com/openemr/openemr/blob/c11874506437f56bf66f9bb841220c273b6b2c85/library/js/dwv/dicom_launcher.js#L28)) can handle a list of files as in this [fiddle](https://jsfiddle.net/ivmartel/hmetaz6f/).

In the dwv div ([general_view.html#L342](https://github.com/openemr/openemr/blob/c11874506437f56bf66f9bb84

[2018-01-21 00:53] MatthewVita commented on #1360
Hi @ivmartel,

Yup, we can reference multiple files, though we'll have to tweak some things as currently we don't have a way to map things in a bundle.

[2018-01-21 00:58] MatthewVita commented on #1360
@bradymiller any thoughts on bundling documents for this purpose? Eventually the files will live in Orthanc so this just needs to work. Maybe we can the user mainly label each file with a group identifier so we can query against that and the upload time?

[2018-01-24 09:58] bradymiller commented on #1360
@MatthewVita ,
Could bundle it as a zip possibly and then go from there.

[2018-01-24 17:37] sjpadgett commented on #1362
@kofiav @MatthewVita Hi guys, I went ahead and created a php script for the viewer and integrated into an iframe in documents.  Still need to decide where I want the script to reside and fix windows mime type for dicom. Will put up PR later today to review. I allowed viewer to pop out to full screen window in case one would want to view several images. If somebody were so inclined, I would look at

[2018-01-24 21:04] sjpadgett commented on #1362
P.R #1395 Have not tested on linux but should not be an issue unless I stepped on a path. Doubtful :)

[2018-01-25 17:23] sjpadgett commented on #1362
Tested well plus added viewer dialog from left tree file icon dblclick. I'm satisfied this issue is resolved so if you guys agree, please close.

[2018-01-26 20:13] kofiav commented on #1362
Agreed

[2018-01-27 05:36] MatthewVita commented on #1362
Amazing! Just did some QA. Everything is smooth.

[2018-01-27 05:36] #1362 closed

[2018-01-27 05:37] MatthewVita commented on #1361
Ha, this is actually not needed because we're using the simple view for DWV. There is no text displayed in the viewer pane itself so this is not needed!!!

[2018-01-27 05:37] #1361 closed

[2018-01-27 05:38] MatthewVita commented on #1368
@sjpadgett, @kofiav,

Do you guys think we even need documentation in the system? I feel like the UI is very intuitive. Doesn't need a modal popup explaining it...

[2018-01-27 05:39] MatthewVita commented on #1368
(Of course we'll add the feature to the wiki and throw some stuff there)

[2018-01-27 05:43] MatthewVita commented on #1360
@bradymiller,

I don't think the zip will work. Basically the DWV api for this is like so:

[code]

This may be the first document-related interaction that requires a grouping schema, unless there has been an example of this in years past?

[2018-01-27 05:44] MatthewVita commented on #1369
@sjpadgett @kofiav @ivmartel - I will start on this!

[2018-01-27 11:59] sjpadgett commented on #1368
The only potential user issue I see currently will be dealing with mime type for DICOM files. I took a cheap route to determine in windows by using if file is binary then looking at file extension, leaving a possibility user could rename file extension. Also the mime type is determined in two different locations with upload using the depreciated $_FILES for file information. Really need to write a

[2018-01-27 12:07] sjpadgett commented on #1361
Hi @MatthewVita , really I believe this file is still called by viewer and if the new wrapper is used from somewhere else for whatever reason then, this will come up again.

[2018-01-27 12:19] sjpadgett commented on #1360
Maybe place in sub folders as a group where left tree would have another master group branch containing the group.

[2018-01-27 15:40] kofiav commented on #1360
Maybe we could do both zip files and groups? 🤔

With zip files the grouping is implicit. We just need a way to instruct users to only upload images from separate CT and MRI scans in zip files.

I like @sjpadgett's of creating sub-folders in the left tree that represent a group. The tricky thing will have to be how to implement this in an intuitive way. The whole notion of a 'group' in the left tre

[2018-01-27 15:49] kofiav commented on #1369
Sounds good, thanks!

Let us know if you need us to do anything.

[2018-01-27 15:54] sjpadgett commented on #1360
I've got my Java hat on right now but I'll take a look at a thought on this later today..

[2018-01-27 17:09] MatthewVita commented on #1360
Wow, very cool @ivmartel .

I would say let's just use the zip file approach for now and not add anything else because the next step is to connect to Orthanc PACS server. That will be the source of truth for the DICOM files so it's totally automated.

[2018-01-27 17:09] MatthewVita commented on #1360
Go team!

[2018-01-27 17:12] kofiav commented on #1368
@sjpadgett about the mime type, I agree a more elegant solution is needed so that it won't cause further issues down the line.

I'm assuming $_FILES is returning the wrong mime type on Windows - that's the root cause of the issue right?

Let me know if you need any help with this.

[2018-01-27 17:32] sjpadgett commented on #1368
Yep, some other ways i've tried of various php methods stick to stream. May be a way to config apache but i'll come up with something more reliable but ,really that upload work flow needs to be redone due to some depreciation's. Who knows, perhaps i'll get inspired(been know to happen) to come up with a grouping method to at least zip on the fly...

[2018-01-27 19:52] kofiav commented on #1360
Sounds good, I'll try to set up a prototype using the zip file approach.

[2018-01-27 20:29] e1th0r commented on #532
Hi,
Upgrading from 4.2.2 to 5.0.0 show this error

OpenEMR Database Upgrade
Processing 4_2_2-to-5_0_0_upgrade.sql ...
Skipping section #IfTextNullFixNeeded
Skipping section #IfTableEngine ar_activity MyISAM
Skipping section #IfTableEngine claims MyISAM
Skipping section #IfTableEngine procedure_answers MyISAM
Skipping section #IfTableEngine procedure_order_code MyISAM
Skipping section #IfInnoDBMigr

[2018-01-27 21:34] sjpadgett commented on #532
Best if you can upgrade to at least 10.2-MariaDB. Will save from doing a one off fix you'd have to keep track of. @bradymiller I'm thinking maybe this table needs to be looked at closer...

[2018-01-27 22:21] e1th0r commented on #532
Bad news for me... is a shared hosting so I cannot upgrade database to 10.2 version.

[2018-01-27 22:41] sjpadgett commented on #532
Try this then: open in your editor file: /openemr/sql/4_2_2-to-5_0_0_upgrade.sql then goto L148 which looks like:
) ENGINE=InnoDB; and add: ROW_FORMAT=DYNAMIC making line 148:
) ENGINE=InnoDB ROW_FORMAT=DYNAMIC;
May be able to get away with this till update...

[2018-01-27 22:52] e1th0r commented on #532
Thank.. same error:

Processing 4_2_2-to-5_0_0_upgrade.sql ...
Skipping section #IfTextNullFixNeeded
Skipping section #IfTableEngine ar_activity MyISAM
Skipping section #IfTableEngine claims MyISAM
Skipping section #IfTableEngine procedure_answers MyISAM
Skipping section #IfTableEngine procedure_order_code MyISAM
Skipping section #IfInnoDBMigrationNeeded
CREATE TABLE `valueset` ( `nqf_code` varcha

[2018-01-27 23:06] sjpadgett commented on #532
Do you have access to your mysql config? Also, give me a few and I'll look at the code to determine if we actually need varchar there...

[2018-01-27 23:08] e1th0r commented on #532
Sorry I haven't is a shared hosting :-(

[2018-01-27 23:15] sjpadgett commented on #532
give me a bit to figure out a leaner structure...

[2018-01-27 23:47] sjpadgett commented on #532
Change structure to:

  `nqf_code` varchar(32) NOT NULL DEFAULT '',
  `code` varchar(32) NOT NULL DEFAULT '',
  `code_system` varchar(255) NOT NULL DEFAULT '',
  `code_type` varchar(255) DEFAULT NULL,
  `valueset` varchar(127) NOT NULL DEFAULT '',
  `description` varchar(255) DEFAULT NULL,
  `valueset_name` varchar(500) DEFAULT NULL,

[2018-01-28 05:26] e1th0r commented on #532
Ok, using your provide patch it work to other point and fail showing:

ERROR: query failed: CREATE TABLE `form_eye_mag_prefs` ( `PEZONE` varchar(25) DEFAULT NULL, `LOCATION` varchar(25) DEFAULT NULL, `LOCATION_text` varchar(25) NOT NULL, `id` bigint(20) DEFAULT NULL, `selection` varchar(255) DEFAULT NULL, `ZONE_ORDER` int(11) DEFAULT NULL, `GOVALUE` varchar(10) DEFAULT '0', `ordering` tinyint(4) D

[2018-01-28 06:10] sjpadgett commented on #532
change ENGINE=InnoDB to ENGINE=MyISAM on L1261. same for any other eye forms that error. keep track of changes and report here so I can see what we need to make stick for 5.0.1 release.

[2018-01-28 07:36] bradymiller commented on #532
hi,

In the distant past something like this came up (when OpenEMR was converted to UTF8) where shortening of severla values were done:
https://github.com/openemr/openemr/commit/d0556e6196e4a885464147b843681eb5117c4857
https://github.com/openemr/openemr/commit/78992e266a5ec0f769061b930f3b2ac9925cd258

In this case, we've had this issue reported just twice in the last year since related to combinat

[2018-01-28 07:39] bradymiller commented on #532
in regards to my comment above, would placing innodb_large_prefix=1 here fix things (if so, then I could add this setting to the other 5 sql connectors):
https://github.com/openemr/openemr/blob/master/library/sql.inc#L59-L63

[2018-01-28 14:15] e1th0r commented on #532
"change ENGINE=InnoDB to ENGINE=MyISAM on L1261. same for any other eye forms that error. keep track of changes and report here so I can see what we need to make stick for 5.0.1 release."

Same error...

CREATE TABLE `form_eye_mag_prefs` ( `PEZONE` varchar(25) DEFAULT NULL, `LOCATION` varchar(25) DEFAULT NULL, `LOCATION_text` varchar(25) NOT NULL, `id` bigint(20) DEFAULT NULL, `selection` varchar(

[2018-01-28 14:22] e1th0r commented on #532
So this section must be changed from:

// Turn off STRICT SQL
$sql_strict_set_success = $database->Execute("SET sql_mode = ''");
if (!$sql_strict_set_success) {
 error_log("Unable to set strict sql setting: ".getSqlLastError(), 0);
}

To

// Turn off STRICT SQL
$sql_strict_set_success = $database->Execute("SET sql_mode = '' innodb_large_prefix=1 ");
if (!$sql_strict_set_success) {
 error_log("Unab

[2018-01-28 15:20] sjpadgett commented on #532
Hi Hector, Sorry, I fell asleep and left you hanging with bad advice:) Yep, certainly setting prefix=1 is needed but also for offending tables ROW_FORMAT=DYNAMIC must also be set. Also set global innodb_file_format=Barracuda by doing a similar SET sql_mode.(not sure if this is 100% necessary and may want to try without setting first). Return the engine change of form_eye_mag_prefs back to innoDB.

[2018-01-29 01:32] kofiav commented on #1360
I'm adding a check for all zip files (like [this](https://stackoverflow.com/questions/9817525/in-php-is-it-possible-to-inspect-content-of-a-zip-file-without-extracting-its-co)) and only passing the zip files to the dicom viewer if it only contain dcm files.

[2018-01-29 01:39] sjpadgett commented on #1360
I'm curious Victor where the zip come from i.e are they package that way from source provider or does user create them e.t.c

[2018-01-29 02:18] MatthewVita commented on #1360
@sjpadgett This is a manual process for the version 1. The staff will be responsible for manually transporting the files AND packing them up if they should be grouped. V2 will be using a proper PACS server (Orthanc), which the device(s) will actually interface with (and, in turn, OpenEMR will interface with)

[2018-01-29 02:23] sjpadgett commented on #1360
Ah, got it. So, as said, probably not worth providing a way to drop files into a zip in the Document interface...

[2018-01-29 06:03] bradymiller commented on #532
@e1th0r ,
Turns out can not set innodb_large_prefix in the query since one needs admin access privileges. So it needs to be done in mysql config; have you tried to bring up this issue with your shared hosting provider?
-brady

[2018-01-29 06:19] bradymiller commented on #532
@sjpadgett ,
Since we don't have an easy to to deal with this, do you think we should:
Fix the offending tables to not break the key size
0r
Tell users to use a more recent version of Mysql/mariadb or configure the older version of mysql/mariadb

[2018-01-29 11:12] sjpadgett commented on #532
@e1th0r Change L1260 to this `UNIQUE KEY `id` (`id`,`PEZONE`,`LOCATION`,`selection`(127));` (remember the escape char on col name as does not show here). Just remember that the sum of all the col in index must be 255 or less so if you run into another table use this same method on the longest col size.
@bradymiller I would say upgrade for sure but in some cases it is not possible. Still we should

[2018-01-29 14:26] e1th0r commented on #532
Hi.
Sorry for my delay.
Since the emr installation is for daily work I cannot still doing tests. I did migration from 4.1.2 to 4.2 and it works perfectly.
Other consideration is about shared hosting, we're using a shared hosting and it's impossible to get administrative rights for update software or to modify database system parameters.
I think that a better approach is  tell which database server

[2018-01-29 14:27] e1th0r commented on #532
Hi.
Sorry for my delay.
Since the emr installation is for daily work I cannot still doing tests. I did migration from 4.1.2 to 4.2 and it works perfectly.
Other consideration is about shared hosting, we're using a shared hosting and it's impossible to get administrative rights for update software or to modify database system parameters.
I think that a better approach is  tell which database server

[2018-01-29 14:42] sjpadgett commented on #532
No worries, you work with what you have. The min versions of db servers would be mysql 5.7.7 or maria 10.2 which allows an index size of 3072 bytes. If you can't get your hosting provider to upgrade your server there is still hope if you give my last suggestion a go. Just let me know when you can get after hours time to update your openemr version and I will make myself available to help.

[2018-01-30 06:14] bradymiller commented on #532
hi @e1th0r ,
Is cloud an option for you? Some low cost aws cloud options can be found here:
http://www.open-emr.org/wiki/index.php/OpenEMR_Downloads#AWS_Cloud
-brady

[2018-01-30 11:41] bradymiller commented on #582
fixed by @matrix-amiel !! Thanks!!

[2018-01-30 11:41] #582 closed

[2018-01-31 02:11] kofiav commented on #1360
Just did a PR with my work in progress.

[2018-01-31 04:25] MatthewVita commented on #1369
Okay @sjpadgett @kofiav and @ivmartel I am about half way done with this. Will share in the coming days.

Yves, what's your last name? You and your software are heavily featured in the press release :)

[2018-02-01 02:35] stephenwaite commented on #1162
not seeing the above errors on ten.openemr but after register/install/enable see this:
`[01-Feb-2018 02:33:05 UTC] PHP Warning:  Illegal string offset 'cnt' in /var/www/localhost/htdocs/openemr/interface/modules/zend_modules/module/Installer/view/installer/installer/configure.phtml on line 40
[01-Feb-2018 02:33:05 UTC] PHP Warning:  Illegal string offset 'cnt' in /var/www/localhost/htdocs/openemr/

[2018-02-03 00:38] stephenwaite opened #1409 "https://community.open-emr.org/t/report-bug/9594?u=stephenwaite"

[2018-02-03 00:38] stephenwaite commented on #1409
https://community.open-emr.org/t/report-bug/9594?u=stephenwaite

[2018-02-04 02:24] kofiav commented on #1360
I guess this can be closed, or what's the next step PM @MatthewVita

[2018-02-04 06:03] MatthewVita commented on #1369
closing because the work is basically done :) Just need to figure out that last sentence (the legal stuff) and pick a release time

[2018-02-04 06:04] MatthewVita commented on #1360
Great work. I'd say the next ticket is https://github.com/openemr/openemr/issues/1370

[2018-02-04 06:04] #1360 closed

[2018-02-05 16:47] bradymiller opened #1414 "properly internationalize smoking and lifestyle options.inc.php"
properly internationalize smoking and lifestyle in options.inc.php
(and any other entries that use dates)

[2018-02-07 04:13] bradymiller commented on #1414
fixed:
https://github.com/openemr/openemr/pull/1415

[2018-02-07 04:13] #1414 closed

[2018-02-07 21:47] #1016 closed

[2018-02-12 19:28] #283 closed

[2018-02-14 17:34] jcpuzs1 opened #1423 "Localization/Filipino Translation"
I want to contribute by Localizing and translate it to my native language which is Filipino.

[2018-02-15 05:28] MatthewVita commented on #1423
Hi @jcpuzs1 - awesome!

Our website is down, but when it's up you'll want to visit http://www.open-emr.org/wiki/index.php/OpenEMR_Internationalization_Translator_Guide

@bradymiller can you invite him to the doc?

[2018-02-15 08:31] bradymiller commented on #1423
hi @jcpuzs1 ,
Thanks for offering to help with Filipino translations. Send your gmail email address to me at brady.g.miller@gmail.com and then I'll give you some overview/instructions and get you set up to be able to add translations to the translation spreadsheet.
thanks,
-brady

[2018-02-16 09:38] jcpuzs1 commented on #1423
sir I already send my gmail and also my yahoomail. Thank you sir

    On Thursday, 15 February 2018, 4:31:08 PM GMT+8, Brady Miller <notifications@github.com> wrote:

hi @jcpuzs1 ,
Thanks for offering to help with Filipino translations. Send your gmail email address to me at brady.g.miller@gmail.com and then I'll give you some overview/instructions and get you set up to be able to add translations

[2018-02-17 15:18] jcpuzs1 commented on #1423
I already send my gmail through yahoo. My gmail is johncarlsaducas@gmail.com.

[2018-02-18 01:06] bradymiller commented on #1423
hi @jcpuzs1 ,
Thanks! Got your email also. Had some technical issues on website, but should be getting you access to the translation spreadsheet by tomorrow. Also check out this page to see more details on the internationalization project: https://www.open-emr.org/wiki/index.php/OpenEMR_Internationalization_Translator_Guide#Overview
thanks,
-brady

[2018-02-18 06:31] jcpuzs1 commented on #1423
Okay sir, Thank you and I will wait sir

[2018-02-19 12:01] bradymiller commented on #1423
hi @jcpuz ,
Just emailed you with instructions and gave you access to the translation spreadsheet. Gonna close this issue, but feel free to reopen it if have any issues.
thanks!
-brady

[2018-02-19 12:01] #1423 closed

[2018-02-19 14:34] jcpuzs1 commented on #1423
Sir thank you so much. Is it okay if I translate it by 1000 words or 1000 plus ? I will diveide it into 1000's ?
    On Monday, 19 February 2018, 8:01:09 PM GMT+8, Brady Miller <notifications@github.com> wrote:

Closed #1423.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-02-20 05:05] bradymiller commented on #1423
hi @jcpuzs1 ,
Translate it however is easiest for you. Doing a thousand at a time may cause premature aging, though :)
thanks!
-brady

[2018-02-20 14:08] jcpuzs1 commented on #1423
Im sorry but i have a question if you dont mind. Where can I see the number of words that are translated. Im sorry Im still exploring it. Thanks

[2018-02-20 14:54] eyalvo-matrix opened #1431 "popups->chart/Barcode/address Lable : tab name is Unknown"
When opening a document with the epdf lib the displayed document does not have title tag
this causes the tab name to be displayed as "Unknown"
for example :
related files to the barcode are
interface/patient_file/barcode_label.php
interface/main/tabs/js/custom_bindings.js

causing this:

![image](https://user-images.githubusercontent.com/20621444/36430285-7d52060e-165d-11e8-8812-d4b2ca60fdaa.png)

[2018-02-20 15:48] sjpadgett commented on #1431
Hi @eyalvo-matrix, Maybe this way...
Setting title in pdf will write title to barcode so I suggest wrapping the barcode_label.php in html and set doctype and dynamic title. i.e <title><?php echo xlt($thistitle); ?></title>, Get patient data from globals or session.

[2018-02-20 17:50] bradymiller commented on #271
Another option is to just use the xl() family of functions as is done here:
https://github.com/openemr/openemr/pull/1430

[2018-02-21 07:03] eyalvo-matrix commented on #1431
Hi @sjpadgett but where to put  "<title><?php echo xlt($thistitle); ?></title> " ?
putting it in  in barcode_label.php before "$pdf->Output();" causes the pdf not to be displayed
and putting it after "$pdf->Output();" make no difference

[2018-02-21 13:27] sjpadgett commented on #1431
Hmm, Let me take a shot and i'll get back to ya @eyalvo-matrix.

[2018-02-21 17:36] sjpadgett commented on #1431
Hi @eyalvo-matrix , Just realized this is meant and is an actual popup in frame ui. Your purposed solutions would work but are tailored to tabs and I would much prefer a generic solution of treating the script as a popup in tabs and title the dialog. The fact this script is opened in a tab is an oversight from the frame to tab conversion and should present the same in both interfaces(Plus there is

[2018-02-22 08:59] eyalvo-matrix commented on #1431
great :)
![image](https://user-images.githubusercontent.com/20621444/36528936-72d167de-17bf-11e8-93ef-b22642f3be0a.png)

[2018-02-22 16:38] sjpadgett commented on #1431
@eyalvo-matrix Hi,
Please see https://github.com/openemr/openemr/pull/1434 and close this issue if it resolves for you. Thank you.

[2018-02-22 17:58] bradymiller commented on #1423
hi @jcpuzs1 ,
The spreadsheet is processed daily and the stats for that can be found here:
https://raw.githubusercontent.com/openemr/translations_development_openemr/master/stats.txt
-brady

[2018-02-23 01:23] arnabnaha opened #1435 "openemr merge issue in github"
hi..
I am getting this message whenever I am trying to push origin +master -
error:1407742E:SSL routines:SSL23_GET_SERVER_HELLO:tlsv1 alert protocol versionwhile accessing https://github.com/arnabnaha/openemr.git/info/refs fatal:HTTP request failed

Cant merge/update my database..please help

[2018-02-23 05:55] bradymiller commented on #1435
This seems like a github issue. Are you able to:
1. Create a temporary branch
2. Push that branch to github (ie. origin)

[2018-02-23 12:02] arnabnaha commented on #1435
Hi Brady...
I am able to create a branch called test, but on pushing using the command git push origin +test, it given me the same error

Can you tell me whether using ssh will help or not?? if yes, plz tell me how to switch to ssh

Thanks and regards
Arnab

[2018-02-23 13:03] sjpadgett commented on #1435
While not a git virgin(Brady was my first:)) have you upgraded your git client of late? Looks like git thinks you are talking http...

[2018-02-23 13:05] arnabnaha commented on #1435
No i havent updated my client. I have the same version as before

On 23 Feb 2018 18:33, "Jerry Padgett" <notifications@github.com> wrote:

While not a git virgin(Brady was my first:)) have you upgraded your git
client of late? Looks like git thinks you are talking http...

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/

[2018-02-23 13:10] sjpadgett commented on #1435
I think git has done some changes recently with weak encryption. Upgrade your git and client will solve (I think)...

[2018-02-23 13:34] arnabnaha commented on #1435
I upgraded the client and gui...everything works fine...thanks a lot

On 23 Feb 2018 18:40, "Jerry Padgett" <notifications@github.com> wrote:

[2018-02-23 17:05] arnabnaha commented on #1435
Thanks all..closing the issue

[2018-02-23 17:05] #1435 closed

[2018-02-28 15:13] stephenwaite opened #1442 "Reports->Appt/Enc can't handle multiple visits for different providers"
https://community.open-emr.org/t/appointments-and-encounters-report-bug/9698/2

[2018-03-03 16:46] bradymiller commented on #410
Gonna close this since have above newer PR for this.

[2018-03-03 16:48] bradymiller commented on #410
Actually, gonna leep this open, since it is an Issue (and not a PR)

[2018-03-03 17:28] bradymiller commented on #477
Fix for this has been posted here: https://github.com/openemr/openemr/pull/1448

[2018-03-04 08:03] bradymiller commented on #477
Above fix was brought into codebase so closing this issue.

[2018-03-04 08:03] #477 closed

[2018-03-04 10:26] bradymiller opened #1451 "php-mcrypt has been removed in php 7.2 which will be used by ubuntu 18.04"
info here:
http://php.net/manual/en/migration71.deprecated.php

Need to do analysis to see where this is used in OpenEMR and if a fix is needed.

[2018-03-04 11:52] bradymiller opened #1452 "Need PHP 7.2 testing (ie. call to arms)"
Just set up a Ubuntu 18.04 (their beta version) demo docker, which uses PHP 7.2 here:
https://www.open-emr.org/wiki/index.php/Development_Demo#Alternate_Demo_.28Ubuntu_18.04_-_uses_php_7.2.29

This needs lots of testing. Just click on everything you can imagine and check the log while doing this. And report broken things or log output.

[2018-03-04 11:54] bradymiller commented on #1451
Looks like the `Enable Audit Log Encryption` in Globals->Logging requires this, which is of course a critical MU2 requirement ...

[2018-03-04 11:56] bradymiller commented on #1451
Looks like php-mcrypt is getting migrated from core to PHP PECL. So will be better if support this encryption via OpenSSL, if possible. More research needed.

[2018-03-04 12:08] bradymiller commented on #1451
https://stackoverflow.com/questions/43482840/php-convert-mcrypt-encrypt-to-openssl-encrypt-soap-header

[2018-03-04 16:23] sunsetsystems commented on #1451
Why is PHP always breaking stuff in new releases? :)

[2018-03-05 12:15] bradymiller commented on #1451
yep, they like to keep us all on our toes. I suppose it's better than still using PHP3, though :)

[2018-03-06 06:51] bradymiller commented on #1451
Man, it is just keeps getting a little worse: https://stackoverflow.com/questions/42265194/how-to-decrypt-a-string-with-openssl-which-was-previously-encrypted-with-mcrypt

[2018-03-06 06:57] bradymiller commented on #1451
If above link is true, we have an interesting dilemma. All log comments that were encrypted in 5.0.0 will not be viewable or able to decrypt in 5.0.1 after upgrade. This is not the end of the world since one could always bring the log tables to a 5.0.0 instance for auditing if needed; but it is a real pain. In a way it does make the changes easier since do not need to deal with the prior log data

[2018-03-06 11:40] bradymiller commented on #1451
Code proposal here:
https://github.com/openemr/openemr/pull/1455

After get the code dealt with, then need to remove mcrypt from dependencies in ubuntu packages and dockers (in dockers(and double check after install ubuntu packages), need to ensure php-openssl is installed).

[2018-03-06 15:04] sunsetsystems commented on #1451
Looks like patient documents might also be encrypted with mcrypt? See controllers/C_Document.class.php.
Might need to find a substitute library.

[2018-03-07 02:54] bradymiller commented on #1451
Hi @sunsetsystems ,

Note that is an odd feature and I think does the opposite of what you think. As I recall, it doesn't encrypt on storage, but encrypts the file when the user downloads it(and then decrypts when you upload it).

Also, we may get lucky, and that cipher may be supported by openssh.

Also plan to think of making the the audit log stuff a bit more standardized (use a different $iv f

[2018-03-07 08:57] eyalvo-matrix opened #1456 "dialog.js rtl support"
dialog.js  loads css without referring to the $_SESSION['language_direction']

![image](https://user-images.githubusercontent.com/20621444/37082780-1b671610-21f6-11e8-99e1-b55fe19d77d4.png)

  it should load public/assets/bootstrap-rtl-3-3-4/dist/css/bootstrap-rtl.min.css

[2018-03-07 09:12] bradymiller commented on #1456
Sounds like a job for super @sjpadgett
(with super man music playing in the background)

[2018-03-07 10:21] eyalvo-matrix commented on #1313
This one slipped from me , this is an old one, It works now so I am closing this
thanks for the help :)

[2018-03-07 10:21] #1313 closed

[2018-03-07 12:18] sjpadgett commented on #1456
That would be The Doobie Bro's. I've often wondered if at some point in history it was a teenager, just to annoy their parents, that started writing ltr! I've got this...

[2018-03-07 15:06] sjpadgett commented on #1456
@eyalvo-matrix Take a peek here: https://github.com/openemr/openemr/pull/1457

[2018-03-08 09:46] bradymiller commented on #1451
Hi @sunsetsystems ,

Found a better solution that does not require mcrypt (or even openssl) and is using a library that OpenEMR already has. Check out the PR. Initial testing looks good. Still need to test to ensure that stuff that was previosly encrypted will decrypt correctly.

-brady

[2018-03-08 14:36] sunsetsystems commented on #1451
@bradymiller Tested with mcrypt unavailable? I saw some mcrypt stuff in phpseclib but I guess it handles the case where it's not present. Assuming yes that's excellent!

[2018-03-08 14:42] sunsetsystems commented on #1451
Looks like we're OK if phpseclib is reasonably up to date: https://github.com/phpseclib/phpseclib/issues/1229

[2018-03-09 07:54] bradymiller commented on #1451
hi @sunsetsystems ,

Just checked in a different strategy that upgrades the encryption scheme (to use injection vectors and a secret, unique key), which will also be backward compatible to show the prior encrypted log messages via mcrypt (if the user has the mycrpt module installed). Note I didn't try to make backward compatible with the document encryption since it's encrypted on client side and

[2018-03-09 08:02] bradymiller commented on #1451
@sjpadgett ,

2 questions regarding this:

1. I have noted use of the aes256Encrypt() and aes256Decrypt()  in the new patient portal. Note I upgraded these functions (https://github.com/openemr/openemr/pull/1455) since mcrypt is going away and also made them more secure. It should work for what you are doing right now; but if users encrypted stuff previously, then it won't be able to decrypt them

[2018-03-10 08:27] bradymiller commented on #1451
PHP, you will not stop us... :)
just brought in this at https://github.com/openemr/openemr/issues/1451
So, gonna close this item

[2018-03-10 08:27] #1451 closed

[2018-03-10 23:16] bradymiller opened #1460 "deprecated in adodb.inc.php"
The each() function is deprecated. This message will be suppressed on further calls in /var/www/html/openemr/vendor/adodb/adodb-php/adodb.inc.php on line 1167

[2018-03-10 23:18] bradymiller opened #1461 "deprecated in Smarty_Compiler.class.php"
Function create_function() is deprecated in /var/www/html/openemr/vendor/smarty/smarty/libs/Smarty_Compiler.class.php on line 269

[2018-03-10 23:22] bradymiller opened #1462 "Warning in manage_document_templates.php"
PHP Warning:  opendir(/var/www/html/openemr/sites/default/documents/doctemplates): failed to open dir: No such file or directory in /var/www/html/openemr/interface/super/manage_document_templates.php on line 151

[2018-03-10 23:25] bradymiller opened #1463 "Warning in clinical_rules.php"
PHP Warning:  Use of undefined constant date_target - assumed 'date_target' (this will throw an Error in a future version of PHP) in /var/www/html/openemr/library/clinical_rules.php on line 505
PHP Warning:  Use of undefined constant date_begin - assumed 'date_begin' (this will throw an Error in a future version of PHP) in /var/www/html/openemr/library/clinical_rules.php on line 500

[2018-03-10 23:30] bradymiller opened #1464 "Warning in report.inc"
PHP Warning:  Use of undefined constant title - assumed 'title' (this will throw an Error in a future version of PHP) in /var/www/html/openemr/library/report.inc on line 11
[10-Mar-2018 23:26:32 UTC] PHP Warning:  Use of undefined constant fname - assumed 'fname' (this will throw an Error in a future version of PHP) in /var/www/html/openemr/library/report.inc on line 12
[10-Mar-2018 23:26:32 UTC]

[2018-03-10 23:32] bradymiller opened #1465 "Warning in svc_code_financial_report.php"
PHP Warning:  count(): Parameter must be an array or an object that implements Countable in /var/www/html/openemr/interface/reports/svc_code_financial_report.php on line 345

[2018-03-10 23:34] bradymiller opened #1466 "Warning in locale.class.php"
PHP Warning:  count(): Parameter must be an array or an object that implements Countable in /var/www/html/openemr/library/html2pdf/_class/locale.class.php on line 68

[2018-03-11 03:27] bradymiller opened #1467 "Warning in facilities_add.php"
PHP Warning:  sizeof(): Parameter must be an array or an object that implements Countable in /var/www/html/openemr/interface/usergroup/facilities_add.php on line 233

[2018-03-11 03:29] bradymiller opened #1468 "Warning in usergroup_admin.php"
PHP Warning:  count(): Parameter must be an array or an object that implements Countable in /var/www/html/openemr/interface/usergroup/usergroup_admin.php on line 30

[2018-03-11 03:33] bradymiller opened #1469 "Warning in C_Pharmacy.class.php"
PHP Warning:  get_class() expects parameter 1 to be object, null given in /var/www/html/openemr/controllers/C_Pharmacy.class.php on line 30

[2018-03-11 03:33] bradymiller opened #1470 "Warning in Pharmacy.class.php"
Use of undefined constant TYPE_EMAIL - assumed 'TYPE_EMAIL' (this will throw an Error in a future version of PHP) in /var/www/html/openemr/library/classes/Pharmacy.class.php on line 135

[2018-03-11 03:34] bradymiller opened #1471 "Warning in C_InsuranceNumbers.class.php"
PHP Warning:  get_class() expects parameter 1 to be object, null given in /var/www/html/openemr/controllers/C_InsuranceNumbers.class.php on line 31
PHP Warning:  get_class() expects parameter 1 to be object, null given in /var/www/html/openemr/controllers/C_InsuranceNumbers.class.php on line 36

[2018-03-11 03:37] bradymiller opened #1472 "Warning in gacl_api.class.php"
PHP Warning:  count(): Parameter must be an array or an object that implements Countable in /var/www/html/openemr/gacl/gacl_api.class.php on line 948

[2018-03-11 04:15] bradymiller commented on #1468
In this case, I think just need to substitute $access_group on line 30 with $_POST['access_group']
(I actually think this will also fix a bug where the admin was not getting emailed when giving a user the Emergency Login access :) )

[2018-03-11 05:20] bradymiller commented on #1461
fixed with package upgrade

[2018-03-11 05:20] #1461 closed

[2018-03-11 05:22] bradymiller commented on #1460
Note fixed with a package upgrade. This has been fixed in their master branch repository and is a quick one line fix. To avoid this annoying log entry that is called numerous times, it may make sense to fix the package (we don't like modifying stuff in vendor, but I think it makes sense here).

[2018-03-11 05:43] willingtone commented on #465
ohh my solution was to increase max_execution_time in php.in file

[2018-03-11 07:29] bradymiller commented on #1460
fixed

[2018-03-11 07:29] #1460 closed

[2018-03-11 15:02] bradymiller opened #1476 "ERROR in Zend manage modules"
Following error in PHP 7.2 when click Modules->Manage Modules along with white screen of death:
[code]

[2018-03-11 15:14] bradymiller opened #1477 "Warning in TabsWrapper.php"
PHP Warning:  Use of undefined constant INCLUDED_JQUERY_UI_CSS - assumed 'INCLUDED_JQUERY_UI_CSS' (this will throw an Error in a future version of PHP) in /var/www/html/openemr/library/tabs/src/TabsWrapper.php on line 54
PHP Warning:  Use of undefined constant INCLUDED_TW_ONETIME_CSS - assumed 'INCLUDED_TW_ONETIME_CSS' (this will throw an Error in a future version of PHP) in /var/www/html/openemr/

[2018-03-11 15:15] bradymiller opened #1478 "Warning in forms.php"
count(): Parameter must be an array or an object that implements Countable in /var/www/html/openemr/interface/patient_file/encounter/forms.php on line 872

[2018-03-11 15:16] bradymiller opened #1479 "Warning in new.php"
PHP Warning:  A non-numeric value encountered in /var/www/html/openemr/interface/forms/fee_sheet/new.php on line 478
PHP Warning:  A non-numeric value encountered in /var/www/html/openemr/interface/forms/fee_sheet/new.php on line 1075

[2018-03-11 15:21] bradymiller opened #1480 "Warning in main_info.php"
PHP Warning:  count(): Parameter must be an array or an object that implements Countable in /var/www/html/openemr/interface/main/main_info.php on line 66

[2018-03-11 15:25] bradymiller opened #1481 "PHP 7.2 warnings when open eye form/module"
It was too big to include here, so placed it in a gist (guessing there are a lot of repeats).
https://gist.github.com/bradymiller/f90324b20fdb3d6009fd22bb0ee0fb50

[2018-03-11 15:27] bradymiller opened #1482 "Warning in encounters.php"
PHP Warning:  count(): Parameter must be an array or an object that implements Countable in /var/www/html/openemr/interface/patient_file/history/encounters.php on line 97

[2018-03-11 15:29] bradymiller opened #1483 "Deprecated in patient.inc"
PHP Deprecated:  The each() function is deprecated. This message will be suppressed on further calls in /var/www/html/openemr/library/patient.inc on line 1374
PHP Deprecated:  The each() function is deprecated. This message will be suppressed on further calls in /var/www/html/openemr/library/patient.inc on line 1408

[2018-03-11 15:31] bradymiller opened #1484 "Warning in disclosure_full.php"
PHP Warning:  Use of undefined constant description - assumed 'description' (this will throw an Error in a future version of PHP) in /var/www/html/openemr/interface/patient_file/summary/disclosure_full.php on line 130
[11-Mar-2018 15:30:25 UTC] PHP Warning:  Use of undefined constant id - assumed 'id' (this will throw an Error in a future version of PHP) in /var/www/html/openemr/interface/patient_

[2018-03-11 15:34] bradymiller opened #1485 "Warning in immunizations.php"
[11-Mar-2018 15:33:27 UTC] PHP Warning:  count(): Parameter must be an array or an object that implements Countable in /var/www/html/openemr/interface/patient_file/summary/immunizations.php on line 573
[11-Mar-2018 15:33:27 UTC] PHP Warning:  count(): Parameter must be an array or an object that implements Countable in /var/www/html/openemr/interface/patient_file/summary/immunizations.php on line

[2018-03-11 15:35] bradymiller opened #1486 "Warning in C_Prescription.class.php"
PHP Warning:  get_class() expects parameter 1 to be object, null given in /var/www/html/openemr/controllers/C_Prescription.class.php on line 108

[2018-03-11 15:41] bradymiller opened #1487 "Warning in pat_ledger.php"
PHP Warning:  Use of undefined constant umname - assumed 'umname' (this will throw an Error in a future version of PHP) in /var/www/html/openemr/interface/reports/pat_ledger.php on line 819

[2018-03-11 15:44] bradymiller opened #1488 "Warning in custom_report.php"
PHP Warning:  count(): Parameter must be an array or an object that implements Countable in /var/www/html/openemr/interface/patient_file/report/custom_report.php on line 432

[2018-03-11 15:45] bradymiller opened #1489 "Warning in createCCR.php"
PHP Warning:  DOMDocument::save(/var/www/html/openemr/ccr/generatedXml/ccrForCCD.xml): failed to open stream: No such file or directory in /var/www/html/openemr/ccr/createCCR.php on line 215
[11-Mar-2018 15:44:36 UTC] PHP Warning:  DOMDocument::save(/var/www/html/openemr/ccr/generatedXml/ccdDebug.xml): failed to open stream: No such file or directory in /var/www/html/openemr/ccr/createCCR.php on l

[2018-03-11 15:48] bradymiller commented on #1452
Did a quick run through and reported all the Errors, Deprecated, and Warnings in issues. Now we need to fix them :)
(and my run through was pretty superficial; just clicked on every screen I could, but likely missed many in depth things; so feel free to keep testing and reporting other issues on this)

[2018-03-11 15:58] bradymiller opened #1490 "Warning in both onsite patient portals"
PHP Warning:  ini_set(): A session is active. You cannot change the session module's ini settings at this time in /var/www/html/a/openemr/interface/globals.php on line 43
PHP Warning:  ini_set(): A session is active. You cannot change the session module's ini settings at this time in /var/www/html/a/openemr/interface/globals.php on line 92
PHP Warning:  session_name(): Cannot change session name w

[2018-03-11 15:59] bradymiller commented on #1490
hi @sjpadgett ,
Looks like PHP 7.2 is showing session issues in both onsite portals. Thoughts?
-brady

[2018-03-12 15:39] #1483 closed

[2018-03-12 17:11] #1484 closed

[2018-03-12 17:14] bradymiller commented on #1484
fixed

[2018-03-12 17:15] bradymiller commented on #1483
fixed

[2018-03-12 21:42] sunsetsystems commented on #1477
I don't get this. Why would defining a constant, or testing if it's defined, be illegal?

[2018-03-12 21:45] bradymiller commented on #1477
Turns out these warnings are very easy fixes. Just need to surround the  INCLUDED_JQUERY_UI_CSS with single quotes in line 54 (and same in ther lines)
[code]

[2018-03-12 21:47] sunsetsystems commented on #1477
Duh. Thanks. :)

[2018-03-12 23:52] bradymiller commented on #1464
fixed

[2018-03-13 00:46] bradymiller commented on #1487
fixed

[2018-03-13 00:46] #1487 closed

[2018-03-13 00:46] bradymiller commented on #1477
fixed

[2018-03-13 00:46] #1477 closed

[2018-03-13 00:46] bradymiller commented on #1470
fixed

[2018-03-13 00:46] #1470 closed

[2018-03-13 00:46] bradymiller commented on #1463
fixed

[2018-03-13 00:46] #1463 closed

[2018-03-13 00:56] bradymiller commented on #1488
Here's where the count() warning was decided by PHP:
https://wiki.php.net/rfc/counting_non_countables

[2018-03-13 00:59] bradymiller commented on #1488
Very interesting why PHP did this. If you try to count something that is not countable it will return 1 which would introduce bugs. If the variable is null, then it will return 0 (which is generally what happens in most of code where OpenEMR will have this warning). So, basically should rule out null first before doing the count (at least I think that will work). Will try that for this issue and s

[2018-03-13 07:55] bradymiller commented on #1464
Still have the following 2 warnings in this script:
PHP Warning:  Use of undefined constant next - assumed 'next' (this will throw an Error in a future version of PHP) in /var/www/html/openemr/library/report.inc on line 466
PHP Warning:  sizeof(): Parameter must be an array or an object that implements Countable in /var/www/html/openemr/library/report.inc on line 533

[2018-03-13 07:57] bradymiller commented on #1488
fixed

[2018-03-13 07:57] #1488 closed

[2018-03-13 07:57] bradymiller commented on #1482
fixed

[2018-03-13 07:57] bradymiller commented on #1480
fixed

[2018-03-13 07:57] #1480 closed

[2018-03-13 07:57] bradymiller commented on #1478
fixed

[2018-03-13 07:57] #1478 closed

[2018-03-13 07:57] bradymiller commented on #1472
fixed

[2018-03-13 07:57] #1472 closed

[2018-03-13 07:57] bradymiller commented on #1466
fixed

[2018-03-13 07:57] #1466 closed

[2018-03-13 07:57] bradymiller commented on #1465
fixed

[2018-03-13 07:57] #1465 closed

[2018-03-13 07:58] bradymiller commented on #1485
fixed

[2018-03-13 07:58] #1485 closed

[2018-03-13 07:58] #1482 closed

[2018-03-13 08:12] eyalvo-matrix opened #1500 "Deactivating patient messages results in white screen"
How to repreduce
  Messages -> Edit->uncheck the Active  of one of the messages-> Update Active
 Getting white screen (in Frame mode)
(Also happens when there is no messages and pressing  Update Active)

in screen
![image](https://user-images.githubusercontent.com/20621444/37329565-fdf3e9e0-26a6-11e8-9413-0878764868f9.png)

this is because line 164 in pnotes_full.php
exit(); // add exit for ajax s

[2018-03-13 08:13] eyalvo-matrix commented on #1500
This is maybe dialog.js issue
@sjpadgett  can you have a look on it ?

[2018-03-13 09:18] sjpadgett commented on #1500
Yep, I was a little unsure about doing this so I commented. Can you remove exit and try both a save and  active for me? I think that will work but if not just add a conditional for the active check box to fall through. I'd do it but just reconfig'ed my setup to work on Dicom viewer patch for v5.0.0...

[2018-03-13 09:21] eyalvo-matrix commented on #1500
Sure

[2018-03-13 09:43] eyalvo-matrix commented on #1500
Oh i see you add && $mode != "update" I will get the latest pull and recheck it

[2018-03-13 09:43] #1500 closed

[2018-03-13 09:47] sjpadgett commented on #1500
Sometimes my friend, we just get lusky!:)

[2018-03-14 00:04] bradymiller opened #1501 "Administration->Practice->Pharmacies->Default Method"
In development codebase, this always stays on Print no matter what is actually saved.

[2018-03-14 00:05] bradymiller opened #1502 "New Encounter visit category has "No Show" as a choice"
Bug in development codebase
No Show should not be an option for a encounter visit category

[2018-03-14 00:51] bradymiller commented on #1486
fixed

[2018-03-14 00:51] #1486 closed

[2018-03-14 00:51] bradymiller commented on #1471
fixed

[2018-03-14 00:51] #1471 closed

[2018-03-14 00:52] bradymiller commented on #1469
fixed

[2018-03-14 00:52] #1469 closed

[2018-03-15 07:03] bradymiller commented on #1464
ok, now this has been completely fixed.

[2018-03-15 07:03] #1464 closed

[2018-03-15 07:16] bradymiller commented on #1481
Will retest this soon, since there will likely be much less warnings since have recently fixed other related warnings.

[2018-03-15 08:15] bradymiller commented on #1467
fixed

[2018-03-15 08:15] #1467 closed

[2018-03-15 08:15] bradymiller commented on #1479
fixed

[2018-03-15 08:15] #1479 closed

[2018-03-15 08:15] bradymiller commented on #1462
fixed

[2018-03-15 08:15] #1462 closed

[2018-03-15 08:16] bradymiller commented on #1489
fixed

[2018-03-15 08:16] #1489 closed

[2018-03-15 17:08] bradymiller commented on #1456
@eyalvo-matrix ,
Let me know if this is fixed, so I can close this issue.
thanks,
-brady

[2018-03-15 22:34] bradymiller commented on #1468
fixed by @sssopen !

[2018-03-15 22:34] #1468 closed

[2018-03-16 01:20] sssopen commented on #1502
This seems to be a data issue. The Visit Category drop down is being populated using the below SQL:

SELECT pc_catid, pc_catname, pc_cattype
FROM openemr_postcalendar_categories
WHERE pc_active = 1  and pc_cattype IN (0,3) ORDER BY pc_seq

The resultset of the SQL is below. If we delete the record with "No Show" pc_catname, it should not populate in the drop down list. Is my understanding correct?

[2018-03-16 02:06] bradymiller commented on #1502
hi @sssopen
Good analysis, and that would get rid of No show. However, in most cases, we need to show the No Show option other than here. So, in this case, we should filter it out by not to SELECT where the 'pc_constant_id'  sql column is equal to 'no_show'

[2018-03-16 02:17] sssopen commented on #1501
Here is my analysis:
general.list.html is displaying the Pharmacies list. To display the "Default Method", it is calling:
$pharmacy->get_transmit_method_display() //in general.list.html

This method get_transmit_method_display() is from Pharmacy.class.php:
    function get_transmit_method_display()
    {
        return $this->transmit_method_array[$this->transmit_method];
    }

The variable $this

[2018-03-16 02:34] sssopen commented on #1501
I don't know if code is somewhere setting Pharmacy object with something like copyProperties to set the transmit_method.
Unfortunately I am not able to run the development codebase to pin point the issue :)

[2018-03-16 03:01] sssopen commented on #1502
That make sense. One of the below options should do the trick. One with pc_catid =1 should be good if we know the id is not going to change.

SELECT pc_catid, pc_catname, pc_cattype
FROM openemr_postcalendar_categories
WHERE pc_active = 1 and pc_cattype IN (0,3) and pc_catid!=1 ORDER BY pc_seq

OR

SELECT pc_catid, pc_catname, pc_cattype
FROM openemr_postcalendar_categories
WHERE pc_active = 1 and

[2018-03-16 04:58] bradymiller commented on #1501
Nice analysis. We'll get your development environment and testing up in not time :)

[2018-03-16 08:59] bradymiller commented on #1502
Since you aren't working in the development code, you aren't seeing the pc_constant_id (this was added and always modifying the title of categories). So, in development codebase, will be:
[code]

[2018-03-16 22:39] DanielPythonProjects opened #1510 "Vitals tab 'Save Form' 'Dont Save' buttons bugs"
Sorry, I have not looked to see if there is an open issue with this, but when I went to OpenEMR 5.0.1 Demo on Ubuntu 16.04, after selecting a Patient, and clicked https://one.openemr.io/c/openemr/interface/patient_file/encounter/trend_form.php?formname=vitals, Clicking Save form opens an 'Unknown' tab.
The 'Don't Save'  button does not respond.

[2018-03-17 06:24] bradymiller commented on #1510
hi @DanielPythonProjects ,
Thanks for reporting this bug. Actually, those buttons should not even be showing up on the trending form. That form is only meant for seeing trends when click on it from the patient summary gui (and it will also graph things if click on it). So, bug is confirmed.

[2018-03-17 06:26] bradymiller opened #1511 "Forms such as Fee Sheet in encounter can be opened multiple times"
In the encounter gui, user can now open multiple fee sheet, procedure orders, and hfca thing multiple times with the new tabs stuff there. In the past, it has only been allowed to open them once. @sunsetsystems , any thoughts on this?

[2018-03-18 07:51] eyalvo-matrix commented on #1456
I did some tests and it looks goods thank you @sjpadgett !
you can close this issue @bradymiller, thanks :)

[2018-03-18 07:55] #1456 closed

[2018-03-18 13:07] eyalvo-matrix commented on #1431
Hi @sjpadgett  I rechecked the issue . It seem the issue still exist when selecting
Modules->Multipledb
![image](https://user-images.githubusercontent.com/20621444/37566177-0306b730-2abe-11e8-8018-cee92d1585d0.png)

[2018-03-18 16:35] sjpadgett commented on #1431
This menu item has a view so should be able to add a title in the view. Barcode is different because there isn't a user interface and headers have already been sent before hitting script..

[2018-03-19 09:32] bradymiller commented on #1502
Confirmed that this bug has been fixed. Thank you @sssopen !

[2018-03-19 09:32] #1502 closed

[2018-03-19 11:42] eyalvo-matrix commented on #1431
ok so I will fix this :)

[2018-03-19 11:50] #1431 closed

[2018-03-20 00:43] OzairP commented on #1389
Should this issue be closed?

[2018-03-20 05:38] bradymiller commented on #1389
This is still an ongoing project to fix all xss issues in the gacl module. Almost is complete. @priya-anand , just checking if you are still working on this.

[2018-03-20 15:16] bradymiller commented on #1481
Updated the warnings in above gist which have decreased.

[2018-03-20 15:17] bradymiller commented on #1160
See here for PHP 7.2 warnings. These also include above, so will close this issue:
https://github.com/openemr/openemr/issues/1481

[2018-03-20 15:17] #1160 closed

[2018-03-22 00:13] bradymiller opened #1518 "Security issues reported by outside group"

[2018-03-22 00:15] bradymiller commented on #1518
If anybody is interested in working on this, just send me an encrypted email via PGP. My public PGP key is here: https://pgp.mit.edu/pks/lookup?op=get&search=0x27DEF05B1A8A6D4F

[2018-03-22 00:16] bradymiller commented on #1518
Forgot my email in above post. It is brady.g.miller@gmail.com

[2018-03-22 15:06] bradymiller commented on #1518
just committed these fixes, so closing this

[2018-03-22 15:06] #1518 closed

[2018-03-23 00:53] mdsupport opened #1521 "Unable to save recall records"
Has anyone gotten the new recall feature to work?  Neither onsite nor demo save the "New Recall" data in current form.  Quick peek under the hood shows the use of `toJSON` function may be an issue.  Replacing the same by `JSON.stringify` eliminates the error, creates an entry in the table.

Maybe matter of time before the saved entries show up in the report?

Update:
Not sure if `deceased_date` is

[2018-03-23 06:34] MatthewVita opened #1522 "DWV QA Issue"
@sjpadgett @bradymiller @kofiav

I have to go to bed now, but I found a bug with our DWV integration (!!!)

Will work on this tomorrow.

STEPS:

1. Download `nema-us1_j2ki.dcm` here: https://github.com/ivmartel/dwv/tree/master/tests/data
2. Upload it to OpenEMR
3. Click on the file to load viewer
4. Verify nothing loads
5. Console shows:
![image](https://user-images.githubusercontent.com/1715206/3

[2018-03-23 06:43] MatthewVita commented on #1522
https://github.com/ivmartel/dwv/issues/383
hmm

[2018-03-23 07:34] bradymiller commented on #1521
tagging @ophthal on this issue

[2018-03-23 07:41] bradymiller commented on #1481
Fixed some of this in above commit. Will update the gist (or maybe it will be small enough to now fit here :) )

[2018-03-23 08:00] bradymiller commented on #1162
Gonna close this (since deprecated warnings are gone) and open another issue for stuff @stephenwaite reported (I also confirmed this).

[2018-03-23 08:00] #1162 closed

[2018-03-23 08:01] bradymiller opened #1524 "PHP 7.2 Warnings in Care Coordination module"
This was reported by @stephenwaite
When configure (click on the configure icon) the Care Coordination module (after, register/install/enable it), it shows the following warnings:
[code]

[2018-03-23 08:03] bradymiller commented on #1452
Everybody -> test, test, test :)

[2018-03-23 11:34] kofiav commented on #1522
Interesting find. Looks like a dependency issue, I will look into this if I have some time today and if @sjpadgett has not already beat me to it :smiley:

[2018-03-23 15:10] bradymiller commented on #1522
Odd, the dependency is there but it seems to be looking in the wrong place (is omitting public/assets/dwv-0-21-0 from the path).

[2018-03-23 15:20] sjpadgett commented on #1522
I had to patch one of the libraries for pathing on my previous v5.0.1
commit. Wander if it got in the patch. I can look later but someone may
look sooner.

On Fri, Mar 23, 2018 at 11:10 AM, Brady Miller <notifications@github.com>
wrote:

--
Jerry Padgett
Padgett's Consulting
Brandon, Florida 33511
sjpadgett@gmail.com <sjpadgett@gmailo.com>

[2018-03-23 17:04] sjpadgett commented on #1522
I fixed but will submit to v5.0.1 and someone will need to add to v5.0.0(8) 'cause i'm having problems with my git!

[2018-03-23 17:10] sjpadgett commented on #1522
Please see https://github.com/openemr/openemr/pull/1525 for fix in v5.0.1

[2018-03-24 15:09] bradymiller commented on #650
The 8th patch for OpenEMR 5.0.0 has been released, which includes PACS imaging support and security improvements:
http://www.open-emr.org/wiki/index.php/OpenEMR_Patches

The patch includes the following:
*Added PACS Imaging Viewer - by Victor, Jerry, and Matthew
*Added Support for MySQL/MariaDB SSL Connection - by Brady

[2018-03-24 18:48] MatthewVita commented on #650
Thanks, Brady!

Thanks,

Matthew Vita
www.matthewvita.com

On Sat, Mar 24, 2018 at 8:09 AM, Brady Miller <notifications@github.com>
wrote:

[2018-03-27 15:20] bradymiller opened #1528 "upgrade dwv package"
Upgrade dwv package to 0.23:
-the architecture was revised to better use canvas when drawing.
-spring cleaning and moved all the demo viewers to their own repos
-Dependencies were revised to allow for better integration and a cleaner package.

[2018-03-27 15:37] sjpadgett commented on #1528
I'll take a look see and maybe can put together for upcoming release if it proves to add value in a noticeable way. Guess @MatthewVita might wish to weight in. I would really like to see us add ePDF and header parse to drag and drop or just parse out the patient data in the DICOM 10 to auto select patient and save to correct path. Could do in javascript and also will ensure we get the correct mime

[2018-03-28 01:28] bradymiller commented on #1528
The upgrade is more maintenance stuff and placed this as a reminder for the future (ie. planned to do after the release). But the things you are talking about sound like good ideas for improved support. Am guessing the next thing we'll be also working on at some point is supporting scrolling through multi-image sets (such as a CT scan).

[2018-03-28 02:37] MatthewVita commented on #1528
Are you talking in general here? I think Sherwin (?) added DnD in v5.0.1.

So this would be in the "documents" area that is not coupled to a patient, right?

[2018-03-28 02:48] sjpadgett commented on #1528
Yep, DnD Sherwin added few months back and I test and use it all the time so, works well. My initial thoughts is yes to hook PnP, look at type, then present dialog with file supporting info for disposal. Something like that but for now I think it is important user can take existing DICOM received from radiology e.t.c and keep it with patient chart without export from their viewer.

[2018-03-28 07:41] bradymiller commented on #1528
Thanks @MatthewVita , I completely forgot that.

[2018-03-29 02:29] MatthewVita commented on #1528
@sjpadgett Sounds like a good idea. Feel free to run with it if you have the time/energy. I'll review and test, of course.

[2018-03-29 03:50] bradymiller commented on #1501
hi @sssopen ,

I looked at your analysis and it hit that this isn't a bug:
"Also, based on the code, if the email address is empty, the Default Method is going to return as Print."

Whenever we choose Email, it basically gets changed to Print on the Save if there is no email address. If I add the email adress to the form then it works. Also, am able to always pick Fax, which then works.

Thanks fo

[2018-03-29 03:50] #1501 closed

[2018-03-29 04:27] #1510 closed

[2018-03-29 04:28] bradymiller commented on #1510
Just placed a fix for this into codebase:
https://github.com/openemr/openemr/pull/1532

Thank you @DanielPythonProjects for reporting this bug!

[2018-03-29 04:45] bradymiller commented on #1370
@MatthewVita ,
Just checking if this issue is closed?

[2018-03-29 04:46] bradymiller commented on #1370
Disregard my comment above, I realized this is for Orthanc.

[2018-03-29 04:48] bradymiller commented on #1359
This was fixed in codebase, so closing this issue.

[2018-03-29 04:48] #1359 closed

[2018-03-29 04:49] bradymiller commented on #1352
This was fixed in above PR, so closing this issue.

[2018-03-29 04:49] #1352 closed

[2018-03-29 07:18] bradymiller commented on #1345
This is fixed, so closing this issue.

[2018-03-29 07:18] #1345 closed

[2018-03-29 07:21] bradymiller commented on #1321
This is fixed, so closing.

[2018-03-29 07:21] #1321 closed

[2018-03-29 07:22] bradymiller commented on #1304
No reply, so assuming is fixed and closing this issue.

[2018-03-29 07:22] #1304 closed

[2018-03-29 07:23] bradymiller commented on #1287
No reply, so assuming this issue is fixed and closing it.

[2018-03-29 07:23] #1287 closed

[2018-03-29 07:26] bradymiller commented on #1142
This code has been delivered to codebase, so closing this issue.

[2018-03-29 07:26] #1142 closed

[2018-03-29 07:26] bradymiller commented on #1101
Is this still an issue?

[2018-03-29 07:29] bradymiller commented on #934
Closing his issue since no discussion for more than 6 months

[2018-03-29 07:29] #934 closed

[2018-03-29 07:30] bradymiller commented on #933
No longer pertinent, so closing this.

[2018-03-29 07:30] #933 closed

[2018-03-29 07:32] bradymiller commented on #769
Closing this since no discussion for > 6 months.

[2018-03-29 07:32] #769 closed

[2018-03-29 07:37] bradymiller commented on #632
fixed, so closing this issue

[2018-03-29 07:37] #632 closed

[2018-03-29 07:41] bradymiller commented on #491
fixed, so closing this issue

[2018-03-29 07:41] #491 closed

[2018-03-29 07:42] #465 closed

[2018-03-29 22:57] stephenwaite commented on #1101
i'll check it out, thanks for the reminder

[2018-03-29 23:13] stephenwaite commented on #1101
yeah, still there 🤒 , saw this on eleven.openemr.io

`2018-03-29 23:09 | login | login |   |   |   |   | 0 | insufficient data sent`