[2020-04-25 06:24] #3419 closed

[2020-04-25 07:37] im-Amitto commented on #3007
#3024 can be used for reference :)

[2020-04-25 08:26] im-Amitto commented on #3010
@bradymiller is interact.js removed because I can't find it anymore and the solution that I created for sortable alternative was using interact.js

[2020-04-25 09:25] bradymiller commented on #3010
hi @im-Amitto , It still lives; do a code search for `interactjs` to find it and where it is used (for now, just used in the initDragResize() function).

[2020-04-25 10:33] im-Amitto commented on #3010
@bradymiller I know it's being used but I can't find the file.
Also, no error is being thrown as include script uses a promise which does not have a catch attached to it.
![Screenshot from 2020-04-25 16-02-33](https://user-images.githubusercontent.com/29653282/80277673-3bc0bb80-870e-11ea-9d33-41792e13ef79.png)
![Screenshot from 2020-04-25 16-02-19](https://user-images.githubusercontent.com/2965328

[2020-04-25 10:59] im-Amitto commented on #3410
Updated Travis
![Screenshot from 2020-04-25 16-28-23](https://user-images.githubusercontent.com/29653282/80278183-d8d12380-8711-11ea-860e-e9fb8b651ffe.png)

[2020-04-25 20:22] bradymiller commented on #3010
After a build, it will be here:
public/assets/interactjs/dist/interact.js

[2020-04-25 20:23] bradymiller commented on #3010
here's a quick screenshot of the search:
![image](https://user-images.githubusercontent.com/278968/80290078-ec6f9080-86f7-11ea-9e51-5fa7fac5d02b.png)

[2020-04-25 22:08] im-Amitto commented on #3010
@bradymiller maybe I did something wrong while setup. I will get back to you after re-setup.

[2020-04-25 23:34] #3101 closed

[2020-04-25 23:37] bradymiller opened #3425 "jquery 3.5.0 temp revert to 3.4.1 until 3.5.1 is released"
I noted that the Adminstration->Coding->External Data Loads was completely broken, which is secondary to following issue:
https://github.com/jquery/jquery/issues/4665

At this point only option is to downgrade jquery version to 3.4.1 and then wait for 3.5.1 to get released.

[2020-04-25 23:39] tywrenn opened #3426 "Use of stylelint in SCSS and CSS"
### Describe the problem

Our CSS/SCSS code has issues relating to having two of the same declaration, not being formatted well, or just being coded incorrectly.

### Describe the solution you'd like

In a new effort to curb these issues and to help us out with GSoC, I'm proposing the addition of stylelint to our SCSS and CSS classes. Stylelint is a lot like php codesniffer in that it checks for s

[2020-04-25 23:43] tywrenn commented on #3425
Yeah if hasOwnProperty is used at all you should just downgrade until it's fixed

[2020-04-26 06:59] im-Amitto commented on #3010
@bradymiller For some reason, it didn't work till I pulled a fresh copy and build it, anyway thanks for passing the info.

[2020-04-26 07:05] im-Amitto opened #3430 "Snackbar"
Adding a snack bar/toast message is a great idea to show notifications.
Currently, the only way one gets to know that the operation is done is by seeing a page redirect/reload or a alert.
![](https://user-images.githubusercontent.com/311619/41921075-50bd6026-7962-11e8-9360-8cecbd5ebde5.gif)

[2020-04-26 07:14] stu01509 commented on #3010
I used the VS Code to search only can find the `utility.js` include `interact.js ` file.
Maybe is `/public/assets/interact js/dist/interact.js` ignore by `.gitignore`.

![image](https://user-images.githubusercontent.com/22230889/80300572-8dca1580-87d0-11ea-8c8e-6d9f6a7227f5.png)

[2020-04-26 07:39] bradymiller commented on #3425
Done. Now just gotta wait for 3.5.1 to be released.

[2020-04-26 08:20] im-Amitto commented on #3010
@stu01509 The same thing happened with me but it worked after rebuilding the project. It's coming from node_modules and `package.json` does have `interactjs` so most probably something happened between that. I didn't investigate much into it.

[2020-04-26 09:47] stu01509 commented on #3402
Hello @stephenwaite and @bradymiller

I have an idea ,If we disable remember login info in the setup page, We can prevent browser remember wrong field login info, What do you think, let me know your thought :)

[2020-04-26 11:57] consolticaemr opened #3432 "Cannot ping the database server."
## When working with the docker compose every container is up and running. When trying to add the host name in `sqlconf.php` file as `mariadb, mysql` or any other provided in the compose file. The application says `Can you ping the server {$serverNames}` which were aforementioned.

## To Reproduce
The docker compose file used.

[code]

And the mentioned sqlconf file.

[code]

Can anybody tell me w

[2020-04-26 12:03] consolticaemr commented on #3432
![Screenshot from 2020-04-26 17-46-26](https://user-images.githubusercontent.com/64359303/80306958-f1ab0900-87e5-11ea-98ca-9a909289a349.png)

Also can log in into the db server. For instance  I can log in into the server, with the attached screenshot and the phpmyadmin is also running without any issue?

[2020-04-26 15:50] stephenwaite commented on #3426
nice @tywrenn, looks like here's a setup article for folks with the openemr licensed phpstorm
https://www.jetbrains.com/help/webstorm/using-stylelint-code-quality-tool.html#

[2020-04-26 17:34] stephenwaite commented on #3402
sounds fine, thank you @stu01509

[2020-04-26 17:46] stephenwaite commented on #3432
hi @consolticaemr , did you setup openemr as described in step 2?
[code]

[2020-04-26 18:08] tywrenn commented on #3430
This seems like a project that will take awhile (i don't even know how many alerts we have implemented in the system). If we were to do this it would have to be something uniformly added to the system.

[2020-04-26 18:18] im-Amitto commented on #3430
@tywrenn It's easy to add and can be converted into a single method which can be added in utility for people to use but getting the uniformity is gonna be a tough task.

[2020-04-26 18:37] bradymiller commented on #3430
Quick point on provider flow (not sure if helpful on this). Provider's generally see patient's and do clinical work most of day. Then when have downtime, check messages(ie. alerts), throughout the day and work on those. It's nice to know how many there are on a quick glance, but don't need to really need to know anything else. If there is an urgent issue, then a live person will track down and fin

[2020-04-26 19:06] #3010 closed

[2020-04-26 20:33] #3354 closed

[2020-04-26 21:49] stephenwaite opened #3435 "wkhtmltopdf (UB04 in billing) doesn't work in docker"
### Describe the bug

after enabling `Activate UB04/837I Claim Support` in Globals, when you goto generate the UB04 form from billing manager an error is generated, caught, and displayed to the user
[code]
error log has this
[code]

### To Reproduce
Steps to reproduce the behavior:
1. Add a user, encounter and put an item on the fee sheet and save
2. Click on Fees->Billing Manager
3. Delete all fi

[2020-04-26 21:52] stephenwaite commented on #3435
for the pull request can envision adding the wkhtmltopdf to the docker

if it's done with composer may be able to remove
[code]
and replace with `composer require mikehaertl/phpwkhtmltopdf`
https://github.com/mikehaertl/phpwkhtmltopdf

[2020-04-26 21:55] stu01509 commented on #3402
Hi @stephenwaite

Although disable password remember sounds great, Unfortunately, In the modern browser e.g. IE, Edge, Chrome and Chrome will ignore the `autocomplete="off"` config, and then the browser will still offer to remember this login.

https://developer.mozilla.org/en-US/docs/Web/Security/Securing_your_site/Turning_off_form_autocompletion

So, I think we need to change the `setup.php` Dat

[2020-04-26 22:32] stu01509 commented on #3414
Hello @bradymiller

I would like to improve it, Please assign this issue to me.

[2020-04-26 22:52] bradymiller commented on #3414
hi @stu01509 , go for it :) -brady

[2020-04-26 22:53] stephenwaite commented on #3402
even better, thanks @stu01509

[2020-04-27 02:13] consolticaemr commented on #3432
ah, I figured it out, ones that get into this issue need to create the database first and then start running the app  again which prominently ends in being out of memory? When you try to give the memory limit of -1 the app hangs, any resort to this? @stephenwaite. Have included a  screen shot of the memory limit clause in the php.ini. file,

![Screenshot from 2020-04-27 07-57-15](https://user-imag

[2020-04-27 03:14] bradymiller commented on #3432
hi @consolticaemr ,
Just confirming that you are you using the insane development docker environment?
https://github.com/openemr/openemr/tree/master/contrib/util/docker#insane-development-docker-environment
(if so and if this is a development/testing environment, then would recommend using most recent version and ensure dockers are all updated:
https://github.com/openemr/openemr/tree/master/contri

[2020-04-27 03:17] consolticaemr commented on #3432
The solution to this would be in my opinion to add a command in the `Dockerfile` to create a database named `openemr`, for existing users of this app. The steps you need to do are:

- Create your containers normally that would be `docker-compose up -d`

-  Once you have done that, do not open the default app, which is usually served in port 8080 or the image you wished to have composed in the dock

[2020-04-27 03:18] consolticaemr commented on #3432
@bradymiller I might have found the solution, you might want to review so that we might want to close it.

[2020-04-27 03:43] #3432 closed

[2020-04-27 04:01] tywrenn commented on #2919
Update: Can someone work on this for me?

[2020-04-27 05:44] bradymiller commented on #3435
The problem with wkhtmltopdf package is it needs binaries to run (thus each OS needs it's own binaries, for example alpine is different from ubuntu), for example:
https://github.com/mikehaertl/phpwkhtmltopdf#installation-of-wkhtmltopdf

I think the end conclusion is we need to migrate this to mPDF:
https://community.open-emr.org/t/project-standardize-pdf-tools/13705/9
(@sjpadgett felt this would b

[2020-04-27 14:17] arnabnaha opened #3437 "Facility Information is not saving"
Hi..
I am on windows 10, using xampp 7.4 version php. I have the development version of openemr 5.0.3 running. I tried creating a seperate database for another clinic using the multisite function and all went well.

In the fresh database, I was trying to change the facility name from "Your Clinic Name Here" to something else and trying to save the data, but everytime nothing was saving in the data

[2020-04-27 14:50] boxlady commented on #3435
I went down this rabbit hole. Wkhtmltopdf is no longer being updated... I
think I posted about it on the forms

On Mon, 27 Apr 2020, 7:44 am Brady Miller, <notifications@github.com> wrote:

[2020-04-27 14:54] boxlady commented on #3435
Hit enter to soon.  Sorry . Here is a link

https://community.open-emr.org/t/ub04-support-wkhtmltopdf-not-working/13119/3?u=julie_b

On Mon, 27 Apr 2020, 4:49 pm Julie, <boxlady@gmail.com> wrote:

[2020-04-27 16:12] sjpadgett commented on #3435
I updated the binaries for linux. Alpine support was never considered to be supported. If somebody wants it, they can compile a version for Alpine.
For mPDF well nuts:) When I brought mPDF into openemr, I had high hopes because they claimed to to be working on absolute positioning. Turns out, not so true. They only support block and not nested elements.

The UB04 form itself is a Pdf representatio

[2020-04-27 20:36] yashrajbothra opened #3438 "FamilyHistory Resource [FHIR]"
### Describe the bug
Adding a new resource FamilyHistory
https://www.hl7.org/fhir/familymemberhistory.html

Is there any resource which should come prior than this please lemme know 😄

[2020-04-28 03:02] bradymiller commented on #3437
I confirmed this bug. Basically, nothing is being saved when trying to Edit Facilities. It appears the Save button just closing the modal and nothing else:

![image](https://user-images.githubusercontent.com/278968/80442542-f80eb300-88c1-11ea-962d-d4b85c34346b.png)

[2020-04-28 06:01] arnabnaha commented on #3437
Thanks Brady

[2020-04-28 12:13] yashrajbothra commented on #3437
@bradymiller  Can I Pick it up?

[2020-04-28 12:50] arnabnaha commented on #3437
please take it and fix it please..thanks

[2020-04-28 13:22] yashrajbothra commented on #3437
_GIT Blame - https://github.com/openemr/openemr/commit/4458e4a70979f4dd6db9dc6554dd49b437150f05_

I guess while Extending `BaseService` class in FacilityService Jerry Sir forgot to push id to the query.
I will push the Quick Fix in Couple of minutes 👍

[2020-04-28 13:47] stu01509 commented on #3007
Hi @bradymiller and @stephenwaite

Please assign this to me, I will fix it :)

[2020-04-28 15:26] stephenwaite commented on #3007
cool, thank you @stu01509

[2020-04-28 15:34] stephenwaite commented on #3437
you got it @yashrajbothra , nice find and fix, thank you

[2020-04-28 16:13] #3437 closed

[2020-04-28 20:24] tywrenn commented on #3410
@stephenwaite I don't trust ESM that's why I stick a fork in it lol

[2020-04-29 10:16] pete-boyd opened #3444 "Issues from user accounts having same spelling but different case"
I create a user with username containing uppercase and lowercase characters. I mistakenly create another user with same spelling but all lowercase username. When I try to save the latter, OpenEMR gives an error message in a dialog (sorry I didn’t record it). The Apache error log contains:

"… referer: …/interface/usergroup/usergroup_admin_add.php

"… Executing as user:openemr Statement failed:INSE

[2020-04-29 14:54] pete-boyd opened #3445 "SQL error when try to create a duplicate list"
### Describe the bug

SQL error when try to create a duplicate list

### To Reproduce

Administration > Lists > New List

Create a list with a name that already exists

In OpenEMR:
"Query Error
ERROR: query failed: INSERT INTO list_options ( list_id, option_id, title, seq, is_default, option_value ) VALUES ( 'lists', ?, ?, ?, '1', '0')
Error: Duplicate entry 'lists-Payment_Type' for key 'PRIMARY'

[2020-04-29 17:21] bradymiller commented on #2719
The 2nd patch for OpenEMR 5.0.2 has been released:
[https://www.open-emr.org/wiki/index.php/OpenEMR_Patches ](https://www.open-emr.org/wiki/index.php/OpenEMR_Patches)

The patch includes security fixes and a bunch of improvements and fixes :
*Critical security fix - reported by Dennis Brinkrolf (RIPS Technologies), fixed by Jerry Padgett and Brady Miller
*Security fixes - reported by Dennis Brinkr

[2020-04-29 17:41] ShubhamBansal1997 commented on #3378
Picking this
```ERROR. unable to execute SQL: 'CREATE TABLE `amendments_history` ( `amendment_id` int(11) NOT NULL AUTO_INCREMENT COMMENT 'Amendment ID', `amendment_note` text COMMENT 'Amendment requested from', `amendment_status` VARCHAR(50) NULL COMMENT 'Amendment Request Status', `created_by` int(11) NOT NULL COMMENT 'references users.id for session owner', `created_time` timestamp NOT NULL DEF

[2020-04-30 06:42] bradymiller commented on #3378
hi @ShubhamBansal1997 , Agree with your assessment/plan on this (basically same as the previous one).

[2020-04-30 12:40] sjpadgett opened #3449 "Facility, Billing location and POS Issues"
### Describe the bug
see forum https://community.open-emr.org/t/pos-problem/9468/

This entire process is off imo, which I want to see fixed once and for all time.
- Default facility should be users assigned facility else error and force facility assignment in Users.
- Billing facility should default to user facility if a billing location else first facility flagged as business entity.

### Expect

[2020-04-30 13:33] stephenwaite commented on #3449
thank you @sjpadgett ,will be playing with both the latest `5.0.2` and `dev` demos and will be glad to help you define these properties so can make sense of the situation for billing purposes
![Screenshot from 2020-04-30 09-18-58](https://user-images.githubusercontent.com/5618372/80714936-a2a1f400-8ac3-11ea-82e5-49322908a273.png)

The most common situation is 1 facility but also very likely many h

[2020-04-30 13:57] sjpadgett commented on #3449
Okay so Accept Assignment is broken from POV it is allowed in UI if a billing location is not selected. Should grey out otherwise.
Default billing location in order of precedence should be:
- Users facility if billing facility
- then billing facility marked as PBE.
- else first billing facility
- else selected facility

Otherwise current workflow works as needed. E.g POS tracks with selected facil

[2020-04-30 14:04] stephenwaite commented on #3449
`Billing Location` is given to much prominence. Should use `Primary Business Entity` instead. `Billing Location` should only be used when there's a billing office that has a PO Box where they would like to receive mail. This is all coming from my understanding of X12837. The `Primary Business Entity` should have to be selected and then could remove any mention of billing from the encounter. What s

[2020-04-30 14:11] stephenwaite commented on #3449
Following up on this is that if a provider does not create the encounter then there's no way to assign a provider to the encounter without going to the db. The work around for billing is to select it in the fee sheet.

So a service facility could be selected based on the rendering provider's (user's facility) but should default to the appointment facility.

[2020-04-30 14:12] #3353 closed

[2020-04-30 14:15] ShubhamBansal1997 commented on #3378
@bradymiller PR Raised for the sub issue https://github.com/openemr/openemr/issues/3378#issuecomment-621360727 https://github.com/openemr/openemr/pull/3451 Please review

[2020-04-30 14:15] stephenwaite commented on #3449
Finally, without creating to huge of a :mount_fuji:  for you to climb, a service location when created could be tied to the primary business entity and optionally a billing location.

[2020-04-30 14:21] sjpadgett commented on #3449
I carry a step stool around for this purpose.:)

We're here to finally get this workflow correct for our current day requirement so, we expect 🗻

[2020-04-30 14:37] sjpadgett commented on #3449
yep, this has always been an issue. Good solution!

[2020-04-30 16:17] yashrajbothra opened #3454 "Upgrade EncounterService"
### Describe the feature

Upgrade `EncounterService` class to support New Validator and Create Unit Test for the same.

**Write a concise description of the problem**

My further goal is to support unit tests for our FHIR resources services so that the development process becomes easier

[2020-05-01 00:52] tammbamm5 opened #3455 "Layout Issue"
With this new EMR update, I cannot keep my layout as the "Frame" layout that I like. It doesn't let me click on the calendar unless I change it to the "Tabs" setting for the layout.
Is there a way to fix this???

[2020-05-01 08:48] ShubhamBansal1997 commented on #3378
Picking this
```ERROR. unable to execute SQL: 'CREATE TABLE `batchcom` ( `id` bigint(20) NOT NULL auto_increment, `patient_id` bigint(20) NOT NULL default '0', `sent_by` bigint(20) NOT NULL default '0', `msg_type` varchar(60) default NULL, `msg_subject` varchar(255) default NULL, `msg_text` mediumtext, `msg_date_sent` datetime NOT NULL default '0000-00-00 00:00:00', PRIMARY KEY (`id`)) ENGINE=Inno

[2020-05-01 09:17] adad20 opened #3456 "Suggestion : Dropdown item should open while hovering"
### Describe the bug
In the `View past encounter` button the drop-down item should pop up while hovering over the button for better UI experience.

### To Reproduce
![Screenshot (156)](https://user-images.githubusercontent.com/55142272/80795605-8e8cee00-8bba-11ea-842b-a58c9786ace6.png)

### Expected behavior

No overlap of items

### Client configuration

- Browser: Chrome
- Operating system: Wind

[2020-05-01 09:18] adad20 commented on #3456
I want to work on this. 😊

[2020-05-01 12:18] pete-boyd opened #3458 ""Create New Patient" button should be at bottom not top"
On the "Search or Add Patient" screen, "Create New Patient" should be at the bottom of the screen, not at the top, because it is the button you select having gone through the screen from top to bottom completing the form.

OpenEMR 5.0.2.1

[2020-05-01 12:50] stu01509 commented on #3458
Hello @pete-boyd

Can you take a screenshot? I would like to fix this issue.

[2020-05-01 13:00] sjpadgett commented on #3458
he prob means:
![image](https://user-images.githubusercontent.com/1859985/80806972-fbd45b00-8b89-11ea-8ea4-b1a813d4b7af.png)

It's yours

[2020-05-01 13:02] pete-boyd commented on #3458
Yeah that's the one, thanks.

[2020-05-01 13:15] stu01509 commented on #3458
Hello @bradymiller, @sjpadgett, @tywrenn, and @pete-boyd

I also change the **Create New Patient** button's color to `btn-primary`.
What do you think?

![image](https://user-images.githubusercontent.com/22230889/80807813-b5661700-8bf0-11ea-9739-92a938eb3e34.png)

[2020-05-01 13:15] #3005 closed

[2020-05-01 13:29] stu01509 commented on #3455
Hello @tammbamm5

Can you take a screenshot or screen recording? I need more detail to approach this issue.
Thank you.

[2020-05-01 14:23] pete-boyd commented on #3458
I think ideally that page shouldn't even include a search feature, it's confusing that it provides for two different functions. Search can be achieved using the Patient Finder at Patient/Client > Patients. But that's another bug, wider in scope than this bug.

[2020-05-01 15:04] stephenwaite commented on #3458
hi @pete-boyd

the search in the `Search or Add Patient` is a more thorough search though since it can look at any of the fields displayed

[2020-05-01 15:12] mdsupport commented on #3458
Key hallmark of good user interface is consistency.  That means after performing 2-3 transactions every user realizes the pattern without going through training or documentation for each screen.

@stu01509, please do a favor to future developers and implement this as a ui class.  One option would be a fixed navbar with form title on left and allow model part of the script to insert specific elemen

[2020-05-01 15:32] stephenwaite commented on #3455
sorry frames were [dropped last year](https://community.open-emr.org/t/drop-frames-support/11768/30?u=stephenwaite) so need to incorporate old functionality in tabs by starting an issue and hope a developer picks it up as worthwhile addition to the community

like was done for #2810

[2020-05-01 16:51] tammbamm5 commented on #3455
Also another account will not let me change from frame to tabs on the settings. There's absolutely no layout settings when I click on settings.

[2020-05-01 16:52] tammbamm5 commented on #3455
![Uploading Screen Shot 2020-05-01 at 10.52.43 AM.png…]()

[2020-05-01 16:52] #3455 closed

[2020-05-01 16:55] tammbamm5 opened #3460 "Settings issue"
My account needs to be switched from the "Frame" layout to the "Tabs" layout since the Frame layout doesn't work anymore but when I click settings, there are no layout settings.
![Screen Shot 2020-05-01 at 10 55 08 AM](https://user-images.githubusercontent.com/64621231/80823665-4958c400-8b9a-11ea-9e0d-3a5d7eb4d458.png)

[2020-05-01 17:36] stephenwaite commented on #3460
try chome or firefox instead of safari please

[2020-05-01 17:44] stephenwaite commented on #3456
nice spot, it's yours @adad20, thank you

[2020-05-01 17:49] stephenwaite commented on #3378
i agree @ShubhamBansal1997 , also edited your post to put the error on it's own line, hope you don't mind

[2020-05-01 18:05] tammbamm5 commented on #3460
We have tried different browsers and it hasn't worked.

[2020-05-01 18:13] stephenwaite commented on #3460
ok, did you click on the cog in the upper right and changed to `Tabs`, clicked save and logged out and back in?

[2020-05-01 18:16] tammbamm5 commented on #3460
The settings button doesn't work at all. It's like the home button and settings button are the same screen.

[2020-05-01 18:20] stephenwaite commented on #3460
might be the cache, would def use Chrome or Firefox and clear the cache

btw what if you changed it globally, ie all users to `Tabs`? `Administration->Globals->Appearance`

[2020-05-01 18:34] tammbamm5 commented on #3460
I've tried it on different computers and different browsers.

[2020-05-01 20:20] sjpadgett commented on #3460
I'd like to help but this is to weird!
Did your upgrade complete okay?
Did you run sql_upgrade.php from browser?

[2020-05-01 20:26] ShubhamBansal1997 commented on #3378
/θaŋks/ @stephenwaite Also added raised the PR(https://github.com/openemr/openemr/pull/3462) for the same (https://github.com/openemr/openemr/issues/3378#issuecomment-622305324). Please review
cc - @bradymiller

[2020-05-01 20:31] tammbamm5 commented on #3460
I have no idea when the system updated. I'm not sure how to even upgrade it. I'm an administration for an agency that uses EMR. But if you tell me how to trouble shoot it, I will do it.

[2020-05-01 20:35] sjpadgett commented on #3460
Can you get to About ie ? I believe?

[2020-05-01 20:38] tywrenn opened #3463 "(Draft) Redesign the Navbar & Use SASS More Effectively"
### Describe the problem

Currently, the navbar we have made is custom coded with some hints of BS4. While this is great and still is working, maintaining it to me has become a difficult to diagnose problem. A big issue with the navbar is that it has all this unnecessary padding and margins added that can cause issues if viewing on a mobile device.

Another issue is that our SCSS files aren't taki

[2020-05-01 20:47] tammbamm5 commented on #3460
I can click on the about tab but the settings doesn't pop up

[2020-05-01 20:49] stephenwaite commented on #3460
what's the version # in the about tab?
![Screenshot from 2020-05-01 16-49-43](https://user-images.githubusercontent.com/5618372/80840674-c6506180-8bcb-11ea-9b7b-8ab4547362c9.png)

[2020-05-01 21:22] ShubhamBansal1997 commented on #3378
Picking this one
[code]
This is one is bit confusing, it's being used at multiple places in the codebase so is it fair to turn this to `NULL` or shall we give some default value like `CURRENT_DATE` with `ON UPDATE CURRENT_DATE`
cc - @bradymiller @stephenwaite

[2020-05-02 02:37] stu01509 commented on #3458
Hello @mdsupport

I think it is a good idea, But OpenEMR has a lot of buttons and buttons style.
e.g. some button used `btn-group`, `btn-link` CSS style, and each button have their style, It is not easy to implement completely function or class. I suggest doing later after we refine all pages.

[2020-05-02 02:59] stu01509 opened #3466 "UI Issue: Navbar dropdown item arrow"
### Describe the bug

Navbar dropdown item has two style arrows(down, right)
It looks very strange.

![image](https://user-images.githubusercontent.com/22230889/80853488-fa776100-8c63-11ea-96e8-2fea46c443a7.png)

### To Reproduce

Steps to reproduce the behavior:
1. Hover on navbar item.

### Expected behavior
Only one arrow style.

### Client configuration

- Browser: Firefox 75
- Operating syste

[2020-05-02 05:02] bradymiller commented on #3378
To keep behavior on this, we should go to NULL. Note the insert that uses this in OpenEMR doesn't populate it with anything, so it will end up with illegal entries in there in users that upgrade. Here is a way I think that we can fix those (we should actually do something like this for every date/datetime entry that we change 0000-00-00/0000-00-00 00:00:00 to NULL including the one just completed

[2020-05-02 09:44] adad20 commented on #3466
Hi @stu01509 Are you working on this? If not I want to take this

[2020-05-02 09:47] stu01509 commented on #3466
Yes, I am working on this.

[2020-05-02 10:12] yashrajbothra commented on #3466
Wow, I was just about to post this issue😃.
Anyways Thanks @stu01509  👍

[2020-05-02 13:41] adad20 commented on #3456
hey @stephenwaite  where should I place the css file, seeing all the css files is overwhelming 😅

[2020-05-02 14:56] sjpadgett commented on #3456
rec interface/themes/core

[2020-05-02 14:57] ShubhamBansal1997 commented on #3378
Added the PR (https://github.com/openemr/openemr/pull/3469)  for this https://github.com/openemr/openemr/issues/3378#issuecomment-622573923 Please review

For this https://github.com/openemr/openemr/issues/3378#issuecomment-622669790 Shall we do that for all the mentioned sub-issues after all the them are turned to `NULL` in the last (or in a separate file)?

cc - @bradymiller @stephenwaite

[2020-05-02 15:05] sjpadgett commented on #3456
Sorry @adad20
Above perhaps not best place maybe interface/themes/ with other css's. Also patient data should have some styles somewhere in existing scss or css file. take a look.

[2020-05-02 15:08] adad20 commented on #3456
@sjpadgett Sure I will take a look actually I have put the css inside the php file itself which may not be the best practice

[2020-05-02 19:32] #3426 closed

[2020-05-02 19:45] yashrajbothra commented on #3454
Hey, Ser @sjpadgett I was working on this and saw something strange!
https://github.com/openemr/openemr/blob/d6afe5bb574a3a7d97659467a9068b48222c59b4/src/Services/EncounterService.php#L324
`aclCheckCore` is not working for API call.
I think it related to auth which we had discussed earlier but right now its causing issue in this particular function.

[2020-05-02 19:52] yashrajbothra opened #3471 "Sponsor Button in this Repository"
### Describe the problem

I think we are missing a sponsor button in this repo

### Describe the solution you'd like

Adding a sponsor button in this repository
https://help.github.com/en/github/administering-a-repository/displaying-a-sponsor-button-in-your-repository

[2020-05-02 21:17] sjpadgett opened #3472 "Encounters Summary not scroll"
Counts document as encounter. e.g 7 encounters but displays first seven documents if available!
![image](https://user-images.githubusercontent.com/1859985/80892520-cc604400-8c98-11ea-9b3d-ce3fbe3446ff.png)

[2020-05-02 22:05] #3458 closed

[2020-05-02 22:12] sjpadgett commented on #3454
Nothing wrong with Authentication. PatientServices however, broken! Encounters works for me...

[2020-05-02 22:13] tywrenn commented on #3466
@stu01509 This happens when you don't clear ur browser cache as I've figured out

[2020-05-02 22:40] bradymiller commented on #3472
I wonder if the changes here caused this:
https://github.com/openemr/openemr/pull/3400/files

[2020-05-02 22:50] sjpadgett commented on #3472
Yeah that'd do it.

[2020-05-03 01:02] stu01509 commented on #3472
Oops! I didn't notice add the `style="overflow-y: hidden;"` will cause this problem.
Should I create another PR to fix #2892?

[2020-05-03 01:32] stu01509 commented on #3466
Hi @tywrenn

Is it a browser cache issue? I try to clean the cache but it still has two arrows.

[2020-05-03 02:07] tywrenn commented on #3466
@stu01509 Hmm. In order to fix this, you would have to remove the `dropdown-toggle` class as it is used there. Then you have to find the CSS that overrode that code originally.

[2020-05-03 02:29] stu01509 commented on #3466
@tywrenn Thanks for your explanation, I found the file.

[2020-05-03 02:47] bradymiller commented on #3472
hi @stu01509 , Go for it. I'll do a quick revert in the codebase to fix this issue.

[2020-05-03 02:55] sjpadgett commented on #2892
Just revert and leave alone please.

[2020-05-03 02:57] bradymiller commented on #2892
hi @sjpadgett , Is there no solution for this issue then?
(looks like we made the change on the wrong script here)

[2020-05-03 03:04] #3472 closed

[2020-05-03 03:06] sjpadgett commented on #2892
It is fixed in encounter. You never should need to add overflow style to html tags but where container is created. You'll never get dynamic viewport sizing consistent across all browsers and devices imo. I learned this from auto sizing dialog.
Retest encounter as I put a fix in awhile back. Same fix I used since 501...

[2020-05-03 05:32] tywrenn commented on #3384
This bug appears to have been fixed as I never see it happen at the moment. Closing.

[2020-05-03 05:32] #3384 closed

[2020-05-03 08:06] yashrajbothra commented on #3454
I was using `PUT http://localhost:8081/openemr/apis/api/patient/:pid/encounter/:eid` and it returned
**"You are not authorized to see this encounter."**

![image](https://user-images.githubusercontent.com/47683556/80909010-4993c380-8d42-11ea-8b9a-ea7974957e18.png)

Am I missing something here?

[2020-05-03 11:07] sjpadgett commented on #3454
hmm, ensure you have correct user permissions set. including the provider flag.
i'm trying to test some more today and have portal login to look at. also ensure correct acl set in route.

[2020-05-03 12:46] sjpadgett commented on #3454
@yashrajbothra
![image](https://user-images.githubusercontent.com/1859985/80914588-6a482300-8d1a-11ea-9348-abab49e68f52.png)

[2020-05-03 13:08] stu01509 commented on #2892
Hi @bradymiller and @sjpadgett

Should I continue to solve this issue?

[2020-05-03 13:31] sjpadgett commented on #2892
@stu01509 I fixed this I believe.
First the issue was with the tab summary container scroll not inner scroll. The fix is in the Tabs Summary when container is created.
![image](https://user-images.githubusercontent.com/1859985/80915427-4091fa80-8d20-11ea-885e-d3e569c294f5.png)

![image](https://user-images.githubusercontent.com/1859985/80915460-8058e200-8d20-11ea-8daf-14f7ef102bd5.png)

I'll close

[2020-05-03 13:31] #2892 closed

[2020-05-03 13:46] sjpadgett commented on #3454
Did you verify the User settings you are using for api?
Note Provider and Active flags. Also ACL permissions.
![image](https://user-images.githubusercontent.com/1859985/80915857-d6c72000-8d22-11ea-8bfc-1983d6e591f2.png)

[2020-05-03 13:53] yashrajbothra commented on #3454
![image](https://user-images.githubusercontent.com/47683556/80915990-71e7e600-8d73-11ea-8705-460ab02b451e.png)

Looks Fine from here 🤔  ?

[2020-05-03 13:58] sjpadgett commented on #3454
How is it you haven't a last name unless you removed for posting?

[2020-05-03 14:00] yashrajbothra commented on #3454
Don't you think it's strange not have this setting here ⬇️
![image](https://user-images.githubusercontent.com/47683556/80916068-0a7e6600-8d74-11ea-9658-b227d0a8971c.png)

Before this point, I just thought we don't have something to change a user details😅

[2020-05-03 14:02] yashrajbothra commented on #3454
Yea I was trying to change that but some red words are coming my way :)

[2020-05-03 14:04] sjpadgett commented on #3454
I don't understand what you mean here!

[2020-05-03 14:09] yashrajbothra commented on #3454
![image](https://user-images.githubusercontent.com/47683556/80916273-48c85500-8d75-11ea-894f-ebc1fa02152f.png)

I can't see those user setting inside this Setting tab
Because it also says **Edit User Setting** so in general user will expect to have something to edit name and stuff here too :(

[2020-05-03 16:17] sjpadgett commented on #3454
@yashrajbothra I've recreated. ARO for sensitivity is not working. You can change encounters sensitivity to None to get to work.

Since when do we not allow super for admin. this makes no sense to me:

// Superuser always gets access to everything.
        if (($section != 'admin' || $value != 'super') && self::aclCheckCore('admin', 'super', $user)) {
            return true;
        }

[2020-05-03 17:12] yashrajbothra commented on #3454
@sjpadgett  Did you mean `NULL` because that worked :)
AND its just workaround and not a solution right?

[2020-05-03 17:31] sjpadgett commented on #3454
NULL or "". Setting in encounter to None results in "".
I don't know why Normal or High sensitivity doesn't work. @bradymiller any idea. In encounters High requires Admin and/or Patient. It is prob implemented wrong in API so you might want to look encounter form over to see how it implemented there!

[2020-05-03 17:49] bradymiller commented on #3454
It appears to be testing well in non-API mode (all sensitivities work for the admin user). It appears api is not setting $_SESSION['authUser'] which is needed for the standard acl calls to work. so any code that does standard acl checks after the initial RestConfig::authorization_check will not work.

[2020-05-03 17:50] bradymiller commented on #3454
ie. we have a systemic bug that needs fixing :)

[2020-05-03 17:54] yashrajbothra commented on #3454
Ya, That's where I thought its a problem with authorization :)

[2020-05-03 18:01] bradymiller commented on #3454
Things to consider for this solution:
1. After the token is authenticated, then consider populating $_SESSION['authUser'] with username
2. Consider removing the else part of the code in _rest_config.php authorization_check function and then removing not needed aclCheck function in AuthRestController function

[2020-05-03 18:05] yashrajbothra commented on #3454
Sorry, but this issue wasn't meant to go on that direction is it okay to discuss here or open a new issue?

[2020-05-03 18:06] bradymiller commented on #3454
rec a new issue

[2020-05-03 18:08] sjpadgett commented on #3454
At one time these were set. Need to prob do both $_SESSION['authUser'] and $_SESSION['authUserID']
They will come up somewhere else i'm sure.

[2020-05-03 18:14] yashrajbothra opened #3474 "Unexpected response from ACL in Encounter API"
Hey, Ser @sjpadgett I was working on this and saw something strange!
https://github.com/openemr/openemr/blob/d6afe5bb574a3a7d97659467a9068b48222c59b4/src/Services/EncounterService.php#L324
`aclCheckCore` is not working for API call.
I think it related to auth which we had discussed earlier but right now its causing issue in this particular function.

_Originally posted by @yashrajbothra in https:/

[2020-05-03 18:16] yashrajbothra commented on #3474
ie. we have a systemic api bug that needs fixing :)

Originally posted by @bradymiller in #3454 (comment)

[2020-05-03 18:16] yashrajbothra commented on #3474
Things to consider for this solution:
1. After the token is authenticated, then consider populating $_SESSION['authUser'] with username
2. Consider removing the else part of the code in _rest_config.php authorization_check function and then removing not needed aclCheck function in AuthRestController function

_Originally posted by @bradymiller in https://github.com/openemr/openemr/issues/3454#issu

[2020-05-03 18:16] yashrajbothra commented on #3474
At one time these were set. Need to prob do both $_SESSION['authUser'] and $_SESSION['authUserID']
They will come up somewhere else i'm sure.

_Originally posted by @sjpadgett in https://github.com/openemr/openemr/issues/3454#issuecomment-623154789_

[2020-05-03 18:25] sjpadgett commented on #3474
It may be time to develop new authentication/authorization scheme for applications. Needed for mobile os's anyway so, maybe i'll bite the bullet and get it done.
Yash go ahead and fix the session cookie as we're going to support two credential modes. I'll assign us to this and i'll work new auth.

[2020-05-03 19:00] bradymiller commented on #3474
I'm also happy to do the quick fix needed for this specific issues, which will allow us to get rid of a unnecessary function (and potentially make the new auth scheme easier to sort out).

[2020-05-03 19:10] sjpadgett commented on #3474
Sure @bradymiller , do your magic.

[2020-05-04 08:13] yashrajbothra commented on #3474
Hey, @bradymiller your PR include session cookie fix?

[2020-05-04 14:56] stephenwaite commented on #3471
thanks @yashrajbothra , can probably start with https://opencollective.com/openemr

[2020-05-04 15:02] yashrajbothra commented on #3471
https://github.com/yashrajbothra/openemr/commit/99fdc823dee61c3637c747b175d00f5dfe5de0ba
I tried this in my fork but it seems it will only work in the original repo 👍

[2020-05-04 15:31] stephenwaite commented on #3471
right @yashrajbothra , something admins have to do, sorry for confusion, thank you

[2020-05-04 17:21] tammbamm5 commented on #3460
It is the same version. We are still having issues and cannot access the settings

[2020-05-04 17:41] tammbamm5 opened #3478 "EOB Posting issue"
I cannot search for an invoice under the EOB posting option.
I need to be able to send these to clients who need to pay their bills or who need to get reimbursed from their insurance company.
Please help! There's been so many bugs since the last update.
Also, if anyone can look at my last post and help me figure out that as well.
Thank you

[2020-05-04 17:46] sjpadgett commented on #3460
@tammbamm5
I fear the last upgrade is corrupt. Do you know if the sql_upgrade.php script was run after file upgrade?

i.e https://yourdomian/openemr/sql_upgrade.php?site=default

[2020-05-04 17:53] tammbamm5 commented on #3460
I'm not sure what that means.
I tried to click on that link you send me but it says that it cannot be reached.

[2020-05-04 18:04] sjpadgett commented on #3460
Recommend you contact the person that did your upgrade and speak with them. Must have been done within past few days if you are showing from About
![image](https://user-images.githubusercontent.com/1859985/80997935-1ae41e80-8e10-11ea-86b1-8009972d8ea1.png)

[2020-05-04 19:37] stephenwaite commented on #3478
hi @tammbamm5 , can't confirm this on the demo at https://seven.openemr.io/f/openemr/interface/login/login.php?site=default

[2020-05-05 09:36] bradymiller commented on #3474
hi @yashrajbothra , hopefully I didn't miss anything. what is the session cookie bug?

[2020-05-05 15:54] pete-boyd opened #3480 "Cannot switch off employer section in patient demographics"
### Describe the bug
In OpenEMR 5.0.2.1 on Debian, Administration > Globals > Omit Employers ("Omit employer information in patient demographics") doesn't have any effect

### Expected behavior
Search or Add Patient should no longer contain an "[ ] Employer" section.

There's nothing in the Apache error log

[2020-05-05 18:06] #3474 closed

[2020-05-05 18:07] bradymiller commented on #3474
This autoclosed with the fix I just brought in. Let me know if it needs to be reopened.

[2020-05-05 21:11] stephenwaite commented on #3480
good pt @pete-boyd , it's only been implemented when editing patient demographics so far.

[2020-05-06 00:11] tywrenn opened #3481 "Fix Patient Portal Login Being Broken"
### Describe the bug

The patient portal currently has this issue where every so often it doesn't allow you to login at all and doesn't log it or give any reason why it is not working in php or the EMR logs (and am using the correct credentials as well). This was discovered while working on the patient portal RTL support. Since I don't know how this bug is happening, I need the community to help m

[2020-05-06 00:28] tywrenn commented on #3425
@bradymiller 3.5.1 has released now
https://blog.jquery.com/2020/05/04/jquery-3-5-1-released-fixing-a-regression/

[2020-05-06 00:59] bradymiller commented on #3481
I haven't noted this in my recent testing of the portal. Will try it out couple more times. When it happens, are you seeing any entries in the sql `logs` table (look at the `comments` sql column).

[2020-05-06 01:15] #3425 closed

[2020-05-06 01:20] tywrenn commented on #3481
@bradymiller I'll have to encounter the bug again to test that out but I can tell you though there are no logs that pull up in the log viewer as well as php when I tested it.

[2020-05-06 10:21] consolticaemr opened #3484 "mysql persistent volume for openemr"
In the ```docker-compose.yml``` file what is the reason for not using persistent volume for mysql? Is there something missing or I am loosing track.

[2020-05-06 14:46] sjpadgett commented on #3481
There is a lot that happens with portal security and reinventing is not an option!
I've just retested the current v5.0.3 and v5.0.2 master with no issues noted.
Beware that portal sessions and openemr sessions are completely different. This is by design so, running an openemr instance and a portal instance from the same user agent ie FF/FF can and will cause unpredictable results.

Brady's last se

[2020-05-06 16:45] tywrenn opened #3485 "Add Test Data Easy Docker Dev Tool"
### Describe the problem

As a developer, there are multiple features of OpenEMR that are available. Only one small problem -- i'm not a doctor. So when it comes to testing essential functionality such as NationNotes and other features, I don't have a dedicated checklist to go over to make sure everything is working.

### Describe the solution you'd like

The up-for-grabs environments have this fe

[2020-05-06 16:50] sjpadgett commented on #3481
Maybe this will have something to do with issue:

[06-May-2020 12:11:33 America/New_York] PHP Fatal error:  require_once(): Failed opening required 'C:/xampp/htdocs/openemr-rtl/library/authentication/common_operations.php' (include_path='C:\xampp\htdocs\openemr-rtl\vendor/pear/pear_exception;C:\xampp\htdocs\openemr-rtl\vendor/pear/console_getopt;C:\xampp\htdocs\openemr-rtl\vendor/pear/pear-core-mi

[2020-05-06 16:52] sjpadgett commented on #3485
Also expand the datasets

[2020-05-06 18:46] stephenwaite commented on #3484
hi @consolticaemr , doesn't the volume persist as long as you don't `docker-compose down -v`?

[2020-05-06 20:55] sjpadgett opened #3486 "Portal ACL broken 5.0.3 and 5.0.2"
- Rest URI such as patient/10 refers to Id and not pid.
https://github.com/openemr/openemr/blob/78bf091db7aa3e4e7dbc9cc1f3897874132e0e70/portal/patient/fwk/libs/verysimple/Phreeze/GenericRouter.php#L132
- api/onsiteportalactivities is how templates are stored/retrieved needs p_all
https://github.com/openemr/openemr/blob/78bf091db7aa3e4e7dbc9cc1f3897874132e0e70/portal/patient/fwk/libs/verysimple/Ph

[2020-05-06 21:16] tywrenn commented on #3481
Currently running Ubuntu 18.04.4 LTS btw

[2020-05-06 21:36] bradymiller commented on #3486
Looks like we are heading for patch 3 soon :)

[2020-05-06 21:43] bradymiller commented on #3486
Just to help with org of this fix, the pertinent commit is here:
https://github.com/openemr/openemr/commit/093777d2a9543381b0f36e5a96b6ec8f559275d6

[2020-05-06 21:57] sjpadgett commented on #3486
I don't know Brady, sometimes we just can't catch a break!

[2020-05-07 01:30] #3414 closed

[2020-05-07 02:02] consolticaemr commented on #3484
No the volume does not persist, the main issue in my view point is.
[code]
there is not persistent volume given for mysql/mariadb container images which result in the loss of data when the container is destroyed, which I am talking about in the local environment. So it would be better to have a persistent volume.

And on the other hand I see many versions of openem present in the docker, don't the

[2020-05-07 02:07] consolticaemr commented on #3445
Yes It is the default behavior in my opinion. The table you are trying to refer and insert the data has a constraint for your entry and cant be duplicated, you might want to rename it. If you still want this to be done then you need to drop the primary constraint for the ```list_options``` table which will give you unexpected results.

[2020-05-07 03:43] tywrenn commented on #3485
@bradymiller dunno how to do this and don't wanna mess anything up -- can u or someone fix this issue?

[2020-05-07 05:59] bradymiller commented on #3485
The up for grabs mechanism of sample data does the following:
1. Wipes the database and brings in schema from 5.0.0 with sample data in it
2. Then runs the sql upgrade scripts

To get to a solution that bodes well for development probably means first getting this issue completed (then would have the "pieces" necessary to bring in sample data either via the up for grabs scorched earth approach or v

[2020-05-07 06:12] bradymiller commented on #3484
hi @consolticaemr , That docker-compose.yml is the ["insane development environment"](https://github.com/openemr/openemr/tree/master/contrib/util/docker#insane-development-docker-environment) and is meant for development purposes and allows development/testing on all the different php/mysql/mariadb versions along with testing with redis, ldap, couchbd, and orthanc. It's not meant for productions p

[2020-05-07 08:35] consolticaemr commented on #3484
@bradymiller thanks for the explanation.

[2020-05-07 08:35] #3484 closed

[2020-05-07 13:04] stu01509 commented on #3057
Hi @bradymiller sir

Please assign this issue to me, Thanks.

[2020-05-07 14:33] sjpadgett commented on #3486
@bradymiller Are you working this or am I?
If you're not then i'll take a stab. I just don't want to dup efforts.

[2020-05-07 16:04] stephenwaite commented on #3057
hi @stu01509 , be happy to, thank you

[2020-05-07 16:07] tywrenn commented on #3057
@stu01509 I actually looked at this as well when I was looking at using stylelint 😂 it's actually really cool. Main thing to keep in mind is to ignore crucial JS system files (specifically gulpfile.js).

[2020-05-07 17:43] bradymiller commented on #3486
I've been analyzing it and think have a quick potential solution for item 1
(the id/pid issue). Also have a plan for item 2, but will require more
time/work. Plan to try out plans this evening and hopefully have initial PR
this evening.

On Thu, May 7, 2020 at 7:33 AM Jerry Padgett <notifications@github.com>
wrote:

[2020-05-07 18:06] sjpadgett commented on #3486
I have a fix. We really don't need to parse uri's for routes and pid. Pid will be query strings and not embedded in rest calls. You had it in index.php.

[2020-05-07 19:53] bradymiller commented on #3486
Don't we still need to account for a patient that tries to run a patient
endpoint with an id in it that is not the patient's though?

On Thu, May 7, 2020 at 11:06 AM Jerry Padgett <notifications@github.com>
wrote:

[2020-05-07 20:09] sjpadgett commented on #3486
id is unique to pid
![image](https://user-images.githubusercontent.com/1859985/81339967-048eca80-907d-11ea-9000-58419c26cd0e.png)

Unless i'm missing a point somewhere.

[2020-05-07 20:12] sjpadgett commented on #3486
Don't get me wrong. I think adding the acl to json routes is clever and may still prove useful.

[2020-05-09 12:20] stu01509 commented on #3057
Hello @tywrenn

Thanks for your reminder, I will add the gulpfile.js to the ignore rules :)

[2020-05-09 12:21] stu01509 commented on #3007
Hello @bradymiller @stephenwaite and @im-Amitto

Can anyone guide me to go to the page?

[2020-05-09 13:37] stu01509 opened #3490 "UI Issue: Navbar dropdown error"
### Describe the bug

Navbar dropdown toggle error.

### To Reproduce

Steps to reproduce the behavior:
1. Click the navbar dropdown.

![](https://imgur.com/JT07sJR.gif)

![image](https://user-images.githubusercontent.com/22230889/81475202-4e261380-923d-11ea-8d7a-b33763ee658f.png)

### Client configuration

- Browser: Firefox 75
- Operating system: Windows 10

[2020-05-09 15:17] adad20 commented on #3490
@stu01509 Is this problem due to recent commits because I can't reproduce it

[2020-05-09 20:13] #3342 closed

[2020-05-09 20:18] #3486 closed

[2020-05-09 22:11] stephenwaite commented on #3466
hi @stu01509 , am not seeing this on the dev demos
https://www.open-emr.org/wiki/index.php/Development_Demo#With_demo_data

[2020-05-10 07:23] bradymiller commented on #3007
hi @stu01509 ,
These are kind of all over the place :)

The eye_mag ones are part of the Eye Exam module. Can see in encounter gui at:
![image](https://user-images.githubusercontent.com/278968/81493141-c9de8b00-9252-11ea-9d63-c9b31a583308.png)

The interface/drugs/add_edit_drug.php is part of drug inventory gui. Need to turn it on in Administration->Global->Features->Drugs and Products->inventory

[2020-05-10 08:52] im-Amitto commented on #3007
@stu01509 Braddy already listed the affected pages and how to access them.
I just wanna mention that you need to replace the drag-drop & sortable in eye_mag to remove jquery. I implemented an alternative of sortable names `oeSortable` in one of latest commit which uses the drag & drop approach so it can come in handy.

[2020-05-10 10:06] stu01509 commented on #3466
Hello @stephenwaite

Aren't you seeing this issue?

[2020-05-10 10:19] stu01509 commented on #3007
Hello @bradymiller

Thanks for your information, They are very useful,
Also, I still need a step to approach the ` interface/forms/LBF/new.php ` page, Thanks :)

[2020-05-10 10:21] stu01509 commented on #3007
Hi @im-Amitto

Thanks for your mention, The eye_mag's jquery-ui removal seems a big plan 😄😄.

[2020-05-10 12:47] stu01509 commented on #3007
Hi @bradymiller  and @stephenwaite

I want to open the Fax/Scan page, but it shows the **Cannot read /mnt/scan_docs** error message, Is it means should I plug in some device?

![image](https://user-images.githubusercontent.com/22230889/81499579-344d0500-92ff-11ea-9300-971994ed2a75.png)

[2020-05-10 13:18] sjpadgett opened #3496 "RTL not working Windows. v5.0.3 master"
### Describe the bug
I don't understand why not working on windows. May be my system.
Be nice if I could get this confirmed from another xampp system!
### To Reproduce

![image](https://user-images.githubusercontent.com/1859985/81500205-94f82580-929e-11ea-8e03-d1838b6e37e7.png)

Steps to reproduce the behavior:
Login using a RTL language.

### Client configuration

- Browser:
- OpenEMR version: 5.

[2020-05-10 13:51] sjpadgett commented on #3496
oops, nevermind.:) it's me, it's always me!
Anyway need to ensure we test this on 5.0.2 to 5.0.3 upgrade.

[2020-05-10 13:51] #3496 closed

[2020-05-10 14:32] stephenwaite commented on #3466
hi @stu01509 , no, do you see it on the demos?

[2020-05-10 14:38] stephenwaite commented on #3007
hi @stu01509 , just change the scanner directory to `/tmp` in admin->miscellaneous.
![Screenshot from 2020-05-10 10-38-11](https://user-images.githubusercontent.com/5618372/81502194-684a0b00-92aa-11ea-9325-15e3066ef507.png)

[2020-05-10 20:37] bradymiller opened #3498 "Composer deprecation notices"
Noted the following composer deprecation notices when building openemr:
[code]

[2020-05-11 01:02] zerai commented on #3498
Maybe the namespace is wrong.
First deprecation could be:
[code]
with final 's' in fixture word.

second deprecation could be:
[code]

[2020-05-11 01:48] stephenwaite commented on #3498
this [PR](https://github.com/openemr/openemr/pull/3500) fixes 1 and 2, thanks @zerai here's #3 status
https://github.com/ezyang/htmlpurifier/issues/246

[2020-05-11 09:59] #3330 closed

[2020-05-11 12:16] #3498 closed

[2020-05-11 12:42] usama-kabel opened #3501 "OpenEMR not work with HAproxy"
### Describe the bug
I create two node of openemr application and another node act as HAProxy

Already when I hit on browser on HAproxy ip the backend nodes works fine

But when I try to login to openemr system I got this message "Site ID is missing from session data!"

How  can I fix it?

### Client configuration

- Browser: chrome
2 nodes are the same with the following
- OpenEMR version:5.0.2(1

[2020-05-11 18:43] stephenwaite opened #3502 "worng dashboard patient in add event popup from calendar"
### Describe the bug

https://community.open-emr.org/t/new-appointment-in-calendar-tab-prefills-wrong-patient/14454
### To Reproduce
Steps to reproduce the behavior:
1. choose a pt in dashboard
2. Click on calendar and make an appt
3. go back to dashboard and choose other pt
4. go back to calendar and make a same day appt as previous, notice the previous patient

### Expected behavior

the dashboa

[2020-05-11 19:03] bradymiller commented on #3502
In this case, when a new patient is opened, then the calendar tab should be
refreshed (this will then populate needed stuff with the right pid).

On Mon, May 11, 2020 at 11:43 AM stephen waite <notifications@github.com>
wrote:

[2020-05-11 20:03] stephenwaite commented on #3502
good thinking @bradymiller  :)

[2020-05-11 20:24] sjpadgett commented on #3502
That won't be to easy to do. Recommend remove session to patientid assignment in function newEvt:

function newEvt(startampm, starttimeh, starttimem, eventdate, providerid, catid) {
  dlgopen('add_edit_event.php?startampm=' + encodeURIComponent(startampm) +
   '&starttimeh=' + encodeURIComponent(starttimeh) + '&userid=' + encodeURIComponent(providerid) + '&starttimem=' + encodeURIComponent(startti

[2020-05-11 20:56] stephenwaite commented on #3502
glad to follow your advice @sjpadgett

looking closer at `dialog.js` :see_no_evil:
does this seem like a typo
[code]
specifically  `+ +s4()`

[2020-05-11 21:07] sjpadgett commented on #3502
Nope. It's just a way of creating a random unique id for dialog. Adding eight random numbers.

[2020-05-11 21:14] stephenwaite commented on #3502
ok, so it's just incrementing s4 before adding it to the return

ok, thanks, will try, gonna need to find some more :horse: power for the :brain:

[2020-05-11 21:15] sjpadgett commented on #3502
Eat oats!

[2020-05-11 22:01] #3502 closed

[2020-05-11 22:33] stu01509 commented on #3466
Hello @stephenwaite

No, I'm not seeing in the demo site, But @yashrajbothra  and @adad20  they also faced the same problem, I will try to clone the new project and reproduce it.

[2020-05-11 22:36] stu01509 commented on #3490
Hello @adad20

Ok, Thanks for your mention, I will clone the new project and reproduce it.

[2020-05-11 22:45] ShubhamBansal1997 commented on #3378
Picking this one
[code]
Similar as previous ones
cc - @bradymiller

[2020-05-11 22:52] ShubhamBansal1997 commented on #3378
Raised PR https://github.com/openemr/openemr/pull/3504 for this https://github.com/openemr/openemr/issues/3378#issuecomment-627005464 . Please review @bradymiller

[2020-05-12 12:06] sjpadgett commented on #3449
Can anybody tell me if there was a legal issue with not allowing a provider/user selection in encounter creation?

[2020-05-12 15:45] sjpadgett commented on #3449
@stephenwaite
I'm looking to put this in patch(3) then circle back to v5.0.3.

I just finished adding following work flows:
- On auto encounters create, the selected appt fac POS is now set in encounter
- Same with user where previously we set encounter provider to logged in userauthorized. Now is set to appt provider(if authorized and active).
- On new encounter create, user can now select the pr

[2020-05-12 18:15] bradymiller opened #3507 "patch 3 planning"
Just making this issue to plan patch 3 since looks likes several more fixes (and ongoing work for fixes). @stephenwaite and @sjpadgett , are there any recent things that need to be brought over to rel-502? (just making sure we don't miss anything)
When we are ready to go, it should only take me 1-2 days to get the patch out.

[2020-05-12 21:19] tywrenn opened #3508 "Update Bootstrap to 4.5.0"
Recommended to update to Bootstrap 4.5.0

Upgrade details:
[https://blog.getbootstrap.com/2020/05/12/bootstrap-4-5-0/](https://blog.getbootstrap.com/2020/05/12/bootstrap-4-5-0/)

[2020-05-12 21:31] stephenwaite commented on #3449
sounds terrific @sjpadgett , be glad to assist, thank you

[2020-05-13 06:32] #3490 closed

[2020-05-13 07:00] stu01509 commented on #3007
Hello  @stephenwaite

Now I can enter the Fax/Scan page, but when I click the Scanner In > Folder >  Dispatch it just shows the dialog and looks like have some error, Is it correct?

![image](https://user-images.githubusercontent.com/22230889/81781171-51b1e700-952a-11ea-80ba-c818173472bf.png)

[2020-05-13 08:58] bradymiller opened #3510 "`fhir/Patient` FHIR endpoint not working"
`fhir/Patient` FHIR endpoint not working with following error:
```[Wed May 13 08:52:41.019313 2020] [php7:error] [pid 619] [client 172.20.0.1:39168] PHP Fatal error:  Uncaught Error: Call to undefined method OpenEMR\\Services\\PatientService::setPid() in /var/www/localhost/htdocs/openemr/src/Services/FHIR/FhirPatientService.php:131\nStack trace:\n#0 /var/www/localhost/htdocs/openemr/src/RestContro

[2020-05-13 12:18] yashrajbothra commented on #3510
Hey @dixonwhitmire Sir, Will your next PR will cover this issue?

[2020-05-13 13:13] dixonwhitmire commented on #3510
@yashrajbothra @bradymiller - Yep! I'll probably have a PR or two to address this. I just want to limit the scope of changes, rework, and make it easier to review.

We will still need to determine how FHIR Resource ids and versions are supported before the endpoints are viable for integration with other systems.

[2020-05-13 14:06] stu01509 commented on #3007
Hello @bradymiller  @tywrenn and @stephenwaite

This `a_issue.php` page seems to need to refine, Should I complete on this PR or separate in another PR?

![image](https://user-images.githubusercontent.com/22230889/81822624-f271c800-9565-11ea-90ed-4d4bf561894f.png)

[2020-05-13 15:37] yashrajbothra commented on #3510
I am a little confused here! Which version are you talking about https://www.hl7.org/fhir/resource.html#versions

[2020-05-13 16:07] dixonwhitmire commented on #3510
Hi @yashrajbothra Hopefully I'm not conflating things here or making it confusing. In regards to the "version" I am referring to the version id which is conveyed in the Resource's [meta element](https://www.hl7.org/fhir/resource.html#resource). I have also attached an example for reference
[fhir-patient.json.zip](https://github.com/openemr/openemr/files/4623182/fhir-patient.json.zip)

In order to

[2020-05-13 16:27] sjpadgett commented on #3510
The resource version will always be 1 in openemr. We don't track updated record versions so any history search will always result in the current version of the resource. Or am I missing something?

[2020-05-13 17:12] dixonwhitmire commented on #3510
Thanks @sjpadgett! - the only other use-case I can think if is if you wanted to track the current version number in a server that you are integrating with. There may not be much value in doing that as you could just query the server and see all of the version history anyway.

[2020-05-13 17:43] sjpadgett commented on #3510
Well Dixon, we all have our crosses to carry so, welcome anyway.:) Kidding of course where my sense of humor can be convoluted at times but, I get it.:)

Yeah that will depend on our client I guess. Which once you get that going, I fully intend on jumping in and helping if you want...
Right now I have authentication weighing heavy as it is so important to our API before we get to far along in deve

[2020-05-13 17:49] dixonwhitmire commented on #3510
@sjpadgett Cool!

I haven't implemented a "SMART on FHIR" app, but my understanding is that a good "SMART" framework includes OpenID connect/OAuth2 with it to authenticate you within the EMR/EHR's "context". Of course I'm sure there is some configuration and integration that's required to get that to work, unless there is an "easy" button 😄

[2020-05-13 18:35] bradymiller commented on #3007
hi @stu01509 , Here's a video showing how to create and use a LBF form:
https://www.loom.com/share/33aa1caaf0524f45b3aad34a2696e00f

[2020-05-13 18:37] bradymiller commented on #3007
hi @stu01509 , Isn't that a_issue.php form embedded within the eye form? How does it look there?

[2020-05-13 19:55] sjpadgett commented on #3449
@stephenwaite
I've tested on demo and i'm happy with this PR #3505 for patch 3 and will continue further enhancements in 5.0.3. I may sneak in another forum request while here. I've setup some demo data in up for grab for testing if you want to check out.

At least this addresses setting the provider for encounter which has bugged many for awhile...

[2020-05-13 21:20] tywrenn commented on #3007
@bradymiller @stu01509 Recommended to take that as a separate issue. Eye mag in general needs a huge BS4 upgrade.

[2020-05-13 21:27] stephenwaite commented on #3449
thanks again @sjpadgett , this is testing very well, great job

[2020-05-13 21:31] sjpadgett commented on #3449
No problem. Closing this as fixed in PR once in.
Thanks for your help....

[2020-05-13 21:38] tywrenn commented on #3160
Addon to style guide:

These are all things that we must do to be HTML5 compliant:
- Any added tags to the `<!DOCTYPE HTML>` tag must be removed (e.g. xhtml tags) as we aren't using them.
- The `lang` attribute added to the `<html>` tag must be removed as the EMR's language scripts handle this
- The `type="text/javascript"`, `language="JavaScript`, and `type="text/css` attributes are no longer HTM

[2020-05-13 21:54] #3466 closed

[2020-05-13 22:06] yashrajbothra opened #3512 "No Scope of API data"
### Describe the bug

So if we pass any column from `patient_data` table in POST data of core patient API that field will get inserted regardless of any scope of the User. I mean there should be a limit of the field which are allowed to the user. User should not be able to modify every field in the Database.

### To Reproduce

Steps to reproduce the behaviour:
1. Call POST `http://localhost:8081/o

[2020-05-13 22:22] sjpadgett commented on #3512
I'm glad you're looking into this Yash and will be important for all our APIs. So keep that in mind.
Really BaseService hasn't anything to do with this as this needs to be global in scope to entire API project. Thus deserves its own classes and placement in the workflow.
We also need a base service and controller class to extend for FHIR. Doesn't need to be an interface class but an abstract class

[2020-05-13 22:27] bradymiller commented on #3512
Important to note that currently the API does have access controls in place which are user based. The same user within OpenEMR could modify all the patient_data column elements.

Also important to note that these services are going to evolve. For example, at some point the patient service will incorporate the very flexible layouts engine and stray away from the base service mechanism.

[2020-05-13 22:50] yashrajbothra commented on #3490
Hey Cliff,
See, there is a class assigned for dropdown IDK why it isn't loading in DEMO's but my local always show me which I don't like :(

https://github.com/openemr/openemr/blob/932ade32bca6b28541d5b851b2d79638b3a1e94a/interface/main/tabs/templates/menu_template.php#L25

[2020-05-14 00:00] #3508 closed

[2020-05-14 01:05] stu01509 commented on #3007
Hi @bradymiller @tywrenn and @im-Amitto

Now I am removing jquery-ui in eye_mag/view.php page. But I found it have some error about `$(...).draggable`, can you tell which components invoke draggable?

[2020-05-14 01:47] im-Amitto commented on #3007
@stu01509
https://www.loom.com/share/6b32683281c6418583fd8545aeacef67

[2020-05-14 02:22] adunsulag commented on #3510
@dixonwhitmire from my reading of SMART on FHIR that is correct.

[2020-05-14 07:36] bradymiller commented on #3378
hi @ShubhamBansal1997 ,
Regarding comments above, the goal is to not change behavior. In the `last_notify` case, since it was not being explicitly set, it was just being set to the illegal `0000-00-00`. So, in this case, we are just changing it to the legal NULL instead. If we used `CURRENT_DATE` then we would potentially change behavior of whatever uses that field.

[2020-05-14 12:10] #3501 closed

[2020-05-14 14:48] sjpadgett commented on #3449
@stephenwaite @bradymiller or any clinician,
Now we are selecting PBE for default billing facility, can I assume it has to be a billing facility also?
Also, Should we force practice to have a PBE and if so, should there only be one PBE?

[2020-05-14 15:35] ShubhamBansal1997 commented on #3378
Picking this one

[code]
cc - @bradymiller

[2020-05-14 16:17] ShubhamBansal1997 commented on #3378
Raised the PR(https://github.com/openemr/openemr/pull/3514#issue-418100981) for above issue(https://github.com/openemr/openemr/issues/3378#issuecomment-628714564). Please review the same.
cc- @bradymiller

[2020-05-14 21:14] sjpadgett opened #3515 "Follow Up Encounters doesn't make sense."
Matrix @eyalvo-matrix added a new feature in v5.0.3 for Follow up encounters. I really like this concept but, I question workflow and reason it exist.

Disabled in new follow up encounter:
- Visit Category
- Facility

All the above do not reflect parent encounter settings as the defaults in new follow up UI display. Instead parent settings are being set using hidden inputs!
There is no indication

[2020-05-15 02:04] bradymiller opened #3516 "MariaDB 10.4.13 breaks OpenEMR install"
MariaDB 10.4.13 that was released a couple days ago (and is the most recent production mariadb version) breaks OpenEMR install:
[code]
![image](https://user-images.githubusercontent.com/278968/82003622-b007c400-9615-11ea-9517-fd0b00d0398b.png)

[2020-05-15 02:05] bradymiller commented on #3516
This is considered critical. Goal is to get a fix out in patch 3 (and then rebuild install packages).

[2020-05-15 02:40] sjpadgett commented on #3516
I wonder if user is a reserved keyword and may need to enclose in backticks.

[2020-05-15 04:49] #3516 closed

[2020-05-15 05:02] bradymiller commented on #3516
MariaDB 10.4 retired the mysql.user table and it now runs as a view for the new table mysql.global_priv . So appears something in the 10.4.13 release broke being able to use the mysql.user view. I placed a work around that will directly use the mysql.global_priv table if the query with mysql.user errors out.

[2020-05-15 05:06] bradymiller commented on #3516
ie. we are back in business :)

![tenor (17)](https://user-images.githubusercontent.com/278968/82013407-1d741e80-962f-11ea-9654-49e2ca1d63cf.gif)

[2020-05-15 05:34] bradymiller commented on #3378
hi @ShubhamBansal1997 ,
Good question and catch. I think we are good on the key issue since it looks like all the inserts/updates populate the `date` field with a real date (ie. NULL or 0000-00-00 should never exist :pray: ).

[2020-05-15 11:27] ShubhamBansal1997 commented on #3378
Cool and thanks for answering @bradymiller
Picking this now

[code]
This one has got two such fields `patient_signed_time` and `review_date` correcting both of them in the same PR

[2020-05-15 11:53] ShubhamBansal1997 commented on #3378
Raised the PR (https://github.com/openemr/openemr/pull/3519/files) for https://github.com/openemr/openemr/issues/3378#issuecomment-629183081 Please review
cc - @bradymiller

[2020-05-15 12:59] sjpadgett commented on #3515
I'm wondering if we should give a popup to review parent encounter in follow up.
I've added a ref to parent in follow up. Perhaps adding to it.
![image](https://user-images.githubusercontent.com/1859985/82052876-568dac80-968a-11ea-9b01-0487d79db479.png)

[2020-05-16 08:44] #3122 closed

[2020-05-16 10:34] consolticaemr opened #3522 "A simple join query takes year to complete?"
I dont know if I am doing wrong or right, but does a simple query like this take years to complete? either the Indexes are not set properly or something like that can anybody tell me why is this query taking ages.

[code]

[2020-05-16 10:37] consolticaemr commented on #3522
Wow a simple order by and limit takes ages of times.

[2020-05-16 13:08] #3456 closed

[2020-05-16 14:42] sjpadgett commented on #2767
I'm going to reopen this. @dixonwhitmire @rhausam @bradymiller @yashrajbothra
While doing QuestionnaireResponse resource I realized the need to add a table for embedded companioned Questionnaire and response results/scores.
I'm doing this in a way where the resource json is stored along with the required parsed items which prompted me to think why not do this for all our Fhir resources for at min,

[2020-05-16 19:57] bradymiller commented on #3522
@consolticaemr , place indexes on the encounter columns in each of those tables and it should fly super fast. if so, then we should update this in OpenEMR codebase.

[2020-05-17 01:14] sjpadgett commented on #3522
I will test this because I noticed a slow response after I added a couple same type queries in my encounter forays. I have some test database that have a hundred encounters..

[2020-05-17 02:41] bradymiller commented on #3507
@sjpadgett , @stephenwaite ,
Are we ready to pull the trigger on this? If so, just give the word, and will get the patch out (and new packages) within a couple days.

I am confident it will go well :)
![tenor (18)](https://user-images.githubusercontent.com/278968/82134473-2e4a9e80-97ad-11ea-8a35-2c23702316b4.gif)

[2020-05-17 02:57] sjpadgett commented on #3507
I've been watching close for any forum issues and fixed all I know about.
I'm on to 503 stuff so, i'm good and thanks.

Man, i'd hate to be that guy!!! Give it up man, the hole may take ya someplace better.:)

[2020-05-17 03:11] sjpadgett opened #3523 "Nation Notes Broken ... again!"
### Describe the bug

![image](https://user-images.githubusercontent.com/1859985/82134863-690eff80-97ca-11ea-9540-8ec3a70187ed.png)

[2020-05-17 04:49] consolticaemr commented on #3522
@sjpadgett This is a real issue, I see here because without indices the fetching is really slow, just adding a ``` limit and order by desc``` in the forms table the mysql server crashes down even with good resources. Need to fix this urgent, let me know if I can be of some help. And putting indexes on tables is rather a tiring task to my experience because adding one index might make the fetching

[2020-05-17 05:18] sjpadgett commented on #3522
fe.id is better choice.

[2020-05-17 05:54] ravisharmaa commented on #3522
@sjpadgett but still performance problems occur

[2020-05-17 06:07] bradymiller commented on #3378
Looks like we are gonna work on some codebase changes for the `date` field in the `insurance_data` tables. Since it is inserting 0000-00-00 when creating a new patient:

![image](https://user-images.githubusercontent.com/278968/82137114-e7b76d00-97c9-11ea-937b-3d2c155f8043.png)

Guess this may not be as easy as we thought :)
(Ill bet the solution will be straightforward, though, and will end up re

[2020-05-17 06:11] bradymiller commented on #3378
Found the offensive code here:
https://github.com/openemr/openemr/blob/master/library/patient.inc#L1194-L1196

[2020-05-17 06:25] sjpadgett commented on #3522
Okay guys, i'll look closer here soon. However it turns out it just makes sense to add some indexing here.

[2020-05-17 06:27] bradymiller commented on #3522
when in doubt, add an index. If have more doubt, then add another index :)

[2020-05-17 06:28] bradymiller commented on #3378
I may have a quick fix for this. Checking it out now.

[2020-05-17 06:32] sjpadgett commented on #3522
I'll set up a test now.
@bradymiller Been messing with the dab nab dialog all day!!! I'm going to get sizing right one day but do you realize just how many different ways we use the darn thing?:)

[2020-05-17 07:35] sjpadgett opened #3524 "Top Nav doesn't Wrap"
### Describe the bug
Not sure how much this is a bug. Won't wrap if numerous menu items are turned on.
![image](https://user-images.githubusercontent.com/1859985/82138476-b9985400-97ee-11ea-8343-e60f4f20066d.png)

[2020-05-17 08:13] sjpadgett commented on #3522
@consolticaemr
Both these forms have several indexes.
forms:
![image](https://user-images.githubusercontent.com/1859985/82139259-940e4900-97f4-11ea-87fa-86b2cae20662.png)

form_encounter:
![image](https://user-images.githubusercontent.com/1859985/82139210-4b569000-97f4-11ea-8f53-20f11adb41b3.png)

I ran a quick test and didn't notice a problem.

[2020-05-17 13:01] stu01509 commented on #3524
Hello  @sjpadgett

Can you guide me your step, I would like to fix it.

[2020-05-17 13:48] sjpadgett commented on #3524
Hi Cliff @stu01509
You need to turn on some normally off top menu features (Globals) like Group Therapy/NewCrop etc. or resize browser to just before first breakpoint(lg device).
Then note overflow-x scroll. My screenshot above shows how user name is not fully displayed because of x-scroll.
Instead of wrapping top nav it may be better to shorten item names like Patient/Client to Patient.

Also con

[2020-05-17 22:40] stu01509 commented on #3276
Hi @bradymiller @stephenwaite

Please reassign this issue to me.
Thanks.

[2020-05-17 23:29] stu01509 opened #3527 "Remove jQuery-UI script"
### Describe the bug

I found in some files still contain the jquery-ui, It should be removed.
- interface/usergroup/facilities_add.php
- interface/forms/eye_mag/help.php

I will remove it, Please assign this issue to me.

[2020-05-17 23:46] sjpadgett commented on #3527
Happy to

[2020-05-17 23:50] sjpadgett commented on #3523
fix PR #3525

[2020-05-17 23:50] #3523 closed

[2020-05-17 23:58] tywrenn commented on #3524
This is one of the reasons I was doing #3464 because of this awful wrapping effect. It's either the font being too big causing this effect or due to margins/padding not being correct (or flexbox issues).

[2020-05-18 00:08] sjpadgett commented on #3524
Okay, I see it's a bugger. Even if it wraps, that in itself will cause other formatting issues.
We may need to revisit what items are primary on topnav.
Maybe Calendar can move to Administration as it is usually a default tab or opened once by user.
New Crop will prob need to be primary but I don't know how often it is used by user or how moving would interrupt user workflow. @kchapple little help

[2020-05-18 00:29] kchapple commented on #3524
NewCrop only needs to be there if the system is using NewCrop for ERX. Maybe you could shift things around in your menu JSON file and move some menu items to sub-menus?

[2020-05-18 00:30] tywrenn opened #3528 "(Goal) Centralize all CSS into one area"
### Describe the problem

This will be an issue that will take awhile to fix and will require multiple pulls to get done. Currently our CSS is not centralized into one specific location nor is organized at all, making it increasingly difficult to find conflicting CSS/SCSS and code that outright doesn't need to exist.

### Describe the solution you'd like

All CSS/SCSS should reside in `/interface/

[2020-05-18 00:32] sjpadgett commented on #3524
Yep get that. Guessing NewCrop to send rx is sent from that UI and can't be moved(or shouldn't)

[2020-05-18 00:37] kchapple commented on #3524
It can be launched from the patient record also. You can move the menu item and it shouldn’t  break anything. Maybe under Misc? Seems like “About” would be a good candidate to be moved or removed.

[2020-05-18 00:38] kchapple commented on #3524
It’s really depends the user’s workflow, I think.

[2020-05-18 00:44] sjpadgett commented on #3524
okay we'll try to leave it be. I always thought it'd be a neat feature to add some keystroke shortcuts.
anyway, thanks

[2020-05-18 01:07] bradymiller commented on #3276
hi @stu01509 , it is yours :)

[2020-05-18 02:02] sjpadgett commented on #3515
PR #3517 for now. will circle back for a follow up review feature.

[2020-05-18 02:02] #3515 closed

[2020-05-18 04:04] ShubhamBansal1997 commented on #3378
Picking this one
[code]
Fixing two fields in this also `pc_eventDate` and `pc_endDate`. Moreover, just like `insurance_data` it's also using `0000-00-00` in the codebase. Need to tackle that also (but I am leaving that in this PR), that would be separate issue. Thanks

cc- @bradymiller

[2020-05-18 04:16] ShubhamBansal1997 commented on #3378
Raised the PR(https://github.com/openemr/openemr/pull/3529) for this https://github.com/openemr/openemr/issues/3378#issuecomment-629933260 Please review

cc - @bradymiller

[2020-05-18 04:25] rhausam commented on #2767
I agree this is still worth talking about.  Storing both the original resource json along with the required parsed items could have significant advantages, and doing that consistently likely makes a lot of sense.  I don't know if it's actually a separate database (or needs to be one)?  I would say the best approach to that would definitely be open for discussion.

[2020-05-18 04:48] rhausam commented on #3510
Presumably this means that each create or "update" results in a new record?  If that's the case, then I agree it seems that the resource version will always be 1.

[2020-05-18 07:34] zerai opened #3530 "Bug: assign "void" result to a variable"
### Describe the bug
[code]

Above function has no return type, it's "void" return type.

[code]
The above code/example is a bug.

### To Reproduce

See this file library/ajax/facility_ajax_code.php

[row 28](https://github.com/sjpadgett/openemr/blob/b5aa42d31e2739fa3b6192d695f8d5729e1143ec/library/ajax/facility_ajax_code.php#L28)

[code]

[row 36](https://github.com/sjpadgett/openemr/blob/b5aa42d

[2020-05-18 08:08] #3530 closed

[2020-05-18 10:31] stu01509 commented on #3007
Hello @im-Amitto

Can you guide me, How to invoke `oeSortable()` this method? I follow your PR, seems like you pass the function parameters into the `oeSortable()`, but I am confused in `sortableCallback()` Where are you invoke this and what is about this feature?

https://github.com/openemr/openemr/blob/master/library/custom_template/custom_template.php#L151-L163

[2020-05-18 13:38] sjpadgett commented on #2767
Okay I think i've decided from a purely integration pov, we're best to keep tables under openemr database. Unless there is some disagreement.
I really wanted to avoid taking this far but, it just seems prudent and will solve @dixonwhitmire needs for tracking meta.
First we have to add some structural support to core. Meaning, implementation of UUID throughout.
Would we need to create unique id for

[2020-05-18 13:47] sjpadgett commented on #3524
Closing in lieu of above.

[2020-05-18 13:47] #3524 closed

[2020-05-18 14:04] sjpadgett commented on #2277
bump. Is anyone going to see this through. Now'd be the time!

[2020-05-18 14:18] yashrajbothra commented on #2767
https://github.com/openemr/openemr/pull/3513#issuecomment-630141233 As Said All the Resource extend's `BaseResource` which has `meta.versionId` which could be either logical id or UUID.

But all of it intrigues me to ask @dixonwhitmire why do we need UUID when we have logical ID? :thinking:

[2020-05-18 14:59] bradymiller commented on #2277
I am planning to take a stab it this tonight

On Mon, May 18, 2020 at 7:05 AM Jerry Padgett <notifications@github.com>
wrote:

[2020-05-18 15:05] sjpadgett commented on #2277
cool. let me know if I can help.

[2020-05-18 15:14] dixonwhitmire commented on #2767
Hi Folks - @sjpadgett @yashrajbothra @bradymiller

Yes I agree that for OpenEMR's purposes, adding "FHIR support" to the current schema/database is preferable to adding an additional database, as it doesn't add an additional resource (database) requirement to the system, and allows you to join things together simply without have to go across schemas or db instances, which can be a pain.

Yash in r

[2020-05-18 15:18] dixonwhitmire commented on #3510
Hi @rhausam - the intent, if I'm not mistaken, is that OpenEMR will not support resource versioning. @sjpadgett or @bradymiller can chime in here for clarification if I am incorrect. With that in mind I believe we were just returning a version of "1" at the moment since OpenEMR's implementation does not support versioning.

It may be more appropriate to omit the version field, since it's not meani

[2020-05-18 16:05] sjpadgett commented on #2767
Should note that for this our CCDA import will populate with the imported UUID when new patient is created. Same for external provider, problems etc. Not sure why as for me once imported there's not a need any longer for those references unless for transactional between exporter and importer.

I just want to be careful for mission creep where anything we do concerning Fhir interop, we have an eye

[2020-05-18 18:21] tywrenn opened #3531 "(Subissue) Removal of jQuery UI CSS & jQuery UI in npm"
### Describe the problem

This is a subissue to #3528.
There is still jQuery UI CSS leftover in the files where we removed it which has gotta go. Also, jQuery UI still resides in package.json which needs to be removed.

### Describe the solution you'd like

This should be the last bit of work needed to remove jQuery UI completely. Here is the order of operations that the solution should solve:

-

[2020-05-18 19:59] yashrajbothra commented on #2767
Specifically, I was talking about `pid` which we are also using in `PatientService`. As per my understanding, it does conform with [`Logical ID`](https://www.hl7.org/fhir/resource.html#id) So is it necessary to use UUID or it's just a better choice?

Thanks @dixonwhitmire

[2020-05-18 20:12] sjpadgett commented on #2767
Lookups immediately come to mind. Having a UID allows for resource relationships besides having to try to encode in a reference url. So when lookup by UID, the item the UID references will hold the other data needed such as the resource the id refers to.

I'm going to put up a PR today for our resource Fhir tables.

[2020-05-18 20:36] im-Amitto commented on #3007
@stu01509 `oeSortable` returns the updated list of elements in the callback. In my case whenever the order gets changed it needed to be saved in the database. If you don't want to save the order of the elements then you don't need to pass the `sortableCallback`. Simply use `oeSortable();`

[2020-05-18 20:38] im-Amitto commented on #3007
I must have mentioned this stuff at the top of `oeSortable` implementation.

[2020-05-19 08:27] bradymiller commented on #2277
Just submitted PR:
https://github.com/openemr/openemr/pull/3533

[2020-05-19 12:15] stu01509 commented on #3007
Hello @im-Amitto

Hello

So I just add oeSortable() in HTML ? Like this?

[code]

[2020-05-19 18:07] im-Amitto commented on #3007
@stu01509 Not like that, I thought you have checked the PR where I added and used it.
`oeSortable()` is responsible for loading drag & drop mechanism in the current page but he elements need to have specific classes assigned to them so it can identify what to drag and drop.

A simple example of `oeSortable()` would be
[code]
if you have something like this in your page and you call the `oeSortbale

[2020-05-19 18:09] im-Amitto commented on #3007
@stu01509 Also, if you want a
[code]
to be automatically converted into the drag/drop format. you can use the method that I added in PR #3535

[2020-05-19 18:27] tywrenn commented on #3531
@stu01509 Mind working on this?

[2020-05-19 19:19] tywrenn opened #3536 "(On Hold) Bootstrap v5 Initial Plans"
As Bootstrap 5 is in alpha right now, i'd thought i'd use this issue to draw up some things that might break code in the future from their current changelog as of May 19th:

- `Updated blue and pink base colors (-500) to ensure AA contrast.` &mdash; With this one, the blue color changes from `#007bff` to `#0d6efd` and pink changes from `#e83e8c` to `#d63384`. This will just be a simple update on o

[2020-05-19 21:23] stu01509 commented on #3531
Hi @tywrenn

Ok, Please assign this issue to me.

[2020-05-19 21:59] stu01509 commented on #3007
Hi @im-Amitto

Thanks for your explanation. Now it can draggable, but it still has the problem, it seems like the item can't correctly align bottom another item.

![image](https://user-images.githubusercontent.com/22230889/82382618-daff7700-9a5e-11ea-9a0e-e748c107b587.png)

[2020-05-19 22:03] im-Amitto commented on #3007
@stu01509
There should only one `draggable` inside a `droppable`

[2020-05-19 22:07] bradymiller commented on #3531
hi @stu01509 , it's yours :)

[2020-05-20 00:20] bradymiller commented on #2719
The 3rd patch for OpenEMR 5.0.2 has been released:
[https://www.open-emr.org/wiki/index.php/OpenEMR_Patches](https://www.open-emr.org/wiki/index.php/OpenEMR_Patches)

The patch includes improvements and fixes :
* Patient Portal fixes - reported by and fixed by Jerry Padgett
* MariaDB 10.4 compatibility fix - reported by **travis** and fixed by Brady Miller
* Encounter improvements -  by Jerry Padg

[2020-05-20 02:45] tywrenn commented on #3507
@bradymiller Patch 3 released -- time to close this

[2020-05-20 02:49] #3507 closed

[2020-05-20 09:38] zerai opened #3537 "bug setup script (layout)"
### Describe the bug
Setup script without bootstrap layout files,
error 404 for all required files (7 file css/js)

![Schermata del 2020-05-20 11-20-30](https://user-images.githubusercontent.com/2405279/82429727-ac989080-9a8c-11ea-9024-3f2c1c47a628.png)

### To Reproduce

Steps to reproduce the behavior:
1. git clone https://github.com/openemr/openemr.git -b v5_0_2_2
2. change directory
3. docker-

[2020-05-20 15:34] stephenwaite commented on #3537
hi @zerai , think @bradymiller just fixed this
https://github.com/openemr/openemr/pull/3483

[2020-05-20 18:39] bradymiller commented on #3537
hi @zerai ,
Alpine 3.10 decided to update to a nodejs version midstream that has caused weird permission issues in the build process for the openemr flex docker series, so the build is breaking here (as an aside alpine 3.11 also does this, which was fixed by bringing in a more recent nodejs version from the alpine edge tree). The fix here would to instead use the openemr:flex-3.9 image in that doc

[2020-05-20 18:43] bradymiller commented on #3537
Actually, above is the second reason it won't work if try openemr:flex-3.10 . The current openemr:flex image is based on alpine 3.11 (openemr:flex-3.11) which is using a nodejs version that is not compatible with 5.0.2 build process.

[2020-05-20 18:51] bradymiller commented on #2767
this autoclosed with the recent PR, but figured good idea to reopen it since still ongoing project

[2020-05-20 20:23] #2277 closed

[2020-05-20 22:03] stu01509 commented on #3007
Hello @im-Amitto

Thanks for your instruction, I follow your instruction, but It seems like still didn't work correctly.

![image](https://user-images.githubusercontent.com/22230889/82501997-cbe4fb80-9b28-11ea-8281-82e14ba0ae18.png)

https://www.loom.com/share/bdbddd02f34b4427b99d04c8815d3c17

[2020-05-20 22:19] im-Amitto commented on #3007
@stu01509 Why there is an extra droppable on the parent element?

[2020-05-20 22:36] im-Amitto commented on #3007
@stu01509 I think this can be little helpful
Also, I think adding a high z-index to the selected draggable element would improve the solution. Feel free to add it in `oeSortable`
https://www.loom.com/share/4c976d656c8a4eab9e5549a50dac3eea

[2020-05-21 03:54] stu01509 commented on #3007
Hi @im-Amitto

I write a simple to try draggable, But It seems has the same issue.
https://www.loom.com/share/e84be4a96bbc427bb9d8b6906e2eb2f8

[code]

[2020-05-21 04:01] im-Amitto commented on #3007
Please follow the structure to get the results.
 I have already shared the correct format. You can see the code in loom
video too.
Oesortable is a implementation of sortable functionality of jquery.

On Thu, 21 May, 2020, 9:24 am Cliff Su, <notifications@github.com> wrote:

[2020-05-21 10:41] stephenwaite opened #3538 "patient portal minor display and usability issues"
### Describe the bug

query error
and unable to use features like chat messaging logout

### To Reproduce
![Screenshot from 2020-05-21 06-32-25](https://user-images.githubusercontent.com/5618372/82550963-592a4f00-9b2d-11ea-9a43-34ebe3076841.png)
![Screenshot from 2020-05-21 06-32-03](https://user-images.githubusercontent.com/5618372/82550967-5af41280-9b2d-11ea-92f6-cb08b13fd4b4.png)

Steps to repr

[2020-05-21 12:12] stu01509 commented on #3007
Hi @im-Amitto

Thanks for your tips. Now it can work correctly.

[2020-05-21 12:26] stephenwaite commented on #3538
closing since someone must have messed with the demographics layout

[2020-05-21 12:43] im-Amitto commented on #3007
I thinks current version can have some ui improvements so let me know your
feedback.

On Thu, 21 May, 2020, 5:42 pm Cliff Su, <notifications@github.com> wrote:

[2020-05-21 13:04] stephenwaite commented on #3538
ok, reopening for a real issue! there's a display issue with some background text
![Screenshot from 2020-05-21 09-00-46](https://user-images.githubusercontent.com/5618372/82561712-d52e9200-9b41-11ea-945b-25ff759a739b.png)

and it does appear that the dropdown items are not clickable
![Screenshot from 2020-05-21 06-32-25](https://user-images.githubusercontent.com/5618372/82561838-11fa8900-9b42-11ea

[2020-05-21 17:13] tywrenn opened #3539 "Integrate Font Awesome with our SCSS/SASS"
Font Awesome is something that our system uses everywhere. What's great now is the new Font Awesome has SASS/SCSS integration support which I wasn't aware of until now. Since we use this basically all the time, I have decided that we should integrate Font Awesome with our themes. This will allow us to customize Font Awesome and change things if we need to.

Here is how I plan to tackle this:
- [x]

[2020-05-22 02:32] stu01509 commented on #3007
Hello @im-Amitto

For me, I think the UI is very nice, Just a little bit confused about for me how to use it.

[2020-05-22 03:16] im-Amitto commented on #3007
So good to hear that :)

[2020-05-22 09:45] pete-boyd commented on #3445
@consolticaemr I think you miss my point, the issue I am reporting is not that I cannot add a list with the same name, but that there is no human readable error message when I try to do so.

[2020-05-22 16:20] stu01509 commented on #3007
@im-Amitto  Do you mean setting z-index in the `oeSortable`  function?

[2020-05-22 16:30] stu01509 opened #3542 "Remove outdated tag code."
### Describe the bug

According to this comment https://github.com/openemr/openemr/pull/3497#discussion_r424760810, In our codebase  have a lot of outdated code.

### Expected behavior
Remove and replace it.

Please assign this issue to me.

[2020-05-22 20:28] tywrenn opened #3543 "Add Temporary JavaScript File That Detects Bad HTML Elements/Tags/Classes"
### Describe the problem

A lot of the problems with tags/elements/classes in OpenEMR aren't really noticeable unless a script finds them.

### Describe the solution you'd like

I'm proposing adding a temporary JavaScript file that will be removed upon removing all the bad tags/classes/elements that debugs these sort of issues for all pages. Here's how I plan to do this:
- I plan to add a globals

[2020-05-22 21:14] tywrenn opened #3544 "Suggestion: Use GitHub Stale Add-on"
So our issue list for OpenEMR is about to reach 300 issues which is a lot. Unfortunately a lot of these are issues that haven't ever been gone back to or closed. In an effort to remove a lot of these, we should be using a plugin called [GitHub Stale](https://github.com/apps/stale) for issues. This is a plugin that automatically marks issues as stale if they have been sitting around for a certain p

[2020-05-22 21:14] tywrenn commented on #3544
@bradymiller

[2020-05-22 22:59] mdsupport commented on #3543
Any examples of offending objects?

[2020-05-22 23:31] im-Amitto commented on #3007
Yeah, it would be better if oesortable can give the item which is being
dragged a higher z-index.

On Fri, 22 May, 2020, 9:50 pm Cliff Su, <notifications@github.com> wrote:

[2020-05-22 23:42] tywrenn commented on #3543
@mdsupport Offending objects such as `<table>` elements (yet some might not need replacing), replacing the old `bold` class in favor of BS4's equivalent, and anything mentioned in #3160

[2020-05-22 23:50] tywrenn commented on #3538
@stephenwaite Can you go into the inspect screen in chrome and hover over the `<html>` element and tell me the width and height you are experiencing this under

[2020-05-23 01:32] bradymiller commented on #3542
hi @stu01509 , it's yours. search and destroy the outdated code :)

[2020-05-23 01:39] bradymiller commented on #3543
Sounds neat if meant for development purposes. I would avoid manually_added_packages since goal if for that to not exist at some point in future :)
Maybe library/js would be good since sure some of the scripts called from core header are there

[2020-05-23 01:42] bradymiller commented on #3543
I also should of added that there is a very cool mechanism now in the dockers to set globals within the docker-compose.yml. So, we could turn this on for all devs using the easy dev docker environment very easily. For example, here are some globals that are already set there:
https://github.com/openemr/openemr/blob/master/docker-compose.yml#L48-L52

[2020-05-23 01:50] #3539 closed

[2020-05-23 03:31] sjpadgett commented on #3538
Need to add more top container margin to match sidebar. I added mt-5 to sidebar I believe so right should match left.

[2020-05-23 18:15] tywrenn commented on #3544
@bradymiller @sjpadgett Wanna use this?

[2020-05-23 18:37] sjpadgett commented on #3544
Works for me Tyler...

[2020-05-23 20:14] bradymiller opened #3546 "Consider storing uuid in byte format rather than string format"
@stephenwaite brought up a good point with recent uuid support to consider storing byte format of uuid instead of the string format since it's smaller and will be more efficient when used as keys. Been looking into this:
https://uuid.ramsey.dev/en/latest/database.html#storing-as-bytes

Since we are just at the beginning of uuid support, this is definitely time to make this critical decision (and I

[2020-05-23 20:28] bradymiller opened #3547 "Ensure support for null in subscriber_DOB field in insurance_data"
Plan to switch this to null rather than the 0000-00-00 (just need to search codebase to ensure won't cause any untoward effects):
https://github.com/openemr/openemr/blob/master/library/patient.inc#L1208

[2020-05-23 20:35] bradymiller commented on #3546
Also definitely should be using char(36) (or char(16) if got with bytes) instead of varchar, so will at least plan to make that change.

[2020-05-24 13:18] arnabnaha opened #3550 "Patient add/view not working"
Hello,

I am onwindows 10, using php 7.3 and running development version 5.0.3 of openemr. whenever I try to add a new patient or view the patient, it allows me to enter the patient details but while saving, it shows a white page. The data are saved in the databae but they are not displayed.

The php error log shows this -

[Sun May 24 18:44:08.230389 2020] [php7:error] [pid 3796:tid 1900] [client

[2020-05-24 13:28] arnabnaha opened #3551 "Calendar of a different facility donot work"
Hello

I have added a new facility in openemr 5.0.3 and tried to add my timings into the calendar of that facility. It just dont work. After saving the timings, just nothing happens.

I checked the error log and found this-
[Sun May 24 18:55:03.326757 2020] [php7:warn] [pid 3796:tid 1876] [client ::1:51619] PHP Warning:  Invalid argument supplied for foreach() in C:\\xampp\\htdocs\\openemr\\sites\

[2020-05-24 14:14] stephenwaite commented on #3546
nice research @bradymiller , would this need an `sql_version` bump? or because you're just altering the table it's not necessary?

[2020-05-24 17:35] dixonwhitmire commented on #3546
I took a look to see what support if any MySQL 8 has for UUIDs. The MySQL team added some [convenience functions](https://mysqlserverteam.com/mysql-8-0-uuid-support/) for dealing with a UUID v1 but doesn't support any UUID version as a datatype.

Looks like MariaDB is contemplating a [UUID datatype](https://jira.mariadb.org/browse/MDEV-4958) as well.

Of course there's always [Postgres](https://ww

[2020-05-24 17:49] bradymiller commented on #3546
@stephenwaite ,
Gonna do the sql upgrade stuff on subsequent commit (rushing this and having the old varchar/char won't break anything), which will basically involve dropping the pertinent table/columns and redoing the uuid thing for the patient_data table if they don't have binary(16).

[2020-05-24 17:51] bradymiller commented on #3546
@dixonwhitmire ,
Yep, we are getting no help on this from mysql/mariadb. Also will mean that when/if we go to using these uuid's as primary keys, we will need to create a uuid via php on every insert :)

[2020-05-24 18:15] stephenwaite commented on #3538
@bradymiller was saying on the call yesterday that my original issue here is related to the dev demos being broken

@tywrenn looks like it happens on the transition from 767 to 768 width

[2020-05-24 18:41] bradymiller commented on #3546
It's in codebase. Next step is the upgrade piece for the folks that brought in the varchar/char into their instance over last 3 days (note the change is not breaking for these folks, but will be very inefficient in the distant future).

[2020-05-24 19:09] stephenwaite commented on #3547
hi @bradymiller , am not seeing any issues with changing this but can continue testing.

would it be ok for me to create a PR for this?

[2020-05-24 19:13] bradymiller commented on #3547
@stephenwaite , go for it :)
(disclaimer, you have now unknowingly joined the database modernization project :) )

[2020-05-24 19:16] tywrenn commented on #3538
@stephenwaite Damnit that's what I was afraid of -- this is when it's supposed to collapse

[2020-05-24 19:29] stephenwaite commented on #3547
unwittingly vs unknowingly, un-hashed secret to life :)

[2020-05-24 20:20] stephenwaite commented on #3551
hi @arnabnaha , is the new facility set up as a service location?

[2020-05-24 21:52] juggernautsei commented on #542
Where are we on this part of the project? I think I would like to pick this task to do.
I have been manually creating entities but do create a program to generate the entities sounds great. However, I don't agree with one thing I read in this thread. Depending on the database to called 'openemr'. I rarely name a database openemr. I try to avoid it like the plague as a possible security precaution.

[2020-05-24 22:13] stephenwaite commented on #542
hi @juggernautsei , looks like we're right where we left off 3 yrs ago :)

be glad to assign it to you

[2020-05-25 00:17] tywrenn opened #3554 "Font Awesome path issue"
### Describe the bug

Font Awesome breaks due to path issues.

### Expected behavior

No bugs

[2020-05-25 00:26] tywrenn commented on #3554
@bradymiller So this issue is very weird because I'm using the same relative paths that Bootstrap uses...

[2020-05-25 00:29] tywrenn commented on #3551
@stephenwaite wow that link you sent is so outdated XD

[2020-05-25 00:34] tywrenn commented on #3554
Figured it out - now creating pull

[2020-05-25 00:38] stephenwaite commented on #3551
![external-content duckduckgo com](https://user-images.githubusercontent.com/5618372/82768668-75b0da80-9dfe-11ea-9dd8-f67686cea6b2.gif)

[2020-05-25 02:38] arnabnaha commented on #3551
Yes..its selected as a service location.

On Mon, 25 May 2020, 01:50 stephen waite, <notifications@github.com> wrote:

[2020-05-25 03:42] #3554 closed

[2020-05-25 04:06] #3544 closed

[2020-05-25 04:50] tywrenn commented on #2784
Bump to mark not stale

[2020-05-25 05:15] tywrenn commented on #2597
@bradymiller did this ever get done?

[2020-05-25 05:17] tywrenn commented on #2910
@bradymiller here's a reminder 😂

[2020-05-25 05:17] morg0n commented on #2597
Hey @tywrenn !
I had been making progress on Confluence and it was determined that the wiki would be migrated instead to a different platform; I'm currently waiting for things to be finalized with Drupal going live and then documentation will move forward (according to my understanding).

[2020-05-25 05:48] tywrenn commented on #2089
Bump cuz this seems cool

[2020-05-25 05:57] tywrenn commented on #2546
Bumped

[2020-05-25 06:36] bradymiller commented on #2910
this is done :)

[2020-05-25 06:36] #2910 closed

[2020-05-25 07:39] #2489 closed

[2020-05-25 08:15] zerai commented on #3543
There are tools for this job:
[here a list of offending object, deprecated object, and noncompliant HTML5 Code](https://sonarcloud.io/project/issues?id=TestAnalyser_openemr&languages=web&resolved=false)

![Schermata del 2020-05-25 10-09-34](https://user-images.githubusercontent.com/2405279/82792641-fa880c80-9e6f-11ea-875c-32383da1e698.png)

[2020-05-25 13:40] juggernautsei commented on #542
Yes, but I may be 3 years wiser and a developer in the making. Can you shares with me the thinking behind the desire to create the entities programmatically? Also, would this be for the entire database?

[2020-05-25 14:03] sjpadgett commented on #2934
@mdsupport If okay i'm reopening and marking as a bug. I'll try to fix in another PR but, my keyboard has been practicing social distancing lately.:)

[2020-05-25 15:19] stephenwaite commented on #3551
here's my test facility page
![Screenshot from 2020-05-25 11-17-30](https://user-images.githubusercontent.com/5618372/82825500-5c993f80-9e79-11ea-8231-098c0b77cb64.png)

is this what you're referring to @arnabnaha ?

[2020-05-25 15:22] #3547 closed

[2020-05-25 15:26] arnabnaha commented on #3551
Yes...i am refering to this only

On Mon, 25 May 2020, 20:49 stephen waite, <notifications@github.com> wrote:

[2020-05-25 15:55] tywrenn commented on #2975
Bump

[2020-05-25 16:05] tywrenn commented on #784
@bradymiller omg we're doing stuff from 3 years ago? 😂😂

[2020-05-25 17:49] tywrenn commented on #290
Bump -- this should've been added

[2020-05-26 00:02] #3510 closed

[2020-05-26 09:29] bradymiller commented on #2072
bump

[2020-05-26 09:30] bradymiller commented on #1364
bump

[2020-05-26 17:33] rhausam commented on #3277
The first sentence under "How do I define a code list" is pretty much the
bottom line in regard to when you should use a 'code list': "You should
only define a code list that has internally defined values if the codes are
inherently related to the use of the resource itself."  Most (or probably
all) of these will be defined directly in the FHIR specification.  Other
use of terminology/vocabulary w

[2020-05-26 17:56] tywrenn opened #3561 "Move Address Book into separate SQL Table & Make it easier to lookup this data"
### Describe the problem

Currently address book entries reside in the `users` SQL table. While this seems fine, it also can be a vulnerability since this table lists all the admins that are using OpenEMR. This also makes it even more difficult to import and export address book data.

Another issue occurs when you are attempting to search the address book. We currently have it set to have a dropdo

[2020-05-26 17:58] tywrenn commented on #3536
@bradymiller Can you add this to the 5.0.4 milestone so this doesn't get deleted

[2020-05-27 00:26] sjpadgett commented on #2924
Probably should keep open if for anything, eyeing knockout.js
Although, while we are doing a lot of code mods, wouldn't hurt if run across an ajax convert to fetch.

[2020-05-27 01:54] stephenwaite commented on #2810
bump

[2020-05-27 01:54] stephenwaite commented on #1653
bump

[2020-05-27 01:59] stephenwaite commented on #542
looks like @MatthewVita [was getting tricky with it](https://github.com/openemr/openemr/issues/472#issuecomment-277575267) :)

[2020-05-27 02:10] #480 closed

[2020-05-27 02:18] #2732 closed

[2020-05-27 02:19] stephenwaite commented on #2280
bump

[2020-05-27 03:07] zerai commented on #542
hi @juggernautsei ,
The effort for writing your custom tool is time consuming,  expansive, try to integrate the available official tool ([Doctrine Console](https://www.doctrine-project.org/projects/doctrine-orm/en/2.7/reference/tools.html#doctrine-console)) could be a better choice. IMHO

[2020-05-27 03:34] #2838 closed

[2020-05-27 03:57] juggernautsei commented on #542
@zerai I agree with you. I don't see the need to generate entities before they are being used. I tried to donate the entities that I had created in another project and they were not accepted. How can this be any different? I do know that the yaml can be used to generate the entities. No need to invent something.

[2020-05-27 08:45] #2616 closed

[2020-05-27 11:08] pete-boyd opened #3565 "If a user's Provider field is blank then "%nbsp;" is displayed in Past Encounters and Documents"
### Describe the bug
With OpenEMR 5.0.2.1, it appears that if the Provider field is not checked for a user account (a physician), then in the Past Encounters and Documents list the "Provider" column uses "%nbsp;" for their name.

It appears that if a user is an admin then the user's name appears.

### Expected behavior
Not "%nbsp;". Even nothing would be better than this.

[2020-05-27 11:56] stephenwaite commented on #3565
hi @pete-boyd , went to test this and have found that a "Clinician" can't even create an encounter on 5.0.2
![Untitled](https://user-images.githubusercontent.com/5618372/83016144-7f4d6480-9fef-11ea-934b-05a5ff7e0d15.png)

[2020-05-27 11:58] pete-boyd commented on #3565
I've seen this with Clinicians too and assumed it was by design, that I had to create a new ACL mid-way between the two (which I hadn't yet done).

[2020-05-27 12:20] stephenwaite commented on #3565
looks like it's Notes->My encounters that disables the dropdown
![Screenshot from 2020-05-27 08-19-34](https://user-images.githubusercontent.com/5618372/83018175-d99bf480-9ff2-11ea-92f4-d42c23c1f831.png)
should display an unauthorized
also by default should prob be enabled

[2020-05-27 12:39] stephenwaite commented on #3565
could you share a screenshot @pete-boyd please?

[2020-05-27 12:57] pete-boyd commented on #3565
![nbsp-provider](https://user-images.githubusercontent.com/63448973/83021489-fac80980-a021-11ea-85f0-2c87f81b9660.png)

[2020-05-27 13:21] sjpadgett commented on #3565
I might have fixed this in patch 3. I remember cleaning up some syntax but don't remember submitting.

[2020-05-27 13:25] pete-boyd commented on #3565
@stephenwaite Thanks for the Encounters ACL advice too.

[2020-05-27 13:47] stephenwaite commented on #3565
no prob, thanks jerry, not seeing it on patch 3 :)

[2020-05-27 14:41] arnabnaha commented on #3550
any take on this??

[2020-05-27 14:51] sjpadgett commented on #3550
i'll take a look at...

[2020-05-27 14:57] arnabnaha commented on #3550
Thanks Jerry

On Wed, 27 May 2020, 20:21 Jerry Padgett, <notifications@github.com> wrote:

[2020-05-27 15:06] sjpadgett commented on #3550
Found the issue.
param misspelled in library/clinical_rules.php L-2001
function exist_procedure_item($patient_id, $proc_title, $proc_code, $result_comp, stirng $result_data = null, $num_items_comp, $num_items_thres, $intervalType = '', $intervalValue = '', $dateTarget = '')

@arnabnaha you can patch on your local and i'll put up a quick PR if this works for you.

[2020-05-27 15:13] arnabnaha commented on #3550
Sure...i can test it out...can u tell me which file and what to change?

On Wed, 27 May 2020, 20:36 Jerry Padgett, <notifications@github.com> wrote:

[2020-05-27 15:14] arnabnaha commented on #3550
Sorry i got it

On Wed, 27 May 2020, 20:43 Arnab Naha, <superarnab@gmail.com> wrote:

[2020-05-27 15:31] sjpadgett commented on #3550
It's the string in param 5 that is misspelled. PHP 7.3 says thats a no no...

[2020-05-27 15:39] sjpadgett opened #3566 "Clinical Rules very inefficient"
### Describe the bug

This module if very resource intensive and a major contributor to slow chart loads.
Patterns like array_merge in a loop and array_push are resource hogs.

### To Reproduce

Take a look.:) library/clinical_rules.php

### Expected behavior
Faster of course!
I'll make a sweep at this if someone will test....

[2020-05-27 15:40] arnabnaha commented on #3550
I will be able to do the change tomorrow morning IST.

On Wed, 27 May 2020, 21:02 Jerry Padgett, <notifications@github.com> wrote:

[2020-05-27 15:43] sjpadgett commented on #3550
No problem, i'm going to clean up that script to try and speed it up. Look for a PR before then.

[2020-05-27 15:45] arnabnaha commented on #3550
thanks jerry

*          Dr. Arnab Naha*
*          MBBS (Cal)*

On Wed, 27 May 2020 at 21:13, Jerry Padgett <notifications@github.com>
wrote:

[2020-05-27 15:47] arnabnaha commented on #3566
I am ready to test....but not before thursday (Indian Standard Time)

[2020-05-27 15:48] arnabnaha commented on #3551
Any take on this plz????

[2020-05-27 15:55] sjpadgett commented on #3551
Correct if i'm wrong but issue is if facility is selected then events for providers of the selected facility is suppose to show in calendar, is this correct?

[2020-05-27 16:04] arnabnaha commented on #3551
Yes jerry..i cannot add the provider timings as well as the patient
appointments

On Wed, 27 May 2020, 21:25 Jerry Padgett, <notifications@github.com> wrote:

[2020-05-27 19:17] stephenwaite commented on #3551
right @arnabnaha , no one has been able to view these on the selected facility page for at least 10 years?

:cricket:

[2020-05-27 21:24] stephenwaite commented on #290
we're getting closer with https://github.com/openemr/openemr/pull/3303

[2020-05-27 22:53] #784 closed

[2020-05-28 02:08] #1041 closed

[2020-05-28 02:09] #1952 closed

[2020-05-28 02:09] #2055 closed

[2020-05-28 02:13] sjpadgett commented on #3551
@stephenwaite So besides the facility colors, do we have an issue here?

[2020-05-28 02:54] arnabnaha commented on #3550
Hi Jerry,

I made the change (corrected the spelling of string) and everything works
well.

Kindly push it to master

Thanks a lot

On Wed, 27 May 2020, 21:14 Arnab Naha, <superarnab@gmail.com> wrote:

[2020-05-28 03:20] sjpadgett commented on #3550
Great, an easy fix. I'm working on calendar issue now.

[2020-05-28 05:07] arnabnaha commented on #3550
Thanks Jerry

On Thu, 28 May 2020, 08:50 Jerry Padgett, <notifications@github.com> wrote:

[2020-05-28 11:47] stephenwaite commented on #3551
yes, should be able to view the facility specific appointments when you select an individual facility.

[2020-05-28 11:53] stephenwaite commented on #2292
bump, what also like to see if can select items by ins co and x12 partner in the billing manager before they are billed

[2020-05-28 13:42] stephenwaite commented on #3561
hi @tywrenn , a lot of the addr book contents are providers with NPIs so might be advantageous to use the nppes api for new adds?
https://npiregistry.cms.hhs.gov/registry/help-api

[2020-05-28 14:34] #3550 closed

[2020-05-28 15:09] sjpadgett commented on #3551
Seem on new facilities or any facility that doesn't have a user then smarty can't display new appointment. Fortunately, add appointment defaults to logged in provider. So should calendar!

[2020-05-28 17:40] sjpadgett commented on #3551
@arnabnaha @stephenwaite
I've modified calendar to where if a facility does not have an associated provider in users, I use the logged in user. Okay?
![image](https://user-images.githubusercontent.com/1859985/83174622-a89deb80-a0e8-11ea-8204-677589e45bdf.png)

[2020-05-28 19:32] tywrenn commented on #3561
@stephenwaite This looks like an API that can lookup providers? If so, this could theoretically completely eliminate the need to even store them

[2020-05-28 21:47] stephenwaite commented on #3449
hi @sjpadgett , can you help me figure out how the `encounter provider` gets selected? Am seeing a non-provider get selected in the encounter form

[2020-05-28 21:51] stephenwaite commented on #3449
i've got this setup on https://seven.openemr.io/f/openemr/interface/login/login.php?site=default with admin user test, pw test

[2020-05-28 22:57] sjpadgett commented on #3449
@stephenwaite
First, I used UserService in newpatient
$userService = new UserService();
                                $users = $userService->getActiveUsers();
                                foreach ($users as $activeUser) {
But did not check for authorized flag. oops thought returned auth users.
Second. Provider save works for me on 5.0.2 but got lost on 5.0.3 so i'm baffled.
This worked on up

[2020-05-28 23:24] tywrenn opened #3571 "WordPress Patient Portals are really really broken"
### Describe the bug

All WordPress up-for-grabs demos, including 5.0.2, are broken. A 500 error occurs when trying to login to the admin area.

tbh WordPress has been broken for awhile and we need to address it now. I just tried installing the WordPress patient portal and it's not at all updated.

@sunsetsystems seems to have done some work on this -- any help is appreciated

[2020-05-28 23:34] tywrenn commented on #2977
Bump -- this should be something to do in 5.0.4 but not now

[2020-05-28 23:37] tywrenn commented on #3571
@bradymiller This is a sad state of affairs -- this hasn't been updated since 2014 ;-;

[2020-05-28 23:38] sunsetsystems commented on #3571
I think we can remove those demos. They get very little interest.

[2020-05-28 23:39] tywrenn commented on #3571
@sunsetsystems https://community.open-emr.org/t/wordpress-as-portal-patient/12992

[2020-05-29 00:13] tywrenn commented on #3571
Also linking this to current convo that I just saw:
https://community.open-emr.org/t/how-to-connect-wordpress-with-openemr/8937/30

[2020-05-29 00:23] sjpadgett commented on #3449
Okay found not save issue. If POS is turned off in Billing I try to set a undefined to non exist control.
lol I test with everything turned on. Never think about turning stuff off!
I'll fix and slip into the patch 3. Then back to calendar.

[2020-05-29 01:18] stephenwaite commented on #3449
thanks, funny, had POS turned on :)

[2020-05-29 01:19] sjpadgett commented on #3449
I turned it on.:) I somewhat pay attention....

[2020-05-29 01:39] bradymiller commented on #2900
This issue is resolved in dev codebase which now works with jsnode 12.* . So, closing this.

[2020-05-29 01:39] #2900 closed

[2020-05-29 01:40] stephenwaite commented on #3449
hmm, what if there are 2 admins? only one is a provider

[2020-05-29 01:48] stephenwaite commented on #3449
it's when you're logged in as an admin who's not authorized, weird scenario

[2020-05-29 01:50] sjpadgett commented on #3449
Thats because userauthorized is checked on save. I may have to go with ACL

[2020-05-29 01:57] stephenwaite commented on #3449
ok, thanks, so there's no getauthuser function in user service?
or does this do the trick?
[code]

[2020-05-29 02:14] sjpadgett commented on #3449
umm I don't know how best to handle this. Big question is; do we want to allow non providers from users that are ACL admins or encounter to be in encounter provider pull down?
Really if they made it to create/edit encounter they already have permissions so maybe I fix save and only list those active users that have the right acl permisions.

[2020-05-29 03:23] sjpadgett commented on #3449
Decided to only allow authorized providers in encounter provider pull down and for save will ignore userauthorized because if user is saving then they already have permissions.
Settled @stephenwaite ?

[2020-05-29 10:21] stephenwaite commented on #3561
yep, looks up anyone with an NPI but still need to store for things like billing and more reliable access

[2020-05-29 12:32] sjpadgett commented on #3566
After reviewing these scripts I concluded there were only some minor changes I could make to speed chart loads. My concern with using array_merges in loops mainly deal with reports and editing. Besides, these loop merges are used to help order the final result arrays thus requiring careful thought.

Closing as good intentioned.:)

[2020-05-29 12:32] #3566 closed

[2020-05-29 15:03] sjpadgett commented on #3551
I finally fixed this error:
![image](https://user-images.githubusercontent.com/1859985/83274315-a0eb4f00-a19b-11ea-944b-6d49dd9dad4e.png)

It's been driving me crazy for couple years.

![image](https://user-images.githubusercontent.com/1859985/83274471-dee87300-a19b-11ea-8c23-1088d6a9a774.png)

Careful what gets escaped!

[2020-05-29 15:49] stephenwaite commented on #3551
![external-content duckduckgo com](https://user-images.githubusercontent.com/5618372/83278961-60db9a80-a1a2-11ea-8eba-93258d2afea4.gif)

[2020-05-29 16:01] gutiersa commented on #3571
Ninja forms is pretty broken

[2020-05-29 17:32] #3527 closed

[2020-05-29 21:35] #3551 closed

[2020-05-29 22:09] mdsupport commented on #3561
Let's not forget international users.

A db centric approach is generic address table and adding its primary key as foreign key to current addressbook as well patient_data and any other place where addresses are needed. That makes it easier to maintain central address for all patients in same household.

[2020-05-30 01:04] stephenwaite commented on #251
with recent work on `oedraggable` going to bump this

[2020-05-30 15:12] sjpadgett commented on #3565
Going to fix this for a quick turn around patch 4. @stephenwaite Do you know of some other issues of import?

[2020-05-30 16:52] sjpadgett commented on #3565
The defaults for Clinician always were as in 5.0.2-3 so I don't know if I should touch this!

[2020-05-30 17:24] sjpadgett commented on #3538
That damn portal. I think we ought to ban the guy who created! umm, please.:)

[2020-05-30 17:29] sjpadgett commented on #3460
@tammbamm5 Is this still an issue?

[2020-05-30 17:30] sjpadgett commented on #3445
i'll look this over

[2020-05-30 17:34] sjpadgett commented on #3449
Closing fixed

[2020-05-30 17:34] #3449 closed

[2020-05-30 17:40] sjpadgett commented on #3444
sounds like lookup and save have different validation. for core thinking we should make sure case sensitive on both but, still prevent same spellings.

[2020-05-30 21:21] bradymiller commented on #3538
The portal author is now officially banned for 1 minute.

[2020-05-30 21:23] bradymiller commented on #3538
ok, the ban is over :)

[2020-05-30 21:39] sjpadgett commented on #3538
nuts

[2020-05-30 22:13] sjpadgett commented on #3445
@pete-boyd This will be in patch 4

[2020-05-30 22:13] #3445 closed

[2020-05-31 04:26] aaronchantrill opened #3579 "Add foreign key constraints"
### Describe the problem
I just installed OpenEMR from source, and there are only three foreign key constraints in place:
[code]
So foreign keys do not appear to be forbidden for any reason, and could be extremely helpful.

When attempting to write custom reports in OpenEMR, it is necessary to understand how the tables fit together. Due to the fact that a lot of people have worked on OpenEMR, ther

[2020-05-31 05:50] sjpadgett commented on #3579
Hi @aaronchantrill
I added the new tables for FHIR. I agree that using foreign keys will be very useful and make so much more sense for truly relational databases.

However you've succinctly pointed to the issues involved and there have been numerous discussions in this regard.
I certainly would not be opposed if you want to see how this can be done and look forward to any suggestions you have.

[2020-05-31 08:30] bradymiller commented on #3571
Since the onsite portal is so nice now, would it make sense to consider:
1. removing wordpress portal
2. removing offsite portal (@arnabnaha , are you still using this portal?)
(since neither of these have been maintained for several years)

[2020-05-31 08:48] sjpadgett commented on #3571
I actually been meaning to emulate some features from WP portal that are missing from onsite.

[2020-05-31 09:11] arnabnaha commented on #3571
Hi Brady,

I am only using the onsite portal. Not the wordpress or offsite...can
easily remove it after jerry introduces some of the wp pprtal features to
onsite.

On Sun, 31 May 2020, 14:00 Brady Miller, <notifications@github.com> wrote:

[2020-05-31 09:16] sjpadgett commented on #3538
![image](https://user-images.githubusercontent.com/1859985/83348814-df008400-a2fd-11ea-8cc1-72e8e8389bdc.png)

[2020-05-31 10:04] #3538 closed

[2020-05-31 10:10] pete-boyd opened #3581 "Create an obvious indicator that current patient has COVID-19"
It would be desirable to have an obvious indicator in the banner(?) area at the top of the screen that indicates that the current patient has COVID-19 (or potentially other comparable contagious medical problems).

[2020-05-31 10:16] pete-boyd opened #3582 "New user accounts to follow principle of least privilege and not default to Administrators"
New user accounts created using Administration > Users > Add User have Access Control of Administrators. I suggest following a principle of least privilege and instead use a default access control with less privilege.

[2020-05-31 10:33] pete-boyd opened #3583 "Patient summary menu disappears when select Documents menu option"
When select "Documents" under the patient summary menu (did I get that name right?), the patient summary menu disappears, requiring the user to select the "go back" icon to go back to the Medical Record Dashboard and regain the menu. All other options under the patient summary menu (Dashboard, History, Report, Transactions, Issues, Ledger, External Data) retain the menu when selected.

Seen in Ope

[2020-05-31 10:40] pete-boyd opened #3584 "Graphic Pain Map's OK/Cancel buttons are not visible"
In a new encounter > Clinical > Graphic Pain Map > select something > the popup has OK/Cancel buttons that are not visible. The buttons have white text on a white background (not visible), and when hovered over have white text on a very light yellow background, still not visible. I see this at least in mustard green, cadmium yellow and ash blue themes. OpenEMR 5.0.2.1.

[2020-05-31 13:32] stephenwaite commented on #3565
hi @sjpadgett , here's a couple https://community.open-emr.org/t/loss-of-convenient-features/14557

[2020-05-31 19:55] tywrenn opened #3585 "phpGACL - The time has come to replace it"
phpGACL is a dead project. It has been for awhile (last rev I saw was 5 years ago). As much as it is useful, this can be a big security flaw sooner or later. The time has come to replace it now. This issue thread serves as discussion on what we can replace it with and the painful transition that we will have to endure to replace it.

[2020-05-31 22:15] mdsupport commented on #3585
[PHP-RBAC](http://phprbac.net/)

[2020-05-31 22:34] bradymiller commented on #3585
hi @tywrenn , This would break upgrade path for a significant amount of users, which would be much more detrimental for security. Note OpenEMR basically took ownership of this code and has secured it (things like sql injection and cross scripting) and fixed bugs and added support features within. Note haven't received security vulnerabilities regarding this code. I'd rec going the other direction

[2020-05-31 22:39] sjpadgett commented on #3571
It's been 5 years since I last looked at the WP Portal. Could anyone that has some experience with Onsite and WP give me some idea what features would need to be replaced in Onsite?

[2020-05-31 22:48] sjpadgett commented on #3585
I too look at replacing this back a couple years ago and concluded just as Brady suggests.

Just because something is old doesn't mean it is not still relevant! I need to live by that adage or not bother getting up in the A.M.:)

[2020-05-31 23:04] #3585 closed

[2020-06-01 05:46] #1325 closed

[2020-06-01 05:46] #2305 closed

[2020-06-01 05:46] #2216 closed

[2020-06-01 05:46] #2336 closed

[2020-06-01 05:46] #1111 closed

[2020-06-01 05:46] #2161 closed

[2020-06-01 05:46] #2293 closed

[2020-06-01 05:46] #2451 closed

[2020-06-01 05:46] #2424 closed

[2020-06-01 05:46] #2378 closed

[2020-06-01 05:46] #2368 closed

[2020-06-01 05:46] #2487 closed

[2020-06-01 05:46] #2222 closed

[2020-06-01 05:46] #2220 closed

[2020-06-01 05:46] #2217 closed

[2020-06-01 05:46] #2218 closed

[2020-06-01 05:46] #2067 closed

[2020-06-01 05:46] #2228 closed

[2020-06-01 05:47] #2157 closed

[2020-06-01 05:47] #2496 closed

[2020-06-01 05:47] #2221 closed

[2020-06-01 05:47] #2548 closed

[2020-06-01 05:47] #2301 closed

[2020-06-01 05:47] #2549 closed

[2020-06-01 05:47] #2323 closed

[2020-06-01 05:47] #2595 closed

[2020-06-01 05:47] #2632 closed

[2020-06-01 05:47] #2665 closed

[2020-06-01 05:47] #2673 closed

[2020-06-01 05:47] #2652 closed

[2020-06-01 06:46] #1913 closed

[2020-06-01 06:46] #1046 closed

[2020-06-01 06:46] #1906 closed

[2020-06-01 06:46] #2054 closed

[2020-06-01 06:46] #2076 closed

[2020-06-01 06:46] #2088 closed

[2020-06-01 06:46] #1050 closed

[2020-06-01 06:46] #1294 closed

[2020-06-01 06:46] #727 closed

[2020-06-01 06:46] #1044 closed

[2020-06-01 06:46] #586 closed

[2020-06-01 06:46] #980 closed

[2020-06-01 06:46] #338 closed

[2020-06-01 06:46] #1997 closed

[2020-06-01 06:46] #2129 closed

[2020-06-01 06:46] #2148 closed

[2020-06-01 06:46] #2150 closed

[2020-06-01 06:46] #2171 closed

[2020-06-01 06:46] #2196 closed

[2020-06-01 06:46] #2141 closed

[2020-06-01 06:46] #1587 closed

[2020-06-01 06:46] #2208 closed

[2020-06-01 06:46] #2219 closed

[2020-06-01 06:46] #2035 closed

[2020-06-01 06:46] #2684 closed

[2020-06-01 06:46] #2172 closed

[2020-06-01 06:46] #2737 closed

[2020-06-01 06:46] #2727 closed

[2020-06-01 06:47] #2745 closed

[2020-06-01 06:47] #2769 closed

[2020-06-01 07:40] #2775 closed

[2020-06-01 07:41] #2794 closed

[2020-06-01 07:41] #2805 closed

[2020-06-01 07:41] #2827 closed

[2020-06-01 07:41] #2828 closed

[2020-06-01 07:41] #2724 closed

[2020-06-01 07:41] #2847 closed

[2020-06-01 07:41] #2713 closed

[2020-06-01 07:41] #2933 closed

[2020-06-01 07:41] #2960 closed

[2020-06-01 07:41] #2725 closed

[2020-06-01 08:41] #1043 closed

[2020-06-01 08:41] #1049 closed

[2020-06-01 08:41] #1051 closed

[2020-06-01 08:41] #593 closed

[2020-06-01 08:41] #1075 closed

[2020-06-01 08:41] #250 closed

[2020-06-01 08:41] #1112 closed

[2020-06-01 08:41] #713 closed

[2020-06-01 08:41] #1224 closed

[2020-06-01 08:41] #1251 closed

[2020-06-01 08:41] #1035 closed

[2020-06-01 08:41] #1295 closed

[2020-06-01 08:41] #1309 closed

[2020-06-01 08:41] #1296 closed

[2020-06-01 08:41] #1298 closed

[2020-06-01 08:41] #1365 closed

[2020-06-01 08:41] #1367 closed

[2020-06-01 08:41] #1297 closed

[2020-06-01 08:41] #1366 closed

[2020-06-01 08:41] #1368 closed

[2020-06-01 08:41] #271 closed

[2020-06-01 08:41] #1561 closed

[2020-06-01 08:41] #752 closed

[2020-06-01 08:41] #1664 closed

[2020-06-01 08:41] #1703 closed

[2020-06-01 08:41] #1805 closed

[2020-06-01 08:41] #1824 closed

[2020-06-01 08:41] #1881 closed

[2020-06-01 09:35] #458 closed

[2020-06-01 09:35] #510 closed

[2020-06-01 09:35] #536 closed

[2020-06-01 09:35] #548 closed

[2020-06-01 09:35] #564 closed

[2020-06-01 09:35] #571 closed

[2020-06-01 09:35] #624 closed

[2020-06-01 09:35] #665 closed

[2020-06-01 09:35] #716 closed

[2020-06-01 09:35] #717 closed

[2020-06-01 09:35] #721 closed

[2020-06-01 09:35] #715 closed

[2020-06-01 09:35] #793 closed

[2020-06-01 09:35] #692 closed

[2020-06-01 09:35] #808 closed

[2020-06-01 09:35] #336 closed

[2020-06-01 09:35] #978 closed

[2020-06-01 09:35] #1042 closed

[2020-06-02 17:27] tywrenn commented on #3571
After having a lot of experience with WordPress, when you create a plugin, you still have to maintain that plugin as methods can break when versions of WordPress change. Since no one has really tried to keep these plugins functional over the years, I see the best way forward in this is to drop WP portal support and instead create API functions that will allow clinics to create their own if they wo

[2020-06-02 17:34] tywrenn commented on #3583
This is actually an intentional thing that was done as I believe it was planned to have a navbar in the Documents area -- yet the documents area is a really complex structure that leaves devs frustrated if they dare try to code with it which was why it was never done.

[2020-06-02 17:35] tywrenn commented on #3584
The Graphic Pain Map in general just seems broken to be honest... @bradymiller

[2020-06-02 17:37] tywrenn commented on #3582
Or we can just code it so that it doesn't select any of the options listed when it first loads up lol.

[2020-06-03 09:38] stu01509 opened #3594 "GACL project pages refine and refactor"
### Describe the bug

According to this https://github.com/openemr/openemr/pull/3572#discussion_r434041602, the in `/gac` directory pages have a lot of pages that need to refactor and change to the HTML5 standard.

[2020-06-03 09:40] stu01509 commented on #3594
Hi @bradymiller and @tywrenn

Can you help me check and list which pages can refine and refactor?

[2020-06-03 10:15] stu01509 opened #3595 "Refine Multi Site Administration and Database Upgrade"
### Describe the bug

write concise description of what the bug is.

### To Reproduce

Steps to reproduce the behavior:
1. Go to `openemr/admin.php` page.
2. Go to `openemr/sql_upgrade.php` page.

![image](https://user-images.githubusercontent.com/22230889/83625238-346eb680-a5c6-11ea-9bee-ce0a28d9b3ba.png)

![image](https://user-images.githubusercontent.com/22230889/83625265-418ba580-a5c6-11ea-9b4

[2020-06-03 20:58] sjpadgett commented on #3072
solved

[2020-06-03 20:58] #3072 closed

[2020-06-04 07:36] #3542 closed

[2020-06-04 07:59] bradymiller commented on #3594
oh goodness, I'd probably make this a bonus project as part of your gsoc project. Meaning would only work on this at the end if you run out of things to do (very unlikely :) ). I say this because it would involve a huge amount of work for very minimal gain (since the gacl gui only gets minimal use by users).

[2020-06-04 12:04] aaronchantrill commented on #3579
Thank you for the response, that is what I was hoping. I'm going to start working on a little test project of adding a couple of constraints and seeing if I can do so in a way that makes sense and doesn't cause issues.

[2020-06-04 14:33] tywrenn commented on #3594
I agree. I might fix this cause i'm so good with batch replacements...

[2020-06-04 14:48] sjpadgett commented on #3090
done

[2020-06-05 00:21] stu01509 commented on #3594
So assign this issue to @tywrenn?

[2020-06-06 08:22] bradymiller commented on #3546
Above post plan was completed awhile ago (forgot to close this issue at that time).

[2020-06-06 08:22] #3546 closed

[2020-06-06 18:51] bradymiller commented on #2556
bump

[2020-06-07 11:10] gutiersa commented on #3571
I am sorry, I am late to this thread. I would like to volunteer to revive the WP portal and maintain it with help from, perhaps @CraigT543
Here are some of my reasons:
1. Having options is a good idea, people/companies may provide their providers/doctors several options depending on their needs, or on how much they can spend.
2. I would like to have subscribers who are not necessarily my patients,

[2020-06-07 12:13] #3595 closed

[2020-06-07 12:36] stu01509 opened #3603 "Refactor IPPF Upgrade page"
### Describe the bug
According to this PR https://github.com/openemr/openemr/pull/3596.
I found this looks odd and contains outdated code.

![image](https://user-images.githubusercontent.com/22230889/83968810-5639a780-a8fe-11ea-8d40-28c4f3616c00.png)

### To Reproduce

Steps to reproduce the behavior:
1. Go to `ippf_upgrade.php`
2. See the page.

### Client configuration

- Browser: Firefox 75
- O

[2020-06-07 17:10] #3052 closed

[2020-06-07 19:30] tywrenn commented on #3571
@bradymiller Might wanna create a news post on this on the community page since this will effect a lot of people

[2020-06-07 19:32] bradymiller commented on #3571
I was under impression that this was non-functional and not updated. I can definitely add the wordpress portal back if it is actually functional and used. Or if somebody wishes to resuscitate it, can make a branch that has wordpress code in it on most recent codebase that devs can work on.

[2020-06-07 20:10] #2813 closed

[2020-06-07 23:05] gutiersa commented on #3571
check out this thread. I think removing it will affect at least one person.

[https://community.open-emr.org/t/how-to-connect-wordpress-with-openemr/8937](url)

[2020-06-08 00:33] stephenwaite opened #3605 "latest openemr/openemr:flex docker not responding"
### Describe the bug

easy dev docker environment broken
looks like install completes successfully in the log
[code]
### To Reproduce

Steps to reproduce the behavior:

follow [contributing guide](https://github.com/openemr/openemr/blob/master/CONTRIBUTING.md)

### Expected behavior

step 4 should be able to login with `admin` and `pass` but the browser just spins trying to load login page

### Cl

[2020-06-08 00:46] bradymiller commented on #3605
Do you have xdebug set up to work on phpstorm? If so, then any breakpoints in there will stop the code. But that should show up in phpstorm when it happens.

[2020-06-08 00:47] bradymiller commented on #3605
If above not case, anything in the error log?

[2020-06-08 00:48] bradymiller commented on #3571
doh, sounds like I should add it back then. I'll make a PR to add it back and then see if that user is using it that way (will be a good way to see what changes that user may of made to get things to keep working).

[2020-06-08 00:56] bradymiller commented on #3605
I just realized that the following setting in xdebug is prob not good:
[code]
I think i need to make it 0 or else it will always try to connect to phpstorm (in this case I bet it's hitting breakpoints you have in the code by mistake (in phpstorm can search for all breakpoints and remove them).

[2020-06-08 01:00] bradymiller commented on #3605
yep, my bad:
https://xdebug.org/docs/all_settings
(see xdebug.remote_autostart)
Again, thought, on your end, getting rid of the phpstorm breakpoints or turning off the listener in phpstorm should fix things for now.
I'll fix up the flex docker so it doesn't do this (and will require the firefox addon to work)

[2020-06-08 01:29] Bouguy commented on #3571
Hi there, I would like to help to rebuild a link between OEMR and WP. May I help at least for test ? I know both solutions (as user and admin).

[2020-06-08 01:32] bradymiller commented on #3605
I just pushed a new `flex` docker without the xdebug.remote_autostart setting, so should work (and xdebug only clicks in if turn on the firefox add on).
Let me know how it goes.

[2020-06-08 03:17] tywrenn opened #3607 "What happened to Travis????"
The pass/fail check is mysteriously not showing up on commits and pulls
![image](https://user-images.githubusercontent.com/46497068/83989628-0b775a00-a915-11ea-9c27-97b5ac6ddc4e.png)

[2020-06-08 03:21] bradymiller commented on #3607
Travis spoke to me during my nap yesterday:

"
I have gone on a partial holiday. I do this sometimes. I am running but not registering on the github commits/PRs because I am showing you how vital I am to your project.
https://travis-ci.org/github/openemr/openemr/pull_requests

When this happens, just pretend I don't exist since easy to fix up things when I decide to come back to your project.

sig

[2020-06-08 03:34] tywrenn opened #3608 "Docker Load Times = A REALLLL big issue"
Currently when docker runs it takes like a solid 5 to 10 minutes to even boot up OpenEMR the first time (on a regular laptop). We need to consider decreasing what docker does as this will cause headaches especially in docker-run environments. What we could do is have one version of docker that runs minimally and another that runs the full load and allow easy switching. Any thoughts?

[2020-06-08 03:59] tywrenn commented on #3607
@bradymiller Knew that lol -- just wanted to see when the ghost of Travis CI comes and spooks us all xD

[2020-06-08 04:07] tywrenn commented on #2010
@bradymiller @danehrlich1  has this been resolved?

[2020-06-08 04:09] tywrenn commented on #532
@bradymiller Is this still an issue?

[2020-06-08 04:14] tywrenn commented on #284
Coming back to this issue -- we need to find a fix for this somehow. The issue is when it happens inside an iframe (if i were to re-code it to direct to the login page it would do nothing correctly). I could see us coding something like we did I believe in the opener script with full page popups and that technically could work.

[2020-06-08 04:16] tywrenn commented on #290
@stephenwaite Looks like that merged -- time to close this

[2020-06-08 04:17] tywrenn commented on #737
@stephenwaite is this still an issue?

[2020-06-08 04:17] tywrenn commented on #431
@bradymiller Still working on this?

[2020-06-08 04:21] tywrenn commented on #464
@bradymiller Is this still an issue?

[2020-06-08 15:59] pete-boyd opened #3609 "The message that a file upload has been blocked is hard to notice"
When a user tries to upload a file with a MIME type that is blacklisted, an error appears, e.g.:
"The system does not permit uploading files with MIME content type - image/tiff."
This error message appears below the bottom of the screen and so people don't see the error message and they think nothing has happened.

The text of the message is merely of larger type, it isn't otherwise trying to draw

[2020-06-08 18:23] sjpadgett commented on #3136
agreed. i'm in this code and will try to fix.

[2020-06-08 21:40] stephenwaite commented on #3605
well it was my bad originally :), my old failed setup in phpstorm must have been interfering along with some random breakpoints from accidentally clicking in the gutter :bowling:

[2020-06-08 21:47] stephenwaite commented on #3605
back in business

![external-content duckduckgo com](https://user-images.githubusercontent.com/5618372/84083658-159a6680-a9b0-11ea-935b-7d6bfed6bfd5.gif)

[2020-06-08 21:48] #3605 closed

[2020-06-08 21:52] stephenwaite commented on #737
think @sjpadgett won again :dart:

[2020-06-08 21:52] #737 closed

[2020-06-08 21:56] stephenwaite commented on #290
hi @tywrenn , that was just for the soap form
https://github.com/openemr/openemr/pull/3303#issuecomment-611363816

[2020-06-09 01:51] bradymiller commented on #464
don't see this issue anymore so closing

[2020-06-09 01:51] #464 closed

[2020-06-09 01:53] bradymiller commented on #431
@tywrenn , Still needs to be done.

[2020-06-09 02:09] bradymiller commented on #532
@tywrenn , @sjpadgett , Don't really think this is worth addressing anymore since passing time has basically dealt with this.

[2020-06-09 02:12] tywrenn commented on #532
@bradymiller since this is added to a milestone it doesn't expire with stalebot. We either have to close it or remove the milestone to let stalebot take over.

[2020-06-09 02:17] bradymiller commented on #2010
still an issue

[2020-06-09 02:19] bradymiller commented on #532
Will close it

[2020-06-09 02:19] #532 closed

[2020-06-09 02:36] bradymiller commented on #3608
Majority of build time is composer package collection and theme building. The flex docker does support build and no build, so that could be an option.

[2020-06-09 02:37] bradymiller commented on #3608
Also, I am assuming you are referring to the easy development docker environment.

[2020-06-09 02:39] tywrenn commented on #3608
@bradymiller Yeah I'm referring to the one that is run by default. We could create a slim version of it...

[2020-06-09 02:54] tywrenn commented on #619
@bradymiller This looks like it can be closed

[2020-06-09 02:56] tywrenn commented on #889
@bradymiller Did this get fixed?

[2020-06-09 05:09] CraigT543 commented on #3571
I have been using it for years.  I was a little late updating to 5.0.2.  I did that this week and now the WordPress portal does not work.  I get these errors:

`
2020-06-08T21:38:03-07:00 xxx [Mon Jun 08 21:38:03.496236 2020] [proxy_fcgi:error] [pid 21513:tid 140206211790592] [client xxx.xxx.xxx.x:xxx] AH01071: Got error 'PHP message: OpenEMR Error : Decryption failed authentication.', referer: ht

[2020-06-09 09:12] gutiersa commented on #3571
It sounds like there may be encryption now in openemr, and that is why you may be getting the first error.
The other issue may be a PHP version issue. That is when I get those errors.

I definitely am interested in helping with the WP portal option. Mostly because I have experience with the portal from my previous job, I will learn the onsite portal, and then we can compare with the WP portal. We

[2020-06-09 14:14] tywrenn opened #3611 "Horizontal Scrollbar shows when using EMR"
### Describe the bug
This bug is still an issue that I haven't been able to fix. A horizontal scrollbar shows when using the EMR on certain devices. This is due to the navbar being too big to show all the content on the screen. To reproduce this, you have to turn up your OS's text scaling (even though this isn't a default state for a browser to have high text scaling, we still want to eliminate al

[2020-06-09 17:42] #619 closed

[2020-06-09 19:52] tywrenn opened #3612 "Messages Feature is cumbersome to use"
### Describe the problem

After getting feedback from people using OpenEMR, the messages feature has been a pretty cumbersome thing to use. The to and from area doesn't make sense at all and when using it to confirm patient portal appointments it seems to be an uneasy task to manage when using OpenEMR.

### Describe the solution you'd like

A few things we can do:
1. Make messages templated to fit

[2020-06-09 20:11] tywrenn opened #3613 "5.0.2 Bug: Portal asks to create new username when changing pass when email only is on"
The patient portal in 5.0.2 asks for the user to create a new username when they are changing passwords when email substitution for usernames is turned on. This shouldn't be happening when this is turned on.

[2020-06-09 20:20] sjpadgett commented on #3613
again! there is no setting to turn on email as username. that's a default workflow. user does not have to change username on password change, it's their choice.
if however user is being prompt for a password change when portal is off or allow portal demo choice is off then, that's a problem.

[2020-06-09 20:36] tywrenn commented on #3613
The issue here is that the user is _forced_ to change their username when "Enforce E-Mail in Portal Log On Dialog" is turned off which confuses the patient into thinking the username is their username they set. If we made it invisible while changing passwords it would be like the username isn't there (even though it is).

[2020-06-09 20:43] stephenwaite commented on #3612
hi @tywrenn , please see https://github.com/openemr/openemr/issues/2677

[2020-06-09 20:45] stephenwaite commented on #889
hi @tywrenn, [not yet](https://github.com/openemr/openemr/blob/master/library/api.inc#L10-L28)

[2020-06-09 20:48] sjpadgett commented on #3613
Should have nothing to do with username! This only requires that the contact/direct secure email has to be used as additional security during logging on. Last time I tested all this it was working fine but still, i'm not sure its state now.

I'll look it over again tyler...

[2020-06-09 21:06] tywrenn commented on #3612
@stephenwaite This is an entirely different issue than that -- seems like these sad states of affairs just keep coming for messages.php :(

[2020-06-09 21:07] #3612 closed

[2020-06-09 21:08] tywrenn commented on #2677
We have more work to do on this :(

[2020-06-09 22:21] sjpadgett commented on #3612
umm, Tyler you're right that this needs some work. The underlying framework is fine where we need to give a little tlc to the UX. This could mostly be done in pnotes_full.php and wouldn't be to difficult.

[2020-06-09 22:31] tywrenn commented on #3612
@sjpadgett tacking this issue on the issue mentioned

[2020-06-09 22:51] kchapple commented on #2677
Please describe the use case in more detail @tywrenn

[2020-06-10 01:48] tywrenn commented on #3613
![image](https://user-images.githubusercontent.com/46497068/84217755-fcbaaf80-aa9a-11ea-8e9c-1a9e2a9db600.png)
This is where I'm seeing the issue

[2020-06-10 01:54] tywrenn commented on #3609
@bradymiller this is a buggggggg lemme squish ittttt

[2020-06-10 01:56] tywrenn commented on #3481
This is still an issue and 5.0.2 actually has an issue where sometimes you have to attempt to login twice before logging in which has been bothering the clinic I work for.

[2020-06-10 02:06] sjpadgett commented on #3613
That's right. username needs to be at least 12 chars. Account name is not a username

[2020-06-10 02:10] tywrenn commented on #3613
Yet the problem is that this does nothing when this option is off (and actually I just saw it bug up my login screen after using this but that's for a different issue request)

[2020-06-10 02:18] tywrenn commented on #2677
One of the sore thumbs of using this form is that in order to say something is "done" using this screen, you have to select "done" and then, for some reason, "send message" is the button you press to mark it as done.

Also on new portal appointment notifications, there isn't a way to make these messages push to SMS or Email so doctors can respond more quickly to new appointments (my practice reall

[2020-06-10 02:26] tywrenn commented on #3611
@bradymiller Help is required for this item as I dunno how to address this

[2020-06-10 02:28] tywrenn commented on #3463
This proved to be too difficult for me to handle as my main goal was to get rid of the horizontal scrollbar. Closing this with a new issue in mind.

[2020-06-10 02:28] #3463 closed

[2020-06-10 04:38] bradymiller commented on #3609
@tywrenn , take the bug down :)

[2020-06-10 04:52] tywrenn commented on #3607
@bradymiller The ghost of travis CI is back, yet it will scare us all again in the future.

[2020-06-10 06:21] CraigT543 commented on #3571
Ok. The encryption is not an issue.  The problem was that after I did the upgrade to 5.0.2 I needed to re-enter my credentials for the portal.  So now the authentication error is gone.  Understandable.  I should have thought to look at that before.

But I still am getting this:

`
2020-06-09T22:41:21-07:00 xxx [Tue Jun 09 22:41:21.656654 2020] [proxy_fcgi:error] [pid 21513:tid 140206036440832] [cl

[2020-06-10 09:11] bradymiller commented on #3608
There seems to possibly be confusion regarding the dockers. There are development/testing dockers (flex series) and then production docker series.

The docker-compose.yml in OpenEMR's main directory is a development docker based on flex series for running the easy development docker environment. It needs to build (takes up most of the time) and then also auto-installs. To avoid confusion, plan to

[2020-06-10 17:11] simonkelly1973 opened #3614 "DOB is missing from JSON output when using API"
### Describe the bug

dob field is missing from patient API call output

### To Reproduce

Steps to reproduce the behavior:
1. Perform an API login with at yourserver.com/apis/api/auth ....
2. Perform an API call to yourserver.com /apis/api/patient
3. In the returned JSON, the "dob" field is empty.  This is true if you call the patient endpoint without any filtering and just get all patients.  It

[2020-06-10 20:18] #3614 closed, assigned to nobody

[2020-06-10 23:55] mdsupport commented on #3571
@tywrenn Since the original WP portal was contributed, the architecture of this project has evolved significantly. The environment in which the product operates has changed even more and will continue to do so.
Addition of more presentation related components to the standard project makes it costlier to implement component version updates. When You and @sjpadgett went through BS4 upgrades, you end

[2020-06-11 04:05] DhirajG opened #3616 "Not Able to send the Gif images from KeyBoard and also from the Gallery."
It's strange I am unable to upload the Gif. It's not giving any error that I can report. Simply it rotates and then stops in case of KeyBoard.

When I try to upload from the storage the progress bar never moves ahead.  What we are doing is saving the Gif from the assets folder and sending it. The png Stickers worked but not the Gif images

//This is our method to save the file This saves the image

[2020-06-11 07:09] bradymiller commented on #3608
I'll plan to make a DOCKER_README.md with centralized documentation.

[2020-06-11 12:29] pete-boyd opened #3617 "Cursor is a caret not a pointer when selecting codes"
In a patient summary menu, Edit medical problems > Add medical problems > Coding.
Click on the blank area to enter a code. When hover over Code / Description, the cursor is a caret when hovering over the text to select, rather than being a pointer. (It is a pointer when hovering _between_ the options.)

OpenEMR 5.0.2.3

[2020-06-11 12:41] pete-boyd opened #3618 "The process for deselecting codes that have just been selected is unintuitive"
In a patient summary menu, Edit medical problems > Add medical problems > Coding.
Click on the blank area to enter a code.

Codes are selected in an intuitive way such as by clicking on them, at which point they become bold. To deselect them, you have to use the "Delete" button at the top, which is not intuitive. It would instead be intuitive if they could be clicked on / selected again to deselec

[2020-06-11 13:07] sjpadgett commented on #3618
Hi Pete,
Thanks for bringing these user issues up

[2020-06-11 13:08] sjpadgett commented on #3618
Quick question, do you change font size in browser or through the Globals font selections?

[2020-06-11 13:17] pete-boyd commented on #3618
@sjpadgett
Browser text size is set to default.
OS text size is set to default / 100%.

Administration > Globals > Appearance >
Default font: Use Theme Font
Default font size: 18px -- this explains why the text of the Delete button is smaller than the text of the Codes, as changing "Default font size" doesn't change the size of the Delete button but does change the size of the Codes. Changing "Def

[2020-06-11 13:29] pete-boyd commented on #3617
To be more precise, when hovering exactly over the text itself, the cursor is a caret where it should be a pointer. However when hovering over the area outside of the text, then the cursor is correctly a pointer. With the OpenEMR default font size set to higher figures, e.g. 18px, this area at which the cursor is a caret is reduced (to the extent it appears to not even be available as a selecting

[2020-06-11 13:29] sjpadgett commented on #3618
hmm so that control must be setting font size instead of using globals.
@tywrenn ya might put this on your list.

[2020-06-11 13:46] pete-boyd opened #3619 "Removing a saved code from a patient medical problem is unintuitive"
Add a code:
In a patient's Medical Issues, select the title for a medical problem > Coding > select a code > close > Save

Remove a code:
Go back into Coding > the chosen code is not selected in the list, which is unintuitive and is one side to this issue.
You then have to press Delete, sort of blindly, which is another side to this issue; You could select the particular code, but that isn't neces

[2020-06-11 14:57] tywrenn opened #3620 "5.0.2 Bug: Patient Portal Secure Mail Reply Function is Broken"
### Describe the bug

When you hit the reply button in Secure Mail for the Patient Portal, it doesn't automatically default to the person you are replying to. This happens on both the patient side and the doctor's side. There's also a glitch where only doctors can be replied to with Secure Mail and not other admins who run the clinic (as also shown in below video).

### To Reproduce
[https://www.l

[2020-06-11 15:21] sjpadgett commented on #3620
First you need to setup providers as only auth providers show in list. we could possibly relax dropdown to all users.
![image](https://user-images.githubusercontent.com/1859985/84404531-f16b9f00-abd4-11ea-8228-b281e9983fc0.png)
and default on  reply:
![image](https://user-images.githubusercontent.com/1859985/84404602-0e07d700-abd5-11ea-8d9f-af0c68fb0902.png)

[2020-06-11 17:07] tywrenn commented on #3620
@sjpadgett Also I don't get why this is a drop-down -- that could crash the browser if you had a lot of patients. It should be a search for patient sorta thing.

[2020-06-11 17:20] sjpadgett commented on #3620
that's a good point. so take a whack a it.

[2020-06-11 17:31] sjpadgett commented on #3613
This works as intended. You don't have to create a new username. It is there because we don't know if patient forgot username or password or both. Also does not need to be email for username. New portal patient default to email as username but even then admin can change when setting up account.
Though having New User Name as a label can be confusing so prob will change to populating User Name with

[2020-06-11 17:41] tywrenn commented on #3613
@sjpadgett I just figured out what you mean 😂 -- so when the patient is given their credentials for first time setup by the clinic it autofills their email address as the username which sets it as the username (yet they can change that if they want to). Yet if they reset their credentials through the portal itself, it doesn't autofill their email address in the field, requiring them to set the use

[2020-06-11 18:14] sjpadgett commented on #3613
The intent was to make the patient retype or change their username on password change. You can also change credentials in portal.
![image](https://user-images.githubusercontent.com/1859985/84424229-c8a3d380-abed-11ea-99be-1b248511cee9.png)

[2020-06-12 02:20] stephenwaite opened #3621 "fees->batch payments : can't edit and save the edited payment"
### Describe the bug

fees->batch payments : can't edit and save the edited payment

### To Reproduce

add a payment with fees->batch payments, then search for it and edit it by clicking somewhere on the payment
![Screenshot from 2020-06-13 19-45-17](https://user-images.githubusercontent.com/5618372/84581395-6fcf6900-adae-11ea-81eb-b087cbdaef79.png)

![Screenshot from 2020-06-13 19-46-03](https://

[2020-06-12 18:28] #3100 closed

[2020-06-13 02:42] #3454 closed

[2020-06-13 14:36] CraigT543 commented on #3571
When we moved to 5.0.1 the portal failed for me. I could see that encryption was changing.  But, I was able to just move over my old files using the older encryption system with crypto.php and it worked again.  I think /library/crypto.php was still running in 5.0.1 so I could just replace the new cmsportal files with the old ones from 5.0.0 and it continued to work.  Again in 5.0.2 the new cmsport

[2020-06-13 21:51] yashrajbothra commented on #3512
Should we start whitelisting the fields which can be used In **C**R**UD** opreation? As I was working on the practitioner resource and if we want **C**R**UD** than there should be some scope otherwise someone might mess up with username or password which we strictly don't want :)

[2020-06-13 21:54] bradymiller commented on #3512
definitely. right now the base service doesn't not allow modification of pid and uuid. would make sense to expand this type of thing as needed for the specific services. Also need to ensure `id` itself can't be modified.

[2020-06-13 21:56] yashrajbothra commented on #3512
Either we can Whitelist or Blacklist some. I think blacklist would be easy if we can do that?

[2020-06-13 23:23] bradymiller commented on #3512
Agree with blacklist strategy.

[2020-06-13 23:47] stephenwaite commented on #3621
think [this code](https://github.com/openemr/openemr/blob/master/interface/billing/edit_payment.php#L753-L756) is the culprit

[2020-06-14 01:00] gutiersa commented on #3571
Yes, I agree, It would be good if it remains included. My server is currently down. As soon as I fix it this weekend, I could help some.

[2020-06-14 09:22] bradymiller commented on #3327
Just brought in the changes and updated the dockers:
https://github.com/openemr/openemr-devops/commit/ac83e541d359249a89bbd3122c131a0dc2458ae3
https://github.com/openemr/openemr/commit/4d6a4925198e16aeb7c6b1b4d45ab4c4068efefc

As a bonus, also added support for multisite :)

[2020-06-14 09:22] #3327 closed

[2020-06-14 09:31] bradymiller commented on #3485
@tywrenn , The easy dev docker now can bring in the same demo data that is used on the online demos :)
https://community.open-emr.org/t/openemr-flex-docker-updated/12051/59

[2020-06-14 17:12] tywrenn commented on #3485
@bradymiller Yayyyyy 🙂🙂🙂 closing this now

[2020-06-14 17:23] bradymiller commented on #3485
btw, another nice thing about the demodata feature on the dev docker is it allows developers to test their changes in the sql upgrade script.

[2020-06-14 18:16] arnabnaha opened #3632 "Add Button in Edit Demographics donot work"
Hi,

The "Add" button for the state, country etc in edit demographics page donot work. Clicking them doesnot bring out the popup to add the state/country as previously.

Please fix this

Regards,
Dr. Arnab Naha

[2020-06-14 22:03] #3613 closed

[2020-06-14 22:16] tywrenn opened #3633 "Update BS4 RTL to 4.5.0"
The editor of the BS4 RTL that we use just updated to 4.5.0. Will be creating a pull to update this soon.

[2020-06-14 23:53] tywrenn commented on #3632
@bradymiller Confirmed this -- it's a pretty horrible bug

[2020-06-15 00:08] tywrenn commented on #3485
@bradymiller reopening this as the script fails in docker compose

[2020-06-15 00:23] tywrenn commented on #3618
@sjpadgett This is why the `!important` tag will go away this summer because it can't be overridden and since the globals option overrides the fonts, an override + override doesn't work.

[2020-06-15 00:26] tywrenn commented on #3485
@bradymiller Never mind, you do however need to remove the flex docker image in order to update the flex docker.

[2020-06-15 00:26] #3485 closed

[2020-06-15 01:01] #3603 closed

[2020-06-15 01:32] bradymiller commented on #3632
Looks like the layout engine is adding to 2 classes in those entries

[2020-06-15 01:35] bradymiller commented on #3632
Will post a fix soon, but looks like there is some UI clean up that will also be needed :)
![image](https://user-images.githubusercontent.com/278968/84609981-d10a4180-ae6d-11ea-83f5-3141ff5b9a9f.png)

[2020-06-15 02:32] bradymiller commented on #3632
Just brought in the main fix for this issue.

I re-opened it though since still cosmetic issues to address, which are in @tywrenn 's area of expertise :)

[2020-06-15 02:33] bradymiller commented on #3632
btw, the code for this element can be found here:
library/options_listadd.inc

[2020-06-15 03:46] tywrenn opened #3637 "Portal Drop-down Showing when it shouldn't"
### Describe the bug

The portal notifications drop-down is now showing all the time when it should be hidden.

![image](https://user-images.githubusercontent.com/46497068/84616170-345d9900-ae99-11ea-935e-4300a5d5c049.png)

[2020-06-15 03:46] tywrenn commented on #3637
@bradymiller I can't figure out how this is being shown/hidden...

[2020-06-15 03:59] bradymiller commented on #3637
@tywrenn ,
Need to turn off the portal in Globals (and logout/login). The easy dev docker now turns on the portal by default:
https://github.com/openemr/openemr/blob/master/docker-compose.yml#L55
Next planned feature for the easy dev docker is world dominance. Almost there :)

[2020-06-15 04:02] bradymiller commented on #3637
Although it does seem odd that it is showing with no messages. @sjpadgett , is it meant to show all the time even when no messages?

[2020-06-15 04:13] tywrenn commented on #3637
@bradymiller it isn't supposed to when no messages are shown... It usually hides itself

[2020-06-15 07:16] CraigT543 commented on #3571
I was not successful in getting crypto.php to function with 5.0.2.  The handshake is not taking place between the list_requests.php in openemr and webserve.php in the sunset portal.  The error log tells me I have a probable configuration error.  I am likely missing some dependency for crypto.php to work.  And I am also certain that the webserve application for the sunset portal is not set up to re

[2020-06-15 07:43] bradymiller commented on #3571
hi @CraigT543 ,
Just submitted a PR with all the wordpress portal code in it on OpenEMR most recent development codebase:
https://github.com/openemr/openemr/pull/3639

Are your encryption/decryption issues in the interface/cmsportal/upload_form.php script?

[2020-06-15 07:46] arnabnaha commented on #3632
Thanks Brady for the fix...working nicely

On Mon, 15 Jun 2020, 08:04 Brady Miller, <notifications@github.com> wrote:

[2020-06-15 13:32] CraigT543 commented on #3571
No the file that initiates the connection in OpenEMR  is  portal.inc.php with webserve.php in Wordpress.  As far as I can tell, portal.inc.php does a little cURL handshake with webserve.php and list_request.php grabs an array from webserve.php of all forms and messages that are on the wordpress site.  I am pretty sure it all is initiated with portal.inc.php.

[2020-06-15 14:09] tywrenn opened #3640 "Fix Mime Type Blocked Error Placement (For v6)"
Since I implemented this in the 5.0.2 I might as well implement this in 6.0.0

@bradymiller Do the changes we patch in 5.0.2 transfer over to 6.0.0 or does that not happen?

[2020-06-15 15:37] #2890 closed

[2020-06-15 16:22] sjpadgett commented on #3621
Hi @stephenwaite
Looking at the 5.0.1 version of this script, the same logic is used accept it drops into php for the substitution.

Are we sure that after users modified their php.ini this issue wasn't fixed?
I can't recreate and it may be because I have my php config'ed to 4000 input vars leading me to believe that users with very many payments the problem shows where testing against one or two

[2020-06-15 19:24] stephenwaite commented on #3621
thanks for checking @sjpadgett , i think i'll be able to show you on a dev demo for starters then will look at `502`

[2020-06-15 21:17] yashrajbothra commented on #3438
Closing this as it's far away from our [bucketlist](https://build.fhir.org/ig/HL7/US-Core-R4/#us-core-profiles) which is US-Core-Profiles :)

[2020-06-15 21:17] #3438 closed

[2020-06-15 21:19] yashrajbothra commented on #3277
Closing this as it's far away from our [bucketlist](https://build.fhir.org/ig/HL7/US-Core-R4/#us-core-profiles) which is US-Core-Profiles :)

[2020-06-15 21:19] #3277 closed

[2020-06-15 21:26] stephenwaite commented on #3621
hi @sjpadgett , same story on 502
![Screenshot from 2020-06-15 17-25-43](https://user-images.githubusercontent.com/5618372/84707768-4d178e80-af2d-11ea-81c9-fd627e5746ec.png)

[2020-06-15 21:51] sjpadgett commented on #3621
@stephenwaite Are you clicking finish payments?

[2020-06-15 22:32] sjpadgett commented on #3621
weird!!!

[2020-06-15 23:10] sjpadgett commented on #3621
Looks like the forms logic was changed when restyle in 502. Heres 501(7)
![image](https://user-images.githubusercontent.com/1859985/84714237-16487500-af3b-11ea-9f2a-96e5a6cf8ed2.png)

Note there is not a Save Changes button like 502/600
![image](https://user-images.githubusercontent.com/1859985/84714342-61fb1e80-af3b-11ea-9ad8-2a82a5557d4d.png)

Also dialogs were replaced with a modal. no no no. T

[2020-06-16 00:58] bradymiller commented on #3640
hi @tywrenn , Just let us know whenever you need something cherry-picked from one branch to another. In future, usually better to fix in master/6.0.0, and then just flag us that you want it cherry-picked to rel-502. If it ends up being more complicated (ie, each version has different changes) then best to have 2 separate PRs. I just cherry-picked your 5.0.2 changes into master/6.0.0 :)

[2020-06-16 00:58] bradymiller commented on #3640
https://github.com/openemr/openemr/commit/25df876079916b184786fe6c87dd6a2ff0694865

[2020-06-16 00:58] #3640 closed

[2020-06-16 01:00] tywrenn commented on #3640
@bradymiller yeah I was gonna create 2 PR's for this and make sure this change was globally patched

[2020-06-16 01:03] #3139 closed

[2020-06-16 01:09] bradymiller commented on #3640
No need to create 2 PR's if something simple and confident the code is going to be the same  (such as this case). Otherwise, when more complicated, then should do 2 PRs.

Also, github has a new permission called Triage that allows somebody to manage issues and PRs (can't bring in PRs though); so can add labels, milestones, etc.
I just gave you Triage permission to the openemr repo, so you won't ne

[2020-06-16 01:10] bradymiller commented on #3640
More info on Triage role here:
https://help.github.com/en/github/setting-up-and-managing-organizations-and-teams/repository-permission-levels-for-an-organization

[2020-06-16 03:11] tywrenn commented on #3632
@bradymiller will do some cleanup :)

[2020-06-16 03:37] rhausam commented on #3277
I'm definitely interested in value sets, but I agree that we shouldn't need this in OpenEMR.

[2020-06-16 07:41] #3138 closed

[2020-06-16 08:42] #3632 closed

[2020-06-16 16:49] tywrenn commented on #3609
Since this has been fixed I'm closing this

[2020-06-16 16:49] #3609 closed

[2020-06-16 16:57] tywrenn opened #3644 "Audio files should be shown in an audio player instead of downloaded"
### Describe the problem
At the clinic that I work for, we record audio with patient encounters using a custom module that I built that records the audio and then sends it over to the document tree of the patient. A big problem with the documents area is that it tries to download the audio file instead of displaying it.

### Describe the solution you'd like
I'd like for the documents area to be ab

[2020-06-17 02:21] #3594 closed

[2020-06-17 15:12] tywrenn opened #3651 "Occasional Glitching with FontAwesome"
### Describe the bug
After converting to using SASS for Font Awesome, a glitch is happening where occasionally there are random letters after a Font Awesome icon.

### Solution
Modifying the SCSS a little bit might fix this issue. We use an escape character after every icon which probably is causing the issue so solving that will fix this.

[2020-06-17 15:18] tywrenn commented on #3637
This also appears to be happening in rel 5.0.2 in some cases -- dunno why this is happening...

[2020-06-17 20:46] tywrenn opened #3653 "Use an easy API that lists insurance companies instead of manual entry"
### Describe the problem

Currently if you want to submit an eligibility insurance request in OpenEMR, you have to manually enter the insurance provider information into the system.

### Describe the solution you'd like

I dunno if there is one, yet if there's a widely available API that we can use to query a list of insurance companies, then we should implement this :)

[2020-06-17 22:32] bradymiller commented on #3571
Are you seeing errors in the handshake?
https://github.com/openemr/openemr/blob/daf9411666edafdfe3f3486c8fb3278dc9fd78f7/interface/cmsportal/portal.inc.php#L40
or
https://github.com/openemr/openemr/blob/daf9411666edafdfe3f3486c8fb3278dc9fd78f7/interface/cmsportal/portal.inc.php#L47

Note that the crypto call in that function is just decrypting the password that is stored in globals. So, the way to

[2020-06-17 22:38] bradymiller commented on #3571
Or is is erroring out in webserve.php at:
https://github.com/openemr/sunset-patient-portal/blob/master/webserve.php#L33
or
https://github.com/openemr/sunset-patient-portal/blob/master/webserve.php#L38
or
https://github.com/openemr/sunset-patient-portal/blob/master/webserve.php#L52

[2020-06-17 22:45] tywrenn commented on #3536
Turns out this is gonna be bigger of a change then I imagined...
[https://v5.getbootstrap.com/](https://v5.getbootstrap.com/)

[2020-06-17 23:46] #2907 closed

[2020-06-17 23:51] bradymiller commented on #3536
Just a couple thousand pots of coffee is all it will take :)
https://v5.getbootstrap.com/docs/5.0/migration/

[2020-06-18 03:10] tywrenn opened #3654 "Login Page Overhaul"
As pointed out by @juggernautsei - the landing page is in need of an update. Once #3626 is merged I plan to do a huge task: unifying the login page design for every theme and redesigning it from the ground up. The main thing i'll do is shrink the size of the box and then possibly do a really cool gradient or something of that nature. This is gonna be awesome. 🙂

All credit for this design change w

[2020-06-18 03:23] tywrenn commented on #3616
Not too sure what you are trying to accomplish here...are you trying to attach a gif from something like Google Keyboard and insert it into the EMR? If so that's not compatible with OpenEMR.
If you're trying to upload it through the documents uploader it should go through as long as that isn't a file type in the blacklist/whitelist of OpenEMR. The way you tell if it's blocking it is scrolling to t

[2020-06-18 04:49] bradymiller commented on #3654
![2DV](https://user-images.githubusercontent.com/278968/84979525-79294000-b0e4-11ea-9c14-1b4ebd1773a9.gif)

[2020-06-18 11:18] juggernautsei commented on #3654
@tywrenn you are too kind.

[2020-06-18 13:09] juggernautsei opened #3655 "Immunization codes are display each entry twice"
### Describe the bug
On the codes page when selecting CVX Immunization, each code is displayed twice on the screen.
![image](https://user-images.githubusercontent.com/834958/85023632-ff746f00-b142-11ea-9266-4413c87c0656.png)

### To Reproduce

Go to Codes from the administration menu
Select CVX Immunization
Select Search

### Expected behavior
Show each code only once

### Client configuration

-

[2020-06-18 13:22] juggernautsei commented on #3655
I have been working on this for a few days. When I dump the main_code_set_search line ~754.
The query returned is
SELECT '0' as code_external, codes.code as code, codes.code_text as code_text, codes.code_text_short as code_text_short,  codes.id, codes.code_type, codes.modifier, codes.units, codes.fee, codes.superbill, codes.related_code, codes.taxrates, codes.cyp_factor, codes.active, codes.report

[2020-06-18 14:07] juggernautsei commented on #3655
Line 804
Returns both results and query

C:\oerm_dev\www\dev\future5_2\custom\code_types.inc.php:813:
object(ADORecordSet_mysqli)[461]
  public 'databaseType' => string 'mysqli' (length=6)
  public 'canSeek' => boolean true
  public 'dataProvider' => string 'native' (length=6)
  public 'fields' =>
    array (size=18)
      'code_external' => string '0' (length=1)
      'code' => string '22' (lengt

[2020-06-18 14:09] juggernautsei commented on #3655
If I manually set the LIMIT to 2. I get one result back twice. Limit set at line 933

[2020-06-18 14:44] mdsupport commented on #3654
@tywrenn Have you considered making the landing page into a dashboard? Without showing any specific private information, it should be possible to display cards (implemented as optional plugins) that each practice/specialty could choose. Some examples would be:

- Appointments for next 7 days
- If lab module is activated - summary of overdue, unreviewed and open results.
- Summary of open messages

[2020-06-18 15:09] tywrenn commented on #3654
@mdsupport This is in regards to the login page. The actual 'landing' page is currently the calendar screen yet I think a dashboard would be nice as this goes along well with my Systems Analysis and Design class that I took.

[2020-06-18 15:14] juggernautsei commented on #3654
@mdsupport I referred to the login form as the landing page because it is the first thing anyone sees. Or the first place anyone lands is on the login screen. So, the word landing page can be relative to what is being considered before or after login. =^)8

[2020-06-18 16:45] mdsupport commented on #3654
@tywrenn I was also referring to login form. We have found users/MDs like it when targeted information is displayed without them asking for it. For retail sites where aesthetics is as important as content. In business applications where users are captive, content becomes more important if it saves time or system owners can ensure delivery of specific information to everyone. E.g. if an MD is shown

[2020-06-18 17:31] juggernautsei commented on #3654
I like the idea of having business information upfront. @mdsupport where are you taking classes?

[2020-06-18 17:45] sjpadgett commented on #3621
@stephenwaite These scripts are messed up! It's going to take some untangling going back to 501!
v6.0 restyle is horrible and needs to be fixed. The way now is not usable imo...
Haven't I been here before? gesh

[2020-06-18 21:59] tywrenn commented on #3654
@juggernautsei Behold, the new login page that changes everything

[2020-06-18 22:57] juggernautsei commented on #3655
Line 662

        array (size=0)
          empty
      public 'databaseName' => string 'future-5-2' (length=10)
  public '_numOfRows' => int 1
  public '_numOfFields' => int 1
  public '_queryID' =>
    object(mysqli_result)[454]
      public 'current_field' => int 0
      public 'field_count' => int 1
      public 'lengths' =>
        array (size=1)
          0 => int 1
      public 'num_rows' =>

[2020-06-18 23:06] juggernautsei commented on #3655
The query is being run twice, in my opinion.

C:\oerm_dev\www\dev\future5_2\custom\code_types.inc.php:651:string 'SELECT '0' as code_external, codes.code as code, codes.code_text as code_text, codes.code_text_short as code_text_short,  codes.id, codes.code_type, codes.modifier, codes.units, codes.fee, codes.superbill, codes.related_code, codes.taxrates, codes.cyp_factor, codes.active, codes.report

[2020-06-19 01:50] #3140 closed

[2020-06-19 04:10] #3654 closed

[2020-06-19 04:33] #3633 closed

[2020-06-19 06:38] bradymiller commented on #3655
@juggernautsei , I wasn't able to confirm this on the online demos (dev and 5.0.2). Can you reproduce this on those demos?
Make me think that maybe you imported the cvx codes twice into your local installation (checkout the codes table)

[2020-06-19 09:16] boxlady opened #3659 "Past Encounters and Documents not refreshed when changing patients"
### Describe the bug
When you switch patients the Past Encounters and Documents tab doesn't update, it shows the history from previous patient.  This seems to only apply to 503. Whereas the tab automatically updated when switching patients in 5.0.2.
### To Reproduce
Go to the demo server click on a patient. Check the Past Encounters and Documents tab, take note oh what is written there (Needs to h

[2020-06-19 09:36] boxlady opened #3660 "Calendar - Springs back to today after every appointment"
### Describe the bug
When you make an apt in the future, after you close the menu the calendar jumps back to today. So when making appointments 2 weeks in the feature every time you make an appointment  you have to go back to the week/day etc. This has only now just cropped up. with the latest code. You can test it out on the demo server.

### To Reproduce
Open the calendar tab.
Go to some day in

[2020-06-19 11:03] juggernautsei commented on #3655
I thought the same thing at first. Here is a screenshot of my table.
I have three installs that are like this. Here is one https://juggernautsystem.com/dev/future5_2
Username Brady password Miller@123. The install for GMU is the same thing. However, I did two installs yesterday and nothing. I have a really old install and it is like this.
https://juggernautsystem.com/dev/mindfulemr5 same username

[2020-06-19 11:17] juggernautsei commented on #3655
This morning, I wanted to test the two ubuntu systems that were not doing this. And to my surprise after running patch 3. Now they are doing the same thing. Install patch 3 on the demo site, please.

[2020-06-19 12:59] sjpadgett commented on #3659
confirmed

[2020-06-19 15:31] CraigT543 commented on #3571
I was haveing some cURL errors after the update.  But I rebuilt my ssl certificate and that went away.  So I think that the handshake is working fine.

But I am getting errors at the 'list'  and 'message' requests for the webserve.php in WordPress initiated by OpenEMR in list_requests.php and the error stops at line 155 in the 5.0.2 verson.  I think this is because of the added csrf_token_form var

[2020-06-19 18:07] boxlady commented on #3659
Side question... What is/what does it mean "Priority: Blocking" label?

[2020-06-19 18:08] stephenwaite commented on #3659
hi @boxlady , very high priority

[2020-06-19 18:54] tywrenn opened #3661 "Calendar Design Overhaul"
This is something that should be done now as it really needs to be updated. In the calendar currently implemented, there are numerous bugs and things that are problematic.

### Current Calendar System Issues
- The design is very unintuitive. To remove an IN block you have to click on the specific day and try to mash on the block to edit it.
- An IN requires an OUT for every time a doctor is in off

[2020-06-20 02:22] bradymiller commented on #3659
I've also been seeing several places where tabs aren't refreshing or redirecting to scripts like they should. Am betting there are several bugs to address in the code that was added to avoid unnecessary refreshing of scripts within tabs (think it was added 1-2 months ago).

Your specific bug is definitely critical since it may lead to confusing patients.

[2020-06-20 08:17] bradymiller commented on #3660
Pretty sure I know why this is happening (looks like a mistake I made on use of the new setSession function). Looking at this now.

[2020-06-20 08:26] #3163 closed

[2020-06-20 08:37] bradymiller commented on #3660
Got a fix for this, which will bring in after it passes travis. When I bring in the PR, this issue will then autoclose (@boxlady , please reopen it if the issue still isn't fixed over there).

[2020-06-20 08:42] #3660 closed

[2020-06-20 10:54] boxlady commented on #3660
Thanks @bradymiller

[2020-06-20 17:11] CraigT543 commented on #3571
WHY HAVE A WORDPRESS PATIENT PORTAL
First, WordPress has so many plugins and themes that make website building rather quick and slick.  It is also rather easy to make a secure patient membership site for patient contact.

Some reasons I like the WordPress portal.  I have modified the Sunset Portal to sync with this plug in https://cfdbplugin.com/.  This allowed me to sync with GravityForms and CF7

[2020-06-20 21:26] #3659 closed

[2020-06-21 03:15] sjpadgett commented on #3621
Having to restyle all these forms but replacing modal with dialog makes life better for UX
![image](https://user-images.githubusercontent.com/1859985/85211788-99dadb00-b31a-11ea-8bb8-1fd780846b02.png)

[2020-06-21 17:02] bradymiller opened #3666 "Binary data in mysqldump"
With the advent of uuid (stored as binary data) and guessing other places that use binary data, does it make sense to use the `--hex-blob` flag when using mysqldump (in backup in OpenEMR) to avoid weird stuff happening when trying to store binary data in the sql text files (that flag stores outputs in hex rather than binary). Looks like only trade off is that it takes up more space.

[2020-06-21 20:08] sjpadgett commented on #3621
@stephenwaite Found the reason it works in v501 and not v502/6.0 umm, validation was broken in 501. lol. Wonder what kind of problems that caused?
Why would the distribution table show if payment hasn't been distributed/posted? If empty, should we still allow payment save?

[2020-06-21 20:10] stephenwaite commented on #3621
oh really, wow
doesn't make sense that we should allow payment save then unless the user wanted to come back to it at a later time?

[2020-06-21 20:12] sjpadgett commented on #3621
So if empty then we'd want them to distrib before saving, right?

[2020-06-21 20:13] sjpadgett commented on #3621
lol, so it works as designed!! I could add a prompt to allow user to decide.

[2020-06-21 20:15] stephenwaite commented on #3621
:), not neccessary then since why would you ever want an unapplied payment floating in the system to be forgotten about?

[2020-06-21 20:18] sjpadgett commented on #3621
okay, i'll fixup some exception in javascript and I'll be done. I fixed the tables refresh so transactions are updated.
See you in PR

[2020-06-21 22:55] sjpadgett commented on #3621
I can't see how this ever worked correctly. Seeing stuff like remainder was never taken into account on posting, always null/0!

[2020-06-22 04:12] #3621 closed

[2020-06-22 07:01] bradymiller commented on #3666
@jesdynf , Just checking if the aws/lightsail stuff will need this in the future (when we release 6.0.0) regarding the automated mysql backups that are happening in those environments.

[2020-06-22 07:13] bradymiller commented on #3207
This is now supported in the easy dev docker, so closing this.

[2020-06-22 07:14] #3207 closed

[2020-06-22 07:17] bradymiller commented on #3571
Goals are to definitely get it back in 6.0.0 and working :)

The csrf_token_form shouldn't be an issue. When you mean it stops at line 155 in the 5.0.2 version, what were the specific errors reported?

[2020-06-22 19:47] mdsupport commented on #3661
@tywrenn Recurring appointments are problematic as the php object is stored in database. That means the status and time get changed for all occurrences. So we run a cron job at night which converts past recurrences into normal appointments and resets the start of recurrence period to next appointment date.

Ideally in today's world we need to set up an interface to something like Zimbra or any dec

[2020-06-22 21:07] tywrenn commented on #3661
Btw the calendar module is dated back from 2002 😂😂😂

[2020-06-23 05:16] tywrenn commented on #3666
We should improve SQL dump as I've had times where areas/modules add rows/tables and other stuff which makes it completely non-importable.

[2020-06-23 19:03] jesdynf commented on #3666
Automated MySQL backup does not use mysqldump, so it shouldn't care either way.

[2020-06-25 04:19] tywrenn commented on #3666
@jesdynf We should be advocating for all use case scenarios, not just cloud-based ones which have the functionality you described. It's bad practice to not advocate for all of them.

[2020-06-25 05:03] bradymiller commented on #3608
started docker documentation here:
https://github.com/openemr/openemr/pull/3678

[2020-06-27 00:46] tywrenn commented on #3661
Since I have no idea how to fix these issues anyone wanna take this issue?

[2020-06-27 01:03] bradymiller commented on #2917
bump

[2020-06-27 02:10] mdsupport commented on #3661
@tywrenn Replacing entire system is too big for current dev resources and too risky for practices. Modifying existing screens is a nightmare since it involves smarty. Even a simple table to grid was too complex because of all variations. However a personalized version may be easier to build from scratch. It could be something like a new UI for clinicians (so a single provider) that can be pulled u

[2020-06-27 07:02] #3007 closed

[2020-06-27 13:07] stu01509 opened #3683 "UI Issue: Search or Add Patient odd input field"
### Describe the bug

I am not sure, when I click the input field, it will show the orange background.
Also, the layout of the form looks like it needs to adjust. Please assign this issue to me.

### To Reproduce

Steps to reproduce the behavior:
1. Go to Patient Finder
2. Click Add new Patient  button
3. See the odd field

![image](https://user-images.githubusercontent.com/22230889/85922965-b0080

[2020-06-27 13:22] sjpadgett commented on #3683
these are required fields plus these are LBF and styling can get tricky. Also there is a Zend validation module that goes with these so again, tricky. This form looks fine as is!

[2020-06-27 23:52] #3209 closed

[2020-06-28 00:42] stu01509 commented on #3683
Hi @sjpadgett

Thanks for your explanation, so do you recommend I only adjusted the styling?

cc @tywrenn

[2020-06-28 00:49] sjpadgett commented on #3683
I don't want to see these form overly large so I don't see anything wrong with existing style. Plus as I mentioned, these are Layout Based and you may find yourself in a mess quick. Messing with these forms scares me:)

[2020-06-28 03:42] sjpadgett opened #3686 "jszip.js v3.3.0 (current) breaks documents unzips(dicom)"
### Describe the bug
Errors with corrupt zip. v3.1 works same zip.

[2020-06-28 17:06] tywrenn commented on #3683
Since these forms are pretty complex and since I wanna change them to BS4 validation i'll be fixing the styling on this

[2020-06-28 18:50] stephenwaite commented on #2917
coming back to work on this
maybe `  `filled_date` date default NULL,` could be mapped to `begin_date`

[2020-06-28 19:10] stephenwaite commented on #3402
Fixed

[2020-06-28 19:10] #3402 closed

[2020-06-28 19:10] #3377 closed

[2020-06-29 01:51] #3231 closed

[2020-06-29 07:46] #3666 closed

[2020-06-29 14:11] stephenwaite opened #3694 "list editor missing header"
![Screenshot from 2020-06-29 10-09-35](https://user-images.githubusercontent.com/5618372/86016342-ac2ad800-b9f0-11ea-92ce-a98478f6c741.png)

@tywrenn , would `py-1` be ok here?
https://github.com/openemr/openemr/blob/master/interface/super/edit_list.php#L1030

[2020-06-29 17:50] ophthal opened #3695 "Sub Menu display"
submenus for Flow Board, Recall Board and messages no longer display correctly when Global for MedEx is enabled - using master branch.

<img width="904" alt="Screen Shot 2020-06-29 at 1 40 10 PM" src="https://user-images.githubusercontent.com/60580695/86037989-39c8f080-ba0e-11ea-8dbc-9c19f002515d.png">

The demos are OK since they use older code.

Here is the Messages::File:MedEx Setup Page.  Note

[2020-06-29 18:07] ophthal commented on #3561
and the eye form pulls PCP and referring doc information for reports, referral letters, fax production, etc.  Maybe other places use these address book entries too.  Please make sure before your replace this code you find other places pulling address book info and integrate them with your changes.

[2020-06-30 10:50] #3222 closed

[2020-06-30 11:57] pete-boyd opened #3699 "Layout editor's "ID" and "Label" fields are too small to comfortably use"
Administration >Layouts' "ID" and "Label" fields are too small to work with comfortably, especially ID where you need to be able to see the whole of the text. For me, ID is 6 chars long, and Label 16 chars long. ID is prone to errors (e.g. inserting a space); uncomfortable when you need to work with it closely trying to cram and hone wording into the very minimal maximum spacing; and difficult to

[2020-06-30 12:07] #3176 closed

[2020-06-30 14:12] stu01509 commented on #3695
Hi @ophthal

Can you guide me, how to open the MedEx? I would like to reproduce and fix it.

[2020-06-30 14:20] stu01509 opened #3700 "UI Issue: dashboard disclosures page"
### Describe the bug

write concise description of what the bug is.

### To Reproduce

Steps to reproduce the behavior:
1. Go to the dashboard.
2. Click the disclosures edit button.
3. See the odd page.

![image](https://user-images.githubusercontent.com/22230889/86137339-c6170880-bb1f-11ea-8757-f32c28cd709e.png)

![image](https://user-images.githubusercontent.com/22230889/86137370-cdd6ad00-bb1f-1

[2020-06-30 14:42] ophthal commented on #3695
Globals->Connectors->Enable MedEx.

Interestingly the menus appear correctly with the flex docker but the latest code updates for MedEx are missing so I am not sure where the flex docker is in relation to openemr/master.

For File::Setup MedEx, the sign-up text is off.

Here is a screen grab of File::Preferences (shown to active users):

The top of the page needs to come down somewhat since when v

[2020-06-30 17:59] tywrenn commented on #3269
bump

[2020-07-01 00:20] tywrenn commented on #3694
This shouldn't need any pie wait i mean `py` lemme fix it

[2020-07-01 01:07] tywrenn commented on #3699
@pete-boyd The issue is there is so much padding and spacing on this form that it really is almost impossible to make these fields any bigger unfortunately.

[2020-07-01 05:11] #3637 closed

[2020-07-01 05:11] #3644 closed

[2020-07-01 05:11] #3651 closed

[2020-07-01 05:11] #3683 closed

[2020-07-01 05:11] #3694 closed

[2020-07-01 13:01] pete-boyd opened #3704 "The "Omit Employers" feature messes up the viewing of most patient demographics"
In OpenEMR 5.0.2.3, with this feature switched on:

Globals > Features > Omit Employers

In patient demographics, the wrong information is shown under the following tabs when in viewing mode:

Stats - this is empty
Guardian - this is showing data for "Stats"
Misc - this is showing data for "Guardian"
Choices - this is showing data for "Misc"

The tabs work correctly when in edit mode.

I have repr

[2020-07-01 16:39] #3226 closed

[2020-07-01 17:00] sjpadgett commented on #3621
@stephenwaite I can't find the forum issue for this. Is there one?

[2020-07-01 17:08] stephenwaite commented on #3621
this was my spin off from the thread where everyone was ganging up on us :)

[2020-07-01 17:12] sjpadgett commented on #3621
I found one i'll use. Posting there now so, fingers crossed and hopefully somebody will cooperate and test for us as i'd really like to get on with DICOM viewer and put this to bed....
https://community.open-emr.org/t/error-in-edit-batch-payments-in-5-0-2-1/14542/13

[2020-07-01 17:13] stephenwaite commented on #3621
edited my post above with the :baby:

[2020-07-01 17:14] sjpadgett commented on #3621
oh okay. Ill ref both...

[2020-07-02 06:49] pete-boyd commented on #3699
@tywrenn Can you not achieve it be reducing the size of the Description field?

[2020-07-02 16:08] tywrenn commented on #3611
I'll have to figure out how to make the text in the navbar stay small even if you set your system settings to large text -- this issue probably won't be able to be fixed yet i'll see what I can do

[2020-07-02 16:13] tywrenn commented on #3704
@pete-boyd I am aware of this issue as I re-coded this in the upcoming v6 release. If you can check out v6 and tell me if this issue got resolved there that would be great as well. As far as 5.0.2 goes this seemed to be a styling issue causing this which could be complicated to solve (since 5.0.2 styling sucks).

Also please make sure you are on [patch 3 when creating these issues](open-emr.org/wi

[2020-07-02 16:15] tywrenn commented on #3699
@pete-boyd Lemme test that theory real quick

[2020-07-02 16:25] pete-boyd commented on #3704
I'm using patch 3 and I indicate that whenever relevant (see "In OpenEMR 5.0.2.3" in my report), and unless at the time I wasn't yet on patch 3, but I now am.

I can test this with version 6, how do I download that? https://www.open-emr.org/wiki/index.php/OpenEMR_Downloads offers only "Daily snapshots from current development tip(5.0.3-dev)". Do you mean pull it from Github?

[2020-07-02 16:42] tywrenn commented on #3608
Closed as this was resolved

[2020-07-02 16:42] #3608 closed

[2020-07-02 16:45] sjpadgett commented on #3611
I think @robertdown added the ability to change font and size via globals back when our styling, templates and fonts were all over the place. Now it doesn't appear changing this setting is effective any longer.  The change is overridden in many places causing even more confusion.

First, just because BS4 defaults to 16px font size doesn't mean it makes sense for a font size that large in 90% of ou

[2020-07-02 19:21] sjpadgett opened #3708 "Batch Payments Rework"
### Describe the bug
Mainly forum issue:
- https://community.open-emr.org/t/error-in-edit-batch-payments-in-5-0-2-1/14542/15
- https://community.open-emr.org/t/major-billing-issues-with-5-0-2-please-help/14641/31

This will be the place to add comments or issues with Batch Payments testing of new reworked feature for v5.0.2 or v6.0.0.
Thank you those that are testing for us.

[2020-07-02 20:40] tywrenn commented on #3699
In my testing in v6 and in 5.0.2 there is a mechanism where if you enter a space it enters an underscore on save `_` instead.

As far as this fix goes what i'll be doing is completely removing the barriers of this table and making it responsive. The size of the description field was 30 originally so that will be toned down to 20.

[2020-07-02 20:42] tywrenn commented on #3704
There is a dev demo area here where you can test it out:

https://www.open-emr.org/wiki/index.php/Development_Demo

[2020-07-02 20:49] tywrenn commented on #3611
@sjpadgett Ummm... The base font is already set to 14px by default, just in REM form (14px x 0.0625 = 0.875rem) ([link to line of code here](https://github.com/openemr/openemr/blob/master/interface/themes/oe-styles/style_light.scss#L79))

The real issue is getting rid of the `!important` tag in fonts. Once we get rid of that and override it in globals, everything will resize along with it.

[2020-07-02 20:53] tywrenn commented on #3611
Another issue is determining which items shouldn't be resized using the globals. Some could break styling if they are resized so we wanna be careful in those departments.

[2020-07-03 01:15] bradymiller commented on #3704
@pete-boyd , quick aside. the daily snapshots are using 6.0.0-dev (i just fixed that misnomer on the downloads page). thanks for pointing that out.

[2020-07-03 05:40] pete-boyd commented on #3699
Great.

I've witnessed this behaviour with underscores, and yet also in recent days I've debugged one of my forms that had mistakenly had an actual space in the ID field (running OpenEMR 5.0.2.3 but the bug may have been created whilst on 5.0.2.1).

[2020-07-03 16:52] tywrenn opened #3715 "Big 5.0.2 Bug: Namespaces Fail to Work"
This bug stems from the discussion here:

[https://community.open-emr.org/t/fatal-error-cannot-declare-class-cpdf-because-the-name-is-already-in-use-in-applications-xampp-xamppfiles-lib-php-cpdf-php/2721/8](https://community.open-emr.org/t/fatal-error-cannot-declare-class-cpdf-because-the-name-is-already-in-use-in-applications-xampp-xamppfiles-lib-php-cpdf-php/2721/8)

Any help is appreciated.

[2020-07-03 16:52] tywrenn commented on #3715
@sjpadgett @bradymiller

[2020-07-03 17:08] tywrenn commented on #3704
This is also empty in 6.0 -- thanks for pointing this out

This shows data from Misc in 6.0 -- good catch

This shows data for Stats in 6.0 -- good catch

This is showing the correct data in 6.0

[2020-07-03 17:09] tywrenn commented on #3704
Looks like this is a bug that wasn't fixed

[2020-07-03 19:30] tywrenn commented on #3699
The ID field issue seems to me like a personal problem 😂 As far as a 5.0.2 fix on this it probably won't happen since we only push bugs that are code-breaking nowadays. Yet I can promise in 6.0 it will be totally fixed.

[2020-07-04 00:12] tywrenn commented on #3584
This was fixed as of v6. Closing.

[2020-07-04 00:12] #3584 closed

[2020-07-04 06:12] bradymiller commented on #3542
@stu01509 , Just let me know if you want me to reopen this issue (it autoclosed when brought in related PR)

[2020-07-04 23:00] tywrenn commented on #3311
Bump

[2020-07-05 04:13] stu01509 commented on #3542
Thank you, sir, I guess it is last part of the outdated tag remove :)

[2020-07-05 17:52] tywrenn commented on #3661
@mdsupport Maybe replacing it won't work -- yet it doesn't mean you can't overhaul the current system. I'm under the belief that nothing is impossible and in pull #3710 , I clearly show that overhauling the system is possible.

[2020-07-05 18:20] tywrenn opened #3720 "Replace Date/Time Picker"
### Describe the problem

This framework is looking dated with its CSS being 5 years old and it not really being friendly with mobile devices. Even though this is still a maintained framework, stuff like the time picker portion are broken and not fixed at all and it is hard to integrate with current theming.

### Describe the solution you'd like

We need to find a replacement for this unfortunatel

[2020-07-05 18:39] bradymiller commented on #2889
bump

[2020-07-05 19:23] tywrenn commented on #2889
You could make an invisible button that gets clicked to create the database...........

[2020-07-06 00:58] tywrenn commented on #3720
updated to something different

[2020-07-06 03:50] bradymiller commented on #3720
Sounds like a great idea. Agree that first step is finding a good replacement.

[2020-07-06 09:22] #3282 closed

[2020-07-07 10:12] pete-boyd opened #3722 "Checkboxes in layout based forms have misaligned label text"
In layout based forms, with a data type of Checkbox(es), when using the form itself the label is presented offset down from the checkbox. This makes it harder to read.

As an example of doing it properly, use a data type of "Checkboxes w/text" and the checkboxes and labels are neatly lined up together.

On Chrome 83 there's a subtle horizontal bar perhaps indicating separation between the lines of

[2020-07-07 10:31] pete-boyd opened #3723 "It is not clear when documents have uploaded succesfully to a patient record"
Similar to issue #3609 about the placement of an error message when uploading documents, having uploaded a document successfully, depending on your screen resolution (but presumably it's the case for many screens), when the upload completes there can be no indication that it has done so, leaving the user confused. This is the case because if you scroll down past the bottom of the screen there is a

[2020-07-08 01:19] juggernautsei commented on #3655
I fixed it.

[2020-07-08 15:53] stephenwaite commented on #3267
bump, maybe @stu01509 is planning to return to this

[2020-07-08 16:55] stephenwaite opened #3728 "Rule Detail style issues"
### Describe the bug

![Screenshot from 2020-07-08 12-43-21](https://user-images.githubusercontent.com/5618372/86947838-53f38480-c11a-11ea-885f-2da7c2e952ae.png)

![Screenshot from 2020-07-08 12-56-08](https://user-images.githubusercontent.com/5618372/86947899-6d94cc00-c11a-11ea-8435-e65825ed4ec7.png)

### To Reproduce

Admin->Practice->Rules
Add New Rule

[2020-07-08 20:38] bradymiller commented on #3242
bump

[2020-07-09 03:44] stu01509 commented on #3267
Hi @stephenwaite

Ok, Please assign this issue to me, I will plan to fix it :)

[2020-07-10 00:59] sjpadgett commented on #3715
see my comment here: https://community.open-emr.org/t/fatal-error-cannot-declare-class-cpdf-because-the-name-is-already-in-use-in-applications-xampp-xamppfiles-lib-php-cpdf-php/2721/10

[2020-07-10 01:10] sjpadgett commented on #3708
closing as nobody hardly ever gives feedback. I'm releasing this for patch!