[2020-01-21 07:06] bradymiller commented on #2890
Additionally, also let me know what are you seeing in the error log when it happens.

[2020-01-22 20:12] stephenwaite opened #2895 "billing report: generate x12 with continue not setting last_level_billed"
see @juggernautsei 's [post on the forum](https://community.open-emr.org/t/bug-report-billing-manager-marked-as-cleared-not-working-as-designed/12470/85?u=stephenwaite)

validate and clear is setting last_level_billed so shouldn't be too hard to play like @sjpadgett on github :)

[2020-01-22 22:23] stephenwaite commented on #2895
to begin we should set status to 2 [here](https://github.com/stephenwaite/openemr/blob/master/interface/billing/billing_process.php#L242)
[code]

[2020-01-23 14:42] sjpadgett commented on #2895
I don't understand what this means.

[2020-01-23 14:44] stephenwaite commented on #2895
just meaning maybe could figure it out from your validation section

[2020-01-23 23:08] stephenwaite commented on #2895
made the change https://github.com/openemr/openemr/pull/2832, testing fine

[2020-01-23 23:08] #2895 closed

[2020-01-23 23:24] juggernautsei commented on #2895
I will pull these down tonight and let you know once the system has been tested.

[2020-01-25 08:12] sarafgaurav commented on #2870
In case it helps the discussion, I had no problems with PHP 7.4.2 and MySQL 8. However, when I downgraded to 7.3.14, it could not talk to MySQL 8 for the initial setup until I did `ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY '<password>';
` and changed `[mysqld]
default-authentication-plugin=mysql_native_password` in my.cnf. You might have to flush privileges after the a

[2020-01-25 22:30] prondubuisi commented on #2889
Hello @stephenwaite what type of installation does one need to see this in action? A link will be nice cc @bradymiller

[2020-01-26 00:19] stephenwaite commented on #2889
hi @prondubuisi , sometimes one has already created the database and mysql user to get around some difficulty on their host. Please see [this url](https://github.com/openemr/openemr/blob/master/setup.php#L951)

[2020-01-26 18:06] tywrenn commented on #2892
This should be an issue that my BS4 branch addresses since I've been working with tab/height structure in it. We should be converting to a more uniform modal structure as well (some are the old structure and some are using BS4 modals which looks odd).

[2020-01-26 19:21] bradymiller opened #2899 "Easy development docker environment limitations"
The limitations of the easy dev docker will be that changes in the following places will not get shown in the testing docker:
1. public/
2.sites/default/
3. ccdaservice/

There could be a way to allow 2 and 3 above if we place a dummy sqlconf.php file and ccdaservice/package-lock.json in the docker itself; but note the flex docker starts as a blank and this would impact other uses for the flex doc

[2020-01-27 05:55] bradymiller commented on #2330
hi @anromeo , I'm gonna open up this issue for new developers. Just making sure you are no longer working on this. thanks, -brady

[2020-01-27 06:35] bradymiller commented on #2870
hi @sarafgaurav ,

Thanks for your observation, congrats on your first OSS discussion contribution, and welcome to the OpenEMR community!

Here's an updated travis screenshot with a nice green checkmark for mysql 8:
![image](https://user-images.githubusercontent.com/278968/73154361-00b9d800-408c-11ea-8265-f5797e3c5b81.png)

The `default-authentication-plugin=mysql_native_password` issue is somethi

[2020-01-27 16:41] prondubuisi commented on #2889
Hello @stephenwaite I am just seeing your reply Now. I am guessing that once the radio button `I have already created the database` is clicked there should be Javascript code that updates `Create DB and User` to something else, If this is the case;

1. What do I update it to?
2. Looks like I need to add a Jquery Script [here](https://github.com/openemr/openemr/blob/master/setup.php#L1593) to updat

[2020-01-27 20:11] stephenwaite commented on #2889
hi @prondubuisi , yes, you could update it to `Load database` and would emulate this block
https://github.com/openemr/openemr/blob/master/setup.php#L1652-L1665

[2020-01-27 22:14] arnabnaha opened #2900 "NPM install Error"
Hi,

While trying to install a new openemr instance in windows, I run into the following NPM error. (I have already installed composer and NPM).
![npm error](https://user-images.githubusercontent.com/1074948/73218672-7010f400-4180-11ea-81a2-3791aacbaefd.jpg)

Kindly help with the issue

Regards
Arnab

[2020-01-28 03:24] prondubuisi commented on #2889
Okay @stephenwaite , when I am done with this fix, how do I test it to see if it is working as expected? I am guessing I have to attempt a new Openemr install? If so how do I do that manually, I normally use the docker install

Please do assign this issue to me

[2020-01-28 05:19] bradymiller commented on #2900
hi @arnabnaha ,
What versions of npm and nodejs are you using?

[2020-01-28 14:09] stephenwaite commented on #2889
hi @prondubuisi , you can follow the [multi-site setup guide ](https://www.open-emr.org/wiki/index.php/OpenEMR_Multiple_Sites_Module).

[2020-01-28 21:55] arnabnaha commented on #2900
npm version - 6.13.4
node js version - 12.14.1

[2020-01-29 01:13] bradymiller commented on #2900
hi @arnabnaha ,
jsnode 12.* doesn't work on the build (note it will work when we get the ongoing bootstrap PR into the codebase in the future. For now, need to stay on jsnode 10.* .

[2020-01-29 22:17] tywrenn opened #2901 "Upgrade AngularJS to Angular"
This issue will immediately follow the upcoming BS4 pull request. In order to update Angular to be BS4 compliant, we have to update Angular itself. (That is unless someone gets it to work with BS4)

[Upgrade guidelines on how to do this here](https://angular.io/guide/upgrade)

Unfortunately i'm not proficient in Angular so I won't be much help on this case.

**This issue is on hold until Bootstrap

[2020-01-31 08:58] zerai opened #2902 "(white) Empty tab on "Manage Modules""
From menu when I click on MODULES->MANAGE MODULES I have an empty tab (title: "Unknown").
if I remember correctly should it be possible to see the module list?

Same behavior on [development demo](https://six.openemr.io/a/openemr/index.php) ("with demo data" version)

Screenshot from the online demo page
![Screenshot_2020-01-31 OpenEMR](https://user-images.githubusercontent.com/2405279/73525751-16

[2020-01-31 09:10] zerai commented on #2902
From apache log:
'
[Fri Jan 31 09:09:03.824380 2020] [php7:error] [pid 21] [client 192.168.32.1:34188] PHP Fatal error:  Cannot use Zend\\Db\\Adapter\\Adapter as Adapter because the name is already in use in /var/www/localhost/htdocs/openemr/interface/modules/zend_modules/module/Installer/src/Installer/Controller/InstallerController.php on line 24, referer: http://127.0.0.1:8300/interface/main/tab

[2020-01-31 09:28] zerai commented on #2902
If I comment [the line 24](https://github.com/openemr/openemr/blob/master/interface/modules/zend_modules/module/Installer/src/Installer/Controller/InstallerController.php#L24) it works,
I have the desired behavior, but I don't know the consequences, my knowledge about Zend is null, and i have no idea how modules works

Some Zend expert should see this issue.

[2020-01-31 11:19] stephenwaite commented on #2902
there was a [commit 4 hours ago](https://github.com/openemr/openemr/commit/6e228ee21c6d7fdd6c5b9ffb13fce118593077a4) and it looks to be addressing this issue. The demos will reset at midnight pacific time tomorrow and pick up this fix.

[2020-01-31 20:56] zerai opened #2904 "Undefined method in Entity ChartTracker"
At line [154](https://github.com/zerai/openemr/blob/6e228ee21c6d7fdd6c5b9ffb13fce118593077a4/src/Entities/ChartTracker.php#L154)  there is a call to $this->getDate().
This method is not defined.

[2020-02-01 02:36] bradymiller commented on #2902
hi @zerai and @stephenwaite ,
Sorry about that; I must of had enough coffee when I rebased/merged that work. Thanks for the super quick fix! -brady

[2020-02-02 01:11] sjpadgett opened #2907 "Fax/SMS module version control.(Modules in general)"
Hmm, what to do! Guess i'll have to maintain at least one prior version (v5.0.2) compatibility.(BS4 project)
Wonder if I should have NPM point to separate repository for v5.0.2 or do file substitution with installer. Work on installer is needed for such things as uninstall/upgrades etc anyway so thoughts anyone? Maybe maintain compatible dependency tree for the module!
I bet @adunsulag might have

[2020-02-02 01:44] adunsulag commented on #2907
I feel like I'm missing a lot of context.  I don't understand the problem you are trying to solve or I'd offer some insight.

Doesn't the composer package already have version control management in it?  Is it a problem with the composer.lock file? Not sure I'm following the problem.

[2020-02-02 02:33] sjpadgett commented on #2907
Context: A production install with composer install of a module. All is fine even for an OpenEMR upgrade however, if user ever runs a composer upgrade/install, module will uninstall due to overwrite of locks by upgrade or even power users that don't use standard upgrade practices.
Now we can say, don't do that user but, hard experience tells me otherwise.
Currently a reinstall after such action br

[2020-02-02 05:32] tywrenn opened #2908 "Custom report fails if PDF version > 1.4 documents included in report."
The` custom_report.php` script needs some fixes in rel-502. When it generates a large pdf, it ends up failing and spitting out this message:
`Fatal error: Uncaught setasign\Fpdi\PdfParser\CrossReference\CrossReferenceException: This PDF document probably uses a compression technique which is not supported by the free parser shipped with FPDI. (See https://www.setasign.com/fpdi-pdf-parser for more

[2020-02-02 05:39] tywrenn commented on #2907
Why don't we just build a zend upgrade button that grabs the latest update from a server, extracts it, and puts it in place? No need for composer and it makes things much easier.

[2020-02-02 08:08] #2904 closed

[2020-02-02 17:40] tywrenn commented on #2907
@sjpadgett @zerai I refuse to believe that we can't solve this problem in a way that benefits the consumer. We can simply require people to have composer installed if they want to keep their zend modules on upgrade. I did a quick search on Google and there's even methods in PHP that allow you to run composer via PHP: [link here](https://stackoverflow.com/questions/17219436/run-composer-with-a-php-

[2020-02-03 12:55] zerai commented on #2907
@teryhill my above comment is about this @sjpadgett statement/question:

I'm not good at English I hope to explain my point of view as best I can.
we have 2 separate problems with different characteristics:

The first, Installing/upgrading modules:
This is a runtime problem and involves developers and end-users,
and this problem can change evolving over time

The second dependency management betwe

[2020-02-03 14:18] sjpadgett commented on #2907
Then why bother with composer install of modules or simply just placing module into OpenEMR core (makes things similar for sure)?

Sorry but feel I need to provide some background.
The point of @adunsulag and my work with making the fax/sms modular was to provide at least one example of the process and capability; by no means was this the end all to our module support development. It was of import

[2020-02-03 15:15] adunsulag commented on #2907
My long term desire would be to have something like what @tywrenn is suggesting (though I haven't dug into the exact mechanism he is proposing) where modules can be installed and upgraded via a button on the interface.  Each module would need to define its acceptable dependencies it works with and specify the versions of OpenEMR that it is compatible with and which versions generate conflicts.

Th

[2020-02-03 20:44] mdsupport opened #2909 "form_bronchitis"
[form_bronchitis](https://github.com/openemr/openemr/tree/master/interface/forms/bronchitis) which is currently included as a standard form (activated as needed) seems to be an orphan in need of some redesign.  Current issues are :

1. [Table definition](https://github.com/openemr/openemr/blob/master/interface/forms/bronchitis/table.sql) uses varchar(255) to store 10s of checkboxes making the reco

[2020-02-03 20:48] mdsupport commented on #2909
On a related note, noticed that ICD9 is still present in setup script.  It would be nice to update that part to kick off automatic load for ICD10 files if they are included in standard install package.

[2020-02-03 21:22] sjpadgett commented on #2909
Thanks @mdsupport , Attention of recent has been paid to our standard forms for BS4 but not sure if this one was included.  However, i'm sure it will be attended to regarding BS4.
Regarding recm to move to contrib forms. I feel there's a reason it was placed where it is and would hate to break any legacy involved. Anyway you could contrib a fix for sql and we'll take care of BS4?
Please don't feel

[2020-02-03 22:32] mdsupport commented on #2909
Thanks @sjpadgett - have gotten used to being put on spot.

This was just to put a marker since anyone trying to activate the form would encounter the error and raise the issue and/or fix the code.

Submitting a database patch without going thru and researching the ICD9 to ICD10 mappings and fixing the code would just lay a trap for some unsuspecting MD to start using the form and later have to cl

[2020-02-03 22:32] #2909 closed

[2020-02-03 23:14] sjpadgett commented on #2909
Okay. Bronchitis  is pretty common. Whether the form is useful, i'll need to take a look.

[2020-02-03 23:59] sjpadgett commented on #2907
Granted and sounds easy but in reality. off the top of my head, are we going to require module developer to create an install/upgrade for the module? Even then, I suppose they could use event dispatcher to create notification hook or we'd have to provide that mechanism as part of modules management. An interesting project for sure if we were to go that route. Then, why not take it all the way and

[2020-02-04 01:50] adunsulag commented on #2907
@sjpadgett Do you think you can convince @bradymiller to drop the versioning issue?  I've been wondering why we can't just have a public release version and an internal release version.  Microsoft does it and I would think that Cerner and Epoch probably follow similar patterns.

I don't think we have to solve the one click button installer right now.  It seems like a great idea but it does open a

[2020-02-04 02:24] sjpadgett commented on #2907
@adunsulag I'm sure Brady is following this but I kind of left him holding down the fort with BS4 while in hospital so i'll research the versioning and catch up with Brady offline. I think you're onto something though.
I also get back to you with more thoughts on composer.

[2020-02-04 06:44] mdsupport commented on #2907
Here is a [commit](https://github.com/openemr/openemr/pull/1766/commits) based on ahsankhatri/webComposer.php gist that was closed some time ago.

[2020-02-04 13:12] pMononoke commented on #2907
Hi @adunsulag, I know is a stupid question,  can I use the "require-dev:" section in my module/composer.json file?
By convention / rule openemr openEmr doesn't use "require-dev" section of composer.json , it can be a problem if I have all dev tools (phpunit, phpstan, code_sniffer) in my composer?

[2020-02-04 14:19] adunsulag commented on #2907
I'm not sure why openemr leaves out the require-dev section, I imagine as we write more automated tests for Travis that will change.

However, You should be able to include a require-dev in your own OpenEMR module.  I can't think of any reason why you can't, though maybe someone else can chime in on that.

[2020-02-04 14:32] sjpadgett commented on #2907
@pMononoke

There are no stupid questions. Many could learn from this!

Curious, how are you now installing modules? i.e are installing outside OpenEMR source tree or integrating via install?  Are you maintaining custom core code to provide any necessary hooks? Does your module stand on its own by maybe only requiring database integration.

Forgive me. As an Administration I need to ask: Do ya hav

[2020-02-04 15:20] zerai commented on #2907
@sjpadgett sorry about confusion, above sometimes I forgot to switch account, "pMononoke" is my wife's account, she is a doctor (EU).  :-)
I don't have any modules yet. After this discussion, I want to test the effectiveness of the modules.
My goal is to keep my custom changes separate
especially at the domain level, I would like junction points only in the UI.

After this discussion, I want to te

[2020-02-04 16:17] sjpadgett commented on #2907
@zerai
For OpenEMR, this is great news and so glad you shared with us your efforts. You'd already know that one our main goals is international support. Too be honest, I completely forgot about module support for our international partners. One suggestion is to stick with our translation mechanism and core coding standards. Especially for database access by using our sql API which has security as

[2020-02-04 18:00] bradymiller opened #2910 "Change 'composer install' to 'composer install --no-dev' at places in infrastructure where production use happens"
Reminder for me to do this at some point, so can then use the require-dev section in OpenEMR's composer.json.
Places (work in progress):
build script
dockers
demo farm (both build there and where it builds packages)

[2020-02-04 18:21] bradymiller commented on #2907
hi all,

What are the current steps for the user to install this package via compose?
(so we can play around with this and see how things work)

If we increment the minor version, it will no longer be ONC Certified (certification takes the community about 4-5 years and about 150K of contributions/effort). More discussion on this specific issue should probably be offline.

I just placed an issue so

[2020-02-04 19:10] sjpadgett commented on #2907
I believe it was Stephen N. this is attributed. Still Tyler's approach should/is be a serious consideration.

I guess meaning module.
`composer require openemr/oe-module-faxsms`
Setup of OpenEMR integration in Modules menu.

This thread can help explain difficulties for maintaining module after install.

[2020-02-04 20:28] mdsupport commented on #2907
I am unclear as to why prior version of a script needs to be supported in production.  If developers require new or latest versions of components and still pull in other branches, taking control over local composer.json in a branch should suffice.  We do this all the time.  Only challenge is giving developers control over composer functions without forcing them to go to console.  This [commit](htt

[2020-02-06 00:34] sjpadgett commented on #2907
Thus why I started this issue. Glad I did because, it has reinforced what I already mostly knew.
- We need to make a decision if we want to use composer projects to handle modules.
- Do we want to continue to install OpenEMR composer build project to production. We've established this has issue for dev's that are maintaining their own composer depends in dir tree. i.e we overwrite composer project

[2020-02-06 02:42] sjpadgett commented on #2908
Can you try same report settings without including documents in report?

[2020-02-06 06:45] mdsupport commented on #2907
Refactoring legacy code, specially in absence of core framework, is hard.  IF ZF was brought in as main/core, transition would have been bit easier. But I do see great benefit for new installations.  Since there is no framework to manage modules, composer would be a logical choice.

I also hope you are thinking along functional and technical modules.  Technical could be core(patient demographics a

[2020-02-06 11:09] zerai commented on #2907
True, but from my POV is partially true,

Refactoring legacy code, especially in the absence of **tests in place** is hard.

My [first](https://github.com/openemr/openemr/issues/2724#issuecomment-564666622) post/comment in this repository is about framework

Developers are humans, error mistakes can happen, sometimes naive stupid mistakes, caused by fatigue or distraction, sometimes caused by inex

[2020-02-06 11:14] zerai commented on #2907
I have my experimental module [repository](https://github.com/zerai/oe-module-telegram), next step reading the official guide written by @adunsulag
for mandatory steps for configuration
I keep you updated ...

[2020-02-06 14:58] sjpadgett commented on #2901
My issue and will bring appropriate portal features up to coding standards and implement for BS4. Angular to my knowledge was only used by me in portal chat and message/mail.
Closing as bookmark no longer needed but thanks for participating :)

[2020-02-06 14:58] #2901 closed

[2020-02-06 15:10] sjpadgett commented on #2888
I so want to do this.. time, time, time not my friend. I love doing feature enhancements because many times they can make old look new or mean the difference if feature is used..
Recent work on calendar has improved it 100% and we may start having to stop talk of replacing.

Doesn't mean a vendor couldn't pick this up.

[2020-02-06 15:19] sjpadgett commented on #2773
this is not really an OpenEMR issue or even designated for feature enhancement(dev custom code) so really should be on developer forum.
Closing.

[2020-02-06 15:19] #2773 closed

[2020-02-06 17:37] sjpadgett commented on #2807
Fixed Secure Chat. Header include was out of scope(did someone move the use?) Anyway, after going through portal for BS4, i'm excited about portal again. It is crying out for Telemedicine!!!

I know there are vendors that have added and maintain some form of telemedicine to portal. Be a great  time to maybe offer to OpenEMR. Or pick up this mission and if so, i'd help get it started.

I think Secu

[2020-02-06 18:21] mdsupport commented on #2907
@zerai, @sjpadgett, @adunsulag
Only reason for promoting adoption of a framework (_any framework really_) is it eliminates developers to build plumbing - that's when they get creative and build something that works for limited set of scenarios.  That kind of code also creates need for technical testing in addition to functional.  Challenge for casual contributors like us is we have no desire to le

[2020-02-06 19:59] sjpadgett commented on #2907
Not sure why frameworks have anything to do here except that modules allow dev's to adopt any frameworks they like for their module. I mentioned core framework support as history lesson. Anyone who has spent anytime in openemr core can attest just how difficult a migration here is and next to impossible w/o rewrite. again IMO...

Already have as fax/sms is integrated as module from this.
Packagist

[2020-02-06 20:14] stephenwaite commented on #2807
thanks @sjpadgett , been enjoying the diatribe, err dialog :)

plan to test out the bootstrap-updates branch to check on the portal

[2020-02-06 21:16] tywrenn commented on #2807
@sjpadgett dangit you beat me to the exact same conclusion 😂

[2020-02-06 21:45] sjpadgett commented on #2807
Prefer to think of it as gentle nudgings while circling and finally making the main point. Not really meant to be a discourse. :)
@tywrenn

like what? i'm fixing rid inline classes and doing restructure of some directives so i'm on this and don't want dup of effort. If you're doing, I have plenty else to do.....

[2020-02-06 21:53] tywrenn commented on #2807
@sjpadgett When I did this I also got rid of the summernote toolbar that kept popping up and fixed the container so it doesn't look terrible. Also had to replace `label label-default` with the new badge class. I'm currently working on patient list view at the moment since it looks like garbage.

[2020-02-06 22:01] sjpadgett commented on #2807
@tywrenn Okay. go ahead and i'll fix the coding standards issues if you haven't already. I had this thing about keeping to one script thus multi classes and namespaces.

[2020-02-07 01:51] mdsupport opened #2912 "Patient Validation module"
If patient validation module is turned on, you are presented with list of likely matches during save.  The popup issues are
1. It does not show any options to continue
2. The Cancel button clicks are ignored
3. Lookup results include the patient record being changed

Is there any documentation link for this module?

[2020-02-07 02:54] stephenwaite commented on #2912
hi @mdsupport since the readme only has a couple of lines regarding how to turn on for new and modify guess the only instructions are the [code](https://github.com/openemr/openemr/blob/master/interface/patient_file/summary/demographics_full.php#L849-L938)

[2020-02-07 03:08] sjpadgett commented on #2807
um patient documents is weird. Adding patientportal-style to Header will lock up and crash  on new document click. Haven't looked but don't think these styles are compiled. Anyway @tywrenn Patient documents styling wasn't your fault....sorry.

[2020-02-07 03:23] mdsupport commented on #2912
That's what I did to find the settings in Globals.  But the buttons are not working because of parent document object is not valid for popup.  So I was wondering if anyone had a fix or this thing is specific to Matrix.

[2020-02-07 03:30] sjpadgett commented on #2912
I believe validate params are controlled in Lists->Page Validation. They use json. I've always have said this should reside with the appropriate code to be validated but was dismissed. There was and probably still an issue here. May not be your issue but one never knows.
That module was a contrib to openemr and there are folks that use and love it.
Also we moved Zend to it's replacement laminas. M

[2020-02-07 14:23] zerai opened #2913 "Problem with "add user" capability"
**Goal**:
Try to add a new administrator or physician

**Data for the new account**
username|firstname|lastname:   johndoe
password:   johndoejohndoeA23!
(note: this should be a valid strong password)

**result**: in all case...
![Schermata del 2020-02-07 14-47-07](https://user-images.githubusercontent.com/2405279/74035642-ec92a680-49ba-11ea-8147-53128e139823.png)

In my local envionment after a f

[2020-02-07 14:48] sjpadgett commented on #2913
If using the default Your password,: ie ******** retype

[2020-02-07 15:11] sjpadgett commented on #2807
@tywrenn Working on gulp to include compiling patientportal-style. Trying to import from css creates pathing issues. You're not working this are you?

[2020-02-07 16:38] zerai commented on #2913
Same result

Login in https://six.openemr.io/b/openemr/interface/login/login.php?site=default
actual configuration
![Schermata del 2020-02-07 17-29-23](https://user-images.githubusercontent.com/2405279/74047221-48b3f580-49d0-11ea-9a5a-d8dbc10483e0.png)

string "Clinton" for all fields

![Schermata del 2020-02-07 17-31-29](https://user-images.githubusercontent.com/2405279/74047436-9e889d80-49d0-11e

[2020-02-07 16:46] stephenwaite opened #2914 "list editor title textbox not large enough for mime types"
error:
[code]
so with whitelist enabled can't add long mime types to files type white list

looks like text size needs to be enlarged for the interface/super/edit_list.php gui

[2020-02-07 17:23] sjpadgett commented on #2913
umm, this all works the way intended on demo. Make sure if changing another user's password to use the password of the logged in user for Your Password: *********. Otherwise if changing logged in user then of course use current password for Your Password.

[2020-02-07 18:54] zerai commented on #2913
oohhh god!!!
Solved..... GDPR habit

[2020-02-07 18:54] #2913 closed

[2020-02-07 19:04] sjpadgett commented on #2913
acknowledging the habit is the first step to recovery.:)

[2020-02-07 19:13] #2902 closed

[2020-02-07 19:25] tywrenn commented on #2807
@sjpadgett As far as I'm aware the patient portal style was working correctly from the start...dunno what happened

[2020-02-07 20:30] sjpadgett commented on #2807
was okay unlit assets/styles was removed to patientportal-style. The oe-sidebar.scss import no longer had a valid path and more, just hurting now and am tired of typing but you'll see on PR.
Fixed up needed mixin's and set the style up to closer theme pattern. Please move file and/or fixup if i'm off track from your design.
Will submit document and a couple other minor changes from patientportal-s

[2020-02-07 21:25] stephenwaite opened #2915 "zend rx print not working"
from the forum
https://community.open-emr.org/t/prescription-zend-module-unable-to-construct-container-for-html-and-pdf/13555?u=stephenwaite

[2020-02-08 18:45] mdsupport commented on #2907
@sjpadgett In the composer based approach how do you envision a new installation would discover faxsms module?  Increasingly the bulk of users of this project who happen to be adventurous MD owners / part-time admins for small practices are less inclined to read wiki pages.  They might have a cursory look at the link from left button.  Currently Forms or Modules admin menu shows stuff already copi

[2020-02-08 18:50] adunsulag commented on #2907
@mdsupport If module creators follow the same naming convention composer can quickly list the available packages:

`composer search oe-module`
It wouldn't be complicated to write a piece in the modules installer to display a list of packages that met this criteria.  The only concern would be to avoid anything where it appears that OpenEMR is endorsing those packages.

[2020-02-08 19:07] zerai commented on #2907
@mdsupport  [https://packagist.org/search.json?q=&type=openemr-module](https://packagist.org/search.json?q=&type=openemr-module)

[2020-02-08 19:18] zerai commented on #2907
**- OT**
Is there any notification mechanism for administrators in the codebase? Example, send notification (email) to all administrators on errors in payment page only for 5.xx error ignore 404
Can you show me the files to watch?

[2020-02-08 19:34] mdsupport commented on #2907
@adunsulag May be split the list into two sections -

1. Official packages (openemr/oe-module-*)
2. Community packages (*openemr* in name or description) with bold disclaimer that clarifies your concerns.  Also provide link to forum for them to search relevant feedback from community.

@zerai You and I may know about packagist and underlying mechanisms.  But sizable nbr of installations, specially

[2020-02-08 19:49] sjpadgett commented on #2907
@zerai

Would not be too difficult to add an email notification hook to my Globals->Logging User Debug options.
This feature reports PHP errors(only) and/or browser console errors to display when turned on.

`utility:
        basePath: '%webroot%/library/js/'
        script: utility.js
        autoload: true
        allowNoLoad: true`

[2020-02-08 20:25] zerai commented on #2907
thanks .. I meant server-side, maybe I expressed myself wrong.
I don't think it's a good idea to delegate the responsibility to report system exceptions to the browser or user.

[2020-02-08 20:35] sjpadgett commented on #2807
Working next on:
- integrating recurring appts @epsdky kindly fixed for us. Will touch portal home.php and find_appt_popup_user.php. Mostly for displaying to patient.
- Portal labs reporting. Difference where lab manual entry and electronic reporting different.
- Portal download CCDA(currently view only). Will leave to patient how forwarded ie no plans to use secure direct mail. Also auto disable

[2020-02-08 20:50] sjpadgett commented on #2907
One, sure it is. Are we to just keep user ignorant of errors and exceptions at the detriment of degrading apps mission. Easier for user to report, I got this error displayed instead of, it doesn't work!
And two, feature is meant mostly to turn on for troubleshooting where user may not know how/where to find error reporting logs and during development.

[2020-02-08 21:16] #2915 closed

[2020-02-08 21:24] stephenwaite opened #2917 "poor support of medications in OpenEMR"
after entering a prescription when you click add to medications would like all of the medication specific data to be carried over (from sql table prescriptions to table lists)

this could also address the missing fields when using add/edit issue to add a medication

maybe this snippet from the `prescription` table needs to be added to `lists`
[code]

[2020-02-08 21:30] tywrenn commented on #2908
@sjpadgett It does work when removing documents from the report -- we might have to remove that functionality since it causes it to flat out not work when generating.

[2020-02-08 21:41] zerai commented on #2907
I understand your explanation, we are talking about two different things.

[2020-02-08 21:41] sjpadgett commented on #2908
lol my friend. maybe let's take a shot at fixing first. kind of important to doctors and patients.

Maybe try to narrow to what documents fail. Then take a look at it. Could be trying to convert to image where imagemagick(I forget, I think that's the php module) is not installed, config'ed etc.

[2020-02-08 21:44] sjpadgett commented on #2907
Nope, I just needed a reason to hawk the feature.:) I will pt some thought into your point though.

[2020-02-08 22:51] sjpadgett commented on #2908
@tywrenn Okay, found issue not parsing out pdf's. don't remember if this worked before mPdf. Might need to zip up the download and include documents as separate files.

[2020-02-09 01:26] sjpadgett commented on #2908
@tywrenn @bradymiller
So looks like we have an achilles heel concerning mPDF or FPDI specifically. Beginning with PDF version 1.5 there were new compression features introduced which may involve, depending on pdf creation compression technique, the free mPDF vendor FPDI PDF-Parser not working.
Going to need to write/add to our pdf classes(do we even have?) a validation to test for compression and

[2020-02-09 03:13] sjpadgett commented on #2908
@tywrenn
Here's a fix that will need a better resolve for broken pdf parse but test anyway.
from BS4 project source but meat is at L-623 through L-659 if want to paste in 5.0.2.

[custom_report.zip](https://github.com/openemr/openemr/files/4176437/custom_report.zip)

[2020-02-09 14:06] PRINCE-MOSE opened #2918 "problems starting up open emr"
gives me this error
localhost is currently unable to handle this request.
HTTP ERROR 500

[2020-02-09 14:19] PRINCE-MOSE commented on #2918
mosejnr.biz@gmail.com is my contact

[2020-02-09 15:05] stephenwaite commented on #2908
hi @sjpadgett , we have 2 PDF classes
https://github.com/rospdf/pdf-php
and
https://github.com/dompdf/dompdf
right?

[2020-02-09 15:31] sjpadgett commented on #2908
@stephenwaite
Nope those are libraries that best not modify because then we have to maintain. I have a basic class I use for CCDA.service I could add to but I can get by with an exception.

Problem now is how to handle failed PDF parse/include so somehow they are included in report.
PDF v1.5 has been out for awhile now with depending on who generates PDF whether or not strict compression is used.

[2020-02-09 15:44] stephenwaite commented on #2908
hi @sjpadgett , that sounds fine

[2020-02-09 15:54] sjpadgett opened #2919 "Error Email or SMS Notifications for User Debug."
One could use our User Debug turned on via Globals Logging that reports just PHP errors and/or console errors to the display by adding an option like Notify Administrators Only and then intercept errors in utility.js, qualify error for where to report then do an ajax to send email/sms (using our email facilities) to a list from users or created lists(notify on errors email/sms etc) in Lists.

Coul

[2020-02-09 23:24] mdsupport commented on #2917
That will be a maintenance nightmare.  As it stands, over time lists has become a dumping ground for things that come up with start and end dates.  `lists` cannot generate a tight history of changes when you have multiple start and stop dates as prescriptions have, Instead of complicating it more, `lists` should equivalent of `forms` table for patient where data is relevant across multiple (includ

[2020-02-10 02:25] stephenwaite commented on #2875
was added to bootstrap-updates PR

[2020-02-10 02:25] #2875 closed

[2020-02-10 03:59] bradymiller commented on #2917
A lists history mechanism would not be too difficulty to implement (this has been discussed several times in the past, but nobody has taken this on). The issues mechanism while seemingly not a good idea on the surface actually works really nicely since it inherently supports reporting/rules/cqm/amc reporting (and users can add their own issue categories easily) for anything stored there. It is als

[2020-02-10 12:49] sjpadgett commented on #2807
@bradymiller
How worried are we about merging soon? Do you know of many whom are running production from master?
I'm thinking we are close enough to bring in soon because i'd bet many are holding back contrib to master because they don't want to push to a development branch.
We also need to give our vendors time to start catching up with their custom integrations.
Also I would like to get back to

[2020-02-11 07:30] bradymiller commented on #2807
@sjpadgett and @tywrenn ,
I agree that we are closely nearing time to bring the PR into the main codebase. The only thing that seems "broken" at this time is the eye form (the menu at top isn't working). I am planning to look into that. After that is fixed, I think we are good to go (unless @tywrenn knows of other places where things are broken).

[2020-02-11 13:11] zerai commented on #2907
Another stupid question ...
Isn't there an "unregister" function for modules?
Currently, if I install my module via composer and then remove it, it remains installed on the system. I can disable it but there is no way to remove it.
will it be normal behavior for all modules?

[2020-02-11 13:29] sjpadgett commented on #2907
All questions are good ones because others may need the answer also.
How modules are installed/upgraded and uninstalled is why I started this issue.
Currently one may uninstall module from directory tree with composer however we still need to do database cleanup from Module setup disable etc

[2020-02-11 13:43] zerai commented on #2907
@sjpadgett I'm developing a second module, the reason is that custom modules don't have documentation, or a single way to do things like zend modules.
We should try to define a common way or best practices I think.
I have some questions, and the module should be the battlefield for testing the solutions.
This module is registered on packagist [zerai/oe-module-demo-farm-add-ons](https://packagist.o

[2020-02-11 14:26] sjpadgett commented on #2907
This is why we did fax/sms as module instead of in core. To sort these issues out.
Currently we are using the Zend module manager which has several tables for persistence.
- modules table and others
- you should use openemr sql api
- we prob should have a modules setup ini written to database
- manage module maintenance from Zend module manager. Needs some development.
- check out openemr/src clas

[2020-02-11 15:53] zerai commented on #2907
I' missing the crucial point here What is the difference from zend and custom modules?

OpenEMR contains libraries to deal with connecton(mysqli, doctrine/dbal, doctrine/orm, adodb ) why custom modules should rely on Zend component?

maybe I was wrong from the beginning,  the "custom" modules don't need a "common way",  developers can follow the own way. It's correct?

[2020-02-11 15:58] sjpadgett commented on #2807
@tywrenn Perfect! Finally, Portal Patient Documents has gotten to where I envisioned. Now I can concentrate on adding some new template tags and templates. First up should be a generic intake form that includes history etc. where practice can expand for specialties.
Anyone out there who'd be willing to donate a simple text/html flat file? I'll take from there.

Anyway, I know how much effort you p

[2020-02-11 16:12] sjpadgett commented on #2907
It doesn't. We are only using the module manager that just so happens to be written using Zend.

Exactly. The best OpenEMR can do is provide as much infrasture as possible to support the various development patterns out there. This way modules aren't tied to any given framework or libraries. We have Zend, Symfony, Smarty, Twig and other available.

This was my hope from start that we would be open

[2020-02-11 16:44] zerai commented on #2907
yes it is clear

... mmm all this freedom could become a far west ...

but I like the idea ...

now this statement is irrelevant for custom modules

all this function are untestable for me...
and this direct access to openEMR files broke my CI

![Schermata del 2020-02-11 17-42-47](https://user-images.githubusercontent.com/2405279/74258082-0a7f4480-4cf6-11ea-9f61-1c50b0a5cfac.png)

[2020-02-11 16:57] sjpadgett commented on #2907
If installing to custom_modules directory or in openemr tree then okay you'd be better off using our time tested api's.. Otherwise if running module outside of core then yep, issues will ensue.

[2020-02-11 17:28] mdsupport commented on #2907
At this point how about :

1. Create a submenu 'Extra' or 'More Options' or something similar under Admin menu
2. Move `Modules` menu entry to the submenu created in 1
3. Leave it to custom modules to provide  appropriate entry points (if needed) .. e.g. `Care Coordination` functionality should be available under `Patient ` menu rather than 'Modules'.

We should also think about guidelines for iso

[2020-02-11 21:08] #2912 closed

[2020-02-11 22:40] sjpadgett commented on #2908
Okay this is what i've come up with:
in custom report
![image](https://user-images.githubusercontent.com/1859985/74285586-300b4e80-4cf4-11ea-9348-53ba4260f255.png)
Zip:
![image](https://user-images.githubusercontent.com/1859985/74285813-8e383180-4cf4-11ea-9312-449d297972b2.png)

Not sure what i'd take to bring back to v5.0.2 but here is source for those interested:
[custom_report.zip](https://gith

[2020-02-11 23:35] sjpadgett commented on #2908
close fixed in portal and BS4

[2020-02-11 23:35] #2908 closed

[2020-02-12 07:33] nasirtechnelligence opened #2921 "Modifying/customizing existing forms"
Hello,
I am new to openemr and I need help regarding customizing existing forms.
I tried and was successfully able to customize the "Vitals" form by add new data fields.
Now, I want to customize the SOAP form by adding some options within the form like new/clear/reset fields, load previous recorded data etc. But when i tried to customize the form, multiple problems started to occur like the form g

[2020-02-12 08:27] zerai commented on #2907
An isolation/abstraction level is a good point to explore investigate, even without ready modules, the quality of the system can benefit from it.

[2020-02-12 22:06] tywrenn commented on #2807
Merged with master - closed

[2020-02-12 22:06] #2807 closed

[2020-02-12 22:12] tywrenn opened #2923 "Contrib Forms Need A Serious Makeover"
This is my next issue that I plan to tackle after dealing with the huge BS4 pull - fixing a ton of the contributed forms as some are using outdated code standards and aren't responsive at all. This will take awhile to redo all of them but it will be worth it in the end.

[2020-02-12 23:56] mdsupport commented on #2923
A small percent of installations productively use contrib forms since they deal with specialties.  On the other hand most frequently used features are begging for complete makeover.

One area that could effectively use your expertise is eliminating use of jquery-ui which makes it difficult to make content responsive.  A quick check finds 68 hits for `jquery-ui` in master.

Another area would be re

[2020-02-13 00:11] tywrenn commented on #2923
Hmm...good point. Might come back to this later.

[2020-02-13 00:11] #2923 closed

[2020-02-13 00:21] tywrenn opened #2924 "Remove jQuery UI"
After some careful thought of what to do next, it's about time to remove jQuery UI. This has been a dead project for awhile now and hasn't received any updates. This change should allow us to keep theming consistent and improve responsiveness.

Here is the unofficial to-do list:
- [ ] Remove jQuery UI
- [ ] Replace old jQuery UI theming structure
- [ ] Adapt to current theming system

[2020-02-13 00:22] tywrenn commented on #2919
Seems like a straight-forward enhancement that I could take up.

[2020-02-13 00:27] sjpadgett commented on #2919
Let me know if I can be of assistance. This could be very useful for folks that do remote admin.

[2020-02-13 00:33] sjpadgett commented on #2924
umm, I removed all dependencies for resize and drag. We just went through core and removed BS3 popovers for jquery-ui but should be simple refactor.
Brady and I removed all jquery-ui modals awhile back so I don't think there are anymore but if so, let me know as I have an easy trick to replace.

[2020-02-13 00:39] sjpadgett commented on #2923
Knockout is very handy. Is it a dead project? I won't oppose but it is tied closely to several areas that could get dicey...

[2020-02-13 02:10] tywrenn commented on #2924
@sjpadgett @mdsupport recommended me to tackle this issue. Apparently there is more to the story here.

[2020-02-13 02:33] sjpadgett commented on #2924
lol, yep could be.

[2020-02-13 06:22] mdsupport commented on #2924
@sjpadgett  Tabs in several areas - encounters, proc orders, billing, documents etc use jq-ui.

Encounter summary uses tabs through [TabsWrapper](https://github.com/openemr/openemr/blob/master/src/Tabs/TabsWrapper.php).  At one point we internally spent serious time to convert that to BS nav but it has links in various forms.  Hopefully we can use events in new structure.

I think main layout also

[2020-02-13 06:43] bradymiller commented on #2924
This is a mandatory item as jq-ui is a dead project and only a matter of time before it starts breaking with other assets (such as jquery and bootstrap). So, I say, go for it :)

[2020-02-13 06:45] bradymiller commented on #2924
Couple places it's used includes:
1. registration modal in login screen and about screen
2. the EDI history modal
3. Encounter tabs
4. And some other random places

[2020-02-13 07:17] mdsupport commented on #2921
SOAP uses template as pure html with insertion of code generated from the php class scripts.  So you should make html changes in html file and php changes in appropriate php files.

Blank php form would suggest some syntax error introduced by your code that will be seen in error log.

[2020-02-13 15:27] litemikx opened #2926 "Unable to Run Using Docker: Getting "Could not reliably determine the server's fully qualified domain name""
Hi,

Unable to run openemr using docker, I'm getting:

Any tips on how to resolve this? Tried to edit the actual httpd.conf file and uncomment the "ServerName", I then set it to localhost and/or 127.0.0.1. I presume this doesn't work since the container ID changes whenever I do the "docker-compose up"?

Thanks!

[2020-02-13 16:59] stephenwaite commented on #2926
hi @litemikx think that's just an apache warning and the trouble lies elsewhere

what steps are you taking to spin up docker?

[2020-02-13 17:02] litemikx commented on #2926
There seems to be a changed in the docker-compose.yml since I don't see the additional setting that was previously there. I just run it by using "docker-compose up". Can't run the application when I visit 127.0.0.1:8300 or localhost:8300. I can open phpmyadmin and mysql.

[2020-02-13 18:31] stephenwaite commented on #2926
yep, trying a new way thanks to @bradymiller 's [commit](https://github.com/openemr/openemr-devops/commit/ac9d91c76eeb1346bb41b1f280f040ce2efde6c6)

did you pull down the new docker?

[2020-02-13 19:03] mdsupport commented on #2924
@sjpadgett's comment in other issue caused a bit of soul searching on knockout.js.  [First google hit](https://stackoverflow.blog/2018/01/11/brutal-lifecycle-javascript-frameworks/) has [this chart](https://149351115.v2.pressablecdn.com/wp-content/uploads/2018/01/trends-minor.png) that illustrates where it is in its life cycle.  It is a challenge for openemr as well as other opensource projects to

[2020-02-14 13:10] sjpadgett commented on #2924
@mdsupport Thanks for the research. I'm trying to be better at having an open mind to modernization  so some of this takes me a minute to get use to.
I do like knockout and off top of my head don't see an easy path there. An example would be helpful.

[2020-02-14 14:27] litemikx commented on #2926
So far local repo is updated, I see the changes made by @bradymiller in the docker-compose.yml. I'll try to troubleshoot, been this for a few weeks now for me. I guess I'll just work on running it locally without the docker containers.

[2020-02-14 18:52] stephenwaite commented on #2926
hi @litemikx , meant `docker pull openemr/openemr:flex`
https://community.open-emr.org/t/openemr-flex-docker-updated/12051/12

[2020-02-14 20:14] growlingflea opened #2929 "X12_5010_837P prints both the billing and service facility even if they are the same"
The x12 5010 837P file will print both the service and billing facility even if they are the same.  Clearing houses may accept this but BCBS and other insurance companies will throw an error.

I have the fix for this.  So I will make a pull request for it.

[2020-02-14 22:00] stephenwaite commented on #2929
thanks for #2930

[2020-02-15 15:08] fringefilmsoz commented on #1653
Hi team, Looking for an update on this issue. The duration doesn't seem to modify behaviour, all act as an 'all day' event.

[2020-02-15 16:50] litemikx commented on #2926
Great! It works now, didn't now that I needed to update docker for that.

[2020-02-15 16:50] #2926 closed

[2020-02-16 20:25] stephenwaite commented on #2929
brought in fix so closing

[2020-02-16 20:25] #2929 closed

[2020-02-16 20:35] stephenwaite opened #2933 "Report AMC 2014 stage 2 bugs"
hi @bradymiller , will email @jit to direct him here

starting to look at numerator not populating for

it looks like there is a :bug: [here](https://github.com/openemr/openemr/blob/master/library/classes/rulesets/Amc/reports/AMC_314g_1_2_19/Numerator.php#L34-L35)

think the sql query should be `pid` not `user` even though that might not meet the intent of the measure since won't check for the EP

[2020-02-16 23:21] mdsupport opened #2934 "Updates to note templates"
Recently a scan of customlists table revealed several _orphan_ records.  Quick check leads to the following section where an update request seems to be a copy of add request code few lines above.

https://github.com/openemr/openemr/blob/06d4370b573e118ab3352b75e3c8fa4525e87190/library/custom_template/ajax_code.php#L77

Is there any reason why original entry needs to be preserved without any furthe

[2020-02-17 03:05] mdsupport commented on #2924
@sjpadgett To be clear, wasn't trying to knock that package ;-)  But because of #2608 may be it is time to revisit interface/main/tabs. Since we use / could use navbars in 10s of other places as well, project needs a generic oe-ui-navbar class based on one of the php framework utility classes ([zend](https://docs.laminas.dev/laminas-navigation/helpers/menu/) / [symfony](https://symfony.com/doc/cur

[2020-02-17 07:54] bradymiller commented on #2933
The certification was done for the offsite portal which uses the pnotes for messages between providers/patients. So, this query is checking to see if any pnotes were sent by the patient (the user in this scenario).

[2020-02-17 15:53] stephenwaite commented on #2933
hi @jitchawla, was an offsite portal was used for secure messaging?

[2020-02-17 16:00] jitchawla commented on #2933
Yes believe it was offsite.

On Mon, Feb 17, 2020 at 10:53 AM stephen waite <notifications@github.com>
wrote:

[2020-02-17 16:03] stephenwaite commented on #2933
ok, please search your pnotes table looking for an entry for a patient that should have been picked up in the numerator

[2020-02-19 08:03] nasirtechnelligence commented on #2921
Can you please specify or mention the files that should be changed in order to customize front end with functionality.

[2020-02-19 21:54] mdsupport commented on #2921
If [this](https://github.com/openemr/openemr/blob/master/interface/forms/soap/templates/general_new.html) is the html file you are changing, as long as you follow [Smarty](https://www.smarty.net/) syntax, you should not have any problems.

[2020-02-20 13:47] zerai commented on #2907
Hi,
can we consider an empty composer metapackage a possible solution for versioning management between openEmr and modules?
From maintainers POV should be a minimal effort (basicaly maintainers should update the version of metapackage  with normal semantic versioning) next release openEMR rel-503 could contain in the composer dependecies openemr/some-name-for-metapackage:5.0.3.
It could be introd

[2020-02-20 19:53] adrijshikhar commented on #2914
@stephenwaite i would like to work on this issue, can you please assign it to me?
PS: i have already setup the repo.

[2020-02-20 22:22] stephenwaite commented on #2914
:sunglasses: thank you

[2020-02-21 01:08] tywrenn opened #2940 "Colreorder CSS 404 Not Found"
Fix pending

[2020-02-21 10:49] Devvyky commented on #2892
@sjpadgett how do I recreate this same issue?

[2020-02-21 11:14] tywrenn commented on #2940
Fixed. Closed.

[2020-02-21 11:14] #2940 closed

[2020-02-21 13:29] tywrenn opened #2942 "New Contributed Form: Handwritten Notes"
This contribution is sponsored by PEER Technologies PLLC

The doctor has explained to me he writes handwritten notes a lot. To make it easier for him, I have created a working way to add handwritten notes to encounters using literallycanvas and a JS framework calls jsPDF. This took me awhile to make and today I want to contribute this form that I made to the OpenEMR community. This should help a l

[2020-02-21 13:33] tywrenn commented on #2892
@Devvyky This can be recreated in a few ways:

1. If you are on a mobile device and a page gets cut off for no reason (e.g. calendar)
2. On certain pages if you are trying to resize them the scrollbar messes up

Also we should not have a scrollbar on certain modals that we are using (e.g. adding a new event to the calendar). I'm not sure how to fix modals though (they are really tough to fix).

[2020-02-21 21:07] stephenwaite opened #2943 "multi site install permissions checking"
instead of having to change permissions on already existing sites to proceed with multi-site setup tried to disable $checkpermissions in setup.php but it needs some :love_hotel:

[2020-02-22 07:55] bradymiller commented on #2889
hi @prondubuisi ,
For the easy docker dev environment, I am willing to bet that using the following setting in that docker-compose.yml file will prevent the auto install:
https://github.com/openemr/openemr/blob/master/contrib/util/docker/docker-compose.yml#L104

[2020-02-22 08:20] bradymiller opened #2946 "Step 3 in setup.php with non-green "OK""
Need to make all the "OK" labels green (note 3 in the middle are black)

![image](https://user-images.githubusercontent.com/278968/75088992-067ad000-5509-11ea-83e3-451c8be0d300.png)

[2020-02-22 08:24] bradymiller opened #2947 "Step 7 in setup.php need to add selections for the 2 new themes"
Need to add selections for two recently added themes:
Dark
Superhero

![image](https://user-images.githubusercontent.com/278968/75089047-a46e9a80-5509-11ea-9eb4-9d2f2d74b60c.png)

[2020-02-22 08:34] bradymiller opened #2948 "Fix search in the Globals settings screen"
This feature is no longer working well. OpenEMR->Administration->Globals is where there are literally hundreds of settings. And the search feature at top right is very helpful to find settings. Currently, if I search for something like 'Default' it only highlights the categories, but does not highlight the actual items (ie. it is half working).

Note below when search for 'Default' it highlights l

[2020-02-22 08:43] bradymiller opened #2949 "Create a Administration->System->Diagnostics gui"
Migrate the stuff from Administration->Clinic->Calendar->'Test System'
to a new nicer looking gui at:
Administration->System->Diagnostics

[2020-02-22 08:55] bradymiller opened #2950 "js error when creating new patient"
Nothing appears to be broken (ie. am able to create new patients), however am seeing a js error in the browser console:

![image](https://user-images.githubusercontent.com/278968/75089478-06c99a00-550e-11ea-8acf-72564c375879.png)

[2020-02-22 08:57] bradymiller opened #2951 "Patient history gui is broken"
Patient summary screen->History is broken (2 errors are displayed in the web console and nothing happens when click on the category tabs):

![image](https://user-images.githubusercontent.com/278968/75089516-73449900-550e-11ea-942f-6a55c2d87f56.png)

[2020-02-22 10:13] thesmallstar commented on #2946
Hello @bradymiller sir, Can I work on this?

[2020-02-22 10:56] aryaman-titan commented on #2949
@bradymiller i would like to take this issue, can you please assign it to me?

[2020-02-22 12:13] zerai commented on #2907
Example  from Magento2..
[https://devdocs.magento.com/guides/v2.3/extension-dev-guide/package/package_module.html#package-metapackage](https://devdocs.magento.com/guides/v2.3/extension-dev-guide/package/package_module.html#package-metapackage)

[2020-02-22 12:38] sjpadgett commented on #2907
I was looking at this yesterday so I haven't forgotten about this issue. It does look viable but, let me look into some further.
I'm currently working with Brady on getting our git versioning changed.(I have ambitions:)). I started a metapackage test yesterday along with developing on our modules installer for a standard setup parameters scheme.

I'll get back to ya's soon(maybe today) after I tes

[2020-02-22 13:00] stephenwaite commented on #2949
hi @aryaman-titan , here you go :)

[2020-02-22 14:43] sjpadgett commented on #2950
L-301 of interface/new/new_search_popup.php
 `f.create.value = <?php echo xlj('Confirm Create New Patient'); ?>;`
needs to be deleted.

This must go back several versions!

[2020-02-22 16:42] pradeepgangwar opened #2952 "permission"

[2020-02-22 16:43] #2952 closed

[2020-02-22 18:09] bradymiller commented on #2946
hi @thesmallstar ,
Go for it!
-brady

[2020-02-22 18:41] thesmallstar commented on #2951
Sir, can I work on this?

[2020-02-22 18:41] thesmallstar commented on #2948
Sir, I would like to work on this.

[2020-02-22 18:42] bradymiller commented on #2951
hi @thesmallstar , Sure thing. thanks! -brady

[2020-02-22 18:43] bradymiller commented on #2948
hi @thesmallstar , It's yours. Thanks! -brady

[2020-02-22 18:54] sjpadgett commented on #2951
Umm, @thesmallstar I already fixed this when I was fixing another issue. Sorry, i'm sure we'll find others for ya to work.

P.R #2954 if interested.
Closing as fixed.

[2020-02-22 18:57] thesmallstar commented on #2951
Glad this is already fixed!
I will find other issue.

[2020-02-22 18:57] #2946 closed

[2020-02-22 19:03] thesmallstar commented on #2950
@sjpadgett are you working on this?

[2020-02-22 19:04] sjpadgett commented on #2950
It's done in PR #2954 Was just going to close.

[2020-02-22 19:04] #2950 closed

[2020-02-22 19:08] thesmallstar commented on #2950
@sjpadgett Glad this is fixed :D

[2020-02-22 19:11] sjpadgett commented on #2950
I woke up in a problem solving sort of mood this a.m.:)

[2020-02-22 20:37] #2951 closed

[2020-02-22 21:22] stu01509 commented on #2947
@bradymiller Hi
I would like to try this work, Are Dark and Superhero theme have design guide?

[2020-02-22 21:41] stephenwaite commented on #2947
hi @stu01509 , yes, they are already loaded into the project thanks to some super, recent work by @tywrenn

https://github.com/openemr/openemr/tree/master/interface/themes/oe-styles

would you like to be assigned this issue?

[2020-02-22 21:46] stu01509 commented on #2947
@stephenwaite Yes, Please assign me, Thank you.

[2020-02-22 21:53] stu01509 opened #2955 "Improve README.md document link"
I would like to modify the content below list

1. Change http link to https.
2. Fix Chat link https://chat.open-emr.org/ to https://openemr.herokuapp.com/, It seems 502 bad gateway error.

![](https://i.imgur.com/Bw0Db6Q.png)

[2020-02-22 22:01] bradymiller commented on #2955
hi @stu01509 ,
Thanks for noting that. Please fix and rec changing the chat link to:
https://www.open-emr.org/chat/

[2020-02-22 22:03] stu01509 commented on #2955
@bradymiller  OK, Please assign me, I will create PR.

[2020-02-22 22:04] bradymiller commented on #2955
done and thanks!

[2020-02-23 00:00] tywrenn commented on #2947
The way selecting themes are displayed is pretty odd. Probably needs a redo.

[2020-02-23 00:32] tywrenn opened #2956 "Install from branch issue"
Recently I tried cloning the openemr repo, moving it to a folder in apache, and running the install script stated in README.md. Turns out, a lot of stuff is broken on this type of install. The most notable one is that the node_modules fail to move to /public/assets. It also failed at editing select2 for some reason. I'm running the latest Ubuntu and this happens every single time. After I fixed bo

[2020-02-23 00:59] bradymiller commented on #2956
hi @tywrenn ,
I haven't experienced this issue. What ubuntu version are you using? And what nodejs version are you using?
-brady

[2020-02-23 01:00] bradymiller commented on #2956
btw, pretty typical that the standard nodejs version for ubuntu is outdated. Ensure you are using either 10.* or 12.* .

[2020-02-23 01:05] tywrenn commented on #2956
We should have that in the readme then 😂 Devs will just assume it works with whatever they're using. I'm using the preinstalled version.

[2020-02-23 01:06] bradymiller commented on #2956
Agreed. I am going to do that now.

[2020-02-23 01:11] bradymiller commented on #2956
Just brought in the updated README.

[2020-02-23 01:30] #2956 closed

[2020-02-23 01:41] bradymiller opened #2957 "Close button not working in two modals"
In Popups->Export and Popups->Import, clicking on the Close button at bottom right does not do anything.

![image](https://user-images.githubusercontent.com/278968/75102083-77b69380-559a-11ea-82b1-bf483d79e680.png)

[2020-02-23 01:47] sjpadgett commented on #2957
probably need to change from window.close to dlgclose().

[2020-02-23 01:53] bradymiller opened #2958 "Log viewer looks odd"
gui at Administration->System->Logs looks odd

![image](https://user-images.githubusercontent.com/278968/75102146-e0524000-559b-11ea-8109-753cfdd79d78.png)

<br>

Note that the Main Log and Other Logs are combined in a odd way. Would be better to have pills at top to choose either Main Log or Other Log (or any other way that you can think of improving the log gui).

[2020-02-23 01:56] bradymiller opened #2959 "Modernize language editor gui"
Change the top menu at Administration->System->Language to use pills.

![image](https://user-images.githubusercontent.com/278968/75102208-9ddd3300-559c-11ea-868a-a30dd1be545d.png)

[2020-02-23 02:01] bradymiller opened #2960 "Test OpenEMR and report any issues"
This is an open ended issue for folks to test OpenEMR and report any issues, which can be:
php error log entries
js console error entries
bugs
work flow doesn't make sense
label doesn't make sense
just doesn't look right
could look better

(To clarify, if you find something to report, then create a separate issue for it)

[2020-02-23 02:12] bradymiller opened #2961 "Improve gui at Patient Summary - Edit Clinical Reminder - Admin"
Guessing that several small code changes can drastically improve gui at Patient Summary screen -> Edit Clinical Reminder -> Admin
(there are 2 tables on top of each other with different number of columns without any shading etc.)

![image](https://user-images.githubusercontent.com/278968/75102351-daaa2980-559e-11ea-8b7a-0b87de1d7d78.png)

[2020-02-23 05:57] #2955 closed

[2020-02-23 06:00] stu01509 commented on #2947
@bradymiller  @stephenwaite @tywrenn
Hi all, Excuse me I have a question,
The theme use **listThemes()** function to count the theme,
So I just put Dark and Superhero screenshot to **public/images/stylesheets** folder,
 Am I right?

[2020-02-23 06:05] bradymiller commented on #2947
That looks right. Basically adding a style_dark.png and style_superhero.png should get what you need . That looks like a very neat mechanism, which was added by @zbig01 in past.

[2020-02-23 06:42] thesmallstar commented on #2957
@spadgett are you working on this?

[2020-02-23 06:44] thesmallstar commented on #2961
Sir, can I try this?

[2020-02-23 06:49] thesmallstar commented on #2960
Sir, I had a general suggestion- should we add PR and issue template to this repo?

Also, I saw that 5.0.2 dev is facing notice issues with xampp, can we work on that?

[2020-02-23 06:49] stu01509 commented on #2959
@bradymiller
I would like to try this work, Please assign me, Thank you.

[2020-02-23 06:50] stu01509 commented on #2958
@bradymiller
I would like to try this work, If ok please assigns me, Thank you.

[2020-02-23 06:59] bradymiller commented on #2958
hi @stu01509 , sure thing! thanks, -brady

[2020-02-23 07:00] bradymiller commented on #2959
hi @stu01509 , sure thing! thanks, -brady

[2020-02-23 07:02] bradymiller commented on #2960
hi @thesmallstar , The PR/issue template sounds like a great idea. Regarding xampp with 5.0.2, that is specific to windows and it should be working; it's just tougher to install than linux at this time.
-brady

[2020-02-23 07:03] bradymiller commented on #2961
hi @thesmallstar , Go for it. Thanks! -brady

[2020-02-23 07:05] bradymiller commented on #2957
hi @thesmallstar , pretty sure @sjpadgett is just providing guidance on this. we have a custom function, dlgclose() for closing modals.

[2020-02-23 07:07] thesmallstar commented on #2957
Thank you, please assign this to me :)

[2020-02-23 07:07] bradymiller commented on #2957
It's yours :)

[2020-02-23 07:15] stu01509 commented on #2947
@bradymiller
Hi sir, I've been added dark and superhero theme screenshot,
Please review it, If have any change request, Please let me know :)

[2020-02-23 08:05] #2947 closed

[2020-02-23 08:18] thesmallstar commented on #2960
@bradymiller  Should I add the PR/issue template then?
Also, what is the correct approach to submitting issues? Should be directly created them or suggest them in comments below?
I am commenting one for now,
UI bug in Edit global setting(The header is cut):
![image](https://user-images.githubusercontent.com/42006277/75106475-23b3b980-5643-11ea-90be-f185de947472.png)

[2020-02-23 08:26] bradymiller commented on #2960
hi @thesmallstar ,
Yes, it's a go on the PR/issue template
And definitely directly create issues for these and future issues
(or else this issue will become very long :) )

[2020-02-23 08:44] #2948 closed

[2020-02-23 10:01] #2957 closed

[2020-02-23 15:17] thesmallstar commented on #2918
@PRINCE-MOSE
Are you still facing the problem?
Can you please give your system specifications so we can help?

[2020-02-23 15:29] thesmallstar commented on #2725
Hello @MahamadNoor, Are you still facing the issue?
I could not reproduce it, can you help me?

[2020-02-23 15:33] thesmallstar commented on #2101
@bradymiller, can I try this?

[2020-02-23 17:40] sjpadgett commented on #2725
fyi This is required if not using ZH mirth server. It a service to intercept and build the CCDA summary of care.
openemr/ccdaservice/README.md

[2020-02-23 18:02] thesmallstar opened #2970 "Bad UI: Hidden header in edit Global setting page"
**Screenshot:**
![image](https://user-images.githubusercontent.com/42006277/75117132-c7798580-5694-11ea-834e-33f6b70fa529.png)

I would like to work on this

[2020-02-23 18:05] im-Amitto opened #2971 "Expandle button not completely visible on edit globals/user page"
No top margin on page header like his counter parts have.
**Screenshot**-
![75106475-23b3b980-5643-11ea-90be-f185de947472](https://user-images.githubusercontent.com/29653282/75117148-e0823680-5694-11ea-9e12-a52a7a9a160b.png)

[2020-02-23 18:13] bradymiller commented on #2101
Hi @thesmallstar , Definitely. thanks! -brady

[2020-02-23 18:17] im-Amitto commented on #2970
@thesmallstar
I didn't know you will be creating this issue so I have created the same in #2971 and already dropped a PR #2972.
@bradymiller should I delete my issue and PR?
Sorry for the inconvenience caused.

[2020-02-23 18:20] thesmallstar commented on #2970
@im-Amitto hey! (just noticed too many things happened :) )
We both ended up doing the same thing, at the same time :P
It is not a problem, the main purpose was to solve the issue.
@bradymiller  can merge any one of the PR, let's leave it to him.

[2020-02-23 19:00] thesmallstar opened #2974 "Missing button style/class in issue popup"
Screenshot:
![image](https://user-images.githubusercontent.com/42006277/75118091-debc7100-569c-11ea-80aa-cb57a5eaf222.png)

I would like to work on this.

[2020-02-23 19:06] #2971 closed

[2020-02-23 19:11] #2970 closed

[2020-02-23 19:12] bradymiller commented on #2974
:+1:

[2020-02-23 19:18] bradymiller opened #2975 "Finding issues"
If you are looking for issues to work on, here are some issues organized by priority:
* [High Priority](https://github.com/openemr/openemr/milestone/5)
* [Normal Priority](https://github.com/openemr/openemr/milestone/6)
* [Low Priority](https://github.com/openemr/openemr/milestone/7)

(most of these are not simple straightforward issues; there are some nice small, but more complicated issues in No

[2020-02-23 19:22] thesmallstar commented on #1311
Can I work on this?

[2020-02-23 19:39] sjpadgett commented on #1311
@thesmallstar before you do.
@bradymiller I don't see a need for Fee Sheet to be in top menu. One, it's ambiguous as to what encounter is already up especially since we don't auto goto encounter tab if already opened and user is in different tab. Plus I'm not sure we can open a tab in encounter from menu.

[2020-02-23 20:11] bradymiller commented on #1311
Hi @sjpadgett and @thesmallstar ,

Seems like 2 bugs here:
1. When click on this or any link in Patient Client/Visit Form, then it needs to focus on the encounter tab.
2. And fix this issue:
https://github.com/openemr/openemr/issues/1511
(should only be able to open 1 Fee Sheet, 1 Misc Billing Options, and maybe just 1 Procedure (and am not sure about the Procedure order, though, @sjpadgett prob k

[2020-02-23 20:46] sjpadgett commented on #1311
Okay @thesmallstar go for it. A couple notes.
- For dealing with main tabs look here: interface/main/tabs/js/tabs_view_model.js
- For encounter tabs: interface/patient_file/encounter/encounter_top.php and src/Tabs/TabsWrapper.php
- You may need to prevent a new Fee Sheet form opening from encounter_top.php around L-47
- good news is you'll only ever have but one encounter tab opened at anytime. Na

[2020-02-23 23:21] im-Amitto commented on #2570
@bradymiller
The search bar is currently at a different position in compare to mentioned in the issue.
**Screenshot**-
![Screenshot from 2020-02-24 04-48-33](https://user-images.githubusercontent.com/29653282/75122175-f73e8280-56c0-11ea-936e-842044243f36.png)

Should I move it to the left of the picture and bottom of he DOB or is this issue resolved?

[2020-02-23 23:24] sjpadgett commented on #2570
Resolved in 5.0.3. please close.

On Sun, Feb 23, 2020 at 6:21 PM Amit Meena <notifications@github.com> wrote:

--
Jerry Padgett
Consultant and developer for OpenEMR
Brandon, Florida 33511
sjpadgett@gmail.com <sjpadgett@gmailo.com>

[2020-02-23 23:31] im-Amitto opened #2976 "No validation on Patient DOB"
### Describe the bug

A patient can have any desired DOB which should not be a case as a patient shouldn't have age in negative.
![Screenshot from 2020-02-24 04-54-12](https://user-images.githubusercontent.com/29653282/75122346-86986580-56c2-11ea-84db-3b0fc7ef1344.png)

### Expected behavior
Patient DOB should always be smaller than the current date.

### Client configuration

- Browser: Chrome Ve

[2020-02-23 23:32] im-Amitto commented on #2976
@bradymiller
can I pick this one?

[2020-02-23 23:47] #2570 closed

[2020-02-23 23:49] bradymiller commented on #2976
hi @im-Amitto , Agreed and it's yours :)

[2020-02-24 00:04] bradymiller opened #2977 "Replace literallycanvas library"
### Describe the bug

- literallycanvas is a dead project and needs to be replaced with another tool. It is used in forms to allow use of an image that can be edited on top of:
https://community.open-emr.org/t/freehand-drawing-widget-for-layout-based-visit-forms/7996

The new tool needs to be backward compatible with prior stored images (hopefully shouldn't be too tough since it looks like literal

[2020-02-24 00:22] stu01509 commented on #2958
Hi, @bradymiller  Can you close this issue?

[2020-02-24 01:21] sunsetsystems commented on #2977
Is there something else to replace it with? LC seemed pretty unique at the time.

[2020-02-24 01:28] bradymiller commented on #2958
thanks for the ping on this. closing.

[2020-02-24 01:28] #2958 closed

[2020-02-24 02:13] #2959 closed

[2020-02-24 04:33] thesmallstar commented on #2977
Can I give this a try?

[2020-02-24 04:35] bradymiller commented on #2977
hi @sunsetsystems , I hope there is something out there to migrate to :crossed_fingers:

hi @thesmallstar , Go for it. Thanks! -brady

[2020-02-24 14:35] thesmallstar opened #2981 "Required: suggestions for PR template"
As discussed, we are adding the PR template and I need some suggestions from mentors before I proceed.

1. A  general PR template would include, Description and Fixes heading.
2. We can add a checklist that the contributor needs to follow, like
 a.  Reading some guidelines
b.  Ensuring Tests are passed
c.  Every commit is squashed unless individually required
d. There is a proper commit message

I

[2020-02-24 15:46] thesmallstar commented on #2974
Closed by #2980

[2020-02-24 15:46] #2974 closed

[2020-02-24 16:01] stephenwaite commented on #2974
ok, very nice, thank you

[2020-02-24 18:48] im-Amitto commented on #2976
@bradymiller It took me quite a time to realize that all fields validation is directly coming from database.
Now, i know that adding a `past_date` validation to DOB will solve the problem but i am not sure which database file should i update.

[2020-02-24 18:54] thesmallstar commented on #2976
@im-Amitto, can we not go for the front end validation using on change function?
On change of the date of birth field, verify if the date selected is not after today, if it is change the value to today and give a alert.

Am I missing something?

[2020-02-24 19:12] im-Amitto commented on #2976
@thesmallstar yeah, that's one easy way to implement that but after going through the repo i found out that validator is already present and all the validation/constraints are directly generated from database wherever necessary and i think it's a pretty good idea as it encapsulate the validation part so i guess sticking to that is a better idea.

Edit: I deleted the previous comment as i found the

[2020-02-24 19:16] thesmallstar commented on #2976
I agree, that is the better way to encapsulate the validation.
Thank you for the explanation 😄

[2020-02-24 20:01] im-Amitto opened #2983 "Problem appears when you try to add a patient after reject him once"
### Describe the bug

write a concise description of what the bug is.

### To Reproduce

https://www.loom.com/share/e4f7ce4823d34bd9bfe45d014e4e2c15

### Expected behavior
OpenEMR - problem with adding a patient

### Client configuration

- Browser: Chrome Version 80.0.3987.106 (Official Build) (64-bit)
- Operating system: Windows 10

[2020-02-24 20:32] sjpadgett commented on #2983
var scope is lost.
checkout new_comprehensive.php
around L-864
either refresh form after dialog closes or move where f is set to where it is used.

[2020-02-24 20:53] im-Amitto opened #2984 "Encapsulate the empty datetime/date checks"
### Describe the bug

MySQL8 Latest patch release does not take `''` as a valid DateTime input hence all such checks should be updated.

### Expected behavior
SQL queries shouldn't break;

### Client configuration

- Browser: Chrome Version 80.0.3987.106 (Official Build) (64-bit)
- Operating system: Windows 10

Reference:- https://community.open-emr.org/t/cannot-choose-patient-from-list-due-to-mys

[2020-02-24 21:00] im-Amitto commented on #2984
@bradymiller where should I place the `dateEmptySql` method? As it's going to be used in multiple files, currently I placed it in `clinical_rules.php`.

[2020-02-24 21:13] im-Amitto commented on #2983
@sjpadgett Thanks for the heads up!

[2020-02-25 01:47] bradymiller commented on #2984
hi @im-Amitto ,

We've got several options to make this function ubiquitous:
https://github.com/openemr/openemr/blob/master/composer.json#L88-L94

My vote is to place it in:
library/sanitize.inc.php

If you put it there, then it will always be available.

-brady

[2020-02-25 02:06] bradymiller commented on #2981
hi @thesmallstar ,
I'd focus on:
A proper explanation of the PR
(otherwise, wouldn't add many other requirements since don't want to scare folks away from contributing; we've had some really nice code contributions that come in all sorts of crazy messed up git branches since git proficiency and coding skills are not always aligned :) ; and the nice thing about github PR's is we can just squash the

[2020-02-25 02:08] bradymiller commented on #2981
I also should of added. It's not that uncommon that we end up fixing PSR2 issues (causes a travis fail) after bring in a PR.

[2020-02-25 04:13] thesmallstar commented on #2981
@bradymiller I guess a simple template will then work,  on it.
Sorry for the delays, I have college exams on going :)

[2020-02-25 04:15] bradymiller commented on #2981
no prob. college exams take priority :)

[2020-02-25 10:31] #2976 closed

[2020-02-25 11:19] akhillllldev commented on #2975
So, while creating a new patient -

Once you enter the patient details and click "Create Patient" -> you get a new pop up window with the option to confirm new patient,

but the details are not getting printed.

[2020-02-25 11:24] im-Amitto opened #2987 "Database spell mistake"
### Describe the bug

Technical term mistake, I am not sure though.

In database `history_data.cholecystestomy`, i guess it should be `history_data.cholecystostomy`.

If it's a bug, I would like to work on it.

[2020-02-25 11:40] im-Amitto commented on #2975
@akhi

Most probably because of #2984

[2020-02-25 12:50] stu01509 opened #2989 "UI Issue: Message Center add new form table"
### Describe the bug

Message Center add new form table, The table field didn't alignment each one, And Button color may create identification problems.

I will fix this issue, Please assign me.

### To Reproduce

Steps to reproduce the behavior:

1. Click Message
2. Click Add New Button
3. See Add form

![Untitled](https://user-images.githubusercontent.com/22230889/75248939-21528a80-5810-11ea-91e

[2020-02-25 13:26] stu01509 opened #2992 "ISSUE_TEMPLATE issue"
### Describe the bug
ISSUE_TEMPLATE  has duplicate order number issue.

### To Reproduce

![Untitled](https://user-images.githubusercontent.com/22230889/75251328-59100100-5815-11ea-8cb8-42d2b1ddd012.png)

[2020-02-25 13:28] thesmallstar commented on #2992
Thank you for pointing, I had been working on this :) do you mind if I correct it in next PR?

[2020-02-25 13:30] thesmallstar commented on #2992
Also, your review on PR template would help me :) , I have just made a PR.

[2020-02-25 13:38] stu01509 commented on #2992
@thesmallstar  Welcome

Also, I think we can add Screenshots and add php, web server version
and runtime in Client configuration field, What do you think?

[2020-02-25 13:45] thesmallstar commented on #2992
I am a bit confused why will we need the client configuration while reviewing PR, can you please explain?

[2020-02-25 13:48] thesmallstar commented on #2977
@sunsetsystems @bradymiller
I found this library which uses html5 canvas and does equal/more things than literally canvas. Also, this doesn't seem to be dead anytime soon. (literally canvas is literally dead :P)
https://github.com/nhn/tui.image-editor

Any suggestions?

[2020-02-25 13:54] stu01509 commented on #2992
Oops! I mean will can add more client configuration in ISSUE_TEMPLATE.

Also,  PR template, I think we can discuss with mentors, What 's field can help them to review code  easily and clearly.

[2020-02-25 13:55] thesmallstar commented on #2992
Yes I agree with the PHP version, thank you😄

[2020-02-25 14:51] stephenwaite commented on #2987
nice catch @im-Amitto , probably was meant to be the more common, Cholecystectomy

[2020-02-25 14:59] stephenwaite commented on #2975
hi @akhillllldev , good point but think that is a popup that would have any potential duplicate checks, maybe it needs to be titled better? or actually have a title :)

[2020-02-25 15:04] stephenwaite commented on #2989
sounds like a plan :), thank you @stu01509

[2020-02-25 20:30] bradymiller commented on #2987
I'd rec avoiding this rabbit hole (mispelled sql columns) especially in forms which are not always
 loaded in database (makes incorporating into upgrade very tough). Most of these issues have been mitigated and fixed on the front end (would check in that form to ensure that happens) so it's just us developers that have to see it :) .

[2020-02-25 20:55] sunsetsystems commented on #2977
Looks promising!

[2020-02-26 00:29] bradymiller commented on #2977
Looks good and it lives!

[2020-02-26 00:56] bradymiller opened #2994 "Improve setupHeader function"
### Describe the problem

setupHeader function only echos output and it should also support return of output.

### Describe the solution you'd like

Add a second parameter to the setupHeader function to instead return the value rather than echo it. so function in src/Core/Header.php could be something like:
[code]
Then when this is working (incorporate ability to return rather than echo it), addin

[2020-02-26 00:57] bradymiller commented on #2994
btw, gonna plan to assign this to @thesmallstar since related to his ongoing work (just let me know if you want to open it to others).

[2020-02-26 02:21] im-Amitto commented on #2987
@bradymiller  let's close this one then?

[2020-02-26 03:29] im-Amitto opened #2996 "No check on start and last date input in case of tobacco"
### Describe the bug

No check on start and last date input in case of tobacco

![Screenshot from 2020-02-26 08-56-02](https://user-images.githubusercontent.com/29653282/75309184-437ef380-5876-11ea-9914-e721d2ee99e4.png)

### To Reproduce
Visit patient info page

### Expected behavior
Input should be checked before being used in SQL query

### Client configuration

- Browser: Chrome Version 80.0.3

[2020-02-26 04:24] adad20 opened #2998 "DOB problem still persists."
### Describe the bug
Problem of DOB validation still persists after successfully merging  #2982

### Expected behavior

Patient shouldn't be allowed to select future DOB.

### Current behaviour

After merging PR. Patient can still choose future DOB.
![Screenshot (67)](https://user-images.githubusercontent.com/55142272/75312215-4500e980-587f-11ea-98e8-533bcad9475c.png)

### System Information
PHP V

[2020-02-26 04:31] im-Amitto commented on #2998
Have you updated your db?

On Wed, 26 Feb, 2020, 9:54 am Aditya Tomar, <notifications@github.com>
wrote:

[2020-02-26 04:33] thesmallstar commented on #2981
Closed by #2991

[2020-02-26 04:33] #2981 closed

[2020-02-26 04:38] im-Amitto commented on #2998
@adad20  There are a few cases where a cross-browser error appears but still, it's a good practice to put system info along with the issue ｡◕‿◕｡.

[2020-02-26 04:50] adad20 commented on #2998
@im-Amitto Yes I have updated the system information and can you elaborate how to update db?

[2020-02-26 05:08] im-Amitto commented on #2998
@adad20
A simple way would be, you just drop your tables and source the `database.sql` or you can set `$config = 1;` in `sqlconf.php`.

Note: If you use the second method choose `already have database setup` during setup.

[2020-02-26 05:42] mdsupport commented on #2998
Every date(time) field is supposed to be handled by datetimepicker which will do the [date validation](https://xdsoft.net/jqplugins/datetimepicker/#mindate) reliably by disabling future dates and fixing manual input.  This should be in addition to the validation of POST data.

[2020-02-26 06:03] bradymiller commented on #2987
hi @im-Amitto , yep, lets close this (it's a good catch; just not worth the pain to fix).

[2020-02-26 06:03] #2987 closed

[2020-02-26 06:54] im-Amitto commented on #2998
@mdsupport Thanks for the heads up! I will add the desired validation.

[2020-02-26 08:27] bradymiller commented on #2998
Confirmed that fix is working on my system (ubuntu 16.04; Firefox 72.0.2)
![image](https://user-images.githubusercontent.com/278968/75325909-81f0c000-582e-11ea-9f36-495060c15ae9.png)
After click 'Create New Patient' it show 'Date of Birth is not valid' and does not proceed with submit

[2020-02-26 08:29] bradymiller commented on #2998
keep in mind datetimepicker has a limited lifespan in the codebase (it is not mobile friendly), so feel free to throw in the towel on that if it gets to time consuming

[2020-02-26 09:12] adad20 commented on #2998
If its working on your system means it is the cross platform error I guess.
Should I close this issue?

[2020-02-26 09:15] bradymiller commented on #2998
hi @adad20 ,
If it's still not working on your machine, lets sort it out. What do you see at Administration->Forms->Layout->Demographics->(in DOB row, click on the `?` at the far right)

![image](https://user-images.githubusercontent.com/278968/75330010-7b197b80-5835-11ea-889d-f0d373425284.png)

[2020-02-26 09:19] adad20 commented on #2998
@bradymiller Should I check the validation rules?

It looks something like this.
![Screenshot (68)](https://user-images.githubusercontent.com/55142272/75330467-27477a80-58a7-11ea-8030-817fbd24ad93.png)

[2020-02-26 09:26] bradymiller commented on #2998
In the box, change Validation Rule to 'Past Date' and see if it works. (if it works, this prob means your database was not built from most recent codebase)

[2020-02-26 09:49] bradymiller opened #2999 "Remove jquery-ui project"
### Describe the problem

jquery-ui is nearing the end of its road

### Describe the solution you'd like

Remove jquery-ui

This issue will only be used to list related sub-issues. They are listed below, and will great separate for them (complicated ones will get their own issues, while will bundle the less complicated ones into issues).

1. Change help_files modal to use bootstrap instead of jque

[2020-02-26 09:53] bradymiller opened #3000 "Change help_files modal to use bootstrap instead of jquery-ui (interface/help_modal.php)"
Change help_files modal to use bootstrap instead of jquery-ui (interface/help_modal.php)

[2020-02-26 09:54] bradymiller opened #3001 "Change registration modal (login and about gui) to use bootstrap instead of jquery-ui"
Change registration modal (login and about gui) to use bootstrap instead of jquery-ui

[2020-02-26 09:56] bradymiller opened #3002 "Change encounter tabs from jquery-ui to bootstrap"

[2020-02-26 09:57] bradymiller opened #3003 "Remove jquery-ui from interface/clickmap/template/general_new.html script (and related library/js/clickmap.js)"
Remove jquery-ui from interface/clickmap/template/general_new.html script (and related library/js/clickmap.js)

[2020-02-26 09:59] bradymiller opened #3004 "Change jquery-ui tooltip to bootstrap tooltip for 3 scripts"
Change jquery-ui tooltip to bootstrap tooltip for the following scripts:
interface/billing/sl_eob_search.php
interface/orders/types.php
interface/usergroup/adminacl.php

[2020-02-26 10:01] bradymiller opened #3005 "Remove jquery-ui from the Fees->'EDI History' module"
Remove jquery-ui from the Fees->'EDI History' module

[2020-02-26 10:03] bradymiller opened #3006 "Remove jquery-ui from batch 1 of scripts"
Remove jquery-ui from following scripts:
admin.php
custom/download_qrda.php
interface/billing/search_payments.php
interface/billing/ub04_form.php
~~interface/code_systems/dataloads_ajax.php~~(separated this script to another issue: https://github.com/openemr/openemr/issues/3077)

[2020-02-26 10:03] stu01509 commented on #2999
Hi @bradymiller
I am interested in this work, Please assign me.
Also, I would like to put part of remove jquery-UI in my GSoC proposal.

[2020-02-26 10:05] stu01509 commented on #2989
Hi @stephenwaite @bradymiller,

This issue has been resolved, Can I close the issue by myself?

[2020-02-26 10:07] bradymiller commented on #2999
hi @stu01509 , Am breaking it down into reasonable chunks (see the following issues). Just request assigning in those and then I'll assign you. The reason we aren't making it one project is to prevent stress and early aging; @tywrenn 's lifespan potentially was decreased here :) https://github.com/openemr/openemr/pull/2927

[2020-02-26 10:11] bradymiller commented on #2989
Hi @stu01509 , Definitely feel free to close resolved issues. If github doesn't let you, just let us know and we'll then close it. thanks, -brady

[2020-02-26 10:11] #2989 closed

[2020-02-26 10:13] bradymiller opened #3007 "Remove jquery-ui from batch 2 of scripts"
Remove jquery-ui from following scripts:
interface/drugs/add_edit_drug.php
interface/fax/fax_dispatch.php
interface/forms/LBF/new.php
interface/forms/eye_mag/SpectacleRx.php
interface/forms/eye_mag/a_issue.php
interface/forms/eye_mag/view.php

[2020-02-26 10:15] bradymiller opened #3008 "Remove jquery-ui from batch 3 of scripts"
Remove jquery-ui from following scripts:
interface/forms/fee_sheet/new.php
interface/forms/group_attendance/new.php
interface/forms/newpatient/common.php
interface/main/messages/messages.php
interface/main/pwd_expires_alert.php
interface/main/tabs/main.php
interface/new/new_comprehensive.php
interface/orders/procedure_provider_edit.php
interface/orders/single_order_results.php
interface/orders/typ

[2020-02-26 10:19] stu01509 commented on #2999
OK, waiting for your good news.

[2020-02-26 10:20] bradymiller commented on #2999
btw @stu01509 , having jquery-ui removal as part of a code modernization GSoC proposal make good sense. I'd be really surprised if we are able to do this all before GSoC projects start (ie. there should be lots of this still to do at that time.

[2020-02-26 10:22] bradymiller opened #3009 "Remove jquery-ui from batch 4 of scripts"
Remove jquery-ui from following scripts:
interface/patient_file/encounter/superbill_custom_full.php
interface/patient_file/front_payment.php
interface/patient_file/merge_patients.php
interface/patient_file/summary/add_edit_issue.php
interface/patient_file/summary/immunizations.php
interface/patient_file/summary/pnotes_full.php
interface/patient_tracker/patient_tracker.php
interface/therapy_groups/

[2020-02-26 10:25] bradymiller opened #3010 "Remove jquery-ui from batch 5 of scripts"
Remove jquery-ui from following scripts:
interface/usergroup/facility_user.php
interface/usergroup/facility_user_admin.php
interface/usergroup/usergroup_admin.php
interface/weno/ajax_sample_code.php
interface/weno/confirm.php
library/custom_template/custom_template.php
library/custom_template/personalize.php

[2020-02-26 10:28] bradymiller opened #3011 "Remove jquery-ui from batch 6 of scripts"
Remove jquery-ui from following scripts:
portal/patient/templates/OnsiteDocumentListView.tpl.php
portal/patient/templates/_FormsHeader.tpl.php
setup.php
src/OeUI/OemrUI.php
templates/documents/general_list.html
templates/prescription/general_edit.html

[2020-02-26 10:29] bradymiller commented on #2999
ok, all the issues are ready. ask on the issue and you shall receive :)

[2020-02-26 10:36] stu01509 commented on #2999
@bradymiller

Can I pick many issues? If not, Please assign me issue #3004.
Thank you :)

[2020-02-26 10:40] bradymiller commented on #2999
Sure, you can pick as much as you want (would rec not doing more than several at a time, but it is your lifespan :) ). Gotta add you to the OpenEMR team to see you on the Assignees selector if no posts yet (invitation going out now).

[2020-02-26 10:59] thesmallstar commented on #2330
sir @bradymiller, I am planning to include this issue in my GSOC proposal, can I give it an early start?
Also since you estimated this to be a 30hrs (+20 hrs) job including only this won't make much sense for 3 months GSOC project, so I am planning to work on a new feature + this, along with solving normal-high priority issue.

What do you suggest?

[2020-02-26 11:06] bradymiller commented on #2330
hi @thesmallstar , I am bad at estimating hours and that was more in terms with to just get it working. If done well, would likely be many more hours. And it could definitely be incorporated within a modernization GSOC proposal. Happy to assign it to you so you can look into it more and perhaps tackle it early.

[2020-02-26 11:54] stu01509 commented on #2999
Hi @bradymiller,

I has been joined the OpenEMR team, So I can choose an issue and assign myself?

[2020-02-26 14:29] adad20 commented on #2998
@bradymiller yes now the validation is working

[2020-02-26 14:30] #2998 closed

[2020-02-26 15:22] sjpadgett commented on #3000
I believe I changed all the drag/resize to new library on helps. May only need to remove the Header reference.

[2020-02-26 15:35] sjpadgett commented on #2907
Hi @zerai I not getting how a metapackage will help us here so maybe you can give me an example of your approach. ie both openemr and module.
I did write a class for version checks using extra in module json however, i'm going to need to hook it out of install plugin. Wish composer would go ahead and just allow hook in dependency includes.

Bottom line is, this is far more than I ever wanted to kn

[2020-02-26 16:59] bradymiller commented on #2999
hi @stu01509 , Github is a bit wacky on this stuff. Being on the team allows me to assign you without you posting a message on the issue. Otherwise you would of needed to post a message on the issue before I can assign you. To be able to assign on the issue requires write access to the repo (or at least it did a year ago when I looked into it; I'll look into that again). I just assigned you #3004

[2020-02-26 17:45] #2994 closed

[2020-02-26 20:30] im-Amitto commented on #2998
@bradymiller adding the maxDate in the datepicker is quite easy but it's global for the entire page so will affect all datepickers present.
one way i can think of is do a `each` over the `datepicker` and read the `maxDate` attribute and based on that i can decide the `jquery selector` and required configuration for datepicker and then will connect datepicker to all the generated `jquery selector`.

[2020-02-26 20:41] sjpadgett commented on #2998
Just give the date input element an unique id or new class then init a new datepicker in page for that element.
$('.#specialoptions').datetimepicker({
                <?php $datetimepicker_timepicker = false; ?>
                <?php $datetimepicker_showseconds = false; ?>
                <?php $datetimepicker_formatInput = false; ?>
                <?php require($GLOBALS['srcdir'] . '/js/xl/jquer

[2020-02-26 20:47] im-Amitto commented on #2998
@sjpadgett i thought a generic solution would be better.

[2020-02-26 21:19] #2984 closed

[2020-02-26 22:21] #2996 closed

[2020-02-26 23:11] bradymiller commented on #2924
Here's most recent issue breaking this issue down into many more issues:
https://github.com/openemr/openemr/issues/2999

[2020-02-26 23:40] im-Amitto opened #3015 "Credentials line looks little obscure"
### Describe the bug

It's a suggestion more than an issue

![Screenshot from 2020-02-27 05-07-54](https://user-images.githubusercontent.com/29653282/75398299-47b31b80-591f-11ea-93bb-57a792d9529e.png)

This page looks good but the credentials line which is kinda important looks a little obscure.

[2020-02-26 23:49] im-Amitto opened #3016 "validation based check on generate_form_field method"
### Describe the problem

No validation on shown `datetimepicker`

### Describe the solution you'd like

Add a case for past date and future Date validation in `generate_form_field`

[2020-02-26 23:59] bradymiller opened #3017 "Collapse/expand are not working on the Encounter gui"
### Describe the bug

Collapse/expand are not working on the Encounter gui

### To Reproduce

Steps to reproduce the behavior:
1. Go to the patient encounter gui
1. Create a SOAP note there and save it
1. Note that the expand/collapse is not working correctly (the labels change but the data fields are not expanding or collapsing)

![image](https://user-images.githubusercontent.com/278968/75399293-

[2020-02-27 00:04] bradymiller opened #3018 "TypeError: this.element.getAttribute is not a function"
### Describe the bug

TypeError: this.element.getAttribute is not a function showing up in js console

### To Reproduce

Steps to reproduce the behavior:
1. Open the patient finder gui

![image](https://user-images.githubusercontent.com/278968/75399568-6e3a6d80-58b1-11ea-8b02-6d42ccc1bad2.png)

Notably, there is no impact on function. Everything works fine. The error message just keeps repeating i

[2020-02-27 00:45] mdsupport commented on #3000
I must confess that I had not looked at the new help setup.  Over the years we have found large documents should be translated as a whole rather than collection of sentences.  It creates more confusion for international users.

Wouldn't it be better to have these files as plain BS4 themed html that can be inserted in either a smarty template or `<div>` element of a small wrapper script?  For non t

[2020-02-27 00:52] bradymiller commented on #3000
I guess I am just happy to see full sentences :)
(note many places in codebase with fragmented sentences)

[2020-02-27 01:11] bradymiller commented on #3018
I am guessing a recent PR caused this (ie. probably my fault); https://github.com/openemr/openemr/pull/2995

[2020-02-27 01:17] zerai commented on #2907
Hi @sjpadgett
Disclaimer.
If you don't like the metapackage idea, you can create a real package "openemr/core" move some high level class in this repository register it on packagist and include it in "openemr/openemr" .

As a module developer, the only thing I need to solve the problem is a registered packagist to target,
I have picked "omnipay/stripe" as example, you should consider "omnipay/stri

[2020-02-27 01:35] #3015 closed

[2020-02-27 01:41] adad20 commented on #3017
@bradymiller  I want to work on this issue. Please assign it to me.

[2020-02-27 01:42] bradymiller commented on #3017
hi @adad20 , it is yours :)

[2020-02-27 03:06] #3018 closed

[2020-02-27 03:18] stu01509 commented on #3004
Hi @bradymiller

I am starting to change jquery-UI tooltip to bootstrap tooltip,
But I have some question, The style still looks the same jquery-UI, Is correct?

![1](https://user-images.githubusercontent.com/22230889/75409127-cbd2c680-5952-11ea-991c-97e378efcb36.png)

This is my modify code.

[code]

[2020-02-27 04:26] #3000 closed

[2020-02-27 04:46] bradymiller commented on #3004
hi @stu01509 , Yep, no need to change styling (unless you feel the need to). Goal is to remove dependency on jquery-ui. If that code is working, then I am all for it :)

[2020-02-27 10:00] stu01509 commented on #3004
Hi @bradymiller
I has been changed jquery-UI tooltip to bootstrap tooltip,
Please check is correct, If have any requested change, please ping me :)

[2020-02-27 13:30] mdsupport commented on #2907
@zerai I thought the concept of _add-ons_ would imply the main project will keep on going its merry way and add-on repo will keep up.  In most projects add-ons are expected to take care of _all additional components_.  If my add-on has Bootstrap 4 classes and core does not bring in BS4 until 5.0.3, my definition will require minimum 5.0.3.  To make it available for prior versions, I would be inclu

[2020-02-27 13:42] #2983 closed

[2020-02-27 15:09] zerai commented on #2907
Hi, @mdsupport
I see your point, but we are arguing about versioning constraint, if the module is not well designed or with a bug is not the point here.
This module is for the next version of openemr, and the next version should be with bootstrap4.

The "add-ons" term refers to "Demo Farm" installation, you can see the disclaimer in the readme

**"This module provides specifically designed capabil

[2020-02-27 15:54] im-Amitto commented on #3005
@bradymiller can i work on this one?

[2020-02-27 17:36] sjpadgett commented on #2907
Ideally if OpenEMR was a composer install then issue over. However, maintaining even a packagist for a version placeholder will become an admin's thorn in the side. Without a way to get OpenEMR into installed.json, we're stuck with other options via installers.
IMO three solutions are possible:
- Leave it up to module dev to indicate module version for OpenEMR version to include module into.
- Hoo

[2020-02-27 17:51] tywrenn commented on #3017
@bradymiller @adad20 We should be trying to use BS4 accordions/collapses in this fix. That might take more work to do but it's worth it.

[2020-02-27 17:53] tywrenn commented on #3005
This one will require a lot of work since it uses JQUI autocomplete and themes as well as outdated dialog methods.

[2020-02-27 18:02] tywrenn opened #3029 "(Low Priority) Documentation Does not have closing </p> tags"
### Describe the bug

`help_files` documentation doesn't have closing `</p>` tags in [this entire folder](https://github.com/openemr/openemr/tree/master/Documentation/help_files). These tags need to be there to comply with W3C guidelines.

This is a pretty simple fix that should be quick to solve.

[2020-02-27 20:40] stu01509 commented on #3029
@tywrenn
I would like to fix it, Please assign me.

[2020-02-27 23:57] adad20 commented on #3017
@tywrenn yeah sure.

[2020-02-28 00:05] stu01509 commented on #3029
Hi @tywrenn, @bradymiller

I has been created PR, Please review it,
If have any change requested, Please let me know :)

[2020-02-28 01:20] bradymiller commented on #3007
hi @im-Amitto , I invited you into the github openemr group. Once you accept it, I'll then be able to assign you tasks that you haven't left a post in (like this one). thanks, -brady

[2020-02-28 02:00] #3004 closed

[2020-02-28 02:28] #3029 closed

[2020-02-28 09:30] im-Amitto commented on #3007
@bradymiller I have accepted the invitation. Thanks!

[2020-02-28 10:12] im-Amitto opened #3032 "Layout editor is being mean"
### Describe the bug

If you try to edit layout using layout editor it make validation field to 1 for all fields.

### To Reproduce
https://www.loom.com/share/a50a090720ee4cfaa15b1a78003e33da

### Expected behavior
Validation should be granted based on the user selection

### Client configuration

- Browser: Chrome 80.0.3987.106 (Official Build) (64-bit)
- Operating system: Ubuntu 18.04.4

[2020-02-28 13:10] blarcmann commented on #2888
Can I please have more information if there is,  about what needs to be done for this issue?

can this issue be assigned to me, please

[2020-02-28 13:11] blarcmann commented on #2888
Can I please have more information if there is, about what needs to be done for this issue?

can I work on this?

[2020-02-28 13:13] tywrenn commented on #3029
@stu01509 So happy you did this -- this has been hanging over my head for a few months now. Thanks for contributing!

[2020-02-28 13:18] stu01509 commented on #3029
Hi @tywrenn

I also appreciate @bradymiller quickly review and merged it.
In addition, I found the same issue and kind messy in other pages.

[2020-02-28 13:20] tywrenn commented on #3032
@im-Amitto This file isn't BS4 compliant at all so it might need even more fixes down the road. Some notable things include the fact certain inputs don't have the `form-control` class and the fact that popup areas don't really look too great. Most of this will be done in GSoC yet if you're up for the challenge you can certainly try fixing those other issues in the file.

[2020-02-28 13:34] tywrenn commented on #2888
@sjpadgett This actually isn't too difficult. Just have to make its positioning fixed. The real difficulty for this issue is getting mobile/tablet support for that change. That probably will take longer.

[2020-02-28 13:45] zerai commented on #2907
Fourth possible solution:

composer allows the directive "version" if you don't publish on packagist.
I have tested on rel-502 (see row 5 )

![Schermata del 2020-02-28 12-40-00](https://user-images.githubusercontent.com/2405279/75553158-1f6b1000-5a38-11ea-8d3b-fc0d73cc7c06.png)

constraint on my module
[code]

result
![Schermata del 2020-02-28 12-24-51](https://user-images.githubusercontent.com/24

[2020-02-28 14:06] sjpadgett commented on #2888
It already has collapse. Will it still collapse if fixed? I believe so. Portal Patient Documents does this.

[2020-02-28 14:06] thesmallstar commented on #2330
sir @bradymiller, can you give some initial guidance on how to get started and tell me if there is anything I should know? I will be good to go on my own then, I plan to complete the most of the part of this before GSOC(before may), so that if I am selected in GSOC I can invest more time in creating something/adding a new feature.
thanks

[2020-02-28 14:20] sjpadgett commented on #2907
@zerai
First, I was unaware of conflict object, nice. Second, I thought composer dependency check looked at installed.json for versions. Maybe conflict is different but I will test this. If proves true then we sure circled this solution the hard way.:)

[2020-02-28 15:22] stephenwaite commented on #2888
thanks @tywrenn @sjpadgett hi @blarcmann , see the images below?
![Screenshot from 2020-02-28 10-20-54](https://user-images.githubusercontent.com/5618372/75560941-22540980-5a14-11ea-9953-55a2602daca1.png)
![Screenshot from 2020-02-28 10-21-12](https://user-images.githubusercontent.com/5618372/75560949-24b66380-5a14-11ea-81f0-76a6d30042d0.png)

believe we need to fix the css here?
https://github.co

[2020-02-28 15:25] blarcmann commented on #2888
@stephenwaite I get that sir... the calendar should stick to the top when the time is being scrolled.

should I go ahead?

[2020-02-28 15:28] stephenwaite commented on #2888
thank you @blarcmann , just assigned you if that's ok with you

[2020-02-28 15:29] blarcmann commented on #2888
Yes!... Thank you very much sir.

[2020-02-28 17:38] sjpadgett commented on #2907
@zerai Solution works nicely. Been nice to know about composer looking at json for version where I thought it was based on installed.json but rereading doc, it does look at json.
Anyway, thanks. I'll add version in root composer for 5.0.2 patch(2) and master.

I'd still like to put together a composer install for OpenEMR.

[2020-02-28 19:35] blarcmann commented on #2888
@stephenwaite, after making changes in the supposed file, and running "npm run build"... the command builds some css files, but can't find the changes I made when I refreshed.

I don't really know what I'm missing. can you please help?

[2020-02-28 19:41] stephenwaite commented on #2888
hi @blarcmann , are you using the easy development docker? https://github.com/openemr/openemr/blob/master/CONTRIBUTING.md, note step 5 if so

[2020-02-28 19:47] blarcmann commented on #2888
Thanks for the quick response @stephenwaite, I'm using the easy development docker.

I did what "I think I'm supposed" to do in step 5 as well...
*run "npm install"
*run "npm run dev"
After these two commands, I then made the changes in the .scss file
Some files were built, but didn't see the changes I made when I inspected the file after resfreshing
Don't really know if I'm missing something.

[2020-02-28 19:53] sjpadgett commented on #2888
Try clearing browser cache! Assuming you're not seeing changes after
recompile of themes.

On Fri, Feb 28, 2020 at 2:47 PM yemiOdetola <notifications@github.com>
wrote:

--
Jerry Padgett
Consultant and Project Administrator for OpenEMR
Brandon, Florida 33511
sjpadgett@gmail.com <sjpadgett@gmailo.com>

[2020-02-28 20:13] blarcmann commented on #2888
@sjpadgett, this is what I get when I run 'npm run dev',
<img width="571" alt="Screenshot 2020-02-28 at 20 57 35" src="https://user-images.githubusercontent.com/12191062/75583344-a71f4180-5a6d-11ea-92c5-fbd5170b5a0e.png">

This is the selector I made the change in
<img width="178" alt="Screenshot 2020-02-28 at 21 03 24" src="https://user-images.githubusercontent.com/12191062/75583439-e2217500-5a6d

[2020-02-28 20:18] stephenwaite commented on #2888
ok @blarcmann , do you see your changes inside the docker though?

[2020-02-28 20:20] blarcmann commented on #2888
Please, how do I check that?

[2020-02-28 20:24] im-Amitto commented on #3032
@tywrenn I guess I will go with it :)

[2020-02-28 20:25] sjpadgett commented on #2888
So, you cleared your browser cache?

[2020-02-28 20:26] blarcmann commented on #2888
@sjpadgett, yes I did, still the same result.

[2020-02-28 20:28] sjpadgett commented on #2888
This is smarty, try clearing smarty cache. Administration->Clinic->Calendar

[2020-02-28 20:31] mdsupport commented on #2907
@sjpadgett It would be great to modularize main project with a standard admin ui.  E.g. If packagist is chosen, @zerai's lookup becomes openemr module and gets included in standard distribution but not enabled.  When admin enables it, the module manager starts listing all available modules in current 'available' tab  Since laminas stuff is already modules, that can be published as modules as well

[2020-02-28 20:34] im-Amitto commented on #3005
sounds like something I should go for 🐺 .

[2020-02-28 20:35] blarcmann commented on #2888
@sjpadgett , I really don't know how to do that...I don't know php
:(

[2020-02-28 20:38] thesmallstar commented on #2977
@sunsetsystems the link you provided for PRs seems to be broken, can you help?
link: https://github.com/sunsetsystems/openemr/commits/draw

[2020-02-28 20:40] thesmallstar commented on #2949
@stephenwaite  can I try this?

[2020-02-28 20:41] sjpadgett commented on #2888
This is from OpenEMR menu. Also, are you sure you're modifying correct scss?

[2020-02-28 20:48] blarcmann commented on #2888
I got

[2020-02-28 20:49] blarcmann commented on #2888
Yes, I'm modifying "interface/themes/ajax_calendar_sass.scss"

[2020-02-28 20:50] im-Amitto commented on #2949
@thesmallstar
last row of the Diagnostics gui is leaking secret html information. take care of it while moving it.
![Screenshot from 2020-02-29 02-19-11](https://user-images.githubusercontent.com/29653282/75586232-e82d4b00-5a99-11ea-80c9-d414137a8f71.png)

[2020-02-28 20:50] stephenwaite commented on #2888
hi @blarcmann , log back in and try to clear smarty cache please, think @sjpadgett is on the right track

[2020-02-28 20:53] blarcmann commented on #2888
Alright sir.

[2020-02-28 20:54] sjpadgett commented on #2888
Sorry guys, I keep forgetting newness of the contributors. I'm putting myself on time out:)

[2020-02-28 20:56] stephenwaite commented on #2888
really glad you mentioned the smarty cache :)

[2020-02-28 21:12] sjpadgett commented on #2907
This goes back to our heavy reliance on globals for setup and globals in general. A pet peeve of mine! Though, I still use them:)
Our current setup could be turned into a dashboard of sorts but I don't have the energy to do currently. Make for a nice project but getting folks to take on any new development is hard.

Modules in vendor is interesting.

[2020-02-28 21:40] blarcmann commented on #2888
I really don't know anymore...cleared smarty and all, still the same result

[2020-02-28 21:41] blarcmann commented on #2888
Thank you @stephenwaite and @sjpadgett, Thank you very much sir

[2020-02-28 21:43] sjpadgett commented on #2888
Don't give up my friend. We'll stick with ya!

[2020-02-28 21:44] blarcmann commented on #2888
But I don't knw what to do anymore...Is there something else I'm missing?

[2020-02-28 21:45] sunsetsystems commented on #2977
@thesmallstar The branch is long gone from my github account, but you can look at the commits in OpenEMR:

https://github.com/openemr/openemr/commit/85e85838e68fe39ab69556bb895fd95e96e776ba
https://github.com/openemr/openemr/commit/a9483176db27a166e9210fe53debbebb62439016

[2020-02-28 21:56] stephenwaite commented on #2888
maybe, could be a bug in the easy docker setup too, that guide is out of date, wanna take a peak inside the docker to see if the file is updated?

[2020-02-28 22:00] stephenwaite commented on #2888
[code]
will get you into the shell and you should be able to see your changes reflected there

[2020-02-28 22:04] im-Amitto opened #3036 "Iframe height breaks on breakpoint"
### Describe the bug

Iframe height breaks on breakpoint
![screencapture-localhost-interface-main-tabs-main-php-2020-02-29-03_28_24](https://user-images.githubusercontent.com/29653282/75590722-0009cc80-5aa4-11ea-90b0-22f1b7059d7e.jpg)

### To Reproduce

Steps to reproduce the behavior:
1. Open website @ 989*367 size.

- Browser: Chrome 80.0.3987.106 (Official Build) (64-bit)
- Operating system: Ub

[2020-02-28 22:08] sjpadgett commented on #3036
This looks more like an issue with flex or height of iframe. Kind of strange happens at a breakpoint.

[2020-02-28 22:09] blarcmann commented on #2888
okay... I ran the command, and don't know what to do next.
what I got:

I'm new to docker, this is the first time I'm using it.

[2020-02-28 22:14] im-Amitto commented on #3036
@sjpadgett Thanks!

[2020-02-28 22:40] sjpadgett commented on #2888
Try `tail -n1000 openemr/public/themes/ajax_calendar_ie.css`
assuming docker installs to openemr root.

[2020-02-28 22:42] sjpadgett commented on #2888
woops wrong css. insert correct css file to replace ajax_calendar_ie.css

[2020-02-28 23:17] mdsupport commented on #2907
Not really.  Globals is a dumping ground which is why a search box was needed.  Rather modules should be using the zend modules manager (or something equivalent) to configure settings for that specific module with modules_settings table as datastore.  That will set the stage for draining Globals if existing collection is split into modules as resources permit.

[2020-02-28 23:31] blarcmann commented on #2888
@sjpadgett, I can find my changes there....

[2020-02-29 00:03] sjpadgett commented on #2888
What css file are you looking at?

[2020-02-29 00:11] im-Amitto commented on #2900
@arnabnaha you can try `NVM` it allows you to use multiple node version in your system.

[2020-02-29 00:26] sjpadgett commented on #2888
the file ajax_calendar_sass.scss compiles from core.scss whereby core gets included in all themes so your changes will show up in whatever theme css you are using. Though you can look at any theme to check.
Try  looking in openemr/public/themes/style_light.css though that file is very long and may be hard to spot. It's minified so it towards bottom.

[2020-02-29 00:38] blarcmann commented on #2888
'openemr/interface/themes/ajax_calendar_sass.scss'

[2020-02-29 00:42] blarcmann commented on #2888
I got something like token(very long), its not readable.

[2020-02-29 00:57] sjpadgett commented on #2888
I don't know how dev docker is setup as I don't use. However you can try
cd openemr
npm run build

Bring up openemr in browser and check again.

[2020-02-29 01:08] adad20 opened #3038 "Patient information is not coming while confirming"
### Describe the bug
When we try to add new patient the information we entered for the patient is not showing while confirming.

### To Reproduce
![Screenshot (72)](https://user-images.githubusercontent.com/55142272/75597894-0e64e200-5abe-11ea-8969-b9ab6653dde6.png)

### Steps to reproduce the behavior:
1. Add a patient
2. Click on create new patient

### Expected behavior
Information we entered m

[2020-02-29 01:10] im-Amitto commented on #3038
It shows a list of patients who are matching the patient you are trying to
add not the patient himself.

On Sat, 29 Feb, 2020, 6:38 am Aditya Tomar, <notifications@github.com>
wrote:

[2020-02-29 01:12] adad20 commented on #3038
Ohh my bad 😅

[2020-02-29 01:12] #3038 closed

[2020-02-29 01:17] blarcmann commented on #2888
It still not reflecting sir...

[2020-02-29 02:35] bradymiller commented on #3005
hi @im-Amitto , go for it :)

[2020-02-29 02:39] bradymiller commented on #2949
hi @thesmallstar , it is yours :)

[2020-02-29 03:02] stu01509 commented on #3002
Hi @bradymiller

Please assign this issue to me, Thank you.

[2020-02-29 03:05] bradymiller commented on #3002
hi @stu01509 , done :)

[2020-02-29 03:24] stu01509 commented on #3002
Hi @bradymiller,
Is this page?

![Untitled](https://user-images.githubusercontent.com/22230889/75600061-e4271a80-5ae5-11ea-9bb8-4edbb0b1b080.png)

[2020-02-29 03:35] bradymiller commented on #3002
hi @stu01509 , Not that page; it's the page when you open an encounter. And then there is a tabs menu showing the forms that are opened:

![image](https://user-images.githubusercontent.com/278968/75600186-4d187f00-5a61-11ea-81b9-ef8dd675eeb3.png)

![image](https://user-images.githubusercontent.com/278968/75600190-54d82380-5a61-11ea-8e8d-dfbc41c8267a.png)

![image](https://user-images.githubusercon

[2020-02-29 05:27] bradymiller commented on #2888
hi @blarcmann ,

This was not your fault since step 5 is wrong (that instruction set it linked to has become outdated by the recent bs4 project). I am going to remove the link to it after this post and we'll work on some better documentation there (we can figure it out here).

Some background on the easy dev docker. The easy dev docker is using black magic in order to allow testing in OpenEMR dire

[2020-02-29 05:39] bradymiller commented on #2888
regarding future documentation, there seems to be a neat feature in npm/gulp . I am noted it here now just so I don't forget. Lets first get @blarcmann back on track via above post. Then after that will look into apparent support for a command `npm run gulp-watch` that will watch the scss/css files and build/copy whenever they are changed. And it also needs to be run inside the docker. This will m

[2020-02-29 06:03] stu01509 commented on #3002
Hi @bradymiller

I've changed to Bootstrap Tab, How it looks like?
If ok, I will create a PR.
![Untitled](https://user-images.githubusercontent.com/22230889/75602026-4db22380-5afc-11ea-87ab-de008701127d.png)

[2020-02-29 06:08] bradymiller commented on #3002
looks great. did you also get the tabs at top (that Summary tab and also when open a form it creates new tabs near the Summary tab)?

[2020-02-29 06:11] stu01509 commented on #3002
Do you mean, when I open other tabs, such as Fee Sheet,
The Administrative and Clinical they should show on top?

[2020-02-29 06:15] bradymiller commented on #3002
![image](https://user-images.githubusercontent.com/278968/75602173-a390b800-5a77-11ea-8407-a72f7158747f.png)

Meant to point towards the tabs at the top when open lots of patient forms. In pic above, opened to the SOAP tab (which can close if click on X) and can go to the other tabs by clicking on them.

[2020-02-29 06:19] stu01509 commented on #3002
This is my change to the Fee Sheet page.
I need to add  Administrative and Clinical they show on top?
![Untitled](https://user-images.githubusercontent.com/22230889/75602249-5b68a880-5afe-11ea-8b30-c3a6ee5d1116.png)

[2020-02-29 06:20] bradymiller commented on #3002
Don't need to do that. The workflow is that people go to the Summary page to open a new form.

[2020-02-29 06:21] bradymiller commented on #3002
otherwise folks will likely lose track of what forms they are editing :)

[2020-02-29 06:22] stu01509 commented on #3002
Ok, So can I create the PR?

[2020-02-29 06:22] bradymiller commented on #3002
definitely. looking forward to seeing it.

[2020-02-29 06:32] mdsupport commented on #2907
@zerai @sjpadgett
Here is a little patch for [zend installer](https://github.com/openemr/openemr/blob/4bf33728fb248d3ceb77b49e303e3dcc46946e1b/interface/modules/zend_modules/module/Installer/view/installer/installer/configure.phtml#L196) that will invoke moduleConfig.php in custom modules if you decide to get away from use of globals table.  By using modules_setting table to store module config, y

[2020-02-29 07:32] #2961 closed

[2020-02-29 09:44] adad20 commented on #3001
@bradymiller I would like to take this issue.

[2020-02-29 12:11] thesmallstar commented on #2330
@bradymiller  I am thinking to start with this section(admin -> acl)
![image](https://user-images.githubusercontent.com/42006277/75607182-4863d180-5b1a-11ea-985f-65753ba9574a.png)
I have found the code that is to be changed and looks good to start the work.
Do you have any suggestions?

[2020-02-29 13:13] stu01509 commented on #2992
Hi @thesmallstar,

Are you fixed ISSUE_TEMPLATE duplicate order number issue?
The problem still exists.

[2020-02-29 13:14] thesmallstar commented on #2992
I have made the changes, will add it in the next pr.

[2020-02-29 13:15] stu01509 opened #3040 "Ofc Notes add empty note content."
### Describe the bug

Ofc Notes can add empty note content.

### To Reproduce

Steps to reproduce the behavior:
1. Go to miscellaneous.
2. Select Ofc Notes.
3. Click Office Notes (More)
4. Click Add New Note button.
5. See the empty note.

![Untitled](https://user-images.githubusercontent.com/22230889/75608165-1c574900-5b38-11ea-99ce-8eb9e9f9e4e6.png)

### Client configuration

- Browser: Google C

[2020-02-29 13:15] stu01509 commented on #2992
OK :)

[2020-02-29 17:18] bradymiller commented on #3001
hi @adad20 , it is yours :)

[2020-02-29 17:53] bradymiller commented on #2330
hi @thesmallstart ,

There are 3 places that use Smarty in OpenEMR each with different challenges (search for '/documents/smarty' to find them).

1. php-gacl module - this will likely be the easiest one and may already work with Smarty3

2. core OpenEMR - this will be moderate difficulty likely. these templates are in the /templates directory. there has been work in the past to remove all php tags

[2020-02-29 18:02] thesmallstar commented on #2330
Thank you, I will go through this. Will start with the testing for the easiest version with smarty 3, and then proceed ahead. I would love to do the twig converstion along with some new feature as a gsoc project, for the start I will focus on converting to smarty3 so that the functions are not deprecated.

[2020-02-29 18:04] bradymiller commented on #2330
Sounds good. Agree with going to smarty3 first (even if plan to go to twig) since that will get the code in much better shape for transition to twig.

[2020-02-29 18:20] mdsupport opened #3041 "Split optional features from current code into add-on modules"
### Problem

While OpenEMR has been good in adding new features, it has been left to individuals to search forums to figure out if the application can perform a specific function.  While this approach is natural to an developer, it must be frustrating for a physician and tragic if the practice simply did not know that the application has a useful feature they could use.

Within standard codebase t

[2020-02-29 18:26] #3002 closed

[2020-02-29 18:37] bradymiller opened #3042 "Remove jquery-ui dependency from TabsWrapper.php"
### Describe the problem

jquery-ui is used in src/Tabs/TabsWrapper.php

### Describe the solution you'd like

We are removing jquery-ui from codebase, so need to remove this dependency on jquery-ui.

This code is used for the tabs in the encounter gui:

![image](https://user-images.githubusercontent.com/278968/75613169-65c77a00-5adf-11ea-9103-d3132175a2b5.png)

[2020-02-29 19:08] mdsupport commented on #2330
For existing installations it is going to be a surprise since there were some forms in contrib that used templates.  Does anyone have an idea if 2 and 3 can coexist in the codebase?  It would be shame to waste effort in fixing and testing those if they are not used.

[2020-02-29 19:13] mdsupport commented on #2330
@thesmallstar Just want to make sure you are aware of [the developer notes](https://raw.githubusercontent.com/smarty-php/smarty/master/SMARTY_2_BC_NOTES.txt) to be the starting point for developing your conversion strategy.

[2020-02-29 20:39] thesmallstar commented on #2330
Yes thank you so much, I bookmarked it and [this](https://www.smarty.net/v3_overview).
For the twig conversion, I will look at its feasibility and reliability and let you know accordingly.

[2020-02-29 21:42] #3017 closed

[2020-02-29 21:50] im-Amitto commented on #3040
@stu01509 lol i read the `Ofc` as Of course and i was like what :laughing:

[2020-02-29 22:39] bradymiller commented on #3040
It's sort of like sending a ping. Like I am here for you , but have nothing to say :)

[2020-02-29 22:54] sunsetsystems commented on #2330
The calendar bypassed Smarty in places largely because it was too slow. It really needs a complete rewrite and is probably not a good candidate for templating.

[2020-02-29 23:30] im-Amitto commented on #3042
@bradymiller i would like to work on this one.

[2020-03-01 00:26] bradymiller commented on #3032
hi @im-Amitto ,
Unable to verify this (btw, this loom thing is great!) :
https://www.loom.com/share/6fda04aa767c4edfa481096c91a968fa

[2020-03-01 00:34] bradymiller commented on #3042
hi @im-Amitto , it is yours :)

[2020-03-01 01:29] im-Amitto commented on #3032
@im-Amitto Still the same for me, whenever i try to update a validation it set all validation for that form to 1.
I even did a re-setup.

[2020-03-01 01:32] im-Amitto commented on #3032
This scary stuff happens when i click on save changes button. I will try to debug it tomorrow.
![Screenshot from 2020-03-01 07-01-09](https://user-images.githubusercontent.com/29653282/75617827-7f71cb80-5b8a-11ea-9764-3faa8d783ff1.png)

[2020-03-01 02:13] bradymiller commented on #3032
Notices shouldn't be a problem. I'd have your php logging not even logs those to avoid the noise when debugging.

Because of the sheer number of POST variables in this form, ensure your max_input_vars in php.ini is set very high (3000 is the recommendation, but try to bump it up to even 5000 if that isn't working).

[2020-03-01 02:41] im-Amitto commented on #3032
Thanks! It worked.

On Sun, 1 Mar, 2020, 7:43 am Brady Miller, <notifications@github.com> wrote:

[2020-03-01 03:06] #3032 closed

[2020-03-01 04:09] #3042 closed

[2020-03-01 04:15] stu01509 commented on #3040
@im-Amitto  It's very fun XDD

[2020-03-01 05:01] #3008 closed

[2020-03-01 06:05] #3009 closed

[2020-03-01 06:50] stu01509 opened #3047 "Immunization Registry Code select width"
### Describe the bug

Immunization Registry Code select width overflow.

### To Reproduce

Steps to reproduce the behavior:
1. Go to the Report > Client
2. Click Immunization Registry
3. See the select option some content overflow.

![Untitled](https://user-images.githubusercontent.com/22230889/75621134-f9767480-5bcb-11ea-8329-23a5c08dcc0c.png)

### Client configuration

- Browser:  Google Chrome

[2020-03-01 08:36] #3040 closed

[2020-03-01 09:50] #2992 closed

[2020-03-01 11:14] usama-kabel opened #3052 "Merge Patient"
when I go to merge patient page and select patients to merge I have sql error in below screenshoot

![image](https://user-images.githubusercontent.com/7693823/75624586-5cf9a580-5bbe-11ea-985b-bf9b957cf892.png)

[2020-03-01 11:25] usama-kabel opened #3053 "Lag time between OpenEMR and TOTP mobile apps"
I install TOTP successfully and it works fine but now the mobile app generate code when I enter it within the time in mobile screen show not valid code

When I keep the code until the new one generated and enter the old one. the old one works fine and the new one generated already

How I can fix it ?!

[2020-03-01 12:50] im-Amitto commented on #3052
@usama-kabel  can you please specify the software version you are using.

[2020-03-01 18:13] stu01509 opened #3057 "ESLint in OpenEMR"
### Describe the problem

Hello All,

I have a suggestion, I consider OpenEMR is a huge project, We have HTML CSS javascript PHP a lot of languages in our project, Why not to use ESlint or define coding style to maintain code quality?

[2020-03-01 18:16] thesmallstar commented on #3057
Yes, also there are lot files without indentation, useless comments we can also remove that.

I guess sir @bradymiller  had not done it yet, so as to get maximum contributions and not to restrict developers 😅

[2020-03-01 19:13] mdsupport commented on #3041
To get an idea about efforts involved in switching to use of existing zend module installer to activate optional features, follow these steps:

1. Patch module installer as suggested [here](https://github.com/openemr/openemr/issues/2907#issuecomment-592907718).
2. To simulate composer's action, from your dev project root
`mkdir  ./interface/modules/custom_modules/oe-module-rxcui/`
2. Populate cont

[2020-03-01 19:43] #3047 closed

[2020-03-01 20:21] usama-kabel commented on #3052
OpenEMR v5.0.2(1)

[2020-03-01 20:51] stu01509 commented on #3052
Hi @usama-kabel,

I think you can listing Database, Web Server and runtime environment,
It will help to find the problem.

[2020-03-01 21:22] bradymiller commented on #3057
hi @stu01509 and @thesmallstar ,

We do have a travis check to attempt to keep things somewhat reasonable :)
https://github.com/openemr/openemr/blob/master/.travis.yml#L11
The rules it uses are here:
https://github.com/openemr/openemr/blob/master/ci/phpcs.xml

Prior to instituting this (along with 2 megacommits to convert the codebase at that time), the code styling was literally all over the plac

[2020-03-01 21:26] bradymiller commented on #3057
duh, just realized you mentioned a good tool in the title of the issue:
https://eslint.org/

Definitely feel free to incorporate this. Guessing will involve a megacommit to convert the codebase, then support in travis, then with instructions on how to support in PHPStorm (many developers use this; we actually get free licenses and I have been working on getting more since we have maxed out on thos

[2020-03-01 22:52] TychoDickerson commented on #3052
@stu01509 It is also not working in the appliance/.ova pre-package build

[2020-03-02 01:27] bradymiller commented on #2888
I updated step 5 in the CONTRIBUTING.md script with the correct method of updating theming files. It documents that need to clear web browser cache and then run the following command:
[code]

[2020-03-02 02:48] sunsetsystems commented on #3053
TOTP requires accurate timekeeping on the server. Assuming Linux, make sure ntp is installed and working.

[2020-03-02 03:35] bradymiller commented on #2330
Regarding calendar, can reassess after get it working with smarty3 with the work-around (ie. allowing to keep the php tags).

[2020-03-02 04:57] stu01509 commented on #3057
@thesmallstar

Yeah, I think  the ESLint is easily to import to our project,
We can follow the ESLint rules or custom rules, that javascript has the same coding style,
It well really helps to develop and maintain our code quality.

[2020-03-02 13:09] stephenwaite commented on #3052
hi @usama-kabel  since `keys` is a reserved word in mysql it needs to be escaped with back ticks like the below
[code]

[2020-03-02 16:49] pMononoke commented on #2907
I prefer a module configuration separate from global configuration, but it's unclear (no docs.) how custom module should use (write/read) the  module_config module_setting tables, or the usage of table.sql (same file for add module tables during installation and same file for remove module tables during module removing operations).
Is there any example (any docs. syntax guideline) in the codebase?

[2020-03-02 16:52] zerai commented on #2907
I prefer a module configuration separate from global configuration, but it's unclear (no docs.) how custom module should use (write/read) the module_config module_setting tables, or the usage of table.sql (same file for add module tables during installation and same file for remove module tables during module removing operations).
Is there any example (any docs. syntax guideline) in the codebase?

[2020-03-02 18:37] mdsupport commented on #2907
Until we noticed the link in your code, we didn't even know about the module guide.  And as shown by the steps outlined #3041, we now know except an empty bootstrap file existing code does not need anything for module management. So, as an example, your module will probably work without several files.  My personal preference would have been to put these guides in the code since they are meant for

[2020-03-02 19:42] stephenwaite commented on #2813
here's guidance for the ecqm
https://ecqi.healthit.gov/sites/default/files/eCQM-LogicAndGuidance-2019-05-v3-1.pdf

looks like hypertension screen is a nice one to start with
maybe seeing how we can revamp the classes in `library\classes\ClinicalTypes` to capture the cql queries in the logic and guidance

[2020-03-02 20:45] adunsulag commented on #2907
So we left the modules in their current location instead of moving them into the vendors directly to avoid breaking compatibility with existing installations.  Matrix had over 30 Zend modules built at the time and the Module Installer had to be changed heavily to look for modules in the vendors directory.  I'm in favor of putting modules in the vendor directory but the module installer will have t

[2020-03-02 21:34] stu01509 opened #3060 "Edit Global Setting expand button overflow"
### Describe the bug

Edit Global Setting expand button overflow.
Expand and Go to top button lost cursor pointer property.

### To Reproduce

Steps to reproduce the behavior:
1. Go Administrator
2. Click Globals
3. See expand button

![1](https://user-images.githubusercontent.com/22230889/75719896-8a566880-5d10-11ea-91ff-b6b89699b43b.png)

![2](https://user-images.githubusercontent.com/22230889/7

[2020-03-02 21:52] stu01509 opened #3061 "Facilities add and edit modal"
### Describe the bug

Facilities edit modal field and option alignment and overflow issue.
Facilities add modal button change to the independent button.

### To Reproduce

Steps to reproduce the behavior:
1. Go to Administrator
2. Click Clinic > Facilities
3. Click Facilities name or add new facility

![1](https://user-images.githubusercontent.com/22230889/75721113-becb2400-5d12-11ea-8520-d7c8163a

[2020-03-02 22:06] stu01509 opened #3062 "Calendar text link change to Bootstrap tabs."
### Describe the bug

Calendar text link change to Bootstrap tabs.

### To Reproduce

Steps to reproduce the behavior:
1. Go to Administrator > Clinic
2. Click Calendar
3. See all text links

![1](https://user-images.githubusercontent.com/22230889/75722348-018dfb80-5d15-11ea-9275-044a67c463ca.png)

### Client configuration

- Browser: Firefox 73.0.1（64 bit）
- Operating system: Windows 10

[2020-03-03 07:52] #3061 closed

[2020-03-03 15:52] mdsupport commented on #2907
Current state of codebase is like a sever with all supported extensions installed and mostly configured.  I see modules approach to deconstruct existing code into self contained components using approach taken by optional forms and its use of registry table.  I think composer's class map makes it possible to eliminate directory based structures.  Will try to put together a PR as a straw man.

[2020-03-03 17:19] skshahnawaz commented on #3062
Hello, I am Sk Shahnawaz , CSE UG Student from Jadavpur University, India. I have been working with bootstrap ui and css design for the past 3 years. I would like to take up this issue and solve it. Would you please assign me this?

[2020-03-03 17:32] bradymiller commented on #3062
hi @stu01509 , Let me know if you are working on this Issue (and in future to avoid this, may be best t state you will be working on an issue that you start, so I can assign it to you; I don't want to assume this though and assign you every issue you create :) )

hi @skshahnawaz and welcome to OpenEMR on github! I think @stu01509 is probably already working on this, but will see. I'll do a quick t

[2020-03-03 17:43] skshahnawaz commented on #3062
okay @bradymiller  I am also planning on taking up OpenEMR as my GSoC Organisation for 2020. Expecting more collaboration on the way

[2020-03-03 18:29] bradymiller opened #3065 "Toggle elements in Facility Add/Edit not consistent"
### Describe the bug

Different toggle elements being used in Facility Add and Facility Edit gui

### To Reproduce
![image](https://user-images.githubusercontent.com/278968/75807106-ad494280-5d39-11ea-92c1-69fb4c95b709.png)

![image](https://user-images.githubusercontent.com/278968/75807140-bb975e80-5d39-11ea-90f6-2f7bf3db6ca5.png)

Steps to reproduce the behavior:
1. Go to Administration->Clinic-

[2020-03-03 18:30] bradymiller commented on #3065
hi @skshahnawaz , you want this issue?

[2020-03-03 19:10] skshahnawaz commented on #3065
Yes , glad to take this up

[2020-03-03 19:12] skshahnawaz commented on #3065
Thanks for assigning this to me. Can I get a bit more details about this issue?

[2020-03-03 19:14] bradymiller commented on #3065
The Edit Facility modal is using the shiny nice looking toggles for the Billing Location and 3 other toggles below it, where the Add Facility modal is using just simple checkboxes for those elements.

[2020-03-03 19:21] bradymiller commented on #3065
Let me know if you need a Loom video for details. @im-Amitto has converted me into a [Loom](https://www.loom.com/) fanatic :)

[2020-03-03 19:42] skshahnawaz commented on #3065
I'm reviewing the codebase first. If any confusion arises, will let you know

[2020-03-03 21:57] skshahnawaz commented on #3065
Please review my PR
https://github.com/openemr/openemr/pull/3066

[2020-03-03 22:27] im-Amitto commented on #3060
@stu01509 can't reproduce the overflow one but they do need a hand cursor.

[2020-03-04 04:07] stu01509 commented on #3062
Hi @bradymiller, @skshahnawaz

I am working on this issue.

[2020-03-04 04:10] stu01509 commented on #3060
Hi @im-Amitto

I see you have been fixed overflow issue 10 days ago,
So I just add a hand cursor.

Thank you :)

[2020-03-04 05:53] #3060 closed

[2020-03-04 10:48] yashrajbothra opened #3068 "No Loading [UI - issue]"
### Describe the bug

No loading whenever new tab is open

### To Reproduce

Just Open any new tab and while its not loaded there is no loading
![image](https://user-images.githubusercontent.com/47683556/75872016-70fa0d00-5e33-11ea-8cbc-aa24c6672d05.png)

### Expected behavior
![image](https://user-images.githubusercontent.com/47683556/75871950-5889f280-5e33-11ea-8883-33123c9716a6.png)
There shoul

[2020-03-04 10:49] yashrajbothra commented on #3068
I would like to work on it if this is considerable issue 😄

[2020-03-04 13:49] stu01509 opened #3070 "Test table refine to use Bootstrap"
### Describe the bug

Test table still used legacy style and outdated syntax.

### To Reproduce

Steps to reproduce the behavior:
1. Go to the Administrator > Clinic
2. Click the Calendar
3. Choose Test system
4. See the table.

![1](https://user-images.githubusercontent.com/22230889/75885679-e7adff00-5e61-11ea-87ea-1ea5ab8d4f78.png)

### Client configuration

- Browser: Firefox 73.0.1（64 bit）
- O

[2020-03-04 13:53] stu01509 commented on #3070
Hi @bradymiller,

Please assign this issue for me.

[2020-03-04 13:57] sjpadgett commented on #3068
I changed this to New awhile back for some reason but simply can't remember
why:) May have been title was missing or was confusing.
I have no objection if you want to take this on. Just let me know.

On Wed, Mar 4, 2020 at 5:49 AM Yash Raj Bothra <notifications@github.com>
wrote:

--
Jerry Padgett
Consultant and Project Administrator for OpenEMR
Brandon, Florida 33511
sjpadgett@gmail.com <sjpadget

[2020-03-04 14:01] sjpadgett commented on #3070
@stu01509
I went ahead and gave to ya.
Also, thanks for all the excellent works you guys are doing. Makes a difference.

[2020-03-04 14:16] yashrajbothra commented on #3068
Okay I would like to fix it up 👍
IMO there should be a loader while the tab loads.

[2020-03-04 14:25] yashrajbothra opened #3071 "Unexpected Behaviour of NavBar [UI-issue]"
### Describe the bug

When Opening more than 5 tabs (locked) there is a horizontal scroll bar and after scrolling the Navbar is not Sticked.
![image](https://user-images.githubusercontent.com/47683556/75878133-22527000-5e3f-11ea-980a-436ac9b9b772.png)

### To Reproduce

Steps to reproduce the behavior:
1. Open more than 5 tabs
2. Lock all the tabs
3. Scroll side to the end
4. See error there is no

[2020-03-04 14:49] sjpadgett commented on #3068
@yashrajbothra
umm, be careful here. The tabs loading results from a menu action and either the script loads or not. Most always the called script will throw an error if issues with loading or will replace the tab title if completes. Monitoring the load is just a waste of cpu and adding any spinners will become annoying fast.

I will look at something you come up with but, I think adding anything

[2020-03-04 15:16] coolazeem opened #3072 "404 Not Found when accessing auth token for Rest API"
I get the 404 not found error when trying to get the auth token for Rest API. The setting is enabled in the Connectors section under Administration -> Global. It is currently hosted inside a private network on IP 192.168.0.236

[code]

[2020-03-04 15:51] sjpadgett opened #3073 "Covert XMLHttpRequest Include to Async/Await"
### Describe the bug
All scripts that use our Header class will load library/js/utility.js and dialog.js which has a test if interact.js or other dependencies are loaded. The routine to include library is function includeScript(url, async, type) which resides in library/dialog.js which currently has the async flag set false because before moving on with workflow, the intended library needs to alre

[2020-03-04 16:03] sjpadgett commented on #3071
@yashrajbothra
Pretty sure that 5 may not be the magic number depending on viewport size tabs are loading into.
Looks like locked tab width is falling between a breakpoint or script is not setup with a collapse navbar. Not sure this will be predictable.
So, unsure how you would attack but it's yours and will assign.

[2020-03-04 16:18] sjpadgett commented on #3072
How are you calling api? Also, make sure all your rewrite requirements are
met on server ie step 6 of OpenEMR install doc.

On Wed, Mar 4, 2020 at 10:16 AM Mohammed Azeem Shaikh <
notifications@github.com> wrote:

--
Jerry Padgett
Consultant and Project Administrator for OpenEMR
Brandon, Florida 33511
sjpadgett@gmail.com <sjpadgett@gmailo.com>

[2020-03-04 16:46] coolazeem commented on #3072
Calling it via Postman, also tried it via curl.
I'm not sure about which Step 6 you are referring to. I couldn't find it in the docs. Can you guide me to a link please?

[2020-03-04 16:57] sjpadgett commented on #3072
https://www.open-emr.org/wiki/index.php/OpenEMR_5.0.2_Linux_Installation
Also, I meant what are the calling parameters? Are you using any ports? etc....

[2020-03-04 18:27] coolazeem commented on #3072
Yes, have followed those steps
I am not using any ports. Calling it directly at http://192.168.0.236/openemr/apis/api/auth with below parameters
{
    "grant_type": "password",
    "username": "admin",
    "password": "pass",
    "scope": "site id"
}

[2020-03-04 18:40] mdsupport commented on #3071
@yashrajbothra It would be better to look at it from user's perspective.  If someone has 12 inch screen, having 5 tabs locked and usable is physically impossible.  However someone with 30 inch screen and readable font size would have no problem with same choice.

One of the options we have had in place for long time (PR #361) limits damage to tab header to a preset limit (8) using css.  In bootstr

[2020-03-04 18:48] yashrajbothra commented on #3071
I agree , Definetly only 5 tabs was bad idea.
I will look for another way and will discuss before implementing

[2020-03-04 18:48] sjpadgett commented on #3072
If authentication fails i'd expect a 401! A 404 looks like you're not making it to the dispatcher.
Try a get from browser to openemr/apis/dispatch.php or whatever your uri works out to be. Should get 401 back and if not, may be a file permission problem.

Or rewrite is not working.

[2020-03-04 19:01] coolazeem commented on #3072
Calling openemr/apis/dispatch.php returns a '401 Unauthorized' error as expected

[2020-03-04 19:08] sjpadgett commented on #3072
How about openemr/apis/api/auth? If rewrite is working i'd expect a 200. Though, we may have found a bug because even a get should return a 401.... yeah, another PR:)

[2020-03-04 19:22] coolazeem commented on #3072
'openemr/apis/api/auth' gives the '404 Not Found' which is what was occurring in the first place. How do I double check if rewrite is working (_just to be absolutely sure_)?

[2020-03-04 19:24] bradymiller commented on #3072
for debugging purposes, you can also try your calls on one of the development demos (their apis are open and working) to ensure it's not something you are doing wrong on the calling side of things:
https://www.open-emr.org/wiki/index.php/Development_Demo#Daily_Build_Development_Demos

[2020-03-04 19:29] skshahnawaz opened #3075 "Make the Add Facility modal and Edit Facility modal consistent"
### Describe the bug

Make the Add Facility modal and Edit Facility modal responsive and consistent.

[2020-03-04 19:29] skshahnawaz commented on #3075
@bradymiller  Please assign this issue to me and suggest if any edits is/are needed or not

[2020-03-04 19:30] bradymiller commented on #3075
hi @skshahnawaz , it is yours :)

[2020-03-04 19:30] skshahnawaz commented on #3075
Thanks, I'll fix it soon. Working on it

[2020-03-04 19:34] sjpadgett commented on #3072
Yep, you can prove it off your server by using as Brady suggests. Pretty sure rewrite is not working on your server though, for some reason.
Only thing I can suggest is to ensure rewrite module is being installed. From command line php -m gives a clue. Or ensure module is included in your server config.
Do web search for info....

[2020-03-04 19:40] coolazeem commented on #3072
Running php -m returns below response

[code]

[2020-03-04 19:45] coolazeem commented on #3072
That could very well be a possibility. I tried calling the Alpine 3.11 demo server API and get the 'Invalid URL' response with a 200 OK status. Screenshot - [https://i.imgur.com/sItUPEx.png](url)

[2020-03-04 19:49] coolazeem commented on #3072
**Changing the scope to 'default' returned the access_token correctly.**

[2020-03-04 19:54] bradymiller commented on #3072
on the call to the demo server, use:
1. https
2. change scope to 'default'

[2020-03-04 19:54] bradymiller commented on #3072
oops, just noted your new post. disregard mine above :)

[2020-03-04 19:58] sjpadgett commented on #3072
Yep, just do a web search on how to enable rewrite mod or check for include.
One way from command line is sudo a2enmod rewrite

[2020-03-05 07:23] #3062 closed

[2020-03-05 07:41] bradymiller opened #3077 "Remove jquery-ui from External Import gui"
### Describe the problem

jquery-ui is being removed from codebase

### Describe the solution you'd like

The External Import gui at Administration->Coding->'External Data Loads' has a gui based on jquery-ui. Need to remove the reliance of jquery-ui from this gui. Script is at interface/code_systems/dataloads_ajax.php

[2020-03-05 07:44] edcaracas commented on #2670
Hi, can i work on this?

[2020-03-05 07:51] bradymiller opened #3078 "Add support for expand/collapse specific forms in the encounter summary gui"
### Describe the bug

Add back ability to expand/collapse specific forms in the encounter summary gui.

### Expected Behavior
![image](https://user-images.githubusercontent.com/278968/75959258-b7229100-5e72-11ea-8096-0bb68069f727.png)

In the gui above, there is currently a mechanism to support expand/collapse of all the forms at once. However, also need to have a mechanism to support expand/colla

[2020-03-05 07:57] bradymiller commented on #2670
hi @edcaracas , definitely. it is yours :)

[2020-03-05 08:12] edcaracas commented on #2670
Do you have any idea on how to should be arrange into the form?
It could be a checkbox input and a file input.
![Screen Shot 2020-03-05 at 02 09 41](https://user-images.githubusercontent.com/6628306/75960981-b3006e80-5e86-11ea-87db-8971c6020a12.png)

[2020-03-05 09:37] stu01509 commented on #3077
Hi @bradymiller,

I want to work on this issue, Please assign me.
Thanks.

[2020-03-05 10:35] stu01509 opened #3081 "Categories Details Button and Confirm form"
### Describe the bug

Categories Details button style.
Confirm form not used Bootstrap theme.

### To Reproduce

Steps to reproduce the behavior:
1. Go to the Administrator > Clinic
2. Click the Calendar
3. Choose Categories
4. See the go button and click it.
5. See the confirm form.

![1](https://user-images.githubusercontent.com/22230889/75973343-f357ff00-5f0f-11ea-88f8-674f6c74c7c9.png)

![2](h

[2020-03-05 10:36] stu01509 commented on #3081
Hi @bradymiller, @sjpadgett

Please assign this issue for me.

[2020-03-05 10:37] im-Amitto commented on #3077
@stu01509 Actually, i am working on this one but i have't done much changes so if you want to pick it, go with it.

[2020-03-05 11:55] stu01509 commented on #3077
Hi @im-Amitto

I didn't notice you are working on this issue, Sorry.

[2020-03-05 12:03] skshahnawaz commented on #3075
@bradymiller please check

[2020-03-05 12:12] edcaracas commented on #2670
By "certificate exists" you mean default certificates? ej. "/etc/ssl/certs/ca-certificates.crt"

[2020-03-05 17:17] usama-kabel commented on #3053
@sunsetsystems  thanks for your support.

[2020-03-05 17:17] #3053 closed

[2020-03-05 17:24] #3075 closed

[2020-03-05 18:36] tywrenn commented on #2670
@edcaracas Any way that makes it easier for system admins to setup OpenEMR is the best way to do this which would be having a checkbox that tells the setup to use SSL for mysql and then the setup shows file inputs to upload the SSL info to the proper location. @bradymiller I'm not sure if file inputs for SSL causes issues regarding security so correct me if i'm wrong.

[2020-03-05 19:41] coolazeem commented on #3072
After enabling mod rewrite, it still gave the same error. Finally, was able to access the API by updating 'AllowOverride All' in the Apache configuration file. It works as expected now. Is this an expected solution and something which works for production environments?
Thank you for the help in debugging this.

[2020-03-05 20:33] sjpadgett commented on #3072
Well yes and no:) AllowOverride FileInfo is an older option which allow all options from htaccess file where All doesn't ie MultiViews etc.
Now we are mostly on apache 2.4 we probably need to let go of FileInfo. A better option might be:
AllowOverride None
AllowOverrideList RewriteEngine RewriteRule

But not sure how that'd effect our other REST API's
Anyway, FileInfo still should work but, for no

[2020-03-05 20:56] skshahnawaz commented on #3065
Please close this issue now since it has been already fixed @bradymiller

[2020-03-05 20:59] skshahnawaz opened #3083 "Replace Facility form alerts by Bootstrap Alerts"
### Describe the bug

In general popups interrupt the flow but JS alerts in a popup make it worse

Replace the normal js alerts by Bootstrap Alerts on Facilities forms

[2020-03-05 21:00] skshahnawaz commented on #3083
Please assign this issue to me @sjpadgett

[2020-03-05 23:03] tywrenn opened #3085 "BS4 Fixes Needed"
### Describe the bug

After multiple revisions to the encounter tab, I believe there still are improvements that need to be addressed here. Also some BS4 code fixes are needed.

Current Issues Found:
- Encounter top isn't using BS4 colors (also it looks like it needs a little padding).
- Encounter top isn't sizing correctly and is showing a scrollbar on my end
- The encounter page has buttons that

[2020-03-05 23:53] im-Amitto commented on #3065
Adding info for future reference.
Fixed in d5059f7954d5a1a425bd279d4d0db625b8fa6995 related to #3066 :smile:
Note: `.DS_Store` has also been added to `.gitignore` along with the fix

[2020-03-06 00:39] im-Amitto commented on #3077
@stu01509 I haven't done much changes to it so you can pick this one :smile: . Anyway i am planning to work on something else.

[2020-03-06 00:46] im-Amitto commented on #3071
@yashrajbothra
Referencing some implementation you can use
http://embed.plnkr.co/4sNttlcmG6OXqE9tbzzS/
https://embed.plnkr.co/1p4KwR/

[2020-03-06 00:49] im-Amitto commented on #3070
@bradymiller @sjpadgett
I'm not sure but i think this issue is simliar to #2949

[2020-03-06 01:15] edcaracas commented on #2670
@tywrenn Encrypted connection are handled by default for the client(MySQL prior to versions 5.7.3): https://dev.mysql.com/doc/refman/5.7/en/using-encrypted-connections.html#using-encrypted-connections-client-side-configuration

This resolves the first two mentions of the issue:
[code]

For this mention:
`- If the certificate is invalid or cannot be read (not absent, but any other error), configura

[2020-03-06 01:35] sjpadgett commented on #3085
go for it tyler..

[2020-03-06 02:40] bradymiller commented on #3077
sounds like @stu01509 wins the award of getting to work on this issue :)

[2020-03-06 02:43] bradymiller commented on #3081
@stu01509 , it's yours :)

[2020-03-06 02:58] #3065 closed

[2020-03-06 03:12] bradymiller commented on #3070
#2949 will be more extensive since will involve migrating it outside smarty into it's own script (which can then be a building block to place other Diagnostics like stuff).

[2020-03-06 04:25] #3078 closed

[2020-03-06 04:59] #3070 closed

[2020-03-06 07:22] #3011 closed

[2020-03-06 08:52] bradymiller commented on #2670
hi @edcaracas and @tywrenn ,

To get an idea how this works in OpenEMR, check out the following code:
below is where it checks for existence of the sites/default/documents/certificates/mysql-ca file (if, so then it will use ssl)
https://github.com/openemr/openemr/blob/master/library/sql.inc#L33-L40

below is where it then decides whether to also support client side certificate/key if the sites/def

[2020-03-06 09:18] #568 closed

[2020-03-06 09:40] bradymiller commented on #3068
hi, I'm for spinners. Figure if I'm busy seeing patients and doing needless data entry that the software should be busy too :) (ie. misery loves company or something like that)

[2020-03-06 11:35] zerai opened #3090 "Add composer version directive to v_5_0_2_1 patch"
Hi @sjpadgett

The composer file of this patch should contain the version directive

[code]

installation of  smsfax module Version 2 should fail on this openemr patched version, but without the "version" directive modules conflict doesn't work.

[2020-03-06 13:47] sraghuvanshi opened #3091 "Search icon dislocated from it's place (minor UI issue)"
### Describe the bug

A very minor but considerable UI issue in the search bar. The search icon is a little dislocated from its place.

### To Reproduce
It is clearly noticeable on the top right corner of the UI.
![Screenshot from 2020-03-06 19-10-22](https://user-images.githubusercontent.com/48951339/76088713-819ab680-5fde-11ea-9813-b9d9e784bf4f.png)

### Expected behavior
The icon should be pres

[2020-03-06 14:23] sjpadgett commented on #3090
Hi @zerai
Thanks, but patch two will cover as I added the conflict to the 5.0.2 rel branch.
We need/will  get two out soon.

[2020-03-06 14:29] yashrajbothra commented on #3091
Pretty Unsure why i cant see that in my system.
![image](https://user-images.githubusercontent.com/47683556/76092071-c88baa80-5fe4-11ea-859e-8c1e96375dfc.png)

Did you run all the scripts well ?

[2020-03-06 14:55] sjpadgett commented on #3091
Hi guys.
My PR fixed for FF but breaks on Chrome!!
Take a look at PR #3086 as it prob has something to do with margin class or converting to rem in style class.
I never understood why that input needs to expand or has rounded corners. So, do what you want with it,.
Will assign to ya @sraghuvanshi and thanks.

[2020-03-06 15:02] sraghuvanshi commented on #3091
@sjpadgett Sure, sir, I'm working on it.

[2020-03-06 15:36] sjpadgett commented on #3068
Okay but, I promise, next year we'll be removing! It'd be okay if the spinner was turned off on load errors but will instead result in a spinner running until user closes tag. Where they will immediately try again and so forth. Result will be aggravated user on forum or issues....

Then again, i'm old school and still don't understand why the kids today like dark themes so much:)

[2020-03-06 15:56] im-Amitto opened #3092 "Eye exam creates problem for other innocent forms"
### Describe the bug
All functionalities on encounter summary page will stop working if you add an eye exam form.

Most probably the dialog.js is being included twice in the same page.
I did a little debug and `interface/forms/eye_mag/report.php:255` `SetupHeader()` is responsible of the behaviour.

### To Reproduce
Steps to reproduce the behavior:
1. Add a eye exam report on patient encounter

![

[2020-03-06 16:02] im-Amitto commented on #3091
@sjpadgett The search icon is not that big in size so i think we can place them like shown below, that way it will simplify the things and i don't think this type of placement will break in any browser.
![Screenshot from 2020-03-06 21-30-07](https://user-images.githubusercontent.com/29653282/76099829-b9f7c000-5ff1-11ea-8189-a245257cad78.png)

[2020-03-06 16:26] sjpadgett commented on #3091
That's fine but need to be sure that the button stays with the input on sm breakpoints. ie Don't want button separated/new line from input on small viewports...

Then again while we are doing this why not just make it a normal search, lose expand and give it a min-width.
Unless someone can give a good reason the darn thing needs to expand. Even on mobile,

[2020-03-06 16:45] sjpadgett commented on #3092
Hint: Header::setupHeader(['no_dialog'])
Also, wouldn't hurt to wrapper function dlgopen() with conditional to test if function is already in scope.

[2020-03-06 16:50] yashrajbothra commented on #3092
I also saw this one and was just about to open the issue. I would like to work on it if you are not working on this one.😀

[2020-03-06 16:53] sjpadgett commented on #3092
@yashrajbothra Yours my friend.

[2020-03-06 18:56] #3091 closed

[2020-03-06 19:04] sjpadgett commented on #3091
thanks for issue and fix.

[2020-03-06 19:27] #3006 closed

[2020-03-06 19:54] yashrajbothra opened #3095 "Remove tab not Working"
### Describe the bug

When remove tab button is pressed it throws error

### To Reproduce

Steps to reproduce the behavior:
1. Hover on  'Fees'
2. Click on 'Payment'
3. DO step-1 -> Click on 'Fees Sheet'
4. Click on 'Remove Tab'
5. See error

![image](https://user-images.githubusercontent.com/47683556/76117336-a3616100-6011-11ea-8464-573fcd1a5041.png)

### Expected behavior

IMO there should not b

[2020-03-06 20:03] sjpadgett commented on #3095
Somebody just worked on this form I think. Anyway it's yours.

[2020-03-06 20:06] #3092 closed

[2020-03-06 20:15] im-Amitto commented on #3095
@yashrajbothra

File `/home/heisenbrerg/Documents/openemr/src/Tabs/TabsWrapper.php:202`
[code]

[2020-03-06 20:17] im-Amitto commented on #3095
I fixed it day before yesterday and then forgot about o create a PR/ssue :laughing:

[2020-03-06 20:19] sjpadgett commented on #3095
@im-Amitto umm, that's no excuse! :)

[2020-03-06 20:26] im-Amitto commented on #3095
@sjpadgett I will work with more active mind from now.
Thanks @yashrajbothra  :)

[2020-03-06 21:29] yashrajbothra opened #3097 "Incorrect Heading"
### Describe the bug

Incorrect heading should be Add mode instead edit

### To Reproduce
![image](https://user-images.githubusercontent.com/47683556/76123672-263ce880-601f-11ea-94d1-1cbd0f0a0149.png)

Steps to reproduce the behavior:
1. Hove on  'Procedures'
2. Click on 'Configuration'
3. Click on 'Add Top Level'
4. See error

### Expected behavior

![image](https://user-images.githubusercontent.

[2020-03-06 21:41] sjpadgett commented on #3097
Sure..

[2020-03-07 03:48] stu01509 opened #3099 "Refine Forms Administration table"
### Describe the bug

Forms Administration used legacy style and outdated syntax.

### To Reproduce

Steps to reproduce the behavior:
1. Choose Administrator > Forms
2. Click Forms Administration
3. See the table

![Untitled](https://user-images.githubusercontent.com/22230889/76136150-6d4fcb80-6069-11ea-88f2-e5ebb56433d4.png)

### Client configuration

- Browser: Firefox 73.0.1（64 bit）
- Operating

[2020-03-07 04:43] #3095 closed

[2020-03-07 04:51] #3097 closed

[2020-03-07 05:01] bradymiller commented on #3099
I'm not going to miss that gui :)

[2020-03-07 05:06] im-Amitto commented on #3099
Finally someone who see that GUI as an issue :wink:

[2020-03-07 05:54] #3081 closed

[2020-03-07 06:35] stu01509 commented on #3099
I think after during this summer,
The OpenEMR UI will be very Beautiful XDD

[2020-03-07 06:36] stu01509 commented on #3099
Hi @bradymiller,

Please assign this issue to me.

[2020-03-07 06:38] im-Amitto commented on #3099
With that speed of yours we wont be needing the entire summer ✌️.

[2020-03-07 06:54] bradymiller commented on #3099
hi @stu01509 , it is yours :)

[2020-03-07 07:29] #3016 closed

[2020-03-07 08:03] yashrajbothra opened #3100 "Add new patient not working"
### Describe the bug

"Click Here to add a new patient." link not redirecting to the add new patient page.

### To Reproduce
![image](https://user-images.githubusercontent.com/47683556/76139536-d2f68480-6076-11ea-84ff-6dda61d100b7.png)

Steps to reproduce the behavior:
1. Hover on  'Administration/Patients'
2. Click on 'Merge Patient'
3. Click on Input feild next to target patient
4. Search any pa

[2020-03-07 08:06] bradymiller opened #3101 "php8 fun"
### Describe the bug

![image](https://user-images.githubusercontent.com/278968/76139676-67c19980-6007-11ea-9898-dd07a9129fa9.png)

PHP8-dev travis syntax checker is noting the following issues:
[code]

More about the above deprecated message can be found in the PHP8 upgrade doc:
https://github.com/php/php-src/blob/master/UPGRADING#L145-L151

Feel free to fix them and push a PR to see if the PHP8-

[2020-03-07 08:56] bradymiller commented on #3100
Hi @yashrajbothra ,

It's yours :)

Agree that this should be fixed, but it looks like that modal can produce different messages for when search is empty. For example, here is how it looks in the Reports->Financial->Pat Ledger

![image](https://user-images.githubusercontent.com/278968/76140336-5cbe3780-600e-11ea-8a32-e46552151aef.png)

I would have the modal do the same thing in the Merge patient

[2020-03-07 09:01] bradymiller commented on #3100
@yashrajbothra , Here is a place though in the calendar where we should be supporting the Add New Patient link. Note it almost works except that it takes over the Calendar tab. Like you suggested above it should open in the separate tab that is used when entering in new patient.
![image](https://user-images.githubusercontent.com/278968/76140424-20d7a200-600f-11ea-9103-51a0845e2381.png)

[2020-03-07 09:05] stu01509 commented on #3077
Hi @bradymiller,

This jquery-UI modal, I will use the Bootstrap modal to replace it.
Is this a good idea?

![image](https://user-images.githubusercontent.com/22230889/76140484-d64d3880-6095-11ea-991f-18992850d459.png)

[2020-03-07 09:09] bradymiller commented on #3077
hi @stu01509 , For the modal, rec considering using the dlgopen() way of making a modal in OpenEMR; search the codebase for the multitude of ways that it is used.

[2020-03-07 09:13] bradymiller opened #3102 "PHP8 Planning"
The issue will be to track planning for PHP8. Here is the most up to date place with the PHP8 Upgrading doc comes from:
https://github.com/php/php-src/blob/master/UPGRADING

[2020-03-07 09:15] bradymiller commented on #3102
Oh goodness, get ready for log craziness:
https://github.com/php/php-src/blob/master/UPGRADING#L111
(this issue is what fills up the log when notices are on; now it will be a warning!!)

[2020-03-07 09:28] yashrajbothra commented on #3100
I will take care of both senerio's 👍. Can fix both scene in one PR ?

[2020-03-07 09:29] bradymiller commented on #3100
Definitely ok to fix both in one PR. thanks! -brady

[2020-03-07 12:13] stu01509 commented on #3077
OK, Thanks for your tips, I will try to use dlgopen to making a modal.

[2020-03-07 13:29] im-Amitto commented on #3101
@bradymiller can i pick it up?

[2020-03-07 13:45] yashrajbothra commented on #3100
Hii Sir @bradymiller  should i open "Add Patient" page in another dialog box on top of this or should we close all dialog box and open another which is not so cool. Any other suggestion will be fruitful. 😃

[2020-03-07 14:54] stu01509 opened #3104 "Refine install code set table form"
### Describe the bug

Install code set table form used legacy style and outdated syntax.

### To Reproduce

Steps to reproduce the behavior:
1. Choose the Administrator > Coding
2. Click Native Data Loads
3. See the table form

![image](https://user-images.githubusercontent.com/22230889/76145667-88045d80-60c6-11ea-856d-56672d300b7b.png)

### Client configuration

- Browser: Firefox 73.0.1（64 bit）

[2020-03-07 14:55] stu01509 commented on #3104
Hi @bradymiller sir

Please assign this issue to me, Thanks.

[2020-03-07 16:00] sjpadgett commented on #3104
Thank you.

[2020-03-07 16:04] sjpadgett commented on #3101
Sure, i'll go ahead and assign for ya.

[2020-03-07 17:01] sjpadgett commented on #3100
Hi @yashrajbothra
First as a fyi, if you leave dlgopen() winname param(second param) empty and call inside another dlgopen() new dialog will auto cascade. You only need to make sure that opener depend is included in opening dialog.

Second, i'm kind of mixed opine as to workflow here. Currently, once add new is selected, a new Add/Search patient tab is opened. This is reasonable imo with most all

[2020-03-07 17:13] thesmallstar opened #3105 "UI: Add Facility popup button size and positions"
The Size can be reduced, and position should be at the bottom.
![image](https://user-images.githubusercontent.com/42006277/76147686-03fda600-60c5-11ea-8f79-1030a0bca2fb.png)

Can I work on this?

[2020-03-07 17:15] thesmallstar opened #3106 "UI: Document template page missing BS"
BS tags are missing on the document template page.
![image](https://user-images.githubusercontent.com/42006277/76147741-62c31f80-60c5-11ea-837e-58bc4749e132.png)

Can I work on this?

[2020-03-07 17:23] thesmallstar opened #3107 "UI: Missing styles in Multi language tool"
All tabs have missing style:
![image](https://user-images.githubusercontent.com/42006277/76147842-5e4b3680-60c6-11ea-8d70-702afa8cb623.png)

Can I work on this?

[2020-03-07 18:00] bradymiller commented on #3105
hi @thesmallstar , It's yours :)
Also suggest that should make the Edit Facility modal consistent with the changes.

I'm not sure why for some forms we have buttons at the top and some at the bottom.
@tywrenn , should we be choosing one or the other in the future for consistency?

[2020-03-07 18:02] bradymiller commented on #3106
hi @thesmallstar , It's yours :)

[2020-03-07 18:04] bradymiller commented on #3107
hi @thesmallstar , It's yours :)

[2020-03-07 18:09] sjpadgett commented on #3105
This is going to depend on the form imo. Sometimes it is easier for them to be at top. My preference is long forms has both.

[2020-03-07 21:09] im-Amitto opened #3109 "Expand/Collapse all not doing what is expected of them on encounter page(my fault)"
### Describe the bug
Expand/Collapse all not doing what is expected of them on encounter page.

### To Reproduce
https://www.loom.com/share/051965df4c064af98e3f0c0868e14a80

### Expected behavior
https://www.loom.com/share/f386c90fd6c74c87b110ee750e981fea

- Browser: Chrome
- Operating system: Ubuntu

[2020-03-07 21:22] im-Amitto opened #3110 "Uneven body top"
### Describe the bug

Body top is set to `col-sm-2` because of which the rest of the space `col-sm-8` is left as margin which should't be the case.

### To Reproduce
Shrink your screen size or zoom in on the page.
![Screenshot from 2020-03-08 02-47-30](https://user-images.githubusercontent.com/29653282/76152642-c0686380-60e7-11ea-9740-132a3dc2c854.png)
![Screenshot from 2020-03-08 02-47-45](https:

[2020-03-07 22:03] im-Amitto opened #3113 "Drug Inventory UI"
### Describe the bug

write concise description of what the bug is.
![Screenshot from 2020-03-08 03-32-16](https://user-images.githubusercontent.com/29653282/76153115-8f8b2d00-60ed-11ea-8aea-5bb9a752a317.png)

### Client configuration

- Browser: Chrome
- Operating system: Linux Ubuntu 18.04

**Tags:** `good first issue`, `UI`

[2020-03-07 22:18] #3109 closed

[2020-03-07 22:18] im-Amitto opened #3114 "Misleading Add/Edit Drug Form"
### Describe the bug

Misleading Button on add/edit drug form

### To Reproduce
Open add/edit druf form
a. Delete button appears while adding a drug which should not be the case
b. Submit buttom name should be dynamic based on the action

Currently buttons shown below are fixed on both add/edit drug form.
![Screenshot from 2020-03-08 03-34-21](https://user-images.githubusercontent.com/29653282/761

[2020-03-07 22:25] im-Amitto commented on #3113
@bradymiller I was't planning of picking this up but i guess gonna do it now :smile:

[2020-03-07 22:28] bradymiller commented on #3113
lol, saw the blank drug names and assumed it was related to the PR

On Sat, Mar 7, 2020, 2:25 PM Amit Meena <notifications@github.com> wrote:

[2020-03-07 22:55] bradymiller commented on #3113
@im-Amitto , just let me know if you want me to unassign you since you got lots of other stuff going on.

[2020-03-08 02:13] #3110 closed

[2020-03-08 05:06] im-Amitto commented on #3113
It's just a table so will not take much effort :).

[2020-03-08 05:49] #3114 closed

[2020-03-08 07:30] #3077 closed

[2020-03-08 09:15] bradymiller opened #3118 "php notice removals"
PHP 8 will be migrating several key notices to warnings, which will end up inundating the log. So, it if finally time for the OpenEMR project to rid itself of its PHP NOTICE demons. :imp:

NOTE this is not an issue for one developer and rec only doing a couple at a time. Meant to be something that:
1. A new developer (take on a couple notices for early PRs) can learn the basics.
2. A experienced d

[2020-03-08 09:42] bradymiller commented on #3102
Made an issue to start the long road of removing php notices:
https://github.com/openemr/openemr/issues/3118

[2020-03-08 14:48] adad20 opened #3122 "UI issues in some areas"
### Describe the bug
Text color is not fit as per the background which make the alert difficult to read.
write concise description of what the bug is.

### To Reproduce
While logging in type wrong password.
While creating new payment.

### Actual behavior
![Screenshot (79)](https://user-images.githubusercontent.com/55142272/76165055-d6266900-6179-11ea-8f98-65767b8fa148.png)

![Screenshot (80)](htt

[2020-03-08 14:59] im-Amitto commented on #3122
Please don't ignore the client configuration part, at least the browser part. Also, login page seems to be browser specific issue.

[2020-03-08 18:34] #3113 closed

[2020-03-08 20:29] #3104 closed

[2020-03-08 20:47] bradymiller commented on #3122
hi @adad20 , Good point. Part of converting to bs4 is fixing color clashing; @tywrenn did a lot of this during the prior bs4 conversion, but there's still lots left to do :)

[2020-03-08 21:07] im-Amitto opened #3125 "Drug Inventory Group Lot Numbers"
### Describe the bug
One medicine can have multiple entries in the table because of multiple lot numbers

**Previous Implementation :**
When a drug is repeated with different lot number, leave the common fields blank and custom sort function take surity that all lot relaed to a drug move together.
![Screenshot from 2020-03-09 02-30-01](https://user-images.githubusercontent.com/29653282/76171126-f3

[2020-03-09 00:23] #3125 closed

[2020-03-09 10:34] stu01509 opened #3129 "UI Issue Report - Cash Receipts by Provider"
### Describe the bug

UI Issue Report Cash Receipts by Provider form field alignment.

### To Reproduce

Steps to reproduce the behavior:
1. Choose Report > Financial
2. Click Cash Rec
3. See the form field

![image](https://user-images.githubusercontent.com/22230889/76205075-7e990380-6234-11ea-9137-94f7f75a7930.png)

### Client configuration

- Browser: Firefox 73.0.1（64 bit）
- Operating system:

[2020-03-09 10:45] stu01509 opened #3130 "Procedures Load Compendium lost title"
### Describe the bug

Procedures Load Compendium lost the title.

### To Reproduce

Steps to reproduce the behavior:
1. Choose the procedures
2. Click Load Compendium

![image](https://user-images.githubusercontent.com/22230889/76205904-1519f480-6236-11ea-82c0-dbe823555256.png)

### Client configuration

- Browser: Firefox 73.0.1（64 bit）
- Operating system: Windows 10

[2020-03-09 11:01] yashrajbothra commented on #3130
Are you sure or it should `Load Compendium`

[2020-03-09 11:04] stu01509 commented on #3130
Thanks for your noticed :)

[2020-03-09 12:22] stu01509 commented on #3129
Hi @bradymiller, @sjpadgett

Please assign this issue to me.

[2020-03-09 12:22] stu01509 commented on #3130
Hi @bradymiller, @sjpadgett

Please assign this issue to me.

[2020-03-09 13:25] prondubuisi opened #3131 "Create Patient Encounter API"
### Describe the problem

Write an endpoint for uploading patient encounter

Write concise description of what feature you want
create a
POST /api/patient/:pid/encounter API endpoint

[2020-03-09 13:27] prondubuisi commented on #3131
@bradymiller How do I proceed any pointers

[2020-03-09 16:12] im-Amitto commented on #3130
Everyone is quite active :)

[2020-03-10 00:54] bradymiller commented on #3129
hi @stu01509 , it's yours :)

[2020-03-10 00:55] bradymiller commented on #3130
hi @stu01509 , done :)

[2020-03-10 03:01] bradymiller commented on #3131
hi @prondubuisi ,

To get an idea how the api works, rec following how the `POST /api/patient/` endpoint works, which will create a new patient with the posted data (note the route sends it the the applicable Controller that then send it to the applicable Service):
https://github.com/openemr/openemr/blob/master/_rest_routes.inc.php#L74-L78
https://github.com/openemr/openemr/blob/master/src/RestCon

[2020-03-10 13:12] adad20 commented on #3122
hi @bradymiller please assign me in this I will work on it.
And also for issue #3001 there was some issue in my PR I will open the new one.

[2020-03-10 13:35] usama-kabel commented on #2890
review this issue
https://github.com/openemr/openemr/issues/3053

[2020-03-10 15:47] bradymiller commented on #3122
hi @adad20 , it's yours :)

[2020-03-10 16:53] #3105 closed

[2020-03-10 17:17] mdsupport opened #3135 "Multiple Fee Sheet tabs for encounter"
### Problem
Selecting Fees -> Fee Sheet multiple times opens multiple tabs of Fee Sheet in encounter tab.

### Expected behavior
Unlike other `forms`, an encounter should have one and only one fee sheet tab open at any given time.  Options:
1. `Fee Sheet` selection should be disabled/hidden if the tab is already open.
OR
2. Subsequent clicks on `Fee Sheet` should result in focus on active `Fee She

[2020-03-10 17:36] mdsupport opened #3136 "execute_background_services"
### Problem
Even without any active background services, main tabs continues to run `execute_background_services.php` every minute.
### Expected behavior
1. Background service configuration activation changes are not frequent.  During its initialization code the main frame should check for number of active services and decide if execute_background_services should be included in timer for that sess

[2020-03-10 17:44] kchapple opened #3137 "Latest Build Has Title Bar Styling issues"
### Describe the bug

On my latest build (I could have missed something) there are some styling issues on the header. The SVG for the logo appears in Inspector to have a 287px by 287px height and width.

### To Reproduce
Install OpenEMR master from source, build composer and npm.

![Screen Shot 2020-03-10 at 1 33 10 PM](https://user-images.githubusercontent.com/271809/76342233-a3dd4e80-62d4-11ea-9

[2020-03-10 17:44] mdsupport opened #3138 "Timer not aware of focus"
### Problem
Timer based scripts such as dated_reminders and background_services continue to be called even when user moves away from main window.
### Expected behavior
Main frame should listen to window focus event and suspend/activate timer accordingly.
Expected downside is returning user will have a few seconds of delay before message counter gets updated.

[2020-03-10 17:48] bradymiller commented on #3137
Ensure you clear cache (if 5.0.2 and dev are used in same browser without clear cache, some weird things can happen)
Are you seeing same thing on the online dev demos:
https://www.open-emr.org/wiki/index.php/Development_Demo#Daily_Build_Development_Demos

[2020-03-10 17:49] sjpadgett commented on #3137
any search has been fixed. maybe need to npm run build.

[2020-03-10 17:51] kchapple commented on #3137
I swear I did, but just did it again and the issue disappearance. I think @bradymiller explanation makes sense. I'm running a bunch of different versions.

Thanks, can close this.

[2020-03-10 17:52] mdsupport opened #3139 "dated reminders"
### Suggestion
All timer based background executions from Main frame should be consolidated into background services that can be managed from single screen.

Ideally dated reminders can be isolated into an optional module and managed from modules configuration.

[2020-03-10 17:52] #3137 closed

[2020-03-10 17:55] bradymiller commented on #3138
background_services needs to keep running whenever somebody is logged in (although agree as posted in your prior issue that is can be turned off if there are no background services)

message counter also should keep going since it places the reminders on the top title bar (unless I am missing something)

[2020-03-10 17:59] bradymiller commented on #3139
Something to consider here:
Background Services was built as a poor man method for cron (ie. allows users to run background php scripts/methods without needing to set up cron; ie. just needs a user to be logged in), so not really meant for front-end integration like the reminders stuff. That being said, integration/consolidation is usually a good thing.

[2020-03-10 21:28] mdsupport commented on #3138
Only browser push api will alert user of reminders irrespective of active tab/window.  Otherwise when emr window comes to foreground it triggers event which runs reminder and other checks and then begins timer cycle until user switches tab.
To put reminders in perspective, only date part is set.  So a reminder status is not dynamic unless someone sends one due today or in the past...

[2020-03-10 21:41] mdsupport commented on #3139
Two types of background candidates - scheduled/periodic and on demand.  A good use case for later would be cdr that should run as cron for all patients but spawn check for current patient in background without causing 20 second spinner that frustrates the users.  If someone is happy to wait or certification requires it, allow for background check option to be disabled.

[2020-03-11 01:49] prondubuisi commented on #3131
Hello @bradymiller , thanks for the pointers

I am trying to access the Patient API to see how things work, I am using a docker Install. visiting `http://localhost:8300/api/patients` returns a page not found error, please what does the API URL for a docker install look like?

Also is there a documentation for the API's  currently available, I am particularly interested in what Query Parameters the

[2020-03-11 03:00] bradymiller commented on #3131
hi @prondubuisi ,

Recommend checking out https://github.com/openemr/openemr/blob/master/API_README.md which list all the api functions.

First step is to turn it on in OpenEMR:
Administration->Globals->Connectors->"Enable OpenEMR REST API"

Note the API_README.md is showing examples in cron commands. The first one you always need to do is the token request, so try this to see if it works from com

[2020-03-11 03:01] bradymiller commented on #3131
sorry, didn't mean to close it. just re-opened it.

[2020-03-11 04:28] surendrap720 opened #3140 "Align search icon with search text input field."
### Describe the problem

Immediately when you log in there is a search field on the extreme right side. This search field has a search icon which is not properly aligned with the search field.

### Describe the solution you'd like

Make the search icon properly align with the search text input field. Remove the icon borders to make it look good.

![2020-03-11](https://user-images.githubuserconten

[2020-03-11 04:53] prondubuisi commented on #3131
Lol, Its a sign we are getting done with this issue soon D:

[2020-03-11 05:09] bradymiller commented on #3140
hi @surendrap720 ,

There's been recent work on this here:
https://github.com/openemr/openemr/issues/3091
https://github.com/openemr/openemr/pull/3093

But definitely feel free to further improve it and I will assign it to you. Check out @sjpadgett 's comments on the links above for some things to also think about while working on this.

[2020-03-11 05:25] surendrap720 commented on #3091
I would like to confirm if this issue is fixed for chrome ? Because for me it is still showing the dislocated search bar.

[2020-03-11 05:42] sraghuvanshi commented on #3091
Hi @surendrap720

Thank you for reporting the problem. I was assigned this issue and I've recently worked on it. According to the requirements of the UI, I've placed the search icon at the right end of the search bar. For complete info please see #3093

Is it a dislocated search bar or search icon? it will be great if you could share your system configuration and screenshots.
And, surely the UI ca

[2020-03-11 06:18] surendrap720 commented on #3091
Hi Saksham,

Actually the icon is on the right side of the search bar. But it does not
look good. The borders of the icon is not aligned with the search bar.

On Wed, Mar 11, 2020, 01:42 Saksham Raghuvanshi <notifications@github.com>
wrote:

[2020-03-11 06:36] #3071 closed

[2020-03-11 06:40] sraghuvanshi commented on #3091
@surendrap720 Alright then, I think it's not an issue but an improvement. UI improvements are always welcome, you can proceed with that.
Thanks

[2020-03-11 10:49] #3130 closed

[2020-03-11 12:37] yashrajbothra opened #3141 "Unacceptable behaviour on Search"
### Describe the bug

Search doesnt work with Enter work with click

### To Reproduce
https://www.loom.com/share/7894fdcb2730452d93dbae067380bed4

### Client configuration

- Browser:Chrome
- Operating system:Win 10

[2020-03-11 12:38] yashrajbothra commented on #3141
Also on Global Setting

[2020-03-11 13:24] yashrajbothra opened #3142 "Reloading Tabs"
### Describe the problem

When we Select a tab which is already open it should not reload

### Describe the solution you'd like
https://www.loom.com/share/5474b42b98584b29959d7b6a148c29e4

I was expecting something like this 🤔

Maybe my expectations are lil high

[2020-03-11 13:35] prondubuisi opened #3143 "OpenEMR pages not working after I pull in latest code in docker install"
### Describe the bug

Hello, I pulled the latest code for OpenEMR on my docker install and the web pages have been broken ever since

![Broken](https://user-images.githubusercontent.com/22311928/76421759-71028b80-63a4-11ea-942c-5b0fa8ee2df8.png)

After I do

`docker-compose down -v`

and then

`docker-compose up`

the web pages start working as normal, but get broken again when I Pull in latest ch

[2020-03-11 13:44] prondubuisi opened #3144 "Add how to View error logs as part of OpenEMR Docker documentation"
### Describe the problem

The OpenEMR [contribution guide](https://github.com/openemr/openemr/blob/master/CONTRIBUTING.md) does not have a section on how to view error logs with a docker install, I think this will be a necessary addition as developers will see themselves in situations where they have to check the logs, I was able to get a solution for seeing the logs here https://community.open-em

[2020-03-11 14:00] prondubuisi commented on #3143
Edit, the pages are back after I did the following

[code]

But the UI looks out of place is anybody having the same UI problem? Screenshot below

![UI issue](https://user-images.githubusercontent.com/22311928/76424713-e53f2e00-63a8-11ea-99b1-be272c3798e3.png)

[2020-03-11 14:03] stu01509 commented on #3143
Hi @prondubuisi

I also use a docker But didn't happen this problem.

[2020-03-11 14:09] prondubuisi commented on #3143
Thanks @stu01509 I think its from my install. I will check it out thanks

[2020-03-11 14:09] stu01509 commented on #3106
Hi @thesmallstar

Are you still working on this issue?

[2020-03-11 16:16] mdsupport commented on #2907
Few scenarios tested using OeModule type of approach -
- [OeModuleRxCUI](https://github.com/openemr/openemr/blob/a41c2c9a8888543b68652e3d14ceaa0d5e6ef76f/interface/modules/custom_modules/oe-module-rxcui/OeModuleRxCUI.php) shows small effort involved in moving external data load function out of current structure and publishing it as an optional feature.
- [Maviq](https://github.com/openemr/openemr/

[2020-03-11 16:32] sjpadgett commented on #2907
Thanks @mdsupport I'll make a concerted effort to checking this out today or morrow before it gets to far away from us.

[2020-03-11 16:47] prondubuisi commented on #3143
@stu01509 What Operating System are you running on?

[2020-03-11 18:04] stephenwaite commented on #3143
hi @prondubuisi , how about

1. docker-compose down -v
2. docker volume prune
3. docker pull openemr/openemr:flex
4. docker-compose up -d

[2020-03-11 18:17] prondubuisi commented on #3143
Okay. Will try that out thanks!

[2020-03-11 18:27] adunsulag commented on #2907
@mdsupport I'm not sure I understand your 4th point.  When you say you want modules to make changes to the standard functions what do you mean?  As in replace the standard functions, modify the input / output to the standard functions?  Or something else?

As for your other points.
1st . I don't really like zend modules, although your OeModule class duplicates some of the functionality in a more p

[2020-03-11 20:13] bradymiller commented on #3144
hi @prondubuisi ,
Go for it, and this line would be even better:
[code]

[2020-03-11 20:57] stu01509 commented on #3143
I am running xampp on windows and docker on Linux, they are didn't happen this problem.

[2020-03-11 21:34] bradymiller commented on #3143
hi @prondubuisi ,

The easy development docker uses docker black magic to allow testing and development from the same place (ie. directly in your repository). From outside the docker, you and the repo will not be able to see any of the build or testing artifacts inside the docker. Because of this, though, you shouldn't run the build commands outside the docker. You need to run them inside the dock

[2020-03-11 21:46] mdsupport commented on #2907
@adunsulag ..
1. Nothing against any piece of code as long as it works! But for this PoC and its target audience, that installer was and will continue to be an issue.
2. To be clear, fully internal modules could be identifiable in composer.  Then stuff like @juggernautsei's Weno can be in vendor as it has functionality dependent on external providers.  To make it more confusing, there already is a

[2020-03-11 22:44] stu01509 opened #3147 "UI Issue: Patient Finder previous and next button"
### Describe the bug

Patient Finder previous and next button style.

### To Reproduce

Steps to reproduce the behavior:
1. Choose the Patient/Client
2. Click Patient
3. See the previous and next button

![image](https://user-images.githubusercontent.com/22230889/76471171-ec0f8480-642c-11ea-828b-9806dddfd9b9.png)

### Client configuration

- Browser: Firefox 73.0.1（64 bit）
- Operating system: Wind

[2020-03-11 22:59] #3099 closed

[2020-03-11 23:04] skshahnawaz commented on #3141
@bradymiller Please assign this issue to me. I am working on this

[2020-03-11 23:08] bradymiller commented on #3141
@yashrajbothra , did you want to do this or can I assign it to @skshahnawaz ?

[2020-03-12 00:18] stu01509 commented on #3142
Hi @yashrajbothra

Are you sure about it?
I think the video didn't contain any issues about OpenEMR.

[2020-03-12 00:19] stu01509 commented on #3147
Hi @bradymiller

Please assign this issue to me, Thanks.

[2020-03-12 00:23] bradymiller commented on #3147
it's yours :)

[2020-03-12 01:11] adunsulag commented on #2907
@mdsupport

So what I mean is that a class, file, or whatever that is in the core OpenEMR codebase should not be directly aware of or use any functions inside a module.  In your example of Documents, the Documents core codebase should fire off events or make calls to some kind of mediator object, observer, registry, or whateverwe want, and be completely unaware of the fact that there is  Hylafax,

[2020-03-12 01:28] sachinmukherjee commented on #2889
@stephenwaite Is this open? If open can I work on this issue?

[2020-03-12 01:33] sachinmukherjee commented on #2314
@sjpadgett  Is this issue open? If open can I take this up?

[2020-03-12 03:28] mdsupport commented on #2907
So it was my lack of understanding about your perspective!  The mechanics may vary but it will still be a great improvement over current hard links.  I am also sure some would take easy route of `if x then hylafax else Twilio` :wink: .

[2020-03-12 04:18] tywrenn commented on #3118
I had a feeling this would happen soon. It's actually good practice to show all errors, warnings, and notices and to eliminate them as much as possible.

[2020-03-12 05:30] yashrajbothra commented on #3141
No, Problem for me. Please go for it @bradymiller

[2020-03-12 05:32] yashrajbothra commented on #3142
Video is just an exmple for explanation
Its Feature request if we can have this on board.

[2020-03-12 07:12] bradymiller commented on #3141
@skshahnawaz , it is all yours :)

[2020-03-12 07:14] bradymiller commented on #2889
@prondubuisi , are you ok if I assign this to @sachinmukherjee ?

[2020-03-12 07:16] bradymiller commented on #2314
hi @sachinmukherjee , It is yours :)

[2020-03-12 08:07] sachinmukherjee commented on #2314
@bradymiller  Thanks for assigning it to me. Before working on this issue a few points I want to clear

- Remove deprecated jquery.ready to `$(function){}`.

- Do not change the existing event handler. Leave them where they are.

[2020-03-12 10:37] prondubuisi commented on #3143
Hello @stephenwaite @bradymiller I followed the above instructions and my OpenEMR UI still looks cluttered like above, is there any other thing I can do?
Here is what my error log looks like

[code]

[2020-03-12 12:57] stephenwaite commented on #3143
npm install
npm run build
composer dump-autoload -o

hi @prondubuisi , saw this above, the `docker-compose update -d` takes care of this for you so all you need to do is follow Brady's advice above to rebuild

[2020-03-12 14:04] yashrajbothra commented on #3144
Can anyone tell me how can i edit php.ini from docker ?

[2020-03-12 14:14] stephenwaite commented on #3144
hi @yashrajbothra , you've got to exec into the docker and use vi
something like
[code]

[2020-03-12 14:18] prondubuisi commented on #3143
Hello @stephenwaite @bradymiller, Everything has been fine all this while, it turns out my browser cache has been messing with me. I don't even know how to react this, lol. Thanks for the help. I am closing this now.

[2020-03-12 14:19] #3143 closed

[2020-03-12 16:02] prondubuisi commented on #3131
Hello @bradymiller, I am trying to test the API and I have errors showing that I am not sending in required fields, even though I have filled them up, please what am I missing, thanks
![Postman](https://user-images.githubusercontent.com/22311928/76540968-2e63b080-6483-11ea-8b8b-b11147d744d1.png)

[2020-03-12 17:47] skshahnawaz commented on #3141
Thanks, will fix this soon

[2020-03-12 20:22] surendrap720 commented on #3140
Looking at the search bar and search icon, I thought it is dislocated but later I understood the location is fine but the needs to be worked on making it look good.

[2020-03-12 22:05] sjpadgett commented on #2907
Hi everyone.
First, I want to thank all of you for your time and feedback. It is more than I hoped for when I opened this issue and has greatly moved the ball forward.

I decided to open a thread on developer forum so we can consolidate implementation of what we've learned so far. For projects like this I like to implement whenever possible. Otherwise, right or wrong, these projects tend to just d

[2020-03-13 04:13] bradymiller commented on #3131
hi @prondubuisi ,

Use the Body->raw (and pass a json)

![image](https://user-images.githubusercontent.com/278968/76589126-41d44300-64a6-11ea-9642-0fd8f5b0695d.png)

[2020-03-13 04:41] #3144 closed

[2020-03-13 04:42] bradymiller commented on #2314
hi @sachinmukherjee , yep, that's the plan. thanks! -brady

[2020-03-13 04:43] prondubuisi commented on #2889
Sure @bradymiller @sachinmukherjee you can go for it, looking forwrd to your PR

[2020-03-13 04:54] im-Amitto opened #3152 "Add edit lot BS4 updates"
### Describe the bug
BS4 updates needed
### To Reproduce

Steps to reproduce the behavior:
1. Visit add lot form
![Screenshot from 2020-03-13 10-22-08](https://user-images.githubusercontent.com/29653282/76590924-b8a82500-6514-11ea-8233-e1cfee2363d9.png)

### Client configuration

- Browser: Ubuntu 18.04
- Operating system: Chrome 80

[2020-03-13 06:22] #3152 closed

[2020-03-13 09:31] im-Amitto opened #3155 "Outdated drug destroyed interface"
### Describe the bug
Interface: Drug destroyed
1. `$nbsp` in place of blank data
2. Old Table
3. Wrong Redirect

### To Reproduce
https://www.loom.com/share/a23e39b8e5664e0097a1b042c79582af

### Client configuration

- Browser: Ubuntu 18.04
- Operating system: Chrome 20

[2020-03-13 13:32] yashrajbothra commented on #3142
Hii @bradymiller Sir, Is it a good feature to have on OpenEMR ?

[2020-03-13 15:19] #3041 closed

[2020-03-13 16:53] thesmallstar commented on #3106
@stu01509 yes, I had been bust with college things, will get back to work tomorrow :) Sorry for the delay

[2020-03-13 21:36] mdsupport commented on #1114
@bradymiller
For emr where tracking changes is crucial, couchdb is _the_ perfect datastore.  Specially with their docker, it deserves to be a standard requirement for this project.  If connectivity is holding up its wider use throughout the application, here are some steps -

[code]
Enter information that will be incorporated into certificate request.
[code]
Add/edit following 4 lines
[code]
Trust

[2020-03-13 23:14] im-Amitto commented on #3140
@bradymiller If we are working on it again, why won't we just change this search with simple UI as we are using in the entire codebase.
The current one uses `float`, `absolute positioning` and `rounded corners` which aren't necessary IMO. We can easily wrap the input and search button together as a single inline element like we are using search everywhere in the codebase.
@sjpadgett what you think

[2020-03-13 23:15] im-Amitto commented on #3135
@mdsupport if no-one wants to work on this, I can happily pick this one.

[2020-03-13 23:27] sjpadgett commented on #3140
The dev that did this restyle had his reasons for doing the expanding and I think he was trying to make the search distinctive as it was a requested feature from our long time frame UI users.
Now with BS4 I think it should be consistent with the rest of the UI so i'd like to see it as any other search form ie normal input with append/prepend button.
We can keep the expanding if somebody can find a

[2020-03-13 23:31] mdsupport commented on #3135
My preference would be for you to concentrate on app development thru to some state of community testing.  Since no one has complained about this issue for years, I would think it is not a high priority.  But project managers set the priorities.

[2020-03-14 00:40] bradymiller commented on #3135
This issue arose when the tabs were added to the encounter gui and has been mentioned previously:
https://github.com/openemr/openemr/issues/1511
https://github.com/openemr/openemr/issues/1804
https://github.com/openemr/openemr/issues/1311

So fixing this issue will get rid of a record 4 issues! :)
Note that the https://github.com/openemr/openemr/issues/1311 has most recent discussion on this along

[2020-03-14 00:41] bradymiller commented on #3135
By the way, I vote for option 2 above:
Subsequent clicks on Fee Sheet should result in focus on active Fee Sheet tab.

[2020-03-14 00:45] bradymiller commented on #3140
yep, agree with all to make consistent and simplify :)

[2020-03-14 00:51] bradymiller commented on #2314
Still a couple more to go

[2020-03-14 01:28] bradymiller commented on #3142
hi @yashrajbothra ,
High expectations are generally always a good thing. Is the goal to make OpenEMR's tabs like the one in the video? (something to note is I don't think the tabs reload on click in OpenEMR, unless click the reload indication on the tab)

[2020-03-14 03:21] #3155 closed

[2020-03-14 04:46] #3147 closed

[2020-03-14 06:14] prondubuisi opened #3159 "Add Database login credentials to Contributing.md"
### Describe the problem

I tried logging into OpenEMR development database, and I realized the database login credentials were not specified in the contributing guide. But I did find the credentials after greping for password in the [.travis.yml](https://github.com/openemr/openemr/blob/master/.travis.yml#L118) file

### Describe the solution you'd like

Write concise description of what feature y

[2020-03-14 06:51] #3129 closed

[2020-03-14 06:52] stu01509 opened #3160 "Styling Guide in OpenEMR"
### Describe the problem

In the current project, OpenEMR has a lot of different layouts, some pages contain outdated syntax, some pages didn't use the Bootstrap and some pages have a strange layout.
I think we should planing a styling guideline about OpenEMR, it will be easy for us to refine the pages.

Reference link: https://github.com/openemr/openemr/pull/3145#issuecomment-598044746
### Descri

[2020-03-14 06:59] bradymiller commented on #3159
hi @prondubuisi ,

These are set here in the docker-composer.yml:
https://github.com/openemr/openemr/blob/master/docker-compose.yml#L43-L44

Agree would be good idea to show them in step 6 of CONTRIBUTING.md

[2020-03-14 07:04] stu01509 commented on #3160
Hi @bradymiller, @tywrenn, @sjpadgett, @im-Amitto, and OpenEMR developer

I create a new issue to discuss Styling Guide, In additional,
I list some items I think it should be to discuss, Welcome to supplement.

[2020-03-14 14:09] #3068 closed

[2020-03-14 20:02] mdsupport commented on #3141
@skshahnawaz
Originally search worked to highlight navigation labels as well actual setting including the description.  Somewhere during the refactors only tabs started getting highlighted.  That leaves user to figure out specific hit on a tab.

At the time of that feature, bootstrap was not available.  Now we should transition to 'bg-warning' class and remove all search specific hard coding.  If

[2020-03-14 21:14] bradymiller commented on #3141
Note the search does highlight the items now (not sure if it looks at descriptions); this was recently fixed. I think this is just pointing out issue of when focus on entering in a search term and then hitting enter (in that case, it submits the globals rather than performing search). Agree bg-warning would be nice.

[2020-03-14 23:07] mdsupport commented on #3141
Great.

Another nice to have behavior for someone lazy would be to move focus to first hit.

[2020-03-15 03:31] stephenwaite opened #3162 "all insurance due balances become pt due and last statement date becomes today"
### Describe the bug

think the bug is somewhere in invoice search, sl_eob_search.php

it's like the logic from the PDF Download Selected Statements button was executed and it also set the statement date on every form_encounter in the database except for those that were already pt due

### To Reproduce
from a user:

so asked about could you remember anything odd that might have happened:

not sure