[2021-01-01 23:35] bradymiller commented on #4148
Guess I am still confused on the user versus patient. Since the user "logged in" as user userrole, shouldn't all requests go through the user userrole?

[2021-01-01 23:37] bradymiller commented on #4148
Also, to clarify, isn't the next screen supposed to be a login?

[2021-01-01 23:53] bradymiller commented on #4148
it looks like we can change the requested scopes in the app itself: https://github.com/smart-on-fhir/growth-chart-app

[2021-01-01 23:54] adunsulag commented on #4148
@bradymiller So the SMART app is the one that requests the scope permissions. In my case my smart app wasn't sending the api:fhir or the fhirUser role and so the OpenEMR server didn't know how to build any of the validation roles and just left the array blank.  This was causing the scopes to fail.  If an app requests an invalid scope it doesn't show a login screen, OpenEMR redirects back to the ap

[2021-01-01 23:55] adunsulag commented on #4148
@bradymiller I figured your in working on this, so I tried calling you via phone but you didn't answer :).

[2021-01-01 23:57] adunsulag commented on #4148
Also I had to change the app to request the user/Patient.read and user/Observation.read.  Apparently my admin user doesn't have the patient portal ACLs.  I think this is going to cause us problems with app compatibility, but I think it will be fine for people to start building their apps against OpenEMR in 6.0.

[2021-01-01 23:58] bradymiller commented on #4148
getting close. got the login screen, but got following for the Authorized:
![image](https://user-images.githubusercontent.com/278968/103448139-0039a200-4c4a-11eb-97e5-cac54376db6a.png)

with following php error:
NOTICE: PHP message: PHP Fatal error:  Uncaught Error: Call to a member function completeAuthorizationRequest() on null in /usr/share/nginx/html/openemr/vendor/league/oauth2-server/src/Aut

[2021-01-01 23:58] bradymiller commented on #4148
sorry i missed your call. will answer next call :)

[2021-01-02 08:14] bradymiller commented on #4148
fixed this in the PR linked above. had to do 2 things to get it to work:
1. Isolate API into it's own cookie (I've been wanting to do this anyways)
2. set samesite to None for the oath cookie (unclear why needed, but it's ok since oauth cookie required https and all the endpoints that can change state are protected with csrf mechanism)

[2021-01-02 09:09] #4148 closed

[2021-01-03 15:56] sjpadgett opened #4153 "Tab switching on patient selection is strange."
### Describe the bug
Patient Finder refresh after selection.
Why does Patient finder now refresh after new patient selection click?
It causes focus change back and forth between Dashboard tab. Sometimes ends on Patient Finder tab instead of Dashboard.

Also, is it a feature in openemr to auto focus on Encounter tab when opening new patient chart? I can't seem to nail down why this happens sometime

[2021-01-03 16:00] stephenwaite commented on #4153
hi @sjpadgett , think i noticed some strange behavior in https://github.com/openemr/openemr/pull/4067

[2021-01-03 16:04] sjpadgett commented on #4153
Thanks @stephenwaite Will you test with me? I'll try a couple of my dev installs to see if random or from the upgrade.

[2021-01-03 16:11] sjpadgett commented on #4153
weird. I appears it has something to do with we how we now refresh Patient Finder on focus and click. Or did we always do this!

[2021-01-03 16:24] stephenwaite commented on #4153
https://github.com/openemr/openemr/pull/4125 is prob causing recent issue but is there some other datatables weirdness involved with bringing the focus back to the pt finder after going to the patient dashboard? It's like it refocuses as it's waiting for all of the patients to load in the finder.

[2021-01-03 16:31] sjpadgett commented on #4153
Maybe but doubtful. I suspect the refresh and by fixing one issue you only exacerbated(I wonder if that word would get translated!:)) an existing issue.

[2021-01-03 16:35] stephenwaite commented on #4153
ok, next guess, clearPatient function in `tabs_view_model.js`

[2021-01-03 17:50] sjpadgett commented on #4153
Nothing you've done is causing this issue Stephen. Nuts, I hate these types of issue dealing with knockout and tabs.

[2021-01-03 18:21] stephenwaite commented on #4153
phew, nostalgic as i watch wanda moore grow up before my very eyes :)

[2021-01-03 20:06] sjpadgett commented on #4153
okay, found it.
It is, in clearPatient()(ya nailed it Stephen). Evidentially, navigateTab() sets a afterLoadFunction() event that never gets turned off so after a clearPatient, all calls to navigateTab will run the event. Essentially navigating to the Find Patient(fin) tab.

This must have worked at one time as this was done back at least early v5.0.2. So there is a jquery event off somewhere that

[2021-01-03 20:36] baflynn1 opened #4154 "X12 billing file rejection due to missing gs03"
### Describe the bug"

X12 billing file generated with missing gs03 / receiver ID field, and failed submission to Availity. Previous attempts to add "Application Receiver Code" under Administration->Practice Settings->X12 partners failed to save "030240928      ".  The screen includes a note "(GS03 - If blank ISA08 will be used)" but ISA08 was filled and was not used.

![image](https://user-images

[2021-01-03 23:16] #4153 closed

[2021-01-04 02:56] stephenwaite commented on #4154
thanks for the nice issue report @baflynn1 , think this was fixed in a patch since am able to save `GS*03` at https://six.openemr.io/c/openemr/interface/login/login.php?site=default

might want to use @sjpadgett 's [patch 5](https://community.open-emr.org/t/how-to-upload-icd-10-codes/10356/6)

[2021-01-04 11:30] vishnuyar opened #4156 "FHIR Coverage Resource"
### Describe the problem
Coverage Resource is required for implementing "Prior Authorisation" workflow(https://build.fhir.org/ig/HL7/davinci-pas/)

I am trying to implement FHIR Coverage Resource for OpenEMR.  (https://www.hl7.org/fhir/coverage.html)

Coverage Resource for a patient is retrieved based on beneficiary or patient reference in the search parameter.

This Coverage Resource should have

[2021-01-04 15:37] sjpadgett commented on #4156
Yes this is an issue that we need to address.

`insurance_companies` I think would be the appropriate place. This is because we are referencing the company as an Org rather than the patient data associated with the insurance company ie. policy info etc.

I believe we have this already but i'd have to look.

Bottom line is I recommend creating a standard service for Organizations to sort these issu

[2021-01-04 16:12] sjpadgett opened #4157 "Dated reminders session destroy"
### Describe the bug
`
PHP Warning:  session_destroy(): Trying to destroy uninitialized session in \src\Common\Session\SessionUtil.php on line 215
Stack trace:
[04-Jan-2021 10:53:28 America/New_York] PHP   1. {main}()  \interface\main\dated_reminders\dated_reminders.php:0
`
This is worrisome to me. I am setting up a trap in code to try to get better context when this occurs. We can add code to pre

[2021-01-04 16:45] sjpadgett opened #4158 "Backup LBF export broken"
### Describe the bug
Really! What happened?
This use to work well which make think something is wrong with my setups however this isn't working in 5.0.2 as well..
I should be able to just export LBF layouts only correct?

Resulting export deletes the layout however doesn't include the layout options to import.

This should block v6 release imo so i'm looking into. Any suggestions are helpful....

[2021-01-04 17:45] sjpadgett commented on #4158
Looks like a windows issue. We're sending an invalid mysqldump path via usr/bin.

[2021-01-04 17:48] sjpadgett commented on #4158
Woops, this is on me! $GLOBALS['mysql_bin_dir']
nuts

[2021-01-04 17:49] mdsupport commented on #4158
How do you backup layouts? We use [this](https://sourceforge.net/p/openemr/discussion/202505/thread/6b30c511/#f01b).

[2021-01-04 17:56] sjpadgett commented on #4158
Hi @mdsupport I really should wait before putting issues up. I always used the Administration->System->Backup Export then select Layouts from list.
This feature actually is very nice however, being on windows, I forgot to ensure my $GLOBALS['mysql_bin_dir'] was set correctly.
I'm a little embarrassed but, i'm thinking, I must have a complaining mindset today!:)

[2021-01-04 18:37] sjpadgett commented on #4158
spoke to soon. dump command syntax error

[2021-01-04 20:53] #4158 closed

[2021-01-05 19:03] stephenwaite opened #4163 "solar theme menus"
### Describe the bug

the menus are not displaying properly maybe a background color issue?

### To Reproduce
change theme to solar

Steps to reproduce the behavior:

### Expected behavior

menu displays like light theme

### Client configuration

Love openemr long time

[2021-01-06 13:11] ophthal opened #4165 "Draggable and droppable replacements post jquery-ui removal?"
### Describe the bug

In 6.0.0 Eye Form, the loss of draggable and droppable breaks the Impression/Plan builder.
There is a console error, presumably from removal of jquery-ui.  Not sure what is meant to replace this functionality.
I assume this breaks javascript from working correctly downstream too.

Also there is a problem with the display in all themes with bootstrap and fontawesome.  Not sure

[2021-01-06 14:02] sjpadgett commented on #4165
Hi @ophthal
We have pulled the jquery-ui because it is a dead project in our eyes. The replacement for the drag and drop is in the library/js/utility.js script.
I'm just not sure how well the eye form was tested because for a novice, it is difficult to understand.

Can you be more specific on errors and bootstrap assertion?

[2021-01-06 23:21] mdsupport commented on #4157
Dated reminders is a runaway train in autopilot mode checking reminders every xx seconds. If session times out, one should expect that warning. Corrective action would be in main frame when the famous 'site id' condition happens, the javascript timer/interval should be reset... until pubsub is adopted.

[2021-01-08 14:31] stephenwaite commented on #3894
will revisit

[2021-01-08 17:13] sjpadgett commented on #4157
This needs to be rewritten. Either truly make it anonymous and last time I looked, no reason for it to be involved in sessions.
The only reason we run session is to get authUserID and i'm sure we can find a better way to do this.
Or as you say maybe trigger from mains timeout timer and pass in session.

[2021-01-08 17:53] mdsupport commented on #4157
This is one our pet peeves, so forgive the rant. From functional perspective there should be a single object that handles patient care with time dependency. MU took care of that by bringing in time element in decision rules. If development effort is spent in adding a manual reminder functionality to CDR (similar to exception handling for the rules), the engine will take care of reminders more eleg

[2021-01-08 20:04] sjpadgett commented on #4157
Perhaps best approach then is to develop a stand alone event driven alerts/message/reminders interface that intercepts dispatched events where needed, handles and dispatches to destination.
Or some such!

[2021-01-08 21:35] mdsupport commented on #4157
Time driven events can be handled as dated reminders, dummy appointment and clinical rule. Currently not handled are expired drugs, rx refills and overdue callbacks like referrals or lab results. What we need is a service that can handle call from object in the form of "ok emr, set reminder to do _xyz_ for _John Doe_ in _nn days_".
But then what will all the clinic staff do???

[2021-01-09 21:42] stephenwaite commented on #4131
just noticed this
[code]
from https://www.healthit.gov/sites/default/files/page/2020-11/Key_Dates_2020.pdf

[2021-01-09 22:52] sjpadgett commented on #4131
Thanks, that's the way I read it however, the test hasn't been removed from testing spec so, i'm confused!

[2021-01-09 23:00] stephenwaite commented on #4131
§ 170.315(b)(10) “EHI export” will replace § 170.315(b)(6) “data export”. ONC–ACBs will be permitted to issue certificates for § 170.315(b)(6) until May 1, 2023 during the transition period to § 170.315(b)(10). We have included a provision in § 170.550(m)(2) to only allow ONC-ACBs to issue certificates for this criterion until May 1, 2023. [see also 80 FR 25720]

[2021-01-09 23:18] stephenwaite commented on #4131
is `(b)(10)` intentionally vague to open the door to api or fhir export?

[2021-01-10 09:48] bradymiller commented on #4131
The time-limited stuff always confuses me (I figure it out, then forget it, then figure it out again, then forget it...). see bottom of https://www.healthit.gov/curesrule/final-rule-policy/2015-edition-cures-update :
So, if b6 expires in 36 months from publication, does that means we still need to certify it until then?

[2021-01-10 09:51] bradymiller commented on #4131
duh, i should of read your link and then would of seen that effective date has been changed to now. woohooo, one more gone :)

[2021-01-10 09:52] bradymiller commented on #4131
btw, just removed b6 from the barometer

[2021-01-10 16:32] sjpadgett commented on #4131
What about these:
On June 30, 2020, certain 2015 Edition certification criteria are removed from the ONC Health IT Certification
Program. Removal of the following certification criteria supports burden and cost reductions for Health IT
Developers and health care providers:
» § 170.315(a)(6) Problem List
» § 170.315(a)(7) Medication List
» § 170.315(a)(8) Medication Allergy List
» § 170.315(a)(11)

[2021-01-10 16:40] stephenwaite commented on #4131
those aren't on the barometer but agree could clean up detail below or leave a note stating they're removed

[2021-01-10 16:43] sjpadgett commented on #4131
Sure they are or am I seeing things again?

[2021-01-10 16:43] stephenwaite commented on #4131
![Screenshot from 2021-01-10 11-43-43](https://user-images.githubusercontent.com/5618372/104129089-1b3a9f00-5339-11eb-9497-29d3ff96d267.png)

[2021-01-10 16:44] sjpadgett commented on #4131
Forgive me! I'm old.....

[2021-01-10 16:56] stephenwaite commented on #2917
bump

[2021-01-10 16:56] stephenwaite commented on #4131
but hip :)

[2021-01-10 17:10] sjpadgett commented on #4131
For my generation, i'm cool or groovy. Far out man:)

[2021-01-11 00:26] mdsupport opened #4170 "Immunization Edit deletes Lot Number"
### Describe the bug

If user tries to edit previously entered imm record and does not re-enter the original lot number, edited record will not contain that information. All other fields carry forward the prior values (I think)..

### To Reproduce
1. Add immunization with Lot Number - XXX.
2. From the list, click to edit that immunization entry.
3. Click save.
4. Confirm that the lot number is no

[2021-01-11 19:00] juggernautsei opened #4171 "phi mail linked documents not opening patient chart"
### Describe the bug

after opening a phi mail message, the attached document link does not take the provider into the patient's chart

### To Reproduce

![image](https://user-images.githubusercontent.com/834958/104225805-ddab4400-5414-11eb-9711-8428f344b7a7.png)
![image](https://user-images.githubusercontent.com/834958/104225986-1c40fe80-5415-11eb-9c0d-8e2a4f9cdb76.png)

Steps to reproduce the be

[2021-01-11 19:02] juggernautsei commented on #4171
This block of code is not producing the correct display.

            if (sqlNumRows($tmp)) {
                                                echo " <tr>\n";
                                                echo "  <td class='text'><b>";
                                                echo xlt('Linked document') . ":</b>\n";
                                                while ($gprow = sqlFetchAr

[2021-01-11 19:11] sjpadgett commented on #4171
@juggernautsei
I'm guessing you're going to do a fix PR for us, right.:)

[2021-01-11 19:40] juggernautsei commented on #4171
yes @sjpadgett , the report is for others to know we are aware of the issue. I'll work on it later this week.

[2021-01-12 00:32] juggernautsei commented on #4171
This function is failing to receive pid back from the multi_patient_finder

    function updatePnotePatient($id, $patient_id)
    {
    $row = getPnoteById($id);
    if (! $row) {
        die("updatePnotePatient() did not find id '".text($id)."'");
    }

    $activity = $assigned_to ? '1' : '0';

    /* $pid = $row['pid'];                                     //Commented out these lines of code an

[2021-01-12 10:10] vishnuyar opened #4172 "Twice Authorisation for user"
### Describe the bug

When Smart App is launched from OpenEMR from Patient DashBoard, the User id and Password are being asked.

### Expected behavior

The User has logged into the OpenEMR after providing the required security credentials and is already logged into the system. When the User launches the SMART App from within the system, the Smart App should be directly launched without further aut

[2021-01-12 15:58] sjpadgett commented on #4172
@adunsulag
What do you think? My thought is that because he in a auth user in openemr doesn't mean the app itself has same permissions or any other workflow as to but, sign into the auth server. However, unsure what the spec requires!

[2021-01-12 16:47] vishnuyar commented on #4172
I am assuming the same check can be done prior to launch rather than asking for the same credentials again.  Would there be possibility that a different user id password is used when the auth server is invoked ?

[2021-01-12 16:52] sjpadgett commented on #4172
The user has to have a valid, active auth server session in order for client to access api's i.e access_token. Same username/password though.

[2021-01-12 17:26] adunsulag commented on #4172
@sjpadgett so the SMART spec leaves it up to the EHR on whether to ask for username / password once again when inside the EHR launch context.

The tricky thing is during the oauth2 flow we have a separate session so from the oauth2 endpoint we don't know that the user is logged in.  We can put an encrypted nonce with the logged in user into the SMART EHR launch context param (its where we store th

[2021-01-12 17:30] juggernautsei commented on #4171
We found that duing the upgrade the data in the documents/direct folder did not upload. We had to change the permission on the windows folder and subfolders to allow the administrator access to the files. Once the files were uploaded. The code worked fine.

[2021-01-12 17:30] #4171 closed

[2021-01-12 17:56] sjpadgett commented on #4172
For the auth server we have trusted user as active or not sign in. So it'd be a matter for Smart launcher checking if there is a trusted user in database oauth_trusted_user. If so, bypass login. If not, create one.
This assumes user has a client to reference.

[2021-01-12 18:51] adunsulag commented on #4172
@sjpadgett I'll look into it.

[2021-01-12 22:05] #4156 closed

[2021-01-14 18:58] kchapple commented on #4131
Hey all, sorry to barge in. We have a customer who (by October 2021) needs to export either CCD or HL7/ADT message types. I am out-of-the-loop here but am I understanding that the CCD generation is JS on a node server? Is that different that what is generated by the Patient Dashboard > Reports > CCD (download)?

[2021-01-14 20:18] sjpadgett commented on #4131
Yes, it is CCDA Release 1.1 at least for xml content. I'm updating for CCDA Release 2.1 and have to add the missing human readable sections.
I think i'm missing vitals and social for humans to see. However all the xml for import is there.

[2021-01-16 04:18] bradymiller commented on #3273
bump

[2021-01-17 14:40] stephenwaite commented on #3723
bump bump

[2021-01-18 05:28] vishnuyar opened #4180 "CMS related Prior Authorisation"
### Invoking Prior Authorisation for CMS

Currently CMS asks for Prior Authorization mostly for DMEPOS and HomeHealthCare.
In OpenEMR,I do not know or don't see a interface to request for a patient either for a DMEPOS or HomeHealthServices

Once these features are implemented in OpenEMR, the data from this can be used to create FHIR Service Request (https://www.hl7.org/fhir/servicerequest.html)

W

[2021-01-18 14:03] stephenwaite commented on #3382
bump

[2021-01-20 19:05] dhruv-doshi commented on #2072
Hey
I would like to work on this issue. Can someone help and guide me.
Thanks.

[2021-01-21 06:29] vishnuyar commented on #4180
Any Inputs please. CMS has it mandatory for the year 2023

[2021-01-21 07:53] mdsupport commented on #4180
This has been [long requested](https://community.open-emr.org/t/prior-authorizations/3524/2) feature. Most expedient way to store and track would be leveraging the referral process. It will not address the encounter+billing process. But it would be a start.

[2021-01-21 13:37] stephenwaite commented on #4180
hi @vishnuyar @mdsupport , there's also the [prior auth smarty form](https://github.com/openemr/openemr/tree/master/interface/forms/prior_auth)

[2021-01-21 19:28] mdsupport commented on #4180
Keep forgetting the optional form, @stephenwaite - that one is more functional for someone to utilize an PA requested by other - e.g. Home Health can use it to document required information for billing a visit.
For someone like primary care to initiate need for homehealth or specific equipment from CMS, closest we have is referral loop  since it already has all codes etc. - just does not have FHIR

[2021-01-22 11:57] vishnuyar commented on #4180
Maybe the primary thing is to create an interface to let the practitioner order DEMEPOS, HomeHealth services and Prosethectics.  Once the interface is created, creating FHIR Resources and Order Hooks is a secondary stage.

How do I start creating these interfaces ? Should they be similar to the way a Lab Order is requested ?

[2021-01-22 21:31] WalterConway opened #4187 "Search by any demographics search button disappears."
### Describe the bug

When clicking on the search input for Search by any demographic the search button "disappears" and begins to slide back into place when the browser is at full width.
![image](https://user-images.githubusercontent.com/6686369/105549385-e03c5200-5cce-11eb-9a21-14efe0cc727f.png)

If shrinking the width of the browser is down you are able to see the issue more.
![image](https://u

[2021-01-22 23:06] mdsupport commented on #4180
If it is new development, why not make life easier for next step and implement a persistent [ServiceRequest](https://www.hl7.org/fhir/servicerequest.html) object including the standard methods and properties? Although you can limit scope to implementing `requestor=practitioner` and `performer=device`, it will lay the foundation to unify current ad-hoc objects implemented over time.

[2021-01-23 00:48] WalterConway opened #4189 "Medical Record Dashboard Styling"
### Describe the bug

When viewing the Medical Record Dashboard page while multiple tabs are being viewed the side options of the MRD are overlapping the main content of the MRD page

### To Reproduce
![image](https://user-images.githubusercontent.com/6686369/105562992-89447600-5cea-11eb-9bcd-aa5aa67c284a.png)

Steps to reproduce the behavior:
1. View a page that's not the Dashboard and lock it
2.

[2021-01-23 22:38] stephenwaite commented on #2889
will fix soon

[2021-01-24 05:50] bradymiller commented on #3780
bump

[2021-01-25 12:03] vishnuyar commented on #4180
@bradymiller @sjpadgett , can I interface for Ordering DMEPOS similar to the one for Procedure order, will that be acceptable.
@mdsupport SeriveRequest is specific to FHIR, once these interfaces are implemented, in the background those requests can be created for FHIR Specifications.

[2021-01-25 12:45] sjpadgett commented on #4180
@vishnuyar
I'm bringing in an updated procedure order form replacing existing. The new form will be easier to hook different procedure type than before. Previously we had a Procedure Type but was never used and didn't persist in database. I've fixed that.

![image](https://user-images.githubusercontent.com/1859985/105706127-2536d300-5edf-11eb-96e8-0eacdb537a05.png)

Based on that field and the sel

[2021-01-25 15:59] mdsupport commented on #4180
@sjpadgett As designed in ServiceRequest, encounter is mere reference. Any chance your revisions allow for an order lifecycle without an encounter - e.g. labs ordered as needed for pre-op physical or in many cases original order is from another requester but results are cc:ed by the lab based on patient record? Ideally the form should be accessible as a transaction and in encounter. Unfortunately

[2021-01-26 04:14] bradymiller commented on #3435
bump

[2021-01-26 17:40] mdsupport opened #4196 "Login languge selection should use characterset associated with that language"
### Describe the problem
Thousand words below
![image](https://user-images.githubusercontent.com/399047/105882254-4ae4da80-5fba-11eb-9e62-d03d82c4be0f.png)

[2021-01-26 20:05] stephenwaite opened #4198 "v6 upgrade can be lengthy"
### Describe the problem

running sql_upgrade using the `development_easy` docker for testing with a pretty mature db with a lot of patients, encounters, lists, insurance, procedure_results, etc.

would like to fine tune the maria innodb setting

![Screenshot from 2021-01-26 15-04-31](https://user-images.githubusercontent.com/5618372/105898771-d3c63b00-5fe7-11eb-8298-978085eaef83.png)

[2021-01-26 20:14] stephenwaite commented on #4198
[code]

[2021-01-28 08:09] bradymiller commented on #2072
hi @dhruv-doshi , converting jquery ajax to more purist js fetch would be a good thing to look at. Huge project overall but a good thing to break down into bunch of small pieces. let us know if still interested, and will find a easy script to attack as first commit.

[2021-01-28 08:20] dhruv-doshi commented on #2072
Hello @bradymiller
I'd love to work on the project.

[2021-01-28 20:06] tywrenn commented on #4196
Are you referring to the dropdown having the charset loaded in that language or the HTML lang tag?

[2021-01-28 20:07] tywrenn commented on #4189
Does this issue fix itself when you change your theme to the default theme?

[2021-01-28 20:12] tywrenn commented on #4165
I'm not surprised that the eye form is broken. There was so much jQuery UI going on with it that it was bound to error somehow.

[2021-01-28 20:21] sjpadgett commented on #4189
see #4195 #4200
i'm still looking at but main prob was using fixed width on demographics tabs.

[2021-01-28 21:13] mdsupport commented on #4196
Yes. Looks like current logic is if installation default language is Japanese, we will display 英語 as the option leaving a non-japanese user to guess. Typically for the language switch you would have the option as :
**`英語 (English)`**
When English is installation default, Japanese would be displayed as:
**`Japanese (日本人)`**
So the user either recognizes default characterset or translation of itself

[2021-01-29 06:33] bradymiller commented on #2072
hi @dhruv-doshi ,
Here's a good one to start with:
https://github.com/openemr/openemr/blob/master/interface/usergroup/user_info.php#L51-L62

[2021-01-29 14:44] ophthal commented on #4165
Can you show me an example where this drag/drop function is deployed so I can investigate?
When I do a grep 'initDragResize' -R * at the /openemr directory I can find any...

Also what is the replacement for jquery-panelslider?

[2021-01-29 15:39] juggernautsei commented on #2330
@thesmallstar Are you still working on this project?

[2021-01-29 16:13] stephenwaite commented on #4165
hi @ophthal , will pin a topic to the top of the community forum that until eye form is fixed shouldn't upgrade

[2021-01-29 18:58] sjpadgett commented on #4165
I agree. @bradymiller @stephenwaite Lets have this conversation. This was left hanging and need to resolve.
@ophthal
The replacements for drag and drop is in our `library/js/utility.js`. What other jquery-ui utilities is the eye form using that was missed. Would, as stands now, adding the dependency fix eye-form quickly?

[2021-01-29 19:39] sjpadgett commented on #4189
The fixes i'm testing with seem to fix issue involving Dashboard responsiveness. May need more but, what I have will do for now and am bring in for v6 patch(1).

Love this theme btw! iPad landscape
![image](https://user-images.githubusercontent.com/1859985/106319099-eb4b3100-623e-11eb-897f-139b7b41c757.png)
and light:
![image](https://user-images.githubusercontent.com/1859985/106319423-6ca2c380-62

[2021-01-29 19:52] #4189 closed

[2021-01-29 20:58] adunsulag opened #4203 "Bulk FHIR Export / Multiple Patient FHIR API support"
Tracking issue for Bulk FHIR implementation against ONC requirements.  We need to flesh out the BULK FHIR implementation.  Here's the latest progress report from Inferno against the smart-fhir-bulk pull request. I've attached to this issue.

![image](https://user-images.githubusercontent.com/228117/106326597-bb098f80-624a-11eb-8211-e9517e70901c.png)

[2021-01-30 17:51] sjpadgett opened #4205 "Missing FHIR Resources"
### Describe the problem
We still have missing resources to complete our core FHIR API. Any help is appreciated and are needed very soon.
- CarePlan https://www.hl7.org/fhir/careplan.html
- Device https://www.hl7.org/fhir/device.html
- DiagnosticReport https://www.hl7.org/fhir/DiagnosticReport.html
- DocumentReference https://www.hl7.org/fhir/DocumentReference.html
- Goal https://www.hl7.org/fhir/

[2021-01-30 22:52] stephenwaite commented on #4198
can add `80%` of system memory like this in easy dev docker for better throughput
[code]

[2021-01-31 00:17] stephenwaite commented on #2889
weird my comment 7 days ago wasn't considered recent activity

[2021-01-31 04:38] vishnuyar commented on #4205
@sjpadgett Almost done with adding Surgery to Procedures FHIR Resource.
Started working on Medication.
Can take up these resources next. If there is any importance of order, I can do them accordingly.

[2021-01-31 19:44] sjpadgett commented on #4205
@vishnuyar thanks
I'd say DiagnosticReport then DocumentReference. Device will need to be last I suppose.

[2021-02-01 23:27] stephenwaite commented on #4198
if we trust ramsey :)
https://github.com/openemr/openemr/compare/master...stephenwaite:trustramsey?expand=1

[2021-02-04 01:58] #1885 closed

[2021-02-04 05:41] stephenwaite commented on #2889
going to take another look and see why we even have the prompt `i created the database already` since it seems the installer is able to handle both situations just fine without needing to know what was selected from that radio input

may end up removing the selection altogether and do some rewording on the subsequent screens for a very seldom used choice anyways am guessing

[2021-02-04 08:01] fardnia opened #4216 "Create Multi Calendar Type support as (jalali | persian | Shamsi Hijri ,Arabic | Hijri , other )"
### Describe the problem

In some countries, such as Iran, the official calendar is defined differently. In these countries, daily work is done with a local calendar.
In the geographical region of Persia, 300 million people use this type of history.

### Describe the solution you'd like
During the last ten years in Iran, from version 3.2 to 5, this format has been added to the code from the date w

[2021-02-04 17:03] Gaoyan1999 opened #4217 "Problem : docker-compose up"
when I run `docker-compose up`, I can't pull docker images successfully. Even if I open a VPN in China.

[2021-02-05 04:18] sjpadgett opened #4218 "Portal broken"
### Describe the bug
Autoloader not ran yet via globals so new system loader class is unknown to portal or possibly elsewhere. Be on the lookout.
I'll fix portal with some other portal fixes like where the heck did my exclude in portal layout option go?
[code]
![image](https://user-images.githubusercontent.com/1859985/106988676-5f556f80-673e-11eb-8ca4-cbd447007436.png)

[2021-02-06 15:50] #4218 closed

[2021-02-06 17:33] #4016 closed

[2021-02-07 12:21] #4198 closed

[2021-02-08 17:17] ujjwal-batra commented on #4187
@tywrenn I want to work on this issue. I am new to openemr development can you please tell me where can I find the code related to this or which file to look into for this fix?

[2021-02-09 14:32] arnabnaha opened #4229 "NPM Issue"
Hi..
I am on windows 10 and using openemr latest dev version. I was updating to current dev tip and when running the "npm install" command it showed this -

![npm](https://user-images.githubusercontent.com/1074948/107378025-95fe0200-6b11-11eb-8a88-d46740d6ab42.jpg)

After this whenever I am running the npm run build command, there is error and now my openemr doesnot show properly.

Please help...d

[2021-02-09 14:50] vishnuyar opened #4230 "FHIR Metadata giving 401 error"
### Describe the bug

fhir metadata shouldn't be part of authorisation scope. With recent change, the functionality of skipAuth for fhir/metadata is not working anymore.

### To Reproduce

Steps to reproduce the behavior:
1. Add a '....'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

### Client configuration

- Browser:
- OpenEMR version:
- Operating system:

[2021-02-09 15:48] arnabnaha commented on #4229
Fixed this myself...Just updated the NPM version from 8.10 to 14.54...It worked..Thanks a lot

[2021-02-09 15:48] #4229 closed

[2021-02-09 19:13] bradymiller commented on #4230
@vishnuyar , there are 2 more PR's that are about to come in related to fhir and i think the first will address this:
https://github.com/openemr/openemr/pull/4204
https://github.com/openemr/openemr/pull/4213

Code changes in the PR's are very significant, so would wait til those get into master before restesting/working on this bug (so you don't waste to much of your time).

[2021-02-10 12:42] adunsulag commented on #4230
@vishnuyar my PR fixes this problem.  I found the same issue and fixed it in the PR.

[2021-02-11 14:30] stephenwaite commented on #4031
looks like being addressed in #4233 :)

[2021-02-12 06:37] bradymiller commented on #3949
bump

[2021-02-12 06:38] bradymiller commented on #3951
bump

[2021-02-13 01:28] bradymiller commented on #3378
bump

[2021-02-16 08:51] viradhanus commented on #4089
Description is up to date.

[2021-02-16 08:51] #4089 closed

[2021-02-16 12:39] stephenwaite commented on #4023
reopening

[2021-02-17 22:24] stephenwaite commented on #4045
who cares now that we have 'weno' :)

[2021-02-17 22:24] #4045 closed

[2021-02-18 12:54] #4032 closed

[2021-02-18 12:55] #4033 closed

[2021-02-18 12:55] #4034 closed

[2021-02-19 19:55] filipeaguiar opened #4242 "Cant login after installing"
### Describe the bug

I've followed the tutorial all the way to the end to get the application working. I've noted the initial username and password aside. But when I try to login with them I get "invalid username or password" error.

### To Reproduce

![image](https://user-images.githubusercontent.com/1827431/108554621-19b6ac00-72d3-11eb-9abe-9fdf8c511fda.png)

Steps to reproduce the behavior:
1.

[2021-02-20 02:57] stephenwaite commented on #4050
bump

[2021-02-21 18:41] bradymiller commented on #2924
bump

[2021-02-21 18:51] stephenwaite commented on #2810
bump

[2021-02-22 16:48] stephenwaite commented on #2292
was prob fixed by recent overhaul, will dbl check

[2021-02-25 07:02] #3928 closed

[2021-02-25 14:32] bartmch opened #4255 "Bulk upload MIMIC dataset in openEMR"
Hi, this might be a loaded question but how do I efficiently upload the [MIMIC dataset](https://mimic.physionet.org/mimicdata/schema/) into an openEMR I'm running on my local pc? The goal is to demo the MIMIC dataset through openEMR.
I'm new to openEMR and eager to learn. Also, please let me know if I should be asking this question somewhere else.
Keep up with the great work!

[2021-02-25 22:16] #3877 closed

[2021-02-26 07:21] Nimra2212 commented on #4105
Hello! I wanted to work on this issue, I love to resolve bugs and errors, it's my passion and i am an expert in this. I will appreciate it if you will assign me this issue and guide me a little bit :)

[2021-02-26 17:43] Nimra2212 commented on #4105
@stephenwaite I am also a beginner to open source and might take some time to understand the codebase and clarify if there is any deadline to it?

[2021-02-26 18:11] Nimra2212 commented on #4105
I am also a beginner to open source and might take some time to understand
the codebase and kindly clarify if there is any deadline for it?

On Fri, 26 Feb 2021 at 18:04, stephen waite <notifications@github.com>
wrote:

[2021-02-26 18:13] stephenwaite commented on #4105
no deadline thank you @Nimra2212 , have you seen the [contributing guide](https://github.com/openemr/openemr/blob/master/CONTRIBUTING.md)?

[2021-02-26 18:15] Nimra2212 commented on #4105
@stephenwaite yeah, I am looking and reading, Thank you so much for giving me a chance to learn :)

[2021-02-26 18:19] Nimra2212 commented on #4105
yes, I am reading the guidelines, Thank you so much for giving me a chance
to learn :)

On Fri, 26 Feb 2021 at 23:13, stephen waite <notifications@github.com>
wrote:

[2021-02-27 03:44] mdsupport commented on #4105
@Nimra2212 - you can check /interface/main/messages/messages.php.

Did not notice that to be issue with 6.0 so just confirmed in demo. But did notice another issue - if the patient box is clicked, patient selection allows adding other patients to the list. @stephenwaite will have to confirm if sending message to a patient list  is supported. In this case, code does throw an error.

[2021-02-27 05:10] rhausam commented on #4205
Wondering if there is a status update on where we are with these resources, @vishnuyar?  I'm familiar with them and responsible as an HL7 Orders and Observations Work Group Co-chair for DiagnosticReport and Device.  I'm interested in re-engaging and may be able to help with some of them if that's still needed.

[2021-02-27 06:47] nrg-norouzi opened #4258 "unique make an appointment in patient portal"
### Describe the bug
in portal appointment section , every patient can register multiple appointment per one day.

### Expected behavior
is there any way that one patient register only one appointment per every day ?

### Client configuration

- Browser:firefox 85
- OpenEMR version: 6
- Operating system: ubuntu 20.04

[2021-02-27 12:20] stephenwaite commented on #4105
thank you @mdsupport , confirmed no bug on master and did see the error you mentioned

![Screenshot from 2021-02-27 07-16-59](https://user-images.githubusercontent.com/5618372/109386951-43239900-78cc-11eb-9eb8-2e6fdeaf6e56.png)

[2021-02-28 16:57] #2597 closed

[2021-02-28 20:03] sjpadgett commented on #4053
@bradymiller I fixed this but forgot to bring back for first patch. PR #4222
I'll close from PR then cherry pick.

[2021-02-28 20:08] sjpadgett commented on #4053
done.
I like these reminders that was GSoc I believe...

[2021-02-28 20:08] #4053 closed

[2021-02-28 20:47] stephenwaite commented on #4053
think @tywrenn added that stale bot :)

[2021-02-28 20:48] sjpadgett commented on #4053
yeah, I miss Ty:)

[2021-02-28 22:54] sjpadgett opened #4260 "batch new payments return to confirm payments on submit"
### Describe the bug
Not a bug as I intended to patch that workflow out simply because the confirm screen is ambiguous.
Dropping through from the new payment submit provides the same info but still allows editing.
But, I don't care as in the end one user will like and another will not.
As it's legacy, i'll return.

Also will add some niceties like fix table styles to fit screen and auto select pay

[2021-03-01 00:07] bradymiller commented on #4053
three minion cheers for @tywrenn !!!
(i still remember the day when my phone beeped/buzzed more than a hundred times straight when he started the stale feature :) )

![2DV](https://user-images.githubusercontent.com/278968/109438447-e95fc380-79de-11eb-8e5c-da59b7fce413.gif)

[2021-03-01 03:34] vishnuyar commented on #4205
@rhausam , I got pulled somewhere else. Haven't made much progress. Currenly working on DiagnosticReport. You can take another FHIR Resource.

[2021-03-01 19:43] dmuserallo opened #4265 "LBF Groups Display Issue"
With the newest version of OpenEMR, there were some formatting updates with LBFs that changed the user interface.  Prior to the most recent upgrade to version 6.0.0, groups within LBFs were displayed in a left-justified, single item, column format.

With the upgrade, the groups are now being displayed horizontally in a row format with multiple groups listed in a single row.  The attached screensho

[2021-03-01 19:46] sunsetsystems commented on #4265
I wonder if that change was intentional? Anyway I will soon have a bunch of layout-related updates for the master branch.

[2021-03-01 19:49] sjpadgett commented on #4265
My though as well. I'm not sure but, it's not really usable with groups on bottom.
I'm going to find where it went wrong and will let you know @sunsetsystems

[2021-03-01 21:29] sjpadgett commented on #4265
@sunsetsystems
This is an easy fix. LBF/new.php L-820
change
```<div class="row">```
to
```<div class="flex-row">```

@dmuserallo you can make this minor change in your code and we'll ensure it will be included in our first patch.
The file reside in your openemr root dir tree at:  `interface/forms/LBF/new.php`

![image](https://user-images.githubusercontent.com/1859985/109561373-12e62100-7aab-11eb

[2021-03-01 21:38] dmuserallo commented on #4265
Jerry,

Thanks for the fix!  We'll update our code.

Best,
Dava Muserallo, LCMHCS, LCAS, CCS, NCC
Clinical Director

New Leaf Behavioral Health | [map
<https://www.google.com/maps/preview/place/New+Leaf+Behavioral+Health/@35.8347547,-78.6667526,17z/data=!3m1!4b1!4m2!3m1!1s0x89acf62298be7ecd:0x1d703123bc45b8b4>
]
North Hampton Building
3725 National Drive | Suite 220
Raleigh, NC 27612-4879
P 919-78

[2021-03-01 21:38] dmuserallo commented on #4265
Will do!  Thanks for the help!

[2021-03-01 23:33] #4057 closed

[2021-03-02 13:51] sjpadgett commented on #4265
@sunsetsystems Are you going to add this to your PR or I could add to mine i'm getting ready to merge?

[2021-03-02 15:17] #4260 closed

[2021-03-02 15:22] #4265 closed

[2021-03-02 20:21] sunsetsystems commented on #4265
Jerry, please go ahead. Thanks!

[2021-03-05 17:39] sjpadgett opened #4267 "Sort out feesheet code select competing events."
### Describe the bug
There are 5 click handlers with 2 competing bubbling events. umm who wins!:)

[2021-03-05 17:52] stephenwaite commented on #4267
only you and @yehster know for sure :)

[2021-03-06 01:47] #4267 closed

[2021-03-06 16:12] sjpadgett commented on #4131
Bumping this with this comment: "Why, Oh Why, Me!"
Have I ever mentioned, I hate xml!:)
Only 69 more errors to go!!!

[2021-03-06 18:54] stephenwaite commented on #4131
hah, do you have a branch @sjpadgett , be happy to assist if would help

[2021-03-06 19:34] sjpadgett commented on #4131
Maybe later. I'm reorging project now and have pulled in the templating engine and library. (formerly Blue Button I took over 4 years ago)), from my npm project. All javascript and nodejs.
I'll then do a PR to work from.

[2021-03-06 19:48] juggernautsei opened #4271 "v6.0.0 Billing Manager showing all dates"
### Describe the bug
When opening the billing manager, the default is today. The billing manager pulls all dates.

write a concise description of what the bug is.
see above

### To Reproduce

![image](https://user-images.githubusercontent.com/834958/110219000-a7c19380-7e8a-11eb-8d9e-e44e668c181b.png)

Steps to reproduce the behavior:
1. Go to demo
2. Log in demo
3. Open Billing manager
4. see all

[2021-03-06 20:47] stephenwaite commented on #4271
@kchapple and @growlingflea fixed this with their overhaul in `master`

here's the [fix](https://github.com/openemr/openemr/blob/master/src/Billing/BillingReport.php#L74) which will put into 1st patch

[2021-03-06 21:06] benmarte opened #4272 "Portal login does not work on v6.1.0-dev"
### Describe the bug

Registration is fixed but logging in no longer works, the only way it works is if you reset credentials, change your password, and then login but after you log out you can no longer log in again.

I thought this might be an SSL issue but testing locally I can log in just fine after I reset the credentials, but as soon as I logout I can no longer log in.

### To Reproduce

1.

[2021-03-06 23:18] #4271 closed

[2021-03-06 23:50] bradymiller commented on #4131
![tenor (52)](https://user-images.githubusercontent.com/278968/110224800-a6489900-7e93-11eb-941b-b3a37e4d28b1.gif)

[2021-03-07 02:19] sjpadgett commented on #4131
I've now consolidated all source to local. Published npm project no longer needed meaning we can get rid of openemr/oe-blue-button-generate repo. Will be deleting eventually @bradymiller and only adds 1.5MB to my ccdaservice dir...
Will work on converting to an express app or wait to see @kchapple app to see how we can have a common server. Unsure how that's going to work...

[2021-03-07 02:23] sjpadgett opened #4274 "Profile and Optimize Login."
### Describe the bug
Too me, login is too slow. Need to profile and see if anything we can do.

[2021-03-07 02:28] sjpadgett commented on #4131
Oh, thoughts on if we need FHIR to CCDA and visa versa?

[2021-03-07 03:58] stephenwaite commented on #4274
![Screenshot from 2021-03-06 09-00-19](https://user-images.githubusercontent.com/5618372/110228471-76b78200-7ecf-11eb-8300-bb51880a8377.png)

[2021-03-07 04:22] sjpadgett commented on #4274
@stephenwaite I pulled master and can't recreate. I assume this is before globals require.
Is this from phpstorm?

[2021-03-07 07:54] sunsetsystems commented on #3582
I have a commit that I can port over for this. It restricts you from creating a user that has any greater permissions than you have. Stay tuned.

[2021-03-07 08:10] bradymiller opened #4275 "6.0.0 patch 1 progress"
Just to keep folks appraised of status for patch 1.

 Below items are done. Just have some more testing to do. Am hoping to get out by **Saturday or Sunday**.

1. Security fixes (reported by Hagai Wechsler at https://www.whitesourcesoftware.com/)
2. Eye form fixes
3. Patient portal registration fix
4. WENO
5. UUID creation optimizations
5. Billing fixes
6. sql upgrade optimizations
7. Addition of

[2021-03-07 08:20] pete-boyd commented on #3582
@sunsetsystems please note that that wouldn't completely fulfil the subject of this issue. I am administrator; there are very few administrators; I create user accounts and it is extremely rare for me to want to create another administrator. If I happen to forget to check the role of a new account then it defaults to the administrators role. Forgetting to check the role needn't have such a dramati

[2021-03-07 08:48] sunsetsystems commented on #3582
Thanks for clarifying. I guess there should be no default role, and that validation should force you to choose at least one. My fix is not that, but what you want should not be difficult.

[2021-03-07 11:52] stephenwaite commented on #4274
hi @sjpadgett , this is vscode, this is the globals require at line 28 of `interface/login/login.php` which creates that nested `$GLOBALS['GLOBALS']`

[2021-03-07 12:37] sjpadgett commented on #4274
@stephenwaite Yep, just not seeing it in phpStorm...

[2021-03-07 14:59] sjpadgett commented on #4272
@benmarte
This works for me. First, not sure how you ended up with a < 12 character username! Won't work...
Also, ya can't have any shared browser cache or sessions with openemr and portal. Many times in testing one may log in and out of openemr then log into portal etc and this can cause issues as well. Clear browser cache. Please report back if you still can't get to work as maybe your workflow

[2021-03-07 15:08] stephenwaite commented on #4274
Ok, see that, thanks @sjpadgett

guess `GLOBALS` is a null array inside of `$GLOBALS` and vscode calls it `NaN` and just points it back at `$GLOBALS`

[2021-03-07 15:15] sjpadgett commented on #4274
Microsoft handles null and 0 terminated strings and arrays diff in their compiled languages. May just be a quirk with their PHP debug...

[2021-03-07 15:20] stephenwaite commented on #4274
![external-content duckduckgo com](https://user-images.githubusercontent.com/5618372/110244855-b6fa1d00-7f2e-11eb-8f49-2548079694b7.jpeg)

[2021-03-07 15:22] sjpadgett commented on #4274
yep, don't look a gif horse in the mouth!:)

[2021-03-08 01:37] #4073 closed

[2021-03-08 01:45] tmccormi commented on #2677
This is still an issue. Bumpity.

[2021-03-08 01:48] kchapple commented on #2677
This is still an issue. On the chopping block. Bumpity.

[2021-03-08 19:30] growlingflea commented on #2677
I'd be happy to take a swing at this  I've made some customization/ improvements to the messages widget and I'm familiar with the code.

[2021-03-08 19:40] kchapple commented on #2677
There’s a whole lot more to do than just sent messages....
Group messaging
Forward mapping (think when a provider leaves)
Consolidate reminders and messages
Threaded messages
Add status (task management)
Port to datatables
Inbox filters
Hooks to hook in external email/sms
Open message thread in new tab

[2021-03-09 07:08] sjpadgett commented on #4131
Can anyone tell me why CCM will not select a problem if link to Medical Problems from an encounter. Doesn't make sense. Is this a bug or is there a clinal reason not to send with a transition of care only non encounter linked problems/issues?

[2021-03-10 11:33] #4081 closed

[2021-03-10 13:40] sjpadgett commented on #4131
Vital Signs, BMI, and Growth Charts Not required for MU3 but required by ONC!

[2021-03-10 13:41] stephenwaite commented on #4131
where do you see that @sjpadgett ?

[2021-03-10 13:43] sjpadgett commented on #4131
A couple diff summary sites but I still have to see if ONC has issued a change letter.

[2021-03-11 16:40] mdsupport commented on #2677
@kchapple If we do all items on your list, it will be a collaboration platform. So instead of spending dev hours/$ on building one, it will be win-win if that effort is spent on integrating something like Zimbra. Effort is then limited to a mechanism to sync the communication information for users and patients. Then EMR users will benefit from a rich user interface with several workflow possibilit

[2021-03-11 17:52] kchapple commented on #2677
@mdsupport I don't disagree, but I'd lean more towards a simple UI based on jQuery DataTables that can be integrated with external systems like Zambra, Zix, SMS, etc. via plugin/module. I don't think requiring a bohemith Java app that has to run side-by-side with OpenEMR is feasible. My list is really pretty basic requirements.

[2021-03-11 17:57] kchapple commented on #2677
I don't think you were too far off with your screenshot above.

[2021-03-12 07:06] bradymiller commented on #4275
Ok, all the fixes are now in rel-600. Now just gotta do some sanity testing and then will release patch (either will be tomorrow night or Saturday as long as testing goes well).

[2021-03-12 10:54] stephenwaite commented on #4275
![addams_family](https://user-images.githubusercontent.com/5618372/110930659-60f2f400-82f7-11eb-82b7-902d65f16b1c.gif)

[2021-03-13 08:44] sjpadgett commented on #4131
I get different results from different validators but i'm getting there. I'm still trying to figure out if ONC only requires BMI where MU3 requires no vitals.... Now we're up to normative rel 2.1 2017 so next the Gold Standard and some extensions. Still, I'm seeing light where there was only darkness a week ago!:) Somebody buy me a beer!
![image](https://user-images.githubusercontent.com/1859985/1

[2021-03-13 09:59] nitindwivediyaitsme commented on #4217
I think you can add --pull to up for latest version of compose images.

[2021-03-13 12:16] stephenwaite commented on #4131
![your_file](https://user-images.githubusercontent.com/5618372/111029699-0b3c4b80-83cc-11eb-8cd8-f5c1080eed21.gif)

[2021-03-13 18:34] bradymiller commented on #4275
testing showed break. just realized need to figure out a way to get the built css theme files into the patch. dang.

[2021-03-14 03:36] bradymiller commented on #4275
getting close. updated the patch builder script to have option of building themes/css stuff: https://gist.github.com/bradymiller/4f7817a7f2081891ccc93904914ea6f4

[2021-03-14 07:19] #4275 closed

[2021-03-14 07:20] #2719 closed

[2021-03-14 07:21] bradymiller opened #4284 "OpenEMR 6.0.0 Patches"
The 1st patch for OpenEMR 6.0.0 has been released:
[https://www.open-emr.org/wiki/index.php/OpenEMR_Patches ](https://www.open-emr.org/wiki/index.php/OpenEMR_Patches)

The patch includes:
* Security fixes (reported by Hagai Wechsler at [whitesourcesoftware.com](https://www.whitesourcesoftware.com), fixes by Brady Miller)
* Eye form fixes (fixes by Ray Magauran)
* Patient portal registration fix (f

[2021-03-14 11:04] stephenwaite commented on #4284
![snoopy-requesting-another](https://user-images.githubusercontent.com/5618372/111066061-78ff7a80-8493-11eb-8429-c130057d8ff3.jpeg)

[2021-03-16 08:21] arnabnaha commented on #4009
Any help on this...this looks really odd in patient finder

[2021-03-17 14:00] adunsulag commented on #4230
@vishnuyar is this problem now resolved from you?  I believe we can go ahead and close this issue now.

[2021-03-17 14:11] #4230 closed

[2021-03-17 20:30] sjpadgett commented on #4131
Status update: Still have some warnings that i'll sort out during scenario testing.
- Meeting ONC 2015 C-CDA validation with no errors.
- One error for MDHT conformance HL7 Rel-2.1 though, I believe it's an invalid error.

![image](https://user-images.githubusercontent.com/1859985/111530060-3e1e7080-8739-11eb-9562-d32b0efd17ab.png)

I haven't implemented Payers yet and i'm not sure I need to.
![im

[2021-03-17 20:33] stephenwaite commented on #4131
gonna dbl check with Brady but until this is totally compliant then:
![nosoup](https://user-images.githubusercontent.com/5618372/111534441-6066bd00-873e-11eb-9976-d20d70dbd33b.gif)

:)

[2021-03-17 21:39] sjpadgett commented on #4131
as long as I still get coffee!

[2021-03-17 21:43] stephenwaite commented on #4131
https://user-images.githubusercontent.com/5618372/111542536-403bfb80-8748-11eb-9150-08e1bf2e912f.mp4

[2021-03-18 01:24] sjpadgett opened #4290 "ONC 2015 C-CDA engine Phase 2."
This continues the C-CDA project with interop(HIE, Import/Export etc) and CCM fixes from issue #4131 .
Phase 3 will be testing and necessary template additions to meet final ONC testing criteria.
We need phase 2 to support phase 3.
Help is always welcomed...

@vishnuyar and/or @rhausam I could really use the Document resource soon. Even if not finished, I'd help.

[2021-03-18 03:45] rhausam commented on #4290
@sjpadgett  I assume that likely you are referring to the DocumentReference resource?  There is also the ClinicalDocument profile which is a (relatively minor) constraint on the Composition resource, and is intended to correspond with CDA.  But I'm still thinking that you probably mean the former.

[2021-03-18 04:24] sjpadgett commented on #4290
yep the DocumentReference. Not so much for ccda but for all documents. Mainly pushing while Stephen is working on our search engine and I've still to decide whether to include ccda as binary, link or both.
Looking to get the resource in so we can start expanding it's workflow.

[2021-03-18 15:25] #4131 closed

[2021-03-18 22:46] sjpadgett commented on #4290
For testing purposes here are some tools:
- various: https://oncprojectracking.healthit.gov/wiki/pages/viewpage.action?pageId=58163335
- Edge and other: https://ett.healthit.gov/ett/#/home
- Validators: https://ett.healthit.gov/ett/#/validators

I believe we used Edge Protocol for SMTP for 2014. For previous CCD transport and generations, ZH provided a Mirth server that handled these tasks. The do

[2021-03-19 02:55] #4091 closed

[2021-03-19 02:55] #4076 closed

[2021-03-25 04:29] sjpadgett opened #4302 "Add portal/demographic document template categories and restructure to SPA"
Able to add category for templates. Rework workflow.

![image](https://user-images.githubusercontent.com/1859985/112418133-5117de80-8cff-11eb-8e1b-8ec87e9d7fdd.png)

yep, documents don't match category. Just for testing.

![image](https://user-images.githubusercontent.com/1859985/112418628-3c881600-8d00-11eb-8fb3-36989d2c0493.png)

Responsive:
![image](https://user-images.githubusercontent.com/185

[2021-03-25 14:49] dmuserallo opened #4305 "Insurance Module - Making Field Additions to Layout"
I wanted to add a text area field in the insurance module under each insurance for Insurance Notes (we check specific insurance codes for behavioral health, and we keep track of the types of sessions covered). I’m familiar with updating layouts, including the demographics layout, but don’t see where I have access to the insurance module. Is this possible to update/add?

[2021-03-25 20:30] #4109 closed

[2021-03-25 22:37] sunsetsystems commented on #4305
Insurance is not layout based so it would require some coding. See:
library/classes/InsuranceCompany.class.php
templates/insurance_companies/

[2021-03-25 22:39] stephenwaite commented on #4305
been in there a little bit too much lately, there's also the real time eligibility that @sjpadgett  added that sounds like might be a better fit for your search for tracking coverage

[2021-03-26 03:10] #4302 closed

[2021-03-26 14:20] adunsulag opened #4307 "FHIR Diagnostic Report for Radiology, Cardiology, Pathology"
We need to implement the [FHIR Diagnostic Report resource](http://hl7.org/fhir/us/core/StructureDefinition-us-core-diagnosticreport-note.html) for radiology, cardiology, and pathology reports in the system.  Brady said the best person to get information in this area might be @sunsetsystems.

In order to implement this we need to know the tables to search in for each of these categories and their c

[2021-03-26 16:38] stephenwaite commented on #4307
hi @adunsulag , what about `procedure_result.result_code`?

[2021-03-26 17:03] sjpadgett commented on #4307
@adunsulag Are you going to write this resource?
I can give you the queries from either electronic reports or CCM that populates dataset for CDA results section.
The codes are part of the compendium(procedure configuration) so no look ups for those.

[2021-03-26 17:30] adunsulag commented on #4307
@sjpadgett We currently don't have the DiagnosticReference service so I planned on writing this resource as part of the work Brady asked me to do.  At least I'm providing an estimate on it, it will be up to y'all to decide if that makes sense or not.

If you have the queries that would be wonderful as that will shave off a lot of time for me.

Supposedly there is intended to be a downloadable vers

[2021-03-26 17:50] dmuserallo commented on #4305
Thanks for the information!  @spadgett, how might I be able to access the real time eligibility feature?  What I am looking to do is store information related to codes covered, benefit periods for insurance, OOPM.  Would love it if I could track/store that data along with eligibility!

[2021-03-26 18:03] stephenwaite commented on #4305
hi @dmuserallo , [here's a thread from the forum](https://community.open-emr.org/t/eligibility-checks-clearinghouses/9742/110?u=stephenwaite)

[2021-03-26 18:10] sjpadgett commented on #4307
Okay, per our convo here's an example of various data have access to: LOINC are used in results.
![image](https://user-images.githubusercontent.com/1859985/112674732-a9082f80-8e3c-11eb-9e42-5822b12641e5.png)

[2021-03-26 19:03] stephenwaite opened #4308 "merge patient bug"
### Describe the bug

merge patients doesn't check for primary conflict in `lists_touch`
![Screenshot from 2021-03-26 15-01-39](https://user-images.githubusercontent.com/5618372/112680834-3e5af200-8e44-11eb-802a-c908ca8158c8.png)

### To Reproduce
add some meds to a couple of patients
merge patients

[2021-03-26 20:53] sjpadgett commented on #4308
https://www.mysqltutorial.org/mysql-replace.aspx/
always gets me out of these pickles....

[2021-03-26 21:05] stephenwaite commented on #4308
![PICKLE](https://user-images.githubusercontent.com/5618372/112692511-728ade80-8e55-11eb-8bcd-2877a3d431c8.gif)

[2021-03-26 21:36] sjpadgett commented on #4308
@stephenwaite
I haven't set this up to try so maybe you can take a look.
[merge_patients.zip](https://github.com/openemr/openemr/files/6214449/merge_patients.zip)

[2021-03-26 21:50] stephenwaite commented on #4308
![zippy](https://user-images.githubusercontent.com/5618372/112696216-ca2c4880-8e5b-11eb-8ecf-483dfbd01792.gif)

[2021-03-26 22:56] sjpadgett commented on #4308
I just thought it might be a quick fix. git won't allow .php uploads....

[2021-03-26 23:15] stephenwaite commented on #4308
yeah, cool, but looks like this form of the replace statement doesn't support where clause so i'll go ahead and add a select statement and an if statement for `lists_touch` which may be the only prob right now with that unique key of pid

[2021-03-26 23:17] stephenwaite commented on #4308
darn, @adunsulag's cool `SqlQueryException` isn't in `rel-600`

[2021-03-27 02:10] sjpadgett commented on #4308
try/catch doesn't work on sql api!!!
prob need to have separate statement for this type of table because the index is setup on primary pid and type for uniqueness.

[2021-03-27 10:49] stephenwaite commented on #4308
stephen n added the `sqlStatementThrowException`
[code]

[2021-03-28 14:43] benmarte opened #4310 "Bug FHIR Encounter API not returning results"
### Describe the bug

The FHIR Encounter API endpoint does not work. I have a patient with a few encounters as you can see here:

![image](https://user-images.githubusercontent.com/693275/112756149-d1656a80-8fb1-11eb-9f49-fdec173396d8.png)

When I ping the endpoint with the user id it does not return anything besides `null`, apache log for reference.

[code]

This is on the latest master.

### To

[2021-03-28 14:48] vrjula opened #4311 "Document does not delete from controller after upgrade to 6.0.0"
### Describe the bug

Since the upgrade, when I delete a file from the Documents List, the item is removed from the list (i.e., the database), but the actual file remains in the site’s Documents folder.

### To Reproduce

Pic below shows what happens when I delete an item from Documents List, after the upgrade:
![image](https://user-images.githubusercontent.com/60139689/112756362-69f7ec80-8faa-11e

[2021-03-28 15:37] sjpadgett commented on #4311
@vrjula
I thought in the past we deleted the file but looking at code it looks like we only do a soft delete. Makes sense for HIPAA maybe. Still hard for file management.
@bradymiller @stephenwaite Do you recall if document delete is supposed to be only a soft delete?

[2021-03-28 15:41] #4311 closed

[2021-03-28 15:53] sjpadgett commented on #4310
@benmarte
`GET /fhir/Encounter/:id`
remove the colon before id..
`GET /fhir/Encounter/id`

[2021-03-28 16:22] benmarte commented on #4310
@sjpadgett I am not passing `:id`

This is the actual endpoint I'm hitting when getting the error:

`http://localhost:8300/apis/default/fhir/Encounter/930f2cae-d5d2-45f1-b024-e3dcf0a62f1a`

[2021-03-28 16:40] sjpadgett opened #4312 "Add Clinical Notes"
### Describe the problem
Need various notes:
• Consultation Note
• Discharge Summary Note
• History & Physical
• Imaging Narrative
• Laboratory Report Narrative
• Pathology Report Narrative
• Procedure Note
• Progress Note

My current thinking is to replicate the Care Plan encounter form to a Clinical Notes form. In this way more than one note can be added within one form for the encounter.

Let m

[2021-03-28 18:10] mdsupport commented on #4312
When there is a need, [hl7 designs](http://hl7.org/fhir/us/core/2019Jan/clinical-notes-guidance.html) are a good resource. This takes us away from encounter based forms. As an example, an internist gets copy of lab report resulting from patient's visit to her  cardiologist. If the two MDs had a chat, where would the information be recorded?

I think it may be good to bring in the [Observation enti

[2021-03-28 18:22] sunsetsystems commented on #4312
Surely layout-based would be easiest as well as flexible? Where there are multiple unrelated notes for a visit, multiple forms may be saved.

[2021-03-28 22:14] sjpadgett commented on #4310
okay  I believe the encounter resource itself returns only by encounter id so to get encounter for patient
http://localhost:8300/apis/default/fhir/Patient/:id/Encounter
check docs though.

[2021-03-29 05:48] bradymiller commented on #4310
@benmarte ,
Is that the uuid for an encounter or for a patient?
(as @sjpadgett points out, need to use encounter uuid for that endpoint; a patient search on encounters (if that is a patient uuid) would be `http://localhost:8300/apis/default/fhir/Encounter?patient=930f2cae-d5d2-45f1-b024-e3dcf0a62f1a`)
what happens with? (this should list all of the encounters of all patients):
[code]

[2021-03-29 08:54] benmarte commented on #4310
Oh ok so this is in fact not a bug and just me misunderstanding how the api works, before using FHIR I was using the OEMR API which works differently, thanks for clearing this up guys.

The bug is me, I'm the bug 🙃 🤣

[2021-03-29 08:54] #4310 closed

[2021-03-29 16:47] RachelElli opened #4315 "Version of ADOdb specified in composer.json 5.20.18 is not compatible with PHP 8. Need 5.20.20 or higher"
### Describe the bug

The issue is discussed here:
https://community.open-emr.org/t/cant-make-a-backup/16345/12

After updating to version 6.0 on the latest version of xampp user is not able to create a backup of the database.
Xampp version uses PHP 8....

Error message within the user interface states:
"The error says: Dumping OpenEMR database…
There was an error on the backup"

Inside the xampp

[2021-03-29 16:55] stephenwaite commented on #4315
nice report @RachelElli !

do you think the user wants to try to [run composer on windows](https://getcomposer.org/doc/00-intro.md#installation-windows) to test the approved version?

[2021-03-29 16:58] RachelElli commented on #4315
Sounds like he was planning on trying again on a version running PHP7.3

[2021-03-29 17:06] stephenwaite commented on #4315
be nice to test it out on windows if possible but sounds like it's the fix

[2021-03-30 13:20] #4308 closed

[2021-03-30 13:56] ravi-gadhiya-think opened #4316 "FHIR create patient API not working"
### Describe the bug
Tried the POST api for create patient as mention on documentation, but getting 400 Http response code.

### To Reproduce

Steps to reproduce the behavior:
1. Go to FHIR create patient documentation https://github.com/openemr/openemr/blob/master/FHIR_README.md#post-fhirpractitioner
2. Copy curl mention on Request and paste while importing curl into postman. (Our instance is run

[2021-03-30 15:16] dmuserallo commented on #4312
I would love to see more narrative sections for static information that can be housed within a client record.  We could benefit from some additions to the insurance module that allows for a more narrative description of data (including benefit period, type of plan (PPO, POS, etc), cpt codes covered, OOPM and how much met, Deductible and how much met, exclusions to coverage.  All of this could be a

[2021-03-30 19:38] bradymiller commented on #4312
From a provider perspective, 1 text box (aka description field in Care Plan) that takes up almost the whole view with a date and type field (don't know if need for a code field though) will suffice to both be clinically useful and fulfill ONC (although there will be as many opinions as providers, in the bigger EMRs, templating is generally happening now within one text field, so we can build on yo

[2021-03-30 19:45] bradymiller commented on #4312
The Care Plan mechanism is also neat, because as you pointed out, a user can add another form (so gives flexibility to do multiple forms within one form). I wasn't aware of that functionality until now. neat stuff.

[2021-03-30 20:17] sjpadgett opened #4317 "Care Plan ONC"
### Describe the problem
Additional items need to be recorded.
### Describe the solution you'd like
So far required:
- plan status
- plan intent
- activity status

Unsure if we'll need for usefulness
- goal
- reason code

Be helpful you anyone catches me missing something.

And yes I Love openemr?:)

[2021-03-30 20:31] sunsetsystems commented on #4312
The topic of users screwing things up is a broad and interesting one. It could be addressed with a report (or other code block) that looks for such problems.

[2021-03-30 20:43] bradymiller commented on #4317
@sjpadgett , here are some notes I made when discussing with @adunsulag on using the Care Plan form to contain this stuff to support the fhir us core (https://www.hl7.org/fhir/us/core/StructureDefinition-us-core-careplan.html). Would consider this a super lazy way to go :) :
'text' (a narrative summary of the patient assessment and plan of treatment) from Description field (with status of 'additio

[2021-03-30 21:47] sjpadgett commented on #4317
@bradymiller
If we go the lazy way then intent, status and category(not required) can be static in the fhir resource when populated.
All said and done, we could get by without touching care plan form as i've been doing in CCDA.
However, we still have Goals and Health Concerns which should be an encounter form in it's own right.
I've never understood why these are not already part of encounter alon

[2021-03-30 22:11] mdsupport commented on #4312
@sjpadgett Are you able to leverage your text templates feature into notes? One of the recurring feedback is reports from this emr are screen prints while others have features that will take a form and turn into a paragraph with minimal data entry by the clinicians. Operationally multiple copies of same form in an encounter causes reconciliation challenges unless it is multiple providers or observ

[2021-03-30 22:55] sjpadgett commented on #4312
Ageed. We need some sort of attribute we can attach to a item that prevents edits.
fyi here are types for notes.
![image](https://user-images.githubusercontent.com/1859985/113064741-a29fed80-9185-11eb-97e2-e0530c33d451.png)

although i'm thinking maybe should just add to Patient Note Types list however, makes for a long list.
![image](https://user-images.githubusercontent.com/1859985/113064860-d67

[2021-03-30 22:57] bradymiller commented on #4317
For goals (https://www.hl7.org/fhir/us/core/StructureDefinition-us-core-goal.html), these could be taken from the CDR engine (those items that end up in the Clinical Reminders section on the patient summary screen). There's already a function that grabs these in the appt report. In clinical realm, we usually don't create a note with explicit goals on it (although some specialties such as physical

[2021-03-30 23:17] bradymiller commented on #4315
I wonder if this is specific to windows since I didn't have this problem in the backup gui when testing on PHP8 (via the Alpine OS docker) in the past.

[2021-03-30 23:33] mdsupport commented on #4312
If these notes are expected to be part of the source/referring object then note type can map to text template context. So lab order can have the textbox which when clicked will open laboratory report narrative, box on the encounter summary form can be progress note etc... just accept context from `data-context` attribute of the textbox/textarea.

[2021-03-30 23:39] bradymiller commented on #4315
Just confirmed that backup is still working on the php8-fpm docker. Will be interesting to see if this users problem goes away with PHP 7.3.
Either way, though, sounds like it is definitely time to update the packages in composer on master (note that we don't have a mechanism to get new packages via composer into patches, though, but we could sort something out if needed).

[2021-03-31 03:26] sjpadgett commented on #4312
yep

[2021-03-31 19:47] stephenwaite opened #4318 "running easy docker while vpn'ing"
### Describe the problem
[code]

### Describe the solution you'd like

add network to `docker-compose.yml`

[code]

[2021-04-01 02:21] sjpadgett commented on #4312
Got sidetracked but this is my Notes for encounter. I think this is workable and easy to manage all the encounter notes in one place. I took the form from care plan which I liked the design of very much. Just put some Jerry in it!:)
Adding note contexts for the text templating engine in now then will PR it unless there is push back or suggestions...

![image](https://user-images.githubusercontent.

[2021-04-01 02:43] bradymiller commented on #4312
nice stuff!
Would give more viewspace, if possible, to the textfield views (it feels confining when trying to work on notes and keep needing to scroll up/down and left/right). Maybe if stack the date/type/text fields vertically and then have the textfield get full width and otherwise full height (and if they add a note, then go to half height etc.). Note most of the time only one note will be ente

[2021-04-01 03:54] sjpadgett commented on #4312
textareas are somewhat difficult to size responsive as such. these will word wrap and remember these also can be pulled for more height. changed to 14 row by 9 columns viewport. responsive stacked on tablets. is this better:

![image](https://user-images.githubusercontent.com/1859985/113241258-51265a00-927c-11eb-977c-65ddc7567b47.png)

[2021-04-01 03:57] bradymiller commented on #4312
![2DV (1)](https://user-images.githubusercontent.com/278968/113241462-a3a74c80-9263-11eb-9e5a-0c19d96c710f.gif)

[2021-04-01 05:41] sjpadgett commented on #4312
@mdsupport
Add the data contextual attribute to any of the note types in this form. I'm not going to set any defaults to custom list as user is told to create context if not already.
![image](https://user-images.githubusercontent.com/1859985/113248111-4a9edf00-928a-11eb-80f0-2057a99e7113.png)
![image](https://user-images.githubusercontent.com/1859985/113248508-1c6dcf00-928b-11eb-9cf9-09f25c0076cb.

[2021-04-01 06:21] mdsupport commented on #4312
Given that ONC is the priority, one deferred improvement would be to include user and allow only that user or the supervising md to edit a note. Effectively the notes would display as :

**[Note type] by [full user name] on [create or modify date] {Edit Button/link]**

- Dolorem partiendo sea ut.
- Et ius omnium efficiantur, his in aperiri honestatis. Ei per quando postea, no integre invidunt comp

[2021-04-01 14:51] stephenwaite opened #4320 "php8 billing issues with math operations"
### Describe the bug

https://community.open-emr.org/t/billing-problems-in-v6-after-upgrade-from-5-0-2-4/16361/8?u=stephenwaite

### To Reproduce

Steps to reproduce the behavior:
1. Add a '....'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

### Client configuration

- Browser:
- OpenEMR version:
- Operating system:

[2021-04-01 15:08] sjpadgett commented on #4312
This is a good suggestion. At min adding user would help maintain provenance for the note. Maybe not for edits except for the last author. Somehow we need an audit trail that a user can't delete. Something like a who touched in most areas of chart but especially encounters.

[2021-04-01 15:36] mdsupport commented on #4312
If you copied or retained the care plan data structure, it does have a single user and single date. For audit/tracking that needs to be revisited. Both care plan and now your form are different than other encounter forms as these have multiple creator/updator chains. It may be good to suppress any reference to user/creator in report header for these forms.
Don't think certification cares about the

[2021-04-01 15:53] sjpadgett commented on #4312
Right now I can get away with the note author for provenance which would be the logged in user.
Most likely the first note in encounter will be a Nurse Note then provider may add another for his purposes etc.
Edit audits will have to wait... Thanks @mdsupport

[2021-04-02 02:04] stephenwaite commented on #3947
looking forward to bringing this is soon

[2021-04-02 02:04] stephenwaite commented on #3950
looking forward to bringing this is soon

[2021-04-02 17:39] sjpadgett commented on #4312
@adunsulag
Hi Stephen. Don't know if you've been following this but getting ready to bring in if any comment concerning FHIR....

[2021-04-02 20:03] #4312 closed

[2021-04-03 22:18] stephenwaite commented on #4320
will reopen later if necc

[2021-04-03 22:18] #4320 closed

[2021-04-04 08:59] #2089 closed

[2021-04-04 17:16] bradymiller opened #4325 "xml escaping"
@sjpadgett , planning to incorporate a xmlEscape function in interface/modules/zend_modules/module/Carecoordination/src/Carecoordination/Model/EncounterccdadispatchTable.php ,
which will involve modifying most of the lines of code in that script. Just making sure you haven't modified this file yet in your ccda work. (btw, am going through ccda creation steps with plans to help out on it, which is

[2021-04-04 17:37] sjpadgett commented on #4325
@bradymiller No reason to escape xml going to socket i.e most. I'd bet it will break xml to json in ccdaservice. Besides, browser doesn't see..

[2021-04-04 17:39] bradymiller commented on #4325
@sjpadgett , They are already being escaped (characters for <, >, &, ", ') via an awkward function call. I just plan to shorten/centralize it.

[2021-04-04 17:40] sjpadgett commented on #4325
okay. ill test afterwards

[2021-04-05 14:56] #2975 closed

[2021-04-05 22:39] stephenwaite opened #4327 "fee sheet list numbering"
### Describe the bug

https://community.open-emr.org/t/fee-sheet-list-numbering/16394/5?u=stephenwaite

[2021-04-06 05:34] #4325 closed

[2021-04-09 16:01] stephenwaite opened #4334 "reopen a fee sheet without void checkout"
### Describe the problem

can't reopen a fee sheet in an encounter after correcting a billing error without dealing with some scariness and forced entry of a reason

![Screenshot from 2021-04-09 11-27-39](https://user-images.githubusercontent.com/5618372/114208238-44180380-992b-11eb-9d47-857e2cc1fa26.png)

![Screenshot from 2021-04-09 11-27-49](https://user-images.githubusercontent.com/5618372/114

[2021-04-09 21:12] sunsetsystems commented on #4334
Re-opening deletes payments and adjustments for the visit, so is a pretty significant thing to do. The reason/notes dialog could certainly be made optional.

Not sure what you mean about the billing manager note.

[2021-04-09 21:16] stephenwaite commented on #4334
hi @sunsetsystems , just updated issue with that png as well, it used to say Claim reopened in that detail

[2021-04-09 22:18] sunsetsystems commented on #4334
OK I think "Re-opened" in the billing manager refers to the case of a claim being re-opened for secondary insurance billing. Re-opening a visit from the Fee Sheet is a whole other ball of wax and is not about insurance claims.

Perhaps the button should not be displayed if there is an entry in the claims table for the visit?

[2021-04-10 13:58] stephenwaite commented on #4334
Re-open from the billing manager will allow you to go back to the encounter and edit the fee sheet and isn't specific to primary/secondary/tertiary ins.

Voiding checkout and re-opening a visit in the fee sheet also accomplishes same task but warns about payment deletion.

So the workflow issue is like this
1. a claim is denied and something in the fee sheet needs to be changed, instinct says go t

[2021-04-10 20:11] bradymiller commented on #2917
bump

[2021-04-10 20:12] bradymiller commented on #2556
@stephenwaite , here's the session issue that was discussed on the call today

[2021-04-11 00:43] sunsetsystems commented on #4334
Yep re-opening from the Fee Sheet zaps payments without updating the claims table, and it seems to be that way (including the message) in 5.0.2 as well. Basically this logic is not catering to US insurance claims. I think it should either be updated to do so, or to hide the button when there is a claims table entry for the visit. Your thoughts?

[2021-04-11 04:33] #4154 closed

[2021-04-11 14:02] stephenwaite commented on #4334
thinking void checkout should be left to the fees->checkout where payment deletion makes sense and this should just be to reopen the fee sheet and if saved would update the claims table (if that's where the billing manager looks to see if a claim is "unbilled")

[2021-04-15 04:14] #4163 closed

[2021-04-15 17:51] juggernautsei commented on #3894
@stephenwaite
I am back dealing with this form again. I wanted to know is there a reason that the Prior Auth table is not considered in the claim process? Unless the prior auth is put in the misc billing form. It is not used.

[2021-04-15 18:36] stephenwaite commented on #3894
hi @juggernautsei , it's a work in process that's why mentioned that the next step is to look there

[2021-04-16 05:40] bradymiller commented on #3273
bump

[2021-04-16 12:03] juggernautsei commented on #3894
Ok @stephenwaite, so this is not stale now.

[2021-04-16 12:08] stephenwaite commented on #3894
nope but could use a toaster oven

![toaster](https://user-images.githubusercontent.com/5618372/115022022-cb64fa00-9e8a-11eb-9e2c-3227da3ef87d.gif)

[2021-04-16 12:13] juggernautsei commented on #3894
Let's see if this works here.

https://images.app.goo.gl/98kVnv6gJw9Ccovy9

[2021-04-16 14:32] juggernautsei commented on #3894
@stephenwaite for this customization. The client wanted the Prior Auth form located in the dashboard ribbon.
They also added this requirement. I have done this before long ago. @bradymiller I wanted to get your and Stephen's input on this how can this be added to the patient ribbon when enabled in the forms? I plan on releasing this one to the community when it is working. I reworked the form so t

[2021-04-16 14:47] stephenwaite commented on #3894
hi @juggernautsei , you looking [here](https://github.com/openemr/openemr/blob/master/src/Menu/PatientMenuRole.php#L188)?

[2021-04-18 19:35] irskep commented on #2977
As the "maintainer" of Literally Canvas, I just want to pop in and say I wish you the best of luck. Bit rot hit the project pretty hard as the JS ecosystem evolved and I don't see any good solutions to replace it. The core of it should still work fine, it just needs about 16 hours of rewriting the build pipeline and upgrading dependencies. I'm sorry to leave it in such a state but at the end of th

[2021-04-21 10:03] pete-boyd opened #4346 "Add support for the Irish SNOMED CT Extension"
OpenEMR could support the Irish SNOMED CT Extension

https://mlds.ihtsdotools.org/#/viewReleases/viewRelease/285520

[2021-04-21 20:33] adunsulag opened #4347 "FHIR US Core Search Implementation"
The current FHIR US Core Search Implementation is not working correctly.  Search currently does just the union of values rather than explicit intersection which FHIR requires.  Only string values with limited token value support is working.  Search with conditionals and modifiers is also mostly missing with encounters being the only thing that does date searching and that is incorrect.

I'm curren

[2021-04-21 20:35] adunsulag commented on #4347
I'm opening this issue so we can track and tie code to the problems with FHIR searching until we've completed all of the search requirements for FHIR and US Core.

With my next pull request this should implement all of the US Core required search fields for the Patient resource.  The only thing I'm not entirely sure on and will play with as I go is the identifier FHIR field.  Currently values are

[2021-04-21 20:39] adunsulag commented on #4347
Guess I got a little trigger happy.  I ran the full OpenEMR test suite and there's a number of unit tests to fix so I'll have to push this out tomorrow :)

[2021-04-21 20:41] bradymiller commented on #4347
![2DV (1)](https://user-images.githubusercontent.com/278968/115618224-42452d00-a2a7-11eb-91b0-ea3d93a3253f.gif)

[2021-04-21 20:58] stephenwaite commented on #4347
![thecoffeecup_agadeaadkp2afq](https://user-images.githubusercontent.com/5618372/115620071-b6d99500-a2c2-11eb-96ae-e427eaf60169.gif)

[2021-04-22 12:14] adunsulag commented on #4172
This shouldn't be closed!

[2021-04-23 04:43] bradymiller commented on #4172
Stale bot smackdown

![tenor (35)](https://user-images.githubusercontent.com/278968/115819495-cd134e00-a3b3-11eb-8d51-64bde8c769a5.gif)

[2021-04-24 17:20] mdsupport commented on #3780
Rather than keeping stale issues alive, I suggest creating an central issue list with some indication of project's priority rating for each issue. The list should also provide newcomers a sense of efforts involved. The last entry in the issue before it is closed would be link to the master list.

[2021-04-26 01:12] mdsupport opened #4359 "No popup for NationNotes component in LBT"
If you try to enter data in NationNote type of layout field, the "custom layout" code runs in the tab. Since the formatted text is transferred to source field only upon close of the popup use of NationNote is not possible.

[2021-04-26 04:34] #3723 closed

[2021-04-26 05:38] bradymiller commented on #3435
bump

[2021-04-27 10:22] ahergau commented on #4148
Hello,

I am using OpenEMR first time, I just want to test my smart on fhir app launch with openemr, I am using it with docker version 6.0.

I can access openemr on localhost/ with username and password can create a patient and other data as well, but whenever I am trying to hit https://localhost/interface/smart/register-app.php? to register a smart app, this page does not open and gives a blank w

[2021-04-27 11:07] adunsulag commented on #4148
Hi @ahergau I'm guessing something is wrong with how you installed the docker image.  Have you checked the server logs on the docker image to see what may be going wrong?  You can see this [community forum thread for tips on how to see the logs](https://community.open-emr.org/t/docker-php-error-logs/11764/6)

If you are having problems with your local environment you can also try testing your app

[2021-04-28 13:24] sjpadgett opened #4363 "Backup broken on Windows Server 2019"
### Describe the bug
Kind of weird.
Server 2019 running on a AWS machine. Backup quietly fails with openemr error message and configuration export fails where export is not complete.
Previously worked after I fixed for Windows in general in 5.0.2. Strangely works on my Windows 10 on current versions.
I've tried v6 release version and current master. Most likely escaping where WIndows 10 and server

[2021-04-28 21:21] sunsetsystems commented on #4363
No errors logged? All I can imagine is either a php.ini setting, or database corruption.

[2021-04-28 21:30] sunsetsystems commented on #4363
Also be sure to look for logged errors in whatever place mysqldump would log them.

[2021-04-28 22:00] sjpadgett commented on #4363
I figured out the backup issue. Either the mysql account or file permissions.
Retesting masters version though i've found that the layouts export is broken again. The same issue I last fixed in v5.0.2 for windows.
I guess i'll take a look at that escaping again though this will be the third time i've fixed this issue with layout export....

[2021-04-28 22:23] sunsetsystems commented on #4363
I see what happened. I "simplified" the code having no idea that Windows requires double quotes instead of single around arguments. You might add a comment about that while you're in there.

[2021-04-28 22:29] sjpadgett commented on #4363
Yep, that's what I ran into in the past. Good idea on the note.  How about
// touch this block and we'll send the escape police
Which would prob be Brady!:)

[2021-04-28 23:13] sjpadgett commented on #4363
lol, I fully expected that @stephenwaite would have found and posted a gif of an ole timey cop holding a baton by now!:)

Anyway, I've fixed , tested and will include in my ccda/bug PR which I plan to cherry pick back to patch 2 when merged.

[2021-04-28 23:15] stephenwaite commented on #4363
![external-content duckduckgo com](https://user-images.githubusercontent.com/5618372/116483941-18b37500-a856-11eb-88ea-ff733f3a6121.gif)

[2021-04-28 23:17] sjpadgett commented on #4363
about time!!!

[2021-04-29 05:48] #4170 closed

[2021-04-29 05:49] #4196 closed

[2021-04-29 12:41] dmuserallo opened #4366 "Calendar Issue - Provider In Office Setting Not Working"
When I try to input a providers in office availability for scheduling in their calendar in minutes, it is creating availability for the rest of the day.  (see attached pics)  I tried changing the availability time frame to 60 minutes and 180 minutes and it produces the same calendar results.  I don't think this is user error, but I could be wrong!

- Browser: Chrome
- OpenEMR version: v6.1.0-dev
-

[2021-04-29 12:51] dmuserallo commented on #4366
Seems like this is a known issue...

https://github.com/openemr/openemr/issues/1653

[2021-04-29 14:02] sjpadgett commented on #4363
Still can't get to work on AWS windows server.
ERROR 1045 (28000): Access denied for user
Thinking security issue but works from a command prompt!

[2021-04-30 20:26] sjpadgett opened #4368 "Database create fails with utf8mb4"
### Describe the bug
v6.0.0 master install fails on drug_templates. MariaDB 10.1.17 Perhaps newer version works but doubtful. Remember for indexes I believe byte count is doubled. @bradymiller what am I missing?

![image](https://user-images.githubusercontent.com/1859985/116750245-27be3280-a9d0-11eb-84e5-f1f964b24b21.png)

[2021-04-30 21:11] sunsetsystems commented on #4368
selector surely doesn't need to be that big. But the easy solution may be something like:
PRIMARY KEY (`drug_id`, `selector`(30))

[2021-05-01 02:20] bradymiller commented on #4368
hi @sjpadgett , i think related to this issue:
https://github.com/openemr/openemr/issues/532
(combination of an old mysql/mariadb version that also disables the innodb_large_prefix setting)
(MariaDB 10.1 is not on list of supported versions for OpenEMR 6.0.0 since it's life was ended on 10/2020)

[2021-05-01 02:24] bradymiller commented on #4368
dang it, when i was checking 10.1's end of life, I also saw that 10.6 mariadb docker is out. Just alpha, but now i am compulsed to work 10.6 into the github actions and insane docker environment :)

[2021-05-01 10:24] sjpadgett commented on #4368
Okay, thanks Brady and Rod. Rod, you are correct. In the past(and currently) we seem to have a bad habit of using 255 for varchar regardless of content. Be nice if someone went through and tuned all our indexes.

@bradymiller I'm creating a testing database for ONC. I have to create at least four testing scenarios based on criteria given by testing facility for CCDA testing so, I thought i'd kill

[2021-05-01 10:29] sjpadgett commented on #4368
Closing as non issue based on my laziness to update or read doc's. Someone please fire me!

[2021-05-01 10:29] #4368 closed

[2021-05-01 11:17] adunsulag commented on #4368
@sjpadgett When key sizes used to be required to be smaller you could set the primary key or a foreign key to be a subset of a varchar if it was needed. 255 chars is pretty large for a primary key as even a UUID4 in string form is only 32 characters.  Glad you got it figured it out.

[2021-05-01 11:24] sjpadgett commented on #4368
yep, after reading the thread Brady pointed out it seemed he and I went through this back in 2017. But for me, longer than a day ago,  I'm befuddled.:)

[2021-05-01 13:12] sjpadgett commented on #4317
@bradymiller
Thinking this over(Goals) I believe using reminders would not be specific enough to a stated plan of care for an encounter.
Will add goals to encounter plan of care unless you disagree.
Also need Health Concerns, Assessment and Mental Status all new cda templates(ho hum!).

[2021-05-01 14:25] sjpadgett opened #4371 "Open issue for Clinical Questions"
Let's use this for questions regarding ONC and perhaps missing core elements.

First question: Why do we not allow diagnosis coding for encounters from encounter create/edit?
Is this normal for EMR's? Currently we rely on Billing to determine.
With SNOMED prominent in reporting should we not provide from encounters?

[2021-05-01 14:38] sjpadgett commented on #4371
@stephenwaite Are snomeds ever used in billing?

[2021-05-01 20:51] FergusInLondon commented on #4316
This looks to be a documentation issue, and is actually the desired behaviour.

As per the FHIR specification, a `[HumanName](http://hl7.org/fhir/stu3/datatypes.html#HumanName)` type **must** contain a `use` property. The `use` attribute is checked on every name provided, and only the "official" one is accepted.

[code]
If you try this payload it will work:

[code]

[2021-05-02 05:53] bradymiller commented on #4368
hi @sjpadgett ,

Sounds great on the testing database for ONC. I'm working on a way to support testing databases (and patient documents etc.) on the demo farm by leveraging the snapshot/capsule mechanism used in the development docker environment; so can then test the ONC database on a online demo.

Sorry, we can't afford to fire you permanently, but we can do it for a couple seconds:
Your fired
(

[2021-05-02 08:28] #4316 closed

[2021-05-02 16:20] fabriziofadigati commented on #4187
Hi everyone,
I see that this issue hasn't been updated for a long time.

I tried to replicate the bug without success: it works on my side.

To @WalterConway
Could you give us more details from your browser console?
Are there enabled Javascript blocking extensions in your browser?

P.S I'm a beginner, I'm available to give my humble contribute to OpenEMR

[2021-05-02 21:51] #4180 closed

[2021-05-03 02:07] WalterConway commented on #4187
Hi Fabrizio,

Here is a gif of the replication. Just click on the search box at the top
right and the button disappears for a sec and comes back. The issue is with
the onclick styling of the input box expanding. When the input is clicked,
it expands the input box. The button is pushed off the screen until it is
finished with the styling and then the button appears again.

Thanks,
Walter

On Sun, M

[2021-05-03 12:28] sjpadgett opened #4373 "Prescriptions not populating RXNORM code."
### Describe the bug
RXNORM codes are not being populated in prescription table from drug lookup. Web or drug table lookup.

Maybe in-house would work but couldn't get lookups to populate.

All SMARTY stuff so maybe someone will take a look or may know a trick to this.
We really should have option to lookup via rxcui! I though web lookup use to return rxnorm codes!

[2021-05-03 12:47] stephenwaite commented on #4373
![shocked_cat](https://user-images.githubusercontent.com/5618372/116877638-35500400-abec-11eb-83d1-9321563a563b.gif)

[2021-05-03 14:28] adunsulag commented on #4203
Still working on this so bumping this.

[2021-05-03 15:04] stephenwaite commented on #4373
should the dropdown for external list RxNorm?

![Screenshot from 2021-05-03 11-04-20](https://user-images.githubusercontent.com/5618372/116893751-52da9900-abff-11eb-9f51-4b71033ad123.png)

[2021-05-03 15:13] sjpadgett commented on #4373
Prescriptions come from
- Web search
- Drugs table
- Inventory
Selection from drug table only populates drug name best I can tell.
rxcui is only used for interactions lookup.

I could fix if I wanted to spend a couple days on but, ccda is making life hard especially every time I need something from core it's broken or non exist!

[2021-05-03 15:40] sjpadgett commented on #4373
Anyone know if Procedure Results ever populated result items from procedure configuration (compendium) or always had to manually enter for inhouse? If not, good grief why?:)

[2021-05-03 16:40] stephenwaite commented on #4373
`Procedures->Patient Results`?

[2021-05-03 17:01] sjpadgett commented on #4373
Yes I know however, it doesn't populate result items and codes from procedure configuration to manually enter results. Appears one has to enter the loinc code manually for each procedure.
Electronic results does this from the result hl7.

[2021-05-03 21:21] sjpadgett commented on #4373
I have to have rxnorm(FHIR and CCDA) so I guess i'll fix prescriptions. @stephenwaite Do you know if the drugs table was originally intended for prescriptions or inventory?
@bradymiller I wonder if worthwhile adding a rxcui lookup if available.

[2021-05-03 21:35] stephenwaite commented on #4373
not sure, am poking around in the smarty classes, for the nlm lookup it just isn't returning the [rxcui even though it's found ](https://github.com/openemr/openemr/blob/master/library/classes/RXList.class.php#L85)

[2021-05-03 21:47] sjpadgett commented on #4373
Check if interactions global in turned on!

[2021-05-03 21:50] stephenwaite commented on #4373
it was, don't think it matters here, it's just going to scrape that place, just have to spell out the whole search word, like aspirin

[2021-05-03 21:51] stephenwaite commented on #4373
basically it's not getting added to the return list array i think

[2021-05-03 22:07] sunsetsystems commented on #4373
In Procedure Configuration you can enter Discrete Result items under Order items, and that is supposed to give you corresponding entries when entering manual results.

[2021-05-03 22:08] sunsetsystems commented on #4373
The drugs table was created to support the inventory system.

[2021-05-03 22:14] sjpadgett commented on #4373
Okay so where are we supposed to have drug lookups and stay out of the inventory module? Besides web lookup...

[2021-05-03 22:19] sjpadgett commented on #4373
I think we have some broken sql's!

[2021-05-03 22:23] stephenwaite commented on #4373
![squirrel](https://user-images.githubusercontent.com/5618372/116940908-a9b29380-ac3c-11eb-9088-3ad20939ff77.gif)

[2021-05-03 22:36] sunsetsystems commented on #4373
I think prescriptions needs a rewrite, to encompass immunizations as well.

[2021-05-03 23:07] stephenwaite commented on #4373
but they've always been separate widgets and aren't they disparate enough to coexist with some shared properties?

[2021-05-03 23:20] sunsetsystems commented on #4373
Visually separate is fine, but internally they have much in common including the need to integrate with inventory.

[2021-05-04 00:32] sjpadgett commented on #4373
We talk about this some on sat call couple weeks back. My thought was immunizations would be the vaccine order/history and inventory would dispense at time of use. Therefore no need to do any inventory from immunization form.

[2021-05-04 05:17] mdsupport commented on #4373
Has anyone tried openFDA [drug endpoint](https://open.fda.gov/apis/drug/)? They are unified, realtime source for drugs, devices and more. A standard practice would want to deal with FDA approved drugs rather than nih or rxnorm. As a bonus drug events can be included in drug selection as well.

[2021-05-04 07:59] bradymiller commented on #4373
As I recall, the prescription rxcui codes came from either zh or newcrop or weno (@juggernautsei , does weno stuff do anything for rxcui codes) stuff and I don't think that there is a way to populate it in the prescription. For the Medications (in Issues), can populate it via the Coding selector there (if have imported the RXCUI internal code set). Some discussion sort of related to this is here:

[2021-05-04 08:04] bradymiller commented on #4317
hi @sjpadgett
I do not disagree
Do whatever you must do to squash ccda into a finely tuned machine :)

[2021-05-04 11:10] juggernautsei commented on #4373
@bradymiller ZH brought in the rxnorms. Weno no longer needs them since it is now using the iframe and the prescription is made on their site and not in the EHR. I thought the Rxnorms were brought in to support MU reporting.

[2021-05-04 12:50] sjpadgett commented on #4373
I truly appreciate everyone's input. My problem is not having access to the rxnorm codes(native and external avail) but instead the codes are not populating the prescription table on drug selection and save. The only drug source that will do this is from inventory drug selection.

The other two options are web search and drug table lookup. With these only the drug name is used.
I'd be nice if we c

[2021-05-04 12:59] stephenwaite commented on #4373
want me to take a stab at the smarty scrape from nlm? don't leave your study :)

![batphone](https://user-images.githubusercontent.com/5618372/117006960-0e123900-acb7-11eb-9ffb-a2290826e29a.gif)

[2021-05-04 13:06] juggernautsei commented on #4373
@stephenwaite what would the scraping produce?

[2021-05-04 13:08] stephenwaite commented on #4373
the ndc is in there just not getting added to the list array for insert into the `prescriptions` table

[2021-05-04 13:10] sjpadgett commented on #4373
Better to just populate rxnorm code from the drugs table lookup which is default. Prob need to do it on form submit based on drug table id.

[2021-05-04 15:27] stephenwaite commented on #4373
ok @sjpadgett, where do you see this default setting?

[2021-05-04 15:35] sjpadgett commented on #4373
It appears to be inherit to use drugs table if in house global is not set.
Prob in general_lookup template. I got lost tracking where the submit happens back to controller.
If you want to do the web search that'd be fine but really both should be done...

[2021-05-04 17:30] stephenwaite commented on #4373
the native install puts them in `codes`
the external install creates and puts them in these tables:
![Screenshot from 2021-05-04 13-21-56](https://user-images.githubusercontent.com/5618372/117043849-bd610700-acdb-11eb-9583-11a9fd8160e1.png)

[2021-05-04 20:11] sunsetsystems commented on #2556
@bradymiller I'm interested to know your thoughts on "how to support opening of multiple patients safely within 1 OpenEMR login".

[2021-05-04 20:16] bradymiller commented on #2556
@sunsetsystems , I am still at (pasted from above) "This is entirely possible, but would take a moderate/large amount of work." :)

[2021-05-04 20:43] sunsetsystems commented on #2556
It probably still boils down to having some sort of unique identifier in the top level window. But instead of manipulating the session cookie on each request, probably want to pass it as a GET or POST parameter. Then certain session variables like pid and encounter could be arrays (or inside an array).

[2021-05-04 21:22] sunsetsystems commented on #2556
The discussion here concerning "service workers" is interesting. Might be a way to insert a parameter into all GET and POST requests without having to visit every piece of code that does them.

https://stackoverflow.com/questions/43813770/how-to-intercept-all-http-requests-including-form-submits

[2021-05-04 22:02] sjpadgett commented on #2556
I like service workers. Dicom uses them extensively..
Also Rod I'll fix the dialog conditional to try to seek restoresession if conditional fails. Though i've never seen top.resoreSession fail except in portal...

[2021-05-04 22:56] sunsetsystems commented on #2556
Thanks @sjpadgett . Also, possible to generate an error if restoreSession() does not exist and the code is not invoked by the portal?

Now I see the Service Worker API says it doesn't have access to the DOM. So that may be a dead end. :(

[2021-05-04 23:01] bradymiller commented on #2556
I really think there is a way to do this without a restoresession mechanism and keeping things seamless in OpenEMR without needed another independent browser tab instance going to support multiple patients, though.

Some ground rules taken from my current workflow in an evil proprietary system would be:
1. Global to set maximum number of patients at a time (4 seems to be the standard for this). If

[2021-05-05 08:26] sunsetsystems commented on #2556
Is the restoreSession stuff even working? I'm finding that when I open a new patient in a new window, the original window then seems to have session state for the new patient, as evidenced by redisplaying the patient's dashboard. Changing patients in either window then leaks session data to the other one.

I did some restoreSession() debugging and found that with two windows open there were TWO co

[2021-05-05 11:57] stephenwaite commented on #2556
it appears there's a problem with the dynamic finder and past encounters
open up phil in the demo and then open wanda in a new window but first go back to phil's pt finder where the json error is from datatables, you see the json error and the dynamic finder failed to load any people
![Screenshot from 2021-05-05 07-51-38](https://user-images.githubusercontent.com/5618372/117137144-49743c80-ad77-11

[2021-05-05 12:27] sunsetsystems commented on #2556
I might have a solution, but time for bed Down Under. More tomorrow.

[2021-05-05 18:19] stephenwaite commented on #4373
medications adds rxcui to lists from the native data load options from the codes table

[2021-05-05 19:41] adunsulag commented on #4347
Patient search + Single Patient API implementation is now working:
![image](https://user-images.githubusercontent.com/228117/117199077-c32c1a80-adb7-11eb-82eb-3e85be20c9a9.png)

So we have about 80% of the search implementation now complete and we are spec compliant with the Patient endpoint.

I am seeing a warning about our language abbreviation codes.  It states:
```'http://hl7.org/fhir/us/core/

[2021-05-05 20:58] bradymiller commented on #2556
@stephenwaite and @sunsetsystems ,
I'm suspicious that the error popup is the main source of this issue (it is using the new cookie that was created in the new window and holding up everything in the new window and just causing bizarre stuff to happen because of that). I think this will safely fix the issue (simply don't check csrf on the dynamic ajax processing script since not needed and will ju

[2021-05-05 21:50] sunsetsystems commented on #2556
See also #4378. That should take care of Phil and Wanda. :)

[2021-05-05 23:07] sunsetsystems commented on #2556
Anyway, I really like the idea of separate main windows representing separate sessions. Some different approaches come to mind and perhaps you can think of others:
1. Revert to putting the session ID in the URLs.
2. Pass a unique session cookie name in the URL when creating the new window, and pass it on in other server requests as needed.
3. Require the server to support multiple hostnames, e.g.

[2021-05-06 14:13] mariagonz04 opened #4379 "How to conect OpenEMR to Orthanc?"
Hi, I don´t know how to conect OpenEMR to Orthanc , so could someone who knows it help me? Thanks.

[2021-05-06 14:28] pete-boyd opened #4380 "Password is not obscured when resetting user password"
OpenEMR 6.0.0 Patch 1
OpenEMR 5.0.2 Patch 3

When resetting a user password, "User`s New Password" is not obscured in the way that it is for "*Your Password*". The password is successfully obscured when creating a new user, this is only an issue when resetting a user's password.

[2021-05-06 15:31] stephenwaite commented on #4380
hi @pete-boyd , easy fix to obscure it by changing the [input type to password](https://github.com/openemr/openemr/blob/master/interface/usergroup/user_admin.php#L265-L279)

[2021-05-06 20:16] sunsetsystems commented on #4380
For what it's worth, I like password fields where you have an option to click something to view the password. Handy when you're by yourself and want to make sure you typed it in correctly.

[2021-05-07 06:06] bradymiller commented on #4347
The beautiful array of green check marks...

![tenor (67)](https://user-images.githubusercontent.com/278968/117404896-9cf1a200-aebf-11eb-81e1-cf2161520e89.gif)

[2021-05-07 15:15] lisafabian19 opened #4383 "Project assist medii, (general disclaimer backed up)"
Send an email to brady.g.miller@gmail.com . If possible, please encrypt your email via PGP with this [public key](https://keybase.io/bradymiller/pgp_keys.asc?fingerprint=8a93ddec0e320d5eb8a7994827def05b1a8a6d4f).

Thank you for the help!

[2021-05-07 15:16] #4383 closed

[2021-05-08 04:35] #4165 closed

[2021-05-09 22:24] tywrenn commented on #4318
This seems like it might be an issue with your Docker setup. Have you tried [anything that this article says?](https://stackoverflow.com/questions/43720339/docker-error-could-not-find-an-available-non-overlapping-ipv4-address-pool-am)

[2021-05-09 22:29] tywrenn commented on #4274
This seems like a longshot but what about implementing opcache or some sort of php extension that optimizes loading times?

[2021-05-09 22:51] tywrenn commented on #4187
Seems like this issue is still not fixed. The code resides in `interface/main/tabs/templates/patient_data_template.php` btw.

[2021-05-11 02:21] AlexAMCS commented on #1785
I still have the exact same issue show in the "before" pic on the #1874 pull, running OpenEMR 6.0.0_1.

[2021-05-13 11:52] #2889 closed

[2021-05-13 11:52] #4216 closed

[2021-05-15 15:55] adunsulag opened #4393 "FHIR R4 Create/Update/Delete Resources"
For ONC certification we are exclusively focusing on resource read operations (read/vread/search) and not on any of the update, create, or delete operations except where required by ONC 2015 certification.  This feature request is for anyone who wishes to go through and add those API endpoints can do some.  There are some resources that have some initial work done here (such as in Patient) but the

[2021-05-15 17:21] sjpadgett commented on #4317
![image](https://user-images.githubusercontent.com/1859985/118372571-59163100-b580-11eb-8ae8-e799109b3ebd.png)

[2021-05-15 19:46] sjpadgett commented on #2917
@stephenwaite Want me to do the medication side of this or wait for you or ???
How can I help?

[2021-05-15 19:53] sjpadgett commented on #4373
Hi @sunsetsystems I don't understand how we'd need to support immunizations. Can you give me a clue while i'm messing around medications/prescriptions?

[2021-05-15 22:20] sunsetsystems commented on #4373
@sjpadgett You don't *need* to support immunizations, it's just that both concern the dispensing of drugs and possible depletion of inventory. Internally they seem very similar.

[2021-05-15 23:47] sjpadgett commented on #4373
I have the scraping parse reconfig'ed i'll send you shortly...

[2021-05-16 01:12] stephenwaite commented on #4373
![Uploading signal-2021-05-13-141944.gif…]()

[2021-05-16 14:17] sjpadgett commented on #4373
![image](https://user-images.githubusercontent.com/1859985/118400482-ce8d0a80-b62f-11eb-8167-72bd587435e0.png)

[2021-05-16 17:54] sjpadgett commented on #4373
I think I'll add a button to select drug from RxCUI if the codes are installed.
![image](https://user-images.githubusercontent.com/1859985/118407274-115ddb00-b64e-11eb-9a32-6e3238fb87c9.png)

Thoughts?

[2021-05-16 18:54] bradymiller commented on #4373
agreed

![image](https://user-images.githubusercontent.com/278968/118409054-7957f580-b63d-11eb-9ba9-e730e2e6409a.png)

[2021-05-17 02:44] #4373 closed

[2021-05-17 17:18] sjpadgett opened #4398 "Add ability to search RxNORM in prescriptions"
Fairly straight forward. If rxnconso (RxNORM free) external table is installed then user has option to search and select drug from there.
Lookup uses the SAB of RXNORM so licensing is valid for free version.

![image](https://user-images.githubusercontent.com/1859985/118529833-efc62780-b711-11eb-85d9-ef3b8b6921f5.png)

[2021-05-17 20:37] #4398 closed

[2021-05-18 06:38] #4347 closed

[2021-05-18 17:19] sjpadgett commented on #4363
This is most likely a OS configuration problem with the access denied so, will close this.....
Works fine for me on windows 10

[2021-05-18 17:19] #4363 closed

[2021-05-18 18:27] sjpadgett opened #4402 "Reorganize Portal using Twig"
### Describe the solution you'd like
Helps improve responsiveness small devices, mobile etc..

[2021-05-18 18:28] sjpadgett commented on #4402
Hi @benmarte ya can track your progress here or if any questions please ask.
Thanks

[2021-05-19 14:43] adunsulag opened #4403 "Improve lookup_code_descriptions speed for SNOMED codes"
The lookup_code_description() function when dealing with SNOMED codes is very slow.  Queries (when cached) were taking a full second to do a lookup even if the result was negative, and 3.5 seconds when the query cache was empty.  As you can imagine running through dozens of code lookups in our unit tests or working with a large result set of FHIR resources slows the response times down to a crawl.

[2021-05-19 19:39] adunsulag opened #4405 "Add care team status field to pass FHIR ONC CareTeam Status requirements"
CareTeam needs to have more than one status supported to be ONC compliant.  Currently we don't have a way of specifying status for a careteam and we've been assigning to be active.  However, this fails the ONC validator requires searching on at least two status's for the test case to pass.

We can see that ONC's inferno tool is checking for more than one status here:
![image](https://user-images.g

[2021-05-19 19:48] stephenwaite opened #4406 "LBF leaves patient_data columns unprotected"
### Describe the bug

write concise description of what the bug is.
https://community.open-emr.org/t/dangerous-bug-in-lbf-forms/10880

### To Reproduce
play with LBF on a  demo and modify a column in demographics

### Expected behavior
shouldn't be allowed to edit col names in core tables (summarizing Jerry here :) )

### Client configuration

- Browser:
- OpenEMR version:
- Operating system:

[2021-05-19 22:32] sunsetsystems commented on #4403
Sounds like a great idea. I have added indexes as needed from time to time.

[2021-05-19 22:42] sunsetsystems commented on #4406
Test it in current code. I thought there was logic to prevent deletion of a column that is in use, but perhaps that doesn't work in the case of date. Also the best solution for this and other things is to convert patient_data and history_data so that LBF fields go into a vertical table, as is the case with encounter LBFs.

[2021-05-19 22:55] stephenwaite commented on #4406
change an `ID`, in this case change `pubpid` to `pub_pid`
![Screenshot from 2021-05-19 18-53-42](https://user-images.githubusercontent.com/5618372/118895208-bb01ce00-b8d3-11eb-9049-e7df4481a7cc.png)
then try to use patient finder
![Screenshot from 2021-05-19 18-53-54](https://user-images.githubusercontent.com/5618372/118895221-c35a0900-b8d3-11eb-923d-aba5e2298dd2.png)

[2021-05-19 23:13] sunsetsystems commented on #4406
Yep that rename code is too permissive, and I think I also see a bug in the delete logic. I'll look into it.

[2021-05-20 06:36] bradymiller commented on #4403
@adunsulag ,
Agreed on adding index. In addition to adding to the sql upgrade script, also rec adding to initial table creation in library/standard_tables_capture.inc. Would prob just label the index the name of the column (it's what we generally do in the database schema).

[2021-05-20 06:51] bradymiller commented on #4405
@adunsulag , so is inferno looking through all careteam resources to find more than one status then and then using this to test the multipleor search mechanism?
If that is case, would prob just make a Care Team Active toggle in patient_data layout (it would go before the selectors for Care Team (Provider) and Care Team (Facility)).
Agree it is a bit ugly, but it will get the job done :)

[2021-05-20 07:13] #4406 closed

[2021-05-20 12:06] adunsulag commented on #4405
@bradymiller What are your thoughts on sticking that status flag in patient_data? One more column, quick and dirty, but care plan stuff in my view really should be extracted into its own table.  Maybe we can add the column for now and then put a github issue to extract it into its own table for anyone that wants to take it on.

[2021-05-21 00:45] mdsupport commented on #4405
[CareTeam FHIR structure](https://www.hl7.org/fhir/careteam.html) almost requires separate table(s). Since we are starting from scratch, it will be lot easier for future FHIR requirements to replicate the hl7 layout. It takes care of  many linkages that would be beneficial in future - e.g. careplan to providers/users, issues, messages, documents etc.. There is existing gprelations structure as a c

[2021-05-21 05:14] #4031 closed

[2021-05-21 06:22] bradymiller commented on #4405
note US core fhir is much more simple than full fhir:
http://hl7.org/fhir/us/core/stu1/StructureDefinition-us-core-careteam.html

I'd rec just adding the status column to patient_data for now to keep moving forward. Agree that in future will need a better data model and gui for this functionality, but not needed for MU3 :)
(agree on making it an issue to expand it; this is something that will be n

[2021-05-21 13:33] thousifa1 commented on #4379
@mariagonz04 I would like to start my contribution journey to openEMR with this. I am a SWE with experience of 5 years.
can you please elaborate on the requirement about what do you mean by "Connect"?
For Ex : what is the API do you want to access in Orthanc? etc.

[2021-05-22 01:17] sjpadgett commented on #4405
Care teams would make better sense if we had ACL to restrict major chart actions to care team members.
In reality, anyone who works with patient is the care team I guess!

[2021-05-23 18:21] stephenwaite commented on #2292
still have to check on this

[2021-05-24 07:04] bradymiller commented on #4379
hi @thousifameerkhan ,
Welcome to the project!
Check out this thread for more details on this:
https://community.open-emr.org/t/project-pacs-server-integration/13706

[2021-05-24 15:01] benmarte commented on #4402
Any idea why making changes to the Help.tpl file does not reflect my changes even after doing docker-compose down/up? I'm trying to make another branch with individual portal page fixes but running into this particular issue.

Thanks.

[2021-05-24 15:41] sjpadgett commented on #4402
Hi @benmarte
I'm guessing it's because the template resides in the sites directory: sites/default/documents/onsite_portal_documents/templates/Help.tpl
Does docker see changes in that directory?

[2021-05-24 15:42] stephenwaite commented on #4402
right on @sjpadgett , easy docker ignores it

[2021-05-24 15:43] benmarte commented on #4402
Docker mounts the whole openemr directory as a volume AFAIK so it should not ignore it but I will take a look to ensure this is the case.

Thanks.

[2021-05-25 04:36] bradymiller commented on #4402
The easy docker dev environment uses black docker magic to not mangle the main git repository by basically dislocating some of the directories from reality (thus changes in the git repo will not actually get to the docker; the positive to that is that changes in the docker (ie. things that are added/modified while running openemr) do not get into the git repo). These are the directories that are p

[2021-05-25 04:39] bradymiller commented on #2899
Update, can now fix item number 3 above since there is now a package-lock.json file
(three cheers for @sjpadgett !)

[2021-05-25 16:15] mosmartin opened #4417 "Patient ID Missing"
### Describe the bug

The Patient ID is not displaying in the drop down menu.

### To Reproduce
Messages Tab -> Message Center -> Ad new -> Click to add patient

![image](https://user-images.githubusercontent.com/10962699/119529215-2fc88280-bd82-11eb-88d2-01c8057b26e4.png)

Steps to reproduce the behavior:
1. login
2. Click on Messages tab
3. Add New
4. Click to add patient
5. See error

### Expec

[2021-05-25 17:02] stephenwaite commented on #4417
hi @mosmartin , can't reproduce on the [demo](https://eight.openemr.io/c/openemr/interface/login/login.php?site=default)

![Screenshot from 2021-05-25 13-01-37](https://user-images.githubusercontent.com/5618372/119538782-72c23000-bd59-11eb-90e8-2c1d71d5b7a6.png)

[2021-05-25 17:46] bradymiller opened #4418 "Planning patch 2 for 6.0.0"
Hi,
Planning to hopefully get patch 2 for 6.0.0 out over this weekend. Just making sure I don't need to wait on anything. If so, just let me know.
-brady

[2021-05-25 22:54] nursejeff commented on #4104
I would like to keep this fresh.  I hope my comments make OpenEMR more user-friendly.

[2021-05-26 08:52] mosmartin commented on #4417
Interesting... thanks @stephenwaite. Let me test on another browser.

[2021-05-26 18:39] adunsulag commented on #4317
Hey @sjpadgett my apologies for not catching this earlier, or if you changed this around since you commited these issues, but when I go to get the  Care Plan form type for **goal** it doesn't appear to be in the Form Options.  Did you move this somewhere else?  I can see it in your screenshot you have above:
![image](https://user-images.githubusercontent.com/228117/119713771-141bb580-be30-11eb-92f

[2021-05-26 18:49] sjpadgett commented on #4317
@adunsulag It's on my local and was going to commit my next PR which is for Goals that I'm working also.
I'll send you a query to import in a few.

[2021-05-26 18:51] adunsulag commented on #4317
@sjpadgett  That's ok, there's plenty of observation resources to do!  I keep avoiding tackling DiagnosticReports... I'll get to them eventually.  Goals was on my list, but I was just double checking with you.

[2021-05-26 21:43] stephenwaite commented on #4418
maybe just 1 or 2 more billing fixes :) like #4421

[2021-05-28 07:36] #4023 closed

[2021-05-28 16:11] pete-boyd opened #4426 ""Site ID is missing from session data!" gives no clue to users as to what the situation is"
If a session has expired, and a user goes to the site they will tend to see simply the text "Site ID is missing from session data!" and nothing else whatsoever on the screen. There's no option for them to click on anything to be taken to the login screen. I think that at the very least there should be a link for this. At best, users would be taken to the login page. As it is, users are confused by

[2021-05-29 07:35] bradymiller commented on #3471
done :)

[2021-05-29 07:35] #3471 closed

[2021-05-30 11:30] stephenwaite opened #4428 "replace older functions with calls to Services"
### Describe the problem

there are legacy functions that can be consolidated to use Services

### Describe the solution you'd like

submit PRs to move legacy functions to use Services in `src/Services/`

[2021-05-30 18:51] stephenwaite commented on #1653
Bump

[2021-05-30 18:53] stephenwaite commented on #4105
Fixed

[2021-05-31 12:30] nursejeff commented on #4105
I wonder what is wrong with my system because it still does it.  About OpenEMR
Version Number: v6.1.0-dev.

[2021-05-31 15:24] stephenwaite commented on #4105
think it's fixed with above PR, thanks for reporting back @nursejeff, will open a new issue for bug with multi patient select for messages spotted by @mdsupport

[2021-05-31 15:30] stephenwaite opened #4431 "Add to Existing Message allows click in cursor not allowed field"
### Describe the bug

write concise description of what the bug is.
https://github.com/openemr/openemr/issues/4105#issuecomment-787064591

### To Reproduce

see above link

### Expected behavior
should a reply to a single pt message

### Client configuration

- Browser:
- OpenEMR version:
- Operating system:

[2021-05-31 19:24] tywrenn commented on #4426
lol I created this exact same issue request a year ago and nothing came of it -- this undoubtedly needs to be fixed. I did create a few PRs in the past with a way to do such a thing but they never got off the ground.

[2021-05-31 19:28] #4105 closed

[2021-05-31 19:30] tywrenn commented on #4380
There are 3rd party tools that allow you to have a hide/show password button. For the sake of security I would highly recommend researching those tools rather than leaving that area as permanently revealed as it can pose as a vulnerability.

[2021-05-31 19:35] tywrenn commented on #1653
The calendar has always been an issue with OpenEMR. A lot of functions are broken on it because we simply haven't had someone overhaul the framework that it is based upon. For me, it was a lot of work trying to add a responsive design to that calendar so it is no surprise that there are bugs with it.

[2021-05-31 20:48] tywrenn opened #4433 "[Help Needed] Updating Bootstrap to 5.0.1"
Our exhaustive upgrade to Bootstrap 4 definitely improved much of the code base. Now that Bootstrap 5 is officially out, we will have to do it all over again. This is going to take awhile and I will probably not be able to help as much as I want to, but this has to be done.

The new version of Bootstrap doesn't really have too many code changes that need to happen. I'll be listing these all today

[2021-05-31 22:16] sunsetsystems commented on #4426
There are a couple of things wrong with the related code.
1. library/auth.inc is closing the session on a timeout even when called by the hidden iframe (interface/main/tabs/timeout_iframe.php) whose purpose is to support timeout checking. Thus when the user makes their next request the session is already closed and timeout cannot be detected.
2. Excessive server requests are being performed in the

[2021-05-31 22:29] sunsetsystems commented on #4433
Thanks, I'll be interested to see developments. Also it would be nice to see some sort of guidance document for recommended usage of BS in OpenEMR. :)

[2021-06-01 03:41] sunsetsystems commented on #4426
Actually it looks like timeout_iframe.php can go away, and the ajax scripts are the remaining culprits. I'll put up a PR when time permits, in the next day or 2.

[2021-06-01 08:19] #4426 closed

[2021-06-01 11:03] sunsetsystems commented on #4418
#4435 would be good.

[2021-06-02 02:34] sunsetsystems opened #4438 "Session timeout should force immediate logout"
### Describe the problem

Wasn't sure whether to call this a feature request, bug or security vulnerability. When someone walks away from the computer their session will eventually time out, however whatever was on the screen remains visible until some action is taken. If that was sensitive information there's a problem.

### Describe the solution you'd like

My suggestion is that library/ajax/exe

[2021-06-02 02:38] bradymiller commented on #4438
Good point and am pretty sure that the timeout frame previously did this (if there was a timeout, then it would automatically go to the login screen without any user input). Prob need to hold up patch 2 until this is fixed since placed those changes in rel-600 :)

[2021-06-02 02:40] bradymiller commented on #4438
btw, using background services would be a nice place for this since it runs every 60 seconds.

[2021-06-02 02:42] bradymiller commented on #4438
Let me know if you plan to work on this. Otherwise I may take a stab at it in near future.

[2021-06-02 02:43] sunsetsystems commented on #4438
As best I can tell the timeout frame that I recently removed didn't do anything useful at all. Long ago its purpose was to put indicators on the screen about new faxes and patient notes. Don't remember any code to force a logout.

[2021-06-02 02:44] sunsetsystems commented on #4438
Not sure how soon I can work on it, so just post here if you get to it first.

[2021-06-02 07:15] bradymiller commented on #4438
put a PR for this here:
https://github.com/openemr/openemr/pull/4439

[2021-06-02 12:10] stephenwaite commented on #2810
hacked a workaround using generate report from the dashboard

![Screenshot from 2021-06-02 08-07-14](https://user-images.githubusercontent.com/5618372/120477620-fc858500-c379-11eb-92bc-2199a2667237.png)

[2021-06-02 19:03] #4438 closed

[2021-06-04 07:39] #4255 closed

[2021-06-07 07:46] niladrishekhar opened #4448 "Open EMR Lab and pharmacy operation capabilities"
Hi, Like many am new to OpenEMR, struggling learning and using (supper happy  with the performance of Open EMR) - I need some clarity from the awesome community before I invest too much time (sorry for taking a short cut)
1. Can OpenEMR handle pharmacy ? I mean the doctor prescribes a few medicines - the patient takes it to the pharmacy, the pharmacist fills the order bills the patient - the entir

[2021-06-07 09:48] pete-boyd opened #4449 "Unexpected text in clinical report"
OpenEMR 6.0.0 Patch 1

Reports > Clients > Clinical

When Option: Medical History is selected, all search results include the following text:
"active,category,type,plural,singular,abbreviation,style,force_show,ordering,aco_spec"

I get only 3 search results out of hundreds of patients.

[2021-06-07 10:51] sunsetsystems commented on #4449
Weird, those are the column names for the issue_types table.

[2021-06-07 14:00] stephenwaite commented on #4449
hi @pete-boyd, medical history is only looking in the `history_data` table and is focusing on just a few fields there currently. This is the data you can enter from the history tab in the dashboard, last commit in #4291 will suppress that strange result.

[2021-06-07 14:16] stephenwaite commented on #4448
hi @niladrishekhar, thank you and welcome. You'll probably get more detailed help in the forum.
1. Please see the [Add prescription to the encounter form](https://www.open-emr.org/wiki/index.php/Pharmacy_Dispensary_Module)
2. Please see [procedure configuration](https://www.open-emr.org/wiki/index.php/Procedure_configuration_%26_order_process)

[2021-06-07 23:32] mdsupport opened #4453 "EasyUI"
ZH implementation of zend modules feature brought in EasyUI component which is remarkably similar to jqUI. However unlike jqUI, their [freeware license terms](https://www.jeasyui.com/license_freeware.php) are not industry standard and unclear about use by for-profit clinics. [Commercial license](https://www.jeasyui.com/contact.php) is $449.

Apologies if this has been considered before.

[2021-06-08 12:36] sjpadgett commented on #4317
Reopen as needs more template work.
- correct observation moodcodes to better match plan type.
- add medication substances activity

Talking to some of the clinicians in my family, all seem to prefer doing this in SOAP notes though agree the care plan encounter form is just another form of a SOAP note so, in the end, I don't think this is making life any easier for our users!

[2021-06-08 13:14] stephenwaite commented on #4317
![external-content duckduckgo com](https://user-images.githubusercontent.com/5618372/121191348-e411e080-c839-11eb-9e98-cc568dce636e.gif)

[2021-06-09 03:02] #2529 closed

[2021-06-09 03:02] #2631 closed

[2021-06-09 03:02] #2708 closed

[2021-06-09 03:03] #284 closed

[2021-06-09 03:03] #2730 closed

[2021-06-09 16:24] sjpadgett opened #4458 "Symfony EventDispatcher user deprecation"
### Describe the bug
Since v4.3, project creates an user_deprecated error in dispatch method for argument order i.e they flipped the event name and event object. I assume this came about because the Event class has been deprecated too. So here's the kicker
: instead of maintaining the existing method call and propagating the argument order through new workflow they decide to force all their users

[2021-06-09 17:15] bradymiller commented on #4458
We should refactor the dispatch calls (goal is to deal with all warnings, especially deprecated warnings, since it could bite us in the end when it causes fatal error in the future); plus gotta get ready for symfony 5.4 (will be their next LTS version) in the future when it comes out :)

[2021-06-09 17:26] stephenwaite commented on #4458
![sneak-bite](https://user-images.githubusercontent.com/5618372/121401073-506a0e00-c926-11eb-9769-cf331debe560.gif)

[2021-06-09 17:36] stephenwaite commented on #4458
![Screenshot from 2021-06-09 13-36-06](https://user-images.githubusercontent.com/5618372/121402264-aa1f0800-c927-11eb-96c7-d7628d9419a7.png)

[2021-06-09 17:47] sjpadgett commented on #4458
lol, I guess the bird is making a statement or two like: "Dog you deserve a nip for wearing that sweater so proudly!" or "I told all the other birds I could do it!".  Then picture a group of birds in background passing a dollar to each other to satisfy their bets!
Sorry, can't help myself. Too many jokes. Thanks for that giggle Stephen however, E_DEPRECATED is different error type than E_USER_DEPR

[2021-06-09 18:45] sjpadgett commented on #4458
@bradymiller I think for now i'll do a temporary fix in globals by turning off the user_deprecated reporting for patch 2.
I don't think you or I want to do a refactor just now! An assumption begging for a response!:)

`error_reporting(error_reporting() & ~E_USER_DEPRECATED & ~E_USER_WARNING);`

[2021-06-09 19:04] sjpadgett commented on #4458
see: https://github.com/openemr/openemr/pull/4459

[2021-06-09 21:02] stephenwaite commented on #2677
bump

[2021-06-10 01:19] sjpadgett commented on #4458
will leave open as reminder.

[2021-06-10 07:43] bradymiller commented on #4453
According to the header, it lists either licensed as GPL or commercial.

https://github.com/openemr/openemr/blob/6552c4e897986417584491e994e77293ff4b3ab2/interface/modules/zend_modules/public/js/lib/jquery.easyui.min.js#L1-L9

[2021-06-10 07:48] bradymiller commented on #4453
here's the license on their new versions:
[code]

My take here is that in the old version 1.3.2 that we are using, if you state it is licensed under GPL (even with an or which means the software that uses should get to decide), then it is GPL. Unless I am missing something.

[2021-06-10 12:52] sjpadgett opened #4462 "Add relationships to Clinical Notes & Care Plan"
### Describe the problem
Just makes sense!
Difficult to make these relationships(problems, medications, procedure narratives and more) from API resources.
Also need document attachments in various places with relationships more specific to notes/procedures i.e. Document additions.

[2021-06-10 15:38] adunsulag commented on #4462
Something to make sure we handle this properly when mapping USCDI v1 Summary of Data Classes and Data Elements.  This is what we need to support for FHIR.

For Clinical Notes:
**Consultation Note** maps to **DocumentReference** using
**Discharge** maps to **DocumentReference**
**Summary Note** maps to **DocumentReference**
**History &amp; Physical** maps to **DocumentReference**
**Imaging Narrativ

[2021-06-10 15:51] sjpadgett commented on #4462
hmm, there may be whiskey involved for this one!
Kidding, don't indulge.....

[2021-06-11 01:35] sjpadgett commented on #4462
@bradymiller
Interestingly it appears that procedure orders are not and haven't been (at least all the time i've spent in form) correctly populating procedure type. Tables allows for it except from the wrong place imo. Procedure order form allows procedure type selection but for the entire order where it's expected(correctly so) for amc and documents from the procedure_order_code table(the test or

[2021-06-11 07:57] bradymiller commented on #4418
Planning to hopefully get patch out this weekend.
Delaying until get this PR in: https://github.com/openemr/openemr/pull/4461
Just let me know if need to wait for other work/PRs.

[2021-06-11 14:46] mdsupport commented on #4453
Clarifying the issue for unsuspecting developers - Like Fancybox switch between v1 and v2, this component can no longer be kept current.

[2021-06-11 14:46] #4453 closed

[2021-06-11 23:55] sjpadgett commented on #4462
So far I tackled the document attachments to procedures. Some was already there but had to see it the rest of the way so to start I added a new field to the order test setup in configuration/compendium:
![image](https://user-images.githubusercontent.com/1859985/121756928-e4380780-cae9-11eb-88a5-94f746bdc521.png)

Then when a test is picked for the order the tests type is saved with it: The Default

[2021-06-12 00:45] sjpadgett commented on #4462
@bradymiller This has to go because that string can't word wrap meaning it holds responsiveness to that string width.
![image](https://user-images.githubusercontent.com/1859985/121759727-32063d00-caf5-11eb-8064-2cc4b98448af.png)
As you can see here:
![image](https://user-images.githubusercontent.com/1859985/121759814-95906a80-caf5-11eb-884a-5cf8f3ea27ac.png)

As compared to:
![image](https://user-

[2021-06-12 10:50] juggernautsei commented on #4157
@mdsupport I have a number of users asking me to fix this. Can you point me to where to look?

[2021-06-12 16:58] adunsulag commented on #4462
@sjpadgett as far as the hash breaking responsiveness, did you try using [word-wrap: break-word;](https://developer.mozilla.org/en-US/docs/Web/CSS/word-break) or probably even better the newer CSS property [overflow-wrap](https://developer.mozilla.org/en-US/docs/Web/CSS/overflow-wrap).

I'm still looking through your pull request, I believe I'm following it all.  I'll let you know if I see any got

[2021-06-12 18:18] mdsupport commented on #4157
@juggernautsei, It depends on what you/your users are looking for. In our case, architectural design of trying to emulate an OS daemon at user session level is counter productive. So easiest route was to rework [hard coded timer](https://github.com/openemr/openemr/blob/22741584a8b1b4077b55943353cce79b7b020138/interface/main/tabs/main.php#L85) to consider installation and then user settings and sto

[2021-06-12 21:53] #4272 closed

[2021-06-13 04:05] juggernautsei commented on #4157
The problem we are having is the session is randomly timing out and people are getting the session ID missing message.
Will the hard-coded timer fix that issue? Thanks as always @mdsupport

[2021-06-13 14:05] sjpadgett commented on #4462
I completely forgot about this neat little feature. I'm thinking we can use my text templating feature for both care plan and clinical notes. Could add the basic contexts to DB for encounter, notes and care plan.
Then add tags to the text representation or add to table.
![image](https://user-images.githubusercontent.com/1859985/121810325-63365880-cc2e-11eb-9f7a-0dc13923c5ba.png)
@adunsulag what'd

[2021-06-13 22:25] mdsupport commented on #4157
Not sure how you traced random session problem to this feature. But if you are sure, you need to examine that function as well as ajax scripts it calls to find if anything there is incorrectly destroying session.
Best.

[2021-06-14 21:26] mdsupport commented on #4009
@arnabnaha, The external id field is designed to be a link between external systems and this emr - hence set to accept any characters. So the display order is correct.

As a matter of convenience, the internal MRN is copied to external ID during patient creation process. If you have not manually set external ID in your system, use "patient list columns" list to display either `pid` or `id` as the

[2021-06-15 01:45] bradymiller commented on #4418
Pulling trigger on patch :)
Hopefully get it out by tomorrow or Wednesday.

[2021-06-15 10:31] stephenwaite commented on #4418
![chores](https://user-images.githubusercontent.com/5618372/122038193-58510480-cda3-11eb-80b8-3fbf16b8d7fb.gif)

[2021-06-15 21:08] bradymiller commented on #4418
list of planned fixed/improvements (now in process of creating and testing patch):
* Security fix (reported by Hagai Wechsler at https://www.whitesourcesoftware.com, fix by Brady Miller)
* WENO Exchange ePrescribing fixes (fixes by Sherwin Gaddis)
* Session and timeout fixes (fixes by Rod Roark, Stephen Waite, Jerry Padgett and Brady Miller)
* Patient portal improvements (by Jerry Padgett)
* Eye f

[2021-06-16 07:47] bradymiller commented on #4284
The 2nd patch for OpenEMR 6.0.0 has been released:
[https://www.open-emr.org/wiki/index.php/OpenEMR_Patches ](https://www.open-emr.org/wiki/index.php/OpenEMR_Patches)

The patch includes:
* Security fix (reported by Hagai Wechsler at [whitesourcesoftware.com](https://www.whitesourcesoftware.com), fix by Brady Miller)
* WENO Exchange ePrescribing fixes (fixes by Sherwin Gaddis)
* Session and timeou

[2021-06-16 07:47] #4418 closed

[2021-06-16 10:18] stephenwaite commented on #4418
![excited_elephant](https://user-images.githubusercontent.com/5618372/122202035-a1b85700-ce6a-11eb-8b78-1a1856e7ba2d.gif)

[2021-06-16 15:27] kchapple opened #4469 "Audit Logging of Merge Tool"
### Describe the problem

The merge tool doesn't get used often, but when it does, we want to know who used it and what patients were involved with the merge.

### Describe the solution you'd like

I would like to implement audit logging of the merge tool actions.

I'm looking for feedback on:

- Where should log screen live? (should it be a type in the audit log, a new screen on the system log pa

[2021-06-16 17:35] attritionorg commented on #4284
@bradymiller Can you link to the fixing commit of the security fix please? Having a hard time determining if this is a new issue or one previously disclosed and covered by a CVE. Thanks!

[2021-06-16 17:42] bradymiller commented on #4284
hi @attritionorg ,
Don't think the CVE has been published yet. I consider it a minor issue, though. It sets a maximum length for the password (which can be configured or turned off in global settings 'Maximum Password Length') since PHP's default hashing (bcrypt/blowfish) will ignore all the characters after 72 characters (so, if a user is using a super long password, only the first 72 characters

[2021-06-16 18:05] attritionorg commented on #4284
Thanks for the explanation. Based on that, it doesn't warrant a CVE for the issue in OpenEMR since the flaw is in the underlying PHP hashing. As far as this goes I would call it a security hardening fix not a vulnerability.

[2021-06-16 22:59] sunsetsystems commented on #4469
The SQL updates performed would be logged, unless disabled, but an additional logged event for the merge as a whole would be good. A new type in the existing audit log seems logical. "Undo" is generally not supported in OpenEMR, but it would be nice to have a tool to import a patient from a backup or other site.

[2021-06-16 22:59] stephenwaite commented on #4290
bump

[2021-06-16 23:29] stephenwaite opened #4470 "copays should be consolidated"
### Describe the problem

believe there are currently 3 ways to enter a copay for a visit but there are reports like `interface/patient_file/front_payment.php` and `interface/reports/receipts_by_method_report.php` referencing the `billing` table where they are no longer stored

1. use Fees->Payment and it will enter the copay into the `ar_activity` table
2. use the Fee Sheet and click the `Add Cop

[2021-06-17 12:17] kchapple commented on #4469
Thanks for the feedback!

I wonder, since the logging occurs in the sql wrapper functions, and there’s currently no way to know where the sql function originated, that we should add some kind of “context” or “options” parameter to the sql wrapper so the logging system can know that the query originated from a merge.

Or maybe it would be easier and make more sense if we can just add logging direct

[2021-06-17 20:25] sunsetsystems commented on #4469
I would just log a "patient merge" event from the merge tool. That would be good for searching, and the related SQL update events can be recognized from having the same timestamp and user. But maybe I'm just lazy. :)

[2021-06-17 20:40] kchapple commented on #4469
This particular use case has 50+ users and a TON of insert and update queries (more than typical) so we want to be able to search for merge events in order to figure out the user that did the merge.

[2021-06-17 22:14] kchapple commented on #4469
I think we’re on the same page.

[2021-06-18 21:18] #4217 closed

[2021-06-21 14:39] sjpadgett opened #4475 "Portal broken on PHP 8"
### Describe the bug
Fixed several library classes but Profile edit won't render. Renders to white screen with no indication why.

I guess not many are using PHP 8 with portal!

[2021-06-21 20:34] dimitristsilis opened #4478 "Lab selection page (for results output) uses codes instead of names"
### Describe the problem

In Labs tab, in order to show results we have to select them by their code. They are shown in alphabetical order.

### Describe the solution you'd like

Discreet results should be selected by their name and grouped the way we created them e.g. each discreet result under its Procedure Order name/Group name

[2021-06-23 04:38] #4475 closed

[2021-06-25 14:53] kchapple opened #4481 "Clicking "Completed" on a message in patient dashboard is broken"
### Describe the bug

There is a "Completed" button next to messages in the patient dashboard. Clicking it does nothing. No errors in console.

### To Reproduce
1. Log into demo.
2. Create a new message to yourself regarding a patient.
3. Click "send"
4. Browse to the patient regarding whom you just sent message.
5. Open Messages section and click "Complete"

<img width="1431" alt="Screen Shot 202

[2021-06-25 21:42] sjpadgett commented on #4481
click event is not being attached. prob need to move the event function.

[2021-06-25 21:58] sjpadgett opened #4482 "Failures running with PHP8"
### Describe the bug
Brady has spent hours going through core code and has identified and fixed many PHP8 requirements(thank you Brady!) however, we still are not PHP8 stable.
Currently CCM module is very broken and I see many other errors doing normal workflows.
Everyone should have PHP8 as their development environment and be testing, reporting and fixing PHP8 errors.

I look to vendors to jump

[2021-06-26 15:31] sjpadgett opened #4483 "Site Id missing from Session Data"
### Describe the bug
Either one of our timers is preventing going to log in landing page on a time out or time out is broken.

Instead, the next time after timeout the user tries to go to a page, globals throws the warning.

[2021-06-26 15:55] sjpadgett commented on #4481
fixed in my next PR
![image](https://user-images.githubusercontent.com/1859985/123518651-df8c5b00-d674-11eb-9996-14bdcca845c2.png)

This bug is concerning. How many other events are we missing due to the way we load these fragments and/or widgets? i.e DOM is already init'ed.

[2021-06-26 17:44] kchapple commented on #4481
The patient dashboard (holistic view we like to call it) would be an excellent candidate to write a front end JS app that pulls data fell the internal rest api. I’d love to take that on, but wouldn’t be able to get to it for a while.

[2021-06-26 17:53] sjpadgett commented on #4481
lol, wish granted brother!

[2021-06-26 22:11] sunsetsystems commented on #4483
Can you reproduce on one of the demo sites? I just tried one of the daily development demos and it seemed OK with a 30-minute timeout.

[2021-06-26 22:46] sjpadgett commented on #4483
I'm on master so i'm ahead of demo server.  Plus i'm on windows so who knows.
Generally i've found that if you get site id missing then some how session got corrupted and timer is not involved to kick to landing page.
I've always believed the timers generate a conflict with each other where my testing has been to set timer to a long value like 6 hours and let run over night or while working.
I've

[2021-06-27 00:05] #4481 closed

[2021-06-27 05:00] sunsetsystems commented on #4483
Aren't the daily dev demos refreshed daily? Anyway try it with a 5 minute (300 secs) timeout. If that still fails it shouldn't be too hard to track down, given that it works on the dev demo. Or if it works then you can try different values and/or usage actions to get more information.

[2021-06-27 05:17] sjpadgett commented on #4483
I believe the dev demos may reset but not necessarily with the latest master. @bradymiller can confirm or not. Seems awhile back I tried to test a change I put in master but didn't show up after reset. Regardless the session change would be on demos as it's been a few weeks since changes were merged.

Still, I many times find bugs that don't necessarily show up on demos or visa versa. Windows espe

[2021-06-27 17:12] sjpadgett commented on #4482
I'm still aggravated with PHP8 project. One of the better features of an interpreted scripting language is loose typing. Don't know how they got it in their heads to suddenly have early loose typing then enforce strong typing later in variables life forcing everyone to have to mostly type cast to correct type on refactors. Okay, I feel better ranting that.:)

@bradymiller Ran across the` Unsupport

[2021-06-27 18:24] kchapple commented on #4483
I see this behavior also, Jerry, but haven’t ever been able to figure out what causes it. When I see it, “Logout” link doesn’t work (I think a class not found error for SystemLog log it’s thrown). I have all my garbage collection and session stuff set up correctly.

[2021-06-27 18:39] sjpadgett commented on #4483
thanks @kchapple What is your timer set at and what OS i.e. is windows?

[2021-06-27 18:43] kchapple commented on #4483
Usually I add a 0 to the default. I develop on Mac, but also see it on Ubuntu.

[2021-06-27 18:45] kchapple commented on #4483
I’ll make a note, next time I run into it to put some context info here.

[2021-06-27 18:48] sjpadgett commented on #4483
Yep, I believe this is an issue with timers on long values. I'm trying to narrow and know it breaks on 6 hours so now testing 4 hours.
I think both timers call globals so could be a conflict between the two timers on rare occasions. Anyway this is what my gut tells me or it could just be something I ate.:)

[2021-06-27 23:12] bradymiller commented on #4482
yep, `null` is your best friend with PHP8 :)

[2021-06-27 23:14] sjpadgett commented on #4482
In this case you have to cast the var with (int)

[2021-06-28 00:51] bradymiller commented on #4483
to clarify the demos, they are built nightly (i think midnight but maybe 1 am pacific time) directly from the master branch on github.

[2021-06-28 13:14] sjpadgett commented on #4483
This worked at 4 hours last night. I also watched session_tracker all day yesterday where updates were as they should.
This is just weird. I think 4 hours is a reasonable time if consistent. However, I can't seem to let it go.:)

Please if others could just test at various timer settings and report i'd be great.

[2021-06-28 13:21] stephenwaite commented on #4483
sure @sjpadgett , just set rel-600 patch 2 in demoland, https://eight.openemr.io/c/openemr/index.php, to test 6 hours and can test others there too if you'd like.

[2021-06-28 13:25] sjpadgett commented on #4483
I appreciate it Stephen. I'll put a test up on dev demo as well. I was hoping this was just a windows issue but Ken reports differently.

[2021-06-28 13:33] sjpadgett commented on #4483
Btw: I'm going to change the timer on dated reminders to maybe a 15 sec difference from background tasks firing so they don't fire at the same time. I believe this is the issue and will test again tonight on my system.

[2021-06-28 14:10] sjpadgett commented on #4483
This is interesting but from my v6 where I was just running a quick php8 test yesterday and maybe only had v6 up for an hour.
May just be a fluke where weno is not enabled on my other tests.
[code]

[2021-06-28 15:19] juggernautsei commented on #4483
@sjpadgett We see this all the time. I have been working on this since v6 was released and there are people not using weno that get this error message.

[2021-06-28 15:21] sjpadgett commented on #4483
Probably should open an issue so others will know and possibly help.

[2021-06-28 18:58] juggernautsei commented on #4483
The weno log sync was addressed in my last repo update

[2021-06-28 21:32] sjpadgett commented on #4483
so @juggernautsei is/can it come back to v6(3). Should/can I do it and what is PR?

[2021-06-28 21:34] sjpadgett commented on #4483
Put up a fix, I think, and will test further. Will be on dev demo tomorrow.

[2021-06-28 21:35] stephenwaite commented on #4483
@juggernautsei's [fix](https://github.com/openemr/openemr/commit/97d090c1d08c4df0348a9ded1afd5e03dd49991d) was brought in just before patch 2 was formed

[2021-06-28 21:38] sjpadgett commented on #4483
hmm why am I seeing the error. I need to make sure I have it I guess, though I patched up v6(2).

[2021-06-28 21:48] juggernautsei commented on #4483
the correction is not in the patch. Fixing the log sync function https://github.com/openemr/openemr/pull/4480

[2021-06-28 21:49] sjpadgett commented on #4483
Okay thanks i'll look into if you say okay to bring back

[2021-06-28 22:17] #4120 closed

[2021-06-29 12:04] sjpadgett opened #4489 "Dev Demos with data Down with Error"
[code]

I don't think it has anything to do with my commits yesterday.

[2021-06-29 12:27] stephenwaite commented on #4489
think there's something broken in the upgrade script since the demos with no data are fine

[2021-06-29 12:33] stephenwaite commented on #4489
it's like it's skipping over the `5.0.2 to 6.0.0` script

[2021-06-29 12:42] sjpadgett commented on #4489
yep the upgrade scripts failed so that's where we need to look

I just wanted to run a timer test. Also realized I forgot about the reminder counter fetch so hope what I have now works otherwise will need to look into that.

[2021-06-29 13:28] stephenwaite commented on #4489
in the [sql/5_0_2-to-6_0_0_upgrade.sql script](https://github.com/openemr/openemr/blob/master/sql/5_0_2-to-6_0_0_upgrade.sql#L584-L585), the new manner of creating uuids expects the field `table_vertical` to already exist in `uuid_registry`

would it be ok to reorder that script so any uuid need updates are at the end?

[2021-06-29 18:05] sjpadgett commented on #4483
This is frustrating. My gut is wrong as my 6 hour test failed with no recorded errors. Still separating those timers is better than before.

Also had it fail on my dev machine where I did some encounter views and demographics/picker stuff then left for, I guess, 1 or 2 hours and received the error when I came back to refresh patient. I did get an error that I think may just be a product of what ca

[2021-06-29 19:17] sjpadgett commented on #4483
It's interesting dated_reiminder_counter is still trudging along.

[2021-06-29 21:18] sjpadgett commented on #4483
Ubuntu 20 dev demo failed but instead of a site id error it took me to login.
Here is logged errors:
[code]

I keep seeing this so may be our issue. dated reminders call globals.php then globals calls config.inc that does some encryption stuff so that may be what sets the site id error off on an idle openemr.
@adunsulag We talked a little about this. You have any thoughts?

[2021-06-29 21:42] adunsulag commented on #4483
@sjpadgett I don't right now, I can look into this deeper tomorrow though.  Session timing bugs are always really hard to track down.  I don't know really much about the timer code at all but I can familiarize myself in it if that would be helpful.  We talked about the autoloader failing during session_start which is a common source of errors I've seen in other systems.  Often I've seen these erro

[2021-06-29 21:46] sjpadgett commented on #4483
Don't worry about too much. I think I know why but need more info from testing. Going to set up some traps for testing.

[2021-06-30 16:45] sjpadgett commented on #4483
Ran 4 test last night. 2 on dev demo farm(chrome) and 2 local windows 10 machine(FF and Edge). Demos worked, windows failed.
Looking into session.gc_maxlifetime and how perhaps windows and linux garbage collection etc may be different. Still my local is at default value of 24 mins but I was under the impression the session cookie ttl is overriding.
@stephenwaite Didn't you look into this and do yo

[2021-06-30 16:50] stephenwaite commented on #4483
@bradymiller helped explain it to me
https://github.com/openemr/openemr/pull/4439#issuecomment-860014749

2 hours on dev demos

[2021-06-30 17:02] bradymiller commented on #4483
Wonder if it may be session.cookie_lifetime setting in windows php.ini

can see quick description of both here:
https://blogs.oracle.com/oswald/php:-sessiongcmaxlifetime-vs-sessioncookielifetime

Note appears session.gc_maxlifetime is relative (ie. activity resets it, and since the timer script is going every 60 seconds, in theory, any setting above 60 should suffice for OpenEMR).

Note session.co

[2021-06-30 17:08] bradymiller commented on #4483
clarification on session.gc_maxlifetime, OpenEMR does override this to 14400 (again, though, in theory anything above 60 would work in OpenEMR core :) )

[2021-06-30 17:25] sjpadgett commented on #4483
Thanks Brady and Steve. I think the issue is tangled in there somewhere. We may want to set these values in core code. Maybe session.gc_maxlifetime to timeout plus a fudge factor still Brady, my thoughts on how this works is the same as yours.

I'm not sure but could the stored session file get cleaned up and the cookie live on.
I don't have a  session.cookie_lifetime in my php8.ini.

[2021-06-30 18:29] bradymiller commented on #4483
Does the session get removed in /tmp (or whatever location your php is storing sessions) when you see this error?

[2021-06-30 18:32] sjpadgett commented on #4483
I didn't think to look. I know the cookie is still active as I did look at that.

[2021-06-30 21:18] adunsulag opened #4490 "API Request with Authorization Bearer Token throws fatal Logic Exception if oapublic.key is missing"
### Describe the bug

Making an API request to dispatch.php in this case the URL was <openemr_site_url>/apis/default/fhir/DiagnosticReport?category=LAB throws a fatal logic exception when the oapublic.key is not found in the system.  I don't think this will be encountered by hardly anyone so it should be a fairly minor bug.

However, when we make a request to dispatch.php we should probably regene

[2021-06-30 21:53] bradymiller commented on #4483
you may of already done this, but would put debug stuff here that dumps all possible info (or xdebug block) to capture if openemr is killing the session/cookie:
https://github.com/openemr/openemr/blob/master/src/Common/Session/SessionUtil.php#L227

[2021-06-30 21:55] bradymiller commented on #4483
actually, better place is here:
https://github.com/openemr/openemr/blob/master/src/Common/Session/SessionUtil.php#L136
(turning on Stephen's logger will also provide some basic info there)

[2021-06-30 22:53] sjpadgett commented on #4483
I finally figured it out. Now I can have peace of mind....

[2021-06-30 22:56] stephenwaite commented on #4483
![peace_of_mind](https://user-images.githubusercontent.com/5618372/124041395-c832d200-d9d4-11eb-861e-5a733e2dd9a2.gif)

[2021-06-30 22:59] bradymiller commented on #4483
![tenor (26)](https://user-images.githubusercontent.com/278968/124041672-2b643a80-d9bc-11eb-956d-000727159934.gif)

[2021-06-30 23:36] sjpadgett commented on #4483
Did you know:
- PHP GC (garbage collector) doesn't delete the session file but empties the content. (Assumes the OS will delete on boot)
- PHP8 default session.gc_divisor=1000 (use to be 100 and is a better setting for our use) i.e. a 0.01% chance GC runs on session_start.
- A session_start doesn't update the session file modified time. (Makes sense)
- Regardless of the session cookie TTL, GC will

[2021-06-30 23:40] juggernautsei commented on #4483
![image](https://user-images.githubusercontent.com/834958/124044274-1054f300-d9db-11eb-9e9e-efbee40f2088.png)

[2021-07-01 00:50] sjpadgett commented on #4483
Testing a fix where I write a date stamp to session when dated reminder counter fires works well.
I think this is the way to go so will put up a PR unless anyone see a problem with this.

If anyone wants to test using my method add to globals before the session start:
[code]
Then watch the session file for cookie id.

[2021-07-01 01:51] stephenwaite commented on #4483
![cookie](https://user-images.githubusercontent.com/5618372/124052917-4ac78b80-d9ed-11eb-8982-48a4104b5c50.gif)

[2021-07-01 12:12] sjpadgett commented on #4483
I'm happy to report that I woke up this morning to three log in screens(three different browsers). It was as though my computer was eager for me to see!(My computer is such a suck up!):)

I think that between all of us, we finally have the session, cookie and timer stuff nailed. Nice work everybody!

Closing issue.

[2021-07-01 12:12] #4483 closed

[2021-07-01 12:22] stephenwaite commented on #4483
![crowd-cheering](https://user-images.githubusercontent.com/5618372/124123626-84c47c00-da45-11eb-849b-a2c040dd101a.gif)

[2021-07-02 04:33] #4305 closed

[2021-07-02 04:34] #4307 closed

[2021-07-02 20:29] adunsulag opened #4497 "Support POST _search operation for FHIR"
So did some digging.  US Core 3.1.1 requires a POST for searching as well as GET requests.  ONC 2015 certification is against the 3.1.1 spec.  The newest spec coming out for US Core is 3.2.0.  Apparently Inferno misunderstood in their implementation (a ton of people did as the R4 specification documentation is poorly worded).  [Read a pretty long thread on the FHIR forum over this.](https://chat.f

[2021-07-02 20:33] stephenwaite commented on #4497
![smaller](https://user-images.githubusercontent.com/5618372/124325742-32718100-db53-11eb-82f0-34901af207f7.gif)

[2021-07-02 21:26] adunsulag opened #4499 "PHP8 Edit Existing Procedure Order Form throws error"
Procedure Order form throws an error on PHP8 when editing an existing order.

![image](https://user-images.githubusercontent.com/228117/124329907-52f10980-db5a-11eb-8ab0-27c8a333462c.png)

Looks like the procedure order array results is not initialized which causes count() to throw an error.

Impacted file is [interface/forms/procedure_order/common.php](https://github.com/openemr/openemr/blob/497c

[2021-07-03 08:16] ajung202 opened #4501 "Setting up using CONTRIBUTING.md fails"
Hello, I wanted to contribute to this project and tried to follow all the steps listed in CONTRIBUTING.md doc, but it fails with the following error:
openemr_1     |
openemr_1     | Love OpenEMR? You can now support the project via the open collective:
openemr_1     |  > https://opencollective.com/openemr/donate
openemr_1     |
openemr_1     | Starting cron daemon!
openemr_1     | Starting apache!

[2021-07-03 11:15] stephenwaite commented on #4501
hi @ajung202 , that's just an apache warning, you should be able to login at localhost:8300 in your browswer.

[2021-07-03 22:16] ajung202 commented on #4501
Thanks!

[2021-07-03 22:16] #4501 closed

[2021-07-05 14:04] sjpadgett opened #4504 "Health Concerns must link problem"
### Describe the problem
This seems silly to me however, testing requires. Patient could have concerns that are not a problem.
Rewrite templates plus add UUID from problem list so can more easily reference Can relate problem in concern from text templating engine.

[2021-07-05 22:24] #4497 closed

[2021-07-05 22:29] #4499 closed

[2021-07-05 22:53] stephenwaite commented on #3950
bump

[2021-07-06 05:13] #4315 closed

[2021-07-07 08:51] #4504 closed

[2021-07-09 16:14] sjpadgett commented on #4489
@stephenwaite fixed so closing.

[2021-07-09 16:14] #4489 closed

[2021-07-09 16:21] sjpadgett opened #4512 "Clinic Practice Pharmacy error"
### Describe the bug
Throw Js error in data tables library:
![image](https://user-images.githubusercontent.com/1859985/125108014-76163e80-e0af-11eb-96de-a9fbf1090553.png)

Steps to reproduce the behavior:
1. Nav to Clinic->Practice

### Client configuration

- Browser:
- OpenEMR version: v6-dev
- Operating system: PHP8

@juggernautsei Believe you were last to touch Pharmacy or could have been ther

[2021-07-09 16:54] juggernautsei commented on #4512
This is very weird. I had made a post about adding pagination to this section. I did not complete the work because Weno moved away from importing 90k pharmacies into the program. That is what is causing the error. The pagination is incomplete.  It should not have been brought into the codebase. IMO.

[2021-07-10 01:40] sjpadgett commented on #4512
This prob only happens on an empty list!

[2021-07-10 18:03] stephenwaite commented on #4334
bump

[2021-07-12 00:31] #4327 closed

[2021-07-12 02:03] stephenwaite commented on #4327
bump

[2021-07-12 02:50] bradymiller opened #4520 "Odd menu items showing up in Reports"
![image](https://user-images.githubusercontent.com/278968/125223837-49b21c00-e281-11eb-9729-98ed96da43ce.png)

[2021-07-12 02:51] bradymiller commented on #4520
The following items are showing in the menu above on default installations (with broken links):
Peachtree Export
Visit Voids and Changes
Visit Voids and Changes

[2021-07-12 06:59] sunsetsystems commented on #4520
Oops, somehow they got in there prematurely. I'll remove them.

[2021-07-12 08:06] #4520 closed

[2021-07-13 00:21] sjpadgett opened #4523 "Add various CCDA document type exports CCM"
### Describe the problem
Need to Send several different CDA's. CCD, ToC, Referral or other clinical note document types e.g. Consultation etc..
CCM only selects latest encounter where latest encounter may note be the encounter to base the CDA on.
Unsure currently if I'll expand CCM export or send from encounter or both.

ONC updated their testing jig on 6/20/2021 so had to add so fixes but we'll s

[2021-07-13 13:25] stephenwaite commented on #4523
![sisyphus](https://user-images.githubusercontent.com/5618372/125459715-ea6c1b7c-6e66-4e60-871f-c9d2a33b7364.gif)

[2021-07-13 16:48] santy78 opened #4525 "Does OpenEMR REST API support pagination with sorting for patient fetch"
I am using Openemr for patient data storage and have separate ui integrated to openemr with rest api. Does OpenEMR have pagination enabled in its rest api. Did a good amount of search but could not find any information.

[2021-07-13 17:23] adunsulag commented on #4525
We currently do not support pagination on the FHIR api, I don't believe we support it on the standard api.  We've discussed adding it but it hasn't been on the priority list up to this point.  A workaround is to use date filtering (which we do support on a number of resources) to generate your pagination for you.  If enough people want to donate to the OpenEMR foundation to support this functional

[2021-07-14 01:40] adunsulag opened #4527 "Add FHIR R4 Interpretation to Vitals Observation"
Users have requested that we implement the interpretation property of the FHIR Vital Signs Observation in FHIR R4.  To do that we need to add an interpretation dropdown similar to what is found in our lab procedure results that lists whether the vital observation is normal, above average, below average, etc.

[2021-07-16 12:18] juggernautsei commented on #3894
No, but @stephenwaite, I will put this back on my radar to add more functionality to the feature.

[2021-07-16 12:29] stephenwaite commented on #3894
ok, me too, thank you @juggernautsei

[2021-07-17 00:34] sjpadgett commented on #4512
Again, the issue here only happens because of an empty pharmacy table. Now another problem has arisen where adding new pharmacies causes the new pharmacy to display twice in UI:
![image](https://user-images.githubusercontent.com/1859985/126019896-2dee3b0c-0cba-4e2c-b089-b3d7bb4562c7.png)

However, the pharmacy only appears once in table i.e. a form issue.
@juggernautsei Please review your recent m

[2021-07-17 03:34] juggernautsei commented on #3894
@stephenwaite after reevaluating the direction I was heading. I am going to take a bold step. I am taking an angular class right now. I think this would be a great project to use for skill-building. The form type that is currently being used does not lend itself to all the things that need to be done with the prior auth. Prior auth needs to be a stand-alone feature build in my opinion. It should n

[2021-07-17 07:15] juggernautsei commented on #4512
yes, I had that happen too.

[2021-07-18 05:15] bradymiller commented on #4284
Patch has been released to fix OpenEMR Cloud Express Backups
https://community.open-emr.org/t/patch-required-openemr-cloud-express-backups/16859

[2021-07-18 18:34] mdsupport opened #4533 "Logging of documents"
Just noticed that add/change/delete of documents to patient is not logged.

Is there specific reason for this?

[2021-07-18 19:18] stephenwaite commented on #4533
looks like it's logged

![Screenshot from 2021-07-18 15-18-14](https://user-images.githubusercontent.com/5618372/126079581-05289fd0-b0ec-40d5-adb0-ee80b7fa075d.png)

[2021-07-19 03:24] mdsupport commented on #4533
Ah. As seen, is the bug then log entries do not set patient ID from foreign_id field in documents?

[2021-07-19 16:06] #4533 closed

[2021-07-19 19:59] stephenwaite commented on #1653
believe this bug has been fixed somehow along the way, was probably a trifle for @sjpadgett (insert :fermats_last_theorem_gif)

can test on the demo with a provider in office time set to a fixed duration like 540 mins below and a provider out of office event set

![Screenshot from 2021-07-19 15-53-57](https://user-images.githubusercontent.com/5618372/126219027-7252248e-f56f-4a4c-9800-979a17686cb2.

[2021-07-19 20:22] stephenwaite commented on #3894
ok, sounds great @juggernautsei , good luck with the class!

[2021-07-20 15:40] juggernautsei opened #4537 "Vitals not displaying correctly after 10 entries"
### Describe the bug

The form input boxes collapse to a width that is too small to enter data into the fields.

### To Reproduce

![image](https://user-images.githubusercontent.com/834958/126353632-b826949a-48e9-44a3-a69e-c96cb2d37ee7.png)

Steps to reproduce the behavior:
1. Add a '....'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior
fields stay wide enough to en

[2021-07-20 15:41] juggernautsei commented on #4537
This fixes the issue.

      .container input {
          min-width: 120px;
      }

[2021-07-20 17:02] mdsupport commented on #4537
Feedback from nurses is they want to see max nbr of past vitals. From that perspective it is better to move add/change to a popup.

[2021-07-20 18:04] adunsulag commented on #4537
@mdsupport Wouldn't it make sense to show the last 3-5 vitals and then display below the entire form a table containing all of the past vitals?  Either that or let the table be horizontally scrollable.

Trying to play with padding / margin will only get you so far as you hit a maximum no matter what.

[2021-07-20 18:22] sjpadgett commented on #4537
I fixed this awhile back in master.

[2021-07-20 20:14] stephenwaite commented on #4537
thought that sounded familiar, https://github.com/openemr/openemr/commit/86b0822637245a719483426714ad0121f639bf2c#diff-6278040c8b5dad0be6d93080b7064aa4f2eddae26deaa2f6f2bef1b480df22c4

[2021-07-20 20:56] sjpadgett commented on #4537
Thanks @stephenwaite I'll try to remember next time I do a commit to v6, to add. Unless you remember too.

[2021-07-20 22:20] mdsupport commented on #4537
Agree. Current approach works for many practices where visits are either related to an episode or regularly spaced follow ups. But in-patient use or when a patient is seen very frequently makes the current horizontal / viewport constrained format difficult to use. Table display opens possibility of an enhanced filtering (e.g. see vitals when b/p was > 160) that will be very useful.

[2021-07-20 22:23] mdsupport commented on #4537
On a marginally relevant note: display of uuid is never of any value to users.

[2021-07-21 20:59] adunsulag opened #4540 "Character Set Conflict During sql_upgrade.php script"
Found a very interesting bug while working through setting up foreign keys for the form_vital_details table.  Despite the database collation being set to utf8mb4 the list_options table has a different collation during the upgrade process than the form_vital_details table.

This ends up creating the following error:
[code]

The innodb error specifically returned is this:
[code]

I modified the sql_

[2021-07-21 21:37] stephenwaite commented on #4540
hi @adunsulag , are you running the flex with `Server version: 10.5.4-MariaDB-1:10.5.4+maria~focal mariadb.org binary distribution`?

[2021-07-21 21:58] adunsulag commented on #4540
@stephenwaite I'm using the flex docker and my version is:
```Server version: 10.5.10-MariaDB-1:10.5.10+maria~focal mariadb.org binary distribution```

[2021-07-21 23:05] bradymiller commented on #4540
Interesting. Note that demo data is bringing in a database that uses utf8 (hence list_options is utf8) whereas new codebase is now using utf8mb4 (so when creating new sql tables, it will create utf8mb4). If unable to have foreign keys across different collation, then basically won't be able to use foreign keys in upgrades (since never know what the encoding is being used on the older databases; fo

[2021-07-22 00:18] bradymiller commented on #4540
Actually, if what I posted above is true, then we are likely never going to be able to use foreign keys since we don't have total control of the collation and it is never straighforward to change to another encoding (for example, can't just simply migrate a database to utf8 to utf8mb4 since issues may arise in that situation (and even more so for latin1 to utf8mb4)). And who knows in the future wh

[2021-07-22 01:09] adunsulag commented on #4540
@bradymiller Its definitely not straightforward to switch to another encoding but don't you think we are going to see problems with tables having different encodings? Any kind of string comparison join from a latin1 to utf8 could have bizarre edge cases when mixing character sets and collations.  I'm surprised users haven't reported issues already especially in some of the non-latin based language

[2021-07-22 01:12] stephenwaite commented on #4540
![sneak-bite](https://user-images.githubusercontent.com/5618372/126578137-65e570a3-ba24-473d-b18f-3ad3a2d518e1.gif)

[2021-07-22 01:18] sjpadgett commented on #4540
I can state for a fact we see issues crossing collations. This is why I tell folks having issues with backups to ensure they match their DB encoding with sqlconfig encoding.

[2021-07-22 02:46] bradymiller commented on #4540
New installs create a database that uses utf8mb4 encoding and utf8mb4_general_ci collation (a more specific utf8mb4 collation can be selected during setup).

As part of the longer term plan, we could now:
1. Make all tables (in database.sql and 6.1.0 upgrade script) hardcode to utf8mb4 encoding.
2. Remove the mechanism for overriding to latin1/utf8 in sqlconf.php (a flag can be set there to do thi

[2021-07-22 03:02] bradymiller commented on #4540
Something that would be helpful here is if a different collation would also break a foreign key (the failing with a different encoding makes sense, but hopefully not with different collations since this may be a bit tougher to ensure stays consistent throughout database if not hard coded like the encoding is).

[2021-07-22 11:25] stephenwaite commented on #3273
![percolating](https://user-images.githubusercontent.com/5618372/126631929-29f7554e-b917-4d11-9054-d863d7b34002.gif)

foreign key discussion counts right?

[2021-07-22 11:32] adunsulag commented on #4540
@bradymiller I'm pretty confident that foreign keys require the same collation as well as character set encoding.  Other elements of a table can have different collations but the foreign keys have to be identical in the child and parent tables in order to ensure referential integrity otherwise there's the possibility that the collation comparison rules won't match.

I went and looked it up in the

[2021-07-22 11:33] adunsulag commented on #4540
Its a pretty big undertaking and it seems like the big take away is that we don't do foreign keys until we can figure out how to migrate old user selected collations if we want referential integrity at the database level in the future.

[2021-07-23 06:47] bradymiller commented on #4540
Yep, forcing same collation would be tougher than encoding (which is still even a feat in itself).

[2021-07-24 22:22] #3382 closed

[2021-07-27 23:42] mdsupport opened #4547 "Use of sequences rather than autoincrement"
.. it seems like it would be more robust to use a self incrementing id for most of the tables that use this rather than rely on the GenID function. Any folks know of the benefit of using this GenID mechanism over a simply id that counts for a table?

_Originally posted by @bradymiller in https://github.com/openemr/openemr/issues/3788#issuecomment-669758698_

Not sure if this strange legacy is noti

[2021-07-28 00:02] adunsulag commented on #4547
I see it as a problem personally.  It allows you to do inserts of dependent records without having to wait for the insert id of the previous record but I think that's actually an anti-pattern as everything should be inside of transactions anyways.  I also saw a table last week that I can recall right now that specifically relied on the fact that the foreign keys were sequences to different tables

[2021-07-28 00:46] mdsupport commented on #4547
On a related note, the ORDataObject model uses REPLACE INTO taking away the option of hard error if two parallel processes got same ID because of lack of locks. So issue like #3788 is probably caused by a errant process that picked up existing ID while inserting a new document. Normally the INSERT error could have stopped the damage. But ORDataObject's persist removes all traces of old document wh

[2021-07-28 02:01] adunsulag commented on #4547
@mdsupport I didn't want to break backwards compatibility when I was modifying vitals by changing that REPLACE INTO.  I was pretty tempted to change it though as when I was using foreign keys I noticed that REPLACE INTO does a delete record and then an insert.  Maybe we should go ahead and change that in ORDataObject.

[2021-07-28 06:34] mdsupport commented on #4547
I just wanted to make future devs aware of these unexpected code variations since we assumed a library will implement add, change and delete methods. Combining "add+change" in single code is problematic behavior for such root class. I think ORDataObject comes through Smarty though it does not have any author block. So we find it easier to avoid its use for Add logic.

The reason I brought up this

[2021-07-29 08:13] #4172 closed

[2021-07-30 16:59] #4371 closed

[2021-07-31 10:31] #3780 closed

[2021-08-01 02:59] sjpadgett commented on #4290
All b1 requirements have been met and testing green against ONC sample scenarios. Will continue to build on warnings(generally should) as insurance. A long road no doubt!

scenario 1
![Message-Validators-ETT](https://user-images.githubusercontent.com/1859985/127757575-9ce76632-e2d4-4c19-9286-dfbcf0a5e96c.png)

scenario 2
![Message-Validators-ETT](https://user-images.githubusercontent.com/1859985/1

[2021-08-01 03:09] #4290 closed

[2021-08-01 03:09] #4317 closed

[2021-08-01 03:09] #4462 closed

[2021-08-01 03:09] #4523 closed

[2021-08-01 14:08] #3435 closed

[2021-08-01 14:10] stephenwaite commented on #3435
bump

[2021-08-03 18:44] wesleylima opened #4555 "Bring Doctrine Back?"
Doctrine was removed here https://github.com/openemr/openemr/pull/3923 because of PHP8 compatibility.

Looks Doctrine got PHP8 compatibility!

https://github.com/doctrine/orm/issues/8350

Should we bring Doctrine back?

[2021-08-03 19:43] adunsulag commented on #4555
@wesleylima Do you have a project inside OpenEMR you would like to use Doctrine on?  I debated on using it in the current FHIR project as my own query builder stuff is really rudimentary compared to a full on ORM but due to the lack of PHP8 support at the time and the projects hesitancy of bringing in external dependencies I decided not to go that route.

I do really enjoy Doctrine though and so I

[2021-08-03 19:50] sjpadgett commented on #4555
Hi,
I'm fully onboard with bringing doctrine back. We'd need a reason first to justify sitting in core.
I also missed having when doing Oauth2/OIDC.

[2021-08-03 20:18] stephenwaite commented on #4555
when a post is edited the emojis should be wiped :)

can we back up to spaghetti?

![SPAGHETTI](https://user-images.githubusercontent.com/5618372/128076843-ea428706-7d31-4081-a63a-d282e9fdfb32.gif)

[2021-08-05 02:58] wesleylima commented on #4555
@adunsulag I'm writing a new patient portal route for appointment booking.

So is the sentiment in this thread representative of the overall project?
If I submit an MR that add doctrine and/or refactors some queries to use the doctrine it wont get rejected outright?

[2021-08-05 03:43] bradymiller commented on #4555
Lets put some more thought/research into this (says the person whom
expended large resources on the very unfun project of removing doctrine so
we could release 6.0.0 :) ). My take at that time was that doctrine's dev
support was winding down, so they were unable to keep up with the php
version releases. If we are very confident this will not happen again, then
would be ok with me.

On Wed, Aug 4,

[2021-08-05 04:23] sjpadgett commented on #4555
I get it @bradymiller however, you're always way ahead of most in our new PHP releases support and when I researched at the time, Doctrine was working on PHP8 support. I agree though, we'd need a very good reason to bring back. Mixing Doctrine into our API for one endpoint wouldn't make sense.

[2021-08-05 17:06] sjpadgett opened #4559 "Add macros for API scopes"
### Describe the problem
What a pain adding so many scopes for requests plus as scopes are added/changed, requires client apps to modify request scopes.
Suggest using pattern like scope: user:read or user:All or ...
Unsure if I have a client registered scopes validation in code but if not, needs to be added.

Also need to add disable for required certs file permissions check for 666 on windows in

[2021-08-06 14:35] adunsulag commented on #4527
This issue is now complete

[2021-08-06 14:35] #4527 closed

[2021-08-06 14:47] sjpadgett commented on #4527
At least 10 Atta Boys!
![giphy-downsized](https://user-images.githubusercontent.com/1859985/128528593-c25282c7-8836-48fb-b3cb-bef8e68de34b.gif)

[2021-08-06 14:48] sjpadgett commented on #4527
Stephen W. and Brady have now got me started with the gif files!

[2021-08-06 14:59] adunsulag opened #4560 "Support multiple CareTeam records per patient"
I implemented and connected the FHIR CareTeam status property inside patient_data.  However, I discovered that the FHIR test suite requires that you support at least two care team records with different status (active, proposed, suspended, etc) for a single patient.

What I am thinking we do to resolve this issue is to create a patient_careteam_history table and anytime the careteam data changes i

[2021-08-06 15:11] bradymiller commented on #4527
![2DV-2](https://user-images.githubusercontent.com/278968/128532191-f67cbb59-e5ea-4032-b982-1068f8527204.gif)

[2021-08-06 15:34] sjpadgett commented on #4560
I'm creating a linked table now for just this type of data for previous patient names. Can also add care team members if tell me what is needed for columns in your opinion/needs.

[2021-08-06 15:54] adunsulag commented on #4560
@sjpadgett I've actually already implemented this and plan on pushing the PR very soon.

[2021-08-06 16:58] sjpadgett commented on #4560
@adunsulag can we just call it patient_history so it can be generalized for other history?

[2021-08-06 17:20] adunsulag commented on #4560
@sjpadgett So I'm hesitant to generalize the table because CareTeam at some point needs to support fields such as time period of the care team, name of the care team, primary contact number, as well as the many to many relationship between providers and facilities.  We could generalize the table right now to work in a patient_history context but I worry that it will be more work to extract the car

[2021-08-06 18:45] #4560 closed

[2021-08-07 11:52] sjpadgett commented on #4559
I kind of got talked out of this with some reasoning. Mainly next version of FHIR may have additions to scope groupings so closing this.
The certs message hint I'll add next time I'm in the API.

[2021-08-07 11:52] #4559 closed

[2021-08-07 11:59] sjpadgett opened #4564 "Add previous patient names to demographics"
### Describe the problem
An ONC requirement for FHIR at least. Unsure concerning charting required.

### Describe the solution you'd like
Will add via layouts with new data type for add patient history items.
I'm still working out how I'll hook to form UI and history saves.
Prob add to listadd script.

[2021-08-08 04:25] WalterConway commented on #4187
If this issue is still visible, then it should not be closeable until after
it is fixed. An issue being stale just says that no one wants to work it or
it is not a high priority issue so it goes stale. It should stay open.

Thanks.

On Sat, Aug 7, 2021, 10:55 PM stale[bot] ***@***.***> wrote:

[2021-08-08 23:47] hitechelp commented on #1653
Not saying it's right or wrong, good or bad, simply reporting what we're experiencing with the Calendar.

Since v6.0.0 (2) on Ubuntu 18.04 with FF 90.0.2 -

Setting the Category in the Provider's tab of the first time slot of the day to "In Office" and selecting "All Day" creates a time frame that is 1440 minutes long and extends 40 minutes beyond the Global-Calendar-Calendar Ending Hour setting.

[2021-08-09 00:10] sjpadgett commented on #1653
Nothing was done to calendar I can find in patch 2. Still, sound like we've step on timer somewhere. I've never paid attention to calendar timers but, I'll take a look and see if I can see anything.

[2021-08-09 00:46] sunsetsystems commented on #1653
As I recall "In Office" is just a time marker and should have zero duration. "Out of Office" similarly marks the end of the provider's availability to take appointments.

[2021-08-09 01:13] hitechelp commented on #1653
I'll set User Debug active on my backup server tomorrow and post relevant results tomorrow.

[2021-08-09 12:45] adunsulag commented on #4203
This should not be closed.  Forgot to bump it.  We are nearing completion with the bulk FHIR export.

[2021-08-10 14:33] adunsulag opened #4570 "Handle Vitals Blood Pressure Loose Cuff Scenario"
We are currently failing Inferno's USCOBP-11 test case where we have to report a dataAbsentReason (DAR) when there is not a systolic or diastolic value to report on.
![image](https://user-images.githubusercontent.com/228117/128885037-1bd14c95-d652-4dc5-add1-0a7a2b189826.png)

I asked the inferno test team for guidance on how to respond to this issue as we treat missing both values as if the observ

[2021-08-10 14:55] edwardsj9090 opened #4571 "Blank Screen on Install"
I've installed the necessary LAMP stack on my Ubuntu VM, but when I navigate to the /var/www/html/openemr directory in my browser, I just get a white blank screen which normally indicates a PHP issue.  But as said, all components have been installed.

[2021-08-10 14:59] adunsulag commented on #4571
What do your apache error logs say?

[2021-08-10 15:01] stephenwaite commented on #4571
hi @edwardsj9090 , did you follow "Configuring the Install through the WEB GUI" in the [instructions](https://www.open-emr.org/wiki/index.php/OpenEMR_6.0.0_Linux_Installation)?

[2021-08-10 15:16] edwardsj9090 commented on #4571
@stephenwaite I was using the command line on a headless VM, so I was just using _git_ to download this repo.  I realize now that that's probably for the dev side.  I will try downloading the .gz from the site and let you know.

[2021-08-11 02:05] adunsulag opened #4573 "Access Token / Refresh Token Revocation"
Inferno Test tool requires you to pass in a access token and refresh token and then for you to visually demonstrate the revocation of the token.  In order to make this work I've had to extend the Trusted User concept to allow granular revocation at the access and refresh token level.  I also found that every time a refresh token is given the old refresh token is revoked so we have to track that in

[2021-08-11 21:07] juggernautsei commented on #4555
I would agree that it would have to be a major feature build to justify bring doctrine back. I have been taught here not to have things just for the sake of having it or for the few. It would have to benefit the many to warrant bring it back into the codebase. Right now, we can forge ahead without it and really not miss having it in the codebase. As just said KIS. That was the advice given to me b

[2021-08-11 21:16] juggernautsei opened #4577 "List showing duplicates in the display of the list"
### Describe the bug
In the demographics we noticed that the list of referrals shows the same entry two and three times.
![image](https://user-images.githubusercontent.com/834958/129103701-a1adf538-94dd-4f0c-a6fe-decf8a3f6dbb.png)

### To Reproduce
Hard to reproduce.

Steps to reproduce the behavior:
1. Created new list with add
2. Opened Demographic
3. Added to list
4. Entry shows 3 times

### Ex

[2021-08-11 21:27] juggernautsei commented on #4577
I checked the demo and this happens there two. I will look into fixing this. I know the issue most likely will be in the options.inc function generate_select_list.

My first thoughts are to slap a distinct on all of the select statements.
But hmmmm

[2021-08-12 12:40] #4573 closed

[2021-08-12 18:36] mdsupport commented on #4577
Since only specific options are repeating it is probably related to SQL left joins being used for translation. Correct SQL will generate the list and then translate.
Interesting that it took this long to be noticed.  @juggernautsei is leaving no box untested!

[2021-08-13 11:58] pete-boyd opened #4581 "Date is ignored when searching on a date range in Patient List Creation > Demographic"
Reports > Clients > Patient List Creation

From:
To:
Option: Demographics

"When searching on Demographics, the date field is not taken into account, unfortunately. The date field works with other parameters."

See:
"Patient List Creation Reports Issues
https://community.open-emr.org/t/patient-list-creation-reports-issues/13540/8

OpenEMR 5.0.2 and 6.0.0 Patch 2

[2021-08-13 21:25] sjpadgett commented on #4393
bumpety bump

[2021-08-13 21:28] sjpadgett commented on #2917
we have been doing some work with medications so bumping to keep reminding ourselves more may be needed.

[2021-08-13 23:00] adunsulag commented on #2917
Hmm... wasn't aware of this field.  I added a list_medications table to help support a number of these issues.  I think that will be a good basis for this issue.

[2021-08-15 04:09] #4359 closed

[2021-08-15 04:09] #4274 closed

[2021-08-15 04:09] #4318 closed

[2021-08-15 04:09] #4258 closed

[2021-08-15 04:09] #4242 closed

[2021-08-15 16:44] mdsupport commented on #4547
Possible fix to ORDataObject is :
1. Replace the current SHOW COLUMNS by native ADODB calls that return field objects for mySQL databases.
2. Where the sequences is called, check if any field (typically the primary key) is defined as autoincrement and skip call to get new sequence iff the field is empty. Guessing that the empty field should be dropped from list of columns as well in sql generation

[2021-08-16 15:19] adunsulag opened #4585 "MU3 Demo Site Setup for FHIR Inferno Testing"
We need to make sure we have the MU3 Demo site setup for fhir inferno testing.  I am going to document the setup instructions and what is passing / not passing using the publicly accessible [ONC Inferno testing tool](https://inferno.healthit.gov/inferno/).

I will be using the **edu** demo available [here](https://edu.openemr.io/openemr/).

For our initial setup we are going to enter in the FHIR b

[2021-08-16 16:26] adunsulag commented on #4585
@bradymiller Looks like we need to update the apache ssl configuration on the MU3 demos to reject any TLS 1.2 connections.  It seems to pass on my local box but I also turn off the SSL certification validation which might be impacting the inferno test server.
![image](https://user-images.githubusercontent.com/228117/129597028-5499e37b-02f0-4770-a660-a62587129742.png)

[2021-08-16 16:27] adunsulag commented on #4585
Everything else passes for the Standalone launch except for the TLS 1.2 check:
![image](https://user-images.githubusercontent.com/228117/129597166-588c316c-4578-49ee-bf44-6728c2e9586e.png)

[2021-08-17 06:17] bradymiller commented on #4585
@adunsulag ,
Fixed this on the demo farm nginx server: https://github.com/openemr/demo_farm_openemr/blob/master/docker/nginx/nginx.conf#L17

Should work now.

![image](https://user-images.githubusercontent.com/278968/129673572-778c7611-d592-42d4-877e-4bcffa2d4f5d.png)

[2021-08-17 23:09] adunsulag commented on #4585
@bradymiller I need to add some data changes to the MU3 demos.  You mentioned you can take a snapshot of the system and have the mu3 builds off that updated snapshot.  I'm keeping a list of the changes I need to make so we don't have to repeat this step too frequently.  When would be a good day this week to get those changes in and have you take the snapshot?

[2021-08-17 23:47] adunsulag opened #4590 "Facility Taxonomy Column Size truncates data"
So the facility taxonomy column [varchar(15)] is not large enough to hold an actual code value.  If you enter in a code value for the taxonomy such as:
**SNOMED-CT:223366009**
The value is truncated to:
**SNOMED-CT:22336**

We need to expand this column so we can hold full SCT codes.  This is needed for FHIR and I imagine CCDA as well.

[2021-08-18 00:31] bradymiller commented on #4585
@adunsulag , happy to do this (pretty minimal work on my end). Can do anytime except for during the day on Thursday/Friday.

[2021-08-18 02:01] stephenwaite commented on #4590
Ok but [taxonomy codes](https://www.cms.gov/Medicare/Provider-Enrollment-and-Certification/Find-Your-Taxonomy-Code) are actual code values.

[2021-08-18 10:44] adunsulag commented on #4590
@stephenwaite I thought that the taxonomy could either be a NUCC code or it could be a SNOMED-CT.  I thought @sjpadgett  told me that and its why Jerry's test data set has the SNOMED-CT prefix in it.

If its always a NUCC code then I can just hard-code what code system it comes from on the backend.

[2021-08-18 11:20] sjpadgett commented on #4590
Pretty sure I was talking about provider descriptions where the provider in ccda can be described with a taxomony or a snomed and referred by a NPI.
E.g. care teams.
Sorry if I mislead you!

[2021-08-18 11:31] adunsulag commented on #4590
@sjpadgett So your test database has a snomed code for the facility taxonomy.  Is that a mistake then?

[2021-08-18 11:53] sjpadgett commented on #4590
Huh, you're right. I have no clue how that got there! I don't believe I use taxonomy for facilities. Still, no clue but a mistake.

[2021-08-18 12:05] adunsulag commented on #4590
Sounds good.  I will make FHIR use the NUCC system for facilities and we can close this issue.

[2021-08-18 12:16] #4590 closed

[2021-08-18 12:17] sjpadgett commented on #4590
thanks @stephenwaite

[2021-08-18 15:12] sjpadgett commented on #4403
did we ever do this?

[2021-08-18 15:20] adunsulag opened #4593 "Forward slash escaping in API causes issues with some API clients"
So after many long hours of investigation into why the ONC Inferno test suite was failing the data absent coding and extension tests I finally figured out what was going on.  The test client does a straight up string search for a the data absent url such as http://terminology.hl7.org/CodeSystem/data-absent-reason in the API response body before it deserializes the response body.  However, since ou

[2021-08-18 15:32] mdsupport commented on #4163
If there is no solution for solar theme background color issue, we should at least not make it a default theme for [demo](https://eight.openemr.io/a/openemr). Here is picture -
![image](https://user-images.githubusercontent.com/399047/129926717-c9ae8e45-98e1-4891-9431-f1b899a11798.png)

[2021-08-18 15:38] sjpadgett commented on #4163
Somebody needs to go through the themes and fix. Solar, Dark and some Light. It's not to hard but I don't have time just now.
It's be a great project for someone interested in UI/UX

[2021-08-18 15:38] mdsupport opened #4595 "solar theme menu"
Still an issue

_Originally posted by @stephenwaite in https://github.com/openemr/openemr/issues/4163

[2021-08-18 15:41] mdsupport commented on #4163
Just saying the demo should be best foot forward.

[2021-08-18 15:41] sjpadgett commented on #4595
I'm not saying it's not. I'm hinting for somebody to maybe take it up.:)

[2021-08-18 16:44] stephenwaite commented on #4163
hi @mdsupport, do you have time to look into the issue? thank you

[2021-08-18 16:44] bradymiller commented on #4163
Just let me know which demo themes we should not be using for now and I'll make the changes in the demo farm:
https://github.com/openemr/demo_farm_openemr/blob/master/demo_build.sh#L57-L128

[2021-08-18 16:44] stephenwaite commented on #4163
should be light only imo

[2021-08-18 16:46] bradymiller commented on #4163
Could make it light for the official demos and then only do the random pick for the development demos. Would that make sense?

[2021-08-18 17:46] mdsupport commented on #4595
Sorry @sjpadgett. Ignoring theme related comments from users has become matter of habit over the years. Since themes don't add value to the operations, we have a small common css that supplements native bootstrap theme which gets included at end of the cascade. Anyone having problem with colors is free to use [specialized facilities](https://pikock.github.io/bootstrap-magic/app/index.html#!/editor

[2021-08-18 18:03] bradymiller commented on #4163
The production demos will now only use light :)
https://github.com/openemr/demo_farm_openemr/commit/faab91201708c2e585fa986915ef99d898c1ae4f

[2021-08-18 18:18] #4593 closed

[2021-08-18 23:12] adunsulag commented on #4585
@bradymiller Can you do another snapshot of the MU3 tonight?  I've entered a bunch of data I'd rather not lose.  I thought I'd get all the data in today, but I'm still working through some wierdness with procedures right now.  If I need another snapshot would you be able to do it in the evening on Thursday?  I think the demos reset at Midnight so you could do it whenever you're available.

[2021-08-18 23:55] bradymiller commented on #4585
hi @adunsulag ,
I can stop the demo from getting reset (just let me know which one of the four you are using). I never thought of doing a snapshot directly from the demo, but that's a good idea, and will try to get that mechanism up and working this evening.

[2021-08-19 00:12] adunsulag commented on #4585
@bradymiller I'm using the https://edu.openemr.io/openemr/ demo.  I thought you were doing the snapshots from the demo.  Is there a better way to update the data?

[2021-08-19 02:25] bradymiller commented on #4585
@adunsulag , I turned off the reset in that specific demo, so it won't restart at midnight (will buy me some time to get a save snapshot mechanism in the demo farm, which will be really cool to have). In this case, the best way is definitely using the demo to update the demo (i created the initial snapshot in the easy dev docker environment).

[2021-08-19 06:29] bradymiller commented on #4585
@adunsulag ,
Got a snapshot mechanism going and just made a snapshot. For now (just to test the demo snapshot creation mechanism over next day) am doing the following
- https://edu.openemr.io/openemr/ will not be reset, so will keep your changes
- https://edu.openemr.io/a/openemr/ and https://edu.openemr.io/b/openemr/ will use the snapshot that I just created (should be the same as the above demo

[2021-08-19 14:25] adunsulag opened #4597 "Vitals form pedatric fields should be based on encounter date not patient's current age."
Found what I believe is a bug in the patients vitals form.  The pediatric fields and growth charts that are shown / hidden are based on the patient's current age (calculated from the DOB) and NOT the age the patient was at when the encounter was created.  As patients grow older (increase in age for ESL people) in the system their old historical data will not be visible from the vitals form once th

[2021-08-19 15:55] mdsupport opened #4598 "Eliminate all user* fields in new installations"
Since the layouts have permitted addition (and problematically the deletion) of fields for a while, the user* fields are no longer useful. To make matters worse, they increase max size of the record computed by db engines without any apparent benefit and cause schema issues. These generic fields are purely bad practice to encourage and propagate in future installations.

Eliminating these from exi

[2021-08-19 16:06] mdsupport commented on #4598
On a related note, also suggest Eye Exam form should require normal optional form steps starting with DB install of the eye related tables. It should also include document categories that currently need to be deleted by most installations as not relevant.

[2021-08-19 18:56] sunsetsystems commented on #4598
Agree user* can be removed from database.sql. Would be possible to also remove most from existing sites with a bit of programming... i.e. test if not active in any layouts and not containing any non-empty data.