[2018-03-29 23:14] stephenwaite commented on #1101
after a successful login

`2018-03-29 23:09 | other-insert | other |   |   |   | 0 | 1 | INSERT INTO product_registration (registration_id, email, opt_out) VALUES (?, ?, ?) ('null','','1')
-- | -- | -- | -- | -- | -- | -- | -- | --

[2018-03-29 23:14] stephenwaite commented on #1101
`2018-03-29 23:09 | login | login | admin |   | Default |   | 1 | success: 172.18.0.16
-- | -- | -- | -- | -- | -- | -- | -- | --

[2018-03-29 23:16] stephenwaite commented on #1101
so maybe there should be a coreLogin.css?

[2018-03-30 17:52] stephenwaite commented on #1101
was kind of asking seriously but realize it's a pretty juvenile question

[2018-04-02 04:11] bradymiller opened #1535 "Support for MFA login"
Support for MFA login

[2018-04-04 13:16] sssopen commented on #1409
I can't reproduce this issue. Added screenshots on the forum:
https://community.open-emr.org/t/report-bug/9594/4

[2018-04-04 15:09] stephenwaite commented on #1409
hi @sssopen , it looks like it was done with the soap note form

[2018-04-04 15:41] sssopen commented on #1409
Hi stephenwaite,
I used SOAP notes in the encounters and still can't reproduce. Added new screenshots on the forum.

[2018-04-04 19:46] sssopen commented on #1409
Thanks. I found it and was able to recreate the issue. I will look into it.

[2018-04-05 01:54] sssopen commented on #1409
Hello experts,

This seems like a design issue. Encounters are created with the user specified date so I can create an encounter with the date 04/08/18 (current date 04/04/18). However, when we add a note (ex. SOAP) to an encounter we create the note with the current timestamp (04/04/18). When we pull the encounters and notes for the report with the below SQL, the resultset is giving the data the

[2018-04-05 02:13] sssopen commented on #1409
Taking another look at it and the code, the data retrieved should work. Seems like there is some mess in the code.

[2018-04-06 01:20] mdsupport opened #1539 "Overlap of provider and patient blocks in calendar day view"
Has anyone had issues in calendar day view if patient appointment overlaps with provider 'IN'?  Script does not seem to consider provider entries in overlapping appointments check.

Here is the display from [demo](http://six.openemr.io/openemr/)

![image](https://user-images.githubusercontent.com/399047/38399009-87709404-38fc-11e8-8cd3-ded407327da9.png)

On hover, provider entry pops to top making

[2018-04-06 02:34] sssopen commented on #1409
Okay. I think I found the issue. Code is expecting to have records in particular order. "New Patient Encounter" record come before the other notes in that encounter. However that not happening if you look at the SQL result:

![image](https://user-images.githubusercontent.com/5135725/38400798-f400c792-391f-11e8-93ca-a9fb33af712c.png)

Based on that resultset, the report output will be:

![image](ht

[2018-04-06 14:05] stephenwaite commented on #752
looks like this has been fixed since unable to reproduce

[2018-04-06 14:08] stephenwaite opened #1541 "user's default facility dropdown"
after adding a second facility am unable to select it for the user's default facility

user = physician or clinician (might want to think adding a type of provider or practitioner for those sweet nurses)

[2018-04-06 15:06] stephenwaite commented on #1409
really nice research and explanation @sssopen , thank you
believe @bradymiller had suggested that we add a new feature that would enable a user to priortize the forms and how they appear in the encounter view and this could probably be extended to the report too

[2018-04-06 16:14] bradymiller commented on #752
I don't think this code every got into the codebase?? @robertdown , do we need to keep this issue open?

[2018-04-06 16:30] bradymiller commented on #1409
hi @sssopen ,

We should make sure that we don't reintroduce another bug that was fixed previously here:
https://github.com/openemr/openemr/pull/1015

-brady

[2018-04-06 19:40] sssopen commented on #1409
Hi Brady,
Thanks for letting me know about #1015. I double checked. Seems like #1015 didn't fix completely fixed the issue. If you look at the my above example closely, problem was still there that scenario.
I tested a few different scenarios and my fix seems to be working fine.

Let me know if I should push my change.

[2018-04-10 13:31] generosocarbone opened #1542 "Post-installation script error 255"
I followed the installation guide for [PHP7](https://www.open-emr.org/wiki/index.php/OpenEMR_5.0.0_Ubuntu-Debian_Package_Installation_with_PHP7)
the error is what I get using the CLI installation.

I've also run the 'sudo apt-get install -f' line in case of error.
Lately, the pair 'admin' 'pass' for the login doesn't work
My environment
Ubuntu 17.10
Php 7.1.15
Mysql 5.7.14
Openemr 5.0.0-2

[2018-04-14 12:24] bradymiller commented on #1542
hi @generosocarbone ,
Sorry for the delayed reply. My guess here is that Ubuntu 17.10 is using PHP 7.1 which is not compatible with OpenEMR 5.0.0.
(note OpenEMR 5.0.1 will be compatible with PHP 7.1/7.2, which will be released in near future)

[2018-04-14 12:27] bradymiller commented on #1476
Received update from ZH that they are working on this fix.

[2018-04-14 12:28] bradymiller commented on #1452
ping to keep testing, testing, testing the PHP 7.2 demo linked above

[2018-04-14 12:31] bradymiller commented on #1114
@jesdynf ,
As is obvious, never got to around to completing this. I noted that there were discussions that we may not need this (ie. aws supporting encryption over line). Just confirming this (would then make this very low priority).
thanks,
-brady

[2018-04-14 12:33] bradymiller opened #1551 "Graphical Menu Builder"
Add support for a graphical menu builder.

[2018-04-14 15:49] generosocarbone commented on #1542
I though it was this kind of issue so I downgraded my php version and all worked well. I just forgot to close the thread.

[2018-04-14 15:49] #1542 closed

[2018-04-14 16:06] jesdynf commented on #1114
Well, yes and no.

1) Although EFS is now technically compliant, it isn't legally compliant -- Amazon hasn't made EFS a HIPAA-eligible service (one for which they will sign a BAA), and they're so closed-mouthed about their roadmap we'll never know when or if that'll change. Sure, it /should/, but...
2) Even assuming Amazon changes their tune tomorrow, this is still critical for anybody who wants t

[2018-04-14 23:15] bradymiller commented on #1521
@mdsupport , thanks for this report and fix!
@ophthal just brought in a commit with your fix here:
https://github.com/openemr/openemr/commit/fe7c0d77e4fc21a090ab26c2ecde84bfcc04581c

Gonna close this issue now :)

[2018-04-14 23:15] #1521 closed

[2018-04-15 04:50] MatthewVita commented on #1452
Okay @bradymiller, I'll do a pass-through now.

[2018-04-15 04:59] MatthewVita commented on #1452
@bradymiller (Sorry for the delay - DockerHub went down) - is this here https://hub.docker.com/r/openemr/openemr/tags/ ?

[2018-04-15 05:00] MatthewVita commented on #1452
I'd rather test it on my own box

[2018-04-15 05:05] bradymiller commented on #1452
@MatthewVita ,
You would need to use a build of alpine:edge (this is using php 7.2 now). Could just place this in the dockerbuild that you do and see what happens. The above demo link uses a docker build of beta ubuntu 18.04 which uses php 7.2,

[2018-04-15 05:07] bradymiller commented on #1452
btw, the 18.04 demo docker farm build is here, but note it's specially made for the docker farm:
https://hub.docker.com/r/bradymiller/pre-openemr/

[2018-04-15 06:45] MatthewVita commented on #1452
@bradymiller hmm...

[code]

('asdf' is the 18.04 image I built with `docker build -t asdf .`

[2018-04-15 06:47] MatthewVita commented on #1452
Oh, it must be `change_dir "/home/openemr/git/openemr_repo"` because this code doesn't pull down the program

[2018-04-15 07:09] matrix-amiel opened #1552 "Permissions of Add / edit event screen"
Hi.

We have found a serious problem with the permissions in the add event popup.
If you are user without permissions to add or edit event for patient (`acl_check('patients', 'appt'`), you get access denied in this popup.  In this case you can't create events in the providers tabs and the user is blocked for use in his calendar..

Did I miss something?

Thanks.
Amiel

[2018-04-15 07:09] bradymiller commented on #1452
I would not try to use that docker which is custom made for the demo farm. I do have plans in the future to support local use (have ambitious plans where can run all the dockers at the same time on different ports off same local development environment, but have not done that yet, and it take substantial work in https://github.com/openemr/demo_farm_openemr/blob/master/demo_build.sh )

Are you able

[2018-04-15 07:34] bradymiller commented on #1552
I guess we need to define what that ACO should cover:
https://www.open-emr.org/wiki/index.php/Access_Controls_Listing#Appointments_.28write.2Cwsome_optional.29_.28appt.29

Quick code search ('acl_check.*appt' in phpstorm) appears that it broadly covers any access to the calendar. So, anybody who wishes to even see a calendar link in the menu needs to have this aco.

[2018-04-15 07:54] bradymiller commented on #1114
thanks for the info. will prioritize this (hopefully get it done after the 5.0.1 release).

[2018-04-15 09:40] matrix-amiel commented on #1552
Ok. I understand.
However I think it right to create 3 different permissions for every tab in the popup, but it's really not easy job..

Thanks.

[2018-04-16 02:04] sssopen commented on #1409
Hi Brady
Just saw your messages. Yes, I am interested working on menu customization features. Thanks for checking with me.

[2018-04-17 09:12] bradymiller commented on #1409
@sssopen , just sent you an email :)

[2018-04-17 16:24] sjpadgett commented on #1490
This probably needs a test for a current session before calling any session init items in Globals. Script's can't fix because Globals still need to be called so, Globals it is...

[2018-04-18 06:30] MatthewVita commented on #1452
Building...

<img width="284" alt="screen shot 2018-04-17 at 11 30 30 pm" src="https://user-images.githubusercontent.com/1715206/38915108-5b1a5576-4297-11e8-851d-b928ab2c5549.png">

[2018-04-18 06:32] MatthewVita commented on #1452
Once done, I'm going to do a smoke test and have `docker exec -it openemr_local_development tail -f /var/log/apache2/error.log` running to see if anything pops up!

[2018-04-18 06:33] MatthewVita commented on #1452
Ouch...

[code]

[2018-04-18 06:36] MatthewVita commented on #1452
Added

[code]

Seems to be running better now..

[2018-04-18 06:38] MatthewVita commented on #1452
Ouch...

[code]

[2018-04-18 06:39] MatthewVita commented on #1452
What could this be?

[2018-04-18 07:53] bradymiller commented on #1452
Try to remove the ' && ln -s /usr/bin/php7 /usr/bin/php' stuff since newer versions of alpine do not need this and since the file exists maybe trying to create the link is breaking something

[2018-04-18 09:42] bradymiller commented on #1511
@sunsetsystems and @mdsupport ,
Hopefully we can get a fix for this prior to 5.0.1 release this weekend :)

[2018-04-18 10:00] sjpadgett commented on #1452
The default/multi site documents directories permissions are rewritten without write bit on docker restart in version i'm using for Jit(prior to Brady update for xml reader). Why is this? Can this be fixed here?

[2018-04-18 10:03] sunsetsystems commented on #1511
This was (and still is) possible with the frames layout as well, so not really a new bug. Rather a design issue that was never addressed. And as @mdsupport notes, some forms can legitimately have multiple instances in the same encounter.

So yes it deserves a solution, but we've lived with it for a long time without much complaining.

[2018-04-18 15:13] bradymiller commented on #1511
hi @sunsetsystems ,  I never recall being able to easily open more than 1 fee sheet.

[2018-04-18 15:26] sunsetsystems commented on #1511
Not so easily, but in the frames layout what you could do is close the bottom frame, then go to the current encounter which will then open in the top frame, then you can open a duplicate of whatever form is in the bottom frame.

I guess what's wanted is a mechanism that a form can use to see if it's already open somewhere... likely a javascript function that caters to both layouts. @mdsupport is t

[2018-04-18 15:35] sjpadgett commented on #1511
May be easiest to just disable the menu item for the form on form open instead of having to do any user notifications.

[2018-04-18 17:43] bradymiller commented on #1476
fixed by @sjpadgett !!
needs some testing, so gonna leave this issue active for a little longer

[2018-04-18 18:26] bradymiller opened #1560 "PHP 7.2 Deprecated in Care Coordination module"
[code]

[2018-04-18 21:50] sunsetsystems opened #1561 "LOINC Codes?"
Looks like I need to load LOINC codes for a client. Is a loader for this of interest to the community?

[2018-04-18 21:52] sjpadgett commented on #1561
CCDA and FHIR use LOINC

[2018-04-18 21:54] sunsetsystems commented on #1561
OK are they already loading or otherwise implementing a table of them?

[2018-04-18 22:10] sjpadgett commented on #1561
Mostly embedded in code for various templates and code translations that mostly are not required so, really not needed for above.

[2018-04-18 23:14] sunsetsystems commented on #1561
Thanks Jerry.

[2018-04-19 06:11] MatthewVita commented on #1452
@bradymiller

Okay, smoke testing is done! Thanks for the support with the Dockerfile.

My smoke test passed - there is a noticeable slowness with the system nowadays, but oh well... (security > all else)

I just ran `docker cp 84350dbe85c2:/var/log/apache2/error.log ~/Desktop` and here is the attachment:

[2018-04-19 06:12] MatthewVita commented on #1452
(there are some things in there about scalar-whatchamacallits...)

[2018-04-19 07:13] bradymiller commented on #1452
Thanks @MatthewVita ,

Looks great (already have a ticket for the php warning's in the eye form)
btw, as an aside, I just added a Alpine Edge demo docker to the farm:
https://www.open-emr.org/wiki/index.php/Development_Demo#Alternate_Demo_.28Alpine_Edge_-_uses_php_7.2.29
(the demo farm is now housing a mere 40 demos :) )

-brady

[2018-04-19 07:14] #1452 closed

[2018-04-19 07:14] bradymiller commented on #1476
testing well

[2018-04-19 07:14] #1476 closed

[2018-04-19 07:19] bradymiller opened #1563 "PHP 7.2 in Alpine Edge with warning on installation"
[code]

[2018-04-19 22:10] bradymiller commented on #1563
This is odd since this was already fixed for PHP 7.2 in Ubuntu 18.04 (and not showing there). However, shows in installation in Alpine Edge (using php 7.2). Will move the milestone to 5.0.2 since this version of Alpine is not used in 5.0.1 anyways.

[2018-04-21 13:11] stephenwaite opened #1568 "view event in log storing pid in comments not pid column"
can see this on this demo under admin->other->logs
https://one.openemr.io/a/openemr/interface/login/login.php?site=default

after choosing phil belford the entry in the log shows

-- | -- | -- | -- | -- | -- | -- | -- | --
2018-04-21 13:09 | view | view | admin |   | Default |   | 1 | 1
-- | -- | -- | -- | -- | -- | -- | -- | --

[2018-04-21 15:56] #1568 closed

[2018-04-23 06:13] sjpadgett opened #1573 "Alpine Administration->Backup Fails"
Docker package and Alpine 3.7 demo on PHP 7.0 and 7.1 fails at download with 500 error i.e can't find file. I know file exist and has permissions.  Might be a setting i'm not aware of.

[2018-04-23 15:12] bradymiller opened #1574 "calendar date localization bug"
On the calendar time slots and the add appt popup, it is hardcoded for am/pm and no option for 24 hour time.

[2018-04-23 15:15] bradymiller commented on #1573
Anything showing in the php error log?

[2018-04-24 11:24] HITECHPR opened #1575 "Insurance and Pharmacy Address Conflict 5.01"
Try these two scenarios after Activating WENO in Globals

First Scenario
1) Import some pharmacies (That works fine)
2) Go to Administration->Practice->Insurance Companies and add a Insurance Company.
Insurance Company is Duplicated..

Second Scenario
1) Go to Administration->Practice->Insurance Companies and add a Insurance Company (That works fine)
2) Got to Administration->Globals->Other->WENO

[2018-04-25 02:56] sjpadgett opened #1576 "CCM $this when not in object context fatal errors."
Still numerous instant's of statically calling non static methods where exceptions are thrown by CCM. Really can't get away with turning off reporting in most cases so, these will need to be resolved on a case by case. Currently a show stopper in CCDA Import Review and Approve.

[2018-04-25 03:04] sjpadgett opened #1577 "NewCrop eRx PHP Fatal error: Uncaught ArgumentCountError PHP 7+"
Uncaught ArgumentCountError: Too few arguments to function eRxXMLBuilder::trimData().
Also an issue in other work flows scattered about in other modules.

[2018-04-25 08:15] bradymiller commented on #1573
Just fixed the main dockers by increasing memory in php.ini. Next up is to fix the demo farm alpine dockers.

[2018-04-26 02:14] Gloomywind opened #1579 "OpenEMR- (latest version) - SQL Injection Issue"
I found a security issue:interface\super\edit_list.php in OpenEMR latest version and
earlier allows remote authenticated users to execute arbitrary SQL
commands via the newlistname parameter

  details:
     Affected code:
            sqlInsert("INSERT INTO list_options ( " .
            "list_id, option_id, title, seq, is_default, option_value " .
             ") VALUES ( " .
             "'lists

[2018-04-26 18:10] mdsupport commented on #1511
We are looking at initializing menu with encounter summary and empty iframes for all existing forms followed by other links.  The forms also get displayed in specific order (based on one of our older PRs).  The content gets populated when a link/tab is clicked so loading is not delayed.  When a new form is initialized, it will be next to existing copy to make user aware that a duplicate exists.  S

[2018-04-26 18:41] sunsetsystems commented on #1511
With the introduction of the Source attribute for layout fields, it's more generally true that forms can affect the content of other forms.

[2018-04-26 20:09] stephenwaite opened #1580 "cannot print extension .txt document through patient reports"
looks like imagemagick can't convert .txt to .jpg
prob need to add another if here
https://github.com/openemr/openemr/blob/master/interface/patient_file/report/custom_report.php#L659

[2018-04-26 20:33] stephenwaite commented on #1580
but then how do you safely dump a bunch of text into the viewport or is there a way to use the convert utility?

[2018-04-26 21:18] stephenwaite commented on #1580
will try readfile()

[2018-04-27 09:15] bradymiller commented on #1575
tagging @juggernautsei on this

[2018-04-27 09:53] juggernautsei commented on #1575
I'll take a look at this and see if I can remember what I did. I know there were some table changes after creating the import that is most likely the issue. I'll find out for sure.

[2018-04-27 15:10] bradymiller commented on #1580
Code looks good (and I am assuming it tests well for you). Will bring it into the codebase and also next 5.0.1 patch. thanks for the fix! -brady

[2018-04-27 15:11] #1580 closed

[2018-04-27 20:04] bradymiller commented on #1579
fixed here and will be in next 5.0.1 patch (to be released soon):
https://github.com/openemr/openemr/commit/2a5dd0601e1f616251006d7471997ecd7aaf9651

[2018-04-27 20:04] #1579 closed

[2018-04-27 20:05] bradymiller commented on #1580
hi @stephen-smith ,
This looks really nice. I recommend incorporating your same method in the document viewer for text files (right now, the user needs to download text files to look at them).
-brady

[2018-04-27 20:25] bradymiller commented on #1580
yes, i did. but great to hear from you @stephen-smith ! I hope things are going well.

[2018-04-27 20:31] stephenwaite commented on #1580
ok, will try to push something, thanks @bradymiller , that's the stephen smith from circa v2.x?  cool

[2018-04-29 00:51] #650 closed

[2018-04-29 00:51] bradymiller opened #1587 "OpenEMR 5.0.1 Patches"
Going to track/announce patch releases on this item for OpenEMR 5.0.1

[2018-04-29 00:51] bradymiller commented on #1587
The 1st patch for OpenEMR 5.0.1 has been released:
https://www.open-emr.org/wiki/index.php/OpenEMR_Patches

The patch includes security fixes and a patient summary menu fix:
*Patient summary menu fixes - reported by luisuriarte, fixed by Brady Miller
*Security fixes - reported by Gloomywind, fixed by Brady
*Fix display of text files in patient report - fixed by Stephen Waite

[2018-05-04 01:08] OzairP opened #1600 "Move away from Bower"
Bower is deprecated, need to move over to `npm`

https://bower.io/blog/

[2018-05-04 01:09] OzairP opened #1601 "Remove Vendor files"
Vendor files should not be commited into git. Lock files are already in git and is enough to affirm consistency of dependancies

https://getcomposer.org/doc/faqs/should-i-commit-the-dependencies-in-my-vendor-directory.md

[2018-05-04 05:29] bradymiller commented on #1511
Looks like this issue was related to exposing the following bug (maybe), so am bumping this bug to get fixed sooner:
https://community.open-emr.org/t/misc-billing-options-bug-warning-data-loss-potential/10031

[2018-05-04 05:31] bradymiller opened #1602 "Need to update apache syntax"
See here for issue and planned fix:
https://community.open-emr.org/t/apache-2-4-directory-security-changes/10041

[2018-05-04 05:34] bradymiller commented on #1600
Hi @OzairP ,
It's great to see somebody interested in this stuff. The bower "project" in openemr was started to centralize and organize assets (prior to this, they were scattered all over the database). Would be great to migrate away from bower; is this something you are willing to help us with. Here's the wiki page that tracks the bower "project":
https://www.open-emr.org/wiki/index.php/Bower
tha

[2018-05-04 05:39] bradymiller commented on #1601
Hi @OzairP ,

The community is still learning how to best use composer. We decided to populate vendor until:
1. Developers were comfortable with composer
2. We have a bulletproof and streamlined build process when build openemr packages for production

Check out this wiki page tracking the Composer project (as with bower away project, getting somebody interested in working on this, would be awesom

[2018-05-05 11:36] ophthal commented on #284
I'm on the latest codebase.  I never really restart my computer or browser.  After waking it from a sleep, with the browser window opened to a working session of openEMR that has presumably timed out, I get this “Site id is missing” white page.  It is supposed to kick me to the login screen right,  maybe with a message "Your session timed out"?

[2018-05-05 12:06] ophthal commented on #284
I put up a PR which I am testing.

https://github.com/openemr/openemr/pull/1605

I'm not sure why @MDSupport limited the scope of this redirect leaving the die() message for the rest.
Again I need sage advice from the programmers to know if this is going to work.
I'll see how it works over time in my practice and let you know.

[2018-05-07 11:48] ophthal commented on #284
Will  need to check this in frames version first. It works in tabs.

[2018-05-07 16:15] bradymiller commented on #1587
The 2nd patch for OpenEMR 5.0.1 has been released:
https://www.open-emr.org/wiki/index.php/OpenEMR_Patches

The patch includes the following new fixes:
*Fix for prepayment in payment validation - reported by Sherwin Gaddis, fixed by Jerry Padgett
*Fix for encounter history - reported by Roland, fixed by Stephen Waite
*Fix to show text files in document viewer - fixed by Stephen Waite
*Fix in fax m

[2018-05-12 18:41] bradymiller commented on #1600
per 5/12/18 conference call, will go to npm
(and confirmed during conference call that npm can support different directories, and different versions of same package)

[2018-05-12 18:52] sjpadgett commented on #1600
And run script.

[2018-05-12 19:02] bradymiller commented on #1600
just so I don't forget:
I am planning to slowly look into this with @d3sandoval functioning as an advisor(this is why we are both assigned to this). If anybody else wishes to take this on, though, I would be happy to oblige :)

[2018-05-12 21:01] d3sandoval commented on #1600
Assuming that packages like jQuery and qtip are the reasons why we can't have just one version of a package? https://github.com/openemr/openemr/tree/master/public/assets

I've used this package to install specific versions and custom directories: https://github.com/scott113341/npm-install-version

This matches our use-case better than's yarn's alias feature: https://mobile.twitter.com/sebmck/statu

[2018-05-12 21:34] robertdown commented on #752
Hmmm, I'll look into it

[2018-05-12 21:38] robertdown commented on #1600
Interesting @d3sandoval. Would love to drop multi-version requirements and simplify our vendor tree

[2018-05-13 01:13] bradymiller commented on #1601
@robertdown , just checking that you meant to close this issue :)

[2018-05-13 06:50] robertdown commented on #1601
Yes, intentionally closed

[2018-05-13 08:01] bradymiller commented on #1601
@robertdown ,
This is something that will be tackled in the future, so prob good to keep it open. Doing it for the next 5.0.2 release would be to early. I could assign this to a 5.0.3 milestone (ie. something to do in future, but not for the next release). Thoughts?
-brady

[2018-05-13 23:30] robertdown commented on #1601
We would need to have documentation for developers established prior to doing this. I’m ok with a target of 5.0.3. But I thought there was some additional reason we were requiring the vendor files

[2018-05-14 07:02] bradymiller commented on #1601
Yep, this is definitely more of a long term goal since there are many other things to focus on and this will require developer building and build pipelines etc. Will change it to 5.0.3 which basically means very low priority.

[2018-05-14 13:12] bradymiller opened #1632 "OpenEMR does not work with mysql-8"
See here for details:
https://community.open-emr.org/t/openemr-5-0-1-installation/10122/3

[2018-05-14 17:16] OzairP commented on #1601
Moving over should not be much of a hassle as long as no one has edited the vendor files. I believe that if PHP developers are smart enough to work on a system like this, I can garentee that they understand how Composer works and they don't need prior documentation to understand it.

Additionally you can setup scripts to automatically `composer install` on git updates.

[2018-05-14 20:51] robertdown commented on #1535
Clearing the milestone as I don’t think it’s feasible for 5.0.2. _maybe_ 503 if we get an experienced dev on the task soon

[2018-05-14 21:05] #652 closed

[2018-05-15 02:12] bradymiller commented on #1535
sounds good; bumped it to 5.0.3

[2018-05-15 02:31] kofiav commented on #1364
Docker implementation should include a reverse proxy running in front of Orthanc to enable CORS (see http://book.orthanc-server.com/faq/same-origin.html).

[2018-05-16 04:14] MatthewVita commented on #1600
Super excited for npm!

[2018-05-16 05:43] bradymiller commented on #1632
Beginning of a fix proposal is here:
https://github.com/openemr/openemr/pull/1639
(still needs testing; also need to confirm MySQL SSL and connection pooling is still working)

[2018-05-16 06:02] bradymiller commented on #1632
screenshot to basically show connection pooling is working:
![image](https://user-images.githubusercontent.com/278968/40099238-0ad7db48-5894-11e8-8289-677a9ba867c1.png)

[2018-05-16 15:11] robertdown opened #1640 "Export LBV Forms from UI"
Create an option in the admin UI to easily export LBV forms so they are not lost when upgrading

[2018-05-16 15:14] santiagosemhan opened #1641 "Usernames with dots."
When you want to edit ACL's in user that have's dots in username, group lists are not showed.
For example:
ids generated with "santiago.semhan" cannot be selected with jquery. But, you can use \\ chars escapes.

Bug: $('#santiago.semhan')
Fix: $('#santiago\\.semhan')

File with bug: adminacl.php
function: generic_click

Regards.

[2018-05-16 16:16] robertdown commented on #1600
In the past we've basically `grep'd` the code looking for the files that _do_ use an old version, bump it and manually test. It's exhausting, but we don't have proper UI testing at the moment. 🤷‍♂️

[2018-05-16 22:59] bradymiller commented on #1600
yep, elbow grease :)
Here's on ongoing issue to deal with jquery which is where most of the duplicate versions are associated with:
https://github.com/openemr/openemr/issues/842

[2018-05-16 23:02] bradymiller commented on #1640
I think you actually need to have them go through the upgrade to continue working (so, this may mean there is a potential bug in upgrade process).

[2018-05-17 00:58] sjpadgett commented on #842
Recommend running a compatibility version in report dev mode which will log to the console incompatibilities. Would need to run a version to get to 2.2 then one to get to 3+.

[2018-05-17 01:04] bradymiller commented on #1632
@jesdynf , MySQL SSL works :)

[2018-05-17 20:25] bradymiller commented on #1364
Just brought in a very rudimentary orthanc docker into the development docker environment here:
https://github.com/openemr/openemr/pull/1642

[2018-05-17 21:14] robertdown commented on #1640
Thanks @sunsetsystems

[2018-05-18 07:13] bradymiller commented on #1641
thanks for the report @santiagosemhan
I also confirmed this bug.
Guessing just need to leverage the prior solution we did to fix spaces in the usernames:
https://github.com/openemr/openemr/commit/3cdccbd1c12aae1b9d2f4ec013b69872120e1eab

[2018-05-18 07:25] bradymiller commented on #1632
the above fix was brought into codebase, so closing this issue

[2018-05-18 07:25] #1632 closed

[2018-05-18 10:05] santiagosemhan commented on #1641
Brady, i fixed bug with following regex:

[code]

[2018-05-18 13:38] santiagosemhan commented on #1641
Hi @bradymiller, you can commit for me.
My info:
`Santiago Semhan <santiagosemhan@gmail.com>`

[2018-05-18 18:57] sjpadgett opened #1644 "Getting abruptly logged out or cross patient data."
From forum https://community.open-emr.org/t/others-getting-abruptly-logged-out/10161.
Appears to happen when same UA is used for multiple windows/browser tabs. I suspect session not being restored or a cookie path issue. Hopefully some will help with any patterns this issue seems to show when issue is encountered.

[2018-05-18 19:58] sjpadgett commented on #1644
Just so all know that this is a bug with session cookies and easily recreated. Just have to figure out how to fix. Not an easy one...

[2018-05-18 21:52] sjpadgett commented on #1644
If more than one session is created within same UA then when globals is called(in any window/tab), session start will grab whatever is last started session, usually the first session created and writes that session back thus writing wrong session for that OpenEMR instance. Phew. This is also related to PHP7.2 session issues seen via portal and zend. Don't think this is restoreSession issue but glo

[2018-05-19 00:34] bradymiller commented on #1644
Hi @sjpadgett ,
Do you think this a bug that we've had in prior versions or new to 5.0.1?
-brady

[2018-05-19 00:55] sjpadgett commented on #1644
Not 100% sure but I recall looking at this issue back when Matrix needed to add a cookie path to ensure that cookies aren't shared across domains. Also, I recall scratching my head on this in 4.2. Makes sense that when restore session was added it merely ensured that sessions would refresh however, with the same cookie path for multiple cookies and not validating session, then php will only know t

[2018-05-19 07:00] bradymiller commented on #1641
Done :)
https://github.com/openemr/openemr/commit/6506078ba4bd851a4c670135657e57eefcaf730b
Thanks for the fix @santiagosemhan !
-brady

[2018-05-19 07:00] #1641 closed

[2018-05-21 00:19] bradymiller commented on #1600
Sounds great (agree to get in 1651 in first, though):
Regarding committing vendor code, for the bower stuff, would be a good idea until we have a robust, production build strategy worked out.

[2018-05-21 14:56] sjpadgett commented on #1644
@bradymiller Remember when I added session validation for Portal to prevent Portal sharing session when both OpenEMR/Portal Dashboard and Portal are using the same User Agent. I'm thinking we need to do the same to prevent more than one OpenEMR instance being opened on same UA.
We don't seem to get into as much trouble when a new tab is opened from existing session(New Window flag) as opposed to o

[2018-05-21 18:40] stephenwaite opened #1653 "provider in office calendar event duration bug"
reported on the forum, https://community.open-emr.org/t/the-provider-is-marked-all-day-on-the-calendar/10179?u=stephenwaite

[2018-05-22 07:11] bradymiller commented on #1644
hi @sjpadgett ,
Have been meaning to start also working on this critical issue, but stuff keeps coming up :)
Hopefully we don't need to do too much. As I recall the last time this sort of issue came up, was able to fix this with minimal code. Although, you may be right, and this time will take more restrictions.

[2018-05-22 07:27] bradymiller commented on #1114
Ongoing work on this is in this PR:
https://github.com/openemr/openemr/pull/1655
( @jesdynf ; the code in this PR is still not working yet, but I think I am getting close :) )

[2018-05-22 12:56] sjpadgett commented on #1644
Thanks @bradymiller Besides yourself and @sunsetsystems Who else do you know are PHP guru's that maybe could help me out here. I don't know how you keep up with everything you are involved in but i'll see this through if I can get a little guidance from some whom are more experienced with bare knuckled PHP:)
Somehow we have to nail the login to its session.

[2018-05-22 13:32] stephenwaite commented on #1653
hi @bradymiller , it's the duration in minutes that's having no effect on the appointment time

[2018-05-22 14:25] bradymiller commented on #1644
when in doubt, make an "expedited" list :)
http://www.bradymd.com/todo/
(my plan is to test and look at this in detail this evening)
(goal is to have a patch this weekend that deals with this and mysql8 support)

[2018-05-22 23:53] stephenwaite commented on #1644
this was an earlier report of the bug https://community.open-emr.org/t/soap-nation-note-saved-to-other-patient/10049/6?u=stephenwaite

which believe shows it is in 5.0.0(x)

[2018-05-24 07:13] bradymiller commented on #1644
See here for some fixes:
https://github.com/openemr/openemr/pull/1659

[2018-05-24 07:20] bradymiller opened #1660 "recent mysql8 changes causes setup bug"
This was reported by @zbig01 .
The setup script in development codebase will break if the mysql user already exists. So, we need to first check to see if the mysql user exists before trying to create a new mysql user.

[2018-05-25 02:54] robertdown opened #1661 "Undefined index: basePath in Header.php"
Did a fresh install and saw this:

[code]

Low priority, but I'll take a glance at it

[2018-05-25 04:08] #1661 closed

[2018-05-25 12:13] HITECHPR opened #1664 "IPad iOS 9.3.5 limited functionality 5.01"
Have tested the following so far:
No patient info at top.
History: Diagnosis Codes in Family
Patient Issues:  Cannot add or edit
Patient Summary: Clinical Reminder, Vitals, Labs and Recurrent never show up.
Cannot add edit appointment.
Patient Reports: Find
Can't go further as encounters are not even available for selecting.

[2018-05-25 21:00] bradymiller commented on #1644
fixes brought into codebase. hopefully this issue is now resolved (for now; am still discussing with Jerry in the PR regarding other ways we can really safeguard session leaking).

[2018-05-25 21:00] #1644 closed

[2018-05-25 21:03] bradymiller commented on #1660
Related PRs:
https://github.com/openemr/openemr/pull/1663
https://github.com/openemr/openemr/pull/1665

[2018-05-25 21:04] bradymiller commented on #1660
fix committed and will go in next 5.0.1 patch

[2018-05-25 21:04] #1660 closed

[2018-05-25 22:14] bradymiller opened #1666 "CAMOS form with sql escaping bugs"
see this forum for details:
https://community.open-emr.org/t/v5-0-1-2-camos-formatting-problems/10134

[2018-05-26 14:09] sjpadgett commented on #1644
@bradymiller I've pulled down your latest fixes and tried hard to break but was unable. Could I be wrong?:) My gut tells me this will come back or I don't understand session as well as I thought. Either case, great work. Thanks.

[2018-05-28 17:36] stephenwaite opened #1669 "awkward title: New Patient Encounter for every encounter in patient report"
seems like could just return Encounter instead of field name from form table

[2018-05-28 17:54] santiagosemhan opened #1670 "[Question] Api rest"
Is there a rest mechanism within openemr to perform integrations via third-party software?

[2018-05-28 18:24] stephenwaite opened #1671 "inactivate icd9 for new installs"
goal is to make it easy to use icd10 out of the gate instead of accessing lower entries in drop box selections

[2018-05-28 20:26] santiagosemhan commented on #1670
I was thinking about creating a Laravel Api based on phpfhir Libraries included in open emr.
So, mi idea is create a binding between laravel api features and open emr database as an inside project. May be, an api folder on root folder.

What do you think?

[2018-05-29 00:14] stephenwaite commented on #1670
you're out of my league :), some of the project admins would love to hear of your ideas though, maybe edit the title of this to include some of this detail and it will get the attention it deserves

[2018-05-29 00:15] stephenwaite commented on #1671
thanks for bringing it in @bradymiller

[2018-05-29 04:56] bradymiller commented on #1587
The 3rd patch for OpenEMR 5.0.1 has been released:
https://www.open-emr.org/wiki/index.php/OpenEMR_Patches

The patch includes the following new fixes:
*Session fixes - reported by htuck and cornutaurus, fixed by Brady Miller
*Backup download fix- reported by Jack Chan, fixed by Jerry Padgett
*Mysql 8 fixes - reported by Nick Igbinosa, fixed by Brady Miller and zbig01
*CCDA fixes - fixed by Jerry

[2018-06-04 03:46] bradymiller opened #1683 "patient photo at top left does not show if change patient's external id"
See this forum for details:
https://community.open-emr.org/t/patient-photos-not-appearing/10245

[2018-06-04 03:55] bradymiller commented on #1683
proposed fix here:
https://github.com/openemr/openemr/pull/1684

[2018-06-05 13:44] ram94638 commented on #465
Reconnecting as new user... ERROR. Check your login credentials. unable to connect to database as user:

I am facing this issue when openemr working on EC2 and database on RDS MySQL. Please help. What may issue?

[2018-06-06 03:05] bradymiller opened #1688 "styleguide issue for npm run build"
hi @d3sandoval and @zbig01 ,

Found another odd thing with `npm run build` in most recent codebase. I had to run it twice for it to work completely.
The first run, it compiled all the non-rtl css files.
Then on the second tun, it compiled the rtl css files.

-brady

[2018-06-07 05:54] zbig01 commented on #1688
Not a bug that is the way the gulpfile.js is written. It first complies the style_*.css files first and uses it to then compile the rtl files. This was causing the sourcemaps for these css files to be written before the rtl styles that were being appended. @d3sandoval  is working on a fix that will complie the rtl stylesheets from scss rather than the on the complied css files and thereby have the

[2018-06-07 06:27] bradymiller commented on #1688
Thanks for the explanation. Will wait patiently for the fix :)

[2018-06-07 06:30] bradymiller opened #1691 "modals/dialogues diverging"
@zbig01 and @sjpadgett ,

There was a large effort spent by @sjpadgett to centralize/standardize the dialogues (and to ensure they work in both frames and tabs ui). We now have some dialogues/modals by @zbig01 that are not using this mechanism. Does it make sense to get all these things using the same mechanism (and avoid the situation again that caused Jerry to need to standardize the dialogues i

[2018-06-07 20:14] zbig01 commented on #1691
Two things to consider with the help modals -
It uses the plain vanilla bootstrap modal with minimal customization if any. It is designed to display  an iframe . It therefore will work without any modification wherever the original page is displayed either in a frame on in another iframe as the tabs view documents are currently displayed. In other words it will not break any existing  code or docu

[2018-06-07 20:32] sjpadgett commented on #1691
What difference does tab specific or window specific have to do with anything? The idea is to move and use the entire view area, especially helps. Also, universal dialog is a bootstrap modal. Just as responsive as a fixed modal with any responsive size needed, plus dealing with iframes is taken care of along with ability to do callbacks and hook close events. Also, you can have title header and/or

[2018-06-08 08:32] bradymiller commented on #1683
fix confirmed and will go in next 5.0.1 patch

[2018-06-08 08:32] #1683 closed

[2018-06-09 13:40] sjpadgett opened #1694 "Fee Sheet alert and styling"
Adding an alert that additional code search is done with number found is counter productive to the user, especially when the populated pull down gives the search statistics. I promise billers will rebel. :) Also the styling looks very nice but the charges panel really needs to be fluid. The space is needed because that panel can get very busy looking on long code descriptions and/or with Instituti

[2018-06-10 22:10] bradymiller opened #1696 "full support for nginx/php-fpm"
See this forum for details:
https://community.open-emr.org/t/openemr-lemp-on-freebsd/10283/15

TODO:
- [ ] Incorporate pertinent instructions into setup.php when using nginx (vs apache); https://community.open-emr.org/t/openemr-lemp-on-freebsd/10283/15 ; the setup script will need to automatically query whether apache or nginx is being used and then deliver the correct instructions.
- [x] Get Modu

[2018-06-10 22:28] gutiersa commented on #1696
The administration module shows 404 by default. Nginx can be configured to
allow access freely, (but this is a security vulnerability as there is no password authentication for admin in openemr). For free access you can remove or (comment out) this block:
'''
location ~* ^/(admin|setup|acl_setup|acl_upgrade|sl_convert|sql_upgrade|gacl/setup|ippf_upgrade|sql_patch)\.php {
		auth_basic 				"Restrict

[2018-06-10 22:29] gutiersa commented on #1696
omg, formatting stuff again

[2018-06-10 22:30] gutiersa commented on #1696
" Use strategy in above step to get the new patient portal to work"

I'll get on it this week

[2018-06-10 22:41] gutiersa commented on #1696
" Full testing (For the development docker environment, I think I got them all, but some php dependencies may be missing: "

Yes, I do have all those PHP72 extensions.

[2018-06-10 23:04] bradymiller commented on #1696
@gutiersa ,

I think this issue "Get Administration->Modules to work (now shows 404 Not Found nginx/1.15.0)" stems from use of following .htaccess file in the Zend modules: https://github.com/openemr/openemr/blob/master/interface/modules/zend_modules/public/.htaccess
(note the new patient portal also does the same thing)

In the debian package I did actually also need to address this for apache si

[2018-06-10 23:06] gutiersa commented on #1696
It is not an issue at all. I designed it that way, look at my replies
*Sandragutierrezmd*

On Sun, Jun 10, 2018 at 7:04 PM Brady Miller <notifications@github.com>
wrote:

[2018-06-11 00:28] bradymiller commented on #1696
btw,
the "Administration->Backup is broken and shows" is likely not a problem for your setup since you likely have mysql installed on your os. This is something I will sort out on the development docker approach (I need to add mysql support to the php-fpm docker).

[2018-06-11 00:33] gutiersa commented on #1696
I see. I thought you meant admin.php
ok
Anything I can help with? Which is your database? I have a test server.
Or, what error are you getting?

On Sun, Jun 10, 2018 at 8:28 PM Brady Miller <notifications@github.com>
wrote:

[2018-06-11 00:46] bradymiller commented on #1696
hi @gutiersa ,
On your environment, what happens in OpenEMR when you go to Modules->Manage Modules?
-brady

[2018-06-11 01:17] gutiersa commented on #1696
where in globals?
I can send you the link. How can I get your email?
I don't have any patient data

On Sun, Jun 10, 2018 at 8:46 PM Brady Miller <notifications@github.com>
wrote:

[2018-06-11 01:18] gutiersa commented on #1696
nvm, got it
*Sandragutierrezmd*

On Sun, Jun 10, 2018 at 9:16 PM gutiersa . <gutiersa1@gmail.com> wrote:

[2018-06-11 01:34] gutiersa commented on #1696
@Brady Miller <openemr.community+1b8e081ad9dec4235178e88c75d03271@gmail.com>

well this file doesn't really exist in my version of openemr:
/interface\/modules\/zend_modules\/public\/Installer
there is  /interface\/modules\/zend_modules\/public\/js/installer, but not
../Installer

I can't find you in github. I forgot how to get to this thread, sorry

*Sandragutierrezmd*

On Sun, Jun 10, 2018 at 9:

[2018-06-11 01:42] gutiersa commented on #1696
@bradymiller
trying a backup gives me this message:

Dumping OpenEMR database...
"/usr/bin/mysqldump -u '011-user' -p'openeHr11thpas' -h 'localhost' --port='3306' --opt --quote-names -r /tmp/openemr_web_backup/emr_backup/openemr.sql 'openemr_011'" returned 127:

[2018-06-11 01:43] gutiersa commented on #1696
@bradymiller

event log backup gives this message:
"/usr/bin/mysqldump -u '011-user' -p'openeHr11thpas' -h 'localhost' --port='3306' --opt --quote-names -r /tmp/emr_eventlog_backup/eventlog_20180611_014311.sql 'openemr_011' --tables log_comment_encrypt_backup log_backup log_validator_backup" returned 127:

[2018-06-11 02:01] bradymiller commented on #1696
hi @gutiersa ,
For the backup log issue in the dev dockers, I just fixed this by including mysql support in the php-fpm docker(https://github.com/openemr/openemr/commit/2ef3d392f5578424750fa381887e8bc71e17b35e). In your case, mysql is already supported in your host, so guessing it may be the path to mysql /usr/bin/ that is wrong which you can set at Administration->Globals->Miscellaneous->Path to

[2018-06-11 02:01] gutiersa commented on #1696
@bradymiller
I need a reminder on these rewrite rules:

[code]
Is this just removing the js directory?
because nginx does not need this at all:

[code]
It is already taken care by:

[code]
which means try it as a file, try it as a directory if not go to the index page

[2018-06-11 02:03] gutiersa commented on #1696
@bradymiller
hmm, nginx already knows the path to mysql, but I will double check. Does openemr use environmental variables?

[2018-06-11 02:04] bradymiller commented on #1696
@gutiersa ,
The issue here is that, the php script is directly calling a command line command (which happens to be mysql in this case), so what php or nginx know won't help it.

And that apache rewrite stuff has always appeared to be gibberish to me :)

[2018-06-11 02:08] bradymiller commented on #1696
Regarding path for freebsd, maybe try:
/usr/local/bin/mysqldump
or
even just leave the path blank maybe

[2018-06-11 02:16] gutiersa commented on #1696
@bradymiller
the log backup worked fine, I added the paths in globals
but for backing up the directory I got this:
[code]

[2018-06-11 02:19] gutiersa commented on #1696
re:

Yes, but PHP knows better, it should use the environmental variables. I will try leaving it blank.

[2018-06-11 02:28] gutiersa commented on #1696
@bradymiller
re:
"And that apache rewrite stuff has always appeared to be gibberish to me"

Well, here is the problem with the modules:
nginx is looking for:
/interface/modules/zend_modules/public/Installer
but there is no such directory in OpenEMR. However, there is a lower case installer in the /interface/modules/zend_modules/public/js directory.

This is why the module installer is not working

[2018-06-11 02:29] gutiersa commented on #1696
yes, I have them
the path is correct, I checked it

[2018-06-11 04:02] gutiersa commented on #1696
I am trying to figure out the rewrite rules for the Zend engine modules.
What happens in interface/modules/zend_modules/public/index.php ?
When I go there, I get this error message:

Looks like the send engine.

[2018-06-11 04:46] sjpadgett commented on #1696
Hey guys, remember the CCM stuff usually run a REST interface. The public/index routes to an action index function so /interface/modules/zend_modules/public/Installer is really routed through public/index.php(default landing).  The url is parsed in index.php.

[2018-06-11 05:03] gutiersa commented on #1696
@sjpadgett
and what is the result?
nginx passes all the arguments. I'll try specifically, in that directory to pass an argument, but I am not sure.

[2018-06-11 05:44] sjpadgett commented on #1696
@gutiersa Have you checked if you are getting any errors in php error log?

[2018-06-11 06:06] bradymiller commented on #1696
hi @gutiersa and @sjpadgett ,

Just to take a step back for a bit on the rewrite stuff. Don't we just need to convert the below rewrite rules to nginx's rules:
https://github.com/openemr/openemr/blob/master/contrib/util/ubuntu_package_scripts/production/openemr.conf#L6-L20
(note both of the directories highlighted in above code block have .htaccess scripts in them with these same rewrite rules)

-

[2018-06-11 06:10] bradymiller commented on #1696
btw, in line with above comment, here is the rewrite .htaccess for zend:
https://github.com/openemr/openemr/blob/master/interface/modules/zend_modules/public/.htaccess

and here is the rewrite .htaccess for patient portal:
https://github.com/openemr/openemr/blob/master/portal/patient/.htaccess

(these are simpler to understand I think than my code block above which was necessary to deal with an ap

[2018-06-11 06:12] bradymiller commented on #1696
oh my goodness, check out this awesome friggin tool:
https://winginx.com/en/htaccess

Just copy/paste in the above 2 different .htaccess scripts and I think you may get your answers :)

[2018-06-11 06:15] bradymiller commented on #1696
hmm,  is it more correct to say `awesome friggin` or `friggin awesome`

[2018-06-11 09:04] gutiersa commented on #1696
@bradymiller @sjpadgett
nice tool
but rewrite is not that big a problem. If I understand it correctly, Nginx already processes code as if there was an .htaccess file in every directory, with the basic rewrite rule "RewriteRule ^.*$ - [NC,L]" ie the location statement: "location / {}"
It's actually kind of genius. I tell you, you are going to be hooked, if we can fix this.

[2018-06-11 09:18] gutiersa commented on #1696
@bradymiller @sjpadgett
It would look something like this:
[code]

[2018-06-11 09:58] gutiersa commented on #1696
@bradymiller
how about "Install"?

location ~ /Install {
  root /path/to/openemr/interface/modules/zend_modules/public;
  try_files $uri =404;
  send-everything-else-to-the-upstream-php-fpm;
}

[2018-06-11 11:58] gutiersa commented on #1696
did not work either

[2018-06-11 12:38] bradymiller commented on #1696
regarding path, should focus on /interface/modules/zend_modules/public , since zend has more than just the Installer module

how about based on this solution:
https://stackoverflow.com/questions/23481058/apache-rewrite-rule-to-nginx-for-hhvm?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa
[code]

[2018-06-11 13:23] bradymiller commented on #1696
In above example, also looks like the fastcgi_param is a little different

[2018-06-11 13:30] gutiersa commented on #1696
server_tokens off;

is not needed because all the location statements will inherit it. Also
nginx arlready passes arguments automatically. I knwo the ?$args is needed
in wordpress due to the pretty permalinks. what I need is to figure out how
to bypass js folder.

*Sandragutierrezmd*

On Mon, Jun 11, 2018 at 9:23 AM Brady Miller <notifications@github.com>
wrote:

[2018-06-11 14:10] matrix-amiel opened #1697 "New js library to assats"
Hi @bradymiller

For our modules we need a [bootstrap-select](https://www.npmjs.com/package/bootstrap-select) library. Is it possible to add it to the assets?
(I know that select2 is similar but there are extra functionality in the bootstrap-select that we need..)

Thanks
Amiel

[2018-06-11 14:34] gutiersa commented on #1696
I'm at the office, but the site is blocked.
what does the  fastcgi_param  look like?
*Sandragutierrezmd*

On Mon, Jun 11, 2018 at 9:30 AM gutiersa . <gutiersa1@gmail.com> wrote:

[2018-06-11 15:35] gutiersa commented on #1696
@bradymiller @sjpadgett
Could this be an authentication issue?
this is what I get in my error log:

[2018-06-11 16:03] sjpadgett commented on #1696
These are common notice's for OpenEMR(depending on PHP version) indicating maybe a conditional that failed because array element didn't exist or function call without an expected param. Looks like the scripts are called okay tho. I'd turn off notices

[2018-06-11 16:47] gutiersa commented on #1696
@sjpadgett
Ok, I will.
But I need to get an idea of which uri gets passed to the server so I can come up with the location block, or the rewrite rule. I am just not familiar with js. what can I print to the screen or the logs in /interface/modules/zend_modules/public/index.php ?

this did not work either:

[code]

[2018-06-11 16:50] gutiersa commented on #1696
I need an example of what this would look like:

[2018-06-11 21:05] sjpadgett commented on #1696
@gutiersa Not sure what you are after but the uri is parsed in index.php to determine the controller/trigger e.t.c. and passed aong to app run. I can say that option Multiview should be turned off. Here is server details after rewrite if it will help:
`'SERVER_SOFTWARE' => 'Apache/2.4.23 (Win32) OpenSSL/1.0.2h PHP/7.1.7RC1',
  'SERVER_NAME' => 'localhost',
  'SERVER_ADDR' => '::1',
  'SERVER_PORT'

[2018-06-11 21:16] gutiersa commented on #1696
@sjpadgett
Yes, that is it.
what arguments, if any,are passed to the installer?
I am trying to come up with the equivalent of "RewriteRule ^.*$ /openemr/interface/modules/zend_modules/public/index.php [NC,L]"

[2018-06-11 21:56] sjpadgett commented on #1696
Here is a carecoordination module call:
  'SERVER_SOFTWARE' => 'Apache/2.4.23 (Win32) OpenSSL/1.0.2h PHP/7.1.7RC1',
  'SERVER_NAME' => 'localhost',
  'SERVER_ADDR' => '::1',
  'SERVER_PORT' => '80',
  'REMOTE_ADDR' => '::1',
  'DOCUMENT_ROOT' => 'C:/xampp/htdocs',
  'REQUEST_SCHEME' => 'http',
  'CONTEXT_PREFIX' => '',
  'CONTEXT_DOCUMENT_ROOT' => 'C:/xampp/htdocs',
  'SERVER_ADMIN' => 'postmaster

[2018-06-11 22:30] gutiersa commented on #1696
@sjpadgett
very nice, thanks. Does zend require me to open specific ports? What is the REMOTE_PORT?

[2018-06-11 22:49] sjpadgett commented on #1696
Not sure what the port is about I just assume it is a local communication port automatically assigned. CCM doesn't assign unless the soap engine does but I doubt it. Port 6661 is used for sockets but you should not need to worry with any other ports.

[2018-06-11 23:08] sjpadgett commented on #1696
Oh, I think Zend is part of PHP. Not sure when CCM was introduced but I think v5.0.0 for MU2. Once you get manage module working CCM is setup there along with need of turning on ccdaservice in Globals->Connectors. You need to have sockets turned on in PHP.

[2018-06-12 01:50] gutiersa commented on #1696
@sjpadgett
"The way I look at this is that whatever uri is given to index.php via rewrite(actually nothing really gets rewritten (unless a file, I believe) but merely index.php is called), index.php leaves uri alone and calls the application init function where the uri is parsed and dealt with concerning routing."

Yes, this is why I think the problem is elsewhere. If the url is "/openemr/interfac

[2018-06-12 02:38] sjpadgett commented on #1696
This will not happen: http://host/openemr/interface/modules/zend_modules/public/index.php. index.php will not be part of endpoint. The endpoints will be like http://host/openemr/interface/modules/zend_modules/public/Installer where public is both part of the url route but also a controller in CCM. A url like http://host/openemr/interface/modules/zend_modules/public/carecoordination/index is parsed

[2018-06-12 02:48] gutiersa commented on #1696
@sjpadgett
What I meant, is that this should be processed by nginx till it receives the  http://host/openemr/interface/modules/zend_modules/public/index.php at which time it should send it to the php-fpm where php should take over.

[2018-06-12 02:53] sjpadgett commented on #1696
Okay. Anyway you could go ahead and stick a die('to here') in index.php to see if we hit the script? That would at least let use know if the redirect is working.

[2018-06-12 03:17] gutiersa commented on #1696
I am sure it is not working. when I write http://host/openemr/interface/modules/zend_modules/public/index.php into the address bar I get a Zend error message. When I click on the module button, I get an Nginx error message. So I know the module button is not re-written into http://host/openemr/interface/modules/zend_modules/public/index.php or even http://host/openemr/interface/modules/zend_module

[2018-06-12 03:40] sjpadgett commented on #1696
Hmm, i'd have to load it up to help any further. I just don't know nginx. @bradymiller Didn't you have demos working on nginx at one time. I thought we fixed some path issues with calendar and portal against a nginx test rig?

[2018-06-12 04:00] #1697 closed

[2018-06-12 05:09] gutiersa commented on #1696
here is one of the problems:
If I type index into address bar: "https://domain.net/interface/modules/zend_modules/public/index"
it is getting sent back to the original location block and processed as:
https://domain.net/interface/modules/zend_modules/public/interface/login/login.php?site=default
or it is just not re-written correctly

[2018-06-12 05:31] matrix-amiel commented on #1697
I found solutions with select2.

[2018-06-12 05:54] bradymiller commented on #1696
Dang, this is a tough one (just getting a bunch of pages don't exist with anything I try that either link to:
[code]

@sjpadgett, We've never gotten OpenEMR to work with nginx in the past; @gutiersa is basically on a new frontier with this stuff :)

-brady

[2018-06-12 05:58] sjpadgett commented on #1696
Instead of considering this a rewrite, I think redirect is more appropriate. Just wish I knew more about nginx. Bet I will soon:)

[2018-06-12 06:06] sjpadgett commented on #1696
@gutiersa Further up the thread you gave this: location / {
    try_files $uri $uri/ /index.html
}
which should work if index.html is changed to index.php

[2018-06-12 08:13] zbig01 opened #1700 "Adding Eye Exam form breaks Encounter Summary page"
When an Eye Exam form is added to an encounter then the form `/interface/patient_file/encounter/forms.php` breaks due to this stylesheet getting added to the page
`<link rel="stylesheet" href="../../forms/eye_mag/css/report.css" type="text/css">`

The following css rule from `report.css` is thus included
[code]
This causes the span elements on the page to break.

With no Eye Exam Form included - N

[2018-06-12 12:59] gutiersa commented on #1696
@sjpadgett
I am logged in when I try it in the address bar, but I had not thought of opening a new window. I'll try that.

@bradymiller
That is weird loop/chain. The current set up, as I have in the wiki, does not work. here is what I have tried, but still not working:

`location /interface/modules/zend_modules/public/Installer { root /usr/home/myopenemr/domains/myopenemr.net/www/interface/modules

[2018-06-12 13:07] gutiersa commented on #1696
@sjpadgett
In Nginx instead of redirect, it uses a return, for example:

[code]

check this out:
https://www.open-emr.org/wiki/index.php/OpenEMR_with_nginx_and_php-fpm

[2018-06-12 19:14] gutiersa commented on #1696
@bradymiller @sjpadgett
Maybe getting closer:

2018/06/12 14:42:43 [error] 80093#100771: *1049 FastCGI sent in stderr: "PHP message: PHP Notice:  Undefined index: recipient in /path/to/www/interface/modules/zend_modules/public/index.php on line 40

using:

[code]

[2018-06-12 19:22] sjpadgett commented on #1696
What version PHP again? This is failing on portal authentication check because the request param is undefined!!! This I bet is PHP7.2 maybe...

[2018-06-12 19:38] sjpadgett commented on #1696
@gutiersa Actually these notices should not stop the app but looks like at least getting to index.php and routes to init run where it gets to at least setting up controllers. I'm just can't tell how far init is getting.

[2018-06-12 19:39] gutiersa commented on #1696
7.2
I am still getting the error message though

[2018-06-12 19:41] sjpadgett commented on #1696
I'll fix these and get to you or open a P.R we can work through. Give me an hour or so.

[2018-06-12 20:29] gutiersa commented on #1696
ok. I will add an echo module that nginx has. I have to rebuild it apparently.

[2018-06-12 22:02] gutiersa commented on #1696
@bradymiller @sjpadgett
From Chrome's developer module. I am getting this when going to modules after loging in.

[code]

and

[code]

[2018-06-13 00:17] sjpadgett commented on #1696
The zend framework is in openemr/vendor and it looks like above is normal except the 404 that shows up in bindings because the iframe url received 404.

[2018-06-13 01:38] gutiersa commented on #1696
@bradymiller @sjpadgett

I found this:

https://www.nginx.com/blog/batching-api-requests-nginx-plus-javascript-module/

[2018-06-13 04:01] gutiersa commented on #1696
@sjpadgett
No, the above is from an nginx site

[2018-06-13 04:30] gutiersa commented on #1696
@bradymiller @sjpadgett

Check it out, I was finally able to set up the debug log. It shows all the steps the server takes. It is pretty nifty, pardon my enthusiasm.

[code]
So we just need to keep working on the correct location / { } statement for the modules.

[2018-06-13 10:40] sjpadgett commented on #1696
*154 trying to use file: "index.php" "/path/to/www/interface/modules/zend_modules/publicindex.php"
Hmmm, *154 internal redirect: "index.php?"

[2018-06-13 13:19] gutiersa commented on #1696
yes, fixed it,  it neede a "/"

`try_files $uri $uri/ /index.php;`

[2018-06-13 14:08] gutiersa commented on #1696
@bradymiller @sjpadgett
Eureka!

try this:

[code]

[2018-06-13 14:17] gutiersa commented on #1696
@bradymiller @sjpadgett
So I was able to enable the care coordination module, under "configure this module", "access control" and "mapper" are returning 404 error.
I need links if you guys know them. Otherwise, I'll work on it some more later today. Back to patients.

[2018-06-13 15:37] sjpadgett commented on #1696
@gutiersa This is troublesome: location ~ ^/(.*)/Installer . This appears to make Installer a condition to access public folder. May work for installer but may prevent loading dependencies. The only interaction by server for this REST interface should be to simply redirect to index.php and let the CCM internals do the work of deciding routing. The existing rewrite rules for this interface are simp

[2018-06-13 15:46] gutiersa commented on #1696
@sjpadgett
Yes, I agree, but I was able to actually install and activate some modules. After all, apache does do a rewrite
in the public folder. the rewrite in apache is for the url anyway.

[2018-06-13 15:49] gutiersa commented on #1696
@sjpadgett
I could write an if statement, but then the if statement would get evaluated every time for every request. I thought that would be more wasteful, maybe?

[2018-06-13 20:42] htuck opened #1703 "add capability to the patient merge routine to handle custom fields?"
Hi Folks-
I was curious if anybody thought it'd be worthwhile to add the capability to the pt record merge module, of accommodating custom fields?
I've seen a lot of OpenEMR customers customizing their demographics etc and apparently that content doesn't get included in the new combined record of merged pts.  I'm strictly a support kind of guy not a dev or I'd have at it myself.
Hasta- Harley

[2018-06-13 21:36] gutiersa commented on #1696
@sjpadgett
I would like to be more familiar with the REST interface. Is there some information you can refer me to?

[2018-06-13 22:28] zbig01 commented on #1669
@stephenwaite

https://www.open-emr.org/wiki/index.php/Development_Demo#Lambda_-_Up_For_Grabs_Demo

See if this addresses your concerns :)

[2018-06-14 01:14] stephenwaite commented on #1669
thanks @zbig01 !  where should I look?  i checked out the patient report and it still shows , forgot to make that more clear in the issue

[2018-06-14 03:29] zbig01 opened #1704 "Prevent loading an autoloaded asset with Header::setupHeader"
The `allowNoLoad: true` key:value pair in an asset in `config/config.yaml` allows one to selectively prevent an autoloaded file from being loaded when `Header::setupHeader(['no_assest_name'])` is invoked. This is available for only the `main-theme`. Is there any reason why the other five autoloaded scripts - `jquery, bootstrap, fontawesome, textformat` and `dialog`  have a similar functionality?

[2018-06-14 03:40] zbig01 commented on #1669
I too am a bit confused, is this what you were referring to ?

New patient encounter

![new_encounter](https://user-images.githubusercontent.com/12654295/41390301-e32ccdfc-6f49-11e8-8a66-756f85d5a393.png)

Existing Encounter

![old_encounter](https://user-images.githubusercontent.com/12654295/41390310-ec017d10-6f49-11e8-8068-8b3101210f21.png)

[2018-06-14 12:47] ophthal commented on #1700
This is a good example of where centralized css makes sense...

[2018-06-14 12:48] ophthal opened #1705 "Billing Manager "Select all" does not work"

[2018-06-14 13:12] bradymiller commented on #1704
h @zbig01 , Sounds reasonable and you are right that simply placing that flag in config/config.yaml should get what you want.

[2018-06-14 13:16] stephenwaite commented on #1669
ok, that's an improvement definitely, thank you, but was referring to this
![untitled](https://user-images.githubusercontent.com/5618372/41414251-8c5a764a-6fb3-11e8-8955-c37fc57782d6.png)

[2018-06-14 13:17] bradymiller commented on #1704
btw, to answer why I didn't add the feature to the others was just simply because I was trying to solve an issue where there was an option to not include the main-theme (as I recall for supporting the tabs theme header), which I don't think is not even used anymore.

[2018-06-14 13:22] ophthal commented on #1705
Bug confirmed on https://seven.openemr.io/a/openemr/ demo also.

[2018-06-14 13:50] sjpadgett commented on #1704
nope, it was for the portal.

On Thu, Jun 14, 2018 at 9:17 AM Brady Miller <notifications@github.com>
wrote:

--
Jerry Padgett
Padgett's Consulting
Brandon, Florida 33511
sjpadgett@gmail.com <sjpadgett@gmailo.com>

[2018-06-14 16:53] zbig01 commented on #1705
@ophthal

The fix is in.
Check out this demo, will work once demo updates either automatically or if @bradymiller updates it sooner :)

https://www.open-emr.org/wiki/index.php/Development_Demo#Lambda_-_Up_For_Grabs_Demo

[2018-06-15 08:17] bradymiller commented on #1696
@sjpadgett and @gutiersa ,
I think i got the zend sorted out (it is testing well) using following:
[code]

[2018-06-15 08:20] bradymiller commented on #1696
Here's the PR:
https://github.com/openemr/openemr/pull/1707/files

(@gutiersa , as an aside, I completely removed the php-proxy stuff also in the PR since it seemed redundant it hasn't caused any issues on testing; am I missing something there?)

[2018-06-15 08:47] bradymiller commented on #1703
That would definitely be a nice feature :)

[2018-06-15 13:36] gutiersa commented on #1696
this block:

[code]

needs try_files $uri $uri/ /index.php; so the server can create the php url that will go to the \.php location block (in other words php-fpm ).
and you don't need the fastcgi stuff because it is already at the \.php location block.
Hence, all you need is:

[code]
excellent about the Zend
yes removing the php-proxy is fine, I think, but not recommended. but I am not sure why. I

[2018-06-15 18:35] gutiersa commented on #1696
@bradymiller
The Zend modules are not working  in my set up. the gear icons are not showing  for some reason, nor are they opening. This is how I envision the location block as follows:

[code]
I just don't know enough about the code enough to figure out what the blanks should be. I am not sure if "Mapper" is correct.

Sandra

[2018-06-15 21:41] bradymiller commented on #1696
hi @gutiersa .

The module system is open-ended (ie. folks can add their own modules and hopefully they will not have to add a nginx config setting for each one).

The ordering of the location elements seems to be really important. Tested the solution above again (with removal of the fastcgi_index) and is working really well in Zend stuff. See here for the full solution (and how I ordered the loca

[2018-06-15 22:32] gutiersa commented on #1696
@bradymiller
yes, order is important. Also, I got this working without needing a location statement at all:

`rewrite ^(.*/zend_modules/.*)Installer $1index.php last;`

(have you noticed how fast it is?

[2018-06-15 22:38] gutiersa commented on #1696
@bradymiller
Do I understand this correctly?

`https://domain.net/interface/modules/zend_modules/public/acl/acltab?module_id=1`

needs to be re-written as:

`https://domain.net/interface/modules/zend_modules/public/js/acl/acltab?module_id=1`

??

[2018-06-15 23:15] bradymiller commented on #1696
hi @gutiersa ,
You should not need to go into the weeds on the zend stuff. Everything just gets redirected via:
https://github.com/openemr/openemr/blob/master/contrib/util/docker/stuff/configs/nginx/nginx.conf#L129

[2018-06-15 23:55] gutiersa commented on #1696
"Anything in the Url after /public is either going to be a module(Installer) or a controller "
sending everything via /index.php works for the Installer, but not for the controller though so it makes a difference. that's why I was asking/

The portal has a different rewrite rule. I don't know what this is: _REWRITE_COMMAND. Is it from apache of from openemr?

[2018-06-16 00:21] sjpadgett commented on #1696
That's why the "Similar for Portal", same concept. The _REWRITE_COMMAND is a query parameter used by the REST parser in the routing code of portal.
Recm setting a breakpoint in index.php and walking through code. I think things will become clearer to you.

[2018-06-16 02:58] gutiersa commented on #1696
thanks, but I don't have an IDE, that's why I have to ask so many questions. I am trying to set up Eclipse though.
At any rate, I found some info on how nginx processes requests:

"Nginx will first check for any exact matches. If it doesn't find any, it'll look for preferential ones. If this match also fails, regex matches will be tested in order of their appearance. If everything else fails, the

[2018-06-16 03:19] bradymiller commented on #1705
thanks @zbig01 ! I just brought your fix into codebase and will include it in the next 5.0.1 patch

[2018-06-16 03:19] #1705 closed

[2018-06-16 06:53] bradymiller commented on #1696
hi @gutiersa and @sjpadgett ,

Just committed nginx changes that will at least get the portal working (as with the zend code, is likely just a working starting point that can refine). Here is the entire codeblock now that basically deals with zend, the portal, and then everything else:
https://github.com/openemr/openemr/blob/af70998cc97b224cf903efb68cd5f03ad7db5bcf/contrib/util/docker/stuff/config

[2018-06-16 07:01] bradymiller commented on #1696
btw,
Due to likely nginx weirdness that i have not sorted out, to use the patient portal with the above config, need to do `portal/index.php` in the web browser path (`portal` alone kicks it back to no script).

[2018-06-16 11:12] gutiersa commented on #1696
hi @bradymiller  and @sjpadgett ,
very nice, both of you.
it looks great

Here is another tid bit of information:
a rewrite rule in a location block gets processed 10x hence the need for "break", in a server block it needs "last" to not modify it any further.

[2018-06-16 11:48] gutiersa commented on #1696
@bradymiller
Looks like order is important, but nginx looks for the location / { } block first anyway, then everything else in order, using your conf above, this is what my log shows:

[code]

[2018-06-16 12:17] gutiersa commented on #1696
so with the @bradymiller configuration, I get this error:

"Access to the script '/path/to/interface/modules/zend_modules/public/images/config.png' has been denied (see security.limit_extensions)"
and the config link does not work.

[2018-06-17 02:34] bradymiller commented on #1696
hi @gutiersa ,
What does you complete nginx.conf file look like?

[2018-06-17 12:05] gutiersa commented on #1696
It's in a separate file:

[code]

[2018-06-17 12:30] gutiersa commented on #1696
@bradymiller
for the zend modules, this line works the best, but for the care coordination modules, the configuration settings tabs open up vertically rather than in the horizontal fashion:

` rewrite ^(.*/zend_modules/public)(.*) $1/index.php$is_args$args? last;`

[2018-06-17 12:34] gutiersa commented on #1696
@bradymiller
I take it back, the patient portal is working perfectly, it just needed me to get some sleep. ha

[2018-06-17 14:46] gutiersa commented on #1696
Hey @bradymiller

try this rewrite rule for the patient portal, it is working for me:

`rewrite ^/portal/patient(.*) /portal/patient/index.php?_REWRITE_COMMAND=/portal/patient$1 last;`

[2018-06-17 17:53] zbig01 commented on #1704
Added `autoNoLoad` to the other five scripts

[2018-06-17 17:53] #1704 closed

[2018-06-18 04:41] bradymiller commented on #1696
hi @gutiersa ,

I think we are getting very close to an optimal solution. Both of your above solutions were a bit buggy, but I basically used them (the very nice thing about what you are doing is only having one call to the php-fpm engine) with a little bit of modifications and everything is now testing well. Here is how things now look on my nginx.conf:
https://github.com/openemr/openemr/blob/mas

[2018-06-18 05:36] gutiersa commented on #1696
hi @bradymiller
that looks really good and works great, the only thing that does not work is the advanced ACL under the care coordination module. I get that the page is currently unavailable. Hmm
I did finish the ssl files, I updated the wiki

[2018-06-18 12:56] bradymiller commented on #1696
hi @gutiersa ,

Guessing your advanced ACL issue is related to the SSL setup (hopefully). It is working on my testing:
![image](https://user-images.githubusercontent.com/278968/41537019-1623c48e-72bc-11e8-8ffb-1ea5d965ec4b.png)

(will hopefully get ssl going soon in the dev docker (by basically copying in your stuff and some dummy certs) nginx.conf to allow testing soon)

[2018-06-18 13:02] gutiersa commented on #1696
it has to do with my headers. I am getting this error message:

`2018/06/18 08:52:45 [error] 11187#100790: *27147 upstream sent too big header while reading response header from upstream, client: 108.17.53.94, server: myopenemr.net, request: "GET /interface/modules/zend_modules/public/acl/index?module_id=1 HTTP/2.0", upstream: "fastcgi://unix:/var/run/php-fpm.sock:", host: "myopenemr.net", referre

[2018-06-18 19:20] gutiersa commented on #1696
check this out:
https://www.nginx.com/resources/wiki/start/topics/tutorials/config_pitfalls/?utm_source=tool.lu

[2018-06-19 06:04] bradymiller commented on #1696
@gutiersa ,
Very nice. It looks like we didn't break too many cardinal rules :)
Will be tough to limit the php location stuff, which they state to avoid since OpenEMR is one huge php application.

[2018-06-19 06:43] bradymiller commented on #1696
btw, just got basic SSL working on the docker dev environment: https://github.com/openemr/openemr/commit/3b4bfd42654fe1556f8a276fb16c19f7d87a3bb7

[2018-06-19 16:58] gutiersa commented on #1696
@bradymiller
Awesome, I am impressed. I want to learn Docker.
BTW, the problem I am having with the Care coordination module might be a database issue. I have a multisite, and the problem is with default site, but it works fine in one of the other sites. Hmm
Sandra

[2018-06-26 06:01] bradymiller commented on #1600
hi @kofiav ,
@d3sandoval is working on this (he's working on migrating all front-end components to npm and incorporating a build step into the openemr packages); very exciting stuff.
-brady

[2018-06-26 06:02] bradymiller commented on #1600
@kofiav ,
For now to get your stuff working, feel free to use npm and then we can can incorporate it into the final solution by @d3sandoval in the future.

[2018-06-26 15:17] d3sandoval commented on #1600
I won't get a chance to look at this closely until late next week at the earliest. In order to not block this contribution, I'll agree with @bradymiller here and recommend using your own package.json for the time being. In addressing #1600 , we will have one package.json in the root directory to install all frontend dependencies.

[2018-06-26 15:23] kofiav commented on #1600
@d3sandoval

No worries, there is no rush on my end. I'm glad someone is looking at this. I was having troubles dealing with Bower so I was happy to find that someone had already started an issue and there's already a lot of progress moving to alternatives (npm).

[2018-06-27 03:08] mdsupport commented on #1670
@santiagosemhan, Did you go ahead with your project?

[2018-06-28 08:15] shachar058 opened #1736 "Translation of word "New" in tabs title"
In the "Tabs" openemr mode, when a new tab is opened (for example the encounters tab) the word "New" appears in the tab title for a second until the real title comes up.
The issue is that this word ("New") is hardcoded into the file`openemr/interface/main/tabs/js/tabs_view_model.js`,  and because it is a javascript file the php translation methods  can not be used.
How can we translate this word?

[2018-06-29 17:01] bradymiller opened #1739 "registration not working on php 5.6"
It appears registration box is not showing up on php 5.6 and no obvious php errors are being shown.

[2018-07-02 01:14] bradymiller commented on #1736
Strategy here is to create a javascript variable in php before bringing in the openemr/interface/main/tabs/js/tabs_view_model.js script. Here is an example:
https://github.com/openemr/openemr/blob/master/interface/main/tabs/main.php#L123-L128

[2018-07-02 06:54] shachar058 commented on #1736
Ok thanks, understood.
I just sent a PR for this:
https://github.com/openemr/openemr/pull/1746

[2018-07-03 01:16] mdsupport commented on #1669
@stephenwaite, @zbig01: There is already provision for every installation to assign a nickname to every form (see registry).  Standard forms don't seem to pick up that value even if administrator has made changes.  All of our custom forms do use the nickname.

[2018-07-03 10:16] sharonco-matrix opened #1749 "BUG: Tabs transition flow"
If you choose your first tab to be "patient list", and the second tab "create new patient".

When you click on a patient that is on the list it opens the demographic page in the tab "create new patient".
First, you see the create new patient screen and then it changes to demographics.

The flow should be " load and change" and not "change and load"

[2018-07-04 13:48] stephenwaite commented on #1671
hi @bradymiller , i guess this approach didn't work since the dev demos still show icd9 active and it's the first selection in all of the dropdowns :(

[2018-07-04 13:57] stephenwaite commented on #1669
thanks @mdsupport , so goal is to bring nickname functionality to patient->Report

[2018-07-04 22:08] bradymiller commented on #1671
hi @stephenwaite ,
Is this the dev demos with or without sample data?
(I ask because the demos with sample data will likely not get rid of ICD9 since it's just upgrading an already existent database)

[2018-07-06 19:57] stephenwaite commented on #1671
yup, thanks @bradymiller , maybe could update the demo data to use icd10 codes and more recent dates of service to make the use of the data more convenient for users

[2018-07-07 07:42] bradymiller commented on #1671
hi @stephenwaite ,
Just would need the database changes for ICD10 here and we should be good:
https://github.com/openemr/demo_farm_openemr/blob/master/pieces/demo_5_0_0_5.sql
(the date of service issues would be a tougher feat and require running openemr from this database, ugprading to 5.0.1, making changes in openemr, and saving that database)

[2018-07-10 11:30] PawanJindal opened #1759 "Issue using Azure Database for MySQL"
Hello,

I am trying to setup an instance of OpenEMR using Azure Database for MySQL. Azure only supports InnoDb. As already mentioned on https://www.open-emr.org/wiki/index.php/Database_Structure, one of the tables throws an error of "Row Size too large" with engine=InnoDb. Has anyone been able to make it work with Azure Database for MySQL? The embedded database with Azure Web App does NOT have thi

[2018-07-11 06:30] bradymiller commented on #1759
hi @PawanJindal ,
As I recall that 1 table was only an issue on certain environments, so we decided to be safe and keep it as myisam. You could always just convert that table over to innodb on your environment and see what happens(if it doesn't throw that error, then you should be good).
-brady

[2018-07-11 11:03] PawanJindal commented on #1759
Hi @bradymiller , Sorry, I didn't clarify. I already tried that and it throws the same error that is mentioned on the wiki - "form_eye_mag (in InnoDB, was throwing following error on some newer OS's 'Row size too large (> 8126).') ". I tried changing multiple columns to Text but that didn't work too.

[2018-07-11 19:47] mdsupport commented on #1759
@PawanJindal
If you look at that table, it is clearly a bad design with 30+ blobs.  Since it is in the codebase, consider these options:
1. Are you planning to really use that form? If not, try changing the fields to varchar(1) to avoid sql errors.
2. If you are planning to use that form (typically ophthalmology practices),  are you planning store all those blobs in database or you can do with lon

[2018-07-11 23:09] sjpadgett opened #1762 "New Procedure Form styling to large"
Way to much padding/margins especially if lab questions/answers are used. This is one of those forms that really should be fluid.

btw: The table-responsive class should not be applied to the table but instead to the table wrapping container such as, a div.

[2018-07-12 00:16] sjpadgett commented on #1762
I think i'll do some minor touch ups to style and maybe add a feature or two. Add a comment if have suggestions.

[2018-07-12 15:50] sjpadgett commented on #1762
could not easily make fluid but slimmed height and styled code pickers.
https://github.com/openemr/openemr/pull/1763

[2018-07-12 15:50] #1762 closed

[2018-07-13 01:11] mdsupport opened #1764 "Composer autoload update"
We should consider including the `composer_install.php` solution suggested user Endel on stackoverflow -
[Run composer with a PHP script in browser](https://stackoverflow.com/questions/17219436/run-composer-with-a-php-script-in-browser)
Just replace the update command by `dump-autoload -o`.

[2018-07-13 13:32] PawanJindal commented on #1759
Hi @mdsupport , I don't have any experience with mySQL. I needed to setup an instance to test integration of an app that I am developing. I will probably need to use that form. Can you please provide some details on "if texts are good enough, increase varchar size to the max limited by mySQL recordsize limit"? Texts would be good enough for my use case. Are  you suggesting to change all columns to

[2018-07-13 16:03] mdsupport commented on #1759
If you haven't started using the installed database,
- extract the table definition in `sql/database.sql` at around line 10000 starting at `DROP TABLE ..` and upto `) ENGINE=MyISAM;`
- Replace `text,` by `varchar(1000),`
- Replace `MyISAM` by `InnoDB`
- Execute those commands with any mySQL database tool.  If that's not possible, insert text of that file into `sql/patch.sql` and use `https://<open

[2018-07-13 16:50] PawanJindal commented on #1759
Hi @mdsupport ,

Thanks so much for the detailed steps. I tried it and went all the way down to varchar(50) but it still throws the same error. Error Code: 1118. Row size too large (> 8126). Changing some columns to TEXT or BLOB may help. In current row format, BLOB prefix of 0 bytes is stored inline.

I copied the updated query below. Do you have any other suggestions?

DROP TABLE IF EXISTS `form

[2018-07-13 17:05] sjpadgett commented on #1759
The real solution for this is to split this table and setup relationship/foreign tables. Otherwise I don't think you can ever get it to work through structure tuning(way too many needy columns). One other solution is to configure Mysql/Maria to increase Row Size. Check out this to get an idea what you are up against.
https://stackoverflow.com/questions/15585602/change-limit-for-mysql-row-size-too-

[2018-07-13 18:02] bradymiller commented on #1759
Sounds like a good idea to bring in @ophthal on this discussion since it appears this table structure(s) will need to be fixed up to support InnoDB.

[2018-07-13 18:07] sjpadgett commented on #1759
Yep, I don't envy the task but a need none the less. I'd do it but I just don't have time just now. I'll help where I can though.

[2018-07-13 18:17] ophthal commented on #1759
Ill look at it this weekend. I knew when we went to innodb the day of reckoning would come where I’d have to normalize this table. It can go into many smaller tables and we are now not using the blobs so there is a light at the end of the tunnel... I’m on it

[2018-07-14 00:32] mdsupport commented on #1759
@PawanJindal
Guess 72 blobs was just part of problem.  In addition there are 120 or so other fields that are _laaarge_.  I tried picking up as many in limited time I have and came up with the tabledef that avoids sql error.  At the risk of showing my stupidity in advising an expert developer, I would suggest staying away from a table with close to 400 columns.  In any case, here is a completely bu

[2018-07-14 00:58] mdsupport commented on #1759
@bradymiller :
It may be worth establishing a single table for blobs for future development with class wrapper around its access.  Since blobs are handled differently in user interfaces anyway, for developers the only additional burden would be to make one extra call.

[2018-07-14 01:07] ophthal commented on #1759
I just revised the table based on the size and data that we are seeing in our production server.
There are several fields that are no longer used and can be deleted, including every blob column.
This table will be paired down significantly.  That is the easy part.

I am also going to split it into multiple tables.  That will require some code changes.

Show I post the table here?

[2018-07-14 02:21] mdsupport commented on #1759
Hope the table with just dropped columns can be created in innodb format (e.g. as form_eye_mag2) and still support your required functions.  That would be lucky break.

[2018-07-14 03:32] ophthal commented on #1759
Curious if this makes the table work on Azure:

ALTER TABLE `form_eye_mag`
  DROP `UNDO_ID`,
  DROP `Narrative`,
  DROP `VISITTYPE`,
  DROP `SNOMEDCC1`,
  DROP `SNOMEDCC2`,
  DROP `SNOMEDCC3`,
  DROP `PMH`,
  DROP `POH`,
  DROP `PSURGHX`,
  DROP `EYEMEDICATIONS`,
  DROP `MEDICATIONS`,
  DROP `ALLERGIES`,
  DROP `SOCHX`,
  DROP `FH`,
  DROP `EYESURGHX`,
  DROP `ODPIC`,
  DROP `OSPIC`,
  DROP `ODDRA

[2018-07-14 15:39] stephenwaite commented on #1671
this is fixed

[2018-07-14 15:39] #1671 closed

[2018-07-15 16:10] mdsupport commented on #1539
Guess not to both.

[2018-07-15 16:10] #1539 closed

[2018-07-16 03:03] bradymiller commented on #1587
The 4th patch for OpenEMR 5.0.1 has been released and includes a critical security fix:
https://www.open-emr.org/wiki/index.php/OpenEMR_Patches

The patch includes the following new fixes:
*Security fixes -  reported by Project Insecurity - insecurity.sh, fixed by Jerry Padgett and Brady Miller
*Patient portal improvements and fixes - fixed by Jerry Padgett
*Patient image fix - reported by Luis An

[2018-07-21 15:23] mdsupport commented on #1764
#1766 created based on [this gist](https://gist.github.com/ahsankhatri/556064662d368d63ad51483cecc7eb27).

[2018-07-21 15:23] #1764 closed

[2018-07-23 12:06] ophthal commented on #1759
I just did a PR to revamp the Eye Form.  Once reviewed that should fix up the Azure install problem.

[2018-07-23 14:00] sjpadgett commented on #1759
Wow, thanks for that Ray.

[2018-07-24 14:05] ophthal opened #1779 "Select Patient to move document"
In documents when trying to move a document to another patient, the select a patient pop-up is not working.
![select_to_move](https://user-images.githubusercontent.com/508784/43143589-065fedc8-8f29-11e8-8a5f-511e05d54aa0.png)

[2018-07-25 15:32] l00ph0le opened #1781 "OpenEMR v5_0_1_4: Cross-Site Scripting in interface/fax/fax_view.php"
I found an application security issue in interface/fax/fax_view.php of OpenEMR v5_0_1_4 and likely earlier versions.

The vulnerability exists due to a lack of sanitation of user-supplied input. The vulnerability allows attackers to execute javascript on remotely authenticated users via the 'file' and 'scan' parameters.

Proof of Concept URL 'file' parameter:
http://192.168.246.144/openemr-5.0.1/i

[2018-07-25 15:32] l00ph0le opened #1782 "OpenEMR v5_0_1_4: SQL Injection in interface/logview/logview.php"
I found an application security issue in interface/logview/logview.php of OpenEMR v5_0_1_4 and likely earlier versions.

The vulnerability exists due to a lack of sanitation of user-supplied input. The vulnerability could allow remote authenticated attackers to inject SQL commands via the 'sortby' parameter.

I think the issue is being triggered by the sql query in /library/log.inc on line 217.
ht

[2018-07-28 07:52] bradymiller commented on #1782
hi @l00ph0le ,

Thanks for the report! Fixes are in this PR:
https://github.com/openemr/openemr/pull/1783

For future specific security vulnerability reports, rec. emailing them to me at brady.g.miller@gmail.com rather than posting them publicly (and even better if email it encrypted via my public PGP key at: https://pgp.mit.edu/pks/lookup?op=get&search=0x27DEF05B1A8A6D4F).

Thanks!
-brady

[2018-07-28 07:52] bradymiller commented on #1781
hi @l00ph0le ,

Thanks for the report! Fixes are in this PR:
https://github.com/openemr/openemr/pull/1783

For future specific security vulnerability reports, rec. emailing them to me at brady.g.miller@gmail.com rather than posting them publicly (and even better if email it encrypted via my public PGP key at: https://pgp.mit.edu/pks/lookup?op=get&search=0x27DEF05B1A8A6D4F).

Thanks!
-brady

[2018-07-28 14:32] l00ph0le commented on #1782
Hi Brady,

Can you post the security vulnerability contact information on your main website or in the README of the project? I would have done this had I seen it somewhere. I opened the issues based on previous issues I found in the project, I thought it was the preferred reporting method.

Thank you

~Nick

[2018-07-28 18:38] bradymiller commented on #1782
Hi @l00ph0le ,

Very good point. I just added this information to the README:
https://github.com/openemr/openemr/commit/782dab2c040e894814cfa43b91fea9cfd079f3c1

-brady

[2018-07-29 20:21] zbig01 opened #1784 "Autofill setting causing difficulty in accessing datepicker in Chrome"
If you use a Chrome browser and have autofill forms turned on then using any date input text box will cause the previously used dates to show as a dropdown list that obscures a part of the underlying datepicker pop-up thus preventing its proper use.

![date_picker](https://user-images.githubusercontent.com/12654295/43370322-03de1644-9332-11e8-80d0-f63314b8f4f9.png)

![date_picker-02](https://user-

[2018-07-30 13:46] dorareddys opened #1785 "Calendar Patient and Provider times are overlapping if both had same start time"
Hi All,

How to fix display issue of times overlapping. I'm unable to add the image. Please see over the screenshot here below
[https://community.open-emr.org/t/calendar-patient-and-provider-times-are-overlapping-if-both-had-same-start-time/10544](url)

[2018-08-04 13:39] d3sandoval commented on #1785
@openemr/admins I'm happy to take this on. Could you please assign it to me?

[2018-08-05 15:40] bradymiller commented on #1587
Security Reminder: Ensure that you have updated OpenEMR 5.0.1 to the most recent patch, which included a critical security fix: https://www.open-emr.org/wiki/index.php/OpenEMR_Patches

[2018-08-09 10:48] ophthal commented on #1481
this is closed right?

[2018-08-09 11:31] ophthal commented on #1759
Final review pending.  Once in codebase, openEMR will be 100% INNODB and this Azure bug closed.

[2018-08-09 12:43] PawanJindal commented on #1759
Hello,

I tried a fresh new install on Azure with the latest code. I was able to run the setup and the database was successfully created. However, when I try to login, it keeps redirecting me back to the login page without any specific error. I checked the logs and it shows me the following
[09-Aug-2018 12:37:15 UTC] PHP Notice:  Undefined index: authProvider in D:\home\site\wwwroot\library\auth.i

[2018-08-10 08:15] bradymiller commented on #1481
hi @ophthal ,
I just reran the eye form on php 7.2 and there are still a couple warnings. I updated the gist link to show them:
https://gist.github.com/bradymiller/f90324b20fdb3d6009fd22bb0ee0fb50
-brady

[2018-08-10 09:16] ophthal commented on #1700
Sure is.
The latest forms/eye_mag/css/report.css fixes this issue.

[2018-08-13 15:45] mdsupport commented on #1759
Probably the load process timed out while importing `database.sql`.  You would then be logging on to a truncated database that would produce random errors.  You could turn on PHP error display and look at PHP fatal errors for clues.

[2018-08-18 23:13] bradymiller commented on #1587
The 5th patch for OpenEMR 5.0.1 has been released and includes critical security fixes and numerous bug fixes:
https://www.open-emr.org/wiki/index.php/OpenEMR_Patches

The patch includes the following new fixes:
*Security fixes - reported by Cyku, Project Insecurity, AZ Kuo, SunNn11 and l00ph0le, fixed by Brady Miller
*Backup fix - fixed by Jerry Padgett
*Tab fix - fixed by Amiel Elboim (Matrix)
*

[2018-08-19 12:29] eyalvo-matrix opened #1804 "Fee sheet link ambitious behavior"
When being on a different tab other then the patient encounter tab
Pressing on the Fees-> Fee Sheet "secretly" open a new fee sheet in the encounter
without opening the encounter tab and the new fee sheet
For the user -it seems like the link is not working

Steps to reproduce :
=================
1. choose a patient
2. choose an encounter
3. close all tabs except calendar and encounter
4. go to cal

[2018-08-19 12:40] eyalvo-matrix commented on #1804
The behavior I think should be for the link is
1. Pressing on the link will go to the encounter tab and show the fee sheet
2. The user will not be able to open more then one new fee sheet per encounter

[2018-08-19 12:57] scorpions786 opened #1805 "Percentage discount should be on total amount not on "Form_amount""
https://github.com/openemr/openemr/blob/9e42523c4eaa0c3ff3a420df54d5dc9338391a76/interface/patient_file/pos_checkout.php#L587

[2018-08-20 06:59] bradymiller commented on #1804
hi @eyalvo-matrix ,

Agreed on both. Note issue 2 has been brought up before here:
https://github.com/openemr/openemr/issues/1511

-brady

[2018-08-20 17:19] kurtseifried commented on #1782
Just a heads up this is already covered by CVE-2014-5462 https://www.portcullis-security.com/security-research-and-downloads/security-advisories/cve-2014-5462/ (pointed out to me by MITRE when I tried to assign a new CVE for this issue). Please note that there are additional SQL injection flaws you may need to fix (otherwise if you only fix part of CVE-2014-5462 we'll need to assign another CVE fo

[2018-08-21 05:57] bradymiller commented on #1782
hi @kurtseifried ,
Thanks for the heads up. Will look at that report and make the needed fixes.
-brady

[2018-08-22 12:47] PawanJindal commented on #1759
Hello @mdsupport ,unfortunately, I was unable to get past the time out error. I am sure I am missing something basic as I am not a PHP expert. However, I was finally able to get an instance going on Azure using the docker-compose file for Open EMR.  I have been test driving the solution last couple days. Wow! This is an amazing solution and you all are an amazing team.

I am the founder of a compa

[2018-08-22 12:47] #1759 closed

[2018-08-28 14:25] ophthal opened #1817 "Asset location: chart.js"
On sync with the master, I see a change in interface/forms/eye_mag/eye_mag_functions.php where chart.js is stored, but I do not see chart.js in $GLOBALS['assets_static_relative'] = "$web_root/public/assets";

New code:
[code]

was:
[code]

[2018-08-29 03:35] bradymiller commented on #1817
hi @ophthal ,

Check out this thread on the new building process for OpenEMR:
https://community.open-emr.org/t/openemr-takes-big-development-step-with-composer-and-npm/10654

-brady

[2018-08-29 15:24] vyas-vinay opened #1820 "Security Issues"
We were considering this project, but this london based firm found some security vulnerabilities.
https://insecurity.sh/assets/reports/openemr.pdf

Could we prioritize and fix these ? I am not a PHP developer but I will see if I can contribute to some of these.

[2018-08-29 23:45] vyas-vinay opened #1824 "Requesting Snyke Integration"
As a developer
I want to integrate snyke or similar (e.g. Greenkeeper)
So that vulnerabilities are detected and could be flagged

Note : Snyke is free for open source projects.
https://snyk.io/

[2018-08-30 01:37] bradymiller commented on #1820
Hi @vyas-vinay ,

Read here to get background on the insecurity report along with how the community has already addressed these vulnerabilities:
https://community.open-emr.org/t/openemr-security/10597

Per the above forum thread, the only vulnerability that was not addressed in the initial set of fixes were the CSRF vulnerability since we needed to build a mechanism/framework for this first. This

[2018-08-30 01:39] bradymiller commented on #1824
hi @vyas-vinay ,

That looks like a great idea! Let us know if you need any help on OpenEMR's admin end to set things up.

Thanks!
-brady

[2018-08-30 01:49] bradymiller commented on #1824
Hi,
I just looked into this and all it appears to be doing is reporting vulnerabilties that are brought in via packages by npm (ie. already known vulnerabilites). It does not seem to do any original code analysis.
-brady

[2018-08-30 06:45] zbig01 opened #1825 "The value of the Type of transaction in Transactions page is not being displayed as intended"
A minor bug is noted when a Patient Transaction is created on the Transactions page, the value of the Type of transaction is not being displayed as it was in the past. The Type is displayed as LBTref, LBTptreq etc with an exclamation icon as a superscript.

![pa_transactions_1](https://user-images.githubusercontent.com/12654295/44833747-ed2ee700-abe3-11e8-85c8-891319696577.png)

This is caused by

[2018-08-30 07:53] bradymiller commented on #1825
Does changing title to option_id in the sql query select and then changing:
```$item['title']```
to
```$item['option_id']```
fix the generate_display_field() call

[2018-08-30 07:55] bradymiller commented on #1825
Actually forget about changing the sql query. That is fine. I think just changing to ```$item['option_id']``` should fix this

[2018-08-31 03:17] zbig01 commented on #1825
The issue is in `library/options.inc.php`
[code]
the sql query is run on table list_options, it will always fail  as the values that it seeks have been removed from the table

BTW  changing:
`$item['title']`
to
`$item['option_id']`
in the `generate_display_field()` call in `interface/patient_file/transaction/transactions.php` causes only the exclamation mark to show

[2018-08-31 05:35] bradymiller commented on #1825
hi @zbig01 ,
Thanks for pointing this out. Looks like the titles got migrated to the layout_group_properties tables in the big layouts project that @sunsetsystems did. Looks like we need a function like collectLayoutNames() that is in the edit_layout.php script to grab the titles.
-brady

[2018-08-31 08:43] zbig01 commented on #1825
I fixed the issue by making 2 changes:

1.  `library/options.inc.php` - added to `function generate_display_field`
[code]

I used `$data_type == 99` because I did not want to mess up any other place where `$data_type == 1` was being used

2. modified line 122 of interface/patient_file/transaction/transactions.php
`<?php echo generate_display_field(['data_type' => 99, 'list_id' => 'Transactions'],

[2018-08-31 18:05] bradymiller commented on #1825
very nice!

Check out this function, getListItemTitle(), that we use for list titles (generate_display_field is the old way of doing this):
https://github.com/openemr/openemr/blob/master/library/options.inc.php#L3806-L3817

Recommend placing your code in a new function called getLayoutTitle() in options.inc.php, and then calling that instead. Then don't need to hack out a data_type.

-brady

[2018-08-31 21:39] bradymiller commented on #1825
So you don't get weighed down with this on your ui stuff, just let me know if you want me to do this (I could make this quick fix); I'd be happy to :)

[2018-09-01 07:03] zbig01 commented on #1825
@bradymiller

minor bug fix in patient transactions #1830

[2018-09-01 14:41] zbig01 opened #1831 "Alternate Demo (Alpine 3.5 - uses php 7.0) not working"
https://nine.openemr.io/openemr

 https://nine.openemr.io/a/openemr

[2018-09-03 19:58] bradymiller commented on #1831
hi @zbig01 ,
Thanks for pointing that out. Just fixed them.
-brady

[2018-09-03 19:58] #1831 closed

[2018-09-06 12:19] matrix-amiel opened #1841 "Therapy groups not working"
Hi.

From the time  we began work with npm and [the assets was changed ](https://community.open-emr.org/t/openemr-takes-big-development-step-with-composer-and-npm/10654) the therapy group is not working (add participant, add appointment etc.)-
![image](https://user-images.githubusercontent.com/17809866/45156598-5ff12100-b1e7-11e8-86eb-6093f594fcd7.png)

Could you fix it soon?

Thank you
Amiel

[2018-09-06 13:17] bradymiller commented on #1841
hi @matrix-amiel ,
Thanks for pointing this out. Looks like this slipped through in about 6 or so scripts. Will get in the fixes this evening.
thanks,
-brady

[2018-09-09 20:50] sjpadgett opened #1847 "Previous Commit completely breaks Portal Two"
https://github.com/openemr/openemr/commit/352fd76f2d7c388f5b53fc883469ebf16eb17f15
Mainly JQuery version naming and maybe backbone. Not real sure.
It is a dangerous game to refactor an entire dependency tree. I get the need to standardize our dependencies but this is kind of scary.

[2018-09-09 21:00] bradymiller commented on #1847
hi @sjpadgett ,
I'm pretty sure i tested the portals with these changes. In same place, we did make some path errors. Let me do some testing on the portal. Check out here for related forum thread:
https://community.open-emr.org/t/openemr-takes-big-development-step-with-composer-and-npm/10654
-brady

[2018-09-09 21:28] bradymiller commented on #1847
Posted fix here:
https://github.com/openemr/openemr/pull/1848

[2018-09-09 21:38] sjpadgett commented on #1847
I've also noticed an assets directory inside root assets directory i.e public/asset/asset when pull master. Is this a concern or the way it works?
I saw your PR so i'm going to go ahead and close this issue. Thanks for relieving my paranoia that i'm losing it:) (thought maybe I did it my last commit)

[2018-09-09 21:40] sjpadgett commented on #1847
Thanks Brady

[2018-09-09 21:40] #1847 closed

[2018-09-09 21:42] bradymiller commented on #1847
Don't worry. I'll likely lose it before you do :)

[2018-09-09 21:43] bradymiller commented on #1847
Regarding the public/assets dir from master (before do the build), it should look like this (ls -al):
[code]

[2018-09-09 21:44] bradymiller commented on #1847
after the build, it will look like this:
[code]

[2018-09-10 17:24] stephenwaite opened #1849 "Rules Configuration - Demographics filter criteria - Diagnosis Optional Inclusion blocking clinical reminder"
set up a test rule on a dev demo, https://one.openemr.io/a/openemr/
shouldn't an optional inclusion for a diagnosis on a demographics filter not block the clinical reminder from appearing in the pt summary screen widget?

in other words if you set up a rule with optional filters it should trigger every time or at least one of the optional demographic filters should make it trigger?

[2018-09-17 08:03] #1825 closed

[2018-09-17 08:04] bradymiller commented on #1688
this was fixed

[2018-09-17 08:04] #1688 closed

[2018-09-17 08:04] bradymiller commented on #1666
this was fixed

[2018-09-17 08:04] #1666 closed

[2018-09-17 08:05] bradymiller commented on #1600
done

[2018-09-17 08:05] #1600 closed

[2018-09-17 09:42] eyalvo-matrix opened #1864 "pnotes.php unwanted or incorrect behavior"
In the patient file when opening the patient messages when clicking on a msg an "Unknown" tab is open
this happens because in pnotes.php line 197 there is
$(".noterow").click(function() { EditNote(this); });
EditNote function does not work correctly.
I think it is not necessary at all since there is already edit button
Can I delete lines 197-208 ?

[2018-09-17 09:51] eyalvo-matrix commented on #1864
https://github.com/openemr/openemr/pull/1865

[2018-09-23 05:54] #1841 closed

[2018-09-23 06:13] matrix-amiel opened #1877 "RTL css with sass"
Hi @d3sandoval @bradymiller

I have thought about the option to improve the style developing and reduce the amount of rtl fixes in the project. I have found very nice way to make it using sass and gulp (now already merged in the project..).
Instead to import additional file in the end of the css that overwrite the ltr settings we can load in the begin of the css file with variables and functions t

[2018-09-23 12:48] d3sandoval commented on #1877
Not at all! I think that's a great idea :) the only thing you'll have to watch out for are the rtl styles that do not currently live in the scss files. We have a lot of inline styles, style blocks in PHP files, and standalone css files. If there's rtl rules associated with these styles, they'll need to be ported over to scss before applying directional.scss

[2018-09-23 14:56] arnabnaha opened #1878 "PHP Fatal error after patch 6"
[Sun Sep 23 20:22:53.891810 2018] [:error] [pid 4320:tid 2032] [client ::1:60680] PHP Fatal error:  require_once(): Failed opening required 'C:\\xampp\\htdocs\\openemr\\interface/../common/compatibility/Checker.php' (include_path='\\xampp\\php\\PEAR') in C:\\xampp\\htdocs\\openemr\\interface\\globals.php on line 4, referer: http://localhost/openemr/admin.php

kindly see

[2018-09-23 15:49] bradymiller commented on #1878
hi @arnabnaha ,
Was it working before the patch? If so, what version (patch number) were you using before the patch?
-brady

[2018-09-23 15:52] arnabnaha commented on #1878
Brady,
I was out of touch with my systems for pretty long...can you please tell me..how can I upgrade my database now?? I am not finding the admin.php page which was there earlier...

[2018-09-23 15:56] bradymiller commented on #1878
The patch doesn't touch admin.php, so something odd seems to be going on. what does your main openemr directory look like?

[2018-09-23 15:57] arnabnaha commented on #1878
Brady
I am trying to bring in the master from the github...hope it will cure everything..if anything wrong goes...i will ping you.

[2018-09-23 16:02] arnabnaha commented on #1878
Brady
I pulled in the master files into the openemr directory of my localhost. admin.php shows i am on 5.0.0 and when I click on upgrade database - it gives an error - This page isnt working - HTTP 500

error log is here-
[Sun Sep 23 21:30:20.693372 2018] [:error] [pid 8132:tid 2028] [client ::1:61425] PHP Fatal error:  require_once(): Failed opening required 'C:/xampp/htdocs/openemr/vendor/autolo

[2018-09-23 16:06] arnabnaha commented on #1878
@bradymiller  please help

[2018-09-23 16:09] bradymiller commented on #1878
Probably the best option if you are trying to upgrade to most recent development codebase (5.0.2-dev) is:

1. Use the package that is built daily from the master branch (5.0.2-dev):
https://www.open-emr.org/wiki/index.php/OpenEMR_Downloads#Daily_snapshots

And use this with the upgrade instructions:
https://www.open-emr.org/wiki/index.php/Windows_Upgrade_5.0.0_to_5.0.1

(you can also build your ow

[2018-09-23 16:11] arnabnaha commented on #1878
I am still on windows 👍
Please let me know how to use composer and npm

[2018-09-23 16:16] bradymiller commented on #1878
Here are instructions to install composer:
https://www.hostinger.com/tutorials/how-to-install-composer#gref
(See Option 3)

Here are instructions to install npm:
https://blog.teamtreehouse.com/install-node-js-npm-windows

Then you go to the main openemr directory and run the following commands:
[code]

[2018-09-23 16:17] bradymiller commented on #1878
btw, for npm, install the 8.12.0 LTS version (the website offers 2 versions)

[2018-09-25 20:07] arnabnaha commented on #1878
@bradymiller
I see that the vendor folder is missing from the recent codebase and without this folder, it is giving an HTTP 500 error on trying to open openemr. When I install the openemr from the recent dev tip - it doesnot work after step 4. I tried upgrading the database, but the whole template is distor.ted and login page looks worst

[2018-09-26 10:36] stephenwaite opened #1880 "post zero dollar payment eob posting"
it's just not working on the dev demos for Phil, Wanda or Susan. Ideally it would post $0.00 and the balance would become pt due.

is there a bat light for @sjpadgett  ? :bat:

[2018-09-26 11:54] scorpions786 opened #1881 "PostCalendar Module"
The module need to be optimized
it seems in large data the calendar is having  delay specially in weekly view
the issue seemed to be from two factors

compiling the view or
 the following SQL query
https://github.com/openemr/openemr/blob/9a7444a23561855929ba1133cfc28ddf881eb6e6/interface/main/calendar/modules/PostCalendar/pnuserapi.php#L1088

is there's any idea how to enhance the query or the spe

[2018-09-26 11:55] scorpions786 commented on #1881
#Enhancement

[2018-09-27 09:33] scorpions786 commented on #1881
yes the case was with multiple  recurring appointments
there are several solutions in my mind
but it may need some work to change the flow of these appointments

one of them
- is to reduce PHP/JSON use - such as creating database table with the recurrent appointments dates for specific event_id

or maybe another one is to make confirm button for those recurrent appointments to make suppurate event

[2018-09-27 22:02] mdsupport commented on #1881
With current structure you cannot avoid PHP - the fields track exceptions.  This module shows its age - an era when disk was expensive and developers tried to save on repeating columns.  Now disk is cheap and development effort in maintaining two routines for getting a list of appointments throughout the code is expensive.  Have you looked at just creating actual records with a parent_recur_id (pr

[2018-09-28 19:47] arnabnaha commented on #1878
Hi Brady,
I am doing the steps as told by you. Currently composer is building things in my openemr directory. Do i need to install composer each time i bring in the changes from github??

[2018-09-29 03:33] bradymiller commented on #1878
hi @arnabnaha ,
To clarify installing composer and npm are only done once on the computer.

But the build steps (the 4 commands above), should be done whenever you bring changes from github (since those libraries may get changed or the theme files may of been updated).

-brady

[2018-09-29 13:19] stephenwaite opened #1885 "sql_upgrade fails if missing fields in version"
https://community.open-emr.org/t/help-failure-of-sql-upgrade-php/10803/6?u=stephenwaite

prob because of this in globals

https://github.com/openemr/openemr/blob/master/interface/globals.php#L266

[2018-09-30 11:13] arnabnaha commented on #1878
Thanks Brady...all done smoothly and working fine

[2018-10-02 06:30] matrix-amiel commented on #1877
Hi @d3sandoval .
I agree with the problem of the inline styles. Right now all those styles are overwrote in the rtl.scss file.
until we will move all the styles to scss files we can put all the css of rtl.scss file into mixin and include it only in rtl files.
Something like -
[code]
What do you say?
I can try to make pull request with the scss changes and you will merge it into the npm build proce

[2018-10-02 13:46] eyalvo-matrix opened #1889 "Patient file->Prescription->add : months names are not translated"
Patient file->Prescription->add :  months names are not translated .

![image](https://user-images.githubusercontent.com/20621444/46352427-6b0e6400-c662-11e8-9157-7da176817894.png)

This is because of smarty functions
file: function.html_select_date.php line: 191 parameter: $month_names

[2018-10-03 13:45] d3sandoval commented on #1877
@matrix-amiel works for me!

[2018-10-04 01:02] bradymiller commented on #1889
hi @eyalvo-matrix ,
The best thing to do here would be to convert this to a standard (the one used in openemr) date widget.
(luckily, this mechanism is only used in this 1 place)
-brady

[2018-10-05 15:45] #1878 closed

[2018-10-06 19:47] sloboy opened #1897 "bug in calendar when there are multiple facilities"
Steps to reproduce:
clone master
docker-compose up (easy developer)
add a second facility, making sure to check service location
navigate to calendar
choose any facility other than all (happens in day, week, month views)

Result:

Query Error
ERROR: query failed: select distinct id, username, lname, fname, authorized, info, facility, suffix from users where username != '' and active = 1 and id lik

[2018-10-06 20:17] stephenwaite commented on #1880
Workaround exists if you enter 0.00 in the Pay box and 0.00 in the Adjust box it will save the entry but an Unknown adjustment is also added.

Ideally the boxes would default to 0.00 upon entering the posting screen maybe based on a Global that could trigger the W (write off adm adjust) to be disabled. Then you could choose the appropriate dropdown like To ded'ble which is pretty common these days

[2018-10-06 20:31] stephenwaite commented on #1897
nice report @sloboy , looks like it's here https://github.com/openemr/openemr/blob/b77fb95af8ef9fc1da58e9e6842520951a61857f/library/patient.inc#L323

[2018-10-06 20:32] stephenwaite commented on #1880
both :)

[2018-10-06 20:49] sloboy commented on #1897
Yup that fixes it...I thought it would, but I am so new to this that I needed some external confirmation.  I created a new branch on my project and will create a pull request.

Thanks @stephenwaite

[2018-10-07 01:41] sjpadgett commented on #1880
@stephenwaite Just how long has eob invoice been opening to a browser tab instead of a popup?  The code is written to be opened as a Window popup however it is called via an anchor href from eob search!!!
Would a normal work flow include having more than one invoice opened at a time for posting? Certainly it is broke this way and would drive me crazy if I was using. How do 'ya think we should fix?

[2018-10-07 14:16] stephenwaite commented on #1880
hi @sjpadgett , happy to look at https://github.com/openemr/openemr/blob/master/interface/billing/sl_eob_invoice.php if can lend a helping hand

[2018-10-07 14:28] sjpadgett commented on #1880
Seems every release somebody breaks my notify/send invoice to portal . Getting old....

[2018-10-07 14:34] stephenwaite commented on #1880
bummer :man_shrugging:

[2018-10-07 18:28] stephenwaite commented on #1849
it seems the required inclusions act more like optional inclusions since it works when you set them up as required

[2018-10-08 17:40] gsarma opened #1906 "Investigate XRoad as a possible data exchange framework"
_[I'm new to OpenEMR and @MatthewVi suggested that I open some issues with a few ideas I had suggested in a previous conversation.]_

Estonia has launched a joint research institute with Finland called the [Nordic Institute for Interoperability Solutions](https://www.niis.org) to develop [XRoad](https://github.com/nordic-institute/X-Road), an open-source, decentralized, data exchange framework tha

[2018-10-08 23:48] sjpadgett commented on #1880
@stephenwaite Can you test for me please. Several changes and tried to make workflow of form easier. Only two file.
https://github.com/openemr/openemr/pull/1907

[2018-10-09 05:40] matrix-amiel commented on #1877
Done.
PR #1904

[2018-10-09 05:40] #1877 closed

[2018-10-09 05:51] bradymiller commented on #1849
I remember at some point being thrown by that also (ie. seems to do the opposite).

[2018-10-09 12:51] stephenwaite commented on #1880
sure, will do later today, thanks @sjpadgett

[2018-10-09 12:53] sjpadgett commented on #1880
I'm getting ready to bring this into code and i'll see if Brady will reset
demo's for us.

On Tue, Oct 9, 2018 at 8:51 AM stephen waite <notifications@github.com>
wrote:

--
Jerry Padgett
Padgett's Consulting
Brandon, Florida 33511
sjpadgett@gmail.com <sjpadgett@gmailo.com>

[2018-10-09 13:12] stephenwaite commented on #1880
ok, that's cool, was going to use https://github.com/openemr/openemr/blob/7657a7342586abc9e65aacad8fe86adf24c90224/CONTRIBUTING.md to test it out

[2018-10-09 13:28] sjpadgett commented on #1880
Okay, do you want me to bring PR in first or wait 'till you test?

[2018-10-09 13:30] stephenwaite commented on #1880
don't wait for me, got a meeting :(

[2018-10-09 13:43] sjpadgett commented on #1880
Brought into code base. Hope this gets us there.

[2018-10-10 01:33] stephenwaite commented on #1880
i see the 0.00s :) but when i click save and stay after choosing to ded'ble it says nothing to post

goal here is to just get this balance to pt due with as few clicks as possible

[2018-10-10 01:35] sjpadgett commented on #1880
So 0.00 pay and 0.00 adjustments and just record the reason?

On Tue, Oct 9, 2018 at 9:33 PM stephen waite <notifications@github.com>
wrote:

--
Jerry Padgett
Padgett's Consulting
Brandon, Florida 33511
sjpadgett@gmail.com <sjpadgett@gmailo.com>

[2018-10-10 01:35] stephenwaite commented on #1880
yup

[2018-10-10 01:42] sjpadgett commented on #1880
I see, I would not have considered. I'll change and add ded'ble as default id disable calc is set. What else do you see while i'm here?

[2018-10-10 01:53] stephenwaite commented on #1880
when you close it can you have it reload the past encounters billing view?

[2018-10-10 02:40] sjpadgett commented on #1880
So would this be a correct post?
![image](https://user-images.githubusercontent.com/1859985/46710052-50189280-cc14-11e8-977d-7c7a3538253e.png)

[2018-10-10 06:15] sjpadgett commented on #1880
https://github.com/openemr/openemr/pull/1911
Best to just set your default adjreason in Lists. Didn't know what ya meant with return to form so I left. Hopefully this gets what you needed with zero adjustments.

[2018-10-10 11:48] stephenwaite commented on #1880
ok, thanks

what i meant was when you click save and exit or close could you return to the past encounter billing view for the person?

![saveanexit](https://user-images.githubusercontent.com/5618372/46734214-8ed43a00-cc60-11e8-8103-1c6aec21d6cf.png)
![pastencbillingview](https://user-images.githubusercontent.com/5618372/46734222-94318480-cc60-11e8-9f1b-0ee43ae85335.png)

next would like to look i

[2018-10-10 13:34] sjpadgett commented on #1880
Okay. I think i'd rather see a button to go to encounter summary instead of auto going on invoice close(doesn't feel right). Advancing insurance would be a good thing and will look at. First I want to get the new portal alert message feature in then will circle back to this.
![image](https://user-images.githubusercontent.com/1859985/46739957-aa930c80-cc6f-11e8-9fda-c81b18743cdb.png)

[2018-10-10 15:10] stephenwaite commented on #1880
Ok, cool

[2018-10-10 17:46] sjpadgett opened #1913 "New encounter can be created by user w/o provider(authorize) flag set in Users."
Kind of defeats the purpose of the flag. Either should not allow creation or allow the newly created encounter to allow re-save to new provider or after provider flag is set in users.
Is this by design or is this a bug clinicians?

[2018-10-10 18:59] sunsetsystems commented on #1913
Not a bug, as providers can have another staff person do this as well as entering clinical data. Access control should be checked instead.

[2018-10-10 19:15] sjpadgett commented on #1913
Yep, I get that but, if the logged in user does not have their provider flag checked, this means the encounter is created with that user as the provider of record for the encounter. Meaning, any future actions against the encounter that require the forms authorized flag set to true will be disregarded.
This becomes problematic when acting on the encounter, CCM comes to mind. Even encounter summary

[2018-10-10 20:08] sunsetsystems commented on #1913
The Fee Sheet lets you enter rendering and supervising providers. It seems reasonable to put that in the visit summary form as well. In any case it seems wrong to allow a non-provider user to be either of those.

[2018-10-11 23:31] sjpadgett commented on #1880
@stephenwaite If I add button to go to Past encounters summary should I force to billing view regardless of how Global is set? Or, do I not go if Billing View is not turned on or... or... or???

[2018-10-13 03:43] sjpadgett commented on #1880
@stephenwaite Needs a thorough testing but seem to be much nicer now. Still needs better error reporting for era parsing and upload.
Let me know.
https://github.com/openemr/openemr/pull/1918

[2018-10-13 13:28] stephenwaite commented on #1880
ok, cool @sjpadgett , i'll play with it after morning chores

gotta learn me some jscript :)

[2018-10-13 18:46] sjpadgett commented on #1880
Whats broken? ie doesn't go, nothing happens, button missing...

[2018-10-13 19:09] sjpadgett commented on #1880
@stephenwaite yep, needs more thought...

[2018-10-13 21:17] stephenwaite commented on #1880
maybe don't need a separate button just have save and exit go back to encounter (billing view) and close go back to the main encounter page?

[2018-10-13 21:30] sjpadgett commented on #1880
I think we are on two different pages! I'm working from opening invoice from Posting. Sounds like you are opening from encounter

[2018-10-13 21:57] stephenwaite commented on #1880
ok, that makes sense

[2018-10-13 22:08] stephenwaite commented on #1880
from the eob screen it seems like the to ded'ble works the first time but then doesn't unless you check disable adjustment

[2018-10-15 01:33] stephenwaite commented on #1880
thanks again for looking at this code for us jerry @sjpadgett , it was nice to finally chat with you in person; will test it out tomorrow :)

that's pretty funny that we stumbled on to this for our workflow instead of the posting screen, it just shows how wild the billing situation is in openemr

am thinking that thanks to you this will improve going forward to the point where we can compete with

[2018-10-15 14:41] sjpadgett commented on #1880
Hi @stephenwaite Ya needed to set the user and/or Global to turn on. ie Disable Auto Adjustment Calculations in EOB Posting.
Remember that from Past Encounters the Global/User setting takes precedence where in the Posting/EOB the user setting toggle in Title bar takes precedence. I went up and turned on the Globals and worked for me.

[2018-10-15 15:31] stephenwaite commented on #1880
oh right sorry

[2018-10-15 15:35] stephenwaite commented on #1880
great work on this @sjpadgett , thank you

[2018-10-15 15:35] #1880 closed

[2018-10-15 15:44] sjpadgett commented on #1880
Maybe now we can get some love :) I just got that btw...

[2018-10-15 19:29] MatthewVi commented on #1906
Do we know if XRoad works with REST APIs?

[2018-10-21 00:31] petersmm commented on #1661
So I just upgraded my PHP as well from 5.4 to 5.6 and then upgraded to 5.0.1 latest from 5.0.0_patch8.

[2018-10-21 02:41] robertdown commented on #1661
Hi @petersmm this isn't an actual error, just a notice so everything will work as expected. I would recommend upgrading to the latest PHP soon, as PHP5.6 will stop receiving security updates later this year. I'll double check for the error on PHP7 but since it's just a notice, if it is only occurring on PHP5.6 I probably won't address it.

[2018-10-21 17:24] petrosmm opened #1931 "Notice while upgrading 5.0.0 to 5.0.1"
`Notice: Undefined index: translate_no_safe_apostrophe in C:\xampp\htdocs\openemr\library\translation.inc.php on line 46` have seen this before upgrading 5.0.0 to 5.0.1 on both php 5.6 and php 7.2. Any ideas where to start?

Update: also see
`Notice: Undefined index: language_direction in C:\xampp\htdocs\openemr\library\core\src\Header.php on line 129
Notice: Undefined index: basePath in C:\xampp\

[2018-10-21 17:28] petrosmm commented on #1661
@robertdown I did upgrade to 7.2 and I still have it along the issues referenced in #1931

[2018-10-21 20:05] petrosmm commented on #1931
It seems that this is related to upgrading from php 5.4 (xampp) to php 5.6 (or even 7.2). Any ideas?

[2018-10-22 13:27] #1931 closed, assigned to nobody

[2018-10-24 03:02] robertdown commented on #1661
Interesting, I'll take a look at it and see what's going on.

[2018-10-24 12:52] petersmm commented on #1661
Like I said, it's still showing up as notices. But I don't know if that's expected.

[2018-10-24 20:35] serixscorpio opened #1940 "Unresolved merge conflict in `forms/eye_mag/view.php`"
While looking to reproduce issue #1481, I came across a merge conflict that somehow made it into `master` branch.  I presume this is done by accident.  This [merge](https://github.com/openemr/openemr/pull/1767/files#diff-8d5faeaf4ceb4e7e2737b4b10908d13cR3902
) introduced the conflict. The current file in master: https://github.com/openemr/openemr/blob/bd4a9958bd64454c2cc3e4c3d9bf2e52de095e38/inter

[2018-10-24 21:05] bradymiller commented on #1940
hi @serixscorpio ,
Thanks for reporting that! Just posted a fix for it here, which is testing well and will bring into codebase soon:
https://github.com/openemr/openemr/pull/1941
-brady

[2018-10-25 04:06] abhid opened #1942 "Demo sites do not function"
Just an FYI that the demo site username and password combinations do not work.
Thank you

[2018-10-25 06:07] bradymiller commented on #1942
hi @abhid ,

Thanks for the report. There have been issues with the main demos (bad actors appear to have automated credential changes on the official demos). We are working on a strategy to stop this. See here for more details:
https://community.open-emr.org/t/openemr-demo-fails/10905

Also note there are other demos (that are using the same version as the official demos) here:
https://www.open-e

[2018-10-25 11:56] abhid commented on #1942
Excellent. Thank you @bradymiller
I should have looked on the community.

[2018-10-25 11:56] #1942 closed

[2018-10-25 20:47] serixscorpio commented on #1940
fixed in #1941

[2018-10-25 20:47] #1940 closed

[2018-10-31 19:47] stephenwaite opened #1952 "system slows to a crawl with clinical reminders enabled in 5.0.0"
probably will have to deep dive into the amc classes :0

https://github.com/openemr/openemr/blob/6cf58036a3eea3aaede3cfffc6e79110d6f1b402/interface/patient_file/encounter/forms.php#L784

the above line references a function that was in the mysql process list consuming a lot of memory, the practice has quite a few patients and wondering if the function needs optimization

[2018-11-02 17:35] stephenwaite opened #1955 "unknown tab after click on content in messages in dev demos"
choose a pt, go to messages, if there's a message click on content else click on "to add notes, please click here", then click on content

[2018-11-20 07:16] danehrlich1 opened #1983 "edit or replace file_get_contents()"
`file_get_contents()` function has many security concerns, mainly around how it implements old versions of SSL.

To fix this, we can either add in additional parameters to `file_get_contents()` (see below) or a library like Guzzle HTTP can be used (I believe Laravel uses this).

[code]
https://github.com/guzzle/guzzle

[2018-11-20 07:23] ghost opened #1984 "analyze (and possibly replace) each unserialize() call"
`unserialize()` is a problematic PHP function with quite a few exploits.

I believe the "ideal" solution is using JSON instead, but as long as we sanitize what is being passed to `unserialize()` and use the additional parameters we can call in the function we should be good.

https://paragonie.com/blog/2016/04/securely-implementing-de-serialization-in-php

[2018-11-20 07:32] danehrlich1 opened #1985 "remediate target="_blank" exploit in URLs"
See:
- https://developers.google.com/web/tools/lighthouse/audits/noopener
- https://medium.com/@jitbit/target-blank-the-most-underestimated-vulnerability-ever-96e328301f4c

Links like: `<a href="https://examplepetstore.com" target="_blank">...</a>`
Should be changed to: `<a href="https://examplepetstore.com" target="_blank" rel="noopener">...</a>`

Either `rel="noopener"` or `rel="noopener norefer

[2018-11-20 07:58] danehrlich1 opened #1986 "CSP Policy and Config"
Content Security Policy is something the web server adds to HTTP responses and requests. It's like an embedded firewall in every packet sent to and from your server. Already have this working in the `openemr-devops` repo but need to do further testing.

- Google recommendations for CSP: https://developers.google.com/web/fundamentals/security/csp/
- Build CSP programatically instead of in `httpd.co

[2018-11-20 12:38] sjpadgett commented on #1983
I use Guzzle in my phpfhir and my HIE module web services(not in openemr) but php soap for Quest lab module(go figure and have I mentioned before, I hate XML:)). In the end it relies on curls SSL capability. Though, using a plugin, curl can be replaced. Point being, Guzzle is versatile and fairly light weight.
Give me JSON or give me death! hmm, has that already been said...

[2018-11-20 16:56] #1817 closed

[2018-11-26 11:46] danehrlich1 commented on #1983
@sjpadgett Thanks for this comment. If everyone hated Guzzle I was going to go with `curl` as it was also highly recommended as a secure implementation but if Guzzle already uses `curl` we are good to go :)

[2018-11-26 13:09] sjpadgett commented on #1983
@danehrlich1 If you are going to replace a native PHP function, i'd stay with curl. Just cleaner in this use case. IMO..

[2018-11-27 20:30] danehrlich1 commented on #1781
I believe this should be closed since it's already been fixed. I will be going through this entire folder as well in the next couple of days as well.

[2018-11-27 20:30] #1781 closed

[2018-11-28 03:18] stephenwaite commented on #1849
here's an issue from the forum, https://community.open-emr.org/t/influenza-immunization-is-not-clearing-clinical-reminder-of-patient-chart/11096?u=stephenwaite, if you delete all of the other required inclusions save the one you will record in the patient summary immunization, a new record is added to rule_patient_data

[2018-11-29 04:31] gsarma commented on #1906
I don't know enough personally about the technical details of the project, but here is an article from earlier in the year discussing X-Road and REST:

https://www.niis.org/blog/2018/4/3/x-road-and-rest

[2018-11-29 05:22] gsarma opened #1997 "Version control for patient notes"
One of the biggest complaints healthcare workers have with the current EMRs is the clutter of patient records.  Charts are filled with redundant information that has been copied and pasted from one provider to the next.  In an inpatient setting, patients can literally have _**hundreds**_ of useless tiny notes indicating that a nurse entered a room and performed some small task.  And all of these n

[2018-12-03 01:27] ghost opened #2010 "replace eval() for js files"
I believe this is the `eval()` described here: http://php.net/manual/en/function.eval.php

It is also risky for JS and I'll find a way to replace some of the instances I uncovered as well.

[2018-12-03 01:29] danehrlich1 opened #2011 "Update out-of-date javascript assets"
There are some JS assets in `interface/modules`, `public`, and `library/js` that seem to be out of date by a couple of years and need to be updated.

Question: Why don't we just load these libraries via `package.json`?

[2018-12-03 01:33] danehrlich1 commented on #1986
Currently this is what I've got after playing around with: https://report-uri.com/home/generate

`Content-Security-Policy: default-src 'self' data: 'unsafe-inline' ; media-src 'none' ; object-src 'none' ; worker-src 'none' ; upgrade-insecure-requests; block-all-mixed-content; reflected-xss filter; referrer no-referrer-when-downgrade;`

Will need to do testing next.

[2018-12-03 01:36] danehrlich1 opened #2012 "Remove in-line <script></script> tags where possible"

[2018-12-03 01:41] danehrlich1 commented on #2011
I think the process will be:

1. Update any assets that point to the old versions of jquery hanging around to point to the new jquery that comes from the `package.json`
2. Delete the old assets

[2018-12-03 01:43] bradymiller commented on #2011
That is a good plan. See here for a related issue regarding the jquery stuff:
https://github.com/openemr/openemr/issues/842

[2018-12-03 01:44] bradymiller commented on #2011
(note @sjpadgett  had a good strategy that involves using a jquery compatibility module)

[2018-12-04 00:51] danehrlich1 commented on #2012
There are many places in the code that have unnecessary or longer needed <script> tags. For instance you'll see things like:

[code]

This dead code can likely be removed.

I have created this issue for anyone who wants to get a start with Open Source. I can provide additional instruction on this issue, and also if you want get you more involved in this PHP and Javascript project. Don't be afraid

[2018-12-04 01:12] danehrlich1 commented on #1985
If new to Open Source please contact me dan@ehrlichserver.com and can walk you through this issue better. Can also tell you how to get more involved!

[2018-12-06 07:30] matrix-amiel opened #2019 "package-lock.json changed when runing npm install second time"
Hi @d3sandoval @bradymiller

I found that package-lock.json was changed when I'm running command npm install, As I know this file need be updated only in the npm update command and supposed to save on stable version of dependencies libraries.
Maybe it happen beacues the script `napa && gulp -i` that run after npm intall..?
Do you know what the reason?

This it the output of cli -
![image](https://

[2018-12-06 19:16] danehrlich1 commented on #2011
Here are all the assets they seem to get added/compiled during build. Latest jquery version seems to be from 2016, with the oldest from 2008. Will need to update later / find out which we can delete:
@sjpadgett @bradymiller
![jquery-openemr](https://user-images.githubusercontent.com/3357202/49606441-0240b200-f959-11e8-9f91-d5dcd4d36376.png)

[2018-12-07 06:30] ghost opened #2024 "encrypt backups"
Raif requested this feature. Should be easy to do. PHP now has LibSodium as part of it, which is amazing encryption library.

[2018-12-07 07:49] bradymiller commented on #2011
hi @danehrlich1 ,

I updates the main summary of this PR with uptodate plan:
https://github.com/openemr/openemr/issues/842

Note I also did a tiny bit of cleanup here (https://github.com/openemr/openemr/commit/7487fc9505b6eb31f079edcd43301b74bad6d9de) just to fix a discrepancy where the actual jquery-1-2-2 is stored at public/assets/manual-added-packages/, so removed the one downloaded in the buil

[2018-12-07 08:16] bradymiller commented on #2019
hi,
I am also still trying to figure this out. Whenever I run npm install it also always seems to change. Guessing it is harmless, but not clear why. I remember @d3sandoval explaining this awhile ago, but I forgot :)
-brady

[2018-12-07 10:38] ghost opened #2026 "Secure File Upload"
Should be straight forward

[2018-12-07 10:38] danehrlich1 commented on #2011
wow ok cool thanks @bradymiller

[2018-12-08 02:17] danehrlich1 opened #2027 "Finish ModSecurity Firewall for stuff for OpenEMR"
1. Fine tune Docker containers
2. Reduce size (image currently is 3.5 GB should be able to reduce 75%+)
3. Add a CentOS / RHEL option
4. Documentation
5. If time create custom firewall security rules exclusively for OpenEMR in Lua

https://github.com/danehrlich1/openemr/blob/master/config/linux/ubuntu/Dockerfile

[2018-12-08 08:31] bradymiller commented on #842
https://github.com/openemr/openemr/pull/2028

[2018-12-08 09:48] danehrlich1 opened #2029 "Encrypt DB value in config file"
:/

[2018-12-09 07:47] matrix-amiel commented on #2019
Look this - https://github.com/npm/npm/issues/20891

I think we have different versions of npm.. ):

[2018-12-09 20:04] bradymiller commented on #2019
hi @matrix-amiel ,
Thanks for that. I just realized I was using npm version 5 in my development version! I upgraded it to version 8 (using version 8 rather than version 10 for now, since this is what the most recent of alpine uses, which is what main openemr dockers are based). And I did a npm install run and pushed this to the codebase. Hopefully this will stop all the changes in that file now.
-

[2018-12-10 12:18] danehrlich1 commented on #2029
Apparently Wordpress does this the same way so no concern.

[2018-12-10 12:18] #2029 closed

[2018-12-11 03:51] danehrlich1 opened #2035 "Random SQL stuff for Dan to Fix"
https://github.com/openemr/openemr/blob/b65513f601672ca7b9c1f8716277219f193377ae/sites/default/statement.inc.php#L556

https://github.com/openemr/openemr/blob/b65513f601672ca7b9c1f8716277219f193377ae/patients/add_edit_event_user.php#L132

https://github.com/openemr/openemr/blob/b65513f601672ca7b9c1f8716277219f193377ae/patients/add_edit_event_user.php#L139

https://github.com/openemr/openemr/blob/b

[2018-12-12 09:04] #2019 closed

[2018-12-12 11:18] danehrlich1 commented on #2035
LIBRARY FOLDER

/openemr-main/library/acl.inc, api.inc, billrep.inc, calendar_events.inc.php, clinical_rules.php, create_ssl_certificate.php, formdata.inc.php, lists.inc, log.inc, parse_patient_xml.php, spreadsheet.inc.php

library/classes/installer.class.php

# search for "sql" too next time full directory

[2018-12-12 14:33] danehrlich1 opened #2039 "ImageMagick Security Config"
Imagemagick has a security config file you can set.

Should be easy to fill out and will take a look at it later.

Low  priority for now: https://imagemagick.org/script/security-policy.php

https://medium.com/@ilja.bv/yet-another-memory-leak-in-imagemagick-or-how-to-exploit-cve-2018-16323-a60f048a1e12

[2018-12-12 21:47] mdsupport opened #2040 "Theme stylesheet link href string"
Logging a minor issue with user stylesheet href string : the version suffix is getting added twice.

`<link rel="stylesheet" href="/openemr/public/themes/style_powder_blue.css?v=42?v=42" type="text/css">`

[2018-12-12 23:28] mdsupport opened #2041 "aquabg.gif"
Light theme contains few background urls

[code]

When the themes are invoked from public/themes directory, link to interface/pic files is broken as shown below.

`https://seven.openemr.io/openemr/public/pic/aquabg.gif 404 (Not Found)`

Wouldn't it be better to remove reliance on gif and use standard background from bootstrap (e.g. bg-light)?

[2018-12-13 09:09] bradymiller commented on #2040
hi @mdsupport ,
Are you seeing this on every script or on specific set of scripts?
-brady

[2018-12-13 21:41] mdsupport commented on #2040
Here is source of logon screen - `view-source:https://seven.openemr.io/openemr/interface/login/login.php?site=default`

`<link rel="stylesheet" href="/openemr/public/themes/style_forest_green.css?v=42?v=42" type="text/css">
`
Tried quick global search for `?v=` to locate source of the issue without luck.  Anyway browsers will ignore it.

[2018-12-15 10:02] bradymiller commented on #2041
hi @mdsupport ,
Is there a way to get rid of these, but still leave control with the main style themes?
-brady

[2018-12-15 16:50] mdsupport commented on #2041
Prior to scss, background and repeat was only alternative to hard coded background colors.  Now define a variable in the scss, replace background by background-color attribute thru the definitions with value set to that variable.

Project will save lot of effort and gain maximum flexibility if we actually [start themes by following guide from BS team](https://getbootstrap.com/docs/4.1/getting-star

[2018-12-15 16:57] mdsupport commented on #2040
Missed that one.  Thx.

[2018-12-15 16:57] #2040 closed

[2018-12-17 14:55] matrix-amiel opened #2048 "Sent messages"
Hi.
In the messages in patient file there is tab for sent messages.  This tabs is always empty and I found  problem in the sql query -
'SELECT id,date,body,user,activity,title,assigned_to,message_status FROM pnotes AS p WHERE date LIKE ? AND pid LIKE ? AND **p.pid = p.user** AND deleted != 1 ORDER BY date DESC LIMIT 0, 15'
It's always empty because pid is integer and user is string..  why if they

[2018-12-17 17:12] sjpadgett commented on #2048
Long time,
Let's just fix instead of remove. Best I can figure out is that the sent messages will only pertain to messages sent by logged in user that are subject to current patient. But @bradymiller needs to clarify as he wrote most of pnotes, I believe. You could modify the query with p.user=? ($username) and add username where the function is called or set username from super $_SESSION['authUse

[2018-12-17 19:55] sjpadgett commented on #2048
The closer I look at this issue the more I believe this may have been meant for ZH external portal. Looking at patient summary, Sent Items tab is turned on only if external portal is turned on thus, leading me to assume the same is meant for Messages screen. It's the only sense I can make of this is for a portal patient being the user for a sent note via his pid from external portal. Otherwise, i'

[2018-12-18 17:21] sjpadgett opened #2049 "5.0.1 to 5.0.2 Sql Upgrade Fails (form_eye_mag_orders)"
Consistently fails with:
`ERROR: query failed: ALTER TABLE `form_eye_mag_orders` ADD UNIQUE `VISIT_ID` (`pid`, `ORDER_DETAILS`, `ORDER_DATE_PLACED`)
Error: Duplicate entry '1473--0000-00-00' for key 'VISIT_ID'`

Probably needs to be `ADD UNIQUE INDEX`
@ophthal You got this? I don't want to change unless something different is meant for this.

[2018-12-18 17:31] sjpadgett commented on #2049
A side note: The way the upgrade is set up if any item fails after form_eye_base is created then another run of sql_upgrade won't have a chance to complete the eye form upgrades because every item is enclosed in a  `#IfNotTable form_eye_base` conditional. I know its a pain but recm testing all items separately.

[2018-12-18 20:22] matrix-amiel commented on #2048
@bradymiller would you have information about this feature? It's active or could removed?

[2018-12-18 20:34] sjpadgett commented on #2048
It shouldn't be removed because it is part of ZH external portal(and intern, MU certification), at least for the dashboard messages widget. The issue should be whether to hide the tab or not because it is useless for normal OpenEMR messages work flow!

[2018-12-19 02:41] bradymiller commented on #2048
hi @matrix-amiel and @sjpadgett ,
Agree with @sjpadgett  that we should just hide this if the offsite portal is not enable.
(and to clarify, the writing of p_notes was before my time :) , but I am responsible for allowing this Sent Items into the codebase in the prior MU2 madness :) )
-brady

[2018-12-19 14:48] sjpadgett commented on #2049
@ophthal I've tested this with ADD UNIQUE INDEX and works as far as completing upgrade. I'm pretty sure KEY and INDEX are just synonyms so this fix should be good.

[2018-12-21 08:44] danehrlich1 opened #2053 "Fix SQL Issues in these files"
sql-injection fixes in library/classes directory

SQL queries in the application need to use binded parameters.

Note, this application uses the ADODB library (basically an ORM): http://adodb.org/dokuwiki/doku.php

Please contact dan@ehrlichserver.com for more information on getting started.

[2018-12-21 08:48] danehrlich1 commented on #2053
Please see this commit for changes that were made just like this to certain parts of the app: https://github.com/openemr/openemr/pull/1890/commits/35b409659b5f73582647f90cd00284c909f03475

Your task will be to find other parts of the app that need this update. Some of the SQL queries you'll find will be bizarre and not worth redoing (Brady Miller will probably need to closely look at the query to

[2018-12-21 08:51] danehrlich1 opened #2054 "Create first timers guide for new devs looking to get started in OpenEMR"
We have a contributing guide, but this would be for "first timers" / ppl new to development.

There is a manifesto here: https://www.firsttimersonly.com/

The people I've had who've reached out to me to help with OpenEMR have all been first timers so think this is worth doing / will create a quick FirstTimers.md or something for approval.

Actually I found Matt Vita via First Timers Only tag I thi

[2018-12-21 09:03] danehrlich1 opened #2055 "Bring parts of codebase up to PSR-2"
Issue for first timers only currently. Please contact dan@ehrlichserver.com for more info.

PHP has style guidelines that most people agree on and were formulated via the PHP FIG group: https://www.php-fig.org

OpenEMR aligns currently to PSR-2: https://www.php-fig.org/psr/psr-2/

Please go through the `/contrib/forms` folder and align the spacing, style, etc to PSR-2. Don't worry about getting ev

[2018-12-21 11:08] harshlele commented on #2012
Hey, I'm new to open source. Can I work on this?

[2018-12-21 11:18] danehrlich1 commented on #2012
1. All yours, I’ll reserve it for you for a week.

1b. Can you write a bit about your background. Doesn’t matter if you don’t
have any experience just want to know what further help you may need.

2. Don’t have to do everything, just a good amount of instances. At least
15 edits would be the minimum though for your first pull request.

3. Let me know if you need any help with general coding, getti

[2018-12-21 12:15] danehrlich1 commented on #2053
NOTE: for the first pull request, start in the `portal/` folder. If you go elsewhere you might end up doing work that has already been done by someone else in another pull request that hasn't been merged. I've checked and there are queries waiting to be fixed: https://github.com/openemr/openemr/tree/master/portal

[2018-12-21 12:22] danehrlich1 commented on #2012
example in actual codebase: https://github.com/openemr/openemr/blob/bd4a9958bd64454c2cc3e4c3d9bf2e52de095e38/interface/main/tabs/main.php#L37

[2018-12-21 13:13] harshlele commented on #2012
Hey thanks for giving me this issue. Should i remove just empty inline script tags, or any inline script tag? (is there a way to check for sure that the removed javascript is unnecessary?)

have any experience just want to know what further help you may need.

I'm an electronics student from India. I have done software development before, but mostly in java/android. I'm looking to get more experie

[2018-12-21 13:18] danehrlich1 commented on #2012
1. Just Empty inline script tags

2.  think I posted an example above

3. You’re removing 100% dead code that does
nothing and is left over from a legacy codebase.

4. I’ll check your commits to make sure they don’t do anything

5. Can you fork the OpenEMR repo, do a couple of commits of changes to your
forked repo, and then I can look at it to make sure it’s good / doesn’t
affect anything else? C

[2018-12-21 14:05] harshlele commented on #2012
Hey thanks for clarifying. I was confused, because I think the example you posted DOES have javascript inside the script tag(i think it ends at line 143: https://github.com/openemr/openemr/blob/bd4a9958bd64454c2cc3e4c3d9bf2e52de095e38/interface/main/tabs/main.php#L143)

I'll reply once I've made the commits in my fork.

[2018-12-21 14:08] danehrlich1 commented on #2012
Wow I’m sorry and my mistake. Good catch.

Let me know if you have trouble finding others.

Also I have other issues I can start you with on the front-end later in a
day or two if you’re interested.

On Fri, Dec 21, 2018 at 8:05 AM harshlele <notifications@github.com> wrote:

[2018-12-22 04:51] harshlele commented on #2012
Hey, I've committed a change:
https://github.com/harshlele/openemr/commit/e4dca3ec0d367ea2df5b40287e0be176c4e98c7e

[2018-12-22 19:35] danehrlich1 commented on #2012
Hey wow excellent work. I didn't think this would be all good to go on the first try. Can you open a pull request to the OpenEMR Repo?

We'll confirm the merge, and then congratulations you've just updated code for 30 million people :)

[2018-12-22 19:36] danehrlich1 commented on #2012
NEXT STEPS:

1. Can you look for other spots where this is present in the code base?
2. Do you want other simple issues like this to work on?
3. Is there anything more challenging you'd like to work on long term? Like Javascript coding, PHP coding, etc?

@harshlele

[2018-12-22 19:38] danehrlich1 opened #2058 "Create Robots.txt file and place in top level directory"
This will dramatically improve security of OpenEMR.

Just create a quick deny all Robots.txt file and place in the top level folder.

Leaving this open for first timers since it's straightforward.

Contact me at dan@ehrlichserver.com if you'd like to get started or just comment below.

[2018-12-23 01:37] danehrlich1 commented on #2027
Closing and shifting to the new Docker repo

[2018-12-23 01:37] #2027 closed

[2018-12-23 01:37] danehrlich1 commented on #2039
Closing and moving to Docker repo

[2018-12-23 01:37] #2039 closed

[2018-12-23 03:52] danehrlich1 commented on #2058
@rachelkam5 Someone else reserved this issue a couple of hours ago. I am trying to add more issues that are for first-timers-only though.

Do you have a PHP background (3 months+ experience)? Or are you brand new to HTML/JS/PHP? Either is fine but there are basically two sets of issues that we have "in the backlog" I can pull from so that's why I ask.

Also are you transitioning to software dev fr

[2018-12-23 05:30] harshlele commented on #2012
Hey thanks for merging my PR. I'd like to work on javascript code. I'm looking to get more experience in frontend dev.

[2018-12-23 09:10] bradymiller commented on #2049
There was so much going on here, that I gave the advice (sounds like bad advice :) ) for making this all 1 nuclear step (ie. if form_eye_base is not yet there, then do it all). The upgrade works without data (ie. or else all the dev demos without data will fail), but it sound like it's breaking when there is real data in those forms; is that the issue?

[2018-12-23 14:57] sjpadgett commented on #2049
In this case, even if upgrade fails there isn't any adverse effect on OpenEMR proper running(although api prob shouldn't work). I too wondered about the demo farm which only brings me back to a concern i've had about our automated script upgrades/installs. Will the entire upgrade or install fail if the sql upgrade fails? I have to stop myself from running down these little mysteries as my energy i

[2018-12-23 17:53] bradymiller commented on #2049
hi @sjpadgett ,

The sql upgrade script basically breaks and stops when there is an error. I know how to cheat a bit when checking this on the demos by looking a their setup log scripts :) Do a search for 'CREATE TABLE `api_token`' here and you will see what I mean:
https://seven.openemr.io/log/logSetup.txt
(the fact that the upgrade script got this far means that it didn't fail at the prior steps

[2018-12-23 18:14] sjpadgett commented on #2049
Okay thanks. My guess is version as well. This kind of stuff certainly keeps one on their toes. Nice logs @bradymiller

[2018-12-23 22:46] danehrlich1 opened #2064 "Feature-Policy and Other Things"
@harshlele

NOTE: being a frontend dev is knowing Javascript, and it's also knowing how browsers work and interact with your code, how they render the DOM javascript manipulates, etc. Following stuff will help you with that. Will also send you a couple of good/quick PDFs to read after you're done with this issue.

1. Download OpenEMR
2. Fix the follow security vulnerabilites in screenshot below by

[2018-12-24 12:14] harshlele commented on #2064
Hey thanks for assigning me this issue. I'll submit a PR by the end of the week.

[2018-12-25 03:31] danehrlich1 opened #2067 "Rest API should use “state” parameter"
Should be an easy fix and I can commit this later once I review it more.

Security upgrade you can do to prevent CSRF attacks

https://auth0.com/docs/protocols/oauth2/oauth-state

We have to generate a random string, encrypt it, and check that it’s the same when it comes back. Max 8 lines of code maybe

[2018-12-26 05:38] danehrlich1 commented on #2064
Yes update it to the highest “minor” release. Going to 4 (“major”) would
100% break things so good you clarified.

https://semver.org/

On Tue, Dec 25, 2018 at 11:26 PM harshlele <notifications@github.com> wrote:

[2018-12-26 13:18] harshlele commented on #2064
So I read about the Feature-Policy header, but what file do you actually add the headers in? I googled a bit about Apache, but I can't find any ".htaccess" file in the code

[2018-12-26 18:12] danehrlich1 commented on #2058
@rachelkam5 ?

[2018-12-26 18:31] bradymiller commented on #2064
Hi @harshlele and @danehrlich1 ,

For docker and openemr dev environment, would rec this instead:
https://github.com/openemr/openemr/blob/master/CONTRIBUTING.md#code-contributions-local-development

That 5.0.2 docker posted above is only updated manually from most recent codebase every couple weeks. The docker mechanism I linked above will use most recent codebase (or any other github repo/branch

[2018-12-26 18:32] bradymiller commented on #2064
btw, agree that docker rocks :)

[2018-12-26 18:57] cshen4 opened #2069 "Unable to use curl examples in rest api"
Hi Everyone,

I've been trying to set up a running instance of openemr on my local machine with a working rest api and I've followed the instructions here: https://github.com/openemr/openemr/blob/master/API_README.md

However when I try to run

`curl -X POST -H 'Content-Type: application/json' 'https://localhost:8300/apis/api/auth' \
-d '{
    "grant_type":"password",
    "username": "admin",

[2018-12-26 19:58] sjpadgett commented on #2064
If y'all want a good learning experience then take a look at the many synchronous Ajax functions scattered about and look to convert to asynchronous. Some of these are a bottle neck on through put and especially look at Demographics and widgets within.
Promises are ideal for this.

[2018-12-26 20:20] sjpadgett commented on #2064
Another project. Seems the trend is to remove JQuery and use Javascript especially, if the leaning is to ES6 therefore, converting the many JQuery functions to Javascript could be very helpful.

[2018-12-26 20:48] sjpadgett commented on #2064
I don't know about Javascript as a focus but a good engineering exercise, especially for learning, is that we sorely need to have portions of OpenEMR profiled focusing on finding definitive bottle necks in our through put. Here a concentration on looking at Demographics as a major source of slow downs next to Calendar.
My opinion is that though we want to move towards a truer MVC pattern, inevitab

[2018-12-26 21:05] sjpadgett commented on #2069
@cshen4 Your issue most likely is your api calling scope. If you're calling the api from localhost then using localhost:8300 for your domain is fine. However, if the domain path to OpenEMR is not alias'ed to domain root ie https://localhost:8300 but instead path is https://localhost:8300/openemr then using https://localhost:8300/openemr/apis/api/auth should resolve.
We don't specifically require p

[2018-12-26 21:16] danehrlich1 commented on #2064
Ok super interesting. Just sent you an email Jerry for a couple of follow questions.

Sent from my iPhone

[2018-12-26 21:57] bradymiller commented on #2064
hi @sjpadgett , @danehrlich1 , @harshlele ,

I've been concentrating on migrating to new jquery version for last month or so (have gotten rid of 5 or 6 versions at this point i think):
https://github.com/openemr/openemr/issues/842

And some things I've noted:
1. jquery-ui and jquery related packages are dying (for example, jquery-ui last release was 2 year ago and last commit to their github repo

[2018-12-26 22:01] danehrlich1 opened #2071 "Create Javascript Feature That Replaces qtip2"
hi @sjpadgett , @danehrlich1 , @harshlele ,

I've been concentrating on migrating to new jquery version for last month or so (have gotten rid of 5 or 6 versions at this point i think):
https://github.com/openemr/openemr/issues/842

And some things I've noted:
1. jquery-ui and jquery related packages are dying (for example, jquery-ui last release was 2 year ago and last commit to their github repo

[2018-12-26 22:11] #2012 closed

[2018-12-26 22:14] ghost opened #2072 "Refactor asynchronous jquery"
@harshlele This is a more advanced issue. Would work on #2071 for now.

@sjpadgett So I assume just take jquery like this, and refactor it to use promises and native ES6?

[code]

[2018-12-26 22:16] danehrlich1 commented on #2064
@harshlele start working on #2071.  Feel free to ask questions on that issue thread if you run into issues. You can commit what you have now regarding updating the `package.json` for this issue and we'll bring it in.

[2018-12-26 22:16] #2064 closed

[2018-12-26 23:36] cshen4 commented on #2069
Thanks for the quick response! I've just tried running
[code]
and got the same result as before:
[code]
And I also tried replacing the `https` with `http` and got:
[code]
When I access the site on my browser, I use this url: `http://localhost:8300/interface/login/login.php?site=default` and I see the login page with no trouble. I've also attempted http://localhost:8300/apis and get this page
![ima

[2018-12-27 01:06] sjpadgett commented on #2069
`HTTP/1.0 500 Internal Server Error`
check your PHP error log for clue what is giving this 500

[2018-12-27 02:58] cshen4 commented on #2069
I'm not seeing any php logs when I try to run the curl command, not sure if I'm checking in the right place. After I run `docker-compose up`, this is what my terminal looks like:
![image](https://user-images.githubusercontent.com/16641040/50463290-df525e00-0958-11e9-9274-b27e73505ebe.png)

Nothing moves on  this log when I run the curl command. I've also try checking `docker logs 8b0d32c7ef2b(name

[2018-12-27 05:04] harshlele commented on #2064
Made a PR for the package.json updates:
https://github.com/openemr/openemr/pull/2073

I'll work on #2071 now

[2018-12-27 07:09] harshlele commented on #2071
Hey thanks for assigning me this issue.

[2018-12-27 23:36] jackrosenthal opened #2076 "ARO not created during setup"
A phpGACL ARO is not created for the default admin user during setup. I mentioned this in #2075 .

I used the username ``emradmin`` (rather than the default ``admin``) and made a separate group for the default admin. I am not sure if this has to do with it.

[2018-12-28 06:45] bradymiller commented on #2076
hi @jackrosenthal ,

OpenEMR comes installed with 6 AROs:
https://github.com/openemr/openemr/blob/master/acl_setup.php#L221-L236

And on install, the user should be set as the initial default user, and should be added to the Administrator ARO:
https://github.com/openemr/openemr/blob/master/acl_setup.php#L244-L251

-brady

[2018-12-28 08:45] jackrosenthal commented on #2076
ARO object for the user -- not groups. Sorry.

Perhaps ``$this`` was not set a few lines below when it creates the admin user ARO. I have not investigated fully...

[2018-12-29 04:21] sjpadgett commented on #2072
You just need to look at the context first and determine if you need to defer or a promise is even appropriate. I'll try to find an example and do one.

[2018-12-29 05:39] danehrlich1 commented on #2010
`interface/forms/fee_sheet/review/js`  (1 usage found)
                fee_sheet_core.js  (1 usage found)
                    69 eval(diags_matches[i]);
            `interface/main/calendar/modules/PostCalendar/pnincludes`  (16 usages found)
                `overlib.js`  (8 usages found)
                    931 winoffset = (ie4) ? eval('o3_frame.'+docRoot+'.scrollLeft') : o3_frame.pageXOffset;

[2018-12-29 05:48] danehrlich1 commented on #2010
@harshlele This will be another good issue for you when you're done with the other stuff. It's only 62 occurrence across 7 or 8 files.

1). it's quite important and I will be the best job reference you've ever for future employers if you fix this in a month or two
2). Will be very good learning. This will require knowing how to fix old Javascript code, which is 100%  part of any job and updating i

[2018-12-29 15:34] sjpadgett commented on #2071
@bradymiller What type of lab documents are images these days? I just finished Quest and LabCorp cert and didn't run across any images. Maybe xray or something? I'm just curious.

[2018-12-29 17:55] danehrlich1 opened #2080 "prevent ssh login via SMTP"
Look at these config variables later. On AWS everyone is fine because port 25 is blocked:

2bounce_notice_recipient = postmaster
access_map_defer_code = 450
access_map_reject_code = 554
address_verify_cache_cleanup_interval = 12h
address_verify_default_transport = $default_transport
address_verify_local_transport = $local_transport
address_verify_map = btree:$data_directory/verify_cache
address_ve

[2018-12-30 11:47] harshlele commented on #2010
Hmm i'm gonna be busy for next few days, so I'll start on this in the new year(also, I need to read a bit about eval haha)
(Also, about the reference,I'm most probably gonna do a masters, but I REALLY appreciate it :smile:)

[2018-12-30 21:01] #2071 closed

[2018-12-31 04:12] bradymiller opened #2083 "Cleanse qtip2 from the codebase"
In order to get OpenEMR to use just a modern jquery package, we need to remove qtip2 from the project(also, qtip2 is no longer maintained, so another reason to move away from it). It's only used in a couple scripts and the use appears minimal. Can find the scripts by searching (recursively) for qtip in the interface/forms/eye_mag directory.

This code here is actually for a really cool modern look

[2018-12-31 04:15] bradymiller commented on #2071
hi @sjpadgett ,
Agree not much; pictures of stuff like rashes and skin lesions, though, will be images. Thanks for your question, though, since it reminded me to ensure this feature worked with PDF :)

[2018-12-31 04:57] sjpadgett commented on #2071
@bradymiller It appears we no longer generated the bootstrap min versions both js and css. Noted today testing portal and then checked on demo farm.

[2018-12-31 05:11] sjpadgett commented on #2071
I found them. weird

[2019-01-01 14:48] danehrlich1 opened #2088 "Delete Old Code"
@bradymiller Going to keep this issue open/recurring to ask about non-used old code and if it can be deleted.

[2019-01-01 14:49] danehrlich1 commented on #2088
1st: Can some of these files be deleted? Does any function leverage them? One of them says it is 11 years old (!)

https://github.com/openemr/openemr/tree/88e7957cc479d89bf896df6861743205957890f2/library/classes/smtp

[2019-01-01 14:49] danehrlich1 commented on #2058
Done.

[2019-01-01 14:49] #2058 closed

[2019-01-01 15:51] harshlele commented on #2010
remove qtip expert haha. But yeah ok it should be pretty easy.

[2019-01-01 16:20] danehrlich1 opened #2089 "Sandbox policy to <iframe> tags"
A big way to improve the security of iframes is by using the `sandbox` policy. Example:

https://html.spec.whatwg.org/multipage/origin.html#sandboxed-modals-flag
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/iframe

`<iframe sandbox="allow-forms allow-top-navigation allow-scripts">`

[code]

[2019-01-01 16:46] danehrlich1 commented on #2010
HAH just to be clear
1. Anything involving modernizing the codebase is EXACTLY the same as securing it so that's fine
2. Deleting / cleansing the old stuff, is also pretty much EXACTLY the same thing as increasing security

@harshlele That reference is good for many years in the future too since I know you're doing a Masters so keeping this in mind :) Also not sure how far you are from Bangalore b

[2019-01-02 00:32] danehrlich1 opened #2090 "Strengthen part of username and password creation process"
This file is called when a user begins setting up OpenEMR for the first time: https://github.com/openemr/openemr/blob/master/setup.php

Make the following happen via HTML5 attributes:
- initial user password min length of 12
- database  password min length of 12

Also:
- the "initial user" of "admin" is too easy to guess
- write a PHP function (or Javascript function, can be on the front end that

[2019-01-02 00:33] danehrlich1 commented on #2090
![openemr7](https://user-images.githubusercontent.com/3357202/50577711-aa7c5600-0df3-11e9-84f1-95eedbcacc12.png)

[2019-01-02 05:01] alpha-gamma commented on #2090
I would like to take this up.

[2019-01-02 05:03] danehrlich1 commented on #2090
reserved for you for the next week.

Thanks @alpha-gamma

[2019-01-02 05:15] danehrlich1 commented on #2090
@alpha-gamma Last thing. After you're done, if you enjoy working on this let us know. Can always create more issues like this that are meant for people new to the project.

[2019-01-02 06:14] harshlele commented on #2083
I just commented out qtip in some of these files, and it seems the browser tooltip shows the label title by default. So should i create my own tooltip in those places, or just let the browser tooltip be?

[2019-01-02 08:00] robertdown commented on #784
Ideally all inline styling can be deleted. You could replace the above `<span>` with a `<small>` and let each theme CSS file handle how to display the `<small>` tag

[2019-01-02 08:02] robertdown commented on #2088
Best way to see would be to go through those files, find the class names (`sasl_interact_class` as an example) and then grep the source code for any instances of that class. None found? Bye! Even 1 usage found? Well, time to investigate.

[2019-01-02 08:03] robertdown commented on #2088
Whenever grepping, definitely don't forget to ignore the `vendor` directory and `public` directory, no need to even look in those

[2019-01-02 08:05] robertdown commented on #2072
A defer or promise may not be needed, however you can absolutely yank that request out of jQuery and just use the fetch() api. Want a mind-numbing job? Replace all `$.ajax` with `fetch` - one step closer to a jquery-less (and clean and modern) codebase.

[2019-01-02 08:07] robertdown commented on #2041
My recommendation is to yank those gifs, I'm upset they got by me when I setup light.

[2019-01-02 08:21] robertdown commented on #1997
It's an interesting thought, but I'm not sure how we'd go about solving it. While I agree notes can load up _fast_, I'm not sure the EMR is the best domain to fix it; I feel if providers stopped copy/pasting previous notes it'd solve a lot of the problem.

Regarding number one: An overarching patient history would be great, in theory. I think some are looking towards the blockchain as the solution

[2019-01-02 08:45] bradymiller commented on #2083
hi @harshlele ,
If it looks fine, then can just go with the browser one. When your PR is up, then we can test it and do more analysis on it.
-brady

[2019-01-02 08:49] bradymiller commented on #1739
php 5.6 no longer supported so removing this issue

[2019-01-02 08:49] #1739 closed

[2019-01-02 08:50] robertdown commented on #2064
Correct, as of right now we are locked into Bootstrap 3.

[2019-01-02 09:01] bradymiller commented on #1700
Issue fixed so closing

[2019-01-02 09:01] #1700 closed

[2019-01-02 09:16] bradymiller commented on #651
These tables are ready to be removed. Will just need to grep them to remove any leftovers.
pma_bookmark
pma_column_info
pma_history
pma_pdf_pages
pma_relation
pma_table_coords
pma_table_info

[2019-01-02 10:13] alpha-gamma commented on #2090
@danehrlich1 Should I update the help text message as well against the password fields?

![image](https://user-images.githubusercontent.com/1653101/50587701-ed4a3680-0ea4-11e9-8398-3ee055763b9c.png)

[2019-01-02 12:32] harshlele commented on #2083
@bradymiller
In this commit i've just commented out all instances of qtip2 use. I tested it a bit and it works fine as far as i can tell, but the UI is pretty complex so i thought just commenting it out would be better instead of completely removing it. Once you've tested it i'll remove it.

[2019-01-02 16:21] bradymiller commented on #2090
hi @alpha-gamma ,
Yes, I would do that also (btw @danehrlich1 is out of town for couple days, and I'm happy to answer any questions and review the code).
thanks, -brady

[2019-01-02 16:59] alpha-gamma commented on #2090
@bradymiller Thanks for your input. I have created the PR.
I really enjoyed working on it and would like to contribute more to the project.

[2019-01-02 17:16] bradymiller opened #2094 "Tag globals (ie. settings) that should be encrypted"
We now have a very cool mechanism to encrypt globals (ie. settings) in the Administration->Globals settings (also does the User settings), by making the data type encrypted.

Here is an example (SMTP_PASS setting) that is now in codebase to show how it works:
https://github.com/openemr/openemr/blob/master/library/globals.inc.php#L1998

And then when it is used in codebase, it gets decrypted:
https

[2019-01-02 18:54] bradymiller commented on #2090
Hi @alpha-gamma ,

Nice work on the above code, which I just brought into codebase. Since we are here, the following would also make sense:
-Add a duplicate entry for each of the 2 password entries.
-Add realtime js to ensure that 2 passwords are incorporating numbers/letters/more than 12 chars/duplicate match.

If you don't want to work on this, just let me know, and I can point you to other thin

[2019-01-02 19:02] alpha-gamma commented on #2090
Yep, it totally makes sense. I can work on it.

For validation, do we check for numbers and letters only or should we include checks for uppercase and lowercase letters as well?

[2019-01-02 19:35] bradymiller commented on #2090
Lets go all out and ensure both uppercase and lowercase letters :)

[2019-01-02 23:41] danehrlich1 opened #2095 "Fix SQL Issues in these files #1"
https://github.com/openemr/openemr/blob/54bc980dc64379d1a7cada127562d07dd9f82483/library/payment.inc.php#L109

SQL Parameters need to be bound for [security reasons](https://en.wikipedia.org/wiki/SQL_injection) in multiple places in this file.

Sample Problematic and Fixed Example:

1. `sqlQuery(SELECT aco_spec FROM categories WHERE name = $catname ORDER BY id LIMIT 1");`
2. `sqlQuery(SELECT aco_s

[2019-01-02 23:43] danehrlich1 opened #2096 "Fix SQL Issues in these files #2"
SQL Parameters need to be bound for [security reasons](https://en.wikipedia.org/wiki/SQL_injection) in multiple places in these files: api.inc, billrep.inc, calendar_events.inc.php. Look in this [directory](https://github.com/openemr/openemr/tree/master/library)(please note, though, that the library/classes/ directory is being worked on by another developer).

Sample Problematic and Fixed Example:

[2019-01-02 23:45] danehrlich1 opened #2097 "Fix SQL Issues in these files #3"
SQL Parameters need to be bound for security reasons in multiple places in these files: ~~clinical_rules.php, create_ssl_certificate.php, formdata.inc.php~~.

Sample Problematic and Fixed Example:
1. `sqlQuery(SELECT aco_spec FROM categories WHERE name = $catname ORDER BY id LIMIT 1");`
2. `sqlQuery(SELECT aco_spec FROM categories WHERE name = ? ORDER BY id LIMIT 1", array($catname));`

This is a

[2019-01-03 00:33] danehrlich1 commented on #1602
Updating config file, which is going to get further updates, can be found here: https://github.com/openemr/openemr-devops/blob/54be943e9ea55efdb6309b8a892e11603f78fd0f/docker/openemr/5.0.2/openemr.conf

[2019-01-03 00:33] #1602 closed

[2019-01-03 09:15] Nelson-Chinedu commented on #2097
hey @danehrlich1 will like to work on this issues but will need pointers on where to work in the files

[2019-01-03 09:31] bradymiller commented on #2097
hi @Nelson-Chinedu ,
Here's a good script that lots of sql-injection offenders:
https://github.com/openemr/openemr/blob/master/library/calendar.inc
-brady

[2019-01-03 15:07] bradymiller commented on #2095
hi @kristophesankar ,
I'd stay away from payment.inc.php for now. It already prevents sql injection (albeit in a older method). Would take on something more straightforward for now like script at:
library/spreadsheet.inc.php
thanks, -brady

[2019-01-03 18:12] danehrlich1 commented on #2094
Quick question, why aren’t the Global stored
in the database?

What decides if something goes in globals or the database?

Current code is fine, but I always wondered that.

[2019-01-03 18:54] kristophesankar commented on #2095
I'll take a look, thanks.

[2019-01-03 20:52] JonathanKoester commented on #2094
So, for step 1, I'm assuming I would add the tag the same way as was in the example. Do you have any advice on identifying which globals/settings are considered sensitive?

For step two, I was thinking I could just use grep to search for instances where the globals are used and ensure they are decrypted as in the example.

[2019-01-03 21:02] kkvvii84 commented on #2097
Hi,

Seen your post on reddit, just setting my machine up and will try have a look over the weekend. I am an Oracle middleware developer, been looking for a opensource project to learn new skills.

[2019-01-03 21:05] danehrlich1 commented on #2097
Sounds good and thanks for posting.

Also I worked at Oracle for 4 years. I did a lot with SOA Suite and
WebLogic.

I am actually looking to add some middleware to this project. I was going
add functionality into the Apache Web Server, but that is really hard.
Might just start intercepting the requests with middleware (Laravel)
instead. Will put these issues up later.

On Thu, Jan 3, 2019 at 1:02

[2019-01-03 21:08] kkvvii84 commented on #2097
It is SOA Suite / PLSQL / Java || (Oracle Forms / Reports) I mainly work on :) - just doing the GitHub tutorial tonight, then bed. Never ever worked on any opensource projects - hope I can help you guys somehow :)

[2019-01-03 21:12] danehrlich1 commented on #2097
Sounds good!

Send me a LinkedIn request too

https://linkedin.com/in/danielehrlich1

Sent from my iPhone

[2019-01-03 21:52] danehrlich1 commented on #1044
?

[2019-01-03 21:53] danehrlich1 commented on #1038
???

[2019-01-03 22:01] danehrlich1 commented on #1535
I have a guy I want to work on this. He'll get this done in a couple of months and he owes me a favor for a referral :)

Originally he was going to take care of the many SQL injections (back when it was 2000+ lines of code) but so many of those have been done prolly going to ask him to do this.

Features:
1. MFA during installation of OpenEMR for admin (app only)
2. Require MFA default for new use

[2019-01-03 22:05] danehrlich1 commented on #2055
@bradymiller Should I delete this issue? Why did you remove those tags?

I'm probably missing something embarrassing so go easy on me in your response :)

[2019-01-03 23:43] sunsetsystems commented on #1535
Nice. You know we already have U2F, right?
https://github.com/openemr/openemr/pull/1869
Note this code also anticipates adding more MFA methods. I'm happy to offer guidance if desired.

[2019-01-04 00:43] sjpadgett commented on #1535
I've already done the engineering and pseudo code for a custom authentication server for OpenEMR. It is needed for the FHIR Api. So a client will be welcomed.

[2019-01-04 00:54] danehrlich1 commented on #1535
Oh wow didn’t realize this was sitting on a pull request!

1. Can user or at least the admin set multiple keys? I usually set a backup key.
2. How are you handling resets?
3. So I can add App-based MFA to this code?
4. Do you have screenshots of what the UI looks like?

Sent from my iPhone

[2019-01-04 01:16] sunsetsystems commented on #1535
1. Yes any number of keys can be registered by the user.
2. An admin can reset MFA for a user via the user admin page. Check "Clear 2FA" and Save.
3. Yes you could add more MFA methods leveraging the existing code.
4. Since you have a key, try it out on one of the development demo sites! Create a user, log in, go to Miscellaneous -> MFA Management, register your key, log out and in again.

[2019-01-04 01:19] danehrlich1 commented on #1535
Ok great I am claiming this one.

By March 1st deadline there will be support for app based MFA.

I am also going to add an option for the admin to add this during the
initial setup of OpenEMR.

QUESTION: what happens if the admin loses their MFA key?

On Thu, Jan 3, 2019 at 5:16 PM Rod Roark <notifications@github.com> wrote:

[2019-01-04 01:22] sunsetsystems commented on #1535
What does "app based" mean?

If they lose their key they use their backup key. :)
Or have another admin clear it.
Or go into the database to clear it.

[2019-01-04 01:41] danehrlich1 commented on #1535
Open Source version of Duo I meant: https://www.linotp.org/features.html

[2019-01-04 01:43] bradymiller commented on #2055
hi @danehrlich1 ,

The code should already follows many of the PSR2 (there were 2 megacommits about a year ago that converted the codebase to mostly PSR2) and travis checks the new PR's for that stuff. There are several items left, which were not converted and are not checked (since manual fixing is required):
https://github.com/openemr/openemr/blob/master/ci/phpcs.xml#L6-L13

We could probably pi

[2019-01-04 01:48] danehrlich1 commented on #2055
Ahhh got it.

Really just created this issue as an easy one for first timers but now we
have plenty of those.

My commits are totally not PSR2 and will fix these / look into this later
too.

On Thu, Jan 3, 2019 at 5:43 PM Brady Miller <notifications@github.com>
wrote:

[2019-01-04 02:02] bradymiller commented on #2055
hi @danehrlich1 ,
Any PR you do on the main openemr repo will get checked by travis for the PSR2 rules (minus the exclusions linked above to it); you'll see the travis fail at the bottom of the PR. We don't push to hard for developers to follow it since I can fix them in a commit (I just run a php_codesniffer command on codebase that takes about a minute) after bringing in the PR. If we do net new

[2019-01-04 02:33] bradymiller commented on #2094
hi @JonathanKoester ,

For step 1, rec reading through this and just flagging the obvious items (maybe with word password in it):
https://www.open-emr.org/wiki/index.php/Administration_Globals
(oh my goodness, i just did a quick mental count, and we have about 400 globals :) )
Could even just pick 1 of the password field for now just to go through the process.

And agree with your plan for step 2

[2019-01-04 03:33] kristophesankar commented on #2095
hi @bradymiller ,
I just got a chance to check it out. I have a question though. Is it safe to assume that the table name will not be bound via the array? or will I need to bind the table name as well? Am I on the right track with:

[code]
or

[code]
 Thanks.

[2019-01-04 03:35] danehrlich1 commented on #2095
Good question Arjuna

Check out this pull request I made where Brady goes in depth on what to do

Short answer is you’re right tables don’t work like the other stuff have to use special function

Sent from my iPhone

[2019-01-04 03:58] bradymiller commented on #2095
hi @kristophesankar ,
As @danehrlich1 points out, tables names are treated differently, since we can't do the standard bind/escape like we usually do. We have a function that basically uses whitelisting technique to ensure the table actually does exist, effectively allows us to escape table names:
[code]
This function can be found here:
https://github.com/openemr/openemr/blob/master/library/formda

[2019-01-04 15:52] stephenwaite commented on #1038
hi @danehrlich1 , prob something from 5.0.0 which has been addressed

[2019-01-04 17:18] danehrlich1 opened #2098 "GeoIP Blocking in PHP Code"
Moved this issue from the Docker repo to here. Much better to do this at the app level if it is going to be done.

Maybe add this at some point, would be really cool but low priority.

Here is code I have that gets the MaxMindDB GeoIP2 database. Can be executed daily via `cron` to update or can just make a function in PHP instead of bash to do it. You read the MMDB file by using MaxMind's PHP GeoI

[2019-01-04 17:42] danehrlich1 commented on #2098
Oh this is super easy it seems. Just add a quick check in `index.php` and if they don't pass forward to a blank page using Header().

Would not use Exit() since that gives away a 403 code indicating something important is there...

[2019-01-04 18:47] kristophesankar commented on #2095
That's an interesting way of doing it. I hadn't thought of that. Thanks.

[2019-01-04 20:13] JonathanKoester commented on #2094
I have one more question! I've noticed that some of the globals have pass or pwd as their data type. Should I change those to encrypted too or have those otherwise been encrypted? From what I can tell, I would assume I need to change it to encrypted I just wanted to make sure. Thanks!

[2019-01-04 21:21] ghost opened #2100 "Block Brute Force Logins"
HHS released this voluntary cybersecurity guide today: https://www.phe.gov/Preparedness/planning/405d/Documents/HICP-Main-508.pdf

They specifically mention brute force attempts as one of the main security features small clinics should have. I don't believe OpenEMR currently enforces max number of attempted logins. Ideally it should. This should be very easy and involve only the most basic PHP.

I

[2019-01-04 21:23] danehrlich1 opened #2101 "Allow Whitelisting of IP's in Globals by SuperAdmin"
This is super easy. A superadmin sets the IP addresses or subnet masks as the allowed range of  who can log on. These can be remote or RFC1918 addresses.

`Index.php` quickly checks IP against database as the user comes to the application. If not in the whitelist then is redirected to blank page or perhaps `exit()` is called.

[2019-01-05 02:47] bradymiller commented on #2094
hi @JonathanKoester ,
I just looked at this.
We should stay away from the 'pwd' entry (this is just 1 entry which actually hashes the value and stores the hash; a bit odd, but can't change since is used for a portal beyond our control).
We can definitely change the 2 `pass` entries to encrypted, though :)
-brady

[2019-01-05 02:49] bradymiller commented on #2094
Actually, we could even change the pwd one, but that will be more difficult. We'll do that one later after successfully get through the first run of settings.

[2019-01-05 04:39] JonathanKoester commented on #2094
Okay, thank you for the help. I'll try to finish this up tomorrow.

[2019-01-05 10:13] bradymiller commented on #2083
This issue is officially complete. Thank you @harshlele !

[2019-01-05 10:13] #2083 closed

[2019-01-05 10:38] bradymiller commented on #2096
This issue has been taken by @KyleWiering : https://github.com/openemr/openemr/pull/2103

[2019-01-05 16:41] harshlele commented on #2010
ill start working on this from tomorrow now that the other issue is closed. But i'll be a bit busy because of college and other things, so i may take some time to fix this one.

[2019-01-05 17:33] danehrlich1 commented on #2010
Outstanding harshele and no worries. Please also let me know if you have any questions about this issue or general development stuff.

I also need to send you a couple of resources that will exponentially increase your learning.

Take a look at this PDF for now: https://legacy.gitbook.com/download/pdf/book/frontendmasters/front-end-developer-handbook-2018

It’s 168 pages, and don’t have to read ev

[2019-01-06 04:34] harshlele commented on #2010
Haha Thanks I'll check it out!

[2019-01-06 09:09] bradymiller opened #2106 "composer update runs are different on different environments"
hi @d3sandoval ,

Scratching my head over this. A developer just did a 'composer update' run today in the following commit:
https://github.com/openemr/openemr/commit/2ab074e827b9011d054df34723696feb9776e8e4

I then did a 'composer update' run after this and had some significant changes:
https://github.com/openemr/openemr/commit/f063503099a0918471cbe9e9496ffff29c14f6f5

Any thought on why this is t

[2019-01-06 12:49] danehrlich1 commented on #2098
1. Yes absolutely I didn't even know that was part of the app. The other option I was considering was a  `cron` function but I would like to keep as much functionality in the app as possible so this is great.

2. Yes. It's a special type of binary file so it would need to be in a writeables directory. They do have a CSV file you can parse but I believe that is much slower than the other special fo

[2019-01-07 07:19] bradymiller commented on #2106
hi @d3sandoval ,

I was actually using a very old version of composer and did the run again on most recent version with minimal change (a symfony sub-dependency bumped up which was unrelelated):
https://github.com/openemr/openemr/commit/064246c453a26534b46c1e97a66cf4976bccd612

Doesn't this remove the actual php version on the machine from the equation:
https://github.com/openemr/openemr/blob/mast

[2019-01-07 15:13] d3sandoval commented on #2106
Interesting. I'd expect the lock file to update often. unless we remove all the "^"s and "~"s from the composer.json, it'll always bump to minor versions

I'm not sure how the "platform" config affects the adding/removal of dependencies, though. I have a feeling the root causes is from a manual update of the composer.json with some unintended side-effects. But that's just my armchair analysis ;)

[2019-01-07 19:38] kkvvii84 commented on #2097
Hi again,

Sorry for the delay, I only get so much spare time.

Basically if I'm understanding this correctly

`$query = "select * from calendar where pid=$pid and time>now() order by time limit 1";`

Will become

`$query = "select * from calendar where pid = ? and time>now() order by time limit 1", array($pid);`

So will

` $query = "select * from calendar where time like '$datetime%' and owner l

[2019-01-08 02:37] stephenwaite opened #2116 "When typing date for entering DOB or other date values, it must be entered as SQL format (YYYY-MM-DD), if not then it reverts to today’s date."
https://community.open-emr.org/t/still-several-issues-after-openemr-upgrade-to-5-0-1/11316?u=stephenwaite

[2019-01-08 04:44] bradymiller commented on #470
fixed by @kacyw , so closing this issue

[2019-01-08 04:44] #470 closed

[2019-01-08 05:05] bradymiller commented on #2097
hi @kkvvii84 ,
very, very close. it will become:
[code]

[2019-01-08 08:17] bradymiller commented on #2098
hi @danehrlich1,
Thanks for the info. So sounds like this project will involve following steps:

1. An entry in the OpenEMR service manager that will handle the daily download into the site/\<sitename\>/documents/geoip/ directory:
https://www.open-emr.org/wiki/index.php/Background_Service_Manager

2. Then incorporating the https://packagist.org/packages/geoip2/geoip2 package to do the check in the

[2019-01-08 16:05] sjpadgett commented on #2098
Concerns:
Shouldn't this be a firewall functionality?
How large is the database?
How long does it take to do lookup?
If you put in Globals that may mean looking at the Server Referrer every load.
In the end what do you really gain. Certainly not helpful for DOS attacks and maybe if you sent a redirect back you may get kicked out of vulnerability automated probe list, maybe.(Actually a trick I use

[2019-01-08 20:41] danehrlich1 commented on #2098
Jerry:

All good points and I 100% agree on the firewall part.

Idea here is for those not skilled in network administration, e.g. doctors
trying to set this up, they can have this function to make it easy for them.

Should only be done once when user is logging in / doesn’t have a valid
session ID. In the case of Kenya say this would reduce the amount of IP’s
that could connect by 98% of the worl

[2019-01-08 21:19] sjpadgett commented on #2098
Yep, doesn't take long for them to figure out they're attacking themselves
:) Log in(index) seems best place for now.

On Tue, Jan 8, 2019 at 3:41 PM Dan E <notifications@github.com> wrote:

--
Jerry Padgett
Padgett's Consulting
Brandon, Florida 33511
sjpadgett@gmail.com <sjpadgett@gmailo.com>

[2019-01-08 21:32] gsarma commented on #1997
Hi Robert,

Thanks so much for commenting on this thread.  I think I may need to spell out my thinking a bit more, so let me try to clarify by responding to your points/questions.

When you say "solving it" do you mean the problem of cluttered records or implementing version control?  My thought was that version control would help us create a workflow that would address the copy/pasting issue.

I

[2019-01-08 22:39] kkvvii84 commented on #2097
@bradymiller thanks I have applied the suggested fixes.

Will I just continue with -

- clinical_rules.php
- create_ssl_certificate.php
- formdata.inc.php

[2019-01-08 22:47] kacyw commented on #2053
@danehrlich1 I might be missing something, but I've combed through the whole `portal` directory and can't find any sql queries that aren't using parameter binding, where appropriate.  Perhaps this issue was already resolved by someone else?

[2019-01-08 23:14] kristophesankar commented on #2101
Hi @danehrlich1 , How would I get started on this? I may have some time on the weekend.

[2019-01-08 23:42] danehrlich1 commented on #2101
Add a config variable in the security section of globals that allows a user to add either an IP address or IP address with subnet mask (e.g. 172.16.0.0/16).

Validate these IP addresses as well server side.

@BradyMiller should know more about how the globals section works if you get stuck.

NOTE: Don’t worry about the “blocking” for now. That is something I have to figure out. It has to be scalab

[2019-01-09 06:07] bradymiller commented on #2097
hi @kkvvii84 ,
Those scripts should be fine. Try these, though:
library/transaction.inc
library/lists.inc

[2019-01-09 06:15] bradymiller commented on #2053
hi @kacyw,

Check out:
library/classes/Address.class.php
And then just start looking through all the scripts in that directory.

-brady

[2019-01-09 07:20] bradymiller opened #2119 "Speed up the logging engine in OpenEMR"
This is a good 2nd or 3rd project for new developers on the OpenEMR project.

OpenEMR basically logs every sql query. There are options in Administration->Globals that allows user to do things ranging from turning the whole thing off to logging just queries that insert/update,to extreme logging (logging all sql queries):
https://www.open-emr.org/wiki/index.php/Administration_Globals#Enable_Audit_L

[2019-01-09 09:54] sunsetsystems commented on #2119
A nice feature would be archiving and dumping older log entries, as the table can get quite large over time.

[2019-01-09 15:13] danehrlich1 commented on #2101
Look at some of the code from this package to give you an idea: https://github.com/M6Web/Firewall

[2019-01-09 16:06] kacy-weakley commented on #2053
@bradymiller Yeah, I definitely found missing parameter binding in other directories.  I saw other sql parm binding tickets and didn't want to step on others' work.  @danehrlich1 specified `portal/` in this ticket, so that was where I looked for this issue.  If there isn't another ticket to comb through the `library` directory, I am happy take on that instead.

[2019-01-09 16:07] kacy-weakley commented on #2053
@bradymiller Actually, it does look like https://github.com/openemr/openemr/issues/2096 is specific to the `library` directory and has been assigned already.  Is there another directory I should take on instead?

[2019-01-09 16:46] sjpadgett opened #2121 "Session already exist notice"
This may not be an issue so much as maybe we should do something about.
`Notice:  A session had already been started - ignoring session_start() in C:\xampp\htdocs\openemr\interface\globals.php on line 108`
Should we check ie. session_status() and go on? Check and regenerate the session or leave it as is?

[2019-01-09 17:12] sjpadgett commented on #2116
Hi @stephenwaite This is really not an issue. The action for the datepicker for manual typed dates is based on how 'Time Display Format' is set in Globals Locale. If display date is xx/xx/xxxx and you enter xxxx-xx-xx it(plug-in) will give up parsing the date to the default format template.

[2019-01-09 17:48] bradymiller commented on #2116
I'm also a bit confused on this issue. Is it standard to support YYYYMMDD entry when using the YYYY-MM-DD format?

[2019-01-09 17:56] bradymiller commented on #2053
hi @kacy-weakley (@kacyw),
At this point, the library directory is where most of the sql-injection action is(and to much for 1 dev). I changed the 2096 ticket to not include the library/classes, so it is all yours. When (and if) if you get sick of doing sql-injection just let me know, and I can find some other cool things to work on.
-brady

[2019-01-09 20:49] kacy-weakley commented on #2053
Sounds good.  Thanks!

[2019-01-10 00:18] kristophesankar commented on #2101
Thanks :) I'll take a look.

[2019-01-10 02:17] stephenwaite commented on #2116
ok thanks @sjpadgett

[2019-01-10 02:17] #2116 closed

[2019-01-10 18:11] morg0n commented on #651
I can start on this today!

[2019-01-11 06:06] bradymiller commented on #2094
Issue completed. Thank you @JonathanKoester !! -brady

[2019-01-11 06:06] #2094 closed

[2019-01-11 06:09] bradymiller opened #2126 "Straighten out SMS_GATEWAY_PASSWORD and incorporate encrypt/decrypt it"
This is a follow up to the following PR and Issue:
https://github.com/openemr/openemr/pull/2108
https://github.com/openemr/openemr/issues/2094

For some reason, this feature holds redundant (and some not redundant) settings for this in Globals and the notification_settings sql table. Goal here is to:
1. use/migrate all settings to the notification_settings sql table
2. remove the settings in globa

[2019-01-11 06:10] bradymiller commented on #2094
hi @JonathanKoester ,
If you are interested in a nice follow up and related project to work on, then check out this issue:
https://github.com/openemr/openemr/issues/2126
-brady

[2019-01-11 08:53] bradymiller commented on #2121
Hi @sjpadgett , Where is this showing up (I think I saw this in php 7.2 on the new patient portal in the past, but not sure if I remember correctly)?

[2019-01-11 13:31] sjpadgett commented on #2121
Anytime globals is called and a session already exists. This case 7.1.

On Fri, Jan 11, 2019 at 3:53 AM Brady Miller <notifications@github.com>
wrote:

--
Jerry Padgett
Padgett's Consulting
Brandon, Florida 33511
sjpadgett@gmail.com <sjpadgett@gmailo.com>

[2019-01-11 22:14] kkvvii84 commented on #2097
@bradymiller - Is there any other files you'd like me to look at?

Thanks

[2019-01-11 22:18] mdsupport opened #2127 "Validation for provider events"
Posting this for others who may be researching add_edit_event errors.

If list item related to page validation rule for this script is deleted/invalid, following actions occur:

1. `collectValidationPageRules` returns empty array when page does not have validation rules.
2. `add_edit_event` script chooses to pass _undefined_ to javascript rather than empty object.
3. _undefined_ collectvalidation

[2019-01-11 22:40] mdsupport opened #2128 "Invalid link for provider events"
Popup link to edit provider events shown in calendar search function presents add_edit_event in `Patient` tab showing wrong category.

Current link setting is : `add_edit_event.php?date=20190111&eid=75`
Expected link is : `add_edit_event.php?date=20190111&eid=75&prov=true`

Recommend if `$_GET['eid']` is specified, the script fetch details from database and ignore everything else.

[2019-01-11 23:42] mdsupport commented on #2127
An appeal to developers:
Please do not allow development objects such as `javascript functions`/`variables`, `php code`, `xml` / `html` `tags` to be editable by users / even system admins.  This is more true for `lists` that blindly accept complex, large JSON objects while showing first 20 characters.
Alternatively provide an automatic versioning facility where changes can be rolled back in time.

[2019-01-12 01:39] bradymiller commented on #2097
hi @kkvvii84 ,
Check out the last query in library/transaction.inc :)

[2019-01-12 06:27] atifmian opened #2129 "Restore Function"
I am getting the following error using the restore function.

I followed the instructions and copied the emr_backup.tar and Restore in the /home/ubuntu directory.
Using ubuntu 16.4 on AWS

ubuntu@ip-172-31-33-155:~$ sudo ./restore
WARNING: This script is experimental.
It may have serious bugs or omissions.
Use it at your own risk!
Now you will be asked for the backup file.
By default this is named

[2019-01-12 16:51] bradymiller commented on #2119
@KyleWiering is working on this

[2019-01-12 19:18] atifmian commented on #2129
I changed the name and then it says directory does not exist

[2019-01-12 21:14] sunsetsystems commented on #2129
The target directory (in your example /var/www/openemr) is not supposed to exist, unless you are restoring a site other than default in a multi-site installation.

[2019-01-12 21:17] atifmian commented on #2129
Thanks for the help

that WORKED!!

IS there a script that will auto backup at the end of the day and save it to S3?

[2019-01-12 21:42] sunsetsystems commented on #2129
This might help:

https://www.open-emr.org/wiki/index.php/Automated_Backups_to_an_Alternate_Server

In addition I have used s3cmd to archive backups to Digital Ocean "spaces".

https://www.digitalocean.com/docs/spaces/resources/s3cmd/
https://www.digitalocean.com/docs/spaces/resources/s3cmd-usage/

[2019-01-15 00:04] sjpadgett commented on #1694
https://github.com/openemr/openemr/pull/2134

[2019-01-15 00:04] #1694 closed

[2019-01-15 00:05] sjpadgett commented on #2049
thanks @bradymiller

[2019-01-15 00:05] #2049 closed

[2019-01-16 23:31] atifmian commented on #382
I am having somewhat similar problem Openemr 5
Custom form, loads ok but when I try to save the following error shows up
Not Found
The requested URL /openemr/interface/forms/MAT_form/save.php was not found on this server.
I checked and the save.php does exist and in the proper directory

any help pls?

[2019-01-17 00:32] morg0n commented on #651
Okay, this *should* be good now.  Thanks!

[2019-01-17 01:08] bradymiller commented on #651
thanks @morg0n for the great contribution! -brady

[2019-01-17 01:08] #651 closed

[2019-01-17 23:59] morg0n commented on #2024
I can get started on this within the next few days!

[2019-01-18 00:00] morg0n commented on #1983
I can take this one on!

[2019-01-18 00:10] danehrlich1 commented on #2024
THANK YOU!

Lmk if you need anything. I’m trying to give ppl working on these issues a 4 hour SLA response time on help they need to keep up the pace of work.

Also you definitely are near the top-level of new contributors now, again thanks :)

[2019-01-18 00:18] morg0n commented on #2100
I'd like to start on this within the coming week!

[2019-01-18 00:39] sunsetsystems commented on #2100
I have a suggestion here. Instead of a fixed max number of attempts, insert a delay that is doubled after each successive failed login, up to some limit. If you try to log in before the delay is up, you get an error message.

The point is to reduce the need for support if someone forgets their password and later figures out what it is.