[2020-03-15 07:36] mdsupport opened #3163 "Decryption failed authentication"
Posting this as additional possibility for #2399

**Problem**
If encryption key(s) in the site directory are not paired with the database, the decryption fails as it is supposed to.  In case of Globals screen, that error does not highlight the encrypted field and display error message.  This can be seen in development environments, specially with multiple dockers pointing to same database.

In cas

[2020-03-15 13:38] harshbawari commented on #1574
I would like to work on this issue

[2020-03-15 13:38] stephenwaite commented on #1574
hi @harshbawari , good luck and thank you!

[2020-03-15 13:48] stu01509 opened #3164 "UI Issue: EOB Posting - Search expand button"
### Describe the bug

EOB Posting - Search expand button lost cursor pointer

### To Reproduce

Steps to reproduce the behavior:
1. Choose Fees > Posting Payment.
2. See the expand button

![image](https://user-images.githubusercontent.com/22230889/76702654-5747a800-6706-11ea-93f2-6798e20f8ed2.png)

### Client configuration

- Browser: Firefox 73.0.1（64 bit）
- Operating system: Windows 10

[2020-03-15 13:48] stu01509 commented on #3164
Please assign this issue to me.

[2020-03-15 13:52] yashrajbothra opened #3165 "CCDA module unexpected error"
### Describe the bug

cannot understand error message

### To Reproduce
![image](https://user-images.githubusercontent.com/47683556/76702704-f31ae900-66f1-11ea-958c-bc0d978dc279.png)

Steps to reproduce the behavior:
1. Open CCDA->View CCDA
2. See error

### Expected behavior

clear and understandable error message

[2020-03-15 15:25] stephenwaite commented on #3164
sure, thanks @stu01509

[2020-03-15 15:40] stephenwaite opened #3166 "eob invoice needs bs4 updates"
### Describe the bug

eob invoice isn't behaving

### To Reproduce
go to past encounters for a patient and click billing view and then click on the green code link
![Screenshot from 2020-03-15 11-38-47](https://user-images.githubusercontent.com/5618372/76704761-9697d980-66b1-11ea-85aa-7ffa009c599c.png)
and you'll view
![Screenshot from 2020-03-15 11-26-47](https://user-images.githubusercontent.com

[2020-03-15 17:05] yashrajbothra commented on #3165
Can anyone help me with this?

[2020-03-15 17:28] sjpadgett commented on #3165
hi yash,
this particular exception is being thrown because controller could not create a socket to the ccdaservice.
Best fix is to not throw an exception and die a pretty death. The error is being logged then exception thrown. Several options with easiest being to echo error in die or exit script.
Or wrap that connection setup in a try/catch and handle message from the catch.
 all this occurs in:

[2020-03-15 18:48] yashrajbothra commented on #3165
But why `socket_connect` cannot connect. i tried to check error with `socket_strerror( socket_last_error())` but output shows this
![image](https://user-images.githubusercontent.com/47683556/76708261-7ac91d80-671b-11ea-85e4-84573b60352c.png)

Both in demo server and local.
I think something is wrong with my config or globals 🤔

[2020-03-15 18:59] sjpadgett commented on #3165
socket can't connect because the ccdaservice is not installed or did not auto start.
see openemr/ccdaservice/README.md
if the ZH ccda build is not being used then my ccda builder is used. The ZH builder requires an account with them with the socket connection to their mirth server.

[2020-03-15 19:37] yashrajbothra commented on #3165
Thank you sir @sjpadgett 👍

[2020-03-15 19:39] yashrajbothra commented on #3165
![image](https://user-images.githubusercontent.com/47683556/76709190-af8ca300-6722-11ea-8940-449bb953e711.png)
Definetly i turned debugging options on but
is this okay or a bug to be resolved ?

[2020-03-15 20:50] stephenwaite commented on #3165
hi @yashrajbothra, it's a bug, https://community.open-emr.org/t/ccda/9486/25?u=stephenwaite

[2020-03-15 21:06] stu01509 commented on #3166
Please assign this issues to me.

[2020-03-15 21:14] stephenwaite commented on #3166
really? cool @stu01509 !

[2020-03-15 23:17] sjpadgett commented on #3165
We mostly got all theses static methods over the last year when update for PHP 7 but the original way this app was written they were all over so, yes a bug. Sometimes not an easy fix but give it a shot if you can. Eventually we'll have to fix.

If you still can't run the ccda module then you can bypass exceptions caused by the deprecated statis calls by turning off ~E_DEPRECATED & ~E_STRICT & ~E_U

[2020-03-16 11:42] yashrajbothra commented on #3165
I will definetly give this a try. But as of now priority is to make proposal and gather knowledge about the project. So I will be back after 2 weeks and then i will give this a shot

[2020-03-16 11:45] yashrajbothra opened #3169 "Deprecated PHP warnings"
### Describe the bug

Extension of https://github.com/openemr/openemr/issues/3165#issuecomment-599254869

Fix PHP deprecated warnings

### Expected behavior

NO more deprecated warnings

[2020-03-16 17:28] yashrajbothra commented on #3142
Yea, Somewhat like that if we can implement then i think it will be nice.
https://www.loom.com/share/8e46941d03fc4a7898aa190d2c34aeb5

If you can see there is another problem if the link is clicked that is already open then it delays in shifting its focus which is not so good User Exp. Both could be fixed by same PR.

I think the idea could be like if clicked menu_url matches with any open tab_url

[2020-03-16 19:47] yashrajbothra commented on #3141
@skshahnawaz Are you working on this issue?

[2020-03-16 21:32] skshahnawaz commented on #3141
Yes I am working on it. Exploring a few things. Will keep you updated

[2020-03-16 23:09] skshahnawaz commented on #3083
@sjpadgett can you please provide with a Loom video of the current alerts?

[2020-03-17 04:17] #3106 closed

[2020-03-17 04:26] #3164 closed

[2020-03-17 05:19] #2314 closed

[2020-03-17 06:57] bradymiller commented on #3142
hi @yashrajbothra , that sounds very reasonable.

[2020-03-17 07:23] sachinmukherjee commented on #3159
@bradymiller Can I work on this?

[2020-03-17 07:37] bradymiller commented on #3159
hi @sachinmukherjee. it is yours :)

[2020-03-17 12:14] stu01509 commented on #3166
Hi @stephenwaite

I am working on this issue, But I have a question,
How should I do add Code field, My code field is empty now.

![image](https://user-images.githubusercontent.com/22230889/76855229-ab2fc980-688b-11ea-8ec8-3608728e9abf.png)

[2020-03-17 12:34] stu01509 opened #3174 "UI Issue: Patient Encounter Form field alignment"
### Describe the bug

Patient Encounter Form field alignment.

### To Reproduce

Steps to reproduce the behavior:
1. In Past Encounters and Documents click item
2. See the Encounter
3. Click edit button
4. See the form

![image](https://user-images.githubusercontent.com/22230889/76856601-8be66b80-688e-11ea-9be2-2b6cbfefbbef.png)

### Client configuration

- Browser: Firefox 73.0.1（64 bit）
- Operat

[2020-03-17 13:42] yashrajbothra commented on #3166
https://www.open-emr.org/wiki/index.php/New_Encounters_%26_Coding_4.1

this should clear your problem :)

[2020-03-17 13:44] stu01509 commented on #3166
Hi @yashrajbothra

Thanks for your information, I will try to follow the documentation step.

[2020-03-17 13:50] usama-kabel opened #3176 "Force new user change default password in first login"
### Describe the problem

How can I force all new users change default password in first login?

If applicable to define security steps to users?!

for Example:
Need all users in first login do the following:
1. Change default password
2. force to have TOTP step

[2020-03-17 18:30] tywrenn commented on #3160
tbh this is something I wanted to do for awhile as it helps everyone out and makes sure that styling is consistent

[2020-03-17 19:30] tywrenn opened #3177 "All oe-styles are missing BS4 colors in colors array"
### Describe the bug

In all themes located in `/interace/themes/oe-styles`, there should be in the `$colors: (` array the following values:
- `"gray600": $gray-600`
- `"gray800": $gray-800`

Apparently I forgot to add these values to the array. They are required for themes to work correctly.

[2020-03-17 19:33] tywrenn commented on #3160
Here are some styling guidelines that should apply for future CSS work:
- Do not use `<table>` elements unless you are using them to print out data or displaying data. These should be replaced with the [BS4 grid classes](https://getbootstrap.com/docs/4.4/layout/grid/).
- Unless the table is gonna be printed out on a printer, the `<table>` element must be surrounded with a BS4 `<div class="table-re

[2020-03-17 19:52] bradymiller commented on #3160
@tywrenn
very nice rules to follow.
What are your thoughts on button styling? Things seem to be going all over the place on this front with some using primary, secondary, danger, lnk etc? And some using icons etc.

[2020-03-17 19:52] tywrenn commented on #3085
This issue is being expanded to do some code cleanup as well. Improvements are needed in the following areas:
- interface/super/manage_document_templates.php
- interface/billing/sl_receipts_report.php
- interface/reports/destroyed_drugs_report.php
- interface/drugs/add_edit_lot.php
- interface/forms_admin/forms_admin.php
- interface/patient_file/encounter/encounter_top.php
- interface/drugs/drug_i

[2020-03-17 22:22] tywrenn commented on #3141
Update: The highlight was using the `<mark>` element

[2020-03-17 23:05] tywrenn commented on #3160
To make the themes consistent, here's how the buttons should work:
- If you have a group of two or more buttons, be sure to use the `btn-group` class
- Anything that is going to delete something or remove something should be using the `btn-danger` class
- Anything that is trying to submit something or is a primary action should use the `btn-primary` class
- The `btn-link` class should be refrained

[2020-03-17 23:28] bradymiller commented on #3160
@tywrenn ,

This are really helpful guidelines. Two more questions regarding buttons:
1. Do you think we should move away from using icons in the buttons or keep them?
2. Should we move away from these buttons: https://github.com/openemr/openemr/blob/master/interface/themes/core/FontAwesome.scss#L19-L110

[2020-03-17 23:30] bradymiller commented on #3160
fyi, I just pinned this issue, since it's going to be instrumental in the style modernization

[2020-03-17 23:41] tywrenn commented on #3160
@bradymiller Using icons in buttons actually looks really cool so I believe we should keep those since they don't have any formatting issues. We should definitely move away from using the SCSS btn's cause as I've said before we shouldn't be adding more classes when they are already there in the framework.

[2020-03-18 00:29] tywrenn opened #3179 "Update FontAwesome to FontAwesome 5"
### Describe the problem

FontAwesome 4.7 (a version made back in 2016) is no longer being maintained and needs to be replaced with FontAwesome 5. This will be a very annoying process as basically all the icons and classes have changed.

### Describe the solution you'd like

- [ ] First, update FontAwesome (This will break all icons more than likely)
- [ ] Fully replace all icons with the new clas

[2020-03-18 00:32] tywrenn commented on #3179
This will definitely be an 'awesome' upgrade yet i'd like to see someone else do this :)

[2020-03-18 00:39] stu01509 commented on #3179
I would like participate this issue 🙂

[2020-03-18 00:54] surendrap720 commented on #3179
I would like to work on this

[2020-03-18 07:25] bradymiller commented on #3179
@stu01509 , Since you got to this first (by several minutes it appears), this is yours.
@surendrap720 , guessing there will be testing and related fixes needed on this (since will be seeking out all the broken icons with lots of testing in the near future).

[2020-03-18 12:35] stu01509 commented on #3179
Hi @bradymiller

Thanks for your assigned.

[2020-03-18 14:00] stu01509 commented on #3160
Hi @tywrenn

Thanks for your listing rules, It will very helpful to refine the OpenEMR interface, We can follow those rules to keep the same UI style.

I also have a question, Is OpenEMR have own utility.css, I mean if we need a cursor pointer, we just add .cursor-pointer.

[2020-03-18 16:55] sjpadgett opened #3181 "General App Responsiveness and Testing"
### Describe the bug
- Start with top patient bar. It was somewhat responsive but currently, not even close!
Some sizing routines were removed however, they were not replaced.

Original styling was using css flex. Then some BS classes were added over a period of time along with some responsive JS helper functions. Mostly because, as humans, we want to over complicate.
One hint: currently on certai

[2020-03-18 23:27] bradymiller commented on #3160
hi @tywrenn ,
@sjpadgett posted a very good point regarding button icons on a separate PR(https://github.com/openemr/openemr/pull/3175). I am thinking it would make very good sense to keep the https://github.com/openemr/openemr/blob/master/interface/themes/core/FontAwesome.scss#L19-L110 for the sole purpose of icons and nothing else. Then it's easy to:
1. add an icon to a button
2. update button i

[2020-03-19 00:23] #3174 closed

[2020-03-19 02:45] #3165 closed

[2020-03-19 13:14] adad20 commented on #3122
@bradymiller I think this issue is in some theme only, I recently changed the theme and everything is fine now.
Should I add default values so it may work in all themes such as `alert-danger` will always have `text-light` class?

[2020-03-19 13:18] stu01509 commented on #2949
Hi @thesmallstar

Are you working on this issue?

[2020-03-19 16:25] adad20 opened #3191 "Object not found in Miscellaneous/authorizations"
### Describe the bug
Something needs to be rendered in the authorizations page but console is showing err 404 not found.

### To Reproduce
Go to Miscellaneous/authorizations

### Actual behavior

![Screenshot (87)](https://user-images.githubusercontent.com/55142272/77089795-4790d200-6a2c-11ea-8711-fd603a6d5154.png)

- Browser: Chrome

[2020-03-19 18:53] thesmallstar commented on #2949
@stu01509 you can take this, I am currently involved into something. Cannot postpone this longer 😄

[2020-03-19 23:46] sjpadgett commented on #3181
Okay I think it's time to remove the global vertical menu width and move to using normal size breakpoints. This should also get us closer to a redo of top menu.
While noble previous attempts at making the top bars responsive was due to we never fully pulled the plug on supporting bootstrap with now all collapse should follow BS workflows.

comment if you see problems

[2020-03-20 00:15] stu01509 commented on #2949
Hi @bradymiller

Please assign this issue to me.

[2020-03-20 00:34] sjpadgett commented on #3181
lol, I think all you guys left that top menu just for me! I know I was hoping somebody else would take it on but, I can't tolerate it not being bootstrapped any longer.....

[2020-03-20 02:03] bradymiller commented on #2949
hi @stu01509 , the baton has been passed to you :)

[2020-03-20 05:52] bradymiller opened #3193 "Add "developer-tools" to the docker development environment"
### Describe the feature you'd like

Provide developers with testing tools out of the gate in the developer docker environment.

### Describe the solution you'd like

Add support to the development docker to allow the developer to do the following in the docker:
1. php syntax checking
2. psr2 checking
3. unit tests
4. e2e tests
5. api tests

Note that only need to actually bring in the required li

[2020-03-20 06:06] bradymiller commented on #3193
btw, travis does all the above, so that is the best place to find out which packages to bring in to support this:
https://github.com/openemr/openemr/blob/master/.travis.yml

[2020-03-20 06:09] prondubuisi commented on #3193
Hello @bradymiller is this something anyone other than yourself could work on, lol. If so I would love to jump on this.

How would I be able to test this? A new docker install?

[2020-03-20 06:13] prondubuisi opened #3194 "Create update Encounter API"
### Describe the problem

Write an endpoint for uploading patient encounter

### Write concise description of what feature you want
create a
PUT /api/patient/:pid/encounter/:eid API endpoint
for updating inserted patient encounter

[2020-03-20 06:14] bradymiller commented on #3193
hi @prondubuisi , go for it!

you will basically build the docker in https://github.com/openemr/openemr-devops/blob/master/docker/openemr/flex-3.10/
When you build it, use the following command:
[code]
Then this will now be the docker that the main docker-compose.yml will use locally for you:
https://github.com/openemr/openemr/blob/master/docker-compose.yml#L23

And if you dig a really big hole an

[2020-03-20 06:19] adad20 commented on #3191
hi @bradymiller Can you tell me what's there and also Can I work on this issue?

[2020-03-20 09:24] yashrajbothra opened #3195 "No Error Response in FHIR"
### Describe the bug

There is no error response in FHIR api.
Extension of https://community.open-emr.org/t/project-fhir-integration/13701/13?u=yashrajbothra
### Expected behavior
Something like this would be nice.
![image](https://user-images.githubusercontent.com/47683556/77150623-4c9c6280-6aba-11ea-81c9-321fff469738.png)

Additional Context : Currently working on it. Feel Free to assign me 😄

[2020-03-20 10:04] boxlady opened #3196 "Demographic search DOB international"
### Describe the bug
When you try and search using the date of birth in an EU format DD/MM/YYYY it doesn't work.  The only way I can seem to search by DOB is if its put in YYYY/MM/DD

### To Reproduce
1. Set Global in Local date format to EU DD/MM/YYYY.
2. Try and search using that format.

### Client configuration

- Browser: ALL
- Operating system:

[2020-03-20 10:28] sjpadgett commented on #3195
glad to have ya

[2020-03-20 14:34] stephenwaite commented on #3196
hi @boxlady , think if you use Patients->New/Search it will work ok so think the bug is in the patient finder search box and the search by any in the patient area at the top of the page

[2020-03-20 15:12] stephenwaite commented on #3191
hi @adad20 , it should be trying to load from the [menu json](https://github.com/openemr/openemr/blob/master/interface/main/tabs/menu/menus/standard.json#L1971-L1988)

[2020-03-21 01:55] tywrenn opened #3199 "Ability to have ICD codes assigned to patient & stay on patient's record"
### Describe the problem

The doctor I'm working with wants the ability to have ICD codes tagged to a patient and stay on the patient's record (unless deleted) and stay in the fee sheet regardless if you add another encounter. This doctor is an Orthopedic Surgeon and consistently uses the same ICD's for multiple patients.

### Describe the solution you'd like

Since this is a situation-based scena

[2020-03-21 04:38] stu01509 commented on #2949
Hi @bradymiller

Is this issue would like to add Diagnostics in Administration->System navbar?
Like this?

![image](https://user-images.githubusercontent.com/22230889/77219457-e9b9d280-6b70-11ea-8241-c59fcbee5f2d.png)

[2020-03-21 05:00] bradymiller commented on #2949
hi @stu01509 , yep, that looks good

[2020-03-21 05:06] tywrenn commented on #3199
I'm not too good in dealing with this one so if anyone wants to solve it go ahead

[2020-03-21 06:58] #3179 closed

[2020-03-21 07:34] stu01509 commented on #2949
Hi @bradymiller

I created a PR, Please review it :)

[2020-03-21 08:20] #3131 closed

[2020-03-21 08:26] prondubuisi commented on #3194
Hello @bradymiller in addition to this are there any other API endpoints that one can work on? thanks

[2020-03-21 08:44] bradymiller commented on #3194
The encounter PUT would be good. And a couple TODO as bottom of the API doc(https://github.com/openemr/openemr/blob/master/API_README.md); immunizations and prescriptions would be high impact on that list. Also looks like History, Transactions, Disclosures, and Amendments are miss.

Labs/procedures are missing, but this is going to be complicated.

Encryption/decryption support would also be neat,

[2020-03-21 17:35] #2949 closed

[2020-03-21 17:50] #3181 closed

[2020-03-21 18:15] tywrenn opened #3203 "patient_data_template.php not using responsive design"
### Describe the bug

In `/interface/main/tabs/templates/patient_data_template.php`, the current design isn't really responsive.

### To Reproduce
https://prnt.sc/rka8gq

### Expected behavior

Some things should be collapsing here. My recommended solution is to replace the flex columns with BS4 grid classes instead to fix this issue.

I'm not too keen on how to fix this so if anyone wants to fix

[2020-03-21 18:27] sjpadgett commented on #3203
Ideally we want the tree columns to stack on each other and not necessarily inside columns responsive.
Any search can stand on its own and doesn't have to be inline.
Or redesign the whole bar if that's what it takes.

[2020-03-21 18:57] sjpadgett commented on #3203
Hey @tywrenn ,
This works nicely. What do you think? I was almost there with keeping flex which i'm dogged to do :)
goes in interface/main/tabs/templates/patient_data_template.php
[patient_data_template.zip](https://github.com/openemr/openemr/files/4363725/patient_data_template.zip)

[2020-03-21 19:12] sjpadgett commented on #3203
![image](https://user-images.githubusercontent.com/1859985/77234626-4ecbf300-6b86-11ea-83da-e92aa6c99d7a.png)

[2020-03-21 20:21] bradymiller opened #3205 "Improve Diagnostics gui"
### Describe the problem

Improve Diagnostics gui at Administration->System->Diagnostics

### Describe the solution you'd like

1. Remove the links at top and only show the information that you see in the `Test System` category.
2. Migrate it out of smarty on to its own script (this will allow easy addition of other Diagnostic tests in the future)
3. Remove the `Test System` link from Administrati

[2020-03-21 20:51] stu01509 commented on #3205
Hi @bradymiller

Please assign this issue to me.
Thank you :)

[2020-03-21 20:53] stu01509 commented on #3107
Hi @thesmallstar

Are you still working on this issue? If not
@bradymiller Please assign this issue to me.

[2020-03-21 21:34] bradymiller commented on #3205
hi @stu01509 , it is yours :)

[2020-03-21 22:15] bradymiller opened #3207 "How to run installation gui on easy dev docker environment"
Trying to figure out the best way to support being able to run installation gui on the easy development docker environment for folks that need to be able to do this for development purposes.

Has anybody needed to do this and how did they do it?

[2020-03-21 22:16] bradymiller commented on #3207
Sorry, I should of probably posted this on the forum, but the plan is to use this information to make it easy (via a docker environment setting) to support from the docker.

[2020-03-21 22:20] bradymiller commented on #3207
btw, the manual way to do this would be to do the following:
1. Remove the openemr database via the phpmyadmin docker
2. in sites/default/sqlconf.php , change the `$config = 1;` to `$config = 0;`

[2020-03-21 22:58] sjpadgett commented on #3203
PR: https://github.com/openemr/openemr/pull/3206
I hope fixes this. I'm happy compared to previous but feel free to modify.
Bringing in PR and leaving issue open in case:)

[2020-03-22 00:07] stephenwaite commented on #3199
this is supported fairly well already with the link/add issues section on the visit summar which will also poplulate the most common dx in the cpt4 on click popup

![Screenshot from 2020-03-21 20-02-59](https://user-images.githubusercontent.com/5618372/77239264-0117b080-6baf-11ea-81ac-db56dc1031e2.png)

there's also a review button above which will bring in the last billed svc for the pt

[2020-03-22 00:32] tywrenn commented on #3199
@stephenwaite This is why I wish we had better documentation!!! Closing.

[2020-03-22 00:32] #3199 closed

[2020-03-22 00:35] tywrenn commented on #3203
@sjpadgett Looks a lot better

[2020-03-22 00:47] tywrenn commented on #3160
@stu01509 Since the `cursor: pointer` attribute is only done in specific circumstances (as most of the time it isn't really needed), that hasn't been added as a utility. tbh I feel like we have to reorganize the cursor attribute because it might be being used in places that it shouldn't be used or isn't needed.

[2020-03-22 01:32] sjpadgett commented on #3199
First @tywrenn I turned on the dark theme and wow! my friend, great job! You might say i've come out of the light and into the darkness. No worries, i'll pray for myself at church tomorrow:)
Was that theme based on light?

More to the documentation point. As most know a big part of any engineering program core is technical writing. Maybe we have a student who would take it on.

Personally, i'm abo

[2020-03-22 01:39] tywrenn commented on #3199
@sjpadgett The dark theme is based on the light theme -- The way I did it was first convert the light theme to BS4 and then invert the colors to make the dark theme which took awhile.

We definitely need someone to take this on with GSoC. I don't know half the functions in this EMR which is why documentation should be priority number 1. We should also make it a system that is required when adding

[2020-03-22 01:46] sjpadgett commented on #3199
Yep you're right. I'm guilty mostly but, we have to be careful about requirements like this because it is hard enough getting folks to contribute new features much less try to treat them as employees. If a developer knows they have to do a bunch of strict requirements, they'll most likely pass.

[2020-03-22 01:47] tywrenn commented on #3199
@sjpadgett There has to be an easier way for documentation....

[2020-03-22 01:48] sjpadgett commented on #3199
Maybe a template that outlines the basics.

[2020-03-22 01:55] bradymiller commented on #3199
GSoC isn't meant for pure documentation projects and is meant to be coding based. The projects that will be worked on definitely should be documented, though.

For documentation, here's something to look into that is documentation specific: https://developers.google.com/season-of-docs

[2020-03-22 01:57] bradymiller commented on #3199
@robertdown is working on migrating the old wiki to something much more modern which will hopefully help on this front also

[2020-03-22 02:00] sjpadgett commented on #3199
Thats fine but maybe we should put a little more emphasis on in app helps.

[2020-03-22 02:05] sjpadgett commented on #3203
I think this will work for now so close this issue if author agrees.

[2020-03-22 02:51] arnabnaha opened #3209 "Openemr not logging in on chrome"
Hi,
I am working on windows 10 with xampp 7.3.15 and running openemr 5.0.3 dev version. There are 2 issues -
1. Using chrome whenever I am trying to log in, it just keeps authenticating and nothing happens. Using Firefox, there is no issues.

2. while working in openemr, when trying to change anything in globals and hit save, it just shows a white page but changes are saved in database. I found th

[2020-03-22 06:24] #3195 closed

[2020-03-22 08:47] #3001 closed

[2020-03-22 15:14] adad20 opened #3213 "Font-awesome icons are missing"
### Describe the bug
Some of the font-awesome icons are not rendered. Shows `error 404 Not found`.
Refresh icon is not visible both in chrome and edge.

### Actual Behaviour
See for the icons search and refresh
![Screenshot (92)](https://user-images.githubusercontent.com/55142272/77252747-fc6cfe00-6c7b-11ea-9e2d-b6847734f3dd.png)

![Screenshot (94)](https://user-images.githubusercontent.com/551422

[2020-03-22 15:33] stephenwaite commented on #3213
hi @adad20 , wasn't this fixed in most recent commit, https://github.com/openemr/openemr/commit/bc644eb4a1e54a27547ba066bc1065f005312d53 ?

[2020-03-22 16:04] adad20 commented on #3213
hi @stephenwaite My repo is up to date and contains this commit yet this issue persists

[2020-03-22 16:06] stu01509 commented on #3213
Hi @adad20

Try to use, It will install font awesome 5

```npm install```

[2020-03-22 16:11] adad20 commented on #3213
@stu01509  After pulling the latest commits I ran npm install yet some icons are missing like `refresh` one.

[2020-03-22 16:58] bradymiller commented on #3213
hi @adad20 , @stu01509 , and @stephenwaite , There are still broken icons out there including this one. In this case, `fa-refresh`no longer exists in fontawesome 5, and should be changed to `fa-sync`. Rec searching for `fa-refresh` in codebase to see where need to change (there look to be about 13 places).

[2020-03-22 16:58] stu01509 commented on #3213
Hi @adad20 @bradymiller @stephenwaite

I am in my environment just found refresh icon broken, it still used fa-refresh, Maybe I am not fully updated font awesome icon, So I create a PR to fix it.

[2020-03-22 17:13] stu01509 commented on #3160
Hi @tywrenn

Thanks for your explanation and info, I will using into a link instead when I need a cursor: pointer attribute.

[2020-03-22 18:11] #3213 closed

[2020-03-22 18:59] thesmallstar commented on #3107
@stu01509 please go ahead, I am having some health issues, cannot work rn.

It is yours.

[2020-03-22 19:11] bradymiller commented on #3107
hi, assigned @stu01509
@thesmallstar , sorry to hear about health issues. Health is priority here, so please focus on your health and get better soon

[2020-03-22 20:44] yashrajbothra opened #3216 "Adding Validation Resource"
### Describe the problem

https://github.com/openemr/openemr/pull/3212#issuecomment-602258847
By adding validation we will have double check everywhere and will if error we will return OperationOutcome as we already have that in codebase 😃

### Additional Context:
Please Assign this to me

[2020-03-22 20:46] bradymiller commented on #3216
hi @yashrajbothra , it is yours :)

[2020-03-22 21:23] bradymiller commented on #3209
hi @arnabnaha ,
Sounds like either missing critical directories or permission issues with these directories. Ensure you have the following directories/subdirectory structure in documents directory:
https://github.com/openemr/openemr/tree/master/sites/default/documents

[2020-03-23 01:12] stu01509 commented on #3107
Take care, bro.

[2020-03-23 02:10] #3205 closed

[2020-03-23 02:21] stephenwaite commented on #2677
### re-describe the problem
sad state of affairs :)
### re-create
we're going to add a new message to demonstrate some confusion with the messaging
![Screenshot from 2020-03-22 19-53-40](https://user-images.githubusercontent.com/5618372/77266780-dee96580-6c76-11ea-8b35-383e9d231e95.png)
odd, the patient already selected wasn't added to the patient subject so will have to click to add
![Screenshot

[2020-03-23 03:17] prondubuisi commented on #3159
Hello @sachinmukherjee  If you are super busy at the moment, then we can tag this as beginner friendly , or first timers only. We can then get willing first timers from our Slack or Telegram chat to work on it. cc @bradymiller

[2020-03-23 03:28] prondubuisi opened #3220 "Fix curly brace style in RestContoller methods"
### Describe the problem

Hello @bradymiller @stu01509 as discussed [here](https://github.com/openemr/openemr/pull/3211) there is need to change the style of curly braces in most of the RestController methods

### Describe the solution you'd like

Most braces for If conditions look like this
[code]
Should be changed to look like this
[code]

as this improves readability

I also think this will a g

[2020-03-23 03:33] prondubuisi commented on #3220
Classes Affected are found here https://github.com/openemr/openemr/tree/master/src/RestControllers
Pick up to 3 classes at a time.

[2020-03-23 03:42] stu01509 commented on #3220
Nice, It sounds good ideas. 👍👍

[2020-03-23 03:55] sachinmukherjee commented on #3159
Yes go ahead. I have another issue(https://github.com/openemr/openemr/issues/2889) to work on.

[2020-03-23 05:33] adad20 opened #3221 "Error while expanding order"
### Describe the bug
There is an error appearing in console and the list is not appearing after expanding.
write concise description of what the bug is.

Steps to reproduce the behavior:
1. Go to Procedures -> Configuration

### Actual behavior

https://www.loom.com/share/e8c8c21d500c498ba5b2d9590e9e596e

- Browser: Chrome

### Do you want to work on this issue?
Yes, I want to work on this issue.

[2020-03-23 08:43] adad20 commented on #3221
hi @bradymiller I updated my repo and this issue no longer existed. I am closing this issue.

[2020-03-23 08:43] #3221 closed

[2020-03-23 10:27] ShubhamBansal1997 commented on #3159
@prondubuisi  @bradymiller Shall I pick this one?

[2020-03-23 10:30] prondubuisi commented on #3159
Yes please! Go for it

[2020-03-23 11:04] adad20 commented on #3196
hi @bradymiller Can I work on this issue?

[2020-03-23 12:17] skshahnawaz commented on #2917
@bradymiller @stephenwaite I would like to work on this issue. A loom video of the issue would help me a lot.

[2020-03-23 14:35] stephenwaite commented on #2917
hi @skshahnawaz , nothing against loom but i try to avoid as much proprietary software as possible, github and google excluded for now :)
go to a pt dashboard
![Screenshot from 2020-03-23 10-19-30](https://user-images.githubusercontent.com/5618372/77326177-d123f680-6cef-11ea-8062-4b858575bfea.png)
click on edit prescription and add
![Screenshot from 2020-03-23 10-34-58](https://user-images.githubu

[2020-03-23 15:32] sachinmukherjee commented on #2889
![screencapture-172-20-0-4-setup-php-2020-03-23-20_55_29](https://user-images.githubusercontent.com/19318218/77332964-c8134380-6d48-11ea-8ffa-8251d123bedd.png)

I have tried to install a new site and have reached Step 1(Select Database Setup). What should I do next?

[2020-03-23 16:03] stephenwaite commented on #2889
hi @sachinmukherjee , have you already created the database?

[2020-03-23 16:03] stephenwaite commented on #3196
sure @adad20

[2020-03-23 16:06] sachinmukherjee commented on #2889
For a new installation, I haven't created the database

[2020-03-23 18:13] stephenwaite commented on #2889
go ahead and create a new database at the mysql command prompt or phpmyadmin;
`create database openemr;`
then go to the setup screen and choose "Have already created database" and proceed.
The install screen should update the button name to something appropriate instead of create database...

[2020-03-23 18:55] stephenwaite commented on #3159
just assigned you @ShubhamBansal1997 , thank you

[2020-03-23 21:45] skshahnawaz commented on #2917
okay now I understood. working on it. But can you please mention in which file is the displaying thing written? is it in "interface/new"?

[2020-03-23 21:49] skshahnawaz opened #3222 "DOB field in Add Patient form should limit date latest by the current date"
The Date of Birth (DOB) form field in Add Patient Form has a datepicker with options to select date greater than current date. This needs to be limited to the current date.

[2020-03-23 21:49] skshahnawaz commented on #3222
@bradymiller Please assign this issue to me. I want to fix this

[2020-03-23 22:21] sjpadgett opened #3226 "Add update/insert to FHIR encounter resource"
As soon as the standard encounter api endpoint PR #3211 is merged you can leverage it for your transaction.

[2020-03-23 22:29] sjpadgett commented on #3226
@wisdommatthew or @wisdommatt
I can't find your handle in lookups so I can't assign you. Go ahead and work it.

[2020-03-23 23:31] stephenwaite commented on #2917
hi @skshahnawaz , did you find it in `interface/patient_file/summary/add_edit_issue.php`?

[2020-03-24 01:28] stephenwaite commented on #3222
thanks for taking this on @skshahnawaz

[2020-03-24 01:47] bradymiller commented on #3226
@wisdommatt will need to post a message on this PR, then can Assign

[2020-03-24 01:55] ShubhamBansal1997 commented on #2914
@stephenwaite There is no update on this for a long time, let me pick this up

[2020-03-24 04:14] #3220 closed

[2020-03-24 05:20] #3193 closed

[2020-03-24 06:43] #3194 closed

[2020-03-24 09:02] prondubuisi commented on #3226
@sjpadgett any sample lookups as to how this works? I am looking to do some FHIR work

[2020-03-24 09:04] bradymiller commented on #3222
I am pretty sure this was fixed recently:
https://github.com/openemr/openemr/pull/3023

Is this still in issue in most recent codebase?

[2020-03-24 09:07] bradymiller commented on #2914
hi @ShubhamBansal1997 , it's yours :)

[2020-03-24 09:19] prondubuisi commented on #2943
Hello @stephenwaite what is going on here. Lol. Is something I can work on my docker install?

[2020-03-24 10:03] sjpadgett commented on #3226
take a look at now merge PR# 3212 @silvistershebin did a very nice job at catching on and implementing same pattern for patient resource.
I'm so happy some folks want to help with FHIR. Next thing ya know, kids will start eating their vegetable!!!!

[2020-03-24 12:01] sjpadgett opened #3231 "Search Engine"
### Describe the problem
OpenEMR is desperate for a search engine. To many features require search. Reports comes to mind but, generalLy APIs would benefit immediately.

By having  a central search engine we can pull much sql from core and have it in one place.
Now I get that the more granular search requirements by some scripts will need to remain with scripts but generally, how can we go wrong!

[2020-03-24 12:20] sjpadgett opened #3232 "DOB vs dob naming in lookups."
### Describe the bug
Lets follow DOB naming convention from table name. Some services not getting/saving DOB. So generally, use DOB in all usage.

[2020-03-24 12:21] sjpadgett commented on #3232
I have this covered in my next PR. Just wanted to make aware.

[2020-03-24 12:59] silvistershebin commented on #3226
I can take this up @sjpadgett

[2020-03-24 13:12] adunsulag commented on #3231
@sjpadgett I'm mostly familiar with the CCDA and module parts of the codebase.  What does the data look like for the rest of the codebase in terms of searching on categorical data versus full text searching.  Do we need to search on documents or encrypted columns at all?

[2020-03-24 13:15] prondubuisi commented on #3226
Hello @silvistershebin how were you able to test your fix? postman?

[2020-03-24 13:27] prondubuisi commented on #3226
Confirmed it can work with postman, Is there a Documantation for FHIR in terms of endpoints and JSON accepted? @bradymiller @sjpadgett @silvistershebin

[2020-03-24 13:32] yashrajbothra commented on #3226
https://www.hl7.org/fhir Every Resource with Example is here in this Docs. Further you can compare it with HAPI Test server.

[2020-03-24 13:35] prondubuisi commented on #3226
thanks @yashrajbothra , Was wondering why we don't have our own docs to specify what we have done, how you can test it, and what we still want to do(Todos)

[2020-03-24 13:38] yashrajbothra commented on #3226
I guess there were less contributors intrested in FHIR so far. But now we are here 😃

[2020-03-24 13:51] wisdommatt commented on #3226
Y can't you find my handle

[2020-03-24 13:54] wisdommatt commented on #3226
@bradymiller  I would like to work on this

[2020-03-24 14:35] sjpadgett commented on #3226
At the time I could not assign to you because you hadn't posted a post yet. Now that you have I can assign.

[2020-03-24 14:49] sjpadgett commented on #3226
@prondubuisi

Hi @prondubuisi That's on me. However, I've posted numerous pleas for help with FHIR over last three years where i've indicated the goal of getting required resources in place.

With the current codes intent being an example of patterns, it is by no means the end all. Sooo, you guys can improve or offer suggestion on implementation if you feel a better solution is warranted.
Nobody i

[2020-03-24 14:52] sjpadgett commented on #3226
@silvistershebin and @yashrajbothra
Same with you guys. How about taking a shot at a resource?

[2020-03-24 14:57] yashrajbothra commented on #3226
Yea @sjpadgett Sir ,Sure trying to implement Validation but in parallel i can take any clinical module resource.

Can I start with AllergyIntolerance resource or something is more prior?

[2020-03-24 15:06] prondubuisi commented on #3226
So many persons want to work on this. Time to create the documentation with todos! lol

That would be nice. How about we create  a document say FHIR_README.md to start with this?

[2020-03-24 15:20] sjpadgett commented on #3226
Hi @yashrajbothra Actually both validation and ValeSets are very important along with resources however, whatever you take on, be sure it falls into goalset you've offered for your project proposal.
We(mentors) will try to make adjustments to overall FHIR project to accommodate meeting your project goals. So if we start moving in a direction away from where you're at or blows the scope of what you

[2020-03-24 15:28] sjpadgett commented on #3226
And what do you propose I put in this doc?

[2020-03-24 15:58] prondubuisi commented on #3226
I don't really have experience with this ,but am thinking it should contain things like what we have done, how you can test it, and what we still want to do(Todos). Something like API_README.md. Since we are looking to engage contributors here is would be nice to get a guide docs I think.

[2020-03-24 16:46] adad20 commented on #3222
hi @bradymiller I have checked this issue is does not exist. DOB is already limit by the current date.

[2020-03-24 16:47] sjpadgett commented on #3231
Maybe a more apt name would be a query engine. I know of no document text type search and for doing full text search on tables, not sure but, I seem to recall one or two somewhere. Most are lookups where they are duplicated in various versions achieving the same results throughout codebase. These can be moved.

I bring this up mainly for API search say, with FHIR. I used integrating with codebase

[2020-03-24 17:00] skshahnawaz commented on #3222
I mean the options for selecting year is available upto 2047, though selections beyond current date are disabled. What I was trying to focus is to limit the options of the Year to current year

<img width="1319" alt="Screenshot 2020-03-24 at 10 28 13 PM" src="https://user-images.githubusercontent.com/52563824/77454759-fbc09d00-6e1e-11ea-9b81-f1a12e178fd1.png">

[2020-03-24 17:06] adad20 commented on #3222
@skshahnawaz Ohk you mentioned date that's why we got confused.😅

[2020-03-24 18:08] adad20 opened #3233 "UI of Procedure Statistics Report is not up-to the mark"
### Describe the bug
UI of this page is not according to standards.

### To Reproduce
Go to Reports -> Procedures -> Statistics

### Expected behavior
Nice alignment of form.

### Actual behavior
![Screenshot (101)](https://user-images.githubusercontent.com/55142272/77461342-6aeebf00-6e28-11ea-9914-6d17bc216574.png)

PS: I want to work on this issue.

[2020-03-24 20:19] bradymiller commented on #3226
hi @prondubuisi ,
Could possibly just use the API_README.md for this since we don't need to list FHIR endpoints (since standardized). What about this as a starting point:
https://github.com/openemr/openemr/pull/3234/files
(then could place FHIR TODO along with API and even a FHIR specific section)
(note I removed team section since the team is getting too big to list :) )

[2020-03-24 20:46] prondubuisi commented on #3226
@yashrajbothra @silvistershebin can we collaborate to make this happen?

[2020-03-24 21:26] stephenwaite commented on #2943
hi @prondubuisi , say you were going to setup another site from your multi-site install but and were fine with turning off permissions checking because your server would have to scan through all of your files in the `OE_SITE_DIR`, which could be tens maybe hundreds of thousands for all of the folders for patient documents in each site
https://github.com/openemr/openemr/blob/master/setup.php#L201-L

[2020-03-24 21:43] bradymiller commented on #3226
go for it on the doc stuff. I'll bring in the PR.

[2020-03-24 22:14] prondubuisi commented on #2943
I am guessing this set $checkPermissions to false will be for development environments right?

[2020-03-24 22:16] #3203 closed

[2020-03-24 22:17] stephenwaite commented on #2943
it's ok to leave it to be hard coded to true for everyone and we could update the multi-site guide to help somebody from having to go into the code

https://www.open-emr.org/wiki/index.php/OpenEMR_Multiple_Sites_Module

[2020-03-24 22:23] tywrenn commented on #3160
Btw I've seen some areas in the code where a `btn-primary` isn't needed (e.g. messages area). These can be kept as long as it doesn't 'look odd'.

[2020-03-24 22:30] prondubuisi commented on #2943
This should solve it. Looks like there is an actual check for $checkPermissions here https://github.com/openemr/openemr/blob/master/setup.php#L1491

I guess a Wiki Account is needed to update the docs?

[2020-03-24 22:35] ShubhamBansal1997 commented on #3159
Raised the PR https://github.com/openemr/openemr/pull/3235 @stephenwaite @prondubuisi Next Steps?

[2020-03-24 22:37] tywrenn commented on #3160
Also adding this to the guide:  text colors/backgrounds should not be used for any form-control inputs. If the intent is to use them for validation purposes, we must use the built-in validation methods BS4 [has stated here](https://getbootstrap.com/docs/4.4/components/forms/#validation).

[2020-03-24 22:45] prondubuisi commented on #3159
Approved already! You can pick any other issues you want to work on thanks.

[2020-03-24 22:47] ShubhamBansal1997 commented on #2914
@stephenwaite Is this issue due to DB or is it restricted over the GUI, if it's restricted over the GUI can you point out which page it is?

[2020-03-24 22:51] ShubhamBansal1997 commented on #3159
Let's catch up over slack, have few doubts over a issue @prondubuisi

[2020-03-24 22:59] stephenwaite commented on #2943
hi @prondubuisi , yes there's a check but if we advise to go in and set it to false to avoid checking there should be a clickable link around line 1556

[2020-03-24 23:11] prondubuisi commented on #2943
Oh I see. There  is no link or button there
 https://github.com/openemr/openemr/blob/master/setup.php#L1556

[2020-03-24 23:13] sjpadgett commented on #3231
Okay, i'll just do it!

[2020-03-24 23:14] stephenwaite commented on #2943
@bradymiller can get you hooked up with wiki

[2020-03-24 23:20] #3159 closed

[2020-03-24 23:22] stephenwaite commented on #2914
hi @ShubhamBansal1997 , it's in lists, Admin->Forms->Lists->Files type white list
![Screenshot from 2020-03-24 19-21-13](https://user-images.githubusercontent.com/5618372/77485887-b7c09e80-6e04-11ea-96b3-1e6eb56b0480.png)

[2020-03-24 23:27] bradymiller commented on #2943
hi @prondubuisi ,
Request a wiki account here:
https://www.open-emr.org/wiki/index.php/Special:RequestAccount
(just let me know after you submit the request, and then I'll confirm it)

[2020-03-25 00:14] adunsulag commented on #3231
Sorry @sjpadgett I wish I had more time in the day to do all that I want to do.  I asked about the full text search because I was wondering if we wanted/needed to use something like sphinx for full document / text search.

Categorical search is a much easier problem to solve than full text parsing or partial search matches, branching etc.

I think we had a student that was going to work on the FHI

[2020-03-25 01:02] sjpadgett commented on #3231
No problem @adunsulag , I know you're busy and try not to include you directly in discussions. But, most times I can count on you to participate.

The only reason I put up these issues to prompt a discussion is that most times I develop infrastructure and nobody uses or get pissy about the way it was done.
Also, feedback is nice where someone may have experienced a similar situation that could mak

[2020-03-25 01:07] sjpadgett commented on #3231
btw: conical search would be just one of the implemented class. Then there'd be a search string parse class and so forth...

For students, i'm still trying to figure out if you want to be engineers or coders!

[2020-03-25 01:10] sjpadgett commented on #3231
oh my, did I say that out loud:)

[2020-03-25 01:11] adunsulag commented on #3231
I just finished a 6 month effort that part of it included encrypted search using blind indexes in order to keep the data encrypted using non-deterministic encryption (to avoid dictionary / rainbow table attacks) on the database columns but also be able to search on it.  However, I treated each search entity separately with no cross-entity searching as the use case doesn't need it right now.

I don

[2020-03-25 01:25] prondubuisi commented on #3231
Whats the --diff ? Definitely love to be an Engineer. Until someone changes my mind.

[2020-03-25 01:34] sjpadgett commented on #3231
We don't however, it's been discussed. If anything, for the specific reason to secure transactional data.

That's the gist however, you did remind me of security which moves me to lean more towards an abstract class.  Even hooking into dispatcher to validate search terms before hitting handling classes.

[2020-03-25 01:44] tywrenn opened #3236 "Github Rate Limit Exhausted Bug"
### Describe the bug

Started getting this error for composer when running docker:
[code]

Currently running latest LTS Ubuntu version. This seems to be a new addition to GitHub and it is preventing me from running Docker.

[2020-03-25 01:47] bradymiller commented on #3236
I've also seen this intermittently over last couple days. It should still continue working even with these errors.

[2020-03-25 01:47] tywrenn commented on #3236
@bradymiller This is blocking me from building currently

[2020-03-25 01:48] bradymiller commented on #3236
Can you past the end of the docker log where it is crashing out?

[2020-03-25 01:48] ShubhamBansal1997 commented on #2914
@stephenwaite Please review the PR https://github.com/openemr/openemr/pull/3237

[2020-03-25 01:50] tywrenn commented on #3236
What's weird is it does _run_ so it isn't necessarily crashing, but anything in the composer.json fails to download.

[2020-03-25 01:51] bradymiller commented on #3236
It should complete, but just does that for all the packages when hit that "limit", it should then download the package from "source" instead. Just let it keep going, and let me know if it crashes out.

[2020-03-25 01:53] tywrenn commented on #3236
It stopped rate limiting after the 3rd try lol -- guess there's a lot of people coding at once

[2020-03-25 01:55] bradymiller commented on #3236
yep, hopefully github doesn't crash with the likely combination of increased traffic and likely less manpower.

[2020-03-25 01:56] tywrenn opened #3238 "Navbar Broken"
### Describe the bug
The navbar is broken as shown below.

### To Reproduce
https://prnt.sc/rm8hf7

### Expected behavior
No broken navbar

### Client configuration

- Browser: Google Chrome 80.0.3987.149
- Operating system: Ubuntu LTS

[2020-03-25 01:59] sjpadgett commented on #3231
To be blunt, for one thing, if I had one of my interns/jr. engineers come to me and ask for a todo, i'd send them to engineering support or the coding group.
I'm sorry but, i'm an old school(I guess) engineer/engineering manager. I though our students are from engineering programs but I realize that may not be true. So I need to lighten up and be more supportive. Which I will.

If I was to sum up

[2020-03-25 02:00] tywrenn commented on #3238
Anyone wanna fix this?

[2020-03-25 02:02] tywrenn commented on #3238
I think I should take this up cuz it's complex

[2020-03-25 02:04] sjpadgett commented on #3238
What broken?

[2020-03-25 02:06] tywrenn commented on #3238
Logo is misaligned

[2020-03-25 02:07] tywrenn commented on #3238
Also the profile area might be too yet i'm not sure

[2020-03-25 02:13] sjpadgett commented on #3238
okay, just wondering.

[2020-03-25 02:14] bradymiller commented on #3231
But that may be the definition from the perspective of an engineer :)

From a coder, the definition may be that engineers dream and coders do
Or maybe it is coders dream and engineers do

Dang, now I'm confused. I'll search for the answer in OpenEMR's search api:
[code]
It didn't work :(

[2020-03-25 02:15] sjpadgett commented on #3238
yep, alignment is wrong. don't know if there's an easy fix for that...

[2020-03-25 02:25] sjpadgett commented on #3231
I'm impressed doctor. The years i've known you I finally get to see the lightened up side of you.
Or is this your way of tactfully telling me i'm being to much of a hard???:)

[2020-03-25 02:31] bradymiller commented on #3231
lol, I think Jerry should keep on being Jerry
The telegram chatter/antics must just be expanding to github (shameless plug for OpenEMR telegram chat channel that @stephenwaite set up at: https://t.me/openemr )

[2020-03-25 03:04] #3085 closed

[2020-03-25 03:04] #3177 closed

[2020-03-25 03:21] ShubhamBansal1997 opened #3239 "SQL Mode issues while installing OpenEMR"
### Describe the bug

After changing the modes in the Installer.class.php and try running installation via GUI following error occurs:
```ERROR. unable to execute SQL: 'INSERT INTO `form_eye_mag_prefs` (`PEZONE`, `LOCATION`, `LOCATION_text`, `id`, `selection`, `ZONE_ORDER`, `GOVALUE`, `ordering`, `FILL_ACTION`, `GORIGHT`, `GOLEFT`, `UNSPEC`) VALUES('PREFS', 'ACT_SHOW', 'ACT Show', 2048, 'ACT_SHOW'

[2020-03-25 03:27] ShubhamBansal1997 commented on #3239
@bradymiller Please assign this to me.

Moreover, I have a plan of creating main issue `Support Installation` and as we proceed attach each minor issue to main issue, just like maintaining a thread.

What are you thoughts on the same?

[2020-03-25 03:29] #2942 closed

[2020-03-25 03:31] bradymiller commented on #3239
hi @ShubhamBansal1997 , It's yours :) And agreed on creating a main issue (I also do this on large undertaking).

[2020-03-25 03:54] ShubhamBansal1997 commented on #2277
@bradymiller @danehrlich1  What's going on over this? If I can help, would give a try for sure.

[2020-03-25 05:14] prondubuisi commented on #2943
Hello @bradymiller account has been requested. Thanks.

[2020-03-25 06:17] robertdown commented on #3160
I like where this is going. I have a few recommendations as well but my head is with COVID stuff right now. I'll try to put together my thoughts this week

[2020-03-25 06:29] robertdown opened #3241 "COVID-19 CDC Person Under Investigation and Case Report Form"
The CDC has published a Person Under Investigation and Case Report Form which I have begun work on at the [covid19--pui-case-report-form](https://github.com/openemr/openemr/tree/covid19--cdc-pui-case-report-form) branch. If you would like to assist in creating this form please work from that branch and submit PRs. You do **not** need to finish something completely to submit a PR, just move the for

[2020-03-25 06:30] robertdown opened #3242 "COVID-19 Forms"
This will be a place to find related COVID-19 forms that we are trying to create.

#3241 CDC PUI and Case Report Form

[2020-03-25 07:00] yashrajbothra commented on #3231
Woohoo, then I am Just trying to be a Good Engineer.

So far I am multi-tasking a lot and my git stash is gone messy but I would like to contribute to this one. As per my understanding here we want a class or something which can be used everywhere for searching in a database so we don't need to write SQL for search again n again. Please Correct me if I misunderstood.

[2020-03-25 07:11] bradymiller commented on #2943
hi @prondubuisi , done. let me know if not working.

[2020-03-25 07:23] prondubuisi commented on #3231
Well It turns out I am partly a coder and partly an Engineer!

[2020-03-25 07:25] prondubuisi commented on #2943
Did not get any message regarding the wiki account in my inbox.

[2020-03-25 07:27] bradymiller commented on #2943
I did think it was odd that you weren't confirmed (ie. email wasn'd verified). Anything in your junk mail?

[2020-03-25 07:28] bradymiller commented on #3231
a hybrid
I think that's a Enginoder :)

[2020-03-25 07:31] prondubuisi commented on #2943
Seen in Spam Folder

[2020-03-25 07:32] prondubuisi commented on #3231
Thankfully you don't apply this concatenation when naming Identifiers.

[2020-03-25 09:20] usama-kabel commented on #3176
@bradymiller
This feature is available in current version 5.0.2(1)?

[2020-03-25 12:13] #2914 closed

[2020-03-25 12:14] yashrajbothra commented on #3226
Hey @sjpadgett Sir, So I was testing create in a patient resource and found a use case. What if something is not a `Required` as per FHIR spec but our `SQL query` is designed that way that it throws an error because of its `Required` there. Whom should we follow?

Side Note: Same Data I am posting in test server goes well.

[2020-03-25 12:24] sjpadgett commented on #3226
If it is not a part/element of the resource then that could be an issue. However, if the resource includes the element we can still require as part of our capability.

[2020-03-25 12:32] yashrajbothra commented on #3226
{
        "resourceType" : "Patient",
        // from Resource: id, meta, implicitRules, and language
        // from DomainResource: text, contained, extension, and modifierExtension
        "identifier" : [{ Identifier }], // An identifier for this patient
        "active" : <boolean>, // Whether this patient's record is in active use
        "name" : [{ HumanName }], // A name associated with t

[2020-03-25 15:12] sjpadgett commented on #3231
All right, All right. Make fun if you will but, think about it a minute.

It's true, an engineer needs some coding skills however, not in just one language but all the languages of his discipline. More than coding skills, he needs to understand  these various language architectures so they can make an informed decision as to if it best applies to their task at hand.
After that an engineer makes de

[2020-03-25 15:19] prondubuisi commented on #3231
Points taken @sjpadgett. FWIW I think you are doing pretty well as a mentor on here!

[2020-03-25 15:24] adad20 opened #3245 "Data in one input field disappears if clicked another input field"
### Describe the bug
Go to patient-finder modal.

### Actual behavior

https://www.loom.com/share/51b760d7de1a4955a8422cab5200be4e

### Client configuration

- Browser: Chrome Version 80.0.3987.149

[2020-03-25 16:00] sjpadgett commented on #3226
@yashrajbothra @silvistershebin @prondubuisi
Very good pickup Yash. Yes it is true that our standard patient service will not provide everything needed in the patient resource, we still have to deal with other referenced elements. Take:

Normally you'd expect this person to be an openemr provider however, just like a ccda import, this will mostly be a provider from another clinic. To us he is an e

[2020-03-25 17:42] tywrenn commented on #3236
This issue is being reopened as it still is happening

[2020-03-25 17:44] tywrenn commented on #3236
Full log:
[code]

[2020-03-25 17:45] tywrenn commented on #3236
@bradymiller Still having issues

[2020-03-25 18:00] bradymiller commented on #3236
hi @tywrenn ,
If you remove this block of code from composer.json before doing `docker-compose up`, does it prevent the crashing out: https://github.com/openemr/openemr/blob/master/composer.json#L71-L76

[2020-03-25 18:05] tywrenn commented on #3236
@bradymiller Nope it still crashes out

[2020-03-25 18:07] tywrenn commented on #3236
@bradymiller I added the OAuth token that it asked for though and the issue resolved itself so I believe that's something we need to fix

[2020-03-25 18:12] bradymiller commented on #3236
Still think this a infrastructure breaking issue (sort of why travis is no longer showing on github). Things are crumbling a bit infrastructure wise. Because if it can't use github, it should be able to get the source. Those flex dockers are meant to run without any token and have done so for years. We could make a token and place it, but github would likely shut it down if got to much use. Note t

[2020-03-25 18:17] bradymiller commented on #3236
We could place a docker environment setting for the token and use that (and we could even create a token like i did for travis and place it in the docker-compose.yml).

[2020-03-25 18:26] tywrenn commented on #3236
Definitely - yet this should be an optional setting as some users may not have this issue

[2020-03-25 18:29] tywrenn opened #3247 "Travis CI Seems to have disappeared"
### Describe the bug

Travis CI seems to have disappeared from GitHub... where could it have gone?
@bradymiller

### To Reproduce
https://prnt.sc/rmpohg
Not showing checks or x's on recent builds

[2020-03-25 18:48] sjpadgett commented on #3247
That's because I mentally willed him away. Travis is definitely scared of
me!!!

On Wed, Mar 25, 2020 at 2:30 PM Tyler Wrenn <notifications@github.com>
wrote:

--
Jerry Padgett
Consultant and Project Administrator for OpenEMR
Brandon, Florida 33511
sjpadgett@gmail.com <sjpadgett@gmailo.com>

[2020-03-25 19:49] bradymiller commented on #3247
it is odd, travis is still going (I am following it and will do psr2 fixes as needed):
https://travis-ci.org/github/openemr/openemr/branches?utm_medium=notification&utm_source=github_status

But just not showing the icon up on gitub. Guessing that infrastructure is likely just showing some cracks.

[2020-03-25 20:26] stephenwaite commented on #3236
have experienced this issue the last couple of days too

[2020-03-25 20:27] bradymiller commented on #3236
working on a fix; hopefully in soon

[2020-03-25 20:41] robertdown commented on #3231
Let’s stick to the topic at hand and try to avoid rabbit holes that only cause schisms between different types of contributors. Engineers, coders, hybrids all have a place in the community and all bring valuable skills to the codebase.

[2020-03-25 21:09] Hackinet commented on #3247
Does it make it weirder that I can see it?
Maybe it came back. :)

[2020-03-25 21:25] sjpadgett commented on #3247
Because i'm no longer mad at him! :)

On Wed, Mar 25, 2020 at 5:10 PM Piyush Jha <notifications@github.com> wrote:

--
Jerry Padgett
Consultant and Project Administrator for OpenEMR
Brandon, Florida 33511
sjpadgett@gmail.com <sjpadgett@gmailo.com>

[2020-03-25 21:33] sjpadgett commented on #3231
@robertdown
I'm talking to students and will skew topic how I see fit. It's my topic.

I don't see you contributing to topic title!

[2020-03-25 21:41] sjpadgett commented on #3231
I can play this game....

[2020-03-25 21:59] bradymiller commented on #3231
ok, nothing to see hear :)

![image](https://user-images.githubusercontent.com/278968/77589294-a3ce7880-6ea8-11ea-81d0-357e1ae772da.png)

Gonna try to say something somewhat intelligent regarding search api to keep things positive:
Regarding search engine and api in general, an overriding goal is that Services take over the functionality in the myriad of other places where these functions exist.

[2020-03-25 22:03] bradymiller commented on #3231
dang, I like the gif, but my comment wasn't smart enough :(

Anyways, keep discussing whatever you feel like discussing whether it be search api or the evolution patterns of Enginoders :)

[2020-03-25 22:05] yashrajbothra commented on #3231
GIFKing @bradymiller , I wanna learn how you pick so amazing GIFs every time😍

[2020-03-26 01:02] mdsupport commented on #3231
Going back to original question, I got lost at

So I will skip that and go with the assumption that you are proposing response to plain text in google styled single textbox like `'jon doe'` will display links for everything on patient dashboard for `'jon doe'` and encounter details and lab results `'jon doe'` etc. with minimal details.  If the mechanism is good it will also show `'john doe'`, `'ja

[2020-03-26 02:34] robertdown commented on #3160
I'm going to create a topic on the forum for this. @stu01509 hope you don't mind, I'll cross-post your rules and we can talk over there

[2020-03-26 03:22] tywrenn opened #3248 "Appointment Search in Calendar Needs BS4"
### Describe the bug

When you click search in calendar, the search for appointments area hasn't gotten any BS4 improvements.

### To Reproduce
https://prnt.sc/rmwvq5
![image](https://user-images.githubusercontent.com/46497068/77607066-a0aaab00-6eef-11ea-9b3e-9591211b6875.png)
https://prnt.sc/rmwuyg
![image](https://user-images.githubusercontent.com/46497068/77607088-aa341300-6eef-11ea-91d1-77d3e1

[2020-03-26 03:24] tywrenn commented on #3248
Anyone wanna fix this?

[2020-03-26 03:29] stu01509 commented on #3248
Please assign this issues to me.

[2020-03-26 03:31] tywrenn commented on #3236
I don't think commit #19b21fd is the answer to this

[2020-03-26 04:12] adad20 commented on #3245
hi @stu01509 @tywrenn @bradymiller Can you please verify this issue. I think it is in my system only because I messed with the BS files.

[2020-03-26 04:16] bradymiller commented on #3236
That works in combination with the docker updates, which are now in the flex dockers:
docker pull openemr/openemr:flex

Here's the code that was changed in the docker:
https://github.com/openemr/openemr-devops/commit/cd2691cd0af571c46a3079971f763447f8be18d2

In docker-compose.yml by default, it is set to a token by github user docker-machine (this is an account that has access to nothing on github

[2020-03-26 04:21] #3245 closed

[2020-03-26 04:36] adad20 commented on #3160
hi @bradymiller Should we create `STYLING_GUIDE.md` file to write all the rules in the sequential way also we may refer the documnet in `README.md` so that everyone can easily read it before start contributing.

[2020-03-26 04:39] stu01509 commented on #3160
Hi @robertdown

It's my pleasure, Go for it!

[2020-03-26 04:45] bradymiller commented on #3248
hi @stu01509 , it's yours :)

[2020-03-26 05:04] stu01509 commented on #3160
Hi @adad20

It's a good idea, But I think it should wait for discuss on Github and OpenEMR forum,
Because the styling guide has a lot of section not finished, It just like a simple document.

[2020-03-26 05:37] #3107 closed

[2020-03-26 06:34] adad20 commented on #3233
hi @bradymiller  Do this looks good or the alignment should be different?

![Screenshot (105)](https://user-images.githubusercontent.com/55142272/77617333-e1d7a500-6f59-11ea-97aa-83c9b88f11e9.png)

[2020-03-26 06:55] mdsupport commented on #3160
Please keep in mind many of the screens get pulled in for building a comprehensive patient report with an option for pdf output that has severe limitations on html input.
This report is extremely critical for most practices as it is the only way to print / output a formatted chart for the patient.

[2020-03-26 07:58] yashrajbothra commented on #3226
Hii @sjpadgett Sir, I was trying to find the answer but ended with another question. In test server (HAPI) the canonical URL should in a format but they don't check if it exists or not. Do we have to check the reference exists or just the format which is defined by FHIR?

[2020-03-26 12:03] stu01509 commented on #3160
Hello @mdsupport

Thanks for your kind reminder, It's very useful information,
Can you list of patient report pages?

[2020-03-26 14:15] stephenwaite commented on #3160
hi @stu01509 , the main patient report is at `interface/patient_file/report/patient_report.php`

[2020-03-26 16:04] sjpadgett commented on #3226
Hi Yash,
This is because they opted to save the url rather than resolve and pull in the content the url ref points to. On the public fhir server i'm guessing it could generate a lot of traffic.

We in the end will probably need to resolve the end point resource especially for importing transactions like transfer of care etc.

[2020-03-26 21:21] stu01509 commented on #3160
Thank you @stephenwaite

[2020-03-27 05:33] bradymiller commented on #3247
I am also seeing travis now, so closing this. Please stop scaring travis away @sjpadgett :)

[2020-03-27 05:33] #3247 closed

[2020-03-27 13:56] stu01509 opened #3251 "Font Awesome icon issue."
### Describe the bug

In the input submit button, Add `btn btn-primary btn-save` style, But font awesome icon
didn't display.

![image](https://user-images.githubusercontent.com/22230889/77763255-c2359f00-7075-11ea-976e-13dec7a1dbc8.png)

### Client configuration

- Browser: Firefox 73.0.1（64 bit）
- Operating system: Windows 10

[2020-03-27 14:53] adad20 commented on #3251
@stu01509 I have faced the same issue but when I used `<button>` instead of `<input>` it worked.

[2020-03-27 15:17] prondubuisi opened #3253 "New docker commands not working, even after pulling in latest version of OpenEMR flex"
### Describe the bug

All our new Shiny commands for running PHPcs, PHPcbf and other testing tools do not work for me, even after pulling in the latest OpenEMR flex. I am wondering if this is the case for everyone?

### To Reproduce
-  Pull in latest OpenEMR flex, run
[code]
Then run any of the following commands
 - To create a report of PSR2 code styling issues (this takes several minutes):
[code

[2020-03-27 17:26] adad20 commented on #2917
hi @stephenwaite medications list is rendered from the table `lists` we need to add more snippets data to the `lists` table from the `prescription` table so that more data is displayed while adding to editing the medications.
Am I missing something?

[2020-03-27 17:34] stephenwaite commented on #2917
hi @adad20, no, that is the first item to address, thank you

[2020-03-27 17:42] stephenwaite commented on #3253
hi @prondubuisi , just ran first command
[code]
output
[code]

[2020-03-27 17:47] bradymiller commented on #3253
sounds like we need to increase the `-d memory_limit` parameter in the
command to:
... php -d memory_limit=768M  ...

On Fri, Mar 27, 2020 at 10:42 AM stephen waite <notifications@github.com>
wrote:

[2020-03-27 17:51] stephenwaite commented on #3253
probably why it's a memory hog is because on the easy docker install it's not excluding the `sites`directory which is getting filled by the openemr docker

[2020-03-27 18:07] stephenwaite commented on #3253
not too many affected files so could probably exclude `sites/default/sqlconf.php` and `sites/documents`
[code]

[2020-03-27 20:39] dtobi59 commented on #3242
@robertdown Hope, I can proceed with this.

[2020-03-27 22:13] yashrajbothra opened #3255 "Attack of Errors"
### Describe the bug

I was trying to install OpenEMR with XAMPP. Php ver - 7.2.9

![image](https://user-images.githubusercontent.com/47683556/77804631-0b9de280-70a6-11ea-92c3-3ce9853b9ae1.png)

AM I  MISSING SOMETHING??

[2020-03-27 22:33] stephenwaite commented on #3255
hi @yashrajbothra , look out :)
common xampp issue to turn off notices, https://www.open-emr.org/wiki/index.php/FAQ#What_are_the_correct_PHP_settings_.28can_be_found_in_the_php.ini_file.29.3F

[2020-03-28 01:33] dtobi59 commented on #3242
I am working on this...

[2020-03-28 02:02] stu01509 commented on #3255
Hello @yashrajbothra

Configure the php.ini file that the problem will be fixed.

[2020-03-28 02:06] stu01509 commented on #3251
Hello @adad20

I know it can use <button> instead of <input>, But in OpenEMR have a lot of input submit button, If we can solve it that will be great!

[2020-03-28 02:32] bradymiller commented on #3253
hi,

Just brought in fixes to ignore the sqlconf.php and stuff in documents (also bumped up the memory a bit):
https://github.com/openemr/openemr/pull/3257

Here's a run of the developer tools commands:
[code]

[2020-03-28 02:35] bradymiller commented on #3253
hi @prondubuisi ,
Your issues likely stem from running build commands (composer install and npm) outside the docker, which will then populate vendor directory and break the docker. Do you see anything in the vendor directory from outside the docker?

[2020-03-28 03:32] prondubuisi commented on #3253
Hello @bradymiller I have stopped running build commands from outside docker after this issue https://github.com/openemr/openemr/issues/3143 . Also my vendor and node_modules folder are empty. As recommended in the issue above, this is my usual workflow

1. docker-compose down -v
2.  docker volume prune
3. docker pull openemr/openemr:flex
4.   remove the vendor directory
5.   remove the node_modul

[2020-03-28 03:52] bradymiller commented on #3253
hi @prondubuisi ,
Lets make sure no competing docker running (having _openemr in the name):
[code]
If rule that out, then what does the docker log look like?
[code]

[2020-03-28 03:54] prondubuisi commented on #3253
For `docker ps -a`

[code]

[2020-03-28 03:56] bradymiller commented on #3253
thumbs up on the docker ps -a :)
now lets see what the docker log looks like

[2020-03-28 03:57] prondubuisi commented on #3253
[code]

[2020-03-28 04:07] bradymiller commented on #3253
There is some breaking going on in that log :) ; very odd stuff (maybe a choppy internet connection; https://stackoverflow.com/questions/48974673/composer-failed-to-open-stream-php-network-getaddresses-getaddrinfo-failed-na). I am also suspicious that there are cracks developing in the composer infrastructure over the last week.

Here's what the log should look like (1st step is composer stuff, 2n

[2020-03-28 04:09] prondubuisi commented on #3253
@bradymiller Most definitely an Internet connection issue. Will try another reinstall. thanks!

[2020-03-28 04:09] bradymiller commented on #3253
I'd rec doing following until you get a good "docker" run:
[code]

And then never tear that docker down again :)

[2020-03-28 04:12] prondubuisi commented on #3253
Thanks will do!

[2020-03-28 04:13] bradymiller commented on #3253
May also make sense for us to outline a development workflow not based on docker (gasp) based on something like ubuntu OS doing development in more traditional format for folks with poor internet or limited bandwidth.

[2020-03-28 04:14] prondubuisi commented on #3253
Will be very happy to work on this. Data and Bandwidth are huge bottlenecks/ Barriers of entry for Devs in most parts of Africa.

[2020-03-28 04:15] prondubuisi commented on #3253
Even though the docker install will be needed in the long run if one wants to use the integrated dev tools!

[2020-03-28 06:12] bradymiller commented on #3236
btw, this issue also recently blew up the demo farm. So now experiencing this issue on 3 fronts:
1. travis testing (12*30 = 360 api requests per travis run :) )
2. demo farm (50*30 = 1500 api requests daily when the 50 demos reset around midnight PST :) )
3. easy dev docker use (30 every time a user does a docker-compose up)

The api limit is 5000 request per hour (seems to simply do a full reset

[2020-03-28 07:51] bradymiller commented on #3251
hi @stu01509 and @adad20 , May not be a solution for the input issue: https://stackoverflow.com/questions/2587669/can-i-use-a-before-or-after-pseudo-element-on-an-input-field

[2020-03-28 08:01] bradymiller commented on #3251
so appears pseudo-elements (etc ::before) can not act upon replaced elements (etc input): https://developer.mozilla.org/en-US/docs/Web/CSS/::after
https://codebond.co/tutorial/css/all-about-before-and-after-pseudo-element

(i hope i am wrong :) )

[2020-03-28 08:56] adad20 commented on #3251
hi @bradymiller @stu01509 I noticed in different places of codebase button is coded in different styles. Some have used `<input>`, `<button>` and `<a>`. So, we need a standard here also.

![Screenshot (111)](https://user-images.githubusercontent.com/55142272/77819335-1d13d880-7100-11ea-9b71-9767c7edcc7f.png)

[2020-03-28 09:25] bradymiller commented on #3191
fixed by @harshbawari

[2020-03-28 09:25] #3191 closed

[2020-03-28 09:59] adad20 commented on #2917
hi @stephenwaite,
How is database created during the time of installation where are the files? Since we have to add more columns to the table lists we have to create it during installation.

[2020-03-28 10:22] stu01509 commented on #3251
Hi @bradymiller and @adad20

Thanks for your information, It would help me to try to fix this issue.

[2020-03-28 11:26] yashrajbothra commented on #3255
Thanks, @stephenwaite  @stu01509 I turned off display errors and its gone now. But shouldn't we solve the errors rather than stop displaying ??

[2020-03-28 12:38] stephenwaite commented on #3255
hi @yashrajbothra , yes, believe that's a huge project that is in the works https://github.com/openemr/openemr/issues/3118

[2020-03-28 12:43] yashrajbothra commented on #3255
Ohh, how can I forget that. Thanks for the reference @stephenwaite .

[2020-03-28 12:43] #3255 closed

[2020-03-28 12:44] stephenwaite commented on #2917
hi @adad20 , it's in `sql/database.sql`

[2020-03-28 14:56] adad20 commented on #2917
hi @stephenwaite Sorry to disturb you again and again 😅 but I am not sure from where the add/edit modal of the prescriptions is opening. I searched a lot 😩

[2020-03-28 15:37] stephenwaite commented on #2917
no prob @adad20 :), isn't this a smarty module in `templates/prescription` directory?

[2020-03-28 19:38] #3216 closed

[2020-03-28 20:44] bradymiller commented on #3160
Will definitely be a good idea to have a centralize document at some point. Not sure we are there yet. When get there, will likely make sense to replace the README.md in interface and move it to interface/themes

[2020-03-28 21:05] mdsupport commented on #3160
While on the subject, how about moving all documentation, including the files in standard distro, to [readthedocs.org](https://docs.readthedocs.io/en/stable/intro/getting-started-with-sphinx.html)?  Nice thing is its integration with the github.  Here is sample of [coding style guide](https://php-on-couch.readthedocs.io/en/latest/quickstart/codestyle.html) provided by one of the projects.

[2020-03-28 23:54] bradymiller commented on #3251
hi @stu01509 , will assign this to you looking forward to the solution you come up with :)

[2020-03-29 00:27] dtobi59 commented on #3242
Hello @robertdown,  kindly suggest. checkbox or a Select Option.

![ji](https://user-images.githubusercontent.com/13191454/77837026-18a7e980-7119-11ea-9de5-d4d5c43c0850.JPG)

[2020-03-29 01:59] dtobi59 opened #3260 "Installing OpenEMR on Window"
### After cloning the OpenEMR to my local machine, when I tried accessing it on my browser I keep getting an error as shown below:

![slack1](https://user-images.githubusercontent.com/13191454/77838147-f23c7b00-7125-11ea-9567-3735b9a6bd4e.JPG)

### I'm currently using:
Window OS
Xampp

[2020-03-29 06:16] surendrap720 opened #3262 "Style Buttons in New Appointment Modal"
### Describe the problem
According to the styling guidelines mentioned in #3160 , the buttons at the bottom in the new appointment modal should have proper classes.

Write a concise description of the problem
The buttons should have btn-group class and a button like delete should have class btn-danger.

![2020-03-29](https://user-images.githubusercontent.com/15845220/77842670-2e420100-7163-11ea-8e

[2020-03-29 07:45] #3169 closed

[2020-03-29 08:01] sachinmukherjee commented on #2889
@stephenwaite Sorry for the delayed response. Will do the same as mentioned above.

[2020-03-29 08:54] #3248 closed

[2020-03-29 10:12] adad20 commented on #3260
hi @dtobi59  Which php version are you using?

[2020-03-29 12:22] stu01509 commented on #3262
Are you working on this issue?

[2020-03-29 12:23] stu01509 commented on #3260
Hello @dtobi59

Do you configure your php.ini file as well? If not maybe will facing this issue.

[2020-03-29 13:09] robertdown commented on #3160
@mdsupport  do you mean all documentation or just documentation that exists in the codebase?

[2020-03-29 13:11] robertdown commented on #3242
Hi @dtobi59 I would recommend a select box as the selections for each of those questions are mutually exclusive

[2020-03-29 14:21] nkyriakoulis commented on #3262
I have created a pull request that resolves that issue #3264

[2020-03-29 15:06] dtobi59 commented on #3260
PHP 7.2.28

[2020-03-29 15:07] dtobi59 commented on #3260
Yes I have configured my php.ini  to:

[code]

[2020-03-29 15:13] adad20 commented on #3260
hi @dtobi59  after configuring have u restarted your XAMPP server

[2020-03-29 15:19] #3262 closed

[2020-03-29 15:22] dtobi59 commented on #3260
Yes, I have.

![git](https://user-images.githubusercontent.com/13191454/77853001-6f073d80-7196-11ea-8fe1-07b6568acb26.JPG)

[2020-03-29 15:27] stephenwaite commented on #3260
hi @dtobi59 , what does the php error log show?

[2020-03-29 15:28] adad20 commented on #3260
hi @dtobi59 , I am not sure then what's happening maybe @stu01509 will tell something. From my side try to reinstall it.

[2020-03-29 15:51] dtobi59 commented on #3260
Okay, I will try

[code]

[2020-03-29 16:02] adad20 commented on #3260
hi @dtobi59 Have you configured your active php.ini file. I think problem is there only, any other comments @stephenwaite

[2020-03-29 16:17] dtobi59 commented on #3260
I have tried it, still not working...

[2020-03-29 16:47] dtobi59 commented on #3260
Thanks @adad20  @stephenwaite @stu01509, your contributions were indeed useful. I have to be able to find a solution to the bug.

Solutions:
1. Install Composer
2. Run The Command   `composer dump-autoload -o`

[2020-03-29 17:25] adad20 commented on #3135
hi @mdsupport In my case fee sheet option is disabled not able to reproduce this bug.

[2020-03-29 17:30] sjpadgett commented on #3260
umm are you pulling from master or downloading released zip?

[2020-03-29 17:30] adad20 commented on #3036
hi @bradymiller I think this issue had been fixed. Comment if there are some improvements needed or we will close this one :)

[2020-03-29 17:37] stephenwaite commented on #3135
hi @adad20 , you're not seeing something like this from https://seven.openemr.io/a/openemr/index.php?
![Screenshot from 2020-03-29 13-36-47](https://user-images.githubusercontent.com/5618372/77856020-66c4f780-71c2-11ea-976f-a53b323c5391.png)

[2020-03-29 17:38] adad20 opened #3267 "UI of labs tabs is not upto standards"
### Describe the bug
UI is not upto the standards.

Steps to reproduce the behavior:
1. Go to Procedures -> Lab overview

### Actual  behavior
![Screenshot (114)](https://user-images.githubusercontent.com/55142272/77856025-0f4e7800-7212-11ea-9216-6c6ca93ac05f.png)

PS: I wanna work on this issue :)

[2020-03-29 17:39] sjpadgett commented on #3036
I fixed this (or at least think I did) in main.php with top menu restyle.

On Sun, Mar 29, 2020 at 1:30 PM Aditya Tomar <notifications@github.com>
wrote:

--
Jerry Padgett
Consultant and Project Administrator for OpenEMR
Brandon, Florida 33511
sjpadgett@gmail.com <sjpadgett@gmailo.com>

[2020-03-29 17:39] adad20 commented on #3267
Also there is one unexpected behavior when I select any of the radio button and hit submit it always results in no parameter selected.

[2020-03-29 17:44] adad20 commented on #3135
hi @stephenwaite thank you successfully reproduced the bug. If @thesmallstar is not working I will happily take this.

[2020-03-29 17:52] mdsupport commented on #3160
@robertdown, yes to all.  Doesn't have to happen overnight but we need to leverage such specialized resources.  There may be better options around but this one checks following boxes needed for this project:

1. Single search box without need for constantly directing new users to look at wiki or other urls.
2. github integration/awareness
3. version specific documentation
4. support for translatio

[2020-03-29 18:06] im-Amitto commented on #3135
@adad20 I don't remember it well but I guess you can find the solution in `tabs_view_model.js`. it should have a function `menuActionClick`/`menuClickAction` which is responsible for adding frames(fees sheet etc.) to the encounter tab. you can add a check to it, so multiple tabs can't be spawned and use the same to disable the click on the desired option.
Sorry for not pinpointing it as I don't ha

[2020-03-29 18:10] adad20 commented on #3135
hi @im-Amitto thanks it helped me a lot :)

[2020-03-29 18:55] #3036 closed

[2020-03-29 19:01] surendrap720 opened #3269 "Align modal close div"
### Describe the problem
The div to close the modal is not properly aligned with the modal

![2020-03-29 (2)_LI](https://user-images.githubusercontent.com/15845220/77857781-aa712e80-71cd-11ea-8fbd-91ab0c980021.jpg)

### Describe the solution you'd like
Properly aligned div

![2020-03-29 (3)](https://user-images.githubusercontent.com/15845220/77857809-d391bf00-71cd-11ea-9d53-2ce1d57b7fd8.png)

Plea

[2020-03-29 19:08] sjpadgett commented on #3269
this is a dialog and the close is meant to be offset when there is not a
header to the dialog.

On Sun, Mar 29, 2020 at 3:01 PM surendra <notifications@github.com> wrote:

--
Jerry Padgett
Consultant and Project Administrator for OpenEMR
Brandon, Florida 33511
sjpadgett@gmail.com <sjpadgett@gmailo.com>

[2020-03-29 19:10] dtobi59 commented on #3260
@sjpadgett. I'm currently Pulling from the master.

[2020-03-29 19:15] sjpadgett commented on #3260
Are you building the dependencies? Is this for development or production site?

[2020-03-29 19:16] surendrap720 commented on #3269
If I am not wrong the above image in the solution is what it should be like. Am I right ?

[2020-03-29 19:23] dtobi59 commented on #3260
It's for Development.  I guess I'm missing something vital. could you please tell me. Thank you.

[2020-03-29 19:24] sjpadgett commented on #3269
The red x-out has always been offset to the top of dialog. I prefer it that way with it left the way it currently is positioned. Also again, this is a dialog that doesn't have a header like a normal modal where x-out will appear. Placing where you have it will cover scroll up.

[2020-03-29 19:34] sjpadgett commented on #3260
Sure.
I assume you have a git client installed plus I think you've installed composer but you'll also need npm/node so get it installed.
Then in openemr folder open a git bash(or whatever bash you've installed) and run:

composer install &&
npm install &&
npm run build &&
composer dump-autoload -o

I wouldn't try to develop using windows command prompt. Get a git bash for windows if one is not ins

[2020-03-29 20:38] stu01509 commented on #3269
I agreed with @sjpadgett,
The dialog close button necessary to align with the modal.

[2020-03-29 20:44] sjpadgett commented on #3269
Dialog guys, dialog! :)
Also note that our dialog goes back a long way and is handled much different than a modal. For one. if you notice, it will always reside on top of any UI as it is built in top.

If we have to move to meet our UI/UX guidelines okay however, it will forever more drive me nuts when working in UI. :)
what do ya think @stephenwaite ?

[2020-03-29 20:53] surendrap720 commented on #3269
So you guys think we should leave this as it is ??

[2020-03-29 21:51] sjpadgett commented on #3269
I do...

[2020-03-29 23:02] stephenwaite commented on #3269
it does seem odd that it appears differently than most red close xs maybe it's because the dialog doesn't have a title bar but have no strong feelings about it

[2020-03-29 23:10] sjpadgett commented on #3269
@surendrap720 You've already done the work so we'll go with your solution. I'll adjust somehow! Hey, I even like dark themes now so that's progress for this old timer.. :)

[2020-03-29 23:16] bradymiller commented on #3269
@sjpadgett and dark theme, when did that happen :fearful:

![tenor (4)](https://user-images.githubusercontent.com/278968/77863627-91ba4600-71d8-11ea-8312-c83741a4b7e6.gif)

[2020-03-29 23:25] sjpadgett commented on #3269
I saw @stephenwaite screenshot and tried it. Tyler did a nice job on it!

[2020-03-29 23:32] bradymiller commented on #3269
dark has also become my favorite. another neat one @tywrenn did was the superhero one.

[2020-03-29 23:37] stephenwaite commented on #3269
satanic elmo burned the minions

[2020-03-29 23:39] bradymiller commented on #3269
![2DV](https://user-images.githubusercontent.com/278968/77864148-e8754f00-71db-11ea-993a-862e611f7f75.gif)

![tenor (4)](https://user-images.githubusercontent.com/278968/77864139-dbf0f680-71db-11ea-9991-0a20ad5e1f44.gif)

[2020-03-29 23:41] bradymiller commented on #3269
sorry, couldn't help myself :)

[2020-03-29 23:52] sjpadgett commented on #3269
Time to give it up if we can't have some fun....

[2020-03-30 01:51] ShubhamBansal1997 opened #3273 "Modernize Database"
### Describe the problem
The OpenEMR database has been waiting patiently for a student to modernize it. At this time, OpenEMR overrides the sql_mode settings (sets it to empty) in order to ensure compatibility with MariaDB and MySQL and issues are beginning to arise because of this. Goal would be for OpenEMR’s database to support the default sql_mode settings in MariaDB and MySQL8 (note mysql8 has

[2020-03-30 01:52] ShubhamBansal1997 commented on #3273
@bradymiller Main issue for the Modernize Database project, Shall I assign this too me or you want to take the lead as a mentor?

[2020-03-30 02:33] bradymiller commented on #3273
hi @ShubhamBansal1997 , assigned this issue to you :)

[2020-03-30 05:37] adad20 commented on #3267
hi @stephenwaite @bradymiller how can I add the data(lab record) in order to get the output. I tried some but it always says no parameters selected?

[2020-03-30 08:23] #3260 closed

[2020-03-30 09:23] stu01509 commented on #3251
Hello @bradymiller @tywrenn and @adad20

Finally, I didn't found any result to solve the pseudo-elements in the input.
Maybe we need to change the input to the button tag or definition a standard, Is it a good idea?

[2020-03-30 11:57] im-Amitto commented on #3267
@adad20 As I can see the screenshot that you uploaded at the beginning there are no procedure_results available to be selected for the current patient.
Add a few and option will appear below the select items :smile:

[2020-03-30 11:59] adad20 commented on #3267
hi @im-Amitto yeah that I figured out but the real query is how can I add them😅

[2020-03-30 12:10] im-Amitto commented on #3267
@adad20
Check this out: https://www.open-emr.org/wiki/index.php/Procedure_configuration_%26_order_process

[2020-03-30 12:16] im-Amitto commented on #3267
@adad20 Also,
Old Location: Miscellaneous => Addr Book
New Location: Administration => Addr Book
Old Location: Administration => Lists
New Location: Administration => Forums => List

[2020-03-30 12:34] adad20 commented on #3267
hi @im-Amitto Thanks I am working on it :)

[2020-03-30 12:40] stu01509 opened #3276 "Refine Background Services page"
### Describe the bug

Refine Background Services page
Miss responsive table.

### To Reproduce

Steps to reproduce the behavior:
1. Choose Reports > Services
2. Click Background Services
3. See the table

![image](https://user-images.githubusercontent.com/22230889/77913347-ab39bb80-72c6-11ea-9123-8137c69ee58b.png)

### Client configuration

- Browser: Firefox 73.0.1（64 bit）
- Operating system: Win

[2020-03-30 14:30] adad20 commented on #3267
hi @bradymiller while I was trying to solve this issue there was something I noticed
here it says
![Screenshot (118)](https://user-images.githubusercontent.com/55142272/77924177-0072ce80-72c1-11ea-8f1b-f7e43d46cf9f.png)

but there is no pencil icon
![Screenshot (117)](https://user-images.githubusercontent.com/55142272/77924217-0b2d6380-72c1-11ea-870e-29025357c08e.png)

Is there some problem in my

[2020-03-30 14:40] yashrajbothra opened #3277 "Adding Valuesets Resource [FHIR]"
### Describe the bug

Adding ValueSet resource in FHIR.
https://community.open-emr.org/t/project-fhir-integration/13701/23

### Additional Context
Please Assign this to me

[2020-03-30 14:48] yashrajbothra commented on #2767
Hii @sjpadgett Sir, I was also thinking about this and then I saw this issue. Are you still open for this?

[2020-03-30 16:58] stephenwaite opened #3279 "warning when closing an encounter form"
### Describe the problem
you've entered dictation into the SOAP note in an encounter and mistakenly click the `x` in the tab and close it or mistakenly click `Cancel` at the bottom and close it thus losing all of your work
![Screenshot from 2020-03-30 12-56-29](https://user-images.githubusercontent.com/5618372/77940112-32b30a80-7286-11ea-824f-ece4d5e1d749.png)

### Describe the solution you'd like

[2020-03-30 17:55] yashrajbothra commented on #3279
I am getting bored of same stuff. Can i pick this up?

[2020-03-30 18:05] sjpadgett commented on #3279
@yashrajbothra I have a FHIR issue you could address if you want. I'll put up the issue shortly.

Concerning this issue. What about our other core forms. This issue is very much needing resolution. Sorry @stephenwaite if I potentially stole Yash! :)

[2020-03-30 18:14] sjpadgett opened #3280 "FHIR Resources need moved to separate Services."
Create service classes for resources currently in FHIRResourcesService class. I believe we have Patient, Practitioner and Encounter.

We need to get consistent and the general FHIRResourcesService has served its purpose. We'll use for general helpers.

[2020-03-30 18:27] yashrajbothra commented on #3280
I was planning to do this in the refactoring part. But now that you have addressed it I will start this working on it now 👍

[2020-03-30 18:30] sjpadgett commented on #3280
Thanks.

On Mon, Mar 30, 2020 at 2:27 PM Yash Raj Bothra <notifications@github.com>
wrote:

--
Jerry Padgett
Consultant and Project Administrator for OpenEMR
Brandon, Florida 33511
sjpadgett@gmail.com <sjpadgett@gmailo.com>

[2020-03-30 18:34] sjpadgett commented on #3277
assigned

[2020-03-30 18:56] yashrajbothra commented on #3277
Hii Ser, could we use the database table `valuesets` which is already created ( IDK for what purpose). If so we will need to modify the structure.

[2020-03-30 19:28] sjpadgett commented on #3277
That table is populated to support QRDA for MU.
If need a table use a fhir naming convention ie fhir_valuesets

[2020-03-30 19:42] yashrajbothra commented on #3277
Okay

[2020-03-30 19:48] sjpadgett commented on #2767
I'm debating this option. Economy of Scale. We need to decide yet whether we want to allow any modification of openemr data by outside api calls.

A separate database would be appropriate for a full Fhir server where we could store compartments as objects etc.

[2020-03-30 20:14] sjpadgett opened #3281 "REST API Write Access"
I can't imagine allowing third party or any client application insert/update of patient data. Maybe it's just me but, I consider this a huge security concern. So at minimum, it would be limited to transactions like imports etc. Something that would require an audit before adding to chart or specifically requested by an OpenEMR work flow.
Now this restriction makes API dynamic exchanges difficult.

[2020-03-30 20:18] yashrajbothra commented on #2767
If at any point of time we are going to scale this to full Fhir server than I think current implementation won't able to help much. It is totally dependent on the standard API's if there will be any change in standard API service it will directly affect FHIR API.

If we are not going that way then it's all good 👍

[2020-03-30 20:57] dheero opened #3282 "Improving styles in user interface"
there are many update needs in the design of the front end of the various pages such as index(home), login, logout, help and about pages, to make it more interactive and user friendly.

To solve these conflicts there is a need for modernizing styles In the user interface to make it more interactive by CSS files
and there is a need for improving bootstrap design according to the new version of it.

[2020-03-30 22:07] sjpadgett commented on #2767
If we were interested in a full server implementation then we'd use one of
the very good open source servers and speak to it as a client....
I almost went this way!

On Mon, Mar 30, 2020 at 4:18 PM Yash Raj Bothra <notifications@github.com>
wrote:

--
Jerry Padgett
Consultant and Project Administrator for OpenEMR
Brandon, Florida 33511
sjpadgett@gmail.com <sjpadgett@gmailo.com>

[2020-03-31 00:40] stu01509 commented on #3279
I would like to try this,
Please assign this issue to me.

[2020-03-31 00:52] sjpadgett commented on #3231
I've been looking. My trouble is we are the only project I know of that is developing FHIR in PHP. There just aren't any libraries we can pop in so with everything we do, we have to get creative.
We may need to get into document search, with FHIR at least, if we decide to support that capability.

[2020-03-31 00:55] sjpadgett commented on #3279
@stu01509 it's yours

[2020-03-31 01:45] #3232 closed

[2020-03-31 01:58] robertdown commented on #3160
We are migrating the wiki to a new, Drupal-based system in the coming weeks. We have a beta running. We've explored readthedocs in the past and decided against any type of 3rd party, git based setup

Supported in new setup

We can consider adding this in the future

Supported in new setup

Supported in new setup

[2020-03-31 03:35] bradymiller commented on #3281
hi @sjpadgett ,
I think the api has already made that decision for us (Can add/edit a bunch of things already). As long as we keep an eye on the permission of the user via the RestConfig::authorization_check calls, I think will be ok.

[2020-03-31 03:58] sjpadgett commented on #3281
yep I get we have acl control. maybe if we had an api group that a practice would knowingly have to select to allow api write access above the more granular permissions. Still I don't get how allowing unmonitored writes to patient data as acceptable.

[2020-03-31 04:00] tywrenn commented on #3251
@stu01509 Does the file have the fontawesome library in the assets? If not that's definitely the reason.

[2020-03-31 04:02] bradymiller commented on #3281
I wouldn't call it unmonitored, since it will get captured by the log engine. If a user has login credentials, they can do all the same stuff without the api. Isn't having a token considered the same thing for that user?

[2020-03-31 04:15] sjpadgett commented on #3281
I suppose this is true for client applications written specifically for a singular providers use.
What about applications that want to modify chart data with a general access ie practice assigns a user specific to an application. Who is going to save the practice from themselves?

[2020-03-31 04:16] sjpadgett commented on #3281
maybe I over thinks this just doesn't feel right...

[2020-03-31 04:18] tywrenn commented on #3282
This project is already being sought after in Google Summer of Code:
https://community.open-emr.org/t/project-modernize-styling-and-user-interface/13777

[2020-03-31 04:21] bradymiller commented on #3281
When we are just thinking about standard users, then it makes sense to just limit use by the acl. This is all I've thought about, so never got me nervous.

But agree thought needs to go into other ways that the api will be called via applications or other ways we haven't thought about. Will be helpful to have specific use cases of this so can begin to figure out ways to confine access to only what

[2020-03-31 04:23] tywrenn commented on #3267
Wow this definitely was a good catch

[2020-03-31 04:46] bradymiller commented on #3251
I think this is basically because pseudo-elements (etc ::before) can not act upon replaced elements (etc input). Is it feasible to convert from input elements to buttons?

[2020-03-31 04:48] sjpadgett commented on #3281
I'll put up some examples but i need to get to getting some dev done on PROMIS and Fhir. The students keep me on my toes.
Questionnaire Response will be an example of possible unsolicited transactions where an outside app would want to create patients, encounters even procedure results. It gets complicated quick...

[2020-03-31 05:08] tywrenn commented on #3251
@bradymiller In this case it is feasible to convert this to a `<button>` element as it's using an onClick method which is supported in buttons

[2020-03-31 05:11] tywrenn commented on #3251
My case for buttons and hyperlinks is if you're using an onClick method and aren't using the href attribute at all (and you don't want it to display as a hyperlink and are using the btn classes), you should replace it with the `<button>` element.

[2020-03-31 05:31] tywrenn opened #3289 "BS4 Colors are a bit too sharp"
Looking at the colors given in OpenEMR, we originally had them set less sharp than what BS4 had setup. Now that we have gone back to the BS4 colors, I've decided we need to re-implement the ones we had yet this time make it look a lot nicer.

I am aware we have had these colors set in 5.0.2 (yet we might change them):
- Primary: #2672ec
More coming soon as I find them

[2020-03-31 05:45] stu01509 commented on #3289
Sounds like a good idea 👍
I would like to get involve.

[2020-03-31 05:49] stu01509 commented on #3251
Hi @bradymiller and @tywrenn

I will start to rplace the input to button tag, Thanks for your explain :)

[2020-03-31 05:53] dheero commented on #3282
yeah, Sir, I am interested in Gsoc 2020 and want to more explore it and I can as you can see on my repositories, I have work on that all skills which is needed in this project
https://community.open-emr.org/t/project-modernize-styling-and-user-interface/13777

my GitHub repositories: https://github.com/dheero?tab=repositories

[2020-03-31 06:21] adad20 commented on #3282
hi @dheero Welcome start working on the small issues(bugs) and familiarize yourself with the codebase.

[2020-03-31 07:43] dheero commented on #3282
here are some pr's
https://github.com/openemr/openemr/pull/3291
https://github.com/openemr/openemr/pull/3292
https://github.com/openemr/openemr/pull/3293

[2020-03-31 08:42] gayatri-patil commented on #3276
Hi @stu01509
On my browser the table is responsive. Can you send a pic and dimensions after which the table isn't responsive?
Browser: Firefox 74.0 (64 bit)
Operating System: Ubuntu

[2020-03-31 12:44] stu01509 commented on #3276
Hello @gayatri-patil

My means is this page has a section that needs to refine, e,g. title position and table style.

[2020-03-31 13:04] shachar058 opened #3297 "docker run - npm error"
### Describe the bug

When running a docker container from the openemr/openemr:flex-3.10 image, I first get the following warnings:
[code]

And then I get the following error:
[code]

### To Reproduce

1. docker pull openemr/openemr:flex-3.10
2. docker run --env-file env_file openemr/openemr:flex-3.10

My env_file contains the following variables:
[code]

[2020-03-31 16:17] adad20 commented on #3267
hi @im-Amitto @bradymiller I have added the lab data ye nothing is showing up

![Screenshot (126)](https://user-images.githubusercontent.com/55142272/78049602-e3a9ca00-7398-11ea-9625-07db3d10fbdc.png)

![Screenshot (128)](https://user-images.githubusercontent.com/55142272/78049615-e60c2400-7398-11ea-9445-aae9322eb42b.png)

I am figuring out the possible reason for this in the interface -> patient_

[2020-03-31 18:53] #3166 closed

[2020-03-31 19:16] stephenwaite commented on #3267
hi @adad20 , always tedious to add lab data but wanna try to load through some dummy labs?

you will have to create a procedure provider and then import the attached hl7, there are a few other steps so let me know if interested
[steve.zip](https://github.com/openemr/openemr/files/4411138/steve.zip)

[2020-03-31 19:38] adad20 commented on #3267
hi @stephenwaite yes I have created the procedure provider and do I need to import in the procedure_type table?

[2020-03-31 19:42] tywrenn commented on #3289
Possible color scheme:
- Primary: `#2672ec`
- Secondary stays the same
- Success: `#52b86a`
- Info: `#45b4c6`
- Warning: `#ffcd38`
- Danger: `#d9534f`

[2020-03-31 19:46] yashrajbothra opened #3299 "unexpected required data in Update patient [fhir]"
### Describe the bug

https://github.com/openemr/openemr/pull/3298#issuecomment-606736136

cc @prondubuisi

[2020-03-31 19:54] tywrenn opened #3300 "Buttons at bottom of add_edit_event.php are unacceptable"
### Describe the bug

The current buttons displayed at the bottom of add_edit_event.php aren't acceptable by any means in terms of design.

### To Reproduce
Create a new event in the calendar and look at the bottom of the page
![image](https://user-images.githubusercontent.com/46497068/78069016-674ac300-7367-11ea-97b5-12f97ac152c4.png)

### Expected behavior

There shouldn't be a `btn-group` in th

[2020-03-31 20:05] sjpadgett commented on #3299
@yashrajbothra  umm, why not change in your PR while you're there. We admins only have so many machine cycles!

[2020-03-31 20:16] stephenwaite commented on #3267
if you've set it up correctly you can extract the zip to a local folder and then use Procedures-> Electronic Reports

you'll want to set up the provider in admin->users with npi 1548374382

[2020-03-31 20:25] yashrajbothra commented on #3299
I think opening new PR will be a better idea as it is more on the standard API side and different purpose then that PR.

No problem though if u say 🤷‍♂

[2020-03-31 20:29] sjpadgett commented on #3299
Just make a separate commit by itself in your PR. It's minor change and will still be searchable.

[2020-03-31 20:29] bradymiller commented on #3300
hi @tywrenn,

Sounds like need to work out button guidelines in the styling guide:
https://github.com/openemr/openemr/issues/3160

Folks are using these "dynamic" guidelines and the btn-group comes from following post there:
"
To make the themes consistent, here's how the buttons should work:
- If you have a group of two or more buttons, be sure to use the `btn-group` class
- Anything that is goin

[2020-03-31 20:34] #3300 closed

[2020-03-31 20:55] bradymiller commented on #3299
hi @yashrajbothra , Note the validation stuff for api is very "rough" and there is still work to do there. As is currently being done there, we definitely should not be requiring elements on a PUT as is done for the POST. @sjpadgett , this could get involved/complicated :)

[2020-03-31 20:59] sjpadgett commented on #3299
So, tell me, what's new:)
Each service has a validation array where you can validate interested items as optional or required. It's just a matter of changing the required flag.

[2020-03-31 21:01] yashrajbothra commented on #3299
Sorry but which API validation are we referring here FHIR or standard?

[2020-03-31 21:02] bradymiller commented on #3299
i think we need the following different validates for patient:
PUT:
just need to require a valid pid
and could validate the items that are sent if wish (optional stuff)
POST:
require the other stuff

So need to break out different validate functions and/or parameters for them (I think)

[2020-03-31 21:03] bradymiller commented on #3299
so maybe put a second parameter in validate function (to set if an insert or update)?

[2020-03-31 21:04] sjpadgett commented on #3299
Yep I think you're right. Doesn't work the way I thought. Don't know, will look into

[2020-03-31 21:05] tywrenn commented on #3160
@bradymiller Updated my comments on buttons and btn-groups

[2020-03-31 21:05] bradymiller commented on #3299
@yashrajbothra , the validate should be able to cover both api/fhir as it does now. Meaning, the same fix here is required both the api/fhir.

[2020-03-31 21:08] yashrajbothra commented on #3299
This should be done in standard API validation function as this should be for both.

This should be in FHIR Validation

Already in Standard one just need FHIR Validation here.

Although looks like little big should open this issue and new PR?
Because that might get delayed just because of this

[2020-03-31 21:10] tywrenn commented on #3289
@stu01509 What are your thoughts on this?

[2020-03-31 21:19] sjpadgett commented on #3299
Insert and update will have same requirement whether for fhir or standard. I say just give the PatientService validate function a context parameter and then do the appropriate validation base on passed in context of update or whatever.

[2020-03-31 21:31] tywrenn opened #3302 "Discussion on Body Element Margins/Padding"
As I flip through OpenEMR, I've noticed a lot that our body element margins/padding are not really consistent. In this issue there will be subissues that we'll need to fix.

Subissues:
- [ ] First we should fix the `body_top` margins
Current Output:
![image](https://user-images.githubusercontent.com/46497068/78076390-53f22480-7374-11ea-8a15-18b3bc33cf0b.png)
Expected Output:
![image](https://user-

[2020-03-31 21:32] bradymiller commented on #3297
hi @shachar058 ,

Thanks for the report. There must be an odd npm permission thing going on. It has cropped up in most recent alpine 3.10 and alpine 3.11 based openemr dockers.

This error is not showing up in the 5.0.3 (dev docker) docker build (alpine 3.11) or the easy development env use of flex dockers (in these case, the code for the docker is not "contained"). But is showing up in:
1. the ca

[2020-03-31 21:36] stu01509 commented on #3289
Hello @tywrenn

Personally, The danger color can darker will be better.

[2020-03-31 21:46] stu01509 commented on #3302
Nice ideas, Can remove all body_top class as the default for the <body> element is the best way.

Link to Styling Guide in OpenEMR https://github.com/openemr/openemr/issues/3160

[2020-03-31 21:55] stu01509 commented on #3251
Hi @bradymiller

Should I have to close this issue?

[2020-03-31 21:57] stu01509 commented on #3003
Hi @bradymiller

Is Anyone working on this issue? If not, please assign this issue to me.

[2020-03-31 22:21] bradymiller commented on #3251
hi @stu01509 , I'll close this. Sounds like may need to add blurbs to the styling guide issue regarding this problem and advice given above by @tywrenn.

[2020-03-31 22:21] #3251 closed

[2020-03-31 22:48] bradymiller commented on #3003
hi @stu01509 , it's yours :)

[2020-03-31 23:38] ShubhamBansal1997 commented on #3239
@bradymiller a quick question, what would be max value of the `ordering` column in the TABLE `form_eye_mag_prefs` ? By max value I mean, what does the max value we need in the system, although database right now now allowing more than 127

[2020-04-01 01:47] tywrenn commented on #3289
@stu01509 Hmm...
![image](https://user-images.githubusercontent.com/46497068/78090716-e3a9ca00-7398-11ea-83fb-4f1c5ef22dbc.png)
Pick a color lol

[2020-04-01 02:11] kchapple commented on #2677
Thanks @stephenwaite I’m interested in getting this fixed, and adding some needed refactoring and enhancements to the messaging and reminders system. How do you think we can best manage a project like this? Could be quite a large commit. Have you heard of any other vendors with customers interested in messages enhancement?

[2020-04-01 02:31] prondubuisi commented on #3253
Hello @bradymiller @stephenwaite Finally got the Setup installed, thanks for all the help!

[2020-04-01 02:31] #3253 closed

[2020-04-01 03:02] surendrap720 commented on #3269
We already cancel button below to close the dialog why don't we remove that red x at the top right ? I feel this will make it look good comparatively.

[2020-04-01 08:51] #3233 closed

[2020-04-01 09:09] stu01509 commented on #3003
Thank you.

[2020-04-01 09:12] stu01509 commented on #3289
Hi @tywrenn

For me, I prefer `#c34a47`

[2020-04-01 12:27] #3280 closed

[2020-04-01 13:05] stu01509 commented on #3003
Hi @bradymiller

Can you tell me How to go to this page?
Thanks.

[2020-04-01 13:32] yashrajbothra commented on #3299
Now we can put this to the end 😉

[2020-04-01 13:46] sjpadgett commented on #3299
umm, whose we? You meant Now I can, right? :)

[2020-04-01 13:52] sjpadgett commented on #3280
We'll close this as squared away. thanks @yashrajbothra

[2020-04-01 13:56] yashrajbothra commented on #3299
After all, you are the one to review all the mess. So that way it's together we 😄

[2020-04-01 13:57] sjpadgett commented on #3299
got me there. okay, we'll get ur done!

[2020-04-01 14:15] sjpadgett commented on #3269
Dialog can be called without both header and footer where buttons reside.

Lets just leave dialog alone and allow this old man to have at least one throwback to the 80's glory days of styling dialogs. cool?

[2020-04-01 15:08] gayatri-patil commented on #3276
Ohk. I'll have a look at it.

[2020-04-01 16:47] yashrajbothra commented on #3299
the `parsePatientResource()` initialize all array element even if the client has not passed it due to which it overwrites all the data while updating. So I thought to just init those elements which we received from the client.
But I am not so confident with this line
`$fhirJson["address"][0]["postalCode"] ? $data["postal_code"] = $fhirJson["address"][0]["postalCode"] : null;`

Is this okay?

[2020-04-01 17:07] mdsupport commented on #3276
Many of the reports are a dump of single recordset.  The datatables component already in the system does that more consistently.  Perhaps you should look at that option.

[2020-04-01 17:38] sjpadgett commented on #3299
good point. I need a minute to think over anyway doesn't an uninitiated fhir element/object return null?

[2020-04-01 18:12] yashrajbothra commented on #3299
No, I was talking about parsing user data and passing it to SQL query.

[2020-04-01 18:22] yashrajbothra commented on #3299
One more
Can we use methods from this file for manipulating Patient data.
https://github.com/openemr/openemr/blob/master/library/patient.inc

Instead of writing all these queries again

[2020-04-01 18:33] sjpadgett commented on #3299
sure, use any current tool you need..

I'm thinking a null should have been passed.

[2020-04-01 18:45] sjpadgett commented on #3299
yep, this is issue with both apis. take a look at the Validate class. it's pretty extensive and may be of some help....

[2020-04-01 20:02] yashrajbothra commented on #3299
Yeah, Thanks:) I read the Particle Validator Docs and it is very good will make our lives much better.
But right now we also have a problem with parsing which I think should be addressed in PR.

[2020-04-01 21:50] yashrajbothra commented on #3299
Hey Little misunderstanding here

PUT should require the same stuff as POST
https://www.hl7.org/fhir/http.html#update
PATCH will be the one which requires only id with itself.
https://www.hl7.org/fhir/http.html#update

[2020-04-01 22:08] sjpadgett commented on #3299
again, we are not trying to be a full fhir server. we can't do versions.
also, all of this needs to be fixed in the sql builder for the updates/inserts etc imo at this moment. we need to only update those values passed in from the interface because sometimes you want to set a null or empty etc.

No, this is going to require some thought!
No this requires some thought because our standard api is br

[2020-04-01 22:20] bradymiller commented on #3003
hi @stu01509 ,

That is used by the pain form.
In Administration->Forms->Forms Administration
Graphic Pain Map->Register then Install DB then click disabled

Then in patient encounter, can found the form in Miscellaneous category.

[2020-04-01 22:22] yashrajbothra commented on #3299
Then what will be difference btw PUT and PATCH

Or we are ignoring PATCH and just using PUT as PUT+PATCH

[2020-04-01 22:24] tywrenn opened #3307 "Fix body_top margins/padding and Remove body_top class (Sub-issue to #3302)"
This is a sub-issue to #3302.

The goal is to fix the `body_top` class margin/padding.
Current Output:
![image](https://user-images.githubusercontent.com/46497068/78192374-05ad5600-7446-11ea-9bbb-aeaa833d5257.png)

Expected Output:
![image](https://user-images.githubusercontent.com/46497068/78192398-1067eb00-7446-11ea-8455-e46ff7dcc7e4.png)

Also, this issue will remove the `body_top` class as we

[2020-04-01 22:25] tywrenn commented on #3307
Anyone wanna fix this?

[2020-04-01 22:28] bradymiller commented on #3239
hi @ShubhamBansal1997 , Seems like would make more sense to not limit to just 127 to allow growth. Seems like should just be a smallint. That should then fix this since looks likely the culprit is the use of `2048` at row 32.

[2020-04-02 01:13] stu01509 commented on #3307
Please assign this issue to me.

[2020-04-02 02:19] bradymiller commented on #3307
hi @stu01509 , it is yours :)

[2020-04-02 02:27] sjpadgett commented on #3307
To much. Just how much top margin do we need. As little as possible. Viewing area is at a premium. Do we really need that much title prominence

[2020-04-02 03:23] tywrenn commented on #3307
If you make it as little as possible it's gonna make the entire viewport look like a giant table cell in my opinion due to it running really close with the navigation's border.

[2020-04-02 08:41] stu01509 commented on #3307
Hi @tywrenn

Should I remove body_top  class? According to this https://github.com/openemr/openemr/issues/3302 issue item1 description, use the default for the `<body>` element.

[2020-04-02 11:17] adad20 commented on #3135
hi @mdsupport Is this to be implemented only for `fee-sheet`

[2020-04-02 12:56] prondubuisi opened #3308 "Add new docker dev tools alias commands to contributing.md"
### Describe the problem

Just added a means to use shorter docker commands for common developer tooling like,frontend builds, API testing, e2e testing, PHPcs and PHPcbf runs, PHP parse errors generation, and a clean-sweap command to run all the tests and style fixing with one command. see pull request here https://github.com/openemr/openemr-devops/pull/232

### Describe the solution you'd like
Ad

[2020-04-02 13:11] prondubuisi commented on #3308
Hello @KhudhurMD, I just remembered I promised to keep you updated on any works with docker or the API

[2020-04-02 13:14] stu01509 opened #3309 "Duplicate summary tabs"
### Describe the bug

Duplicate summary tabs when I close the Graphic Pain Map page.

### To Reproduce

Steps to reproduce the behavior:
1. Go to the Graphic Pain Map page
2. Click cancel button
3. See the duplicate summary tabs.

![image](https://user-images.githubusercontent.com/22230889/78253308-c3a81100-7526-11ea-9c3e-ed1381a3fe64.png)

https://i.imgur.com/VPyW9Kq.mp4

### Client configuration

[2020-04-02 14:18] sjpadgett commented on #3307
lol, oops. I promised myself after liking the new themes(i'm a light theme guy) to stay out of styling with my more conservative approaches. I slipped and will leave it with you guys.

[2020-04-02 14:58] sjpadgett commented on #3299
any updates we do will appear as a patch regardless. we'll only require pid then parse and only update record with requested update fields passed in. Patch can then still be implemented in routes.

[2020-04-02 15:01] yashrajbothra commented on #3299
I did some changes in the related PR. That can resolve the issue here.

Please Review.

[2020-04-02 15:15] mdsupport commented on #3135
@stephenwaite, @bradymiller :  More I think about it, fee sheet is really another section of encounter summary. It could be "included" in an div if authorized - specially since that is the only place billing relevant issues are shown.
@adad20: I think fee sheet is already treated separately in the logic.  So it makes sense to apply change only to fee sheet.  For all other forms there are legit cir

[2020-04-02 15:16] adad20 commented on #3267
hi @stephenwaite Sorry I was not active. I have started working on this issue :)

[2020-04-02 21:17] stephenwaite commented on #2677
Hi @kchapple , thank you for following up and will be glad to hear what you have to propose since you're more experienced with project management in openemr. My first thought is just a simple fix to enhance the basic mail features we all expect. An inbox, sent items and the `to` field included in the default view. It may seem strange but feel like the current setup isn't too far off the mark.

I'v

[2020-04-02 21:23] tywrenn commented on #3307
@stu01509 Now that you mentioned it you can also remove that too

[2020-04-02 21:39] tywrenn opened #3311 "Superhero Theme Glitches Discussion"
This thread is used to figure out where the superhero theme is glitching as I've started seeing areas that either aren't using the right colors or are just flat out unusable. Since I'm unable to figure out how many areas are affected, this serves as an issue to fix all the glitches related to the superhero theme.

Example:
![image](https://user-images.githubusercontent.com/46497068/78302527-f216f3

[2020-04-02 21:41] stephenwaite opened #3312 "query error "openemr/oe-module-faxsms": "^2.0""
### Describe the bug

hi @adunsulag @sjpadgett trying to set up faxing with `5.0.3 dev` but received following query error
[code]

### To Reproduce

Steps to reproduce the behavior:
follow the install guide :)
https://community.open-emr.org/t/another-new-feature-for-v5-0-2-1-fax-with-sms-notification-module/13041/33
and enter your setup credentials with twilio

### Expected behavior
save twilio cr

[2020-04-02 21:44] stephenwaite commented on #3312
going to do some more testing, must be a simple error in the credentials entered

[2020-04-02 21:48] stephenwaite commented on #3312
nope, think i've got all of the fields filled with values, pretty sure it's a bug

[2020-04-02 23:15] sjpadgett commented on #3312
Hi @stephenwaite
No, the id column is auto inc and set to not null however, even though I send default null in insert shouldn't make far enough to matter at least on current mysql version i'm running. Still it's improper usage. Try replace NULL in sql at L-257 in interface/modules/custom_modules/oe-module-faxsms/controllers/AppDispatch.php

I changed v2 to store encrypted credentials in table.

[2020-04-03 01:38] #3312 closed

[2020-04-03 02:02] surendrap720 opened #3313 "Styling buttons in Message Center section"
### Describe the problem
The buttons in the message center section is not styled according to the styling guidelines.

![messageframeprevious](https://user-images.githubusercontent.com/15845220/78316359-70858c80-752d-11ea-8aa4-e9c27bccee1f.png)

Write a concise description of the problem
The buttons in the message center should have bootstrap classes as described in styling guidelines. For example

[2020-04-03 02:54] prondubuisi commented on #2943
Hello @bradymiller @stephenwaite , I added the instructions discussed here to the docs https://www.open-emr.org/wiki/index.php/OpenEMR_Multiple_Sites_Module#Installation_of_a_new_site, please let me know if it passes the message

[2020-04-03 02:57] prondubuisi commented on #2943
Hello @stephenwaite I think this patch https://github.com/openemr/openemr/pull/2944/files is related to this issue, any idea why it is yet to be merged?

[2020-04-03 03:00] prondubuisi commented on #3308
Here and waiting lol

[2020-04-03 03:47] bradymiller commented on #3313
hi @surendrap720 , it is yours :)

[2020-04-03 03:50] surendrap720 commented on #3313
Thank you Brady !

[2020-04-03 04:17] stu01509 commented on #3309
Hi @bradymiller

Please assign this issue to me.
Thanks.

[2020-04-03 04:28] bradymiller commented on #3309
hi @stu01509 , it is yours :)

[2020-04-03 07:07] #3308 closed

[2020-04-03 07:43] stu01509 commented on #3309
I will send a PR as soon as possible :)

[2020-04-03 08:41] stu01509 commented on #3307
Hello @tywrenn @sjpadgett and @bradymiller

I removed `body_top ` class in `body` tag, and added `mt-5` class to adjust margin, It looks like this.
Any suggestions or feedback? If not I will replace all `body_top` to `mt-5` class.

![image](https://user-images.githubusercontent.com/22230889/78340958-86488f80-75c9-11ea-9d26-17d3cd4e1374.png)

![image](https://user-images.githubusercontent.com/22230

[2020-04-03 12:03] stephenwaite commented on #2943
thanks @prondubuisi , one add'l instruction would be to manually create the site directory, say 'mysite' for example under `sites\` and give it writable permission for the webserver so that it can create the add'l directories needed

think that PR just hasn't been reviewed yet, what do you think?

[2020-04-03 13:19] prondubuisi commented on #2943
Hello @stephenwaite , I could add this extra information to the docs, Would also want to see how multisite install works with the $checkpermissions turned off , first hand. Can also review your PR while doing so.

How do I proceed with a multi-site install using the docker setup @stephenwaite @bradymiller

[2020-04-03 13:28] prondubuisi commented on #2943
Hello @stephenwaite , I could add this extra information to the docs, Would also want to see how multisite install works with the $checkpermissions turned off , first hand. Can also review your PR while doing so.

How do I proceed with a multi-site install using the docker setup  @bradymiller

[2020-04-03 14:41] kchapple commented on #2677
@stephenwaite @bradymiller I would like to merge dated reminders and messages, as it is confusing what to use when. I'd like to improve the ability to sort, search, group and categorize messages.

[2020-04-03 15:00] sjpadgett commented on #3312
Merged the fix to v2.0.0. Thanks @stephenwaite

[2020-04-03 15:33] tywrenn commented on #3307
What I wanted was to have no classes specified for the body element and use pure CSS to have that defined -- I'll tell you how to do this once I get the time today

[2020-04-03 15:41] surendrap720 commented on #3307
@stu01509 I think something like this would work

body {
margin-top: 20px;
}

and this gets applied to body tag EVERYWHERE .

@tywrenn  Correct me if I am wrong.

[2020-04-03 16:07] mdsupport commented on #2677
I agree with @kchapple.  Over time instead of multiple single function services we have created a confusing set of components that address developer's need at that point.  E.g.
1. all patient related reminders belong to either a single table like patient_reminders or that table and its component table(s).  That will make it possible for rules engine to include manual actions.
2. pnotes should be f

[2020-04-03 21:54] stephenwaite commented on #2943
hi @prondubuisi, thank you but there is no multi-site install for docker currently, you'd have to incorporate the admin.php page and some how script it in

[2020-04-03 23:22] 0silverback0 commented on #3242
hi I'm new to coding and PHP but I'm very interested in this project how can I help

[2020-04-04 01:58] #3313 closed

[2020-04-04 03:58] prondubuisi opened #3320 "Add turn API on environment variable for docker"
### Describe the problem

There is need to turn the API on from docker as discussed here https://community.open-emr.org/t/openemr-flex-docker-updated/12051/40

### Describe the solution you'd like

Add a TURN_API_ON environment variable to docker

[2020-04-04 06:07] bradymiller commented on #2943
hi @prondubuisi ,
I think we can get there via the dev docker tools in some steps.
1. The api on feature will provide an example of modifying the database in docker. This is not a dev tool command, but after figure out how to do that, can mimick same process for modifying database via other dev tool command.
2. Then we can do a command that does a `empty-openemr`, which then drops the openemr data

[2020-04-04 07:40] prondubuisi commented on #2943
@stephenwaite with your guide, I will go ahead and add the extra instructions to the documentation. Looks like @bradymiller has a possible incorporation that can help bring multi site install to docker. Sure that will take some time though

[2020-04-04 07:44] prondubuisi commented on #2943
Hello @bradymiller this looks like something that requires a breakout issue. Also looks like it would be a huge WIP. If you think it would be a good one, I will go ahead and create a Support multi-site setup for Docker issue. I am here for the fun and long ride.

[2020-04-04 07:52] bradymiller commented on #2943
hi @prondubuisi , Feel free to make the multi-component issue (1 will be straightforward, 2 will be almost straightforward, 3 will get tougher, and 4 will get even tougher). The reason I ordered them that way, is they build on each other (ie. can leverage what was done in earlier steps to complete the later steps). This would deal with some of the easy dev docker env weaknesses:
1. Can't test/dev

[2020-04-04 08:30] #3003 closed

[2020-04-04 08:36] bradymiller commented on #3309
please also get rid of the background color of that form which infects the encounter screen also. It is flaring up my legacy OpenEMR flashbacks medical condition :)

![image](https://user-images.githubusercontent.com/278968/78422473-67231f80-7614-11ea-8052-5bdc8b06b1bc.png)

![image](https://user-images.githubusercontent.com/278968/78422484-7ace8600-7614-11ea-91a4-cec4edcce606.png)

These are not

[2020-04-04 10:42] stu01509 commented on #3309
Oh my! I can't imagine seeing the little bit OpenEMR's legacy UI in 2020.
Please hurry to merge it 😉.

[2020-04-04 12:24] stu01509 commented on #2888
Hi @blarcmann

Are you working on this issue? If not @bradymiller Please assign this issue to me.
I will try to fix it, Thank you :)

[2020-04-04 12:31] stu01509 commented on #2889
Hello @sachinmukherjee

Are you still working on this issue?

[2020-04-04 12:35] sachinmukherjee commented on #2889
@stu01509 Yes I have pinged @stephenwaite for some help.

[2020-04-04 12:44] stephenwaite commented on #2889
hi @sachinmukherjee how can i help?

[2020-04-04 13:00] sachinmukherjee commented on #2889
Hi @stephenwaite I have pinged you in slack. Got stuck while solving this.

[2020-04-04 15:22] kchapple commented on #2677
If Brady is on board, I’d like to tackle the messages as a whole for 503, and keep you guys in the loop on spec and design. I will start with prototype/sketches and some use cases. Sound good? I’m planning on joining meeting today if you’d like to chat about it.

Ken

[2020-04-04 16:05] sjpadgett commented on #2677
Nobody asked for my opinion(the busy body I am) but I agree and even look forward to seeing what you come up with.

[2020-04-04 17:35] mdsupport commented on #2677
@kchapple ,
Here is user interface we have used for last few years leveraging bootstrap components and integrating reminders and messages in a single list.  User clicks on header to see message body and all related links like documents, lab results etc.  Status updates are done using status dropdowns.  Replies currently invoke original interface but that was our being lazy.
We can share code but f

[2020-04-04 17:46] mdsupport commented on #2677
Without appearing to pile on, there is an operation aspect currently missing.  If a message/reminder is sent to an user and that user leaves/goes on vacation, there is no easy way for another user to take over open items.  In many cases that can be malpractice.

[2020-04-04 20:35] bradymiller commented on #2888
hi @stu01509 , it is yours :)

[2020-04-04 20:47] bradymiller commented on #2889
hi @sachinmukherjee , will have more luck finding @stephenwaite in the openemr telegram chat: https://t.me/openemr
(posting on github is generally the best way to get help since others can also jump in and help out)

[2020-04-04 20:51] bradymiller commented on #2677
@kchapple , heck yes, I am on board :)

[2020-04-04 20:54] sjpadgett commented on #2677
Okay Ken so when, tomorrow maybe or do ya need a couple more days?:)

[2020-04-04 21:00] bradymiller commented on #2677
lets be realistic. eta 9 days until finished product in codebase :)

[2020-04-04 21:01] sjpadgett commented on #2677
30 days if I help:)

[2020-04-04 22:23] stephenwaite commented on #2889
yeah, there's just no such thing as privacy on slack, here either, or zoom video i guess
https://theintercept.com/2020/03/31/zoom-meeting-encryption/

[2020-04-04 23:03] bradymiller opened #3326 "Fix patient service API"
### Describe the bug

Current API for patient services is too limiting.

### Expected behavior

The current api for patient post(insert)/put(update)/get is bare bones at this point. It should actually be mimicking saving/editing/showing patients like is done in OpenEMR. And in that case, it will then automatically support any of the standard (and custom) data points.

[2020-04-04 23:11] sjpadgett commented on #3326
library/patient.inc around L-1039 and don't forget insurance(at least empty records) for new patients

[2020-04-05 02:02] prondubuisi commented on #3326
Hello @bradymiller where is the code that the Patient API is supposed to mimic? lets connect the dots

[2020-04-05 02:19] tywrenn commented on #3307
@surendrap720 ur correct

[2020-04-05 02:23] prondubuisi opened #3327 "Support multi site install with docker"
### Describe the problem
There is need to support the OpenEMR Multi-site install with docker, as there are issues related to the multi-site install which developers usually need to replicate before fixing.
https://www.open-emr.org/wiki/index.php/OpenEMR_Multiple_Sites_Module

### Describe the solution you'd like
As @bradymiller highlights, this can be achieved in the following steps

 1. The api o

[2020-04-05 02:27] prondubuisi commented on #3327
As an asides @bradymiller also outlines the possible difficulty level as follows , as well as some other potential benefits

 1 will be straightforward, 2 will be almost straightforward, 3 will get tougher, and 4 will get even tougher). The reason I ordered them that way, is they build on each other (ie. can leverage what was done in earlier steps to complete the later steps). This would deal with

[2020-04-05 02:41] bradymiller commented on #3326
hi @prondubuisi ,
POST would look something like:
interface/new/new_comprehensive_save.php
PUT would look something like:
interface/patient_file/summary/demographics_save.php

[2020-04-05 02:51] stu01509 commented on #3307
Hi @tywrenn

Ok, I will start to remove `body_top ` and add `margin-top: 20px;` in `theme-defaults.scss`
Thanks for your explanation :)

[2020-04-05 03:12] prondubuisi commented on #3326
Cool @bradymiller looked into both files
https://github.com/openemr/openemr/blob/master/interface/new/new_comprehensive.php
https://github.com/openemr/openemr/blob/master/interface/patient_file/summary/demographics_save.php

Would love to work on this

[2020-04-05 03:20] sjpadgett commented on #3326
Hi @prondubuisi
I started a base service class with some helpers to do this. May be a way to go so give me a little while and i'll put up a concept PR

[2020-04-05 03:22] prondubuisi commented on #3326
Works for me @sjpadgett.  Thanks.

[2020-04-05 03:51] sjpadgett commented on #3326
lol umm wait! I was just fooling around with it and thought it'd be helpful. I need to be more careful:)
@prondubuisi look over what I do then maybe you can use or go another way... cool?

[2020-04-05 03:55] #3309 closed

[2020-04-05 03:58] prondubuisi commented on #3326
Sure @sjpadgett , Will gladly watch and follow the old man with a stick

[2020-04-05 06:07] yashrajbothra commented on #3326
I will be waiting for this 😃
![giphy](https://user-images.githubusercontent.com/47683556/78468100-c0cd3c00-7731-11ea-9fbc-ca83ffdec694.gif)

[2020-04-05 07:39] yashrajbothra opened #3330 "Using OutcomeResource for response [FHIR]"
### Describe the problem
Using OperationOutcome Resource for response in FHIR.
http://hl7.org/fhir/r4/OperationOutcome.html

[2020-04-05 07:59] ShubhamBansal1997 commented on #3239
@bradymiller Raised the PR https://github.com/openemr/openemr/pull/3331 Please review
Shall we raise a single big PR or we do minor small PR's one by one?

[2020-04-05 12:02] shachar058 commented on #3297
@bradymiller thank you for the reply,
I might be missing something here - what do you mean by the code being "contained" or "not contained"?

[2020-04-05 17:13] ShubhamBansal1997 opened #3332 "SQL Mode Issue - Passing blank instead of NULL in the `form_eye_mag_prefs` table"
### Describe the bug
The bug is in continuation with this bug https://github.com/openemr/openemr/issues/3239
```unable to execute SQL: 'INSERT INTO `form_eye_mag_prefs` (`PEZONE`, `LOCATION`, `LOCATION_text`, `id`, `selection`, `ZONE_ORDER`, `GOVALUE`, `ordering`, `FILL_ACTION`, `GORIGHT`, `GOLEFT`, `UNSPEC`) VALUES('PREFS', 'ACT_SHOW', 'ACT Show', 2048, 'ACT_SHOW', 65, 'CCDIST', 15, 'ADD', '', ''

[2020-04-05 17:25] ShubhamBansal1997 commented on #3332
The issue is quite simple and it's a common issue which I observed at multiple places in the system, so the broader bug is that in the sql if the column type is `number` kind - like `decimal, int, float`  type etc. and you have allowed it to be null then you have to use the NULL while inserting null values, if you pass blank (`''`) then it's wrong as blank is something strictly related to the stri

[2020-04-05 17:28] ShubhamBansal1997 commented on #3273
Update - PR https://github.com/openemr/openemr/pull/3331 raised for the Issue https://github.com/openemr/openemr/issues/3239

[2020-04-05 17:29] ShubhamBansal1997 commented on #3273
New issue added https://github.com/openemr/openemr/issues/3332

[2020-04-05 18:51] stephenwaite commented on #3311
hi @tywrenn , here's another, thanks
![Untitled](https://user-images.githubusercontent.com/5618372/78507234-e6b40a00-774c-11ea-854d-9530cf154d8b.png)

[2020-04-06 01:30] kchapple commented on #2677
Are you volunteering to help? You’re signed up!

Ken

[2020-04-06 02:49] stu01509 commented on #2918
Hi @bradymiller

This problem seems to be solved?

[2020-04-06 02:57] stu01509 commented on #2892
Hello @bradymiller @tywrenn and @sjpadgett

Is now the problem solved or anyone is working on this issue?
If not, I will try to fix it, Please assign this issue to me.

[2020-04-06 02:58] bradymiller commented on #2918
hi @stu01509 , Thanks for pointing this out and gonna close this issue.

[2020-04-06 02:58] #2918 closed

[2020-04-06 03:17] bradymiller commented on #3297
hi @shachar058 ,
There are 2 different main dockers.

1. Dockers that already include the codebase (ie. on Dockerbuild the codebase is brought in and built). For example, here is the Dockerfile for the 5.0.3-dev, which we build every couple weeks:
https://github.com/openemr/openemr-devops/blob/master/docker/openemr/5.0.3/Dockerfile
(this one has no npm build issues)

2. Then the second type of doc

[2020-04-06 05:05] bradymiller commented on #3239
hi @ShubhamBansal1997 , Just reviewed the PR. Small PRs are good (then we can get the straightforward ones into codebase, and the more complicated ones can take longer without dragging down the progress).

[2020-04-06 05:11] bradymiller commented on #3332
hi @ShubhamBansal1997 , In this case, lets focus on fixing it up (use NULL instead of blank) in the installation. Agree this issue (not just this table, but guessing many) will likely involve lots of codebase fixes, which will likely be easiest to identify by good old fashioned testing :)

[2020-04-06 05:14] bradymiller commented on #3332
btw, regarding rest of codebase for this specific table, recommend searching codebase for `form_eye_mag_prefs` and I think will be pleasantly surprised that it looks like no table writes are happening (ie. likely no further codebase changes regarding this issue for the ordering column in the form_eye_mag_prefs table).

[2020-04-06 07:54] ShubhamBansal1997 commented on #3332
Also amazed to see there is no INSERTION going on for this table in the codebase what's why want to have second cross check with you regarding the same.

[2020-04-06 10:46] shachar058 commented on #3297
@bradymiller  thanks, that really cleared things up for me

[2020-04-06 11:10] adad20 commented on #3267
hi @stephenwaite  I have set some data it is showing like this

![Screenshot (133)](https://user-images.githubusercontent.com/55142272/78552524-4aaa0180-7825-11ea-9755-a76497030d88.png)

[2020-04-06 16:10] sjpadgett commented on #2677
I was being facetious! I was joking on another issue and before ya know it, ding, Brady assigned the issue to me:) I must be more careful!!!
Besides i'm sure ya don't need my meddling:)

[2020-04-06 17:24] sachinmukherjee commented on #2889
@stephenwaite @bradymiller  What should I used to change the button name PHP or Jquery. I have to check which radio button is checked out of the two(Have setup create the database or I have already created the database). I have tried using Jquery but I'm not getting the radio button value which is being checked.

[2020-04-06 17:28] sjpadgett commented on #2889
anytime dependencies scope is iffy, use javascript. anything in setup should be javascript and not jquery!

[2020-04-06 19:02] stephenwaite commented on #3267
nice work @adad20 , any luck getting the labs graph to display on the dashboard?

[2020-04-06 19:40] adad20 commented on #3267
hi @stephenwaite No nothing is showing up

[2020-04-06 19:50] stephenwaite commented on #3267
and when you `Click here to view and graph all labdata.` ?

[2020-04-06 19:53] adad20 commented on #3267
Nothing is showing up

[2020-04-06 21:30] stephenwaite commented on #3267
looks like there still aren't any results
there should be items listed here if you've entered results

[2020-04-07 10:11] yashrajbothra opened #3339 "Error calling API auth"
### Describe the bug

write concise description of what the bug is.

Trying to connect API Auth.

Error Log
[Tue Apr 07 15:38:33.321124 2020] [php7:notice] [pid 10996:tid 1960] [client ::1:63965] OpenEMR Error : Decryption failed authentication.
[Tue Apr 07 15:38:33.322122 2020] [php7:notice] [pid 10996:tid 1960] [client ::1:63965] OpenEMR Error : Key creation is not working - Exiting.

System Con

[2020-04-07 12:49] stu01509 commented on #3267
Hello @adad20

Oops, I'm not noticed you have mentioned to me,
Does this problem seem like about SQL query?

[2020-04-07 12:51] adad20 commented on #3267
Hi @stu01509 SQL query seems fine to me, data is in the reports_type table yet it is not rendering to the page. I think I am missing something 🤔

[2020-04-07 13:08] stephenwaite commented on #3267
hi @adad20 @stu01509 , think it's easier to import hl7 with my steve.zip file above although there's a few steps, want me to outline them again?

[2020-04-07 13:43] adad20 commented on #3267
Yes please I want data 😅

[2020-04-07 14:00] sjpadgett commented on #3339
I use all day long on windows 10 xampp apache. no issues. I also test occasionally on my linux box between the two os....

[2020-04-07 14:04] yashrajbothra commented on #3339
IDK why but it happens sometimes and if I restart error goes away 😕

[2020-04-07 14:08] sjpadgett commented on #3267
@stephenwaite If I remember correctly, wasn't these reports written against self entered results. Electronic resulting has/had issues with some of these reports. Same issue in portal lab reporting.

[2020-04-07 14:15] sjpadgett commented on #3339
I'll see this sometimes on openemr log in after I make a lot of changes or upgrade but I can explain those occasions. Intermittent on API Auth should be watched. See if you see a pattern etc.
I've never seen this issue on API but I can imagine it could happen.

[2020-04-07 14:25] yashrajbothra commented on #3339
I will try to run debugger next time I see something like this.
Should I close the issue for now?

[2020-04-07 14:29] sjpadgett commented on #3339
I'd leave open in case someone else comes across. However, in a testing environment where you might have other openemr sessions open, strange things may happen.

[2020-04-07 15:09] stephenwaite commented on #3267
1. change the npi of the admin user in Admin->Users to 1548374382
2. go to the addr book and setup a test lab service so it will appear in
3. Procedures->Providers, the test will autopopulate and then choose
4. results-only, extract the steve.zip to a directory that's specified like below
![Screenshot from 2020-04-07 10-52-24](https://user-images.githubusercontent.com/5618372/78685783-3c5cf380-78c

[2020-04-07 17:36] yashrajbothra opened #3340 "How to set Expiry time of session in API Auth?"
Is there any way to set/Modify the Expiry time of API auth session.

[2020-04-07 17:48] sjpadgett commented on #3340
Go to table api_token and set there. I have one set for 2 years. I figure by then i'll be done with API:)

[2020-04-07 17:51] yashrajbothra commented on #3340
Should we give such option while calling auth Or in our portal?

[2020-04-07 19:48] sjpadgett commented on #3340
No, I still have more to do with Auth for the API!

[2020-04-07 20:14] stephenwaite commented on #3267
no, see below for 5.0.2 view

![Screenshot from 2020-04-07 16-13-11](https://user-images.githubusercontent.com/5618372/78714975-b99d5e00-78ea-11ea-8e7b-6c06b2fa3f51.png)
![Screenshot from 2020-04-07 16-13-45](https://user-images.githubusercontent.com/5618372/78715016-c457f300-78ea-11ea-9f6d-a435bf1199d1.png)

[2020-04-07 20:33] stephenwaite commented on #3267
5. docker cp steve.zip 7ae3196908b6:/tmp/.
6. docker exec -i $(docker ps | grep _openemr | cut -f 1 -d " ") sh -c 'unzip /tmp/steve.zip -d /tmp/hl7'

[2020-04-08 08:47] bradymiller commented on #2892
I am willing to be this issue was resolved with all the prior bs4 changes. Recommend testing it, though, to confirm.

[2020-04-08 12:19] stu01509 commented on #2892
@bradymiller Thanks for your notice, I will take a look 😃

[2020-04-08 12:22] stu01509 commented on #3267
Hi @adad20  @stephenwaite
Thanks for your data and information, I will in-depth study it after I fix my PR and issue.

[2020-04-08 13:56] stu01509 opened #3341 "UI Issue: Available appointments calendar misses the bootstrap"
### Describe the bug

Available appointments calendar misses the Bootstrap style.

### To Reproduce

Steps to reproduce the behavior:
1. Click the new appointments button.
2. Click the find available button.
3.  See the available appointments calendar.

![image](https://user-images.githubusercontent.com/22230889/78792216-6d821480-79e3-11ea-896d-b0ed48a03172.png)

- Browser: Firefox 73.0.1（64 bit）

[2020-04-08 13:57] stu01509 commented on #3341
Please assign this issue to me.

[2020-04-08 15:20] sjpadgett opened #3342 "Portal RTL layout broken"
### Describe the bug
Side bars disappear etc.
Going to need a BS expert here. Not sure if asides can be used and absolute positioning is prob a no no.
### To Reproduce
Set a RTL language on login.

 Note: There was never an interest in portal by international so, hopefully can be addressed without to much fuss.

[2020-04-08 17:10] bradymiller commented on #3341
hi @stu01509 , it is yours :)

[2020-04-09 04:24] stu01509 commented on #3342
Hi @sjpadgett

Have any screenshot?

[2020-04-09 05:40] #3239 closed

[2020-04-09 06:56] #3279 closed

[2020-04-09 07:13] #3320 closed

[2020-04-09 14:39] sjpadgett commented on #3342
Hi Cliff @stu01509
![image](https://user-images.githubusercontent.com/1859985/78905703-65aa8a80-7a4c-11ea-84a1-34c1626fdd9d.png)

While sidebar will move to right, it ends up off screen after page renders. May just need a missing class. Or left(old right) content does not move as should. I may have hard coded it to the right.

Normal pages seem to render okay. Side bars may no longer be appropriat

[2020-04-09 18:13] sjpadgett opened #3346 "Addition of FHIR Condition and Immunization Resources"
### Describe the problem
Lets track these resources here. @silvistershebin whichever one you want. Just note it here.

[2020-04-09 18:20] sjpadgett opened #3347 "Add Procedure Resource"
### Describe the problem
resource: http://hl7.org/fhir/R4/procedure.html
profile: https://build.fhir.org/ig/HL7/US-Core-R4/StructureDefinition-us-core-procedure.html

Who wants?

[2020-04-09 18:26] sjpadgett opened #3348 "FHIR Core Observation Profile"
### Describe the problem
Once the core Observation resource is developed then can be used for other observable profiles such as vitals.
http://hl7.org/fhir/R4/observation-vitalsigns.html
https://build.fhir.org/ig/HL7/US-Core-R4/StructureDefinition-us-core-observation-lab.html

This one could be fun and challenging.

[2020-04-09 18:47] yashrajbothra commented on #3348
Is it really soo challenging 🤔

[2020-04-09 18:51] yashrajbothra commented on #3348
But its fun too. So I would like to take this :)

[2020-04-09 18:57] sjpadgett commented on #3348
Maybe not sooo much for you smart youngsters but, for us ole timers, very much sooo:)

It's yours and thanks

[2020-04-09 19:05] imakshat47 commented on #3242
Hey @robertdown, I have a good experience in this technology stack and would be glad to work on this technology. Can you assign me this task?

[2020-04-09 19:38] silvistershebin commented on #3346
Sure. I'll start with Immunization Resource.

[2020-04-09 20:43] #3299 closed

[2020-04-09 21:03] tywrenn commented on #3342
I don't think we have a great RTL system setup for the patient portal tbh -- it isn't like the regular RTL setup we have cause that's separate. It'll probably take a bit to fix this

[2020-04-10 00:06] tywrenn commented on #3289
Result
![image](https://user-images.githubusercontent.com/46497068/78950729-a67ebf80-7a9d-11ea-9210-331815e50734.png)

[2020-04-10 00:14] sjpadgett commented on #3289
Is it me or does those blue tend to much towards purple?

[2020-04-10 00:18] stu01509 commented on #3289
Oh! The purple looks very strange, I prefer the original blue color.

[2020-04-10 06:04] sjpadgett commented on #3342
Who fixed up the appointments. Very nice whomever did the final version. umm, maybe the trick was keeping me out of it!:)
Should have seen in v4.0.0 compared to now!

![image](https://user-images.githubusercontent.com/1859985/78966997-3d17a480-7acf-11ea-973b-cb9ea8353c32.png)

[2020-04-10 09:27] pete-boyd opened #3350 "setup.php error when supply a complex password for new openemr db user account"
In setup.php's "Step 2 - Database and OpenEMR Initial User Setup Details", if you supply a complex password for when setting up the openemr db user, then when moving forward to the next step it fails with "ERROR - A database login password is required". A simple password does not generate this error.

An example complex password is:
cn162`+wn|vCGjdS#^+vd;Uk9q%D+O?u

OpenEMR version : 5.0.2.1
Opera

[2020-04-10 10:01] sjpadgett commented on #3073
fixed.

[2020-04-10 10:01] #3073 closed

[2020-04-10 14:06] stu01509 commented on #2892
Hello @bradymiller  @tywrenn and @sjpadgett

I  reproduce the issue on Chrome, Seems like it didn't fix. Do you have any idea or suggestion for me to solve it?

![image](https://user-images.githubusercontent.com/22230889/78996318-ebc2f000-7b76-11ea-8e9d-6de5fd4a9b47.png)

[2020-04-10 19:01] dixonwhitmire opened #3353 "Patient Publishing to HAPI FHIR R4 Returns A 400 Bad Request"
### Describe the bug
When I publish a patient record to an external FHIR Server, http://hapi.fhir.org/baseR4, the publishing process returns the following message
[code]

It appears that the request to the FHIR Server is malformed.

### To Reproduce
- Open a Patient Record
- Click the Publishing Tab
- Select the Publishing Option in the modal which appears

<img width="826" alt="openemr-publish" s

[2020-04-10 19:54] yashrajbothra opened #3354 "Query Error in Observation Form"
### Describe the bug

Just confronted a query error in find_code_popup.php

### To Reproduce

Steps to reproduce the behavior:
1. Open any Encounter
2. Open 'Observation Form'
3. Click input field 'Code'
4. A popup will showup Select Code type blank (dont select LONIC)
4. Now search blank or sanything & See error

![image](https://user-images.githubusercontent.com/47683556/79018914-9eed1280-7b92-1

[2020-04-10 19:55] sjpadgett commented on #3353
This client is in transition. Originally our API prefixed id's so we could use put to create resources. We've since removed those. I've gotten as far as updating the UI to work with BS4. The version I have not pushed yet will use post and search to retrieve resources. It also uses a switch to use our API or public server.

I'm still searching for a defined mission for Publish where we may just res

[2020-04-10 20:04] dixonwhitmire commented on #3353
@sjpadgett thank you for the response.

I did see the issue with "patient-id" vs just the id.

I was able to get things working after adding in a constant in the "ClientController" to define the required headers. That's may be a bit heavy handed, but I was just getting a feel for how things are working.
[code]

If the client is in "transition" do you think it would be open for additional contribut

[2020-04-10 20:16] sjpadgett commented on #3353
@dixonwhitmire

Absolutely. You may do what you need and is the ideal direction. I may even leave it in 5.0.3:)
It is true we'd need to do data sync between app and server plus we have to have a review process for changed patient data. The user needs to be in that loop somehow.

My latest version is setup for our API. Including authentication. I could push and merge this version giving you a bette

[2020-04-10 20:25] yashrajbothra commented on #3348
Hii @sjpadgett Sir, I was going through Observation Form thought we can use that but I couldn't understand the purpose of the observation form and how we can use that form?

Can you help me understand?

[2020-04-10 21:00] dixonwhitmire commented on #3353
@sjpadgett that sounds great! If you wouldn’t mind pushing your branch up I think that would accelerate things a bit.

I believe you touched on this but ideally I would like to publish by
- searching for an existing resource
- send a POST or PUT based on if we have a “result”

This should ensure better integration with a variety of FHIR servers as a “create with a PUT request” is not defined as a

[2020-04-10 21:21] sjpadgett commented on #3353
I'm thinking that is the way it pretty much has to go.
I merged what I had so far. Currently it is using our custom HTTP client but you may wish to use another. We have symfony dependencies as well as Zend.
I've been mainly using Publish to demo workflows so you may configure how you see fit to make it viable. For now our API credentials are hardcoded but we have it to do yet for public server aut

[2020-04-10 21:37] sjpadgett commented on #3348
Observation covers many different scopes. This is where Observation Profiles come in. Same with patient profiles etc
For our purposes let's profile vitals.
http://hl7.org/fhir/R4/observation-vitalsigns.html

[2020-04-10 21:53] #2888 closed

[2020-04-11 03:24] ShubhamBansal1997 commented on #3332
@bradymiller https://github.com/openemr/openemr/pull/3355 PR Raised, Please review the same.

[2020-04-11 03:33] ShubhamBansal1997 commented on #3273
Update - PR https://github.com/openemr/openemr/pull/3355 raised for the Issue https://github.com/openemr/openemr/issues/3332

[2020-04-11 03:33] ShubhamBansal1997 commented on #3273
Issue #3239 is resolved and merged

[2020-04-11 04:03] adad20 commented on #3354
hi @yashrajbothra maybe it's because u leave the query blank. Mysql requires return value to insert into the db but it got nothing :)

[2020-04-11 04:07] yashrajbothra commented on #3354
Yea but that's what bug is :) And as I saw last night I think it should have two code_types and its showing one only. Kindly check this if u are interested.

Thanks :)

[2020-04-11 06:54] #3332 closed

[2020-04-11 08:31] stu01509 commented on #3276
Hi @gayatri-patil

Are you working on this issue? If not @bradymiller sir, Please reassign this issue to me.

[2020-04-11 13:17] gayatri-patil commented on #3276
Hi @stu01509
I'm working on it. My laptop had a major issue, as a result I had to uninstall Ubuntu, hence my entire work got deleted. I'm working on it again. Sorry for the delay.

[2020-04-11 13:33] sjpadgett commented on #3353
I passed over this but, with the oeHTTP client as you can see from client I just merged,  adding asJson() to request will include correct header. However, asJson() builds application/json so if we stay with oeHTTP client, i'll add necessary correct headers as maybe asFhirJson() etc..
This is just easier than defining headers for each use case in code.

[2020-04-11 14:38] prondubuisi opened #3357 "Add FHIR Guide to API_README.md"
### Describe the problem
I tried using the OpenEMR FHIR endpoints, and I noticed that even though FHIR  is mentioned in the API docs, there is no instruction on how to turn it on, get an API token, or a list of available resources

### Describe the solution you'd like
Create an FHIR Section, with instruction on how to turn the feature on, Get API token, Plus add resources currently available and t

[2020-04-11 14:39] stu01509 commented on #3276
Hello @gayatri-patil

Ok, If you have any question welcome to discuss with us 😃

[2020-04-11 14:42] prondubuisi opened #3358 "Add Docker PHP logs Alias to Contributing.md guide"
### Describe the problem

Recently added an Alias for PHP logs within OpenEMR docker, there is need to add this alias to contributing.md guide.

### Describe the solution you'd like

Add Shortcut to contributing.md guide.

[2020-04-11 14:46] sjpadgett commented on #3357
Or create a separate readme.
Are you saying you want this issue?

[2020-04-11 15:06] prondubuisi commented on #3357
Lol, I need the Issue. Yes.

[2020-04-11 15:49] yashrajbothra commented on #3357
Yeah, Man! We need this :))

[2020-04-11 15:50] prondubuisi commented on #3357
On it @yashrajbothra , Long overview.

[2020-04-11 16:27] prondubuisi opened #3361 "Update API_README.md"
### Describe the bug

The API guide contains links that are broken as well as other information that is outdated.

### Proposed Solution
Update API guide

[2020-04-11 20:13] #3358 closed

[2020-04-11 21:12] tywrenn commented on #3307
Closed. Read pull #3338 for explanation.

[2020-04-11 21:12] #3307 closed

[2020-04-11 21:12] tywrenn commented on #3302
Closed. Read pull #3338 for explanation.

[2020-04-11 21:12] #3302 closed

[2020-04-11 21:13] tywrenn commented on #3342
@sjpadgett That one was me 🙂 It was painful to do cause of margin issues yet it works lol

[2020-04-11 21:20] tywrenn commented on #3342
Here's how to fix RTL:
- Refactor/rename `patientportal-base.css`, `patientportal-style.css`, and `patientportal-register.css` to use the `scss` extension.
- Add the line to the bottom of each `@import "directional";`
- Add RTL methods to the gulpfile for the patient portal

[2020-04-11 21:22] tywrenn commented on #3289
@sjpadgett What's weird is that on my screen it's blue and if I went to an external monitor it would be purple! Dunno why that's happening

[2020-04-11 21:26] sjpadgett commented on #3342
yep, that's the layout I was striving for. it's perfect so thanks....

[2020-04-11 21:38] tywrenn opened #3363 "Removal of Laminas Module CSS/JS libs folders and convert to BS4 and npm"
### Describe the problem

Currently, we are using outdated libraries in all of `node_modules`.

Current folders needing attention:
- `/interface/modules/zend_modules/public/css`
- `/interface/modules/zend_modules/public/js/lib`

This needed to be replaced awhile ago. The issue is that a lot of companies use these libraries in their modules which might cause issues.

### Describe the solution you'd

[2020-04-11 23:15] sjpadgett commented on #3289
maybe your screen/display settings have been changed or your display could be failing!
I like the blues used in portal.

[2020-04-12 02:19] rhausam commented on #3281
I think that having properly controlled API write access capability is going to be important, especially in decision support scenarios.  Has anyone done (even very preliminary) investigation into the possibilities of leveraging SMART on FHIR and CDS Hooks in OpenEMR?

[2020-04-12 02:53] rhausam commented on #3277
I think we probably should have some discussion about the intended purpose and use of the FHIR ValueSet resource in OpenEMR.  Proper internal support for value sets is essential for FHIR applications, including OpenEMR.  And access to value sets from external terminology services via the FHIR API probably is also important.  But this likely does not mean that a ValueSet endpoint in the OpenEMR FHI

[2020-04-12 06:48] ShubhamBansal1997 commented on #3273
Issue #3332  is resolved and PR #3355 is merged

[2020-04-12 06:49] ShubhamBansal1997 opened #3365 "SQL Mode issues while installing OpenEMR"
### Describe the bug

After changing the modes in the Installer.class.php and try running installation via GUI following error occurs:
```ERROR. unable to execute SQL: 'INSERT INTO `codes` (`id`, `code_text`, `code_text_short`, `code`, `code_type`, `modifier`, `units`, `fee`, `superbill`, `related_code`, `taxrates`, `cyp_factor`, `active`)VALUES(NULL, "diphtheria, tetanus toxoids and pertussis vac

[2020-04-12 06:58] ShubhamBansal1997 commented on #3365
The issue is quite simple https://github.com/openemr/openemr/blob/093777d2a9543381b0f36e5a96b6ec8f559275d6/sql/database.sql#L1040 here the `cyp_factor` is `NOT NULL` and we are passing blank values while doing insertion here https://github.com/openemr/openemr/blob/master/sql/cvx_codes.sql . So, either we would pass the default values in all of them like this

[code]
or we would remove this from in

[2020-04-12 06:59] ShubhamBansal1997 commented on #3273
New Issue added https://github.com/openemr/openemr/issues/3365

[2020-04-12 07:14] bradymiller commented on #3365
hi @ShubhamBansal1997 , In that case, I'd go with option 2 and remove them from the insert since the cyp_factor is not used there. Rec searching through the codebase for `cyp_factor` to get an idea of use. I think we may be lucky on this one, where it doesn't appear to be any blank inserts of that column.

[2020-04-12 07:16] #3357 closed

[2020-04-12 07:24] stu01509 opened #3366 "Docs Issue: FHIR_README.md broken"
### Describe the bug

The FHIR_README.md dev notes and license links seem broken.

https://github.com/openemr/openemr/tree/master/services
https://github.com/openemr/openemr/tree/master/rest_controllers
https://github.com/openemr/openemr/blob/LICENSE

[2020-04-12 07:28] bradymiller commented on #3366
hi @stu01509 . Good catch. Also need to fix them up for the API_README.md document
The services and rest_controllers can now be found in src/Services and src/RestControllers
And the license section should just be removed completely (all the code is already licensed properly)

[2020-04-12 07:47] prondubuisi commented on #3366
Hello @bradymiller, Created an issue for the API readme links here https://github.com/openemr/openemr/issues/3361. I wonder how I missed that for FHIR lol. Will be happy to fix both

[2020-04-12 08:38] ShubhamBansal1997 opened #3367 "SQL Mode issues while installing OpenEMR"
### Describe the bug

After changing the modes in the Installer.class.php and try running installation via GUI following error occurs:
```unable to execute SQL: 'INSERT INTO `codes` (`id`, `code_text`, `code_text_short`, `code`, `code_type`, `modifier`, `units`, `fee`, `superbill`, `related_code`, `taxrates`, `active`)VALUES(NULL, "diphtheria, tetanus toxoids and pertussis vaccine", "DTP", 1, 100,

[2020-04-12 08:48] ShubhamBansal1997 commented on #3367
This issue is due to the short size of the column `code_text_short` in the codes table.
https://github.com/openemr/openemr/blob/d8ca47ebdefbf341cfae05d7e2dd6e1e42813fa6/sql/database.sql#L1031
In the file https://github.com/openemr/openemr/blob/d8ca47ebdefbf341cfae05d7e2dd6e1e42813fa6/sql/cvx_codes.sql#L10 an entry of 30 characters is being done, while observing the remaining while it is observed t

[2020-04-12 08:51] ShubhamBansal1997 commented on #3273
New Issue added https://github.com/openemr/openemr/issues/3367

[2020-04-12 12:25] stu01509 commented on #3366
Go for it, bro 😁

[2020-04-12 12:35] stu01509 commented on #2921
Hello @nasirtechnelligence and @mdsupport

Is this issue solve? If not I would like to fix it, It seems like related to #3303

[2020-04-12 17:01] sjpadgett commented on #3281
Not recently. Do you have a general example?

[2020-04-12 17:06] adad20 commented on #3354
@yashrajbothra Yes I reproduced it Sorry was working on some other stuff...
@bradymiller If nobody is taking this I wanna dig into it 🙂

[2020-04-12 17:13] yashrajbothra commented on #3354
Nice :) Green Flag from my side 👍

[2020-04-12 17:14] sjpadgett commented on #3277
Hi @rhausam
How best should we proceed here?

[2020-04-12 17:52] mdsupport commented on #2921
I think #3303 is more generic issue.  But this one is very closely related to #3322 that can bring modern interface and a urgently needed feature to the project.  You will need green light from @ophthal / project admins as to if you can replace the whole directory and add couple of fields to form_soap table.  #3322 currently misses inserting an entry in 'registry' table for new form.  In this case

[2020-04-12 18:59] usama-kabel opened #3369 "Speech Dictation"
### Describe the bug

I read about this feature in openemr community But I didn't have any idea when I test it on openemr demo how it woks?

### Expected behavior
open Speech Dictation
talk
openemr detect what i say

### Client configuration

- Browser: chrome
- Operating system: win 8.1

[2020-04-12 19:04] tywrenn commented on #3369
Correct me if i'm wrong @sjpadgett @bradymiller , I don't think we have this function. This is something that the clinic I work for actually keeps asking me if we can implement in OpenEMR.

[2020-04-12 19:08] tywrenn commented on #3363
I will start working on this - assign me.

[2020-04-12 20:07] sjpadgett commented on #3369
I believe all the form does is house the speech to text from an external application like natural speech etc.
There should be some topics on this in forum I believe. Maybe even old issues.

[2020-04-12 20:20] bradymiller commented on #3369
At this point, external speech applications can be used to transcribe into any text field or document (ie. meaning it can be integrated into anything (including OpenEMR) that has text fields in it). Never been clear why there is a "specific" speech form, since any form can be used.

[2020-04-12 20:22] bradymiller commented on #3354
hi @adad20 , it is yours :)

[2020-04-12 20:26] sjpadgett commented on #3369
True. maybe at the time, apps were limited to recording into a known flagged location but now we prob should retire it.  unless it was made to take a voice recording for transcription latter. lpn's need something to do don't they?

[2020-04-12 20:28] bradymiller commented on #3367
Hi @ShubhamBansal1997 , I'd rec making it 255 (then we will never have to ever worry about it again :) ). This won't cause any impact on the codebase. It will need to be in the sql upgrade script (like the prior one was), though.

[2020-04-13 03:56] ShubhamBansal1997 commented on #3365
Cool, PR https://github.com/openemr/openemr/pull/3372 is raised , Please review
cc - @bradymiller

[2020-04-13 03:57] ShubhamBansal1997 commented on #3367
cool, PR https://github.com/openemr/openemr/issues/3365 is raised, Please review
cc @bradymiller

[2020-04-13 03:58] ShubhamBansal1997 commented on #3273
PR #3372 is raised for #3365 and #3367

[2020-04-13 14:20] sjpadgett opened #3374 "Maintaining Fax SMS Module"
I could use a little help with the best way to maintain our module repo.

Currently I am using branches for version control however this seems/is cumbersome. Okay for dev.
Is it best to merge the branches then tag them or keep maintaining branches.

Once a branch is merged and tagged, can/should you checkout the merged tag/branch, modify and retag?

https://github.com/openemr/oe-module-faxsms

[2020-04-13 17:00] yashrajbothra commented on #3277
We can Continue the discussion here :)
Btw I like the strategy @rhausam suggested. Will try to implement once done with current work :)

Thanks 👍

[2020-04-13 17:46] sjpadgett commented on #3277
I'm still not convinced we need to add our own value sets. Just the act of putting together a compendium of our current values to build from is daunting.

I don't know which would be easier, provide valueset or translate in resource to hl7 vs...
Or am I missing a concept here?

[2020-04-13 18:51] mdsupport commented on #3277
Just posted a comment related FHIR on forum.  In addition to known objects in standard release, I am curious how local layouts, transactions, xmlforms and CAMOS going to plug into this.

[2020-04-13 22:24] stephenwaite opened #3377 "add COVID-19 diagnosis code to next patch for production, rel-502"
### Describe the problem

with the recent addition of the COVID-19 code we should add it to rel-502

### Describe the solution you'd like

add the correct logic to `sql/patch.sql` something like

[code]

[2020-04-13 22:36] stu01509 commented on #3350
Hello @pete-boyd and @bradymiller

I try to reproduce it, But it seems normal in v5.0.3-dev
Maybe we fixed this issue in v5.0.3-dev?

![image](https://user-images.githubusercontent.com/22230889/79167520-28fadc80-7e1a-11ea-96eb-4c485c7cfaa5.png)

[2020-04-14 01:06] ShubhamBansal1997 opened #3378 "Timestamp SQL Mode Issue"
### Describe the bug

After changing the modes in the Installer.class.php and try running installation via GUI following error occurs:

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

### To Reproduce

Steps to reproduce the behavior:
1. Change SQL mode in the `Installer.class.php`
2. Run GUI installation (https://github.com/openemr/openemr/i

[2020-04-14 01:12] ShubhamBansal1997 commented on #3378
The above errors are possibly due to the `NO_ZERO_IN_DATE,NO_ZERO_DATE` for first three where the issue is due to `'0000-00-00 00:00:00'` timestamp, `CURRENT_TIMESTAMP` could be used, not sure for the last one `'0000-00-00'` as it consists of date only.
But there might be issue with `CURRENT_TIMESTAMP` in the previous versions of mysql https://dev.mysql.com/doc/refman/8.0/en/data-type-defaults.htm

[2020-04-14 01:13] ShubhamBansal1997 commented on #3273
New Issue added https://github.com/openemr/openemr/issues/3378

[2020-04-14 05:55] bradymiller commented on #3377
Problem with above solution is will likely end up in many duplicate active entries for that code (every time the upgrade script is run). May want to consider something like
[code]

[2020-04-14 08:30] bradymiller commented on #3366
![tenor (9)](https://user-images.githubusercontent.com/278968/79203211-8af21c80-7def-11ea-9bd3-6b6ef345121b.gif)

[2020-04-14 08:30] #3366 closed

[2020-04-14 16:51] dixonwhitmire commented on #3353
The attached document is a proposal I put together to enhance Open EMR's FHIR publishing feature. We discussed this a bit on the [forum](https://community.open-emr.org/t/project-fhir-integration/13701/32?u=dixonwhitmire).

I'll be submitting PRs against the issue shortly.

[2020-04-14 18:40] sjpadgett commented on #3353
Great, anytime.

[2020-04-14 19:25] stephenwaite commented on #3377
another draft of COVID-18 addition to `sql/patch.sql`
[code]

[2020-04-14 20:01] bradymiller commented on #3378
hi @ShubhamBansal1997 , Looks like all the date stuff needs to be either NULL or a valid date (ie. should default to NULL rather than a invalid date). This will likely cause needed refactoring in the codebase (could be a rather large undertaking). Here's a fun blast from OpenEMR's past where this issue was sort of discussed:
https://community.open-emr.org/t/value-0000-00-00-is-not-valid-for-mysql-

[2020-04-14 20:37] #3365 closed

[2020-04-14 20:46] #3341 closed

[2020-04-14 21:05] stu01509 opened #3380 "UI Issue: Register modal button different style."
### Describe the bug

Register modal buttons are of different styles.

![image](https://user-images.githubusercontent.com/22230889/79274092-9ec47e00-7ed6-11ea-996c-c465f36328f0.png)

![image](https://user-images.githubusercontent.com/22230889/79274123-abe16d00-7ed6-11ea-9ff3-1bcde4c1b0ac.png)

### Client configuration
- Browser: Firefox 73.0.1（64 bit）
- Operating system: Windows 10

[2020-04-14 21:06] stu01509 commented on #3380
Hello @bradymiller

Follow this comment https://github.com/openemr/openemr/pull/3275, Please assign this issue to me, I will fix it. Thanks 😃

[2020-04-14 22:41] bradymiller commented on #3380
hi @stu01509 , it's yours :)

[2020-04-14 23:14] #3380 closed

[2020-04-15 03:32] ShubhamBansal1997 commented on #3378
Make sense then let's pick them one by one

```ERROR. unable to execute SQL: 'CREATE TABLE `amendments` ( `amendment_id` int(11) NOT NULL AUTO_INCREMENT COMMENT 'Amendment ID', `amendment_date` date NOT NULL COMMENT 'Amendement request date', `amendment_by` varchar(50) NOT NULL COMMENT 'Amendment requested from', `amendment_status` varchar(50) NULL COMMENT 'Amendment status accepted/rejected/null'

[2020-04-15 04:41] bradymiller commented on #3378
hi @ShubhamBansal1997 , In this case, it is trying to default to zero (albeit incorrectly). So, would default it to NULL. Note that in the codebase, it sets the 'created_time' when inserts the entry.

[2020-04-15 05:49] bradymiller commented on #3297
Turns out this is a bug in the version being used in Alpine 3.10/3.11 . I fixed the flex docker, by using npm from the alpine edge version, which I confirmed to work. This is the fix used (note just temporary until alpine 3.11 updates version of npm): https://github.com/openemr/openemr-devops/commit/98c07d59fb3dee47f5b544187d3e38d3fe97a700
(the `flex` docker has been built and uploaded to docker h

[2020-04-15 05:49] #3297 closed

[2020-04-15 13:34] #3135 closed

[2020-04-15 15:55] stephenwaite opened #3382 "using forms in encounters"
### Describe the problem
there are probably going to be few other issues that pop up due to the current action involved here, see @adad20's [nice work with the fee sheet](https://github.com/openemr/openemr/commit/0ff72b771e192fb98811c69d7f61660085e0d232) that got the ball rolling :basecampy:

if you choose a form from the forms menu in the encounter, either admininstrative or clinical it opens a n

[2020-04-15 16:28] adad20 commented on #3382
hi @stephenwaite When we try to open new form, there should be a prompt for asking a new one for the forms like procedure order.
Or have I did something stupid? 😅

[2020-04-15 17:10] dmasog commented on #3339
I have a new install of latest code - single environment.

I got "Authentication Error" when trying to add a Code in Chrome after success setting up other aspects from scratch using both interface and API.
Added a new user and try again - auth fails
Try adding code using new user in Edge - auth succeeds
Come back to Chrome and add another Code - auth succeeds

System Config
Windows 10
Apache Serve

[2020-04-15 17:34] sjpadgett commented on #3339
Thanks for reporting.
Maybe @bradymiller would have some insight. I don't think browser is really the issue and possibly if first attempt was made with Edge, would have failed.

[2020-04-15 18:05] stephenwaite commented on #3382
hi @adad20, if you click on one of the selections and it's already opened it should open it instead based on a global variable i think. If the global variable is set to ask for opening a new form then it should prompt the alert asking if you'd really like to create another form.

[2020-04-15 18:21] adad20 commented on #3382
hi @stephenwaite Okay now I got it and it will be for every selection other than fee sheet or fee sheet too

[2020-04-15 18:27] stephenwaite commented on #3382
i also noticed that the a previously selected form retains it's selection prior selection highlight
![Screenshot from 2020-04-15 14-26-05](https://user-images.githubusercontent.com/5618372/79374021-14efd180-7f25-11ea-83d8-1d9cbd5174f6.png)
so i guess the attributes are not getting cleared when clicking on the dropdowns

should i start a separate issue for this?

[2020-04-15 18:40] adad20 commented on #3382
@silvistershebin Yeah we may go for it but I was not able to reproduce it on my system

[2020-04-15 18:41] adad20 commented on #3382
@stephenwaite  Yeah we may go for it but I was not able to reproduce it on my system

[2020-04-15 18:54] silvistershebin commented on #3347
Hi @sjpadgett Sir, I can take this up :)

[2020-04-15 19:25] sjpadgett commented on #3347
Yours

[2020-04-15 21:16] stu01509 commented on #3382
Hello @stephenwaite and @adad20

Do you want to work on this issue? If not I would like to pick this.
Thanks.

[2020-04-16 01:35] stephenwaite commented on #3382
hi @stu01509 , thank you, are you talking about the main issue in the title? `ease use of forms in encounters` ? or the sub issue that i've noticed with vestigial highlights around previously clicked form?

[2020-04-16 04:06] #3361 closed

[2020-04-16 04:43] prondubuisi commented on #2943
Hello @bradymiller, I tried logging in to OpenEMR wiki to make add this additional information, I am getting the error below
![Login error](https://user-images.githubusercontent.com/22311928/79415364-211b7380-7fa5-11ea-9046-1e0c59020b7d.png)

[2020-04-16 05:25] bradymiller commented on #2943
hi @prondubuisi , The server ran out of storage. I just fixed this, so it should be working for you now.

[2020-04-16 09:05] adad20 commented on #3382
HI @stephenwaite Yeah I was going for the main issue @stu01509 you may go for the second issue of highlights, I will surely ask if I need any help 😊

[2020-04-16 12:14] stu01509 commented on #3382
Hi @stephenwaite

OK, Please create a new issue and assign to me.
Thank you :)

[2020-04-16 13:14] stephenwaite opened #3383 "encounter summary dropdown: previously clicked forms appear selected"
### Describe the bug
please see:

https://github.com/openemr/openemr/issues/3382#issuecomment-614203577

### To Reproduce

1. open an encounter
2. add a form like procedure order
3. go back to summary tab
4. go to add another form and you'll find procedure order still outlined as selected

### Expected behavior

dropdown entries should appear fresh afaik

### Client configuration

- Browser: firef

[2020-04-16 13:14] stephenwaite commented on #3383
here it is @stu01509 , thank you

[2020-04-16 18:18] #3346 closed

[2020-04-16 23:56] tywrenn opened #3384 "TravisCI Failure"
### Describe the bug
Current TravisCI build is failing
Logs:
`Example E2e (OpenEMR\Tests\E2e\TestOpenemrPage\ExampleE2e)
 ✘ Url without token should redirect to login page
   │
   │ Failed asserting that two strings are identical.
   │ --- Expected
   │ +++ Actual
   │ @@ @@
   │ -'OpenEMR Login'
   │ +''
   │
   │ /home/travis/build/openemr/openemr/tests/Tests/E2e/TestOpenemrPage/ExampleE2eTest.p

[2020-04-17 02:52] tywrenn commented on #3342
@sjpadgett Figured out it isn't RTL actually, it's the hard-coded sidebar that's messing everything up. I need to find one that works better than that and has RTL support.

[2020-04-17 04:54] stu01509 commented on #3383
Thank you, I will fix it asap.

[2020-04-17 06:58] bradymiller commented on #3384
hi @tywrenn ,

This is an erratic bug since it is only failing about 1 in 5 times on the following e2e tests:
https://github.com/openemr/openemr/blob/master/tests/Tests/E2e/TestOpenemrPage/ExampleE2eTest.php#L30-L39

Hopefully just a transient bug.

[2020-04-17 07:32] #3238 closed

[2020-04-17 07:55] bradymiller commented on #3377
hi @stephenwaite , I think that should work well since it does 2 things.
1. Adds the code if it does not yet exist.
2. If the code already exists (or was added in step 1), it gets assigned the current revision.
Go for placing it in the sql/patch.sql of rel-502 and then I'll include it in patch 2 (am hopefully going to release patch 2 over the weekend)

[2020-04-18 01:33] bradymiller commented on #3384
For now, commented out the test that is related to the travis issue:
https://github.com/openemr/openemr/commit/353e9134bcbf2dcf6ba9f2aeb5601d011650ee74

[2020-04-18 04:06] tywrenn opened #3387 "Update jQuery to 3.5.0"
### Describe the problem

jQuery just got updated. This fixes a vulnerability described here:
https://www.infoq.com/news/2020/04/jquery-35-xss-vulnerability-fix/

### Describe the solution you'd like

Update to 3.5.0

[2020-04-18 04:08] tywrenn commented on #3387
Anyone wanna take on this issue?

[2020-04-18 04:09] stu01509 commented on #3387
Hello @tywrenn

Are you working on this issue?
If not I would like to fix it.

[2020-04-18 04:10] tywrenn commented on #3387
@stu01509 please fix 🙂

[2020-04-18 06:42] stu01509 commented on #3387
Hi @bradymiller sir

Please assign this issue to me, Thanks :)

[2020-04-18 10:12] zerai commented on #3384
Hi @bradymiller @tywrenn,
this test is not critical (IMHO), but you can see how "testing" is useful.
This is not erratic bug, the behavior of th esystem is changed,
you should check the difference in 5.02 and 5.0.3 demo farm.

5.0.2 behavior
- go to login page
  http://seven.openemr.io/e/openemr/interface/login/login.php?site=default
- manualy change the url with   /interface/main/tabs/main.php
RE

[2020-04-18 17:27] morg0n commented on #3374
Hey!  I would say to merge then tag, then delete the old branch.  I think I am a little confused by the re-tagging part.

[2020-04-18 21:02] #3387 closed

[2020-04-19 04:12] prondubuisi commented on #3384
Hello @zerai I tried replicating 5.0.3 behavior but I still get a redirect, and no white page, has anything changed?

[2020-04-19 04:35] prondubuisi opened #3392 "Remove Squiz.Scope.MethodScope exclusion from PHPCS rules"
### Describe the bug

write concise description of what the bug is.

The current Squiz.Scope.MethodScope exclusion in PHPCS allows one to write methods without access modifiers, while  this is non crucial, it makes for inconsistency within codebase and also goes against PSR2 rules

### Describe Possible Solution
I tried removing the exclusion and ran into tonnes of errors with PHPCS, will recommen

[2020-04-19 04:45] prondubuisi commented on #3392
As an aside, If PHPCS had a baseline feature, this fix would have been easier though, looks like there is a discussion to that effect https://github.com/squizlabs/PHP_CodeSniffer/issues/2543

[2020-04-19 05:35] prondubuisi opened #3394 "Bump PHPCS standards to PSR12"
### Describe the problem

@stephenwaite

Write concise description of what feature you want

@stephenwaite

[2020-04-19 08:03] zerai commented on #3384
Hi @prondubuisi,
A short video in order to see the behavior.
[https://drive.google.com/file/d/1PbtiBqW2VFdyJPl3pnh7CrcRT9HBbooa/view?usp=sharing](https://drive.google.com/file/d/1PbtiBqW2VFdyJPl3pnh7CrcRT9HBbooa/view?usp=sharing)

[2020-04-19 08:21] prondubuisi commented on #3384
Thanks, will check it out once the site comes up again

[2020-04-19 12:56] sjpadgett commented on #3394
@prondubuisi
How much of an impact will this have on current core code i.e Will current source pass PSR12?

[2020-04-19 14:36] stephenwaite commented on #3394
just changing `ci/phpcs.xml` to
`<rule ref="PSR12">`
results in a huge list of automatic fixes attached
[errors.txt](https://github.com/openemr/openemr/files/4499331/errors.txt)

[2020-04-19 15:23] sjpadgett commented on #3394
yep what I thought. Don't know if v5.0.3 is where we want to do maybe beginning of v5.0.4 but up to you guys I guess.
Maybe an overnight batch run wouldn't be to bad!

[2020-04-19 15:30] sjpadgett commented on #3374
I think that's what i'll do. I really meant move tags but best just to do new patch release etc.
Thanks @morg0n

[2020-04-19 17:21] ShubhamBansal1997 commented on #3367
@bradymiller let's close the Issue are the PR is already merged https://github.com/openemr/openemr/pull/3372

[2020-04-19 17:33] tywrenn commented on #3374
This is OFT yet I believe that we need to invent an API for email/fax/sms which would allow us to consolidate all the old email/fax/sms code and focus on maintaining one file instead of a bunch of files. I've noticed there are so many methods that trigger emails in the code that I don't know if all the methods are working at all anymore. Here's some examples of areas that need attention:
- Batchco

[2020-04-19 17:34] ShubhamBansal1997 commented on #3378
@bradymiller PR for the first sub issue (https://github.com/openemr/openemr/issues/3378#issuecomment-613795856) is raised https://github.com/openemr/openemr/pull/3397/files . Please review

[2020-04-19 17:38] #3367 closed

[2020-04-19 17:55] tywrenn opened #3398 "Up-for-grabs Demos Breaking More Often"
### Describe the bug

I've been seeing more often on the up-for-grabs demos and the dev demos that they aren't responding or not displaying anything.

### To Reproduce
[https://prnt.sc/s2dtg4](https://prnt.sc/s2dtg4)
![image](https://user-images.githubusercontent.com/46497068/79695502-36163200-8245-11ea-92f3-5b09c0e88fb6.png)

Steps to reproduce the behavior:
Click on any dev demos and most of the

[2020-04-19 17:57] sjpadgett commented on #3374
Modules RC and Twilio classes extend an abstract dispatcher class thus allowing for REST endpoints. Vendor selection is automatic.

For emails didn't think it was a issue but and endpoint prob a good idea.

Is legacy and we have to be careful removing especially email which is the only free choice provider have for appt notifications. Maybe can be spruced up though...

[2020-04-19 18:04] sjpadgett commented on #3374
Here we could add a dispatcher event

[2020-04-19 18:45] bradymiller commented on #3394
Looks like minor stuff. Rec pushing a PR with the autocorrections.

[2020-04-19 18:47] bradymiller commented on #3398
Yep, looks like the demo farm blew up on overnight demo resets. Will plan to look into this today.

[2020-04-19 19:25] #3348 closed

[2020-04-19 19:36] rhausam commented on #3277
Has there been further thought or work on this?  I agree we probably don't need to "add our own value sets" (if I understand what you mean).  I think that compiling an inventory as I mentioned above probably is where to start?

[2020-04-19 19:48] stephenwaite commented on #3394
https://github.com/openemr/openemr/pull/3399

[2020-04-19 20:00] stephenwaite commented on #2767
hi guys, is it safe to close this then @sjpadgett ? thank you

[2020-04-19 20:24] sjpadgett commented on #3277
Most all our values comes from Lists or List options. Both are user editable, even our defaults.

I'm thinking we simply use the hl7.org terminology reference and translate any openemr value in code to match hl7 ValueSet reference.

[2020-04-19 20:29] sjpadgett commented on #2767
It'd shatter a dream but okay!

[2020-04-19 20:45] gutiersa commented on #2870
Re: "Hopefully it will be sorted out before Ubuntu 20.4 gets released which will use mysql 8 by default."

The more reason for us to get OpenEMR working with Mysql8.
I am in, who else?

[2020-04-19 20:46] gutiersa commented on #2870
this is no longer needed in Mysql 8

[2020-04-19 21:26] stu01509 commented on #2870
Hi @stephenwaite

Are we have any idea to avoid firefox save the MySQL username, password instead of the OpenEMR login username and password?

[2020-04-19 23:09] stu01509 commented on #3383
Hello @stephenwaite

I reproduced in Edge Chrome and Firefox and set the button state in focus mode, This problem seems only happened in Firefox.

Certainly, I also found a way to fix it. Just add a class style `outline: none`, but I'm not sure it is the best solution.

Chrome:
![image](https://user-images.githubusercontent.com/22230889/79702229-e3388b00-82d5-11ea-9707-d902830689a2.png)

Firefox:

[2020-04-19 23:16] stephenwaite commented on #2870
good point @stu01509 , let's create a new install issue

[2020-04-19 23:17] stephenwaite commented on #3383
maybe defer to style expert @tywrenn ?

[2020-04-19 23:31] stu01509 commented on #3383
I found some related articles about the Firefox button focus outline issue, It seems like most people use `outline: none;` to solve it.

https://medium.com/@hassadee/remove-blue-border-outline-in-chrome-and-dash-border-in-firefox-b857d452d136
https://stackoverflow.com/questions/71074/how-to-remove-firefoxs-dotted-outline-on-buttons-as-well-as-links

[2020-04-19 23:32] stu01509 commented on #2870
I would like to solve it, Please assign the issue to me after you created an issue.

[2020-04-20 00:57] bradymiller commented on #3398
demos are back up :)

![tenor (4)](https://user-images.githubusercontent.com/278968/79704646-30314880-8267-11ea-9e25-7789b33347f3.gif)

[2020-04-20 02:02] stephenwaite commented on #3383
nice,  then go for it @stu01509 :bowling:

[2020-04-20 02:04] stephenwaite opened #3402 "after completing setup, firefox prompts to save mysql username/pass vs openemr login creds"
### Describe the bug

https://github.com/openemr/openemr/issues/2870#issuecomment-616227762

### To Reproduce

run a setup locally but not the easy dev :)

Steps to reproduce the behavior:

complete the setup fields, click next, browser prompts to save wrong credentials (not the app creds)

### Expected behavior

prompts you to save your new login pass for openemr

### Client configuration

- Brow

[2020-04-20 02:06] stephenwaite commented on #3402
Here it is @stu01509 , let me know if doesn't capture what I think we were discussing in the link above

[2020-04-20 02:41] #3398 closed

[2020-04-20 02:53] tywrenn commented on #3374
@sjpadgett The only reason I bring up consolidation to one API is the fact that having too many ways to send out notifications will make things confusing for the end user. Having 1 instead of 3 ways to send notifications makes things generally easier to setup.

[2020-04-20 06:32] bradymiller commented on #3392
I've been forcing this on functions that get into the src/ directory (ie. PSR4 directory). Just missed it in the code review where public was removed on a couple functions. The problem is all the legacy classes don't follow this and it's not super simple what to do for each class. Goal is to migrate the classes (and legacy libraries) over to PSR4 over time, like for example this one was recently:

[2020-04-20 06:38] bradymiller commented on #3374
Regarding tags, note you can't really reuse a tag. If need to maintain separate versions (like we do with OpenEMR), then would rec mimicking what we are doing with OpenEMR now (branches for versions).

[2020-04-20 09:30] stu01509 commented on #3402
Thank you, I will fix it.

[2020-04-20 17:02] #3340 closed

[2020-04-20 17:32] yashrajbothra commented on #3277
Hi @sjpadgett Sir, Just a silly doubt which lists or Lists Option are you talking about ? (AFAIK u might be referencing of the list of option we get to choose for codes in forms)

[2020-04-20 19:46] stephenwaite commented on #3277
hi @yashrajbothra , think @sjpadgett :superhero:  means the table `lists` where issues like medical problems are stored for patients or `list_options` where issue lists are maintained
[code]
guessing could end up creating an additional column there for the valueset identifier

[2020-04-21 01:32] rhausam commented on #3277
Yes, I think that generally is what you want to do.  I'm a little hazy on what you mean by "hl7.org terminology reference", but this sounds like the right track.

[2020-04-21 01:43] rhausam commented on #3277
I can see how adding a column for value set to list_options could be used, but unless I'm not imagining it correctly I'm not sure that would be sufficient.  Maybe you can elaborate further on what you have in mind?

[2020-04-21 07:05] yashrajbothra commented on #3277
Is it okay to use only one table for all codes as we will add more valuesets and search will be slower?

[2020-04-21 10:42] adad20 commented on #3382
hi @stephenwaite @stu01509 Any idea how can I approach this problem?

[2020-04-21 12:42] #3347 closed

[2020-04-21 23:31] #3383 closed

[2020-04-22 01:44] #3142 closed

[2020-04-22 02:39] rhausam commented on #3277
It seems that there are a lot of factors that will go into making that decision, like:

1. how many value sets are there?
2. how large (average) are the value sets (how many codes)?
3. are they "fixed" (extensional/enumerated - usually smaller with required bindings) or "dynamic" (intensional/query-based - usually larger, probably extensible or preferred bindings, example bindings may not matter)

[2020-04-22 05:18] prondubuisi commented on #2943
Hello @stephenwaite, I added the additional information as recommended https://www.open-emr.org/wiki/index.php/OpenEMR_Multiple_Sites_Module#Installation_of_a_new_site

[2020-04-22 07:16] bradymiller commented on #3384
hi @zerai ,

I can not confirm that bug on Firefox 75.0 . When I paste the /interface/main/tabs/main.php into the link it gets brought back to the login page. Make sure you clear your web browser cache.

This does appear to be a erratic bug since it happens only 30% of the time on the travis e2e testing (usually about 3 fails out of the 12 identical tests and not related to specific php/mysql/mari

[2020-04-22 09:24] zerai commented on #3384
It try to simulate malicious behavior from user, this type of tests should be (penetration test) in a separate line (maybe with a specific framework).

If you remember, the initial goal of this file (Example.php) was travis configuration, if the cause is chrome, you can remove or move this test to another travis job (like security-job/ penetrationTest-job with a penetrationTest fraework.)

[2020-04-22 12:12] yashrajbothra commented on #3277
So I was going through this [IG](https://confluence.hl7.org/pages/viewpage.action?pageId=35718826#GuidetoDesigningResources-ShouldIuseavaluesetoracodelist,orleaveitunbound?) and there it's defined that and if we have an internal code system then it is called as code list. So what we will be implementing will be code list?
Because as Jerry Sir said the values in `list_option` will be user-defined a

[2020-04-22 21:30] stu01509 opened #3409 "Multiple fee-sheet bug"
### Describe the bug

Multiple fee-sheet bugs,

![image](https://user-images.githubusercontent.com/22230889/80035967-80d4ca00-8523-11ea-9ca4-d602760f957c.png)

https://i.imgur.com/DJER21F.mp4

### To Reproduce

Steps to reproduce the behavior:
1. Open Encounter tab
2. Click Navbar Fees > Payment
3. Click Navbar Fees > Fee Sheet
4. Go to the summary tab
5. Click Click Administrative > Fee Sheet
6.

[2020-04-22 21:32] stu01509 commented on #3409
Hello @adad20

I already created the issue, Do you wanna pick up this issue? If not I will fix it, let me know your thoughts.

Thank you :)

[2020-04-22 21:40] tywrenn commented on #3409
To solve this we could just create an entirely new method that gets called before the act of opening a fee sheet is even processed

[2020-04-22 21:55] tywrenn commented on #3236
Closed due to it being solved

[2020-04-22 21:55] #3236 closed

[2020-04-22 21:59] tywrenn commented on #2999
This still needs to be done -- hopefully @im-Amitto can fix this still

[2020-04-22 22:01] tywrenn commented on #3083
@sjpadgett @skshahnawaz Any updates on this?

[2020-04-22 22:02] stu01509 commented on #2999
If @im-Amitto  didn't want to work, I would like to try to fix it 😁.

[2020-04-23 02:38] stu01509 commented on #3409
Hello @bradymiller and @stephenwaite

Please assign this issue to me, I would like to try to fix it :)

[2020-04-23 02:45] adad20 commented on #3409
hi @stu01509 Maybe the problem lies in `menuActionClick()` in `main -> tabs -> js -> tabs_view_model.js`. Maybe this can help you. 😊

[2020-04-23 02:48] cyriltw opened #3410 "PHP 500 error with the setup.php"
### Describe the bug

I'm trying to setup the dev version on this repo from scratch and I get an error with a 500 code and the error logs say the following;

[code]

This is the codebase on this branch and on an Ubuntu 16.04 setup. PHP 7.2

[2020-04-23 03:47] im-Amitto commented on #2999
@stu01509 If you want it. be my guest :)
I currently have 3 pull requests
1-> PR #3055
2 -> PR #3027
3 -> PR #3024
Most of the basic stuff is already completed in the mentioned PR but yet not completed. Let me know which one you wanna pick first and I will close my PR and you can use it as a reference and can raise a new one.

[2020-04-23 04:42] bradymiller commented on #3409
hi @stu01509 , it is yours :)

[2020-04-23 06:44] prondubuisi opened #3412 "Bring in PHPCBF fixes for OpenEMR"
### Describe the bug

The Current OpenEMR codebase with PSR-12 check upgrades leaves some errors that PHPCBF can fix

### To Reproduce
Run PHPCS in current codebase

`docker exec -i $(docker ps | grep _openemr | cut -f 1 -d " ") sh -c '/root/devtools psr2-report'`

### Possible Solution
run
`docker exec -i $(docker ps | grep _openemr | cut -f 1 -d " ") sh -c '/root/devtools psr2-fix'`

Bring in PH

[2020-04-23 07:30] #3412 closed

[2020-04-23 07:33] bradymiller commented on #3412
couple more devtools things to consider updating:
-allow both `psr2-report` and `psr12-report` to do the same thing
-allow both `psr2-fix` and `psr12-fix` to do the same thing

[2020-04-23 07:40] prondubuisi commented on #3412
Hello @bradymiller, I am trying to understand this, how do we support both at the same time, was thinking I should replace  `psr2-report` and `psr2-fix` with  `psr12-report` and `psr12-fix`

[2020-04-23 07:54] bradymiller commented on #3412
hi @prondubuisi , just being nice to users that still use old command.
Just meaning in the bash conditional to accept either psr2-report or psr12-report

[2020-04-23 07:56] bradymiller commented on #3412
so this:
https://github.com/openemr/openemr-devops/blob/master/docker/openemr/flex-3.11/utilities/devtools#L15
would turn into this:
[code]

[2020-04-23 08:01] bradymiller commented on #3412
for the src stuff that Stephen added (lots of work to go on this, so travis is not checking it). could add a block for that:
[code]
(this is very strict PSR2 checking on the src directory, where goal is for that to be PSR12 fully compliant at some point)

[2020-04-23 10:04] stu01509 commented on #3409
Hello @tywrenn

Thanks for your suggestion, create an entirely new way to handle the encounters tabs sounds like a good idea, I think this way may easy to set the parameters of the tab, such as allow more tabs, or show prompt.

[2020-04-23 10:05] stu01509 commented on #3409
Thank you, sir.

[2020-04-23 10:12] stu01509 commented on #3409
Hi @adad20

Thank you share your experience with me, It would be very useful to me.
Also, Do you mind I fix #3382 this issue, I think #3382 may be related to this issue.
Let me know your thoughts :)

[2020-04-23 10:13] adad20 commented on #3409
hi @stu01509 Yeah you may go for it. I have no issue.

[2020-04-23 10:15] adad20 commented on #3409
Also all the best waiting for some awesome solution🐱‍🏍

[2020-04-23 10:21] stu01509 commented on #3382
Hi @stephenwaite

Please reassign this issue to me, Thanks.

[2020-04-23 10:24] stu01509 commented on #2999
Hello @im-Amitto

I would like to try #3055 first, Thank you :)

[2020-04-23 12:04] stu01509 commented on #3005
Hello @bradymiller

Please reassign this issue to me, Thank you.

[2020-04-23 12:21] stephenwaite commented on #3005
there you are @stu01509 , good luck :diamond_shape_with_a_dot_inside:

[2020-04-23 12:22] stephenwaite commented on #3382
thank you @stu01509

[2020-04-23 13:01] im-Amitto opened #3414 "Setup.php - suggestion"
### Describe the bug

write a concise description of what the bug is.

### To Reproduce
Initiate the openemr setup

I think we should highlight the current value with red when they are not meeting the required criteria.
![Screenshot from 2020-04-23 18-28-45](https://user-images.githubusercontent.com/29653282/80102507-71d83100-8590-11ea-831b-297652d2f8ab.png)

- Browser: Chrome
- Operating system:

[2020-04-23 13:03] im-Amitto commented on #3414
This little buddy can also use some bootstrap or selected theme-based style
![Screenshot from 2020-04-23 18-32-28](https://user-images.githubusercontent.com/29653282/80102736-d3989b00-8590-11ea-9a8e-744b1c04e661.png)

[2020-04-23 18:12] stephenwaite commented on #2943
looks great @prondubuisi , think you got everything

[2020-04-23 22:13] skshahnawaz commented on #3083
@tywrenn I was actually working on the Patient MAR one, so kept this on hold for a while. Will complete this soon

[2020-04-24 11:59] im-Amitto commented on #3410
[code]
Have you followed these?

[2020-04-24 15:51] tywrenn commented on #3410
@cyriltw Ubuntu 16.04 is a dead Operating System at this point as Canonical has stopped it's support and is now vulnerable to attacks. Please update to the new Ubuntu 18.04.4 LTS if you can and see what happens.

[2020-04-24 18:45] im-Amitto opened #3418 "Abandoned package in use"
It's not my area of expertise but this gives an unsettling feel.
 ![Screenshot from 2020-04-25 00-13-51](https://user-images.githubusercontent.com/29653282/80246252-b85d8680-8689-11ea-9777-3da566500a24.png)

![Screenshot from 2020-04-25 00-20-16](https://user-images.githubusercontent.com/29653282/80246774-9b758300-868a-11ea-91e8-06e7a5531b0a.png)

[2020-04-24 20:24] tywrenn commented on #3418
I've got a fix for this -- leave it to me :)

[2020-04-24 20:45] tywrenn commented on #3418
Nevermind -- even after updating composer some of the packages we use are still using it (about 3 or so), so we can't really avoid this.

[2020-04-24 20:49] tywrenn opened #3419 "npm & composer updates"
### Describe the problem

npm & composer are outdated

### Describe the solution you'd like

Update them

Pull request coming soon

[2020-04-24 22:22] stephenwaite commented on #3410
don't stick a fork in it yet @tywrenn :) it's just not getting hardware updates, it should receive security updates until 2024

![Screenshot from 2020-04-24 18-20-52](https://user-images.githubusercontent.com/5618372/80261460-7536ef80-8658-11ea-8c05-9947f41af764.png)