[2019-01-18 06:35] danehrlich1 opened #2141 "Escape column names in SQL statements"
This app has many sql statements that pull data from the database. Those statements are protected against SQL Injection by using something called "binded parameters".

However binding the parameters doesn't work everywhere.

For instance, in the following statement, only the data value of $id can be secured:

    Old: `$sql = "select $cols from forms where id = '$id' and deleted = 0 order by date

[2019-01-18 08:15] bradymiller commented on #1983
hi @morg0n ,
Sounds good. Probably good to find a spot in codebase that does this and then we can go from there.
-brady

[2019-01-18 08:19] bradymiller commented on #2100
We could start with the max number of attempted logins (since this will be the simplest to incorporate) and then work from there (there are several other good options to provide such as the one suggested by @sunsetsystems ); once you have the first mechanism in there, then will be straightforward to support more.

[2019-01-20 15:13] eyalvo-matrix opened #2144 "Patient file->Prescription: redundant buttons"
When pressing edit (Prescription) in the patient file
There are "Add", "List", "Done" buttons
I think  "List" is redundant and the "Done"  should maybe be "close"
furthermore after pressing "Add"
There are "Add", "List", "Done" , "save" , "back" buttons
I think  "Add", "List", "Done"  are redundant  and "Back"  should maybe be "Cancel"

![image](https://user-images.githubusercontent.com/20621444/5

[2019-01-20 17:20] sjpadgett commented on #2144
@eyalvo-matrix Add and List use to be Frames called from inline code. Either one(dialog footer) shouldn't go away. Maybe disable the dialog's List or Add depending on context or better yet remove the List/Add in the called script as not needed. Close is fine instead of Done, but in a UI that gives several feature capabilities you're generally done(Done) with session. Semantics and I don't care eit

[2019-01-20 23:32] danehrlich1 opened #2145 "Harden against XSS"
Perfectly hardened example script: https://github.com/openemr/openemr/blob/master/interface/reports/pat_ledger.php

Hardens text - text():
https://github.com/openemr/openemr/blob/master/interface/reports/pat_ledger.php#L680

Hardens code in html tags / attributes - attr():
https://github.com/openemr/openemr/blob/master/interface/reports/pat_ledger.php#L824

Hardens code in text that also is langua

[2019-01-20 23:33] danehrlich1 commented on #2145
@morg0n This is going to be a better issue later on for sure. Need to talk with Brady and give better instructions, but it's about sanitizing code to protect against XSS attacks. There is tons of work here so probably will split this up into at least 5 issues to give them to different people.

For now would just study XSS attacks it's the ultimate security / cyber  thing to know...

[2019-01-21 08:42] bradymiller commented on #2024
hi @morg0n ,

The current functions take the raw data (ie. not a file). Which works well when encrypting standard files. But agree there could be issues when encrypting large backup files(for now could just feed the whole file like do when encrypting patient files and see what happens :) ). When doing the encryption also agree important to think about just using a password(key is created from the

[2019-01-21 08:50] bradymiller commented on #2145
If anybody has interest in this, just let me know, and I'll direct you to some scripts to work on. This is actually a really good way to quickly become a effective "code reviewer" since many of the corrections in the code reviews I do involve these functions to prevent cross scripting attacks.

[2019-01-21 08:52] danehrlich1 commented on #2024
Brady:

The only other way I can think of is via the GPG utility in Linux. It’s pretty straight forward and easy to use. We could also generate a random 4 word pass phrase for user like “dante-bastion-summer-strangest” for a pretty strong passphrase so they don’t even have to think of one.

QUESTION: is there a secure way for OpenEMR to invoke a bash script (.sh file) that would do all this? If no

[2019-01-21 09:12] bradymiller commented on #2024
btw,
Regarding the passphrase to key/hmac issue, found this related discussion:
https://crypto.stackexchange.com/questions/6459/deriving-hmac-key-and-cipher-key-from-passphrase

[2019-01-21 14:48] davidtessier opened #2148 "How to: Matomo Integration with OpenEMR"
Hello,
I use Matomo (formerly Piwik) on my sites and I’d like to track usage on OpenEMR. It’s not obvious to me where I should put my Matomo JavaScript site tracking code. I am hoping someone could give me some direction as to the file(s) that I’d have to add the code snippet to so that I can track all site usage.
Thank you and keep up the solid development work on this project. It's fantastic!

[2019-01-21 14:59] eyalvo-matrix opened #2150 "list_options duplicate option_id causes duplicate values"
If we add sex value to "patient list columns" then in sex list we can see duplicate values

![image](https://user-images.githubusercontent.com/20621444/51481996-ee80cc00-1d9d-11e9-9915-f29b3e0035c1.png)

![image](https://user-images.githubusercontent.com/20621444/51482009-f3de1680-1d9d-11e9-9742-0c260627baff.png)

[2019-01-21 21:42] kkvvii84 commented on #2097
Sorry, missed that one.

[2019-01-22 06:40] bradymiller commented on #2097
Thanks @kkvvii84 . I just brought in your code. Check out this related issue:
https://github.com/openemr/openemr/issues/2141

[2019-01-22 08:56] bradymiller opened #2156 "Fix online drug lookup"
This is a drug lookup that scrapes a website, which breaks relatively frequently. If can not get it to work from rxlist website, then may need to change to site that offers api/json (like https://rxnav.nlm.nih.gov/ ). Code is here:
https://github.com/openemr/openemr/blob/master/library/classes/RXList.class.php#L43

Can see in OpenEMR if go to Patient Summary Screen-> Edit prescription -> Add -> Cl

[2019-01-22 11:00] flockclock commented on #2145
Hi. I am interested.

[2019-01-23 08:15] bradymiller opened #2157 "XSS fixes in library/custom_template/"
Clean up XSS prevention in scripts in library/custom_template/ directory:
https://github.com/openemr/openemr/tree/master/library/custom_template
(part of this issue: https://github.com/openemr/openemr/issues/2145)

[2019-01-23 08:15] bradymiller commented on #2157
Issue reserved by @flockclock

[2019-01-23 08:16] bradymiller commented on #2145
hi @flockclock ,
See here for a good issue to start on this:
https://github.com/openemr/openemr/issues/2157

[2019-01-23 13:22] eyalvo-matrix commented on #2150
@bradymiller  hi any thoughts about this manner?

[2019-01-23 21:09] david-vu commented on #2145
Hello @bradymiller.  I could work on files too.  Thanks!

[2019-01-24 03:11] bradymiller opened #2161 "XSS fixes in interface/orders/orders_results.php"
Related to this issue:
https://github.com/openemr/openemr/issues/2145

[2019-01-24 03:11] bradymiller commented on #2161
@david-vu is working on this

[2019-01-24 03:13] bradymiller commented on #2145
hi @david-vu ,
See here for a good issue to start on this:
https://github.com/openemr/openemr/issues/2161

[2019-01-26 13:31] sjpadgett opened #2166 "User Debug Feature"
I've written a feature to allow users to turn on debugging that will report php and javascript errors to the interface. Php will have options to turn on display_errors(apache) or display in dialog(both errors only). Window errors will be a synchronous alert. A promise alert is too risky due to possible race conditions.
I use this while debugging and it proves very helpful but mainly for IT with/or

[2019-01-26 17:11] bradymiller commented on #2166
sounds good to me :)

[2019-01-27 17:55] kkvvii84 commented on #2141
How do I pass the SQL string to that function escape_sql_column_name to test it works?

_TASK: Find every instance of select $cols in the codebase and then do a check with the above function to make sure that value is appropriate. If it's not, just execute a return statement for now._

[2019-01-27 21:16] danehrlich1 commented on #2141
1. Pass the $cols variable to the escape_sql_column_name function
2. Also pass an array that contains the name (as a string) of the tables being checked
3. In the above example you can tell that the only table being checked is **forms** because it says `FROM forms`.

[code]
Other examples in the codebase:
https://github.com/openemr/openemr/search?p=1&q=escape_sql_column_name&unscoped_q=escape_sql_

[2019-01-28 01:16] bradymiller commented on #2119
1st step of logging engine improvements as been committed:
https://github.com/openemr/openemr/pull/2168

2nd step will be optimization, of which some discussions on this can be found here:
https://github.com/openemr/openemr/pull/2130/files#diff-73538f766c2288b5c158156075a11a4e

[2019-01-28 01:57] bradymiller opened #2169 "XSS fixes in patients/get_allergies.php"
Very simple script to convert from using htmlspecialchars to OpenEMR's specific xss function. Related to this issue:
https://github.com/openemr/openemr/issues/2145

[2019-01-28 01:58] bradymiller commented on #2169
@MERCY-VIYOLA is working on this

[2019-01-28 19:31] atifmian opened #2171 "LBV not being formed in Editor"
I am not sure if anyone else is having this issue. I cannot create new LBFs? I did a fresh install on Ubuntu /AWS and tried to create a clinical form, after I go through the create and name it it shows up on the drop down list but when I click on layout properties I just get  "This layout does not exist.". I have tried it several times but same issue.  The log shows the following

INSERT INTO layo

[2019-01-28 21:06] danehrlich1 opened #2172 "Replace certain instances of document.write and innerHTML"
Certain instances of document.write and innerHTML can probably better be served by switching to the new textContent method: https://developer.mozilla.org/en-US/docs/Web/API/Node/textContent. This is faster by an order of magnitude and more secure.

For other instances where variables are used along with document.write and innerHTML some kind of purification or sanitization should occur (I think).

[2019-01-28 21:13] danehrlich1 commented on #2098
Should we include this function here: https://github.com/openemr/openemr/blob/master/interface/index.php

or here: https://github.com/openemr/openemr/blob/master/index.php

[2019-01-29 15:41] eyalvo-matrix commented on #2156
Hi, @bradymiller  would you consider replacing rxlist with truemd ?
replace the following URL
http://www.rxlist.com/script/main/srchcont_rxlist.asp?src=metadon
with
http:/www.truemd.in/api/v2/medicines.json?key=7f556015a882f1e1b70779e35723b182&search=metadon
and do the adaption , I am willing to volonteer

[2019-01-29 18:06] caperneoignis commented on #2156
Forgive my ignorance, but the price in the response data is in what currency and is there a difference between the two APIs?

[2019-01-30 14:38] sjpadgett commented on #2098
Both index wind up at log in so maybe there.(login.php)

[2019-01-31 08:37] eyalvo-matrix commented on #2156
hi @caperneoignis  "TrueMD started as a search engine to help people search for generic medicines or cheaper branded substitutes of the medicines they are already using. The team then decided to start a full-fledged Online Pharmacy. However, the founders soon realized that a B2B product in this space is better than a B2C product. Hence, TrueMD later morphed into HealthOS — an API based platform fo

[2019-01-31 08:38] eyalvo-matrix commented on #2156
For US users I think it is better to use
https://mor.nlm.nih.gov/download/rxnav/RxNormAPIs.html
OR
http://usgovxml.com/DataService.aspx?ds=DMEDWS

[2019-01-31 10:31] eyalvo-matrix commented on #2156
hi @bradymiller I need a real doctor help here :)
when I get for the search term  "zocor"
https://rxnav.nlm.nih.gov/REST/approximateTerm?term=zocor&maxEntries=6
I get a list of rxcui (196503,196503,196503,1187974,1187973)
and then if I get the info for one of them
https://rxnav.nlm.nih.gov/REST/rxcui/196503/allProperties.json?prop=all
I get something that is hard for me to identify the Brand Name,

[2019-01-31 18:43] caperneoignis commented on #2156
Not a real doctor, however if you are modifiying the code, I'd break down the json statement.

[code]
You have 4 property categories, you have: Attributes, Codes, names, and sources.

It does not look like this code returns a generic name, it does return Zocor which is the brand name, the drug class, may be in one of those other codes you might have to do an additional look up?

That is my guess,

[2019-02-01 08:17] bradymiller commented on #2156
hi @eyalvo-matrix ,
I also had a tough time playing around with the https://rxnav.nlm.nih.gov site to get something like what the rxlist site did. Guessing it is in there somewhere.

[2019-02-01 08:19] bradymiller commented on #2156
The displaynames that "Return the auto suggestion names" looks promising.

[2019-02-01 22:40] sjpadgett commented on #2166
Implemented here: https://github.com/openemr/openemr/pull/2174
Turned on at `Administration->Globals->Logging->User Debugging Options`
- Option `Display Window Errors Only `  Will alert user on most JavaScript errors in most modules in OpenEMR.
- Option `Display Application Errors Only` Will turn on apache display_errors property to display to screen PHP errors only and still log to error log.
- O

[2019-02-01 22:40] #2166 closed

[2019-02-02 03:19] bradymiller commented on #2166
very nice! looking forward to trying this out.

[2019-02-02 10:49] harshlele opened #2175 "Class 'OpenEMR\\Common\\Logging\\EventAuditLogger' not found"
I recently started getting an HTTP 500 error on loading the website at `http://localhost:8300` after running `docker-compose up`.
It only seems to happen on the upto date master branch, on an older branch it works fine.
I checked the error logs at `/var/log/apache2/error.log` inside the `openemr` container, and i found this error:

[code]
I'm using Ubuntu 18.04, with the latest version of docker.

[2019-02-02 15:13] bradymiller commented on #2175
Are you using the easy dev docker?
Is so, do the following:
docker-compose down -v
(the -v will remove the volumes)
then do `docker-compose up`

[2019-02-03 00:10] sjpadgett opened #2176 "LBF Needs a Table Data Type"
A nice  feature for building LBF encounter forms would be ability to create dynamic tables having the following capabilities:
- New data type Table.
- Popup editor to design table header and columns in editor.
- Allow choosing columns data from  existing LBF's or db table data. (think form history)
- Bootstrap or Css html tables
- Some styling.
I see this as very helpful to users wishing to create

[2019-02-03 05:07] harshlele commented on #2175
that solved the problem. Thanks @bradymiller

[2019-02-03 05:07] #2175 closed

[2019-02-03 05:47] bradymiller commented on #2176
oh goodness, your avatar is funny!

[2019-02-03 14:20] sjpadgett commented on #2176
True but once the form data is collected it becomes static with no ability to relate the data anywhere else. One use case could be for MAT(Medication-Assisted Treatment) or Pain Management where history is important in both regulatory reporting and treatment. A table that can be populated with form related  items of past history ie tabular historic data could be used for reporting and possibly dis

[2019-02-03 15:15] #2144 closed

[2019-02-03 15:39] bradymiller commented on #2176
To clarify, are we actually creating a sql table or is this an "abstract" table stored in the LBF data?

[2019-02-03 16:56] sjpadgett commented on #2176
The table will be a dynamically created BS or CSS styled table consisting of rows of columns selected from LBF form and field id's.. Say you have 5 past visits and 5 LBF eval/questionnaires and you want the history of certain fields from previous visits, you would create a table to be populated with those selected field id's as columns including DOS.
The table template design will be just a json a

[2019-02-03 21:16] sunsetsystems commented on #2176
Not nuts :) but are you aware of the "Repeats" option in Layout Properties within the layout editor? Put in a small integer and you'll see that number of columns of historical data, like with the Vitals form.

[2019-02-03 23:36] sjpadgett commented on #2176
Nope Rod, I did not know about Repeats except for Vitals. Very nice and pretty much gets one where they need to be for form history. Thanks for pointing that out.
I probably will shelve this idea for time being however, I still have this desire to give users ability to create tabular style reports where they have control over content.
Different topic: With CMS portal I assume LBF's can be sent, po

[2019-02-04 00:56] joshuaaguilar20 commented on #2172
Dan,

I am  a full time software engineer and  RN BSN. I really would love to get enveloped in the project and had actually started building one of my own. Has this issue been solved ? Thanks

[2019-02-04 01:39] MERCY-VIYOLA commented on #784
Noted

[2019-02-04 01:40] danehrlich1 commented on #2098
Putting the form fields where user config can happen are going to occur in two places. One during install and the chance to update it after install. The user should be allowed to select multiple values of two-digit country codes.

Install: https://github.com/openemr/openemr/blob/master/setup.php (I think)
Post-Install: https://github.com/openemr/openemr/blob/master/library/globals.inc.php

[2019-02-04 01:42] danehrlich1 commented on #2172
@joshuaaguilar20 Yes the help here would be great. This will get you involved with the DOM API, which no Javascript, no matter how good, ever seems to know well :)

@bradymiller Can we also create an XSS issue for Joshua? Joshua this is another issue we need help with. This second issue is easier and more fun (will make you feel very productive) but we still need the help :)

[2019-02-04 01:44] danehrlich1 commented on #2172
@joshuaaguilar20 Do you live in San Francisco?? I fly out there for work Monday to Friday currently. I'm about to leave in 9 hours. Want to meet / get lunch or dinner sometime this week?? Sorry for the short notice but cool coincidence. FYI though I'm a little south around Oracle Headquarters / north Santa Clara.

[2019-02-04 02:08] joshuaaguilar20 commented on #2172
Yes near SF. That sounds great. Let me know what time works for you. I will look at  the issues mentioned above, just got the the repo up and running. Whats your email/contact ?   Thanks!

[2019-02-04 04:44] danehrlich1 commented on #2169
Mercy:

Good question on what exactly you're supposed to do here. I need to write-up a "how to fix XSS" doc later for all newcomers to reference. All functions referenced below, such `attr()` and `text()` and `xlt()` come from [this file](https://github.com/openemr/openemr/blob/master/library/htmlspecialchars.inc.php).

1. Replace values in html attributes with the `attr` function. So
` echo "<tr

[2019-02-04 04:45] danehrlich1 commented on #2145
Good additional instructions and examples: https://github.com/openemr/openemr/issues/2169#issuecomment-460129695

[2019-02-04 04:45] danehrlich1 commented on #2161
Good additional instructions: https://github.com/openemr/openemr/issues/2169#issuecomment-460129695

[2019-02-04 04:46] danehrlich1 commented on #2157
Looks like @flockclock outright deleted their Github. I believe this issue is now open.

[2019-02-04 04:46] danehrlich1 commented on #2157
Good additional instructions: https://github.com/openemr/openemr/issues/2169#issuecomment-460129695

[2019-02-04 04:48] danehrlich1 commented on #2101
@kristophesankar You'll create the actual form field where IP's / subnets can be entered by the SuperAdmin here: Post-Install: https://github.com/openemr/openemr/blob/master/library/globals.inc.php

[2019-02-04 04:48] #2097 closed

[2019-02-04 04:49] #2095 closed

[2019-02-04 04:49] #2096 closed

[2019-02-04 06:13] danehrlich1 opened #2180 "Reopen and merge this pull request for SQL fixes"
https://github.com/openemr/openemr/pull/1989

[2019-02-04 06:14] danehrlich1 commented on #2180
Still need to fix this: https://github.com/openemr/openemr/pull/1989#issuecomment-443588929

But that can be done in another issue.

[2019-02-04 06:15] danehrlich1 commented on #784
Going to remove CSS files and then break this issue up into 15 files each or something. Will be great fodder for the new people.

[2019-02-04 08:54] bradymiller commented on #2157
Then it goes to:
@joshuaaguilar20

[2019-02-04 08:55] bradymiller commented on #2172
hi @joshuaaguilar20 ,
Check out this xss issue:
https://github.com/openemr/openemr/issues/2157

[2019-02-04 09:32] bradymiller opened #2181 "Encrypt all docs that are stored in OpenEMR on drive (ie. mostly patient docs and some logs)"
This will be a fun project. Will include a couple steps:
1. build out current encryption to create/store keys in a new sql table (we currently have a mechanism that stores keys on the drive to encrypt stuff in database, so just need to leverage that a little bit).
2. encrypt/decrypt the billing log as proof of concept
3. then go wild and encrypt/decrypt mechanism for patient documents
4. then do t

[2019-02-04 14:24] #2176 closed

[2019-02-04 23:39] joshuaaguilar20 commented on #2157
@bradymiller  @danehrlich1 I am commited a few updates. I just needed to confirm that some of the ajax request are not sending html I need to append to the DOM? I tried testing it with postman, but not great with php, so having a hard time finding the server code sending the response object?. I also cleaned up a little syntax. also I noticed on travis CI we are building 7.2 twice and was just curi

[2019-02-05 00:02] #2090 closed

[2019-02-05 05:15] bradymiller commented on #2169
completed!
https://github.com/openemr/openemr/commit/871141fb7bfc2ca1bc08ded91019e32a9c277ab6

[2019-02-05 05:15] #2169 closed

[2019-02-05 19:22] paragonie-scott opened #2196 "Searchable Encryption for Database Fields and/or Documents"
This is related to a lot of existing issues (e.g. #2181 and #2024) and some recent pull requests (#2043, #2047). Implementing this suggestion may solve a lot of cryptography problems for OpenEMR (and the EMR industry *in general*, which should do a lot to help protect patients from data breaches).

### Background Information

In #2043, @bradymiller said:

If I understand correctly, this means that

[2019-02-06 05:32] prondubuisi commented on #2141
@kkvvii84 are you already working on this?

[2019-02-06 05:41] prondubuisi commented on #2026
Hello @danehrlich1 where do you want this issue fixed?

[2019-02-07 02:20] bradymiller commented on #2196
@paragonie-scott ,

Proposal looks great. Now that OpenEMR's encryption/decryption is centralized, bumping up to a more solid library wouldn't be too tough (although would be best to only take it on if it fixed or improved something). Centralizing the encrypt/decrypt functions in OpenEMR was tough because needed to support different decryption functions depending on what originally encrypted it (i

[2019-02-07 02:28] sunsetsystems commented on #2196
This would all be an optional feature, right? I do a lot of ad hoc queries for clients....

[2019-02-07 02:54] bradymiller commented on #2196
hi @sunsetsystems ,

Note the only things we encrypt in the database at the openemr level are:
1. sensitive things like password (for example in the globals)
2. Log comments when the setting for that is on

If we desire full database encryption then could just rely on that at the mysql/mariadb layer

And the plans to encrypt stuff on the drive (patient documents and other stuff stored in documents

[2019-02-07 03:27] paragonie-scott commented on #2196
You can define a password-derived key provider, like so: https://gist.github.com/paragonie-scott/3d06442e39d27e9295b2826ac84860f3

Yes, that's a sane approach.

[2019-02-07 06:32] sunsetsystems commented on #2196
Great, thanks guys!

[2019-02-07 09:42] bradymiller commented on #2196
hi @paragonie-scott ,
Super interesting stuff in the PasswordDerivedKeyProvider.php class. Learned about use of "slow" hash and the hash_pbkdf2() function. In my use case a salt would be very difficult to deal with; since the user encrypts file with passphrase on one openemr instance and then can take it to another one to decrypt with just the passphrase. Is seems like not having a salt is a bad i

[2019-02-07 15:28] prondubuisi commented on #2180
@danehrlich1 whats the issue here? how can I help?

[2019-02-07 17:35] prondubuisi commented on #1983
Hello @danehrlich1 I have a curl function that works exactly as get_file_contents() or so i think D:
function file_get_contents_curl($url) {
    $ch = curl_init();

    curl_setopt($ch, CURLOPT_AUTOREFERER, TRUE);
    curl_setopt($ch, CURLOPT_HEADER, 0);
    curl_setopt($ch, CURLOPT_RETURNTRANSFER, 1);
    curl_setopt($ch, CURLOPT_URL, $url);
    curl_setopt($ch, CURLOPT_FOLLOWLOCATION, TRUE);

[2019-02-08 14:10] kchapple opened #2202 ""enctypted" type in globals.inc.php does not save"
In master branch, when attempting to save a global value for an "encrypted" type, the value does not save.

1- Browse to Globals  > Connectors
2- Input a value for erx_account_password
3- Click Save
4- Return to Globals > Connectors and see blank field

[2019-02-08 15:09] paragonie-scott commented on #2196
The salt is meant for multi-user systems to ensure the same password results in a different password hash.

If you only have a single "user", you can use the same salt for all keys. It's generally considered a bad practice, but without the risk mentioned above, there's no *real* downside. Just make sure the hard-coded value is distinct per instance, not hard-coded in OpenEMR itself.

By doing so,

[2019-02-08 19:08] kacyw commented on #1409
@bradymiller is this still an issue?

[2019-02-08 19:52] bradymiller commented on #2202
hi Ken,

I can't confirm this bug on the daily build demo:
https://www.open-emr.org/wiki/index.php/Development_Demo#Daily_Build_Development_Demos

2 things to check on your end:
After you save it, do you see anything populated in this globals setting in
the sql table (it will be encrypted, but should be something there).
Do you see anything in the php error log after you save?

thanks,
-brady

On

[2019-02-08 20:00] kacyw commented on #1350
@bradymiller Take a look at this, and let me know if it would cover this issue: https://gist.github.com/kacyw/9f73405f17f6ceef05624b522393c2a6

[2019-02-08 20:11] robertdown commented on #1983
Again, I would recommend against these kind of functions instead opting for a package like [Guzzle](http://docs.guzzlephp.org/en/stable/) as this functionality already exists and is well-tested in the Wild. By recreating the wheel we risk introducing more security flaws in an effort to actually reduce them.

[2019-02-08 20:19] kchapple commented on #2202
Thanks, will check

Ken

[2019-02-08 21:42] sjpadgett commented on #1983
Or one could use the rest http client like
`$response = oeHttp::usingBaseUri($Base)->get($uri); $file=$response->body;`
or
`$response = oeHttp::get($fileurl);`
etc
The client is easy to use but I do need to document it some. I use it with the FHIR client in the ClientAppController class in phpfhir directory. The client is set up to auto load already....

[2019-02-08 22:52] kchapple commented on #2202
Perhaps I have a permission error, or missed a package? There was this in
the log:

[08-Feb-2019 22:49:20 UTC] PHP Warning:
file_put_contents(/Users/kchapple/Dev/www/openemr/master/sites/default/documents/logs_and_misc/methods/twoa):
failed to open stream: Permission denied in
/Users/kchapple/Dev/www/openemr/master/library/crypto.php on line 284
[08-Feb-2019 22:49:20 UTC] PHP Stack trace:
[08-Feb-

[2019-02-09 00:43] bradymiller commented on #2202
hi @kchapple ,
Ensure your sites/default/documents is writable by apache, which is a requirement. Otherwise you also can't save patient documents. The key is stored there also, which is why it is likely breaking (ie. not letting you copy the key to sites/default/documents/logs_and_misc/methods/
-brady

[2019-02-09 01:10] kchapple commented on #2202
Yep, it was permissions on the directory. I was using a deployment script from 5.0.1 that didn't set permission on subdirs of the documents directory. The installer didn't catch it though. I can change the issue to reflect the actual issue, and make sure permissions work on the document directory?

[2019-02-09 07:21] bradymiller commented on #2202
Interesting. This would be a good fix for one of the new developers to take (ie. have setup check the subdirectories etc. to ensure it all has write privileges). Rec. making an issue and then we can probably find somebody to work on this.

[2019-02-09 07:34] bradymiller commented on #1350
hi @kacyw ,

To clarify this issue, this is a database issue. For example, the main pid is stored with bigint(20) field in main patient_data table:
https://github.com/openemr/openemr/blob/master/sql/database.sql#L5811

So, it can hold very large numbers. However other tables that also hold this number may not allow very large numbers. For example the foreign_id column in documents table holds pid

[2019-02-09 07:42] bradymiller commented on #1409
I don't think so, but I honestly can't figure out if it is. Per the forum thread, it appears this is a non-issue:
https://community.open-emr.org/t/same-day-multiple-encounters-patient-report-bug/9594/13

@stephenwaite , any thoughts on this?

[2019-02-09 07:42] bradymiller commented on #1409
@kacyw , forgot to mention you on above post

[2019-02-09 08:06] bradymiller commented on #2196
hi @paragonie-scott ,
This is what makes the use case wonky, though. There is no user or domain separation. The passphrase needs to be able to decrypt it on any openemr instance for an user. Perhaps there is no secure workable solution for this use case?
-brady

[2019-02-09 14:17] stephenwaite commented on #1409
guess we should try to recreate the bug to see if it addresses @vrjulas original report, @epsdky has a Fermat like comment that leaves me mystified

[2019-02-09 15:14] #2202 closed

[2019-02-09 15:17] kchapple opened #2206 "Have setup check write permissions on directories"
It would be a beneficial enhancement to have setup check required write permissions on the documents directory and it's sub-directories, as write permissions are required for saving patient documents, and encryption routines. It would also be beneficial to develop an administrative "System Health" page that would display a table of your php and openemr settings that could potentially diagnose perm

[2019-02-09 15:46] prondubuisi commented on #2141
Hello @bradymiller @danehrlich1 , Am trying to work on this issue but i have a problem
[code]
what am I supposed to compare in the If condition?
Also can you confirm that this is what the return statement is to look like?

[2019-02-09 16:09] sjpadgett commented on #2202
Maybe add it to the user debug feature.

[2019-02-09 17:06] paragonie-scott commented on #2196
The simplest solution is to store the salt with the encrypted file.

[code]

So far CipherSweet has only been concerned with database fields, but if you wanted to have an `EncryptedFile` API that implemented an `encryptWithPassword()` and `decryptWithPassword()` API, that's doable.

[2019-02-10 10:47] danehrlich1 commented on #2141
@prondubuisi All yours man.

As an additional task, once you figure out how to make escape_sql_column_name work (I know it is confusing), please put instructions in comments around the function!

[2019-02-10 10:50] danehrlich1 commented on #1983
1. @prondubuisi  Use `curl` in the few places where we `file_get_contents` actually goes out and grabs a URL (it's not that many compared to local retrievals). This will involve deleting your helper function sorry buddy :(

2. @danehrlich1 To investigate Robert's handy Symfony link and decide on best path forward for local file retrievals, of which there are TONS in the OpenEMR. Will create a sepa

[2019-02-10 10:55] danehrlich1 commented on #2206
FYI the file that is being talked about is this one: https://github.com/openemr/openemr/blob/master/setup.php

[2019-02-10 10:56] danehrlich1 commented on #2053
Looks Done

[2019-02-10 10:56] #2053 closed

[2019-02-10 11:33] prondubuisi commented on #1983
I would wait for us to reach a consensus on what is to be used. Using curl is ===  using the function [here](https://github.com/openemr/openemr/pull/2200), only that I will now have to introduce its implementation directly in every instance I want to replace file_get_contents(). Maybe I did not fully understand how you want the curl implemented. Also @robertdown @sjpadgett @bradymiller @danehrlich

[2019-02-10 13:20] sjpadgett commented on #1983
I think what Robert, Dan and me are doing here is giving options. Doesn't mean you have to decide who is right but merely what you think the best approach would be to achieve this task, then defend it if necessary.
Just remember, while cURL is safe, Guzzle is safest. Also the context file_get_content is being used has bearing. Local files will be handled different than URL gets so validation of fi

[2019-02-10 14:48] danehrlich1 opened #2207 "Understanding each directory"
documentation - DELETE
apis	- modern rest API stuff...combine with rest controllers folder?
ccdaservice - api server for ccda stuff
ccr- api server for ccr stuff
ci - travis ci stuff
cloud - DELETE
common	- modern PS4 classes
config - UNKNOWN
contrib - random stuff...has some things to delete
controllers - Smart Templating code...upgrade to Smarty 3
custom - random php files that should be brought

[2019-02-10 14:49] danehrlich1 commented on #2207
Someone asked me a good question about what each directory in OpenEMR is supposed to do. I wasn't sure. I checked the Wiki and found some good resources here and there, but nothing that just said top level Folder A does this, top level Folder B does this, etc.

Can each of us take a crack at defining in a sentence or two what each top-level folder above does? Just update the comment and we can go

[2019-02-10 16:44] danehrlich1 opened #2208 "Configure certain php.ini settings via setup.php and stuff"
1. Should this line be changed in `setup.php`? Aren't the requirements slightly higher for the version?                         `if (version_compare(PHP_VERSION, '5.2.4', '>='))`
- https://github.com/openemr/openemr/blob/121c4b9792a07fa331ee6ab4fb4d826939c825b2/setup.php#L1163

2. Line 1171 and below - PHP config:
- add additional configuration via `ini_set`. Would be setting the directives used i

[2019-02-10 17:31] paragonie-scott commented on #2196
@bradymiller https://github.com/paragonie/ciphersweet/pull/36 exposes the API I proposed above.

[2019-02-11 01:30] ardianferdianto commented on #2206
Hello sir, may i claim this issues?

[2019-02-11 06:45] bradymiller commented on #2206
hi @ardianferdianto ,
This issue is yours :)

[2019-02-11 06:52] bradymiller commented on #2196
hi @paragonie-scott ,

Would something like this work for the salts:
https://github.com/bradymiller/openemr/commit/db103c168327299faede9fcb744636c4dfe77e7e

Note sure if overkill 2 have a different salt for the cypher key and hmac.

Your library does look nice. After the 3 use cases(use key on drive, use key in database, user passphrase) are all hammered out in current library, which will be done

[2019-02-11 07:29] bradymiller commented on #2141
hi @prondubuisi ,

Note that openemr will die (ie. script will stop) if escape_sql_column_name() is false:
https://github.com/openemr/openemr/blob/master/library/formdata.inc.php#L109
https://github.com/openemr/openemr/blob/master/library/formdata.inc.php#L182
(to die makes sense)

Do note that you will need a separate call to escape_sql_column_name() for each column name in $cols.

Hope this help

[2019-02-11 08:40] bradymiller commented on #1983
hi @prondubuisi ,
Lets shoot for guzzle on the PR. Shouldn't be too tough since we already have the guzzle library available in OpenEMR. Check out my related post on the PR. -brady

[2019-02-11 09:09] bradymiller commented on #2181
Note I am jump starting this project a bit (did steps 1-2) in the following PR:
https://github.com/openemr/openemr/pull/2211

[2019-02-11 15:44] paragonie-scott commented on #2196
[bradymiller@db103c1](https://github.com/bradymiller/openemr/commit/db103c168327299faede9fcb744636c4dfe77e7e)

That's a bit overkill. I'd suggest doing something like this instead:

1. Derive a pre-key using PBKDF2.
2. Split the pre-key into two keys (encryption key, authentication key) using HMAC-SHA2 or HKDF-HMAC-SHA2.

You'll cut your performance overhead by 50% that way and get the same securi

[2019-02-11 21:12] danehrlich1 commented on #2180
@prondubuisi No this is just fixing an old pull request from a few weeks ago

[2019-02-11 21:16] danehrlich1 commented on #2161
David Vu are you still working on this?

[2019-02-11 21:54] danehrlich1 commented on #2141
@prondubuisi Good example of this function working in action: https://github.com/openemr/openemr/blob/967f25bcfaf565dd0c3a542d32257e79e432fb85/interface/billing/search_payments.php#L198

[2019-02-11 22:02] VutifulJoe commented on #2161
Hello Daniel, yes still working on this.  I just noticed there was additional instructions to get me in the general direction.  I should be able to complete it soon.

[2019-02-11 22:11] danehrlich1 commented on #2208
Button to make this optional? Especially if ppl are using say older legacy sites on their server and need some weird/old PHP settings?

display_errors = 0

If 7.1 or above:
- sid_bits_per_character = 6
- sid_length = 49

If 7.0:
- session.hash_function = SHA256
- session.hash_bits_per_character = 6

Maybe [curl.cainfo](https://secure.php.net/manual/en/curl.configuration.php#ini.curl.cainfo). I thi

[2019-02-11 23:05] bradymiller commented on #2196
hi @paragonie-scott ,
Thanks for the guidance. I think I got it using HKDF-HMAC-SHA2 (or I hope I got it at least :) ):
https://github.com/openemr/openemr/pull/2211/commits/e1cc090364b40327f23a56e7a3fa1994f417cde4

[2019-02-12 06:46] prondubuisi commented on #2141
thanks @danehrlich1 this looks more like it

[2019-02-12 23:11] danehrlich1 commented on #2180
@bradymiller Can you work on merging this? If you can do this in a day or two, I will take over the rest of the XSS fixes and knock them out.

[2019-02-13 00:31] a-mt commented on #2208
Alright, from my understanding, one can

I - get OpenEMR and use Docker to run it.
Installs and sets up everything that is needed.

II- get OpenEMR and install manually:
* Install Apache / MySQL / PHP
* Place OpenEMR in the web directory of Apache
* For developers using OpenEMR directly from the code repository: install the [dependencies](https://github.com/openemr/openemr#for-developers)
* Go to

[2019-02-13 00:42] danehrlich1 commented on #2208
Aurelie:

Extremely good and detailed write up.

1. Yes you are right about the incorrect / too low version number. I believe it should be actually 7.0 as of now.

2. Many users implementing OpenEMR will be Medical Doctors with limited technical skill. I would not necessarily expect them to be able to  move around Linux and edit files. This should be as easy/auto as possible.

[2019-02-13 18:20] prondubuisi commented on #2207
good one @danehrlich1 this issue will help new OpenEmr developers like myself find our way around the codebase.

[2019-02-13 18:34] danehrlich1 commented on #2207
What’s your email? Message me back on RocketChat

[2019-02-14 01:17] bradymiller commented on #2181
Steps 1 and 2 are completed. Here are 2 additional projects that can be now completed:

1. Encrypt/decrypt the letters module files that are stored on drive (small project)

2. Encrypt/decrypt the documents module that are stored on drive (large project)

If anybody has interest in these projects, just let me know and then I'll create an issue with more information/guidance on getting started.

[2019-02-14 01:20] bradymiller commented on #2180
hi @danehrlich1 , Getting very close! Just 3 more forms to fully secure, then will test, then will bring into codebase:
https://github.com/openemr/openemr/pull/2193
(guessing it will take a couple more days at most)

[2019-02-14 01:24] a-mt commented on #2208
Results of my digging:

PHP project easy to install: Wordpress.
It uses [`header()`](https://github.com/WordPress/WordPress/blob/master/wp-includes/class-wp.php#L399), [`ini_set() or php.ini`](https://codex.wordpress.org/Editing_wp-config.php#Configure_Error_Logging) and mostly [`.htaccess`](https://codex.wordpress.org/htaccess).
Rewrite rules can be edited via the app and they are [written in the

[2019-02-14 04:30] danehrlich1 opened #2216 "Remove Certain Files After setup.php runs"
Look at this link:
https://www.open-emr.org/wiki/index.php/Securing_OpenEMR#OpenEMR

Make sure to remove all the files it lists. See if there is a way to remove `setup.php` as well, although you will be deleting it from the file itself so that might be tricky.

[2019-02-14 04:33] danehrlich1 opened #2217 "Restrict scope of OpenEMR MySQL User"
Check out line 284 or right around there of this file where the GRANT and INSERT USER statements are called: https://github.com/openemr/openemr/blob/master/library/classes/Installer.class.php

This file is called by `setup.php` during installation. It creates the initial OpenEMR database user.

Surely this user can be restricted? Do they really need all these privileges? https://dev.mysql.com/doc/

[2019-02-14 04:35] danehrlich1 opened #2218 "Prevent SQL Issues During Installation"
Harden this file and make sure no SQL injection can occur. Parmeterize the statements using ADODB, reference other scripts for easy to find examples on how to do this.

If you see any other possible security issues, please feel free to fix!

[2019-02-14 04:39] danehrlich1 opened #2219 "Run Static Analysis on Codebase"
https://github.com/psecio/parse

Use the above tool. Let us know the results.

[2019-02-14 04:42] danehrlich1 commented on #1114
Help wanted. Feel free to drop a comment so @bradymiller can give you more context if needed. Not the easiest issue, but maybe intermediate let's say.

[2019-02-14 04:50] danehrlich1 commented on #2208
Absolutely outstanding work and incredibly detailed. I'm going to be bringing most of this into our Wiki documentation as well, will be useful for many people even in other PHP projects.

Tasks for now:
1. Set as much as possible / as you can with ini_set() in the `setup.php` file.
2. For everything else, create a bash script that does what is needed. We can provide this to our users, and tell the

[2019-02-14 13:21] danehrlich1 opened #2220 "Delete Unused Functions"
Both first-timers and OpenEMR pros welcome :)

Most IDEs have a way to check for functions that are declared but never actually called / used. Download something like PHPStorm, which has a 30 day free trial, and figure out how to use this function.

Then delete all the functions you find and submit a pull request. We'll review them, maybe there will be a couple we actually need and need to save, a

[2019-02-14 13:28] akira202 commented on #2220
I will do it ;)

[2019-02-14 13:31] danehrlich1 opened #2221 "Secure Email in OpenEMR sent via PHP"
OpenEMR uses PHPMailer to send email currently. Find where we instantiate a PHPMailer() or MyMailer() object and make sure it sends email securely. Just search for "mailer" in this repo and you should find those instances. There are maybe 30.

Also here is the MyMailer() class, which extends the PHPMailer() class. Make sure the config is properly secured. Maybe we should be adding other options? V

[2019-02-14 13:31] danehrlich1 opened #2222 "Secure Email in OpenEMR that uses SMTP"
https://github.com/openemr/openemr/blob/6cf58036a3eea3aaede3cfffc6e79110d6f1b402/library/classes/smtp/smtp.php

Look at the above file for typical vulnerabilities. SQL Injection? Any validation that should be done? Any hardening that is possible in general?

[2019-02-14 14:20] sjpadgett commented on #2220
Hmm, this can be very dangerous. First, IDE's find usage is not 100% reliable. Second, there are many occasions where a function call may be built in a variable and called via a call_user_function or soap calls.
I recm building a list first and posting here before creating a PR and then deciding.

[2019-02-14 14:23] danehrlich1 commented on #2220
AT SJPadjett everything you said is correct. Let's have them get the pull request done so they can get practice (hence first-timers-only tag) and then we'll generate the list off of that.

I'm going to cheat a little bit here and ask if you have any hints on files that you think should be looked at first (so instead of using the IDE)

[2019-02-14 15:13] sjpadgett commented on #2220
I guess PR is fine but I don't see off the top of my head how one would approach. Say you start in the library directory. Is one going to go through each source file and search each function/method and even then, if a library function is not currently used, by the inherent nature of a library, in may be in the future.
I hate to be the old fuddy duddy Dan :) But we have many work flows that get tur

[2019-02-14 15:19] jesdynf commented on #1114
It's relevant for HIPAA too, if we have a tag for that.

--
Asher Densmore-Lynn <jesdynf@gmail.com>

[2019-02-14 15:19] danehrlich1 commented on #2220
Lol good reply to the issue Jerry and you got me :)

I will close the issue later today.

Thanks a lot for your second reply. Explaining how the codebase works is really helpful for my general learning.

I guess if I need to learn future things I will post potentially highly destructive issues to bait you into replying in order to steal your knowledge that you reveal via comments :D:D

[2019-02-14 15:27] sjpadgett commented on #2220
I certainly don't try to getcha Dan because I can appreciate what you are trying to do. Keep up the good work.

[2019-02-14 19:55] bradymiller commented on #2220
hi all,
We definitely have unused functions(even likely a library or 2) that merit
removing. So, making a list or a PR that removes them should be harmless.
Before removing them, we would definitely do our own checking first (via
grep or grep like function).

On Thu, Feb 14, 2019 at 7:27 AM Jerry Padgett <notifications@github.com>
wrote:

[2019-02-14 20:20] sjpadgett commented on #2220
Unused libraries and/or dependencies would be easy enough to find but individual functions, not do much... Remember what I said about how functions can be called where it is not readily obvious.

[2019-02-14 20:24] paragonie-scott commented on #2196
CipherSweet v1.9.0 [has been released](https://github.com/paragonie/ciphersweet/releases/tag/v1.9.0) which includes the password-based file encryption/decryption.

Worth noting: our design [mitigates race conditions](https://github.com/paragonie/ciphersweet/blob/master/docs/internals/05-file-encryption.md#race-conditions) (e.g. the sort of attack that might be exploitable by cloud file providers i

[2019-02-14 22:41] sjpadgett commented on #2220
@danehrlich1 Brady thinks this is worthwhile doing and would be good practice for newer contributors so please don't let me stop this.

[2019-02-15 00:13] a-mt commented on #2208
Sorry, still trying to figure out what to do and how to do it :)
Please tell me if I got it right:

The app currently uses the following configuration files:

* `sites/SITE_ID/sqlconf.php`:
  MySQL credentials. Generated during setup.

* `sites/SITE_ID/config.php`:
  contains various configs such as bank id, logo location, etc.
  Its content can be edited via the app: Administration > Files > conf

[2019-02-15 00:42] prondubuisi commented on #2181
@bradymiller  I would love to work on this, you can create the issue with more information/guidance on getting started

[2019-02-15 01:06] danehrlich1 commented on #2181
@bradymiller Can you provide @prondubuisi with links to the "patient letters module" and the "patient documents module". I don't even know where these are in the codebase sadly.

Also please provide a link to the proof of concept file you did.

[2019-02-15 01:13] danehrlich1 commented on #2208
Tasks:

1. Please write `ini_set()` commands in [setup.php](https://github.com/openemr/openemr/blob/master/setup.php).

2. Please write a bash script that edits the things `ini_set()` can't set. Post the script as a comment on this thread. We will then decide where to host it / put it later.

Feel free to call me or chat me on RocketChat (chat.open-emr.org) if you have any questions.

[2019-02-15 04:44] bradymiller commented on #2181
hi @prondubuisi and @danehrlich1 ,

For proof of concept, see the current example where doing encryption of the billing log that is stored on drive.
The encryption is here: https://github.com/openemr/openemr/blob/master/interface/billing/billing_process.php#L310-L315
And the decryptions are here:
https://github.com/openemr/openemr/blob/master/interface/billing/billing_process.php#L158-L161
https:/

[2019-02-15 05:07] bradymiller commented on #2141
foundation and proof of concept for this has been brought into codebase (still need to carry through rest of  codebase):
https://github.com/openemr/openemr/pull/2215
thank you @prondubuisi !

[2019-02-15 05:24] prondubuisi commented on #2141
on it @bradymiller

[2019-02-15 09:02] bradymiller commented on #2208
btw, An easy no brainer todo to get in a PR is to yank the outdated version_compare call in setup.php. Since we mandate PHP 7.1 or greater, can just remove that if version_compare line and always run the block of code within it. And if looking for bash scripts that change settings etc check out this related script in the ubuntu/debian openemr package for examples:
https://github.com/openemr/openem

[2019-02-15 10:38] a-mt commented on #2208
I understand less and less what you're trying to achieve.
I think there might be a few misunderstandings along the way

1. The effect of `ini_set`.
   Sets the configs at runtime, it won't actually change the values stored in the configuration files.

   If we call it in setup.php, it will only change the configs for the current request. I think this is not what we're going for. Other pages would

[2019-02-15 18:53] danehrlich1 commented on #2208
1. The effect of `ini_set`
- You are 100% correct here and this is my mistake. We will not be using ini_set moving forward.

3. Let's do this:
- Create Bash Script for Ubuntu and one for RHEL (assume Apache 2.4 and PHP 7.1+ for now) @a-mt
- For MAMP and XAMP you could do screenshots showing the correct settings to set? @a-mt
- For Windows, maybe a Powershell PS1 script? Maybe there is an easier/ m

[2019-02-15 20:15] danehrlich1 commented on #2208
@a-mt Also check out this other repo: https://github.com/openemr/docker-madness/issues

Its original purpose was to create a highly secure Docker container running OpenEMR.

Now it is more used a testing ground for security configurations before merging into our main openemr-devops repo.

Anyway look at the issues later and see, since you are more of a backend person, if anything interests you.

[2019-02-16 01:14] a-mt commented on #2208
Makes sense. My current todolist:

1. Create Bash script to set configs in httpd.conf + php.ini
   Should support: Ubuntu and RHEL with Apache 2.4 / PHP>=7.1
   I will post the script as a comment on this thread.

2. I'm not super familiar with Mac nor Windows (team Linux) but I will try to find out resources that explains how to run Apache for them / how to edit the configs and redact a synthesis

[2019-02-16 13:56] prondubuisi opened #2228 "Sql escape column names special cases"
The [escape_sql_column_name](https://github.com/openemr/openemr/blob/master/library/formdata.inc.php#L96) function does not cover some use cases, I will be dropping them here for ideas on how to get them covered @bradymiller

[2019-02-16 14:09] prondubuisi commented on #2228
[First case ](https://github.com/openemr/openemr/blob/master/common/logging/EventAuditLogger.php#L215

[2019-02-16 14:59] arpitgoyal2008 opened #2230 "Cant use REST APIs when using .deb to install openemr"

[2019-02-16 15:58] sjpadgett commented on #2230
@arpitgoyal2008
 Hmm, no clue what this means!

[2019-02-17 04:17] bradymiller commented on #2228
Could consider:
When looping through the items in the array, explode each item by a space delimiter.
If only one subitem, then just proceed.
If two subitems, and DISTINCT is first subitem, then check it by doing escape_sql_column_name on the second subitem

[2019-02-17 11:58] arpitgoyal2008 commented on #2230
Hi,
I am using openemr-php7_5.0.1-4_all.deb on https://www.open-emr.org/wiki/index.php/OpenEMR_Downloads
Looks like APIs are not bundled with this image.

[2019-02-17 12:01] arpitgoyal2008 opened #2231 "Issues while using REST APIs"
Hi,
I have compiled source code and conifgured openEMR using setup.php. My system details are following:
Distributor ID:	Ubuntu
Description:	Ubuntu 18.04.1 LTS
Release:	18.04
Codename:	bionic

I have also enabled REST API by going to Administration -> Globals -> Connectors --> Enable OpenEMR REST API

But, while calling

curl -X POST \
  http://{{url}}/apis/api/auth \
  -H 'Cache-Control: no-cache

[2019-02-17 12:04] arpitgoyal2008 commented on #2231
This got solved by giving correct user credentials.

[2019-02-17 12:04] #2231 closed

[2019-02-17 15:53] bradymiller commented on #2230
hi @arpitgoyal2008 ,
API is not in OpenEMR 5.0.1 . It's currently in the development version of OpenEMR and will be in OpenEMR 5.0.2 (likely to be released in several months).

[2019-02-18 12:14] danehrlich1 commented on #2208
@a-mt You can see the 8 security headers at the bottom of this file btw: https://github.com/danehrlich1/very-secure-apache/blob/master/apache2.conf

[2019-02-18 19:28] efleisc commented on #2156
rxnav.nlm.nih.gov is definitely the best source for the drug lookup as it is very complete, monthly updated and the REST API is fast and reliable.

We changed the RXList.class.php code to support RXNAV, and it is working great.  Just replace your RXList.class.php code with the php below and then when you search for any drug you will get a list with these elements:
DisplayName == (Synonym / rxcui).

[2019-02-18 21:34] bradymiller commented on #2180
@danehrlich1 , just committed this to the codebase. Thanks for doing this! -brady

[2019-02-18 21:34] #2180 closed

[2019-02-19 01:43] a-mt commented on #2208
## Script

* <ins>Bash</ins>: [config_openemr.sh](https://gist.github.com/a-mt/4a96e90be3588f1d5b50ad9486b21699)
  Should support: Lamp (Apache HTTPD 2.0, Debian/Ubuntu, Alpine, Fedora/CentOS/RHEL)

  A .sh script can be executed from
  * the Command Line Interface: `sh script.sh`
  * the Graphical User Interface: by double-clicking on it — if it has execution rights (`chmod. +x script.sh`)

* <in

[2019-02-19 01:59] danehrlich1 commented on #2208
@a-mt Please look at this page for the Linux dependencies (Debian): https://www.open-emr.org/wiki/index.php/OpenEMR_System_Architecture#Ubuntu_16.04_and_Mint_18_and_Debian_9_and_greater_versions_.28PHP7.29_.28With_MySQL_or_MariaDB.29

Does that help?

Sorry I'm not sure about the fax issue specifically.

[2019-02-19 06:25] prondubuisi commented on #2181
Hello @bradymiller I am working on this but I can't see any new letters in the folder, am guessing its ubuntu permission errors, How can i turn on error reporting, I installed Openemr using docker and I see plenty php.ini files for different PHP version folders in the dockers folder

[2019-02-19 07:18] bradymiller commented on #2181
hi @prondubuisi , very nice to see you working on this. pretty excited about this issue. Within the docker, the log will be at /var/log/apache2/error.log . Let us know if you need guidance on how to get into the docker. -brady

[2019-02-19 07:39] prondubuisi commented on #2181
@bradmiller I can't see any /var folder, at least not in the root directory. How do I access it?

[2019-02-19 08:01] bradymiller commented on #2181
what do you see when do:
[code]

[2019-02-19 08:50] bradymiller commented on #2181
@prondubuisi , forgot to flag you on my post above

[2019-02-19 09:27] prondubuisi commented on #2181
okay @bradymiller this is what I see from the command https://pastebin.com/M191WDvc

[2019-02-19 15:26] bradymiller commented on #2181
hi @prondubuisi ,
To go into the docker, try:
[code]
then in the docker, try:
[code]

[2019-02-20 05:51] bradymiller commented on #1587
The 7th patch for OpenEMR 5.0.1 has been released and includes numerous bug fixes and improvements:
https://www.open-emr.org/wiki/index.php/OpenEMR_Patches

Kudos to Jerry (@sjpadgett) for both building this patch and providing almost all the fixes and improvements in the patch!!

The patch includes the following new fixes:
*Allow individual portal features ledger, secure chat and appointments dis

[2019-02-20 12:55] prondubuisi commented on #2218
@danehrlich1 which file are you talking about D:

[2019-02-20 13:01] prondubuisi commented on #2217
@bradymiller Am guessing the first timer only tag means that pull request from non first timers won't be accepted Right?

[2019-02-20 21:51] danehrlich1 commented on #2217
@prondubuisi No! Feel free to start on this issue. I just put that tag on there to show that it was an easier than normal tag.

I'm taking it off :)

[2019-02-20 21:52] danehrlich1 commented on #2218
Wow sorry @prondubuisi

This file and I believe specifically this line: https://github.com/openemr/openemr/blob/1c0511561b5d408ee52538200fe9d9fccd6406b7/library/classes/Installer.class.php#L234

ADDITIONAL TASK: make sure this file is hardened against SQL injection. Should be just a few lines here and there.

Thanks :)

[2019-02-20 22:21] bradymiller commented on #2181
just placed PR proof of concept for encryption of patient documents here:
https://github.com/openemr/openemr/pull/2238

@prondubuisi , let me know if need more guidance on the letters stuff

[2019-02-21 04:33] prondubuisi commented on #2219
@danehrlich1 I have problems installing the https://github.com/psecio/parse package, this is the error when I try to install it on the project folder
https://pastebin.com/avBjYUx8

on the other hand after installing it globally, on running `psecio-parse` I get this is not a command

[2019-02-21 07:38] bradymiller commented on #2219
hi @prondubuisi ,
Agree with the global install. Note that in that case, you may need to include the full path to the psecio-parse call (ie. something like /home/username/.composer/vendor/bin/psecio-parse)

[2019-02-21 11:19] prondubuisi commented on #2219
Thanks @bradymiller that works https://pastebin.com/TXVfRMUv
Unfortunately am not able to scroll to the top of my Terminal. Any tips, the error log is just part of the original

[2019-02-22 23:50] a-mt commented on #2208
Hum looks like I did something wrong there. Please ignore the extra commit references :).

1. I documented the manual installation on Confluence.
    I assumed the user wants to install the latest version of OpenEMR.

    I still have to add the actual command line instructions to run for specific OS/distros. As for the security part and other types of install, I would rather let someone with actu

[2019-02-23 02:41] bradymiller opened #2242 "file upload whitelisting. have this setting on by default with good default configuration"
This is an important setting we need to have on and properly configured by default:
https://www.open-emr.org/wiki/index.php/Administration_Globals#Secure_Upload_Files_with_White_List

[2019-02-24 20:27] bradymiller commented on #2181
document module now supports encryption on drive: https://github.com/openemr/openemr/commit/a960ad8867dc0b6f23aa1a9fe323b06403e1ffb9

[2019-02-25 01:18] bradymiller commented on #2242
https://github.com/openemr/openemr/pull/2244

[2019-02-25 17:31] danehrlich1 opened #2247 "Replace HTTP links with HTTPS when possible"
There are quite a few http links throughout the codebase. Some have to stay that way, but many can be shifted to https.

Good example is [this file](https://github.com/openemr/openemr/blob/master/library/globals.inc.php).
- [This line](https://github.com/openemr/openemr/blob/c5649fd9a9dc61b5bf1908f9cafd00c0cb426512/library/globals.inc.php#L616) has to stay http. If it's shifted to https, the link

[2019-02-25 17:45] danehrlich1 commented on #2208
@a-mt

1. Hey your stuff on Confluence looks beautiful. Like it is breathtaking compared to [current wiki](https://www.open-emr.org/wiki/index.php/OpenEMR_Wiki_Home_Page) that's been around for a while.
1a. Going to go through it later today for English edits and other stuff,. I also have some other people who will be adding to the AWS section. I'll be taking the Google Cloud/GCP section since tha

[2019-02-25 22:08] cmccrea23 commented on #2220
Can I work on this?

[2019-02-25 22:25] danehrlich1 commented on #2220
All yours.

Going off of your Github profile, are you an FCC student? We’ve had some good work from ppl who’ve started there.

Let us know if you need help on this issue. There is more good stuff to work on we can give you later that will really prepare you professionally (assuming that is your goal).

 Thanks.

[2019-02-25 22:53] prondubuisi commented on #2181
@bradymiller Frankly am completely lost with how to get started with this task. I am willing to follow through if I get any directives
 though

[2019-02-26 00:11] marieram commented on #2247
Can I work on this ?

[2019-02-26 00:19] danehrlich1 commented on #2247
All yours. I’ll reserve it for you for a week.

Sent from my iPhone

[2019-02-26 05:12] #2242 closed

[2019-02-27 06:50] bradymiller commented on #2181
hi @prondubuisi ,
Yep, looked through that script and is complicated. Let me see if can provide more specific directives; there's a risk I may end up completing it while figuring it out :) (don't worry, though, there are more places where we will need to support encrypt/decrypt on the drive :) ) -brady

[2019-02-27 08:48] bradymiller commented on #2181
yep, ended up being complicated but at the same time just requiring a couple lines of code. Here's the code:
https://github.com/openemr/openemr/issues/2181
I'm gonna start to list of other miscellaneous stuff on the top post in this PR to track progress. Guessing there will be up to 10 items or so to do that folks will be able to work on.

[2019-02-27 09:15] bradymiller opened #2252 "Migrate the patient portal report to use Mpdf"
The patient portal reporting script is using an old version of the reporting script in main OpenEMR(which uses Mpdf). Goal is to update the patient portal reporting script to look like the main OpenEMR script.

reporting script in patient portal is:
portal/report/portal_custom_report.php

reporting script in main OpenEMR is:
interface/patient_file/report/custom_report.php

[2019-02-27 21:30] bradymiller commented on #2206
hi @ardianferdianto , Just checking how things are going on this issue? -brady

[2019-02-27 21:42] bradymiller commented on #2181
In terms of security of things stored on drive, also several related projects that are important:

1. Folding all the writable directories in documents directory, which would make installation and security of openemr marked improved(also opens the door to support placing the data stored on drive to be migrated outside the web directory):
https://github.com/openemr/openemr/issues/572
https://github

[2019-02-28 04:52] #2247 closed

[2019-02-28 15:39] simo94445 commented on #2221
I'd like to contribute, is this issue still open?

[2019-02-28 15:55] cmccrea23 commented on #2220
I am! I'll work on this today and let you know if I run into any issues. Would love to do more work if this goes well, thanks for offering!

[2019-02-28 16:23] danehrlich1 commented on #2221
Yes it is. I can reserve it for you for a week. Let us know if you need any help and it’s all yours now.

[2019-02-28 18:58] cmccrea23 commented on #2220
Do you want me to remove functions that are commented out?

[2019-02-28 23:35] efleisc commented on #2156
The link above expired. Here is a new one:
https://pastebin.com/gh9GhEqs

Again just copy and paste the file above and replace the contents of /library/classes/RXList.class.php

[2019-03-01 00:33] sjpadgett commented on #2156
@bradymiller Can we assign this to one of our eager new dev's. Sounds like @efleisc may have a handle on this. I'd do it but lack time however, i'll keep an eye on the integration PR.

[2019-03-01 06:33] bradymiller commented on #2156
hi @sjpadgett and @efleisc ,

I posted he code on this PR:
https://github.com/openemr/openemr/pull/2255

Plan to test it soon.

Also, @efleisc , let me know what username and email you want me to use for the commit author. thanks, -brady

[2019-03-01 08:54] bradymiller commented on #2206
Reassigning this issue to @MERCY-VIYOLA

[2019-03-01 08:59] bradymiller commented on #2181
PR for "Folding all the writable directories into the documents directory" is here: https://github.com/openemr/openemr/pull/2254

[2019-03-01 14:51] simo94445 commented on #2221
I've audited the code and found that every instance of PHPMailer() and MyMailer() has proper validation checks, that it reads from and stores passwords as salted hashes which is secure, and I have but one concern. The function generatePassword() can't be good security. In account.lib.php it's clear that the length of the password is 8, and the pattern is easily readable, which could be used to rat

[2019-03-01 23:28] danehrlich1 commented on #2221
Yes absolutely and I think this idea is great.

#1. Can you include a link to Bitwarden (OS Password Manager) to encourage use of password managers?

#2. The user probably won’t create a good password either. Is there a library you could find that can generate 12+ character passwords that are memorable? Maybe a combo of random words + numbers/symbols? You could have a button that says “generate se

[2019-03-02 08:41] bradymiller commented on #2156
just brought the fix by @efleisc into the codebase. thanks @efleisc !

[2019-03-02 08:41] #2156 closed

[2019-03-02 14:10] sjpadgett commented on #2156
@bradymiller lol, well I did keep an eye on the PR as promised! Thanks for doing this it was sorely needed.
Thanks @efleisc also.

[2019-03-02 17:15] efleisc commented on #2156
No worries. I am glad it helps!

[2019-03-03 19:36] stephenwaite opened #2258 "Administration->Rules Hypertension Rule Detail Demographics Filter Criteria misaligned due to style_light .9em setting"
not sure which inherited css rule it's picking up but the other themes do not have this prob

[2019-03-03 19:58] stephenwaite commented on #2258
also looks like the rules need ICD 10 added and ICD 9 removed

[2019-03-03 21:09] simo94445 commented on #2221
I suggest keeping away from automatically creating passwords based on wordlists and random symbols, because if someone has access to the wordlist and knows how the passwords are created, as in this case with Open-Source software, it would be easy to bruteforce. My suggestion is having a button that says "generate secure password", that prompts the user to pick 6 different words with >n length, tha

[2019-03-04 15:37] ophthal opened #2259 "Dlgopen Eye Form Fix"
The issue:  dialog box does not include the "Close" icon in Frames modes.
By defining a "Title", the issue is resolved.  PR submitted.

[2019-03-05 00:30] MERCY-VIYOLA commented on #2206
hi @bradymiller,
Could you help validate my understanding of this requirement?
I am supposed to add write permissions to the file [https://github.com/openemr/openemr/blob/master/setup.php]

[2019-03-05 07:13] bradymiller commented on #2206
hi @MERCY-VIYOLA ,

We are just checking to ensure the documents directory and all of its subdirectories have write access in the setup.php script (via the is_writable() php function). Right now, we are only checking the documents directory (and no the subdirectories):
https://github.com/openemr/openemr/blob/master/setup.php#L154
https://github.com/openemr/openemr/blob/master/setup.php#L165
https:

[2019-03-05 18:30] cmccrea23 commented on #2220
@danehrlich1 I'm finding several 'reports' files in forms that declare a function and never use it. Do you want me to just delete that function or the entire file? Or are these being used by an outside program I can't see?

[2019-03-05 18:43] danehrlich1 commented on #2220
Claire, yes go ahead and delete it / be aggressive. Most likely they aren’t being used
by an outside program.

When you turn in the pull request, the more senior devs here might be able to tell things that should have been left in, but there is really no way to know until you submit.

Are you using any tools to go through the source code? I don’t have my MacBook in front of me but I believe PHPSto

[2019-03-05 18:49] cmccrea23 commented on #2220
Sounds good. I'm using the PHP IntelliSense extension with VSCode, I can try PHPStorm if that's what you recommend.

I've also found instances where setter functions aren't being used but the getters are-- should I still delete the unused setters? And what would you like me to do re: typos?

[2019-03-06 09:40] bradymiller commented on #1983
done here: https://github.com/openemr/openemr/pull/2263

[2019-03-06 09:40] #1983 closed

[2019-03-06 13:40] danehrlich1 commented on #2220
1. As long as you have an IDE that has some code analysis functions you are good to go. VSCode is starting to get really popular so definitely stick with that.

2. Can you list a couple of files where getters are used but setters aren’t? First instinct was to keep as is, but for security reasons deleting the setters is tempting. Let me think.

3. I saw above you’ve actually found WHOLE FILES that

[2019-03-06 16:37] bradymiller commented on #2220
hi @danehrlich1 and @cmccrea23 ,
Sounds good except I would rec not touching the getters/setters.
-brady

[2019-03-06 17:22] cmccrea23 commented on #2220
I tried phpStorm, and you were definitely right-- it does a phenomenal job finding unused things. I'll give them both a run through, but phpStorm seems to find the bulk of things very quickly.

Under contrib/forms/evaluation/FormEvaluation.class.php I found several setters that were unused, examples: set_activity, set_date, set_temp, etc... I've deleted some already but will put them back now :)

[2019-03-06 17:30] danehrlich1 commented on #2220
Definitely fix the typos, that is a great find.

It’s very important the spelling is right (or at least just consistent) because if in the future we are using ctrl+f to find something in the codebase we are going to miss some instances of the word/phrase otherwise.

Make sure though that later something doesn’t in turn call that misspelled variable, function, etc (and if so you can just fix both)

[2019-03-06 19:05] danehrlich1 commented on #2221
Sorry I thought I responded to this earlier.

Yes this sounds ideal. Write the code, put in the pull request, and just make sure to reference this issue we are currently on now.

[2019-03-06 23:06] alejosv commented on #2222
IMHO this could be replaced for the package PHPMailer included in the composer.json

https://github.com/openemr/openemr/blob/ed406bc30550237ed5a24d1aad9c858f2942e566/composer.json#L24

Review where openEMR use this class, just I finded into `modules/sms_email_reminder/cron_functions.php` to send mails via cronjob. From line 76 until 143 can be replace through `PHPMailer`.

https://github.com/opene

[2019-03-06 23:23] danehrlich1 commented on #2222
This seems like an excellent idea and would also make the code simpler/easier to read.

Do you want to put in a pull request for this?

[2019-03-06 23:46] alejosv commented on #2035
Why in some place they using  `sqlStatement` function and in other place `sqlQuery` function?

[2019-03-06 23:59] alejosv commented on #1820
The report link is broken

[2019-03-07 00:19] alejosv commented on #2222
@danehrlich1  I'm going to prepare a PR to replace this. The tasks would be:

* [ ] Modify the cron_SendMail function to use PHPMailer.
* [ ] Delete smtp class

[2019-03-07 18:53] alejosv commented on #2222
@danehrlich1 I see that openEHR uses `mail` function native of PHP. This function has many vulnerability reports among others.

- Pwning PHP mail() function For Fun And RCE](https://exploitbox.io/paper/Pwning-PHP-Mail-Function-For-Fun-And-RCE.html)
- [Why mail() is dangerous in PHP](https://blog.ripstech.com/2017/why-mail-is-dangerous-in-php/)

Even so, openEHR will keep the use of this function?

[2019-03-08 02:10] danehrlich1 commented on #2222
Can this be replaced with a Symfony package?

I think we are already using one elsewhere in the codebase for mail, and long term the goal is to standardize our PHP usage on Symfony as much as possible.

[2019-03-08 08:19] danehrlich1 commented on #2207
Updated this...will make a documentation thing out of it later

[2019-03-08 08:19] #2207 closed

[2019-03-08 09:24] bradymiller commented on #1820
interesting. it looks like the entire http://insecurity.sh/ (Project Insecurity:https://en.wikipedia.org/wiki/MLT_(hacktivist)#Project_Insecurity) website has gone away...

[2019-03-08 09:27] bradymiller commented on #2035
hi @alejosv ,

sqlStatement:
https://github.com/openemr/openemr/blob/master/library/sql.inc#L99
(this will return the recordset results handle for the entire query)

sqlQuery:
https://github.com/openemr/openemr/blob/master/library/sql.inc#L265
(this just returns one row in array form, so this is only specifically used when just collecting one row)

[2019-03-10 21:02] bradymiller commented on #1350
completed

[2019-03-10 21:02] #1350 closed

[2019-03-10 21:03] bradymiller commented on #572
completed:
https://github.com/openemr/openemr/commit/5b051518518a5818d3d92d49316aa181f49d6457

[2019-03-10 21:03] #572 closed

[2019-03-10 21:05] bradymiller commented on #2206
completed
https://github.com/openemr/openemr/pull/2273

[2019-03-10 21:05] #2206 closed

[2019-03-11 08:02] bradymiller opened #2274 "Fix PHP warnings"
This issue can be taken by several devs.

Steps:
1. Get OpenEMR dev environment up and running with PHP 7.2 (PHP 7.3 would be extra credit).
2. Systematically go through as many of the OpenEMR scripts as can possible go through while monitoring the php error log.
3. Fix the PHP Warnings and PHP Deprecated warnings in the php error log.

Recommend just fixing a couple warnings (even fixing just 1 i

[2019-03-12 08:32] bradymiller opened #2277 "Create patient uuid mechanism"
This is an issue of moderate difficulty that will require some knowledge of PHP and mysql.

See here for explanation of UUID: https://en.wikipedia.org/wiki/Universally_unique_identifier .
Patient uuid's are going to be needed for FHIR support for interoperability.

Goal:
Create patient uuid mechanism.

This project will have 3 steps to complete:
1. Figure out format of the version 4 uuid
2. Create

[2019-03-12 17:30] JoppeDC commented on #2274
Taking a shot at this one! Wish me luck 😅

[2019-03-12 17:51] sjpadgett commented on #2274
Wouldn't hurt to also fix PHP notices. Sometimes they are little sneaky troublemakers :)

[2019-03-12 17:51] JoppeDC commented on #2274
Have to get it setup locally first 😅 followed the `CONTRIBUTING.md` but doesn't seem to be 100% correct

[2019-03-12 19:13] prondubuisi commented on #2277
Wanted to mention Ramseys package but you got that covered.

[2019-03-12 23:13] danehrlich1 commented on #2277
There a few people I know who might be able to do this end to end and willing to pitch in. Do you have an idea Brady for how long it should take in hours a developer to do? Assume default PHP developer.

[2019-03-13 14:35] stephenwaite opened #2280 "manage yearly code updates"
from the forum:
https://community.open-emr.org/t/icd-10-2019-unsupported-database-load-file/11554/21

thinking that a patch might be able to handle the md5sum inserts into the table and would then just need to allow user to move files in and out of the contrib directory with a gui?

[2019-03-13 14:43] danehrlich1 commented on #2280
Jerry:

Can you write out in a little more detail what your idea would do? Maybe a few lines of pseudo code?

I was working with Scott Arciszewski to do auto updates over the internet for OpenEMR source code (quite tricky) but I think this is a totally separate issue...if not we could also use the interface being designed for that for this?

[2019-03-13 15:38] sjpadgett commented on #2280
md5sum and file integrity is really a user responsibility during/after download so that requirement could go away imo. The reason this interface is the way it is, is because there is licensing involved especially for rxnorm and snomeds(U.S free but not International).

@danehrlich1 "Maybe a few lines of pseudo code?"
hmm, I've train many budding engineers over the years and one thing that will do

[2019-03-14 05:32] bradymiller commented on #2280
hi @stephenwaite , @danehrlich1 , an @sjpadgett ,

When we wrote this in the past, in order to make things simple, we required that only the version that was getting imported could be in the directory (so users need to add the new and delete the old), but we don't need to do this.

The thing that likely needs to be fixed in codebase  is to allow more than one version of icd10 to sit in the directo

[2019-03-14 06:50] bradymiller commented on #2277
hi @d3sandoval , Probably 15-20 hours or so.

[2019-03-14 06:50] bradymiller commented on #2277
oops, sorry @d3sandoval , above post was meant for @danehrlich1

[2019-03-14 11:25] stephenwaite commented on #2280
sounds good, could we include the md5sums without infringing on licensing?

[2019-03-14 14:56] sjpadgett opened #2283 "Encounter Claims, what is it?"
For some unknown reason Office Ally uses two different Insurance Payer Ids between eligibility and 835/837 billing! I want to use the alt_cms_id ie CMS ID/Payer id For Encounter Claims. I can't find anywhere in code it is used. Anyone know why/what/how as enquiring minds need to know. Perhaps @stephenwaite

I truly don't want to do an additional field in insurance using the unused table column ins

[2019-03-14 17:59] stephenwaite commented on #2283
hi @sjpadgett , it was waiting patiently all this time for you to come along and complete eligibility to that weirdoffice ally :)

[2019-03-14 18:12] sjpadgett commented on #2283
Finally have working well on a 501 production and tested on 502 so,  i'm about done and will post up final version. Not sure about 501 patch but will give up with caveat that composer may need to be run at command line. Can't seem to get class autoload to work in a patch ... yet:)
Once I get 501 patch maybe you could test the batch against VT Medicaid so I can make adjustment there if needed.

[2019-03-14 20:58] stephenwaite opened #2285 "cascading comments on hover over past appointments widget"
as you go down through past appointments the previous comment is appended while hovering

[2019-03-15 05:21] #1535 closed

[2019-03-16 05:00] #2283 closed

[2019-03-17 17:34] cmccrea23 commented on #2274
I'll jump in on this as well!

[2019-03-17 23:28] stephenwaite commented on #2258
having trouble reproducing

[2019-03-17 23:40] stephenwaite commented on #2258
![Untitled](https://user-images.githubusercontent.com/5618372/54499826-78579c00-48ec-11e9-84af-75269aab68a5.png)

[2019-03-18 09:42] kamaleshSRI opened #2290 "Popup window is not generated for edit the existed event when configure at Calendar both Admin Portal"
Demo openemr 5.0.1
1.Click on Login button
Test procedure :
1. Click on Calendar
2. Initially create any one provider schedule
3. Click on Search appointment icon
4. Set the particular fields
5. Click on submit button
6. Click on any one resulted event
Actual result :
Popup window not generated
Expected result :
Popup window should be generated

If set tab navigation its working but frame navigati

[2019-03-18 15:15] sjpadgett commented on #2290
@kamaleshSRI
 whats Admin Portal?

[2019-03-18 15:21] sjpadgett opened #2292 "Billing Manager x12 partner not set to insurance x12 partner for default."
Got to be a pain for billing folks to have to select partner for each claim. I'll get to eventually but if someone else is in billing_report.php. Take a look.....

[2019-03-18 16:09] sjpadgett opened #2293 "Need help fixing bugs and enhancements."
I beg some of our dev's pitching in and fixing bugs. They present a poor opinion by users for an otherwise great application.
- We need to decide if we will continue to support frames! Time is coming when the frame tag will no longer be supported by browsers. Plus as more development occurs, we're not testing and allowing for the framed feature. It's popular with our long standing users but time i

[2019-03-19 01:56] danehrlich1 commented on #2293
1. We should not support iFrames. We need to get rid of them. I am more than happy to help  / take point. How can I contribute to that @sjpadgett? I will make it a big big priority, and can turn it around in a few weeks if you have a plan / project scope I can follow.

2. Can you break out the other things you mentioned into separate issues with a paragraph of instructions for each? Maybe start wi

[2019-03-19 02:24] sjpadgett commented on #2293
Hi @danehrlich1 Thanks for replying.
Note that the frames i'm talking about is the html frameset and frame tags that have been around since html started but is not supported any longer with html5. They have been depreciate for awhile.
Also note I don't see a problem with iframes and maybe ES6 can aid you if you were to take on iframes but remember, our tabs interface is based largely on iframes.
S

[2019-03-19 02:50] danehrlich1 commented on #2293
Jerry:

Ok got it. Thought you were talking about iframes so got super excited, but the other old stuff is cool to remove too and I will look into it

Yes I don’t see a way out of iFrames at all, but if you ever see one, let me know.

Sent from my iPhone

[2019-03-19 04:19] kamaleshSRI commented on #2290
URL for verification:
![CALENDAR PAGE](https://user-images.githubusercontent.com/47585495/54580035-3fbedc00-4a2c-11e9-82a8-65c6740621f3.png)
![POPUP WINDOW](https://user-images.githubusercontent.com/47585495/54580042-48171700-4a2c-11e9-92c0-b6378c090966.png)

https://demo.openemr.io/c/openemr/interface/login/login.php?site=default

[2019-03-19 11:20] sjpadgett commented on #2290
yep, verified. The search was missed in 501 upgrade for dialogs. Can fix, just not sure how soon. For sure for patch 8.

[2019-03-19 15:44] prondubuisi commented on #2277
Hello @bradymiller do you have any issues using https://github.com/ramsey/uuid for this?

[2019-03-19 16:41] sjpadgett commented on #2277
Nice class however I don't see a need for namespace's which could be useful
for parsing but generally you know what namespace you're using in a parse
engine anyway.
All we need imo is a single version 4 (and maybe include v5) unique id. Can
use the new random generations Brady has put in code base recently. Maybe
allow for a 64 and 128 bit UUID. I'd also create a guid function that calls
the uuid

[2019-03-19 17:27] stephenwaite commented on #2258
which comes from https://github.com/openemr/openemr/blob/master/interface/themes/core/text.scss#L4, so maybe should be focusing on the rules view script, https://github.com/openemr/openemr/blob/master/interface/super/rules/controllers/detail/view/view.php

[2019-03-19 21:58] sjpadgett commented on #2290
@kamaleshSRI Okay this is resolved. Dis a quick patch for 501 if ya need it. unzip in openemr root
[calendar-dialog-fix.zip](https://github.com/openemr/openemr/files/2985719/calendar-dialog-fix.zip)

[2019-03-19 22:01] #2290 closed

[2019-03-20 04:02] kamaleshSRI commented on #2290
Thanks for your valuable suggestions...

[2019-03-20 06:50] prondubuisi commented on #2277
okay @sjpadgett I will look into your reccomendations

[2019-03-20 10:05] bradymiller commented on #2277
hi @prondubuisi ,
If you take this project on, then decision for this is ultimately yours. There's really no wrong choice here since it would be simple to change the underlying UUID/GUID creation mechanism in future, if needed. Even if we don't use the ramsey library, it provides a really nice example of an algorithm for building the version 4 UUID's.

[2019-03-20 15:39] sjpadgett opened #2301 "Limit main menus tree length"
Need to create some sub menus in our longer menu trees. Main reason is for portable devices.
Be careful for menu items that menu paths are well documented and pick the lesser used items to throw into another menu tree.

Test as admin privileges.

[2019-03-21 18:38] avanss opened #2305 "New AI Agent - Create API User"
We have integrated our AI scheduling system to OpenEMR. Patients can schedule, reschedule, cancel appointments and get reminders texting or talking to our AI agent. Here you can see more details: https://vimeo.com/323285022  (appointments will just show up as regular appointments on OpenEmr calendar)

We are using OpenEMR API to access the system. The API can use a regular user, but for security r

[2019-03-22 03:49] cmccrea23 opened #2307 "Move images/ under public/"
1. Search codebase to see if even used
a. If not used, delete it
b. If used, then migrate it to public/images and
-change to corresponding path to where it is used (with the goal of using the either one of these variables for the path if possible (note: would not be able to use this if the path is in a styling only script): https://github.com/openemr/openemr/blob/master/interface/globals.php#L194-

[2019-03-22 04:11] sjpadgett opened #2308 "Ya can't do this!"
In installer class this was done:
public function insert_globals()
    {
        if (!(function_exists('xl'))) {
            function xl($s)
            {
                return $s;
            }
        } else {
            $GLOBALS['temp_skip_translations'] = true;
        }
Note the global  $GLOBALS['temp_skip_translations'] = true;
Then it's used here in translations by:
if (!(function_exists(

[2019-03-22 06:43] bradymiller commented on #2308
Who could of done such a thing... here I thought I was being clever to get the MFA to work in the installer :)

What about using this in the conditional:
[code]

[2019-03-22 06:56] sunsetsystems commented on #2308
This is equivalent:

    if (!empty($GLOBALS['temp_skip_translations'])) {

[2019-03-22 12:48] sjpadgett commented on #2308
Putting it through a function worked. I get why PHP may hiccup in the conditional if not initialized but weird it did not break on many other calls except from portal templates.
I don't remember, will empty eval a boolean true which is what the global is set in installer?
I'll fix next pr.

[2019-03-22 12:48] #2308 closed

[2019-03-22 16:28] cmccrea23 commented on #2307
@bradymiller is the goal for ALL images folders to be moved under /public or only the main openemr/images folder?

[2019-03-22 18:34] sunsetsystems commented on #2308
Most references to variables will generate a warning if the variable does not exist. But some functions like isset() and empty() explicitly test for existence first and do not.

[2019-03-22 18:43] sjpadgett commented on #2308
I've been getting lazy lately too about init'ing my variables so, this woke
me up. Same with conditional tests. Anyways thanks.

On Fri, Mar 22, 2019 at 2:34 PM Rod Roark <notifications@github.com> wrote:

--
Jerry Padgett
Padgett's Consulting
Brandon, Florida 33511
sjpadgett@gmail.com <sjpadgett@gmailo.com>

[2019-03-23 04:25] bradymiller commented on #2307
hi @cmccrea23 ,

Here's a listing of all the images folders:
[code]

I would only migrate over images and library/css/images for now
(would not do the others since they are part of modules)

@sjpadgett , would it make sense to migrate portal/images over?

-brady

[2019-03-23 07:55] bradymiller commented on #2305
hi @avanss ,

Very neat stuff! And nice to see it all taking advantage of the API. Looking very forward to seeing your API enhancements.

-brady

[2019-03-23 07:56] bradymiller commented on #2305
btw, to find folks willing to pilot, recommend asking on the openemr forums since that has many more end users there (mostly just developers monitor github): https://community.open-emr.org/

[2019-03-23 09:30] GJDBrink commented on #2277
@prondubuisi let me know if you have picked this up, I could work in this this weekend.

[2019-03-23 20:20] prondubuisi commented on #2277
@GJDBrink feel free to jump on it.

[2019-03-24 16:33] sjpadgett opened #2314 "jQuery .ready Deprecated"
[code]
Is no longer recommended especially jquery 3+.  Also be aware calling onload bindings inside .ready will cause issues 3+.
Instead use:
[code]

Possible issue for moderate to attack. If someone does take this on remember to not try to consolidate existing event handlers and leave in the same place in scripts workflow ie execution order can be important.
I've now come across this problem twic

[2019-03-24 19:06] sjpadgett commented on #2314
Also href='javascript:void();' needs to be watched. It will break anchors if the function in onclick doesn't return false. Using javascript:void(0) will help but onclick makes it redundant either set up a click event in dom or use the href as meant e.g href="javascript: myWonderfulFunction(); return false;"
I just wanted to note here because I ran across new bug using divtoggle where href="#" was

[2019-03-24 20:05] sjpadgett commented on #2314
Another one that we needs to get done is go through code and make globals includes path reliable. Something like
require_once(dirname(__FILE__) . '/../../globals.php'); etc...

[2019-03-24 22:31] sjpadgett opened #2316 "Custom Report Broken"
Again we're back to encounter reports includes relative paths prevent report include in custom report! Short of fixing all the encounter reports relative include paths, i'm out of ideas. Perhaps someone knows of a trick....

[2019-03-24 23:41] bradymiller commented on #2316
hi @sjpadgett ,
Is this for the core openemr custom report or the portal custom report?
-brady

[2019-03-24 23:44] sjpadgett commented on #2316
both. Went to redo mpdf as you requested awhile back and ran into this
issue again. I think refactor of include path in encounters is only way to
get it...

On Sun, Mar 24, 2019 at 7:41 PM Brady Miller <notifications@github.com>
wrote:

--
Jerry Padgett
Padgett's Consulting
Brandon, Florida 33511
sjpadgett@gmail.com <sjpadgett@gmailo.com>

[2019-03-24 23:48] bradymiller commented on #2316
Are you doing portal work? Just checking since I'm also doing some portal work (removed the session php warnings and working on a not yet identified login bug when using more "secure" php settings).

[2019-03-24 23:53] sjpadgett commented on #2316
Yes, i've fixed some bugs with ccdaservice, lab results and have greatly
improved and updated signature. The login errors would prob be in index.php
and sessions through out. If ya want let me know the issues,  i'll take a
look. I planned to add PR tonight.

On Sun, Mar 24, 2019 at 7:48 PM Brady Miller <notifications@github.com>
wrote:

--
Jerry Padgett
Padgett's Consulting
Brandon, Florida 33511

[2019-03-25 17:09] avanss commented on #2305
Thanks @bradymiller!  We will ask at the forum

[2019-03-25 18:54] bradymiller opened #2319 "Remove ability to modify php scripts from the Administration-Files gui"
Hi,
A lot of serious havoc can be done easily by any admin users if they can modify those php scripts. Is it ok if I remove the ability to modify php scripts on that gui?
Thanks,
-Brady

[2019-03-25 18:58] sjpadgett commented on #2319
I ran across that again the other day and my first thought was; hmm, I wonder what happens if I do this!. :)
I'd say yes, do....

[2019-03-26 13:57] sjpadgett opened #2323 "Style Eligibility Reports and Tab. Add Help"
Hi @zbig01 , Thanks for doing this. The scripts involved:
- interface/reports/edi_270.php
- interface/reports/edi_271.php
- library/edi.php
and tab
- interface/patient_file/summary/demographics.php

For content, I have feature running on a production site where i'm accumulating gotchas from clinical side and this forum thread will give idea of content type: https://community.open-emr.org/t/eligibi

[2019-03-26 14:28] rexsteroxy commented on #2274
Let me try this as well

[2019-03-26 15:00] adunsulag opened #2324 "Rest API Fatal Error if site id is invalid"
So I ran the CURL API request with basic default data but had no idea what to put for scope so I left it as site id.  It triggers a fatal error because it cannot find the translation text() function on line 133
[code]
Error log:
[code]

I believe its a simple fix of just requiring once the htmlspecialchars.inc.php file.  I will submit a pull request for the fix as well as update the API documentat

[2019-03-26 15:59] avanss commented on #2324
@adunsulag we use "default" for the scope and it works well:

curl -X POST -H 'Content-Type: application/json' 'http://172.20.0.4/apis/api/auth' \
-d '{
    "grant_type":"password",
    "username": "admin",
    "password": "pass",
    "scope":"default"
}'

[2019-03-26 16:12] adunsulag commented on #2324
@avanss Yea I found that out after triggering the fatal error.  However, my lack of knowledge helped execute a code pathway that failed and had a bug in it.  So I've reported it and fixed it in the pull request.

[2019-03-26 17:34] #2324 closed

[2019-03-26 17:39] bradymiller commented on #2319
fixed

[2019-03-26 17:39] #2319 closed

[2019-03-26 19:05] adunsulag opened #2328 "npm dev-docs script fails 'run-p not found'"
I'm getting an error in trying to run the theming system by following the [interface README.md](https://github.com/openemr/openemr/tree/master//interface/README.md)  instructions.  I ran the following commands that are in the document.
[code]
When I did that it throws the following error:
[code]
So the run-p command is not found.  I believe the run script is assuming that I have the npm [run-all p

[2019-03-26 19:09] bradymiller commented on #1577
hi, Just checking if this is now fixed? -brady

[2019-03-26 19:51] sjpadgett commented on #1577
believe so.

[2019-03-26 19:51] #1577 closed

[2019-03-26 23:13] adunsulag commented on #2100
@morg0n @bradymiller Is this issue still open?  I'd be happy to take a look at doing this to familiarize myself more with the login and authentication code.  I've written this kind of code in the past so shouldn't be that difficult if it still needs to get done.

[2019-03-26 23:45] danehrlich1 commented on #2328
Stephen:

We’ve been talking about reducing / cleaning up the codebase.

I was considering taking out .docs and .storybook.

If these can be removed (I can’t think of anything they are currently used for) that would be ideal.

We can preserve them on a legacy branch though so if someone wants to pick up whatever the original goal was with those scripts they can.

[2019-03-27 00:39] bradymiller commented on #2328
hi @adunsulag and @danehrlich1 ,
Lets have @d3sandoval weigh in on this before making any changes to this.
-brady

[2019-03-27 00:42] bradymiller commented on #2100
hi @adunsulag ,

I just discussed this with @morg0n very recently, whom still plans to work on this. Here is the initial plan:

For this issue, the first thing we are going to want to do is to place a
counter mechanism. Will involve something like:
1. Add login_fail_counter sql column to the users_secure sql table with
default value of 0

2. In this function, if the user is validated (if $valid =

[2019-03-27 00:44] d3sandoval commented on #2328
Happy to cut those folders out and reintroduce them later. I was using storybook to help test the theme consolidation work. Now that that's done, it's not as necessary to keep for now. Happy to reintroduce storybook if we start to build modular components or just want a separate place for UI documentation.

[2019-03-27 01:03] d3sandoval commented on #2328
Happy to make a PR this weekend that removes storybook and cleans up the package.json. in hindset, I should have kept the dependencies from the bower migration separate from the ones that storybook relies on. When I do reintroduce storybook (or any other frontend documentation framework), I'll be sure to separate those concerns :)

[2019-03-27 01:50] danehrlich1 commented on #2328
Brady:

Can you then merge Daniel’s PR along with my PR which takes out (but still preserves) Matthew’s Doctrine folders?

[2019-03-27 03:19] ghost opened #2330 "Migrate Smarty 2 code to Smarty 3"
We have this previous issue: https://github.com/openemr/openemr/issues/799

BACKGROUND: Moving from Smarty 2 to Smarty 3 seems like an easy win. A good amount of work for sure, but at least straightforward. Smarty 2 is from 2007, Smarty 3 is more like 2014ish.

TWIG: Someone told me to just dump Smarty and move all of it to Twig. This option is appealing as all work has stopped on Smarty with the

[2019-03-27 03:26] danehrlich1 commented on #2314
What are we currently doing?

Also @sjpadgett use backticks to quote code. Either enclose with a single backtick to do a oneliner `like this` or do 3 on top 3 on bottom to get something like this:
[code]

[2019-03-27 03:27] danehrlich1 commented on #2314
I assume this is for beginners so going to mark accordingly @sjpadgett

[2019-03-27 03:28] danehrlich1 commented on #2314
As always `first-timers-only` tag just means those who are newish to the repo. If you've been here less than 6 weeks and have only done 1 pull request say, feel free to contribute.

[2019-03-27 08:26] bradymiller commented on #2330
There are no use cases for twig in the codebase (the twig "wiring" is there, but not actually even used). Converted all smarty to twig would be a monumental feat (note the gacl advanced admin module is all in smarty). Going from smarty2 to smarty3 is way for manageable of a project, so definitely recommend going that route. To start, recommend identifying the places smarty is used (hint; there are

[2019-03-27 08:28] bradymiller commented on #2328
thanks @d3sandoval ; Definitely would be great to have those removed if not being used.
(@danehrlich1 ; regarding doctrine stuff, I'll leave a post on the doctrine PR)

[2019-03-27 08:31] danehrlich1 commented on #2330
Is this a 10, 20, or 40 hour project do you think? Thanks.

[2019-03-27 08:34] bradymiller commented on #2330
hi @danehrlich1 ,
It will depend how smoothly it goes (one of the places, the gacl admin module, may require no work except for updating the smarty version in composer, however the other 2 places, calendar and core, will likely be more bothersome). I would guess 10-30 hours depending on how it goes.

[2019-03-27 08:39] bradymiller commented on #410
See https://github.com/openemr/openemr/pull/2329

[2019-03-27 08:39] #410 closed

[2019-03-27 12:01] sjpadgett commented on #2314
My Commodore doesn't have a tick :)

[2019-03-27 14:25] danehrlich1 commented on #2330
Anthony Zullo said he'd do this, and his work is solid. I think will take him 2 months or so as he travels, but I think we can safely consider this done :)

[pops champagne]

[2019-03-27 15:54] adunsulag commented on #2230
@bradymiller Can we close this issue then since it's not applicable to Version 5.0.2?

[2019-03-27 16:11] bradymiller commented on #2230
@adunsulag , Thanks for pointing this out. Agreed and closing this issue.

[2019-03-27 16:11] #2230 closed

[2019-03-27 19:08] adunsulag commented on #1670
@bradymiller I think we can close this issue as there's been no activity on it for over a year.  It looks like the PHPFIR project is already going in a different direction than Laravel

[2019-03-27 19:24] cmccrea23 commented on #2307
Thanks @bradymiller! I just moved the library/css/images over now, ran into two different files named favicon.ico. How would you like me to resolve it?

[2019-03-27 19:27] cmccrea23 commented on #2307
Actually, it doesn't look like it's used... want me to delete it?

[2019-03-27 22:59] bradymiller commented on #1670
agreed, closing this issue.

[2019-03-27 22:59] #1670 closed

[2019-03-28 09:58] kamaleshSRI opened #2332 "Patient name and date of birth is not display when configure at labs in patient page both admin & doctor portal"
Patient name and date of birth is not display when configure at labs in patient page both admin & doctor portal

Test Configuration:
1.Enter the URL in browser :  https://demo.openemr.io/c/openemr
2.Click on withEMR button
3.Enter the username and password of admin
4.Click on Login button

Test procedure:

1.Procedures | Configurations
2.Click on Add Top Level button
3.Set Procedure Order at Proce

[2019-03-28 23:32] jillpena commented on #2314
Hi! Can I take on this issue?

[2019-03-29 05:49] bradymiller commented on #2314
hi @jillpena ,
Definitely. There is also another developer working on this, @LightDev777 , but this is a big item and ok for more than 1 dev to work on it. Recommend just doing several scripts at a time until get the hang of it.

[2019-03-29 08:17] bradymiller commented on #1490
fixed

[2019-03-29 08:17] #1490 closed

[2019-03-29 08:18] bradymiller commented on #1563
fixed

[2019-03-29 08:18] #1563 closed

[2019-03-29 09:03] #1640 closed

[2019-03-29 09:12] #1266 closed

[2019-03-29 09:28] bradymiller commented on #2259
fixed

[2019-03-29 09:28] #2259 closed

[2019-03-29 09:32] bradymiller commented on #2121
fixed

[2019-03-29 09:32] #2121 closed

[2019-03-29 09:36] bradymiller commented on #2069
api/fhir server now working well, so closing this issue

[2019-03-29 09:36] #2069 closed

[2019-03-29 09:41] #1897 closed

[2019-03-29 09:53] #1864 closed

[2019-03-29 09:55] bradymiller commented on #1820
Placed a copy of report here:
https://www.open-emr.org/wiki/images/1/11/Openemr_insecurity.pdf

[2019-03-29 09:55] #1820 closed

[2019-03-29 09:55] #1785 closed

[2019-03-29 09:58] #1736 closed

[2019-03-29 11:45] eduardoboca opened #2336 "Bug on new_comprehensive.php"
I think there`s a bug on new_comprehensive.php file. Line 393 should be:

 document.location.href = "./../../interface/patient_file/summary/demographics.php?set_pid=" + pid;

[2019-03-29 16:33] stephenwaite opened #2337 "OpenEMR SQL Escaping ERROR in forms.inc"
called by cqm.php through ajax

https://github.com/openemr/openemr/blob/master/library/forms.inc#L95

think escape_table_name function in library/formdata.inc.php can't parse the join

[2019-03-29 16:44] bradymiller commented on #2337
Yep, the escape_table_name will break that. I'll post a fix for this real quick.

[2019-03-29 16:48] stephenwaite commented on #2337
ok, nice, think that's the only prob with running cqm 2014 on a dev version so most likely works fine on 5.0.1

[2019-03-29 16:59] bradymiller commented on #1575
hi @juggernautsei , Just checking if I can close this issue?

[2019-03-29 17:10] bradymiller commented on #2337
fix is in :)

[2019-03-29 17:10] #2337 closed

[2019-03-29 17:13] bradymiller commented on #1325
Is this still an issue?

[2019-03-29 17:16] bradymiller commented on #1188
This is regarding the old patient portal, which was recently removed. So closing this issue.

[2019-03-29 17:16] #1188 closed

[2019-03-29 17:18] #1045 closed

[2019-03-29 17:26] #578 closed

[2019-03-29 17:26] bradymiller commented on #573
Completed by zbig recently, so closing this issue.

[2019-03-29 17:26] #573 closed

[2019-03-29 17:27] #554 closed

[2019-03-29 17:29] #460 closed

[2019-03-29 17:39] bradymiller opened #2339 "Complete testing/reporting of all scripts for php 7.3 warnings/errors"
After complete the testing/reporting, will then ensure they are all addressed.

[2019-03-29 17:43] stephenwaite commented on #2337
yippee, thank you

[2019-03-29 18:30] juggernautsei commented on #1575
Apologies for not getting back to this but we did fix this in a retrofit to 4.2.x. However, going forward, we have taken this function out of the admin section for now. We are not planning on having a pharmacy import at this time. Unless we come up with a reliable data source that is free.

The problem is how the pharmacy is being imported and the three tables that data is stored and how the forei

[2019-03-29 19:42] mdsupport opened #2340 "library/calendar_events.inc.php"
Looks like this library is remnant of sqad functionality and not used anywhere in the code.

Recommend it be removed from standard codebase.

[2019-03-29 20:42] #1575 closed

[2019-03-29 20:54] bradymiller commented on #2340
done :)
https://github.com/openemr/openemr/pull/2341

[2019-03-29 20:56] #2340 closed

[2019-03-30 14:24] stephenwaite commented on #2339
hi @bradymiller , is the openemr flex-edge docker running php 7.3?

[2019-03-30 16:45] bradymiller commented on #2339
hi @stephenwaite ,

Alpine edge still is on PHP 7.2:
https://pkgs.alpinelinux.org/packages?name=php7&branch=edge

I use the insane dev environment to test PHP 7.3 (via nginx/php-fpm):
https://github.com/openemr/openemr/tree/master/contrib/util/docker#insane-development-docker-environment
(note you should not run this directly from your repo like the Easy dev environment)

[2019-03-30 16:47] bradymiller commented on #2339
Also note it loads 29 dockers :)
(so higher performance laptop/pc likely needed)

[2019-03-30 19:18] bradymiller opened #2345 "Documents API to leverage current documents mechanism"
https://github.com/openemr/openemr/blob/master/services/DocumentService.php

Above script needs to leverage OpenEMR's core Documents class mechanism since there's a lot of work it does behind the scenes (couchdb versus drive, encryption, etc).

[2019-03-30 19:33] stephenwaite commented on #2332
looks like it works in the development demos, maybe this was the fix, https://github.com/openemr/openemr/commit/b420c4805fce92928f7671fe7a796ea3828a81f5#diff-1ab4de1d0a36b07ac05a1d68323e77f9

[2019-03-30 22:59] romansorin commented on #2089
Will hop onto this one.

[2019-03-31 01:34] d3sandoval commented on #2328
@bradymiller  @adunsulag I've gone ahead and opened a PR to remove the unused storybook docs + build dependencies from the project: https://github.com/openemr/openemr/pull/2346

I still love how easy it is to use browsersync to implement css/js changes directly on the openEMR UI. I feel like storybook is overkill at this point - unless we really want to lean into react or vue on the frontend :)

[2019-03-31 07:58] bradymiller opened #2347 "Migrate from Zend2 to Zend3"
This first needs analysis (ie. how big of a project will this be?).

[2019-03-31 15:44] stephenwaite commented on #2336
think @bradymiller added this to prevent pid from tampering

https://github.com/openemr/openemr/commit/d4d3060d685b1d9d4c4ef39f55c29683f0c18222#diff-953e5dd0e0c0e8d55ae1d1b493b7bd0bR394

[2019-03-31 22:48] zbig01 commented on #2323
will work on it. Thanks

[2019-04-01 02:02] stephenwaite commented on #2339
can't get past setup, when does composer run, keep getting this error:

Uncaught Error: Call to undefined function produceRandomString() in /var/www/localhost/htdocs/openemr/setup.php:804\nStack trace:\n#0 {main}\n  thrown in /var/www/localhost/htdocs/openemr/setup.php on line 804, referer: http://localhost:8080/setup.php?site=default

or am i supposed to run composer install before fire up the do

[2019-04-01 04:26] bradymiller commented on #2339
One of the dockers does the composer/npm stuff, but it does not autoinstall (so need to run setup.php after it is done setting things up). Ensure the docker is done setting things up though before trying to run it. Do the following to ensure it is ready to go:
[code]

[2019-04-01 05:30] bradymiller commented on #2336
hi @eduardoboca ,
Thanks for reporting potential bugs. What is the bug causing?
-brady

[2019-04-01 05:34] bradymiller commented on #2345
PR for this is here:
https://github.com/openemr/openemr/pull/2349

[2019-04-01 05:38] kamaleshSRI commented on #2332
After change id into pid its working ..

[2019-04-01 05:38] #2332 closed

[2019-04-01 09:27] adunsulag commented on #2347
@bradymiller Can you assign this to me.  I was going to look into this anyway.

[2019-04-01 15:49] adunsulag commented on #2347
Here is some relevant documentation on the upgrade path from Zend2 to Zend3.
https://docs.zendframework.com/zend-mvc/migration/to-v3-0/

[2019-04-01 17:03] jfuad commented on #2216
Can I work in this issue?

[2019-04-02 06:58] bradymiller commented on #2216
hi @jfuad and @danehrlich1 ,
This will likely turn into a very tough OS dependent exercise. Apache will not have the access permissions to do this itself (ie. via the setup.php script), so will require os dependent scripts/instructions. Note this stuff is already done for the ubuntu package and dockers (and there are manual instructions for other os's), so not sure if pursuing this (bunch of os de

[2019-04-03 14:23] adunsulag opened #2352 "PSR-4 cannot load classes due to folder name casing"
I've been working on getting the unit tests to run on the OpenEMR codebase.  However, the test harness framework when run from the command line can't load some of the PSR-4 classes.   I've verified this on both my Ubuntu 18.04 linux machine as well as from within the docker container install.  The error that gets thrown is:
[code]
What's weird is the class files load just fine when run from the we

[2019-04-03 17:10] bradymiller commented on #2352
hi @adunsulag ,
Thanks for sorting this issue out. I agree with your plan of directly adding the items to the composer.json (this also makes it easier to know where certain classes are by looking at composer.json).
thanks! -brady

[2019-04-03 18:16] sali123 opened #2355 "SQL Injection in \interface\billing\sl_eob_search.php"
A SQL injection can take place when sending a POST request to \interface\billing\sl_eob_search.php with a
payload in the vulnerable text parameter. The input from the text parameter is included
directly into an SQL query without any sanitization. Exploiting this vulnerability requires
authentication to the OpenEMR interface.

Version: 5.0.1-6.

Vulnerable Code:

    if ($eracount) {
        // Not

[2019-04-03 18:23] #2352 closed

[2019-04-04 00:31] sali123 commented on #2355
I am closing this and sending via a private email to brady.g.miller@gmail.com

[2019-04-04 00:31] #2355 closed

[2019-04-04 05:05] prondubuisi commented on #2277
hello @GJDBrink how is the work going?

[2019-04-04 05:11] prondubuisi commented on #807
Hello @bradymiller what is needed here?

[2019-04-04 07:14] bradymiller commented on #807
Hi @prondubuisi ,

The goal is to incorporate the functionality of the old Frames layout search feature for patient names:
https://github.com/openemr/openemr/blob/master/library/patient.inc#L491-L585
(In OpenEMR, set Administration->Globals->Appearance->Layouts->Frames, then logout/login; then you will see the search feature at the bottom of the left menu frame)

And to incorporate it into the sea

[2019-04-04 07:21] bradymiller commented on #807
@prondubuisi ,
Would rec waiting on this until this PR is completed to avoid merge conflicts:
https://github.com/openemr/openemr/pull/2020/files

[2019-04-04 07:38] bradymiller opened #2356 "Prevent log injection"
See here for details:
https://www.open-emr.org/wiki/index.php/Codebase_Security#Log_Injection

First item for somebody is to research this and figure out best mechanism to escape stuff that goes to the log.

[2019-04-04 07:39] bradymiller opened #2357 "Prevent header injection"
See here for details:
https://www.open-emr.org/wiki/index.php/Codebase_Security#Header_Sanitation

First item for somebody is to research this and figure out best mechanism to escape stuff that goes into header.

[2019-04-04 07:40] bradymiller commented on #2345
done

[2019-04-04 07:40] #2345 closed

[2019-04-04 07:41] bradymiller commented on #2328
brought in above PR, so closing this issue. thanks @d3sandoval !

[2019-04-04 07:41] #2328 closed

[2019-04-04 07:44] bradymiller commented on #1782
Good project for somebody related to security:
Look through the security issues in below link and ensure they are all addressed in OpenEMR's codebase:
https://www.portcullis-security.com/security-research-and-downloads/security-advisories/cve-2014-5462/

[2019-04-04 07:48] danehrlich1 commented on #2356
I’ll look into this.

Can you provide some background on how logging is done in OpenEMR at the application code level?

[2019-04-04 07:52] bradymiller commented on #2356
hi @danehrlich1 ,
Nothing formal, but there are lots of places where error_log() is used to send issues/errors to log. Rec doing grep/search for error_log to get an idea. -brady

[2019-04-04 07:53] danehrlich1 commented on #2356
Got it and good explanation. Thanks.

[2019-04-04 07:54] danehrlich1 commented on #2347
@adunsulag Thanks for this. We are upgrading Smarty 2 to Smarty 3 so this complements that, not least because it also has a 2 and a 3 :)

[2019-04-04 07:55] bradymiller commented on #2356
Goal would be to have a escaping/sanitizing function (maybe called log_escape) for variables that are sent through error_log available in the library/htmlspecialchars.inc.php library.

[2019-04-04 08:00] bradymiller commented on #297
Looks like I broke this again... (guessing related to the js escaping; I will look into this)

[2019-04-04 13:41] sjpadgett commented on #2356
O'God, please not another escaping function. If you must escape logs, do it in the logging api function. I beg you:)

[2019-04-04 16:06] adunsulag commented on #2356
@sjpadgett @bradymiller If someone is going to go through the work of sanitizing the error_log I'd recommend also switching error_logs to leverage the Logger class.  I'm already updating the Logger class to be PSR3 compliant as part of the unit tests against the FIHR API.  You can sanitize the entire string instead of just the variables at that level.

Downside is there's the sanitation overhead,

[2019-04-04 16:41] jdelta-RBS commented on #2355
@sali123 While the issue will most likely be fixed / referenced in an upcoming Commit... could you keep this ticket updated as things progress, e.g. when he responds / confirms, etc?

[2019-04-05 00:52] stephenwaite commented on #2339
maybe it's the mac os version of docker that's the prob, after trying numerous times finally ran composer install on docker_openemr-7-2_1 to try to get past setup

[2019-04-05 04:28] bradymiller commented on #2356
hi @adunsulag @sjpadgett ,
The OpenEMR Logger class/code is already complicated and causes real performance issues; prob best to avoid complicating it further. The direct php error logs calls is not done too often in OpenEMR; guessing about 40 places do this where also including a variable in the error_log output. So, will be one of those rarely used escape functions :)

[2019-04-05 04:36] bradymiller commented on #2339
hi @stephenwaite ,
try:
[code]
Then wait about 5 minutes or so, and then do:
[code]
And paste the log here (or email it to me)

[2019-04-05 04:41] bradymiller commented on #2355
hi @jdelta-RBS ,
This vulnerability was already addressed in the development codebase (for OpenEMR 5.0.2 that will likely be released in 2 months or so). Hopefully there are no more sql-injections vulnerabilities in the development codebase (5.0.2 includes many security improvements, and we set out to eliminate all sql-injections vulnerabilities as part of that).

[2019-04-05 13:00] sjpadgett opened #2361 "Setup 12 char passwords have to go"
You can't force admins to use 12 character passwords. Also many existing mysql root passwords are not 12 characters forcing a stop to install or change mysql passwords on existing sites.
Also the close and x buttons don't work, at least on ubuntu.
Other than this I like the new setup. Code is nicely done and clean.

[2019-04-05 13:11] sjpadgett opened #2362 "LDAP Why?"
Why are we forcing LDAP now, Why?

[2019-04-05 17:01] danehrlich1 commented on #2362
What do you mean?

If anything, I would like to take charge of the LDAP integration with OpenEMR / figure out all the documentation.

I’ve done it before with Sambda on Linux.

[2019-04-05 17:03] danehrlich1 commented on #2361
It’s just an install time / build time requirement.

12 char passwords can stay and not affect current sites.

Eventually though, we should add code that if an admin needs to change their password, it has
to be more than 12 chars to have ppl gently encouraged to upgrade.

[2019-04-05 17:12] sjpadgett commented on #2362
what in openemr is now requiring ldap to be installed and running?

[2019-04-05 17:16] danehrlich1 commented on #2362
I dunno u tell me

I just see people ask on the forums sometimes about integrating OpenEMR with their Active Directory

[2019-04-05 17:17] sjpadgett commented on #2361
Yes it can and we don't get to dictate password strength at the root level.
besides, why not 20 or 25. 8 is enough and remove requirement for any
passwords that deal with server installed functionality. Why do you think
mysql doesn't require set password strength? Not up to them!

On Fri, Apr 5, 2019 at 1:03 PM Dan E <notifications@github.com> wrote:

--
Jerry Padgett
Padgett's Consulting
Brandon,

[2019-04-05 17:19] sjpadgett commented on #2362
So then they can install LDAP just don't force on everyone.

On Fri, Apr 5, 2019 at 1:16 PM Dan E <notifications@github.com> wrote:

--
Jerry Padgett
Padgett's Consulting
Brandon, Florida 33511
sjpadgett@gmail.com <sjpadgett@gmailo.com>

[2019-04-05 17:23] danehrlich1 commented on #2362
No we are going to force it on everyone. That’s why we’re including an Oracle EE database and Windows IIS 7.0 with OpenEMR starting next month

Sent from my iPhone

[2019-04-05 17:24] danehrlich1 commented on #2361
I’m putting a lien on your house.

Sent from my iPhone

[2019-04-05 17:29] sjpadgett commented on #2362
That's all fine and more power but it appears LDAP is now a dependency in composer? That's why I question this.

[2019-04-05 17:31] sjpadgett commented on #2361
Go for it big boy. I'll just move into my yacht and leave you to mow the grass...

[2019-04-05 17:34] danehrlich1 commented on #2361
LOL ok that was a good response hahahaha

[2019-04-05 17:35] danehrlich1 commented on #2362
Oh yeah that’s weird. I dunno. Seems like a security issue too if anything since we want the minimum amount of software (I.e. vulnerabilities) in composer

[2019-04-05 18:36] sjpadgett commented on #2361
Okay I downloaded latest version of setup and wow! Very nice job. Couple issues, one of which is, I disagree strongly on using 12 char password strength requirement for mysql root. The openemr account could be argued so I won't, except know, if you force a password change here then any other sites running on that account, their passwords have to be changed in sqlconf.php to match. Could be a pain.

[2019-04-06 01:00] bradymiller commented on #2361
hi @sjpadgett ,
Been lots of nice work on the setup script, which also could of introduced some bugs (the php version checker is all by its lonesome at the top of script so really weird to see this is erroneously showing error https://github.com/openemr/openemr/blob/master/setup.php#L17-L22). The facelift (ie. the really nice stuff!!) was by @zbig01 . The setup script does not enforce anything on

[2019-04-06 01:02] bradymiller commented on #2361
btw, I am calling dibs on your yacht (via a lien of course)

[2019-04-06 01:12] bradymiller commented on #2362
Hi,

LDAP is a supported option by OpenEMR out of the box:
https://www.open-emr.org/wiki/index.php/Administration_Globals#Use_Active_Directory
https://community.open-emr.org/t/active-directory-authentication-in-openemr-5/8243

Matrix contributed this feature. and maintain it (relatively recently updated to support a recent version of the adldap2/adldap2 package, although version 10 is now out :) )

[2019-04-06 01:15] bradymiller commented on #2362
as an aside, looks like it's time for a package update run (looks like at least adodb/adodb-php also needs an update)

[2019-04-06 01:20] danehrlich1 commented on #2362
Brady:

Where is the LDAP documentation / AD integration?

Do we not have this (I’ve seen people ask for it before)?

If so I will create an issue and work on this. Give me 6 weeks along with the logs issue.

[2019-04-06 01:29] bradymiller commented on #2362
Sounds good,
See above 2 links for what documentation we even have.
Hopefully @sharonco-matrix can provide some more details.
Can gre/search for `active_directory_validation` to see how used in codebase.

[2019-04-06 02:03] sjpadgett commented on #2361
The error for Checker was because autoloader could not run because of permissions. The autoloader requires file permissions to load but setup doesn't check for file permission until after the autoloader require. So the require should come after the file permissions are checked.

Sure it does in that by forcing the password to be 12 chars to access mysql to setup databases even if existing mysql ha

[2019-04-06 03:16] bradymiller commented on #2361
Thanks for the details. Appears 2 good issues to fix in setup.php here:
1. Agree we shouldn't enforce mysql related stuff. The setup.php is not forcing this for mysql root user password (Root Password: in setup.php). Also agree we should not force this for the mysql openemr user (Password: in setup.php), which setup.php is currently forcing.
2. The setup.php permissions checker is just meant to ch

[2019-04-06 04:38] sjpadgett commented on #2361
I don't know what the issue with checker is/was. Couldn't get past checker is not found php error. Tried everything. Ended up patching out and was smooth seas after that. Didn't realize file checker just checked write permission so there's that.
So something about setup and autoloader because after patching checker out, class loading worked fine. I believe checker is used in globals and log in, so

[2019-04-06 04:52] sjpadgett commented on #2362
Here we go again. If Active Directory is wanted, then those wanting it can install the dependencies to support the feature. Not force the other 95% of us into installing an unused potential security hole. An unsetup LDAP can be dangerous.

[2019-04-06 06:13] danehrlich1 commented on #2362
I can add the dependency installation to the guide instead of bundling it with OpenEMR when I write the docs.

Don’t know if removing it from composer will break other stuff tho.

Any other unnecessary libraries you see in composer? Would be good to remove also

[2019-04-06 06:28] bradymiller commented on #2362
hi,
The LDAP package is just some classes. And is only used if the user turns on this feature. Making end users try to use composer is probably more insecure than simply including this package (ie. who knows what bad things they may do learning how to use composer on their production instance); even many devs have a tough time with composer. Am I missing something? I can move it to the bottom of t

[2019-04-06 07:11] bradymiller commented on #2361
Proposed fix for mysql user pass is here:
https://github.com/openemr/openemr/pull/2364

[2019-04-06 08:34] bradymiller commented on #297
Fixes for both issues in this PR is here:
https://github.com/openemr/openemr/pull/2365

[2019-04-06 12:30] sjpadgett commented on #2362
Not talking about our class support but the composer run requirement that requires LDAP to be installed and running.

[2019-04-06 21:10] bradymiller commented on #297
committed fix, so closing issue

[2019-04-06 21:10] #297 closed

[2019-04-07 05:52] matrix-amiel commented on #2362
What do you mean 'installed and running'? which application do you need install? I don't find any LDAP application on my local machine and the composer runs well..

[2019-04-07 06:43] bradymiller commented on #2361
fixed :)

[2019-04-07 06:43] #2361 closed

[2019-04-07 06:57] bradymiller opened #2366 "Any API calls within OpenEMR"
Just seeing if there are any examples in the codebase of OpenEMR making API calls?

Looks like it is set up to support this here:
https://github.com/openemr/openemr/blob/master/apis/dispatch.php#L61-L65

Just thinking about how best to place a standard csrf prevention scheme in place (not for external api calls, just when making internal api calls) and examples of use will be helpful.

[2019-04-07 07:15] sjpadgett commented on #2362
Probably because you already have the ldap extension installed. I tried to
install openemr on a fresh LAMP and had to install LDAP for composer to
complete. Figured it was a new dependency added recently, noted, installed
LDAP and moved on.

On Sun, Apr 7, 2019 at 1:52 AM Amiel Elboim (Matrix) <
notifications@github.com> wrote:

--
Jerry Padgett
Padgett's Consulting
Brandon, Florida 33511
sjpadget

[2019-04-07 07:17] sjpadgett commented on #2366
phpfhir/libs/controller/ClientAppController.php

On Sun, Apr 7, 2019 at 2:57 AM Brady Miller <notifications@github.com>
wrote:

--
Jerry Padgett
Padgett's Consulting
Brandon, Florida 33511
sjpadgett@gmail.com <sjpadgett@gmailo.com>

[2019-04-07 09:49] matrix-amiel commented on #2362
Ok.. agree..
The composer.json of adldap2 require extension of ldap.
[code]
The solution If you don't want to install that extension is use [`--ignore-platform-reqs` option](https://getcomposer.org/doc/03-cli.md#install-i)
[code]

Hopefully it will help.

[2019-04-07 09:56] matrix-amiel commented on #2362
FIX.
[code]
This is the right command.

[2019-04-07 12:22] sjpadgett commented on #2362
Not my point really and not looking for work arounds. My point is the vast majority of installs will not need directory services therefore, the requirement should not be in a default install. For the few that wish ldap support they can install as needed.
So the fix should be, remove the req.

[2019-04-07 13:40] sharonco-matrix commented on #2362
@bradymiller  Please do as you think better. I agree that we must have the basic stuff and then add it according to our needs, but that means that we need to add a mechanism that let us do that without doing conflicts every time.
SO just let us know what is your final call before removing it, please.

[2019-04-07 13:45] sharonco-matrix opened #2368 "New UI/UX for patient file (dashboard) screen"
Hi all,
We at @matrix are working with professionals in order to have a "new" dashboard.
We want to make it customizable so we can choose which widgets and in which order they appear.
We will be working on this in the next few weeks. If someone wants to help us or contribute to the "technical design" please contact me.

[2019-04-07 19:28] prondubuisi commented on #807
Okay, thanks

[2019-04-07 19:31] prondubuisi commented on #2274
Hello @bradymiller I am using a docker installation, how do I access the error log

[2019-04-07 22:16] bradymiller commented on #2362
hi @sjpadgett and @sharonco-matrix ,
Let me do some research on this. Off the top of my head, ldap just requires php-ldap library on the os end but I could be wrong. -brady

[2019-04-08 00:08] bradymiller commented on #2274
hi @prondubuisi ,
What do you see with the following command:
[code]

[2019-04-08 00:14] bradymiller commented on #2362
@sjpadgett and @danehrlich1 ,

Looking into security issues of the php-ldap php extension:
https://www.php.net/manual/en/book.ldap.php

I have found no reported security issues with this extension. Do you know of any?

[2019-04-08 03:41] prondubuisi commented on #2274
Hello @bradymiller this is my output from the command
https://pastebin.com/fz30nrHE

[2019-04-08 07:24] bradymiller commented on #2274
hi @prondubuisi ,
first, go into the docker:
[code]
then, when inside docker, do following:
[code]

[2019-04-08 12:42] sjpadgett commented on #2362
My concern was for running an unconfigured LDAP service. There are certainly security concerns for a web facing app using LDAP but those, i'm sure, are being addressed in the application layer.
My main issue here is the additional install requirement and because this is a rarely used requirement to run OpenEMR, is it necessary to include in default dependencies?
Bottom line is that i'm trying to h

[2019-04-08 13:53] adunsulag commented on #2362
Is there anyway this can be adjusted / migrated to a module? This seems the perfect kind of functionality you would want to enable / disable as a module extension instead of something core to the system.

It would have to be a module with composer dependencies so perhaps the module system needs to be adjusted to allow modules to be added by composer with their relevant composer dependencies.  This

[2019-04-08 14:01] adunsulag commented on #2368
@sharonco-matrix I've been working through a technical design of how to go about customizing the patient widgets as well as the backend administrative menu system.  My thoughts are centered around the module system and using the EventDispatcher code to create extension points similar to wordpress's hook and filter system.  That said, it is fairly early stage, I'm interested in seeing what your tea

[2019-04-08 18:31] zbig01 commented on #2368
@sharonco-matrix nice to see interest in UI/UX revamp. I would like to point out that ongoing UI  standardization has been a long and slow process. Please pay attention to the overall styling changes that has already been implemented. Any new changes should be consistent with the overall styling as a tremendous amount of time and effort has already been invested in restyling over a 100 scripts to

[2019-04-09 06:54] bradymiller commented on #2362
Hi,

Turns out a LDAP solution was in OpenEMR previously:
https://community.open-emr.org/t/ldap/3852

This kind of stuff (incompletely done code missing lots of elements that only one person knew how to use) was not very uncommon in OpenEMR's remote past. Then for OpenEMR 5.0.1 release, Matrix formalized a integrated LDAP feature that worked by just configuring it in globals:
https://www.open-emr.

[2019-04-09 07:05] bradymiller commented on #2362
One more point I should of added. Having the composer package visible in composer.json also ensures that it remains based on cutting edge versions of the adldap2 package (since we basically routinely update all those packages couple times per year). This prevents it from turning into broken code as it was back in the 2015 forum thread posted above :)

[2019-04-09 07:50] bradymiller commented on #2355
There are quite a few commits. Check out commit history of this file here and the commits with "bug fix" in it are addressing security issues:
https://github.com/openemr/openemr/commits/master/interface/billing/sl_eob_search.php

[2019-04-09 10:55] sjpadgett commented on #2362
Wait a minute! You can run an enterprise but not know how to add a composer require without blowing up composer. Yet we want to send a user through additional hoops to ensure LDAP is installed.
How many internet guides are there to install a LAMP that instruct, oh yes, install LDAP just in case.
It's arduous enough now having users install composer and npm(plus getting permissions correct for same

[2019-04-09 15:41] sjpadgett commented on #2362
@bradymiller
1) I pointed out in previous post that the reason this is not an issue in 501 is because we do not install adldap dependency via command line composer run. It is downloaded in the install vendor directory tree where the LDAP os requirement is fulfilled on master build.

2). Refer to 1.

3). Turn it around. So now we're willing to break it for all the other users who don't have LDAP in

[2019-04-09 21:55] sjpadgett opened #2372 "Syntax error LBF/New.php"
@bradymiller
Do ya think you could add a small fix with your next PR for a minor syntax error in forms/LBF/new.php. I'd do it but I have that script staged with a feature add in maybe a week or so.
It's L-688 from
`'&csrf_token_form=' + <?php echo js_url(collectCsrfToken()); ?>));` to
`'&csrf_token_form=' + <?php echo js_url(collectCsrfToken()); ?>);`

Strange it was just that one replace. I haven

[2019-04-09 22:21] morgankevinj opened #2373 "Medication administration record"
Can you add support for a Medication administration record? It would provide the times a medication needs to be administered and record when a medication was administered or withheld.

[2019-04-09 23:56] bradymiller commented on #2362
Hopefully this gets through (email reply to github works for me on and off)

Sounds like the issue stems from confusion (either me or you :) ) between
version 5.0.1 and 5.0.2 . Quick question so I can figure this this out.
Will there now be differences (related to ldap) for end users when
installing the standard 5.0.1 zip package and the 5.0.2 zip package at
https://www.open-emr.org/wiki/index.php

[2019-04-10 00:09] sjpadgett commented on #2362
It won't. I was under the impression user was building to their os on site. Guess not so this is moot.

[2019-04-10 05:09] bradymiller commented on #2372
hi @sjpadgett .
Thanks for the report and sorry that got through (I only wish there was some sort of replace function for that stuff :) ). Just committed the fix:
https://github.com/openemr/openemr/commit/d01a6976b6483dcfe45bc095187af26022b6248a
-brady

[2019-04-10 05:09] #2372 closed

[2019-04-10 09:19] sharonco-matrix commented on #2368
@adunsulag if you want you can contact me in mail to schedule a "skype" meeting and talk about it. We are still working on the technical design so i would be very happy to see what you have in mind and we can work together.
@zbig01 we have been working with the community styling all along, if you could be more specific on what we need to pay attention when developing it would be very helpful

[2019-04-10 12:47] sjpadgett commented on #2362
closed due to authors senility!

[2019-04-10 12:48] #2362 closed

[2019-04-10 16:16] adunsulag opened #2376 "Carecoordination Module Send to HIE Broken"
In working on the zend framework upgrade research I've been testing the functionality on the Carecoordination module.  I followed the instructions on the wiki to install the Carecoordination module including enabling the hooks.  That creates the Modules -> Carecoordination -> Send to HIE menu structure.  However, if you click the Send to HIE menu it brings up a 404 frame as it can't find the URL:

[2019-04-10 16:33] bradymiller commented on #2376
hi @adunsulag ,
That Send to HIE never did anything and appears to be just a placeholder. So, it can go.

[2019-04-10 16:37] bradymiller commented on #2376
btw, here is what I am referring to:
![image](https://user-images.githubusercontent.com/278968/55896829-16e5be80-5b74-11e9-8b7d-beac331da205.png)
Note the main menu, though should not include a Send to HIE link:
![image](https://user-images.githubusercontent.com/278968/55896887-37157d80-5b74-11e9-8eaa-2ce7d024d644.png)

[2019-04-10 16:40] sjpadgett commented on #2376
Hi, I'm pretty sure HIE works and you need to configure ccdaservice so a CCDA can be generated to send. Once doc is generated it is then queued and saved to be picked up for sending. The ccda generation originally(and maybe still) was generated on a mirth server managed by ZH. I wrote the ccdaservice as an alternative.
I don't recall seeing any server side code for sending the document and decided

[2019-04-10 16:43] bradymiller commented on #2376
hi @sjpadgett and @adunsulag ,
The CCDA creation/import is a requirement of MU2, but the send to HIE is not. I always assumed it didn't do anything. Probably makes sense then to check out the code to confirm it does nothing. Note the hooks don't always work since the module needs to be configured in certain ways to support certain hooks.

[2019-04-10 16:51] sjpadgett commented on #2376
I know the encounter hooks don't work but in the end, FHIR will most likely be the goto for this type of functionality and i'm not sure if anyone would be willing to pick this up because, using this hie to report to externals such as state medicaids are diverse and require certification. So, I have no prob if it goes.

[2019-04-10 18:33] adunsulag commented on #2347
So one of the biggest changes to handle for the upgrade to Zend3 is the fact that the dependencies have to be specified explicitly in all the controllers.  Everywhere that getServiceLocator() is called (about 39 places) has to be changed to use an explicit dependency which looks like it involves creating a factory class as part of the work.  I'm still researching more into this but here's a link f

[2019-04-11 08:17] bradymiller commented on #2347
Sounds like gonna be a whole lot of fun :)

[2019-04-11 08:22] bradymiller commented on #2316
hi @sjpadgett ,
Just migrated portal custom report to mPDF and working well (https://github.com/openemr/openemr/pull/2377). The main custom report is also working well.  Since I am here, I might as well work on this issue. What is the "encounter report" in this custom report?

[2019-04-11 11:08] sjpadgett commented on #2316
lol @bradymiller I promise, this is an issue it's just, now it works! Then again, I couldn't readily explain why it was broken in first place as i've tested this feature many times. So it's a quirk and I hate quirks.
The encounter reports I refer to are the encounter form report.php that custom_report loads. Each report.php loads globals.php via a relative path of ../../globals.php (relative path

[2019-04-11 16:14] junelsolis opened #2378 "NGINX Reverse Proxy"
Hello everyone,

Is there anyone who could please shed some light on how to get OpenEMR to work with an NGINX reverse proxy with SSL termination?

[2019-04-12 06:47] bradymiller commented on #2378
hi @junelsolis ,

The OpenEMR demo farm uses a NGINX reverse proxy with SSL, so that is a working example. Can find the nginx/conf that is used for this here:
https://github.com/openemr/demo_farm_openemr/blob/master/docker/nginx/nginx.conf

Here's the run command for the nginx docker:
https://github.com/openemr/demo_farm_openemr/blob/master/docker/scripts/demoLibrary.source#L178-L189
(in this case

[2019-04-12 06:53] bradymiller commented on #2378
Also,
Note above example is still using apache/php for openemr (just using nginx as reverse proxy). If you are interested in using nginx/php-fpm for everthing, then can see an example for that here:
https://github.com/openemr/openemr/tree/master/contrib/util/docker/dockers/dev-nginx
(note it is overcomplicated since it is supporting a bunch of different endpoints since used for the insane docker d

[2019-04-12 07:08] junelsolis commented on #2378
Thank you @bradymiller

I did try using the OpenEMR reverse proxy config but it didn't work at that time. Given, I was reverse proxying other upstream sites on the same NGINX server also. I will keep trying to get this to work and report back once I get a working configuration.

[2019-04-12 07:23] bradymiller commented on #2316
hi @sjpadgett ,
I've often wondered why report.php even includes that dependency. In the forms where report.php is simply a function, could we simply remove that?

[2019-04-13 13:29] sjpadgett commented on #2316
Hi @bradymiller Agreed and maybe in the past there was an issue with loading api.php or some other dependencies but, globals should not be required. However, I wouldn't suggest removing at this stage.
I'm just concerned as to what state my test bed was in that caused this issue in the first place. I spent a couple hours trying to resolve because I knew this worked(you and I have addressed this in

[2019-04-13 13:29] #2316 closed

[2019-04-14 23:26] bradymiller commented on #2252
done

[2019-04-14 23:26] #2252 closed

[2019-04-17 06:48] bradymiller commented on #2366
hi @sjpadgett ,

Looks like this is the magic spot to prevent csrf attacks for internal api calls:
https://github.com/openemr/openemr/blob/master/_rest_config.php#L101

That line looks incorrect ($local_auth is session_id and $app_token is $_SESSION['csrf_token']; so they can't equal each other) and that variable is not used anyways.
Am thinking something like there instead:
[code]

[2019-04-17 13:34] sjpadgett commented on #2366
@bradymiller Sure will be glad when you get back onto escaping:)
I had something in mind for L101 but abandoned for some reason so it can go.
So if we are going to pass the csrf_token on local api calls I suppose here is as good a place to verify.
I think between authUserID, authUser and csrf_token we can be comfortable we have a valid auth'ed session. It gets checked again when globals gets calle

[2019-04-17 14:30] adunsulag commented on #2376
@bradymiller @sjpadgett So I'm trying to verify my zf3 upgrade changes work for the CCDA download/creation piece.  However, I've confirmed what @sjpadgett said about a MIRTH server being required to create the CCDA piece.  How are people typically testing this to make sure it works?  Does ZH offer their mirth server for free access to people?  Or is there somewhere I can go to download the channel

[2019-04-18 21:56] sjpadgett commented on #2376
I wrote the ccdaservice specifically to avoid sending to ZH. Look at the readme in /openemr/ccdaservice directory. It will create ccda as if being sent to ZH. You must make sure you have not pulled the hie hook code that redirects from going to ZH to localhost. This is also config'ed in CCM setup under mirth url where you would put localhost and setup provider etc. Most of this is in readme.

[2019-04-18 22:30] adunsulag commented on #2376
@sjpadgett I haven't removed any of the HIE hooks.  My intent is to avoid removing any code and focus on  just upgrading the framework.  I've been marking places in the code where I believe classes / functions can be removed as they are unused.

Now that you've explained things the Readme makes more sense.  The docker images I'm using off the wiki don't have the npm libraries for it installed.  Is

[2019-04-18 22:45] sjpadgett commented on #2376
Because of a couple os specific dependencies that need to be compiled on windows(Linux are precompiled and downloaded) it would be difficult to precompile the node tree for the project and make part of the npm project I setup for OpenEMR. Plus almost always node would need to be installed but many are using the feature and the install hasn't seem to befuddle anybody too much.
It would be great if

[2019-04-22 00:20] bradymiller commented on #2100
hi @morg0n ,
Just checking if you are still working on this issue?
thanks, -brady

[2019-04-22 00:32] bradymiller commented on #2366
hi @sjpadgett , I assumed that oeHttp was already setting them via some sort of magic.
$_SERVER['HTTP_APPSECRET'] (is session id)
$_SERVER['HTTP_APPTOKEN'] (is csrf token)
here:
https://github.com/openemr/openemr/blob/master/common/http/oeHttpRequest.php#L188-L195

Let me know if I am wrong on this. My brain is still working through this :)

[2019-04-22 00:54] sjpadgett commented on #2366
@bradymiller, lol, I guess I seem to be able to think ahead for this stuff but just can't remember doing it. Sorry. I guess i'm even more clever than I already tell the gals.:)

[2019-04-22 06:20] bradymiller commented on #2366
Go to things going on related to this (just noted for myself really):
1. The csrf thing
2. Ensure we are not sending headers with sessions id and csrf_token when outward connections with oeHttp calls (we converted 3 calls to using this in the past instead of get_file_contents() calls; for example: https://github.com/openemr/openemr/blob/master/controllers/C_Prescription.class.php#L163)

[2019-04-22 14:48] beched opened #2385 "Command Execution and file manipulation in scanned_notes form"
Hi,
The scanned_notes form is in the default repository, and people use it, although it's not activated by default.
The file https://github.com/openemr/openemr/blob/master/contrib/forms/scanned_notes/new.php contains a command injection vulnerability.
An attacker may inject the commands via $_GET['id'].

Data flow:
[code]

POC:
[code]

One of the possible fixes is to use check_file_dir_name functi

[2019-04-24 02:32] sjpadgett opened #2388 "Any sqlInsert() returns encrypted audit logs last insert id when turned on!"
This is a tough one. First, how it works. We do our audit logging in an extended class of ADODB_mysqli which further extends the execute base method to Execute method which wrappers the audit logging calls on any sql call that uses this Execute method(most all).
Within the Execute method we have this:
`$GLOBALS['lastidado']=$this->Insert_ID();
  EventAuditLogger::instance()->auditSQLEvent($sql, $o

[2019-04-24 06:55] mdsupport commented on #2388
Here is what we did long time ago for unrelated requirement.  It is older version but it addresses the issue.
[ADODB_mysqli_log.zip](https://github.com/openemr/openemr/files/3110932/ADODB_mysqli_log.zip)

[2019-04-24 15:54] sjpadgett commented on #2388
@mdsupport
Thanks for the code and response but, I don't think it will resolve this issue. No doubt it is best to keep the backed up last id with the class, the problem still remains with between the time of the original sqlInsert() call and the result of same being returned back to sqlInsert(), Execute will get called several times from within auditSQLEvent() resetting the backed up original last

[2019-04-24 16:42] bradymiller commented on #2388
"The bug" is back and appears to be my doing in the encryption engine. Plan to test and look into this today.

[2019-04-24 16:56] sjpadgett commented on #2388
Thanks Brady but i'm testing a fix now and will PR soon. Then you folks can
check me on it.

On Wed, Apr 24, 2019 at 12:42 PM Brady Miller <notifications@github.com>
wrote:

--
Jerry Padgett
Padgett's Consulting
Brandon, Florida 33511
sjpadgett@gmail.com <sjpadgett@gmailo.com>

[2019-04-24 17:55] sjpadgett commented on #2388
check out: https://github.com/openemr/openemr/pull/2390
Perhaps somebody may have better way to go....

[2019-04-24 18:25] mdsupport commented on #2388
If there executes recurse, you should try this:
1. In sqlInsert, use its own objDB rather than shared.
2. Perform Execute.
3. Retrieve preaudit status for your objDb rather than GLOBALS.

This assumes the audit code will continue using the shared object.

If you want to be absolutely sure:
a. In sqlInsert, set your own property for your objDB (e.g. `$objDB->lockUpdate1 = true;`)
b. In our code, ad

[2019-04-24 18:36] mdsupport commented on #2388
Not sure how #2390 fixes anything.  I thought you stated source of the problem to be multiple inserts and possible solution is to ignore inserts involving logs.  So one would expect strpos to look for log related tables.

And we made the $GLOBALS mess little bit worse.

[2019-04-24 19:11] sjpadgett commented on #2388
That global is not used/set anywhere else and is specific for Execute/Audit log. The problem boils down to any Execute called between the time of the first call ie within auditSQLEvent and the final return to the original calling function, the Global will be reset. Changing to a different variable and/or maintaining a history will just get reset as well on any subsequent call to Execute.
auditSQLE

[2019-04-24 19:39] mdsupport commented on #2388
If audit routines use `ExecuteNoLog` exclusively then merely removing the set_preAuditStatus call that we added should fix the original issue.
sqlInsert and getSqlLastID should use `$GLOBALS['adodb']['db']->get_preAuditStatus()['insert_id']` instead of  `$GLOBALS['lastidado']`.

Is there a specific test script you are using?

[2019-04-24 19:49] bradymiller commented on #2388
As a quick aside, I think I can fix the offending encryption code by running those encryption queries through the no log sql functions. Also agree with figuring out a fix in ADODB_mysqli_log to avoid these types of issues in the future (a goal for this fix would be to minimize any negative impact on performance).

[2019-04-24 19:54] sjpadgett commented on #2388
The best way to test this is by turning on Globals->Logging->Enable Audit Log Encryption then create an encounter form that uses sqlInsert(). For sure MBO.
The problem will present as when you view the saved MBO it will be empty and the entry in forms table will have the last log inserts id in column form_id.

[2019-04-25 04:16] bradymiller commented on #2388
On the quick aside, here's the fix in the offending encryption code:
https://github.com/openemr/openemr/pull/2392

Still agree that the underlying issue (or else this will likely come up again in the future) still needs to be fixed.

[2019-04-25 04:39] sjpadgett commented on #2388
My PR fixes unless mdsupport comes up with something else...

[2019-04-25 07:39] bradymiller commented on #2388
hi @sjpadgett ,

How about something like this:
https://github.com/bradymiller/openemr/commit/1bb7b99356c37efb99e629b15461765e1e9c22b5
(this does fix the current bug since the sqlQuery calls in encryption don't trigger the holding of the id)

If we went this route, then I could even tighten this further by only using sqlInsert call when need to get the id back. And in the places where just doing a

[2019-04-25 14:40] sjpadgett commented on #2388
Hi @bradymiller
Agreed and normally a sqlQuery and/or sqlStatement would not be used for an insert(except me of course, the rebel).
In the end though there is not an issue just as long as we stay away from doing any sql api calls in auditSQLEvent() that use Execute() and stick with nolog calls there.
Suggest we add a bold warning to auditSQLEvent() method to conform to this requirement and we shou

[2019-04-25 17:48] bradymiller commented on #2388
whole lot of fun :)
https://github.com/openemr/openemr/pull/2393

[2019-04-25 19:31] bradymiller commented on #2388
Fixes are now in codebase

[2019-04-25 19:31] #2388 closed

[2019-04-26 09:05] bradymiller commented on #2100
Gonna open this issue back up. Since this would be a very nice security improvement for 5.0.2 (which has a theme of improved security), I am going to try to work on this over the weekend.

[2019-04-26 09:09] bradymiller commented on #2100
Also, a question to the group (@danehrlich1 , @sunsetsystems , @adunsulag). Strategy wise, should we avoid anything that will make it clear the user account even exists . Such as simply giving a generic message when login fails (for any reason including being locked out): Login failed. Contact your Administrator if unable to login.

[2019-04-26 10:18] sunsetsystems commented on #2100
On further thought, I don't think it should be specific to the user. If someone is brute-forcing they are probably trying many different user names, and also you don't want to lock a user out just because they happen to be one of those. I like and use fail2ban, it works by monitoring system log files for offending IP addresses:

https://www.fail2ban.org/wiki/index.php/Main_Page

Wordpress has a pl

[2019-04-26 11:44] adunsulag commented on #2100
@bradymiller These are my personal security experiences I've had with dealing with login systems. These are the messages I typically give to users.  If you just give a generic message of login failed contact your administrator it will overload the admin with support calls.

Invalid Login Message:
Your username or password were invalid please try again or contact your Administrator for assistance.

[2019-04-26 19:35] sunsetsystems commented on #2100
@adunsulag I don't have any fail2ban configuration that is specific to OpenEMR or the portal. I currently use it for ssh, Postfix, Courier/SASL and experimentally with Wordpress.

I don't know much about ModSecurity. Would be interested to know your thoughts about how it can be leveraged, and if there's anything similar for nginx users.

[2019-04-27 18:22] mdsupport opened #2396 "compare_log_alerts"
Does anyone know impact of changing the default for compare_log_alerts function's `log_trigger` option from 'all' to 'new'?

Currently every invocation of this core function creates a new record even if nothing has changed.  That means every time a user requests patient demographics screen, complete copy of the widget is logged in the database.

Hoping there is a compelling reason for current logi

[2019-04-28 16:20] stephenwaite opened #2399 "whitescreen when saving globals"

[2019-04-28 17:15] bradymiller commented on #2399
Likely means you don't have write permission to:
sites/default/documents/logs_and_misc/methods/

Is this also happening on the dev demos?

[2019-04-28 18:02] bradymiller commented on #2399
Another possibility is didn't clear the prior docker volume before doing docker-compose up

[2019-04-28 23:14] stephenwaite commented on #2399
ok, thank you @bradymiller

[2019-04-28 23:14] #2399 closed

[2019-04-29 11:40] stephenwaite opened #2402 "provider not available bug"
https://community.open-emr.org/t/provider-not-available-for-creating-pt-appointment/12030

[2019-04-29 13:27] stephenwaite commented on #2402
looks like this bug pops up when you try to create an appt that's not the same day as the day you're entering so time to dive into @epsdky 's domain :smile_cat:

[2019-04-30 06:12] bradymiller commented on #2100
Added a very basic functionality for this issue here:
https://github.com/openemr/openemr/pull/2400
(optional and turned off by default)

[2019-04-30 21:05] morg0n commented on #2314
Hey if you all have room for another Contributor I can push some things through!

[2019-05-02 00:54] danehrlich1 commented on #2100
@sunsetsystems Tried to set up modsecurity a while ago. Most complicated thing I've ever done. I had to wind up contributing to the project lol I wound up doing so many fixes. Not worth it for the time being.

@bradymiller Yes nothing should give an indication the account exists. Also keep in mind the "forgot password" form. It should say 'if an account exists at that email, an email has been sent

[2019-05-02 01:39] adunsulag commented on #2100
@danehrlich1 @sunsetsystems It is a lot of work to setup the right rules for mod_security but it is highly effective as a web application firewall (WAF).  But I agree it is very complicated although I didn't run into the problems that @danehrlich1 did with having to modify the core code to make it function.  Our use cases might have been different.

Mod security is configurable per your applicatio

[2019-05-02 07:26] bradymiller commented on #2339
Here are eye form issues in php 7.3:
[code]

[2019-05-02 07:28] bradymiller commented on #1481
closing this since reporting these in a general php 7.3 issue: https://github.com/openemr/openemr/issues/2339

[2019-05-02 07:28] #1481 closed

[2019-05-03 18:34] stephenwaite opened #2410 "be nice to use ajax after signing a result"
hi @adunsulag , going to take you up on your kind offer from the weekend call for help with this :)

think I've found the section of [code](https://github.com/openemr/openemr/blob/master/interface/orders/single_order_results.php#L133-L143)

so thinking just use some jquery methods to hide the freshly signed order and not refresh `interface/orders/list_reports.php`

i'll start a pull request when a

[2019-05-04 07:13] #2347 closed

[2019-05-04 17:39] sjpadgett commented on #1117
Yep, this one just won't go away:) This is how i'm doing it. With patient:
![image](https://user-images.githubusercontent.com/1859985/57182766-243f5180-6e71-11e9-8982-c810c76f846b.png)

And without:
![image](https://user-images.githubusercontent.com/1859985/57182748-df1b1f80-6e70-11e9-9982-98a840b96062.png)
Logic is if search box is populated then will be a Any search else opens normal finder on i

[2019-05-05 02:31] sjpadgett commented on #1117
Here's my solution: https://github.com/openemr/openemr/pull/2413
@stephenwaite FYI

[2019-05-06 08:47] bradymiller commented on #2307
PR just brought in for this issue:
https://github.com/openemr/openemr/pull/2310
Thanks @cmccrea23 !
Closing this issue

[2019-05-06 08:47] #2307 closed

[2019-05-06 16:15] sjpadgett commented on #2410
@stephenwaite Is Related Patient Note not working fix a part of what you are doing here?

[2019-05-07 18:38] stephenwaite commented on #2410
hi @sjpadgett , not aware of that, is it another issue?

[2019-05-07 18:51] sjpadgett commented on #2410
Yep. Patient notes are called at least three different ways: Dashboard, Encounters and Procedures Order list via single order results. Two different closure types and from electronic reports order list as a new tab the check for tab mode is out of scope so, popup tries to open as if in frames u.i...
I have an idea how to fix but don't want to dup any of your efforts. Also if you haven't fix this i

[2019-05-07 19:08] sjpadgett opened #2417 "Remove function html_header_show() instances"
No longer used and while we're at cleaning up code wellll, why not.

[2019-05-07 20:18] morg0n commented on #2417
I can help!

[2019-05-07 20:25] stephenwaite commented on #2410
feel free to go ahead with your idea
this is for when there's a large number of results to be signed in list_reports

[2019-05-07 20:27] sjpadgett commented on #2417
Thanks @morg0n,
Give me a day to maybe add to this. Stuff like adding dirname(__FILE__) or at min './' to requires with relative paths as needed.
Also maybe note jquery version and check back with me to determine if we can update to current version ie 3.1.1.

[2019-05-07 20:42] sjpadgett commented on #2410
Okay so we have hundreds of un/reviewed results pending. Using the workflow I know, you have to select the order result anchor to bring up single_order_result, sign the results then close result window.
Whats the ajax call about? To open the single result or call an ajax on close? Is it list form refresh and if so, why not refresh order list to rid list of the newly reviewed result?

[2019-05-07 20:53] sjpadgett commented on #2410
Also I've greatly modified Electronic Reports to make multi lab sites easier along with having orphan orders work correctly including provider notifications. You can get gist from image
![image](https://user-images.githubusercontent.com/1859985/57332135-2828d900-70e8-11e9-9f39-add1eb3413f7.png)

I hope to get in this release once I make more generic dealing with providers.

[2019-05-07 21:04] morg0n commented on #2417
I got excited and did some things - I hope that wasn't terribly rude

[2019-05-07 21:08] stephenwaite commented on #2410
okay, nice
thought you could call an ajax on close and hide the just signed order unless somehow server didn't process

[2019-05-07 21:12] stephenwaite commented on #2402
addressed by https://github.com/openemr/openemr/pull/2416

[2019-05-07 22:21] sjpadgett commented on #2410
Okay got it. Most likely don't need to do an ajax call to refresh openers form and stay in result. Just refresh opener then submit current result form to show any changes. I'll just add this change to the patient note fixes which is one of those i'll have to hold my tongue just right... :)

[2019-05-07 23:53] sjpadgett commented on #2417
Not rude at all my friend. It's good for the soul to contrib to a worthy cause, is it not?

[2019-05-08 14:53] morg0n commented on #2417
Most definitely :) ~! It's the greatest Paladin playthrough!

[2019-05-11 20:09] bradymiller commented on #2417
Issue fixed and closing. thanks @morg0n !

[2019-05-11 20:09] #2417 closed

[2019-05-12 12:41] danehrlich1 commented on #1111
@MatthewVita please provide update

[2019-05-12 12:45] danehrlich1 opened #2424 "Google Cloud Build CI System"
currently determining features
want to limit build times
want to give us cool features

Official Cloud Builder plugins: https://github.com/GoogleCloudPlatform/cloud-buildershttps://github.com/GoogleCloudPlatform/cloud-builders

Community Cloud Builder plugins: https://github.com/GoogleCloudPlatform/cloud-builders-communityhttps://github.com/GoogleCloudPlatform/cloud-builders-community

[2019-05-12 13:06] danehrlich1 opened #2425 "Reduce size of repo that git is holding onto"
Codebase is coming in at 550 MB wow...Running `git gc --aggressive` takes off about 70 MB (see below screenshot) when I test it locally. Something more we can do though? This will kill ppl in 3rd world / low internet places, so that is why I mention.

![image](https://user-images.githubusercontent.com/3357202/57582623-c3c19d00-748c-11e9-9f76-1fb6905c61e2.png)

[2019-05-12 13:20] danehrlich1 commented on #2425
I'm running the program `bfg`. There seem to be a lot of `.tar.gz's` left over through the years, I've made this mistake myself from time to time. I'll paste the list I get here and some other file extensions that are likely safe to delete (exe, pem, zip, etc) for you to look through Brady.

Whatever I get I can then push to a branch for another round of inspections too.

[2019-05-12 13:22] danehrlich1 commented on #2425
Sorry wis the numbers were human readable :)
[code]

[2019-05-12 13:23] danehrlich1 commented on #2425
![image](https://user-images.githubusercontent.com/3357202/57582832-392e6d00-748f-11e9-9e67-ef1170b7346e.png)

[2019-05-12 13:25] danehrlich1 commented on #2425
All files larger than 3 MB:

![image](https://user-images.githubusercontent.com/3357202/57582847-801c6280-748f-11e9-90b3-4e64ef869036.png)

[2019-05-12 13:26] danehrlich1 commented on #2425
2 MB to 3 MB:
![image](https://user-images.githubusercontent.com/3357202/57582860-ab9f4d00-748f-11e9-8cff-8cce147e579d.png)

[2019-05-12 13:36] danehrlich1 commented on #2425
I can get it down to `343 MB` but that's it and I probably deleted too much. Anyone else have comments?

![image](https://user-images.githubusercontent.com/3357202/57582966-11d89f80-7491-11e9-8636-7c1fad874d89.png)

[2019-05-12 16:13] bradymiller commented on #2425
hi @danehrlich1 ,
It looks like you are giving the size of the entire git repository (ie. including files that have been changed etc.). For example, many of these files are not in the master branch, but other branches/versions. For example, phpMyAdmin-4.5.4.1-all-languages.tar.gz is not in the master branch (along with likely most of those files). Where are you deleting these files from?
-brady

[2019-05-12 17:36] morg0n commented on #2145
@danehrlich1 do I have enough battle XP for this one yet?

[2019-05-12 17:58] morg0n commented on #2356
I've been reading up on this and would be absolutely willing to help out!  I might need some guidance / extra advice regarding what to do and how though because I'm pretty unfamiliar with this :)

[2019-05-12 18:50] #2425 closed

[2019-05-12 20:03] danehrlich1 commented on #2145
@bradymiller @morg0n This is a good one. Did we put enough instructions? I can't remember if we detailed the how-to for ppl on how to do this...

[2019-05-12 22:11] MatthewVita commented on #1111
@danehrlich1 So much has happened/changed since Oct 4 2017. I'm still getting caught up with what I've missed over the past many months. I've written roadmaps in the past and while some of the projects take off, others do not. It's usually based around interest.

At this point, I'm still getting caught up and am waiting for Robert's report so that we can position ourselves to continue with your an

[2019-05-13 02:47] bradymiller commented on #2356
hi @morg0n ,
This will be a good project to work on after I get the following PR into the codebase:
https://github.com/openemr/openemr/pull/2426
(currently under code review)

[2019-05-13 02:48] bradymiller commented on #2145
hi @morg0n , @danehrlich1 , We are running low on places that need XSS fixes. Let me see if I can find any.

[2019-05-13 04:39] bradymiller commented on #2356
hi @morg0n , ok, just brought in the above linked PR, so ready for you to work on. For this project, you will wrap variables that are included in error_log command with the errorLogEscape() function. Here are 2 examples:
https://github.com/openemr/openemr/blob/master/library/billing/src/X12_5010_837P.php#L699
https://github.com/openemr/openemr/blob/master/portal/account/account.lib.php#L202

[2019-05-13 13:27] sjpadgett commented on #2356
Hi @bradymiller , Do ya know the best way to get around having to escape error logging? Don't have any errors!:)
Seriously, aren't we worried about escaping the file writes and not necessarily with passing a string/object in PHP? I don't understand why we can't escape in the logging function. The errors originate outside the UI and wouldn't be any different than passing a variable in any other PHP

[2019-05-13 19:48] morg0n commented on #2356
Okay, sounds good!  I will start here as directed, and then if the situation changes it will have been good practice haha.

[2019-05-14 14:40] #1117 closed

[2019-05-14 19:15] stephenwaite commented on #1955
looks like this was solved by removing the click function to open the dialog from all but the edit button and the type link (usually unassigned), for usability should this be extended?

[2019-05-15 02:00] sjpadgett commented on #1955
Hi @stephenwaite I'm almost finished with the fixes for Related/Patient Notes working in all three UI cases and your sign and stay for single results. As you will see from the PR it required getting creative for sure:). I'm addressing this issue in PR with removing the pointer cursor for entire row and restyle so edit and delete buttons are inline instead of stacked.
Two chances at edit select wit

[2019-05-15 14:56] sjpadgett commented on #2410
https://github.com/openemr/openemr/pull/2433 address this along with other issues

[2019-05-15 14:56] #2410 closed

[2019-05-15 19:46] sjpadgett commented on #2410
Hi @stephenwaite I just thought you might be curious how I did this you can view changes here:
https://github.com/openemr/openemr/blob/8e19993839bb12221046affdaa64a23db51c65b2/interface/orders/single_order_results.php#L147-L148
Just dropped window.close() and recalled script. Could have submitted the current form as well but I hate to type so took easy way.

[2019-05-15 20:19] stephenwaite commented on #2410
ok, thank you @sjpadgett , so this lets you stay on the page after signing right?

[2019-05-15 20:24] stephenwaite commented on #2410
what was thinking of implementing would be to sign the result and return to list_reports via ajax so wouldn't have to reload the entire page from a slow sftp site or when there are hundreds of results to be reviewed

[2019-05-15 21:13] sjpadgett commented on #2410
Correct. It will basically refresh and show if the signing completed or allow you to to sign past results if you forgot to select before signing. ie you sign the latest result but did not select all results causing some results to not be sign. So the list will get refreshed and single result popup/window stays open til closed.
I don't understand what an ajax will get you! Previously on signing, th

[2019-05-15 22:47] stephenwaite commented on #2410
:) ok, thanks for the detailed explanation
ps didn't mean to request staying on the signed result but it sounds pretty neat what you've done with any results that they may have wished to sign

[2019-05-15 23:30] sjpadgett commented on #2410
okay. i'm going to leave PR up til tomorrow and see what it will take to
bring in my electronic report. I'm guessing you have more than one lab you
result from so maybe you can test for me to see if it will work for entire
community ie the workflow as I have running on several large lab sites
using major labs so it works well.

On Wed, May 15, 2019 at 6:47 PM stephen waite <notifications@github.co

[2019-05-16 16:30] stephenwaite commented on #2410
no, just one lab for this account, starting to wonder if the patient matching somehow led to a bottle neck

[2019-05-16 16:38] sjpadgett commented on #2410
nope you were right. left you a note in PR.

On Thu, May 16, 2019 at 12:30 PM stephen waite <notifications@github.com>
wrote:

--
Jerry Padgett
Padgett's Consulting
Brandon, Florida 33511
sjpadgett@gmail.com <sjpadgett@gmailo.com>

[2019-05-19 01:23] bradymiller commented on #2366
above issues have been addressed

[2019-05-19 01:23] #2366 closed

[2019-05-19 01:26] bradymiller commented on #2385
hi @beched ,
Thanks for this report. This has been fixed:
https://github.com/openemr/openemr/pull/2423

[2019-05-19 01:26] #2385 closed

[2019-05-19 20:31] bradymiller commented on #1779
A fix for this was brought into main codebase which will be in OpenEMR 5.0.2:
https://github.com/openemr/openemr/commit/ea16b369c71ecba3bcece727cdb335648b9624b0

[2019-05-19 20:31] #1779 closed

[2019-05-20 06:54] bradymiller commented on #1782
I confirmed that all above vulnerabilities in above link have been addressed, so closing this issue.

[2019-05-20 06:54] #1782 closed

[2019-05-21 01:35] robertogagliotta commented on #2293
Hi @sjpadgett
I tested the non provider user creating encounters
Physicians and Clinicians non providers are able to create the encounter, but the encounter does not show in the caLENDAR.
Front Office users are not able to create encounter because visit category drop down list is lock.
Probably these is the original design. I don't know. What do you think?

[2019-05-21 03:55] sjpadgett commented on #2293
@robertogagliotta Creating, permissions etc is not the issue but many of our lookups instead. ie if an encounter is created by a user w/o provider flag then most our lookups will not report the user as the owner of the encounter probably because the sqls use the provider flag as a delim for lookup.
Even the encounter history/summary doesn't display creator.

[2019-05-21 21:41] robertogagliotta commented on #2293
@sjpadgett
 Prevent user that does not have Provider set in users from creating encounters is a good solution, I will dig into the code.

[2019-05-21 21:52] sjpadgett commented on #2293
@robertogagliotta I don't think that is going to work because many times a receptionist or LPN or someone doing the pre screening may not have provider status but wants to have encounter ready for doctor. thus creating and doing vitals etc.
We need to have some of our clinicians and/or doctors to give some guidance for best way to handle.
If up to me i'd say if user doesn't have provider flag set

[2019-05-21 22:40] robertogagliotta commented on #2293
TRUE, when I go to see my doc. Some one else takes (clinician) my vitals first. Therefore the encounter needs to be created for the clinician/nurse. In this case the clinician should be provider. All the  uses groups can be provider according to out Add User Interface.
The point is that users non providers have not able to create encounter.

[2019-05-21 22:45] sjpadgett commented on #2293
I'd say go ahead and look into changing encounter to alert if user is not a
provider and lets see what Doctor Brady has to say.

On Tue, May 21, 2019 at 6:40 PM Roberto Vasquez <notifications@github.com>
wrote:

--
Jerry Padgett
Padgett's Consulting
Brandon, Florida 33511
sjpadgett@gmail.com <sjpadgett@gmailo.com>

[2019-05-21 23:21] robertogagliotta commented on #2293
Other option could be to look out the Create Visit tab when the user is non provider.
I ll check this option also.
We ll see what Brady say

[2019-05-22 08:25] bradymiller commented on #2293
Hi,
Recommend seeing how the encounter autogeneration works by grepping for is_tracker_encounter_exist() . Note it uses the provider from the appointment to autocreate the encounter. So, probably need a mechanism for a user that manually creates a encounter to set the provider for it.
-brady

[2019-05-22 22:44] bradymiller commented on #2356
hi @sjpadgett ,
Not sure how I missed your post; sorry about not responding before bringing in the above commit. This escaping function is only for the php error_log function and not OpenEMR's Logging stuff. The vulnerability is a bit far fetched and is:
1. OpenEMR outputs to the php error log
2. A web based error log reader outputs the php error log to html and is hit with the vulnerable code (my

[2019-05-22 23:09] morg0n commented on #2161
Should I consider hopping in here?

[2019-05-22 23:14] VutifulJoe commented on #2161
Hi @morg0n feel free to hop in.  I finished this a while ago on my local machine.  But never been able to push up my code (account/permission issues).  Little busy to figure it out and won't have time.  So feel free to take it!  Thank you!

[2019-05-22 23:15] morg0n commented on #2161
Thanks heaps, I'll get started :) !

[2019-05-22 23:15] david-vu commented on #2161
Hi @morg0n feel free to hop in. I finished this a while ago on my local machine. But never been able to push up my code (account/permission issues). Little busy to figure it out and won't have time. So feel free to take it! Thank you!

[2019-05-23 07:42] bradymiller commented on #2339
Addressed all above warnings/deprecated in following PR:
https://github.com/openemr/openemr/pull/2445

[2019-05-23 16:35] robertogagliotta commented on #2293
Hi @sjpadgett @bradymiller
openemr dev allow only physicians to create encounter, the other access control groups cannot create encounters even if the clinician has being checked provider when the user created.
I believe that what we want is to allow some access control groups/ clinicians to set the provider/physician and create the encounter
Is this the objective?

[2019-05-24 18:12] robertogagliotta commented on #2293
function is_tracker_encounter_exist($apptdate, $appttime, $pid, $eid)
$enc_yn = sqlQuery("SELECT encounter from patient_tracker WHERE `apptdate` = ? AND encounter > 0 " .
        "AND `eid` = ? AND `pid` = ?", array($apptdate, $eid, $pid));
Table patient_tracker hold the provider in the **"original_user" field**; the function tracker_encounter_exist does not query the original_user or the provider

[2019-05-25 08:46] bradymiller commented on #2339
Just brought in fixes into codebase. Going to keep this issue up since a in depth test run of OpenEMR (ie. test everything imaginable) on php 7.3 is still needed.

[2019-05-25 20:26] morg0n commented on #2024
Hi all!  Looking back on this issue - so as the functions take raw data, the introduction of a zip file as a parameter /wouldn't/ work then, right (because it wouldn't be efficacious for those bigger backup files)?  Trying to figure out where this landed as far as how I ought to move forward with it :) not sure if I came to the right conclusion there

[2019-05-26 03:21] robertogagliotta commented on #2293
When we make the appointment in the calendar we enter the provider. This provider can be selected or changed  in the create visit UI.
Some that needs to be modified also is the Administration Users-Create User Form allow to set Provider up to any group.

[2019-05-27 17:21] nemobis opened #2451 "Add publiccode.yml"
Would you be interested in a patch to add a metadata file like https://github.com/globaleaks/GlobaLeaks/blob/master/publiccode.yml ? It's necessary to be included in https://developers.italia.it/en/software/ , the list of free software which the Italian state will heavily advertise to the public sector in Italy.

[2019-05-28 01:56] stephenwaite commented on #2402
@bradymiller fixed this https://github.com/openemr/openemr/pull/2416

[2019-05-28 01:56] #2402 closed

[2019-05-28 04:01] bradymiller opened #2452 "procedure error"
If I enter in a procedure order in encounter->Administration->Procedure Order and then go back to the encounter screen, get following sql error:
![image](https://user-images.githubusercontent.com/278968/58450141-83843080-80c2-11e9-948d-dcc6931f0043.png)

[2019-05-28 06:34] bradymiller commented on #2024
hi @morg0n ,
There are 3 main issues here:
1. Passphrase encryption. We have solved this now in the codebase (https://github.com/openemr/openemr/issues/2196), so can check that off the list.
2. Encrypting large files. Not solved. I think would need to look into how to encrypt a stream rather than a full file; this may not be too tough.
3. Decryption mechanism. Now a person downloads a backup file,

[2019-05-28 06:39] bradymiller commented on #2451
hi @nemobis ,
Definitely would be interested. Just submit a PR.

[2019-05-28 11:14] neex opened #2454 "unserialize call in PostCalendar/pnuser.php may lead to RCE"
This issue is a particular example of #1984.

`unserialize` php function is called on user data in function `postcalendar_user_submit` of `interface/main/calendar/modules/PostCalendar/pnuser.php`:

[code]

This function can be triggered by any authorized user by visiting `http://openemr-installation/interface/main/calendar/index.php?module=PostCalendar&type=user&func=submit`.

The exploitation exa

[2019-05-28 14:31] sjpadgett commented on #2293
Hi @robertogagliotta I checked most of our encounter references in reports etc and only have found this an issue with populating the encounter visit summary by field and certain CCM's API methods. I just did a fix in our patient.inc api and will included in my next PR.
Not sure if this issue pops up elsewhere, my gut says it will, the api fix will make it easy to address if it does.
If you're curi

[2019-05-29 07:45] bradymiller commented on #2454
Confirmed issue and researching strategy to fix this.

[2019-05-29 17:50] bradymiller commented on #2454
short term fix in codebase now:
https://github.com/openemr/openemr/pull/2456

working on better fix here:
https://github.com/openemr/openemr/pull/2457

(btw @neex , thanks for this report)

[2019-05-29 17:54] bradymiller commented on #1984
working on fix here:
https://github.com/openemr/openemr/pull/2457

[2019-05-30 01:07] danehrlich1 commented on #2454
Unserialize needs to be removed throughout the entire codebase. @bradymiller going to message you now.

[2019-05-30 01:09] danehrlich1 commented on #2378
Joshua:

Can you work on this issue at some point? Consider it a separate project.
We'll discuss scope later. Should be very simple once we fix ModSecurity.
No reason we can't finish it by end of summer worst case scenario

On Fri, Apr 12, 2019 at 2:08 AM Junel Solis <notifications@github.com>
wrote:

[2019-05-30 02:00] sjpadgett commented on #2454
I may agree using json is a better choice but simply doing another wrapper function that will still leave a vulnerability is not a solution to me. Plus you're not really sanitizing but adding a parameter to an existing function call. This gets confusing to future devs as if hey, I can use this because it is sanitized. You have to look at how the data interchanges are being used to determine exposu

[2019-05-30 02:14] bradymiller commented on #2454
Yep, no need to lose our heads here :)
Probably be a week before the "working on better fix" will be ready (note that current "sanitize" function is really just a crutch for me as I sort out the use cases and way forward.
(as an aside, there is at least one key place where removing unserialize would be detrimental in the recurrent appt piece, and with 7.1, which is required for openemr 5.0.2, usin

[2019-05-30 03:37] sjpadgett opened #2459 "Eligibility Batch Upload and Report Issues."
@stephenwaite reported and i've verified an issue with batch 271 parsing and uploads eventually not reporting correctly in demographics so, off we go... :)
Stephen, have you ever been able to get a batch 270 (I think you mainly do VT medicaid) sent and then parsed 271 ie you should at least see the parsed reporting in the eligibility tables.

[2019-05-30 06:02] danehrlich1 commented on #2424
@joshuaaguilar20 This is similar to what is going to be implemented for ModSecurity (although I only did a little bit so far on this project for OpenEMR).

Then we will double back to OpenEMR and finish out this CI/CD system :)

[2019-05-30 06:05] danehrlich1 commented on #2424
@joshuaaguilar20 Example in the openemr-devops repo (not sure why I created the issue here and then did the work in another repo lol): https://github.com/openemr/openemr-devops/tree/feature/gh-194/docker/openemr

[2019-05-30 06:15] danehrlich1 commented on #2010
@joshuaaguilar20 Also note this pull request: https://github.com/openemr/openemr/pull/2118

[2019-05-30 07:28] sjpadgett commented on #2459
Strange how the file uploading for 271 batch has ever worked or i'm thinking the archiving paths may have been broken. @stephenwaite i'm just going to email you what I think is a fix if you want to test. If okay i'll PR fix once I commit a large PR I have pending(i'm too lazy to stash it).

[2019-05-30 21:21] stephenwaite commented on #2459
271 looks great except for a month date flip flop in the eligibility display however the 270 looks like it's having trouble sending the date of the appointment and instead is grabbing older dates

[2019-05-30 21:24] stephenwaite commented on #2459
oh it's grabbing the effective date of the insurance when it really should check on the date of the appointment right?

[2019-05-31 06:20] sjpadgett commented on #2459
lol, It seems as we get older, everything shrinks. For some things it's just irksome but, my brain, now that's plain aggravating. I remember there were issues with dates with my beta site and OA. I just can't remember why I landed on what is current or even if you have most current version of 270.

This may even be something that needs to be configurable in partner setup so let me know what you th

[2019-05-31 13:17] stephenwaite commented on #2459
yup, i've emailed AdministrativeSimplification@cms.hhs.gov and received some helpful guidance on 5010 835s, be glad to share it when appropriate

anyways, should be able to grab the dates from what is inputted into the form, also noted an issue on the open-emr.org demo and my local 5.0.1(7) instance,

Query Error
 ERROR: query failed: SELECT DATE_FORMAT(e.pc_eventDate, '%Y%m%d') as pc_eventDate, e

[2019-05-31 23:44] sjpadgett commented on #2459
I see the date dd/mm flip so will fix. The appointment date is correct from all my testing and realtime uses the same date. So for sending older appointment dates you'll need to give some more guidance. Could have something to do with recurring appts or such.
However looking further into what dates are allowed to populate 2100C DTP03 Service Date seems they can vary widely across payers. Many don'

[2019-06-01 15:35] sjpadgett commented on #2459
Hi @stephenwaite ,
I've decided the best way to handle service date is to rob the now unused ETIN setup in partner and add a pull down of: Service Date DTP03
- Current Date
- Subscriber Effective Date
- Appointment Date

Will make default Current Date as clearing houses most likely support future dates, many payers don't.
Let me know if disagree.

[2019-06-01 17:24] stephenwaite commented on #2459
hi @sjpadgett , personally i use the ETIN setup field so would be against that, sorry

[2019-06-01 17:29] sjpadgett commented on #2459
Okay, i'll just add a new field in case other fields are use in custom
stuff. Caught me just in time as I was about to rename the darn thing. :)

On Sat, Jun 1, 2019 at 1:24 PM stephen waite <notifications@github.com>
wrote:

--
Jerry Padgett
Padgett's Consulting
Brandon, Florida 33511
sjpadgett@gmail.com <sjpadgett@gmailo.com>

[2019-06-01 22:32] sjpadgett commented on #2459
Okay I think i've recreated old dates so if looking @stephenwaite stop and have a cup of joe.

[2019-06-02 09:16] sjpadgett commented on #2459
Looks like if practice uses lots of recurring events, this report is useless! Appointments sets the first appointments eventdate then adds an enddate for last recurring event. So if report date range is outside recurring initial eventdate but a recurring event is in range, it's not picked up. Also if an expired initial event date is in the range with also an upcoming recurring event date then the

[2019-06-02 17:55] stephenwaite commented on #2459
ok, wow, think i follow you, what @bradymiller calls post _puke_ calendar

[2019-06-02 20:11] stephenwaite commented on #2452
more picking on @sjpadgett :)
when brought in https://github.com/openemr/openemr/commit/52fb369a2bedb134bc1db3cc634c3d4c2c9eae17

looks like in https://github.com/openemr/openemr/blob/master/interface/orders/single_order_results.inc.php#L328 the po.order_diagnosis field needs to be changed to pc.diagnoses where pc is procedure_order_code

[2019-06-02 21:57] sjpadgett commented on #2459
So for batch 270 report it looks like folks have to delete all but one insurance before generating batch download, true? Otherwise all patients will be included in batch regardless of insurance essentially a no no...

[2019-06-03 01:15] sjpadgett commented on #2452
nope, I added new feature to procedure order of a auto primary diagnosis field not in codebase yet. they're pulled from problems and issues so you don't have to add a diagnosis to each test. I'll add afix in batch PR i'm trying to put up tonight.

[2019-06-03 05:56] bradymiller commented on #2459
post puke is getting very slimmed down:
https://github.com/openemr/openemr/pull/2457
(14K lines of code removes so far :) )

[2019-06-03 05:59] bradymiller commented on #2459
Regarding the recurrent appt, you are correct in using the appointments api for this. @epsdky cleaned out some mind bending bugs in that code in the past. (fyi, in legacy code, it looks like devs just ignored recurrent appt; this has been addressed in most places, but sounds like you found a place that has not yet been addressed).

[2019-06-03 09:46] sjpadgett commented on #2459
lol well of course Brady. it could be the very last obscure bug in OpenEMR and somehow, i'd find myself walking into it:)
The API does seem to run better and i've noted that flow board also seems to run better. Still, recurring events are a pain but I don't know a better way.

[2019-06-03 10:37] sjpadgett commented on #2459
fixed https://github.com/openemr/openemr/pull/2466
Prob should add insurance search param to report due to only one insurance at a time can be in batch or maybe search by x12 partner but will leave for someone else...

[2019-06-03 10:37] #2459 closed

[2019-06-03 10:40] sjpadgett commented on #2452
Decided to add missing column to table so will be ready when I get around to bringing in improved procedure orders form.
https://github.com/openemr/openemr/pull/2466

[2019-06-03 13:10] stephenwaite commented on #2452
have you noticed @sjpadgett how the code select is non-intuitive? for instance if you go to select a dx it will add it but doesn't notify you that it's been added and expects you to close the window (before you click on other dxs and bring those in too which you then have to delete but you have no idea of what you're deleting? :) )

guess i should have started a new issue :)

[2019-06-03 13:31] sjpadgett commented on #2452
I have Stephen. Something i've had thoughts on like adding a selected panel in the finder that allows one to both see what has been selected and/or edit selections in the finder.
It could get dicey to popup finder and put in single select mode and auto close after each selection with the dicey part being delete. Thats why you can't delete one code from a list but all codes are deleted.
I suppose I

[2019-06-05 06:09] bradymiller commented on #2454
Committed a medium term fix here:
https://github.com/openemr/openemr/pull/2457

Plan a longer term fix where look at each use case and convert it to something else (if it makes sense to change it to something else).

[2019-06-05 06:12] bradymiller commented on #2454
The specific vulnerability is fixed in codebase now (the offending code no longer even exists :) ), so will close this issue and continue generic work on the unserialize issue here:
https://github.com/openemr/openemr/issues/1984

[2019-06-05 06:12] #2454 closed

[2019-06-05 06:13] bradymiller commented on #1984
Committed a medium term fix here:
https://github.com/openemr/openemr/pull/2457

Plan a longer term fix where look at each use case and convert it to something else (if it makes sense to change it to something else).

[2019-06-05 07:47] bradymiller commented on #2452
confirmed this fix in codebase. thanks @sjpadgett and @stephenwaite !!
Gonna close this issue (trying to close issues to get ready for the release :) ); rec making another issue if plan how to improve code select.

[2019-06-05 07:47] #2452 closed

[2019-06-05 08:52] bradymiller commented on #2356
completed here:
https://github.com/openemr/openemr/pull/2469

[2019-06-05 08:52] #2356 closed

[2019-06-05 12:49] stephenwaite commented on #2452
thank you @bradymiller, thanks for the nice improvements Jerry :)

[2019-06-05 18:38] vashishta commented on #1661
@robertdown any update on this issue, as it still persists.

[2019-06-07 07:24] bradymiller commented on #2181
The critical pieces are completed and can work on the rest for future 5.0.3 release (so changed milestone tag from 5.0.2 to 5.0.3).

[2019-06-07 07:32] bradymiller commented on #2024
hi @morg0n ,
To further expand on this. I would take the following approach.

First. Add 2 functions to the current API that does encryption and decryption. See this class to get an idea how encryption/decryption is done (https://github.com/openemr/openemr/blob/master/src/Common/Crypto/CryptoGen.php#L5-L17). Will basically be a POST api call that will have 'passphrase' parameter to hold the passwo

[2019-06-07 08:21] bradymiller commented on #1038
Gonna close this since no longer an issue in 5.0.2 (this is because of this code here:
https://github.com/openemr/openemr/blob/master/interface/main/main_screen.php#L485-L487
https://github.com/openemr/openemr/blob/master/interface/main/tabs/main.php#L23-L30
)

[2019-06-07 08:21] #1038 closed

[2019-06-07 08:25] bradymiller commented on #1389
Going to close this issue

[2019-06-07 08:25] #1389 closed

[2019-06-07 18:22] litemikx commented on #2274
Is this still open? Would also like to explore on this one since I'm not that familiar with PHP.

Thanks! :)

[2019-06-08 04:54] bradymiller commented on #2285
fixed

[2019-06-08 04:54] #2285 closed

[2019-06-10 06:26] #2127 closed

[2019-06-10 06:27] #2128 closed

[2019-06-10 06:28] #2396 closed

[2019-06-10 06:28] #2041 closed

[2019-06-10 07:46] mdsupport commented on #2368
@sharonco-matrix, you could look at our approach detailed on the [community forum](https://community.open-emr.org/t/new-features-improvements/12089).  It provides a generic class that can render various fragments of information about the patient. This permits us to customize number of columns and the contents per role and/or user.  Related code is shared under our contrib branch.

[2019-06-10 08:08] bradymiller commented on #2274
hi @litemikx , Definitely still open. Go for it :)  -brady

[2019-06-11 08:32] sharonco-matrix commented on #2368
I just opened a pr not for really integrating it but for everyone to take a look.
I think we are all deriving to the same direction but in different vehicles. Why don't we make an effort to unite forces an finally make this happen? @mdsupport @bradymiller

[2019-06-11 11:12] sjpadgett commented on #2368
I think serious attention should be paid to this contribution. While I have not looked at in detail, the engineering pattern is proven and solid.
Finally we have a concerted effort in terms of real code addressing this nagging issue and we would be foolish to pass up.
We should look closely here, make a decision and integrate in 5.0.2. No sense waiting another year for 5.0.3 as that release is goi

[2019-06-12 15:19] TomHsiung opened #2479 "ICD not working"
I have installed the openEMR for Linux on my Ubuntu server. I am noob to openEMR but it seems that the ICD searching function did not work. Nothing feedback after searching.

Tom

[2019-06-12 19:26] mdsupport commented on #2373
If you administer meds in office and use inventory, you can use the 'templates' to set a meaningful name.
e.g. Instead of defining a common shot of Gardasil, define 3 identical dosages for Gardasil#1, Gardasil#2 and Gardasil#3.  Then record appropriate shot when given.

[2019-06-12 19:29] mdsupport commented on #2479
Did you load the files via Admin -> Other -> External Data Loads?

[2019-06-13 10:25] TomHsiung commented on #2479
Not yet. So I must install the external data base by myself? Where to get these external databases? Thank you.

[2019-06-13 15:55] mdsupport commented on #2479
Install source includes relatively recent data files for various code sets if there are no licensing issues.  In every case there are instructions on where to get the latest files.  See [this wiki page](https://www.open-emr.org/wiki/index.php/Import_Standard_Tables) for more.

[2019-06-13 18:41] mdsupport commented on #2479
[Demo systems](https://www.open-emr.org/demo/) are great resources to make sure your system is set up correctly.  It resets daily.  I loaded ICD10s in main system.  You can try others to confirm standard process works.  Then go back to your system and find setup issues.  It could be as simple as the directory permissions not in accordance with install instructions.  Then start with running same qu

[2019-06-13 19:15] TomHsiung commented on #2479
I don't know which part is wrong.

[2019-06-13 21:22] sjpadgett commented on #2376
Closing this because it is just not implemented for the HIE interop to distant however queueing documents worked last I checked. Okay @adunsulag ?

[2019-06-14 02:44] mdsupport commented on #2479
All the best.

[2019-06-14 02:45] bradymiller opened #2483 "try to remove directories that travis psr2 check ignores"
See here for the ignored directories. Just try one at a time and see what happens.
https://github.com/openemr/openemr/blob/master/ci/ci.sh#L44-L50

[2019-06-14 02:49] bradymiller commented on #2479
hi @TomHsiung ,

Possible your mysql/mariadb is set to not support LOAD DATA LOCAL INFILE
https://stackoverflow.com/questions/10762239/mysql-enable-load-data-local-infile

Note most default setups of mysql/mariadb supports this, although this seems to be more of an issue on shared hosting

[2019-06-14 06:25] TomHsiung commented on #2479
I'm not a coder. I am a pharmacist. Sorry, I know little about computer.

Tom

[2019-06-14 07:02] TomHsiung commented on #2479
Seems like a issue caused by PHP configuration.

![Screen Shot 2019-06-14 at 3 02 14 PM](https://user-images.githubusercontent.com/6930263/59489689-797d7280-8eb5-11e9-9b8f-1f3f427e40ac.png)

[2019-06-14 07:54] TomHsiung opened #2484 "brute force attack prevention"
Because the openEMR is web based program. So it is open to the public Internet. I wonder if the openEMR program has preventive strategy against brute force attacks. Thank you.

Tom

[2019-06-14 12:29] TomHsiung opened #2486 "I mistakenly added a contact information of a patient"
Hello, sir

I mistakenly added a wrong address of my patient. How to delete the wrong address from the system? Thank you.

Tom

[2019-06-14 17:26] TomHsiung opened #2487 "RxNorm not working"
I just installed the RxNorm package. But the there is no RxNorm under administration > codes

Tom

[2019-06-14 19:42] mdsupport commented on #2486
[Community forum](https://community.open-emr.org/) is a good resource for this.

[2019-06-14 19:42] mdsupport commented on #2487
[Community forum](https://community.open-emr.org/) is a good resource for this.

[2019-06-14 19:42] mdsupport commented on #2484
[Community forum](https://community.open-emr.org/) is a good resource for this.

[2019-06-15 13:00] adunsulag commented on #2376
That works for me.

[2019-06-15 13:32] #2376 closed

[2019-06-15 15:40] adunsulag commented on #1524
@bradymiller You can assign this to me.  I've been working on it and fixing a number of issues in the care coordination module with PHP7.X support.

[2019-06-15 15:53] adunsulag commented on #1576
@sjpadgett Might as well assign this to me.  I believe I have these all resolved with the other CCM issues I'm fixing but I can double check it.

[2019-06-15 15:54] adunsulag commented on #1560
@sjpadgett Here's another one all part of the CCM.

[2019-06-15 16:38] #2484 closed

[2019-06-15 16:47] mdsupport opened #2489 "GLOBALS creep"
Over the years approach of setting any and every option using GLOBALS mechanism has created unprofessional setup that builds huge collection of unrelated elements every time a script runs.

Suggest the following guidelines:
1. Infrastructure stuff like directories (including the mkdir calls) be moved to SESSION setup during login.  If any UI is going to affect these values, include code to update

[2019-06-15 17:13] bradymiller commented on #2479
hi @TomHsiung ,
thanks for the report
-brady

[2019-06-16 08:25] TomHsiung commented on #2486
Got it. The administrator is able to modify these and other information under Administration > Lists.

Tom

[2019-06-17 05:58] danehrlich1 commented on #2330
@anromeo @bradymiller Is this still worth working on? Even with all the calendar code you had to take out?

[2019-06-17 06:00] danehrlich1 commented on #2157
There are a number of XSS issues @bradymiller. Sadly I created like 2/3 of them lol. What is actually left to be done regarding XSS? Can you give an overview and I can attempt to assign to someone good?

[2019-06-17 06:00] bradymiller commented on #2330
yes, still have calendar code, facilities code, and phpgacl code that uses this. The yanking of most of the calendar code should make it easier though :)

[2019-06-17 06:00] danehrlich1 commented on #2145
@bradymiller Yeah that's what I'm thinking and I just mentioned in another comment.

[2019-06-17 06:01] danehrlich1 commented on #2010
@joshuaaguilar20 do this

[2019-06-17 06:02] bradymiller commented on #2157
hi @danehrlich1 ,
Probably time to remove all the XSS issues since I don't think we have any more (famous last words :) )

[2019-06-17 06:03] danehrlich1 commented on #2330
Anthony:

Status? I will still keep contract the same even though there should be
less work for you now if you can finish by end of June. That's about 2
weeks.

On Mon, Jun 17, 2019 at 1:00 AM Brady Miller <notifications@github.com>
wrote:

[2019-06-17 06:13] bradymiller commented on #1955
@stephenwaite , Just checking if we can close this? -brady

[2019-06-17 10:23] stephenwaite commented on #1955
sure, thank you Jerry and Brady

[2019-06-17 10:23] #1955 closed

[2019-06-17 15:47] anromeo commented on #2330
Hi Dan!

I probably need that week or two, but I'll finish before July. I just have
been so overcommitted recently.

Kind regards,
Anthony

On Sun, Jun 16, 2019 at 11:03 PM Dan Ehrlich <notifications@github.com>
wrote:

[2019-06-19 16:22] joshuaaguilar20 opened #2496 "reorganize/Caching Client Side"
Looking to reorganize the structure of this project. I find the Achilles heel of the entire project is the structure. I would love to seperate the Js from the PHP files, removed a lot of unused functions, updates.

What I generally do is :

    put as much JS as possible in a .js file (for caching on the client-side and all that)
    this JS code uses a JS variable
    that JS variable is declared

[2019-06-19 16:43] joshuaaguilar20 commented on #2496
So between your server code and your client code, the uniq glue you've to put is the model object in Json format (or whatever format you need). This way, you can develop code in the view that is reusable by any kind of server code, and thus, you can develop your application logic with different server technologies.

[2019-06-20 01:20] adunsulag commented on #2496
@joshuaaguilar20 What you propose is fairly ambitious recognizing that the codebase is hundreds of thousands of lines of code.  Your more than welcome to start chipping away at this kind of thing by creating pull requests.  Although its probably best to start in an area you are interested in to stick with the refactoring.

You can look at how other projects do this for example wordpress's localize

[2019-06-20 04:17] bradymiller commented on #2339
Hi,
Alpine Edge just incremented their PHP version to 7.3. So now will be easier to test PHP 7.3. Can now use the flex-edge docker, which is now using PHP 7.3. Or even easier, can test from this development demo that is now using PHP 7.3: https://www.open-emr.org/wiki/index.php/Development_Demo#Alternate_Demo_.28Alpine_Edge_-_uses_php_7.3.29

[2019-06-20 08:02] bradymiller opened #2499 "Complete testing/reporting of all scripts for php 7.4(alpha) warnings/errors"
The insane docker development environment now allows testing of php 7.4(alpha):
https://github.com/openemr/openemr/pull/2498

So, this opens the door for folks to test and fix warnings/errors for php 7.4. Go get em :)

[2019-06-20 18:38] stephenwaite commented on #2339
thank you @bradymiller , should we attempt to fix the wordpress files?
`20-Jun-2019 14:03:35 UTC] PHP Warning:  Illegal string offset 'output_key' in /var/www/localhost/htdocs/wordpress/wp-includes/nav-menu.php on line 604`