[2020-07-10 01:10] #3708 closed

[2020-07-10 01:11] sjpadgett commented on #3686
fixed

[2020-07-10 01:11] #3686 closed

[2020-07-10 16:11] stu01509 commented on #3695
Hi @ophthal

Sorry for the late reply, Now I reproduce the same issue, only found the Flow Board -> File > Steup MedEX the submenu overflow, Is right?

![image](https://user-images.githubusercontent.com/22230889/87175282-0427df80-c30b-11ea-8118-3ddee9c99a9a.png)

[2020-07-11 12:28] yashrajbothra opened #3734 "Sorting Arrow Issue"
### Describe the bug

Multiple Arrow Colliding with each other

### To Reproduce

![image](https://user-images.githubusercontent.com/47683556/87223461-c5416a80-c39a-11ea-836f-00708a1013ac.png)

Steps to reproduce the behaviour:
1. Goto Patients->Select Any Patient-> Add/Edit Allergy-> Add Coding
2. Now Add/Codes Model  (```interface/patient_file/encounter/find_code_dynamic.php```) will have the fo

[2020-07-12 00:28] tpantelis commented on #3619
I work for Red Hat and new to project and looking for a reasonable first issue to work on (part time).  I played around with the Issues dialog/workflow and agree that it has usability issues.  In addition to the ones outlined above, some other observations related to code selection/display:

- the **Coding** field allows for multiple codes and displays them separated by a semi-colon. You can also

[2020-07-12 08:15] stu01509 commented on #3734
Hi @bradymiller, @tywrenn

I would like to fix it, Please assign this issue to me.

[2020-07-12 08:27] stu01509 opened #3737 "UI Issue: dashboard immunizations page."
### Describe the bug

Dashboard immunizations page still contains a lot of outdated code,
and it style looks very odd.

### To Reproduce

Steps to reproduce the behavior:
1. Go to the dashboard.
2. Click the immunizations edit button.
3. See the Immunizations page.

![image](https://user-images.githubusercontent.com/22230889/87242140-9ab7e600-c45c-11ea-8e40-fd83968cd4ff.png)

### Client configurat

[2020-07-12 08:45] bradymiller commented on #3619
hi @tpantelis ,

Welcome to the project!

I just tested out the Code selector there and agree with both @pete-boyd and yourself that there are some real issues with that.

Agree with all of your suggestions. The active issues codes is meant to be a shortcut for folks, but agree it is not well integrated. Looking forward to seeing your improvements.

This script is here: interface/patient_file/summ

[2020-07-12 08:47] bradymiller commented on #3734
hi @stu01509 , it's yours :)

[2020-07-12 14:01] juggernautsei commented on #3655
@bradymiller this is embarrassing but I have to fess up. The codes were doubled in the table. I cleared them with
delete t1 from codes t1 INNER JOIN codes t2 WHERE t1.id < t2.id AND t1.code = t2.code AND t1.code_text = t2.code_text AND t1.code_text_short = t2.code_text_short.
No duplication now. Delete this is not a bug.

[2020-07-12 18:48] bradymiller commented on #3655
no prob @juggernautsei . now your an expert on codes :)

[2020-07-12 18:48] #3655 closed

[2020-07-12 18:51] sjpadgett commented on #3655
@juggernautsei I'm thinking we should not have ability to have dup codes. Maybe an issue is in order.

[2020-07-13 01:10] tpantelis commented on #3619
Thanks. I did find the file and read thru some of the code. I haven't worked with HTML and javascript in over 10 years and never worked with PHP so there's a bit of a learning curve.

[2020-07-13 03:01] bradymiller commented on #3273
bump

[2020-07-13 06:28] bradymiller commented on #3619
@tpantelis , Sounds like a crash course in PHP and javascript in the near future :) That script can be challenging since there's quite a bit of javascript in it.

[2020-07-13 23:06] sunsetsystems opened #3741 "Setup fails on setting up access controls"
### Describe the bug

Setup ends with an error that it was unable to set up access controls. The web server log shows this:

[Tue Jul 14 08:15:05.682912 2020] [php7:notice] [pid 615] [client 127.0.0.1:47306] PHP custom error:
    from gacl src/Gacl/Gacl.php - Unable to set up UTF8 encoding with mysql database
    Access denied for user &#039;openemr&#039;@&#039;localhost&#039; (using password: YES

[2020-07-14 00:37] sjpadgett opened #3742 "Logon page strange"
### Describe the problem

IMO, this is backward. App info(title box) should be on left because UX for most is immediate look to right for fields. Did a lefty do this?:)
![image](https://user-images.githubusercontent.com/1859985/87367276-818c6380-c548-11ea-890b-b3cc63df453b.png)

### Describe the solution you'd like
Swap

[2020-07-14 00:46] tywrenn commented on #3742
IMO, it's not backward. Yet we could code an option in globals to allow you to switch which way you want it as some might hate it being like this (yet I love this).

[2020-07-14 00:48] tywrenn commented on #3737
@stu01509 Seems like it needs updating

[2020-07-14 00:50] tywrenn commented on #3737
@bradymiller Can we have a tag dedicated to BS4 modernization lol

[2020-07-14 00:52] sjpadgett commented on #3742
Don't need an option. Users are use to title on left and use their muscle memory for logging in. No good reason to change.
While pretty, It's aggravating.

[2020-07-14 00:53] sunsetsystems commented on #3742
Doesn't matter to me. I would not add to the global settings clutter for this.

[2020-07-14 00:56] sunsetsystems commented on #3741
By the way if you wonder why my log file entries are dated tomorrow, I'm in Australia now. :)

[2020-07-14 01:00] tywrenn commented on #3742
I mean this is why styles like these have their drawbacks to them. If you really want this on the left I'd probably revert to making it front and center so no one complains about the position 😂

[2020-07-14 01:04] bradymiller commented on #3742
yep, modern design makes us old quicker :)

https://search.muz.li/inspiration/login-screen/

(hint: the youngest one whom has commented here appears to be on to something)

[2020-07-14 01:05] bradymiller commented on #3742
I do recall when researching where buttons should be placed, that the eyes focus on things to the left first, which is probably why there has been a switcheroo in login screens.

[2020-07-14 01:09] tywrenn commented on #3742
@bradymiller This is true about design - unless you are in a country that uses RTL

[2020-07-14 01:10] tywrenn commented on #3369
bump

[2020-07-14 01:16] sjpadgett commented on #3742
You people need to always consider user base. Also, I don't know who decided the whole left or right but in reality, people look to center. It's natural so your eyes take in the whole scene and brain can evaluate.

[2020-07-14 01:47] bradymiller commented on #3741
hi @sunsetsystems from the future :)

That's really odd. I actually had that same issue when working on this, which was fixed with the following line:
https://github.com/openemr/openemr/blob/master/setup.php#L1158
(used a require instead of a require_once to force bringing in the credentials again after they got rewritten)

I am pretty sure you didn't change that line, but if you happened to chang

[2020-07-14 01:56] bradymiller commented on #3742
yes, but as generations get younger, our attentions spans decrease. For example, whatever I am doing, I just look for a submit button and click it. And if that doesn't work, I then fill in the form as minimally as possible and click the submit button again. You add that to the research showing that the eyes see form inputs and buttons quicker on the left, then voila, there you have it. Why look at

[2020-07-14 01:59] bradymiller commented on #3742
Seriously, though, we should probably bring another more modern designer centric developer into this. @robertdown , any thoughts on this issue?

[2020-07-14 02:00] sjpadgett commented on #3742
again, i'm looking at this from user base which is what I care about. Existing users will have to retrain their muscle memory for logging in. You can't tell me every time you've logged in after this change, you pause!

[2020-07-14 02:01] stephenwaite commented on #3742
could be centered and could be a more subtle graphic on top

also why does the page refresh if you just click login?

[2020-07-14 02:17] sunsetsystems commented on #3741
@bradymiller Hmm I do see that line in setup.php on my test site. I built it from the current master branch with no changes. Weird.

[2020-07-14 02:19] tywrenn commented on #3742
I don't like the look of this personally but this is what it would look like centered (probably will need some size refinements but this is just a general idea)
![image](https://user-images.githubusercontent.com/46497068/87373009-d46d1780-c556-11ea-8cd0-6c10827f11a1.png)

[2020-07-14 02:59] bradymiller commented on #3742
Just so we have a comparison to above, here it what it now looks like o desktop:

![image](https://user-images.githubusercontent.com/278968/87378671-2ad05b00-c543-11ea-8de0-7880f7246aa5.png)

And then on mobile:
![Screenshot from 2020-07-13 19-59-23](https://user-images.githubusercontent.com/278968/87378754-65d28e80-c543-11ea-980c-40cd27a25aef.png)

[2020-07-14 03:02] bradymiller commented on #3742
@sjpadgett , What styling theme is your screenshot coming from?

[2020-07-14 03:17] sjpadgett commented on #3742
Doesn't matter. I said what I think it should be.

[2020-07-14 03:20] sunsetsystems commented on #3741
By the way this is PHP 7.2. I wonder if there's a bug with mixing require_once and require for the same module.

[2020-07-14 07:22] bradymiller commented on #3741
Just tested this to work on PHP 7.2.24. Very strange stuff. After the script breaks, does your sqlconf.php contain the new settings? (if not, then maybe a write issue, and if not that, then I wonder is some sort of buffer issue where it doesn't write until maybe the script is done (kind of like html output happens); just a wild guess).

[2020-07-14 07:40] sunsetsystems commented on #3741
Hi @bradymiller yes sqlconf.php does contain the new auth settings after the failure.

[2020-07-14 08:01] sunsetsystems commented on #3741
Just tried it on a hosted VPS with Ubuntu 18.04.4 and a pre-created database, and it fails there too in exactly the same way.

[2020-07-14 09:16] sunsetsystems commented on #3741
Can give you access if that helps.

[2020-07-14 09:27] yashrajbothra opened #3744 "Silly Bootstrap Issue"
### To Reproduce
![image](https://user-images.githubusercontent.com/47683556/87408950-df20be80-c5e1-11ea-9d4f-04bf7cb68d17.png)

Steps to reproduce the behavior:
1. Adminis.->Coding->External Data Load
2. Click ICD10
3. See error

[2020-07-14 09:27] bradymiller commented on #3741
I'll see if can spin up a ubuntu 18.04 docker to try this out on. agree that there's probably some weirdness with using require_once and require in some environments.

[2020-07-14 10:29] sjpadgett commented on #3742
Sorry, had eye surgery yesterday and can't see. Didn't mean to close.

[2020-07-14 12:56] tywrenn commented on #3744
Oh wow. Can you fix it or do you need me or @stu01509 to fix it?

[2020-07-14 13:42] yashrajbothra commented on #3744
Yeah! Will Push a Quick Fix Soon :)

[2020-07-14 14:18] tywrenn commented on #3742
**Here are my final thoughts**
My goal of the login page was to make it different than it was before. If I were to create it in the center, I would ideally want it to be smaller ([somewhat similar to this design](https://search.muz.li/YWRiNTNkNWM5)). The issue with this approach is that it could make the page overflow vertically if you added custom logos to it which is something that I hate. Sure,

[2020-07-14 15:59] sjpadgett commented on #3742
Please just flip the form to satisfy an old man. No more globals for login.

I keep trying to hold back this idea of styling to single page application. We forget our audience.  Less is more to users where click counts in workflow matter a great deal. Same for scrolling.
Remembering also that the reason I wanted bootstrap was for responsiveness and not necessarily styling. I envisioned reducing th

[2020-07-14 16:42] bradymiller commented on #3742
For more comparison, here is the current login in 5.0.2 for light:

![image](https://user-images.githubusercontent.com/278968/87452688-5f312f00-c5b6-11ea-8219-d8782e841c1c.png)

[2020-07-14 16:50] bradymiller commented on #3742
2 quick points:
1. If goal is to keep things consistent, then seems like putting stuff to the left of form would not do this. Would need to put it on top, correct?
2. Ok to support customization of login screen especially since we support 3 different logos (and now a slogan). If there is marked disagreement even between core developers, then likely even more marked in end user. ie. just make some

[2020-07-14 17:30] sjpadgett commented on #3742
w/logo login to right:
![image](https://user-images.githubusercontent.com/1859985/87456203-98789780-c5d4-11ea-9035-3cc3ecee31de.png)

Let's just leave globals alone. A practice shouldn't care if options for left, right, top or any of it.  This is purely an employee log in.

[2020-07-14 19:06] bradymiller commented on #3742
Guessing the logo version of the login screen doesn't get much use (just guessing this, though, since it's not a default setting). For comparison, here's how it looks when on in light in master:

![image](https://user-images.githubusercontent.com/278968/87466026-6eba7300-c5ca-11ea-943a-725791a6e1ae.png)

[2020-07-14 19:12] sunsetsystems commented on #3741
Think I have a solution. In Installer.class.php, function, function write_configuration_file(), add this after the fclose():

    opcache_invalidate($this->conffile, true);

[2020-07-14 20:28] odra commented on #3728
Hello, is anyone working on this one? I would like to work on it if possible :-)

[2020-07-15 00:49] bradymiller commented on #3741
neat stuff. does it work? If so, rec checking to ensure `function_exists('opcache_invalidate')` before running it since it looks like this is part of optimization module that is not always installed. For example, we are not installing this package in the alpine builds (https://pkgs.alpinelinux.org/package/edge/community/x86/php7-opcache).
quick reference I looked at regarding opcache here:
https:/

[2020-07-15 00:58] sunsetsystems commented on #3741
Hi @bradymiller yes it worked for me. I'll make a PR as you suggest. Thanks.

[2020-07-15 04:29] #3741 closed

[2020-07-15 16:27] odra commented on #1986
I am looking for an issue to contribute to - is someone working on this?

[2020-07-15 16:33] odra commented on #1541
Could I work on this one? :-)

[2020-07-15 17:06] stephenwaite commented on #1541
hi @odra , it's fixed in 5.0.2, https://community.open-emr.org/t/billing-location-vs-service-location/14805/5

wanna see if you can get it to work in master?

[2020-07-15 17:15] odra commented on #1541
sure let me give it a shot,  the issue can be closed if so.

[2020-07-15 17:40] stephenwaite commented on #1541
thank you @odra , will close the issue when fixed in master ok?

[2020-07-15 18:03] odra commented on #1541
@stephenwaite I can confirm it is working (tested with latest master commit) once a facility has been flagged as a "billing location" - I think this issue can be closed.

[2020-07-15 18:04] stephenwaite commented on #1541
right but would like to have it as a service location

[2020-07-15 18:05] odra commented on #1541
Ah, it does not work if it flagged as a service location :-)

I guess I can take work in it then?

[2020-07-15 20:21] #1541 closed

[2020-07-15 20:59] sunsetsystems opened #3751 "U2F is broken"
I noticed this recently in master code. You can register a hardware key, but when you try to use it after entering your login name and password it just returns you to the login page.

I'll plan to look into this when time permits, but in the meantime if someone has a clue about what changed in this area please post a note here. Thanks.

[2020-07-15 21:32] bradymiller commented on #3728
hi @odra , it's yours :)

[2020-07-15 22:57] bradymiller commented on #1986
hi @odra , This looks like a really neat project and anything that boosts security is a good thing (it's not something I knew much about until I just read this: https://www.projectseven.net/php-content-security-policy.php ). Let me know if your interested, and then I'll assign it to you.

[2020-07-15 23:13] #3734 closed

[2020-07-15 23:22] bradymiller commented on #3751
confirmed TOTP is also doing same thing. here are log entries (second to last is the good login, and the last is what happens when does the TOTP confirmation). definitely something is awry:

![image](https://user-images.githubusercontent.com/278968/87609392-49eff980-c6b7-11ea-8758-f330fd12fbcd.png)

[2020-07-15 23:23] bradymiller commented on #3751
there's been lots of session work done relatively recently to speed things up and guessing there is script that needs to be able to write to session that can't. Can't look at this in more detail, but likely can this evening.

[2020-07-16 00:25] bradymiller commented on #3751
think onto something. think it has to do with clearing the clearPass from memory (then it is not placed on the mfa form). :crossed_fingers:

[2020-07-16 00:42] bradymiller commented on #3751
just posted fix. testing well on totp. guessing it should fix u2f also.

[2020-07-16 00:47] sunsetsystems commented on #3751
Yay! Thanks Brady!

[2020-07-16 01:53] #3751 closed

[2020-07-16 01:56] tywrenn commented on #3742
Since I want everyone (including myself) to love the login screen, I will be adding globals to this. As much as I want it simple, I also want it to be unique and customizable for any practice that uses it. The default view will be the center view yet if you believe it looks like cancer you can change it to whatever views I end up coding. OpenEMR was created with customization in mind, and we defin

[2020-07-16 02:26] #3700 closed

[2020-07-16 13:33] odra commented on #1986
Cool, I would be happy to take a look at it :-)

[2020-07-18 17:42] #3281 closed

[2020-07-18 19:58] #2921 closed

[2020-07-19 01:53] #3394 closed

[2020-07-20 04:06] stu01509 commented on #2889
Is the issue still need to fix? currently, I am working on the OpenEMR setup page, If is it required I will fix it

[2020-07-21 11:35] pete-boyd opened #3770 "Allow layout-based forms' groups to be visible by default"
I am using OpenEMR 5.0.2 (patch 3). When creating Layout-based visit forms at Administration > Layouts, I would like to be able to set groups to be visible by default. Currently each group apart from the first group requires the user to select a checkbox beside each group to make the questions visible.

Even better than an option to enable them, I think it more likely that form designers want the

[2020-07-21 21:51] sunsetsystems commented on #3770
You can enter "I" or "Initially Open Group" in the edit options of the first field in the group to accomplish this.
This feature will be moved to group properties in an upcoming PR; that will make it more intuitive.

[2020-07-22 10:37] pete-boyd commented on #3770
This is really useful for me to learn, so thank you for that @sunsetsystems. I would thus reframe my request to say that placing this in the edit options in this way is unintuitive and would be better located in group properties. I'm pleased this is happening. Thanks

[2020-07-22 11:51] pete-boyd commented on #3770
I've tried adding Initially Open Group to the first fields of all groups in the Demographics form and it appears to have no effect, is this expected?

[2020-07-22 11:54] pete-boyd commented on #3770
I've tried adding Initially Open Group to the first fields of all groups in the Demographics form and it appears to have no effect in "Search or Add Patient", is this expected? Am I misunderstanding?

[2020-07-22 12:52] stephenwaite commented on #3382
bump

[2020-07-22 18:14] tywrenn commented on #3409
Closed due to this issue being already resolved.

[2020-07-22 18:14] #3409 closed

[2020-07-22 19:04] tywrenn commented on #2943
Closed due to it being resolved

[2020-07-22 19:04] #2943 closed

[2020-07-22 19:06] stephenwaite commented on #2943
stalebot won't meet his quota :smiley:

[2020-07-22 22:57] tywrenn commented on #3083
Bump

[2020-07-22 23:27] sunsetsystems commented on #3770
Might not work for demographics, it was mainly intended for LBF visit forms. In any case demographics has moved to a tabbed view in later releases, so "initially open" does not apply there any more.

[2020-07-23 12:07] pete-boyd opened #3776 "Button for saving changes to visit categories is "go" when should be "Save""
In Administration > Other > Calendar > Categories, when adding a new category or altering an existing category, the button to save is labelled "go" but would be more descriptive and consistent were it labelled "Save."

OpenEMR 5.0.2 (patch 3)

[2020-07-24 01:40] tywrenn opened #3777 "5.0.2 Bug: Modal Template Fetch:SyntaxError: Unexpected end of JSON input"
### Describe the bug

Writing procedure orders or doing consent forms result in a "Modal Template Fetch:SyntaxError: Unexpected end of JSON input" error.

### To Reproduce
Unable to reproduce at this time

### Expected behavior
No bugs

### Client configuration

- Browser: Google Chrome
- OpenEMR version: 5.0.2 directly from the rel-502 branch
- Operating system: Ubuntu 18.04 LTS

[2020-07-24 07:59] pete-boyd opened #3778 "ID field in layout based forms has different max size when creating a new field, compared with when editing an existing field"
In layout based forms in OpenEMR 5.0.2 (patch 3), when I add a new field, the ID field accepts a max of 20 chars. Once saved, I can change the ID field to accommodate a larger number of characters. My expectation is that the limit should be consistent in both circumstances.

[2020-07-24 08:06] pete-boyd commented on #3776
Note: this issue isn't showing up in my list of open issues, I'm not sure why. This has happened with other issues I've created too and makes me wonder if occasionally they get lost.

[2020-07-24 08:08] pete-boyd commented on #3722
Sometimes I create issue and straight away they're not visible under my list of issues. If I add a comment like this then they appear, and remain visible when I delete the comment.

[2020-07-24 14:10] stu01509 commented on #3778
Hello @pete-boyd

Can you guide me, how to approach this issue? I would like to fix it.

[2020-07-24 14:14] stu01509 opened #3779 "UI Issue: dashboard history and lifestyle pages."
The dashboard history and lifestyle pages need to adjust that layout and remove outdated code.

write concise description of what the bug is.

### To Reproduce

Steps to reproduce the behavior:
1. Go to the patients.
2. Click the user to go to the dashboard page.
3. Click the history button.
4. Click the edit button.

![image](https://user-images.githubusercontent.com/22230889/88400420-e7a3a100-cd

[2020-07-24 14:17] pete-boyd commented on #3778
@stu01509
Administration > Layouts > Edit Layout: select an existing form

Add field > Source:
Try to enter: 123456789012345678901
I find that I cannot, until I remove one character, leaving: 12345678901234567890
Complete the other required fields
Save

Go back to the same field
Now edit the ID field, adding the "1! at the end:
123456789012345678901
I find that now I can enter the full number
Save

[2020-07-24 14:27] sjpadgett commented on #3778
I'd check in with @sunsetsystems as I believe he is working in this module presently. Prevent any toe stepping.
Also Rod, if indeed you are doing updates in Layouts, would you take a look at preventing users from modifying core layout Id's for our hard coded fields that cause some forms to blow up(ka boom)? Demographics add new etc.

[2020-07-24 17:16] tywrenn opened #3780 "Import ESLint (GSoC)"
### Describe the problem

Our JavaScript has outdated code, has some errors that go unchecked, and in general needs some improvement.

### Describe the solution you'd like

In an effort to stop these issues from happening, me and @stu01509 propose adding ESLint which will find and fix problems in our JavaScript code. This will take a lot of work to implement yet it will be really worth doing.

[2020-07-24 20:54] tywrenn commented on #3418
Closed as is currently unavoidable at this time and/or was already resolved.

[2020-07-24 20:54] #3418 closed

[2020-07-26 00:14] #2870 closed

[2020-07-26 07:01] #3392 closed

[2020-07-26 07:01] #3374 closed

[2020-07-26 17:57] bradymiller commented on #3435
bump

[2020-07-28 22:55] bradymiller commented on #2670
@jesdynf
Have a fix for this at #3785
It with fail if the cert doesn't match; with white screen of death with following error in php error log:
[code]
Not a nice fail, but a fail nonetheless :)

[2020-07-29 01:39] #2670 closed

[2020-07-29 01:51] stephenwaite commented on #2670
take down that old issue!
![giphy](https://user-images.githubusercontent.com/5618372/88747273-70cd1780-d11c-11ea-84c8-040895a0500a.gif)

[2020-07-29 07:06] #3778 closed

[2020-07-29 14:29] boxlady opened #3788 "Documents being overwritten"
### Describe the bug
I have an old table of 'documents' from 2015. I was encountering weird bugs of doubles with documents once uploaded were placed in two categories etc. deleting one of them removed both.  After some hunting I found out that for some reason its making new ID's in the 3200 range when I have ID's that go up to 44806. When it looks for an ID in the documents table it doesn't look t

[2020-07-29 19:31] tywrenn commented on #3430
Since this feature doesn't seem like it will do much, i'm closing this.

[2020-07-29 19:31] #3430 closed

[2020-07-29 23:51] #3728 closed

[2020-07-30 03:05] bradymiller commented on #3788
hi @boxlady ,
In the `sequence` sql table what do you see for the `id`?

[2020-07-30 06:43] boxlady commented on #3788
3131

[2020-07-30 11:27] yashrajbothra opened #3791 "Delete Button not working on Prescription"
### Describe the bug

Delete Button not working

### To Reproduce

![image](https://user-images.githubusercontent.com/47683556/88917465-6c703e00-d285-11ea-8fa6-762808e163a1.png)

Steps to reproduce the behavior:
1. Goto any patient dashboard
2. Add any prescription
3. Try to delete the prescription
4. See error

https://github.com/openemr/openemr/blob/e887d18c1670592852c30493007954d10f3ace9d/templ

[2020-07-30 11:28] yashrajbothra commented on #3791
This might be a priority Blocking

[2020-07-30 16:00] tywrenn opened #3792 "Add Area In SCSS Themes to Allow Centralizing Stylesheets"
I will be making a PR that creates an area where we can migrate all of our CSS that is in different folders to one centralized location.

[2020-07-30 19:43] tywrenn commented on #3791
@yashrajbothra Can u fix it?

[2020-07-31 00:51] bradymiller commented on #3788
hi @boxlady , Sounds like that id got mangled somehow. it should only be allowed to count up via the GenID function. I'd look into where that function is used in the codebase  (only several tables use it) and then find the highest id in those places and then manually assign it to be higher than those. That being said, figuring out how it happened would be good; any manual changes to that database

[2020-07-31 00:52] bradymiller commented on #3788
Actually, did you import the documents table from another database? If so, then that would explain how this happened.

[2020-07-31 04:39] #3661 closed

[2020-07-31 04:39] #3699 closed

[2020-07-31 07:32] #3737 closed

[2020-07-31 07:49] #3791 closed

[2020-07-31 07:50] bradymiller commented on #3791
just brought in fix for this (my fault for letting this get through on recent code review of this feature)

[2020-07-31 16:45] tywrenn opened #3799 "Superhero Theme is Dead"
The Superhero theme is something that I regret creating as it has been a glitchy mess that I haven't been able to resolve. That is why I will be removing the Superhero theme as well as the Bootswatch dependency that it relied upon. This is a sad state of affairs yet I will try to find another theme to replace it in the coming weeks.

[2020-07-31 17:21] sjpadgett commented on #3799
Sorry to hear but, we'll still have the dark right?

[2020-07-31 17:30] tywrenn commented on #3799
@sjpadgett yes 👍

[2020-08-01 00:49] bradymiller commented on #3799
fare thee well superhero theme :)

Here's a good idea I found for the next super hero theme logo:
![tenor (39)](https://user-images.githubusercontent.com/278968/89090203-36e75580-d356-11ea-9aac-db8303674732.gif)

[2020-08-01 00:54] #3792 closed

[2020-08-01 13:48] stu01509 opened #3804 "UI Suggestion: Dashboard top visit history icon"
### Describe the problem

The Dashboard top of the visit history button icon currently uses the refresh icon, but I think it looks a little bit confused.

Maybe we can change to a history icon like this.
### Describe the solution you'd like

![image](https://user-images.githubusercontent.com/22230889/89102968-bb160780-d440-11ea-9568-278da32b4cda.png)

[2020-08-01 19:31] bradymiller commented on #3804
hi @stu01509 , completely agree :)

[2020-08-02 09:21] #1114 closed

[2020-08-02 09:43] #3804 closed

[2020-08-03 07:04] sjpadgett opened #3810 "Layout top menu not fixed"
### Describe the bug
![image](https://user-images.githubusercontent.com/1859985/89154676-538db400-d535-11ea-9384-21fdb38a407e.png)

This action bar is supposed to be fixed. I spent a lot of time in v501 and v502 making this fixed and other changes so user isn't scrolling to top as they design.
Back up to v502 and check out how this form works.

Also the Save Changes button is only supposed to chan

[2020-08-03 12:40] stephenwaite opened #3813 "ccd import error through modules->care coordination"
### Describe the bug

appears import of ccd is broken

### To Reproduce
try importing a ccd after setting up care coordination module

import a ccd
[AdamEveryman-ReferralSummary.txt](https://github.com/openemr/openemr/files/5015977/AdamEveryman-ReferralSummary.txt)

here's the php log from one of the open-emr.org demos
[ccd_import_php_error_log.txt](https://github.com/openemr/openemr/files/5015981

[2020-08-03 15:44] odra commented on #1442
Hello,may I get this one?

[2020-08-04 02:03] #3410 closed

[2020-08-04 04:32] sjpadgett commented on #3813
@stephenwaite
Not sure what that attached file is but it's not a CCD. CCD are xml. Looks like a summary/questionnaire of html origin!

Still, i'm working CCM to bring it up to date. Well best I can....

[2020-08-04 05:18] sjpadgett commented on #3813
Here are a couple sample. I believe these were generated with my CCD export in CCM.
They import okay on v6.0 PHP 7.2

[sample-ccda.zip](https://github.com/openemr/openemr/files/5020209/sample-ccda.zip)

[2020-08-04 09:08] boxlady commented on #3788
Yea, when we upgraded to 5.02 I moved everything over with 'mysql' from a 'mysql dump'. weird...

Changing it fixed the problem.

Is this only a problem for me (and thus I should close the ticket) or is this something that should be changed?

[2020-08-04 12:04] stephenwaite commented on #3813
thank you @sjpadgett , failed trying to save the ccds from https://github.com/jmandel/sample_ccdas
save link as inserted the html header, funny how github doesn't have a download button, must really want you to :fork_and_knife:
here's one from that site @stu01509
[ae.zip](https://github.com/openemr/openemr/files/5021935/ae.zip)

[2020-08-04 12:05] #3813 closed

[2020-08-05 10:11] arnabnaha opened #3816 "Appointment scheduling not saving"
Hi..
I am on windows running the recent dev version of openemr. The problem I am facing is whenever I try to create an appointment in my multi - facility or the main  facility site, the appointment is not saving for patients as well as provider. Even the drop down mini calendars when clicking on the date coloumns donot work and have to put the date manually. Save button is totally not working.

Pl

[2020-08-05 13:03] arnabnaha commented on #3816
The thing is fixed in recent dev tip 6.0.0. Thanks to everyone. Its working fine now.

[2020-08-05 13:03] #3816 closed

[2020-08-05 13:56] stu01509 opened #3817 "UI Issue: Past Encounters and Documents Billing Note"
### Describe the bug

In the Past Encounters and Documents Billing view, the billing note looks like odd and does not user-friendly to enter value or edit.

### To Reproduce

Steps to reproduce the behavior:
1. Go to the Past Encounters and Documents page.
2. Change to Billing View.
3. Click Add text.

![image](https://user-images.githubusercontent.com/22230889/89421222-53282f80-d766-11ea-96b4-55f

[2020-08-05 15:23] tywrenn opened #3818 "Update Bootstrap to 4.5.2"
New update to Bootstrap happened:

https://blog.getbootstrap.com/2020/08/06/bootstrap-4-5-2/

Edit: Changed to 4.5.2

[2020-08-05 22:40] stephenwaite opened #3819 "printing collections report with light theme"
### Describe the bug

printing the report at Reports->Financial->Collections yields just a few lines with the `Light` theme enabled but colored themes appear to do just fine.

maybe it's the background color
https://github.com/openemr/openemr/blob/master/interface/reports/collections_report.php#L1303

[2020-08-05 22:42] bradymiller commented on #3810
fixed this (in addition to a bug where the additional filter (when click the `?` was not showing up) here:
https://github.com/openemr/openemr/pull/3820

[2020-08-05 22:44] bradymiller commented on #3810
My fix didn't cover the Save Change red thingy though, so will leave this issue as active

[2020-08-05 22:47] sjpadgett commented on #3810
lol, I just now was getting ready to push a fix. Oh well thanks and don't worry about button disable. I'll close.

[2020-08-05 22:47] #3810 closed

[2020-08-06 07:29] bradymiller commented on #3788
hi @boxlady ,
It's mainly a fix for you, but it seems like it would be more robust to use a self incrementing id for most of the tables that use this rather than rely on the GenID function. Any folks know of the benefit of using this GenID mechanism over a simply id that counts for a table?

[2020-08-06 23:38] stu01509 opened #3824 "Bug: Care Plan Form code query error."
### Describe the bug

In the care plan form. the code field query error.

### To Reproduce

Steps to reproduce the behavior:
1. Go the care plan form.
2. Click code field
3. Didn't enter any value, and click the search button.
4. See the query error.

![image](https://user-images.githubusercontent.com/22230889/89593074-d2aa2180-d880-11ea-925a-6a33da975d3d.png)

https://www.loom.com/share/29ce2a26d

[2020-08-09 07:11] eyalvo-matrix commented on #3561
I would just note that some external modules (for example ours :) )  relay on that data placed in that users table

[2020-08-09 16:30] stephenwaite opened #3831 "CCR report generate is broken"
after selecting a person and then choosing `Report` from their dashboard
click on Generate either with or without `Use Date Range`
![Screenshot from 2020-08-09 12-23-16](https://user-images.githubusercontent.com/5618372/89736931-34ae8680-da3b-11ea-9034-0b2fa98bea4d.png)
If you click `Download` the report will be generated.
Then go try to import it into their documents in the CCR folder which leads

[2020-08-09 18:36] #3779 closed

[2020-08-09 20:03] #3478 closed

[2020-08-09 21:46] stephenwaite commented on #3831
if you take out this requirement it will load a default stylesheet but pretty sure it's going to be okay to remove `CCR` from our options since things have moved to `CCD`

![Screenshot from 2020-08-09 17-45-37](https://user-images.githubusercontent.com/5618372/89742460-24f96700-da68-11ea-994f-e491ed4a9031.png)

[2020-08-10 01:36] sjpadgett commented on #3831
@stephenwaite I believe you're correct.  Instead of removing we prob need to convert to send CCDA instead of relying on CCM.
fyi:
Electronic Transmission of Summary of Care Documents
For the EHR Incentive Programs in 2017, the HIE measure simply states that a provider is required to create the
summary of care records using CEHRT and to transmit the summary of care record electronically. The intent

[2020-08-10 01:47] sjpadgett commented on #3831
however, if you think this needs to be fixed, I can.

[2020-08-10 01:59] sjpadgett commented on #3824
is this fixed yet?

[2020-08-10 02:04] sjpadgett opened #3834 "Implement OpenId Connect and SMART on FHIR Authentication"
### Describe the problem
For 2015 certification.
While not specifically required(other HIE methods can be used), for our API's, it would be the more acceptable route and prudent.

comment if disagree.

[2020-08-10 02:18] stu01509 commented on #3824
HI @sjpadgett

Not yet

[2020-08-10 02:30] sjpadgett commented on #3824
have you finished with styles ie will I have conflicts if I put up a PR?

[2020-08-10 02:37] sjpadgett commented on #3824
Actually this is a form validation issue. Should not allow search past to server from form if empty Code type. Easy fix if you just default the pull down to a code type instead of the empty default.

[2020-08-10 02:47] sjpadgett opened #3835 "Zend CCM finishing fixing static methods"
### Describe the bug

@adunsulag fixed many of these already but, several remain.
It's probably best to keep this module and bring code up to date with PHP 7.4+ and current coding standards.
I'm not going to open separate issues for fixing
- HIE send
- Pulling CCR imports and exports options. CCD only?
- Fix CCD import to actually add provider, encounters and otherwise considered external to CCM i

[2020-08-10 02:58] stu01509 commented on #3824
Hi @sjpadgett

My PR needs @tywrenn  to review, so I think you can create a PR to fix it. I will solve my  PR's conflict

[2020-08-10 03:01] sjpadgett opened #3836 "Update CCD generator templating"
Currently generator will conform to MU2 however it only produces a Continuity of Care document. Just like imports we need to support other document types such as Transfer of Care etc.

Need to bring the documents up to the current formatting version.

This is prob the most important requirement to reach for 2015.

[2020-08-10 03:36] sjpadgett commented on #3824
Why not take a shot at fixing why you're in this code. See if you can't force the select to default to a code type when generating.
Let me know if you have questions.

[2020-08-10 04:17] sjpadgett opened #3838 "BS4 font size."
### Describe the bug
Not a bug per se but, it bugs me!
I have no idea why the authors at twitter decided to increase the default font size from 14 to 16px but, for a business application, 14px is more appropriate.

Remembering again, we implement BS mainly to ease responsiveness and styling uniformity . Doesn't mean we are bound by all that is bootstrap.

Having sprawling UI's is annoying with as

[2020-08-10 04:34] tywrenn commented on #3838
@sjpadgett Your gonna laugh at this. The default font size is set at 14px for OpenEMR lol xD
If part of the text is set to 16px, it's probably from a CSS class.

[2020-08-10 04:35] tywrenn commented on #3838
If you go to style_light.scss, the line where I change it to 14 pixels is on line 79 and 80. It is represented in REM yet if you convert it back to pixels it's 14 pixels.

[2020-08-10 05:10] sjpadgett commented on #3838
hmm, not sure if i'll laugh, maybe feel a little foolish.:) but, last time I checked a few UI's, they were 16px! I'll look again.

I see where you've done the change but still, something's off. Why not make change in theme default?
Concerning rem, I recently did a test for a margin conversion from px to rem using the .875 conversion where the replacement for 14px was still larger. It came out to .

[2020-08-10 05:20] #3818 closed

[2020-08-10 05:35] tywrenn commented on #3838
@sjpadgett 1 pixel equals 0.0625rem -- that might be why ur stuck in terms of rem conversions. The reason the change isn't in theme defaults is because these color variables and other stuff that are there go before I invoke Bootstrap into the theme. That way when Bootstrap kicks in it replaces BS4 variables with the ones that I set on compilation. It's a bit complex but it minimizes the amount of

[2020-08-10 05:51] sjpadgett commented on #3838
Making UI larger to reduce clutter is where we sort of part ways. And how does making a UI larger help mobile? Styling to tablet is one thing but trying to completely be mobile friendly at the cost of desktop UX, is another. For mobile, we should gravitate to using mobile client apps for more specific user chores(thus all the work on API's).

I know this is hard and don't get me wrong, you're doin

[2020-08-10 05:51] #3817 closed

[2020-08-10 07:33] sjpadgett commented on #3838
yep, looks like we have a mix of font-sizes going on between .75, .875 and 1rem. Looks like theme builder tries to set to .75(this is due to globals default font size and seems to be overridden most everywhere i've checked so, why have it!) then we have an intermixing of sizes throughout. eg, why is a text class set to .9rem? Is it meant to be a sub title perhaps? Also in places i've noted BS defa

[2020-08-10 08:07] bradymiller commented on #3838
Dumb question over here. In the future when codebase is fully bs4 and scss driven, would it be straightforward to make for example a compact style with reduced margins/padding?

[2020-08-10 08:46] sjpadgett commented on #3838
Possibly but the whole footprint of the UI has changed considerably.
I think much of it is if we can get font-size smaller and if we're going to keep the global font selections, we honor those in our themes. Otherwise, i'm for removing because allowing user to enlarge say font-size, then all the padding etc would need to adjust also.

[2020-08-10 12:15] stephenwaite commented on #3831
thank you @sjpadgett , will close this and let you handle in #3835

[2020-08-10 12:15] #3831 closed

[2020-08-10 15:28] tywrenn commented on #3838
@bradymiller @sjpadgett Since I basically can tell Bootstrap how to format it's margins/padding/font size/colors/and more using SCSS, what I think I should do is replace theme builder with a few themes that have a more compact design.
The way this will work is if you are using BS4's margin/padding classes, I can shrink those in the themes. I can also remove the border radius around buttons, make b

[2020-08-10 18:16] sjpadgett commented on #3838
Thanks Tyler, sounds like a good plan. Let me know if I can help. umm, a little.:)

[2020-08-10 21:39] stephenwaite opened #3840 "upgrade from 4.1.2 fails on table modules"
### Describe the bug

See title

### To Reproduce
install 4.1.2, try to upgrade

Steps to reproduce the behavior:

### Expected behavior

globals.php will handle no `modules` table exists

https://github.com/openemr/openemr/blob/master/src/Core/ModulesApplication.php#L63

### Client configuration

- Browser:
- OpenEMR version:
- Operating system:

[2020-08-10 22:41] #3480 closed

[2020-08-11 03:46] stu01509 commented on #3824
Hi @sjpadgett

I try to figure out this issue, and I found the default select it has value, just only not display on the page.
So I guess not form validation issue, it may relate to the backend server.

![image](https://user-images.githubusercontent.com/22230889/89855109-2e99e080-dbc8-11ea-902f-a70e6dc5e14f.png)

[2020-08-11 03:49] sjpadgett commented on #3824
interesting. i'll take a look.

[2020-08-11 04:18] sjpadgett commented on #3824
Hi @stu01509 For some reason SNOMED no longer has a label. Not sure where that went south so, just leave this with me. I'll include in PR for CCM. If you're done with this PR just bring in whomever is decider on review and i'll fix this.

btw, did you restyle some of the CCM?

[2020-08-11 04:42] sjpadgett commented on #3824
SNOMED Clinical Term is turned off by default but still, it shouldn't show in list. Just turn on to fix and i'm still going to add some validation for this and restyle that popup while there....
![image](https://user-images.githubusercontent.com/1859985/89857942-658dd900-db6b-11ea-824e-0c32ff0ef611.png)

[2020-08-11 07:36] bradymiller commented on #2719
The 4th patch for OpenEMR 5.0.2 has been released:
[https://www.open-emr.org/wiki/index.php/OpenEMR_Patches ](https://www.open-emr.org/wiki/index.php/OpenEMR_Patches)

The patch includes improvements and fixes :
*  Patient portal improvements - by Jerry Padgett
*  Dicom viewer improvements  - by Jerry Padgett
*  Performance improvements -  by Jerry Padgett
*  PHP 7.4 fixes - fixed by Jerry Padgett

[2020-08-11 13:45] stu01509 commented on #3824
Hi @sjpadgett

OK, but I am not sure what is CCM

[2020-08-11 13:50] stephenwaite commented on #3824
hi @stu01509 , it's the care coordination module available under `Modules` tab in top navbar. Think you've registered, installed and enabled those before right?

[2020-08-11 13:54] stu01509 commented on #3824
Thanks @stephenwaite , I have been installed

![image](https://user-images.githubusercontent.com/22230889/89905700-10120480-dc1d-11ea-95aa-3e92c5c833b0.png)

[2020-08-11 17:53] sjpadgett commented on #3824
Hi @stu01509 I just wanted to know how far whoever restyled got in the modules.
anyway i've fixed the careplan and pulled down your latest from PR. some min conflicts.
Went ahead and restyled the popup so you can mark that off your list.
![image](https://user-images.githubusercontent.com/1859985/89931223-e97eaa00-dbd9-11ea-883f-c89a4c8f1361.png)

[2020-08-11 18:09] stephenwaite commented on #3824
![88220254-ba0afc00-cc30-11ea-9dd4-503ca1172e0e](https://user-images.githubusercontent.com/5618372/89932873-411e1500-dbdc-11ea-88aa-af3ed850247c.gif)

[2020-08-11 18:25] sjpadgett commented on #3824
lol, between you Stephen and Brady, i've got a pretty good virtual fan base! Now, if you could get some in my family on board!
I'm closing this as I will forget to reference when I bring in CCM fixes(and there's a bunch). I didn't have to touch careplan new.php so no worries bringing in your fixes in Cliff.

Okay, i'm off to mind my business, well, for a little while. It's been nice social distanc

[2020-08-11 18:25] #3824 closed

[2020-08-11 18:27] stephenwaite commented on #3840
hi @sjpadgett , could this fix fit in with your `CCM` work? some people say i'm a schemer ....

[2020-08-11 18:55] sjpadgett commented on #3840
What is the current os and php version of machine you're trying to upgrade?
The problem with upgrading from so far back in versions is above. Folks update the os/sql/php to meet version they're updating to and forget prior version aren't compatible with the newer versions.

The course of action should be to upgrade to version where os/php capabilities diverse then update os/php for next step.

[2020-08-11 18:56] stephenwaite commented on #3840
oh, you think this is a php version issue?

[2020-08-11 19:02] tywrenn commented on #2719
Adding milestone here to prevent issue from being closed

[2020-08-11 19:03] stephenwaite commented on #2719
btw, awesome job @bradymiller

![88220254-ba0afc00-cc30-11ea-9dd4-503ca1172e0e](https://user-images.githubusercontent.com/5618372/89937997-d670d780-dbe3-11ea-8efe-ad6659b0161a.gif)

[2020-08-11 19:06] sjpadgett commented on #3840
Well not to be crass but, should be updating regularly. There's just no way we can keep up with evolving support dependencies like php and os and still maintain backwards compatibility.
We prob should document this process somewhere. I think this make/break is upto v4.2.2. This upgrade also needs to strictly  follow version upgrade till 4.2 i.e 4.1 to 4.11 etc. It's a tricky upgrade Stephen and pa

[2020-08-11 19:12] stephenwaite commented on #3840
![Screenshot from 2020-08-11 15-12-30](https://user-images.githubusercontent.com/5618372/89938851-197f7a80-dbe5-11ea-8af9-1370ec3f6a5d.png)

[2020-08-11 19:16] sjpadgett commented on #3840
Are you running sql_upgrade as you go?

[2020-08-11 19:19] stephenwaite commented on #3840
no, this is the flex docker running 6.0 and just after clicking the arrow to load the page

[2020-08-11 19:40] sjpadgett commented on #3840
My guess is even if you do that you'll just hit another gotcha further on. You may be able to get away with this if you start at 4.1.0, upgrade to 4.1.1 and so forth. You may have to drop to command line though. Sorry...

[2020-08-11 19:46] sjpadgett commented on #3840
Still, I may give this a shot when I get aggravated with CCM...

[2020-08-11 20:50] stephenwaite commented on #3840
thanks @sjpadgett , all i do is create the table and it flows seamlessly, well except for a couple of quest tables that needed some row sizes reduced

[2020-08-12 01:37] stu01509 opened #3842 "Bug: Recall Board toggle button disappear"
### Describe the bug

Recall Board toggle button only can hide the page.

### To Reproduce

Steps to reproduce the behavior:
1. Go the recall board page.
2. Click the arrow button.
3. It can't show the page.

![image](https://user-images.githubusercontent.com/22230889/89965421-58620e80-dc7f-11ea-9ac6-8e5553c5f90a.png)

https://www.loom.com/share/d999b7ef719249439b78da0a07cb9ad2

### Client configu

[2020-08-12 05:30] #2919 closed

[2020-08-12 05:31] sjpadgett commented on #3840
It just wanted to make a fibber out of me!:)

[2020-08-13 06:49] sjpadgett opened #3848 "Eligibility broken"
### Describe the bug
[12-Aug-2020 18:05:06 America/New_York] PHP Fatal error:  Uncaught Error: Class 'OpenEMR\Billing\edih_271_codes' not found in C:\xampp\htdocs\openemr\src\Billing\EDI270.php:917
### To Reproduce
Run Elig from Insurance

[2020-08-13 08:11] bradymiller commented on #3848
Try to throw a `\` in front of the new class call (in phpstorm it seems to show the function exists). Not sure why that is needed there, though.

[2020-08-13 08:13] bradymiller commented on #3848
Actually, a better way is to just place this in the `use` block at top:
[code]

[2020-08-13 12:45] dummys opened #3849 "Why file are stored in couchdb as a document directly and not as an attachement to a document ?"
Hi, let me explain what I'm talking about. When you look how the file are stored in couchdb it is at the form:

[code]
But this is tedious in case of a problem to look at the file uploaded etc. It exist a function of attachement in couchdb, where the goal is to attach to a document a file.

For example, we create a document, with the name as the name of the file and then we can upload it. Thus whe

[2020-08-13 19:10] sjpadgett opened #3850 "Easipro error"
### Describe the bug
A reminder as I don't have time to fix right now. Suggest everyone turn on user debug in their testing. Helps a lot...
![image](https://user-images.githubusercontent.com/1859985/90176428-e53bc380-dd76-11ea-965c-2d60cd916f50.png)

### To Reproduce
enable eaisipro in global connectors
goto chart select PRO

[2020-08-13 19:32] sjpadgett commented on #3848
thanks @bradymiller  that fix that but, why is it my stuff always gets broken.  I beg everyone to please turn on all modules, features etc when testing or doing mods. This includes turning on User Debug so one gets an immediate JS or PHP error to note.
![image](https://user-images.githubusercontent.com/1859985/90178385-d86c9f00-dd79-11ea-84f0-856d21ee2e43.png)

[2020-08-14 01:23] sjpadgett commented on #3850
If no forms are returned, error. Added error trap and alert. prob should add more but, umm i'm lazy!
also converted to some es6 stuff.
will bring in fix soon.
I can no longer access assessment center so, testing is limited...
![image](https://user-images.githubusercontent.com/1859985/90202230-1fbf5380-ddab-11ea-8095-7f646a2fdd19.png)

[2020-08-14 02:27] bradymiller commented on #3848
hi @sjpadgett ,

I generally blame travis for this kind of stuff, which is why it's so great to have a project antagonist like travis in the project
(sure it's irrational, illogical, and displaced blame, but blame nonetheless :) )

On this front, have been adding bunch of devtools to the dev environment to make testing of the less straightforward things easier. Agree, though, we gotta keep in mind

[2020-08-14 02:41] sjpadgett commented on #3848
This turned out to be just a flat diff between BS3/4. The styles were perfectly fine and that button should have been overwritten by returned html but nooo, lets aggravate Jerry.:) Not supposed to be shown if no report therefore shouldn't be able to click...

Travis is my scapegoat if no one else happens to be around!

User Debug: I'd turn it on. especially now it is mostly available in all our sc

[2020-08-14 03:01] #3848 closed

[2020-08-14 03:05] sjpadgett commented on #3848
I gotta quit clicking on stuff:)

[2020-08-14 05:17] bradymiller commented on #3848
![tenor (42)](https://user-images.githubusercontent.com/278968/90215920-08d02f80-ddb2-11ea-9426-c48db9f2e7b7.gif)

yep, very dangerous. Next thing you know, 500 bug fixes later, it's 2021

[2020-08-14 06:06] #3842 closed

[2020-08-14 06:40] bradymiller commented on #3849
hi @dummys ,

There have been recent changes to this. Metadata is no longer stored in couchdb (since it was just redundant to data in the documents sql table entry representing it), the filename is now a uuid, and the file is encrypted (from key stored in OpenEMR's database; thus if the document store is compromised, will just be gibberish :) ).

![image](https://user-images.githubusercontent.com/

[2020-08-14 21:58] stephenwaite opened #3855 "icd10 in rel-502 upgrade script"
https://github.com/openemr/openemr/blob/d1cd5f8354c4560a04be21503300bea278d9be9c/sql/5_0_1-to-5_0_2_upgrade.sql#L605-L610

hi @bradymiller , is it okay to replace these lines with the 2020 files and was the previous commit okay without touching the version counter?

thank you

[2020-08-15 12:57] jackzulaa commented on #2975
ERROR :
 Exception: Connect Error: SQLSTATE[HY000] [1044] Access denied for user 'openemr'@'localhost' to database 'aioprod'
 Exception: SQLSTATE[HY000] [1044] Access denied for user 'openemr'@'localhost' to database 'aioprod'
SQL statement : SELECT * FROM modules ORDER BY mod_ui_order ASC

#0 C:\xampp\htdocs\aioprod\vendor\zendframework\zend-db\src\Adapter\Driver\Pdo\Pdo.php(255): Zend\Db\Adapter

[2020-08-15 13:03] jackzulaa opened #3858 "activating modules throws access error to the database"
### Describe the bug
![image](https://user-images.githubusercontent.com/11044436/90312896-c3764400-df10-11ea-98f3-7d899dc16624.png)

write concise description of what the bug is.

### To Reproduce

Steps to reproduce the behavior:
1. Add a '....'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior
click add module need to produce no error as all modules connects to the

[2020-08-15 15:47] im-Amitto opened #3860 "Incorrect API behaviour"
### Describe the bug
Wrong API response

1. API endpoint only consider `dob` as valid input whereas readme mentioned `DOB`
2. Getting e-mail address in dob field
![Screenshot from 2020-08-15 21-14-24](https://user-images.githubusercontent.com/29653282/90315885-858f1500-df3c-11ea-8320-ba8d0388de0f.png)

[2020-08-16 03:25] bradymiller commented on #3860
hi @im-Amitto ,
That demo is using 5.0.2 . Rec instead using most recent codebase demos:
https://www.open-emr.org/wiki/index.php/Development_Demo#Daily_Build_Development_Demos

[2020-08-16 03:28] bradymiller commented on #3860
That being said, although I doubt this bug is in 6.0.0-dev, will be good to fix in rel-502 branch at some point.

[2020-08-16 03:33] bradymiller commented on #3858
hi @jackrosenthal ,

I was unable to reproduce this on the online dev 5.0.2 demo:
https://www.open-emr.org/wiki/index.php/Development_5.0.2_Demo

Let us know if you can reproduce it there.

What php and mysql/mariadb versions are you using?
What are you seeing in the php error log?

-brady

[2020-08-16 05:27] bradymiller commented on #3378
bump

[2020-08-17 09:51] dummys commented on #3849
ok I see. Thanks for explanation.

[2020-08-18 14:32] dummys commented on #3849
@bradymiller we are running in a problem where fiel bigger than 8MB can't be uploaded in couchdb 3.x. WE get a "CouchDB save failed" inside openemr. We tried to bump the max_document_size to 20MB but it still did not work. Interestingly on one of our other instance, which are running with old couchdb 2.x and it was working fine. Any idea on that ?

[2020-08-18 15:42] sjpadgett opened #3863 "EOB Post new payment"
### Describe the bug
EOB Post new payment amount doesn't decrease during distribution v5.0.2(1-4)

EOB is not the place to do a manual payment posting imo. Too many ways to get into trouble and that workflow is more conducive to Batch Payments. ERA only!
@stephenwaite is this why you had me hide Posting in v6.0?

[2020-08-18 17:43] tywrenn commented on #3276
bump

[2020-08-18 18:22] tywrenn opened #3864 "Disable CouchDB by Default"
I don't really like using CouchDB. Recently it was added to the docker-compose.yml. Unfortunately when I tried disabling it it spat out errors. Since I would like the flex environment to not take 10 minutes to start, I was wondering if we can make it disabled by default and then if you want it you can enable it.

[2020-08-18 18:23] tywrenn commented on #3864
@bradymiller

[2020-08-18 18:25] tywrenn commented on #3858
@jackzulaa It appears that your mysql user under the name of openemr doesn't have access to the aioprod database. You will have to create that database and give the openemr sql user access to read/write to it.

[2020-08-18 18:28] bradymiller commented on #3864
hi @tywrenn , How did you disable it? (it is not used by default)

[2020-08-18 18:30] tywrenn commented on #3864
@bradymiller I had to roll back to flex 3.11 and use the docker-compose file that that flex environment had

[2020-08-18 18:32] bradymiller commented on #3864
@tywrenn , something's not right then. couchdb is causing no problems in my environment (except for throwing stuff to the docker log). Is it breaking something in your environment? Note the time to start up the docker is 95% from the OpenEMR build process (ie. the couchdb and ldap dockers shouldn't slow things down at all except for the initial download of the docker).

[2020-08-18 18:35] tywrenn commented on #3864
@bradymiller CouchDB doesn't break, it just slows the build down quite a bit and is more noticeable when composer is installing dependencies.

[2020-08-18 18:36] tywrenn commented on #3864
This is where it gets really slow lol xD

[2020-08-18 18:39] bradymiller commented on #3864
Try remove following lines:
https://github.com/openemr/openemr/blob/master/docker-compose.yml#L80-L94

[2020-08-18 18:41] bradymiller commented on #3864
couchdb is going to be a critical part of OpenEMR in the future, so plan to try to figure out why all the docker log errors in couchdb which I am guessing will speed things up a bit there.

[2020-08-18 20:01] bradymiller commented on #3849
@dummys , Anything in the php error log?

[2020-08-18 20:19] dummys commented on #3849
no unfortunately I get nothing. And inside the couchdb.log I see "undefined POST" with error 413

[2020-08-19 12:21] infegrevathi commented on #1878
Warning: require_once(sites/default/sqlconf.php): failed to open stream: No such file or directory in D:\xampp\htdocs\openemr\index.php on line 21

Fatal error: require_once(): Failed opening required 'sites/default/sqlconf.php' (include_path='D:\xampp\php\PEAR') in D:\xampp\htdocs\openemr\index.php on line 21
![localhost - Google Chrome 8_17_2020 11_22_08 PM](https://user-images.githubusercontent

[2020-08-19 14:01] #3863 closed

[2020-08-19 14:29] infegrevathi commented on #1878
PHP Fatal error:  require_once(): Failed opening required 'D:\\xampp\\htdocs\\openemr/vendor/autoload.php' (include_path='D:\\xampp\\php\\PEAR') in D:\\xampp\\htdocs\\openemr\\setup.php on line 95
please help me

[2020-08-19 19:25] nijel91 opened #3871 "Hope for help"
Hello.
I am trying to deploy OpenEMR on a K8s cluster. However, when I run kubectl apply using YAML files provided here https://github.com/nsteblay/openemr_kubernetes I get the following issue.
MySQL deploys fine. But OpenEMR pod does not. I get CrashLoopBackOff.
Logs show the following:

"PHP Warning:  require_once(/var/www/localhost/htdocs/openemr/sites/default/sqlconf.php): failed to open strea

[2020-08-20 09:37] #3850 closed

[2020-08-20 15:19] boxlady opened #3874 "Billing Manager - toencounter and topatient broken"
### Describe the bug
Billing manager to encounter or Patient

If you go to Billing Manger and click on either Encounter or Patient, it looks like it loaded fine but it didn't. PID is missing.

The encounter does this "2014-02-01 Encounter for" but as you can see the name is missing (No PID so no name). If you were to make a form (depending on the form) it might work if it doesn't check for a 0 pid

[2020-08-20 15:25] boxlady commented on #3874
ohh, I did a little debugging and billing report pass the right PID but it gets changed somewhere else.

[2020-08-20 16:08] sjpadgett commented on #3874
Somewhere somehow encounter pids are being reset to 0! This is worrisome as I have a very many of my older encounters reset to 0 pid from my demos database. No idea when this started or why but i'll try to get to the bottom of.

[2020-08-20 16:12] sjpadgett commented on #3874
@boxlady Were you using batch payments per chance or when did you notice?

[2020-08-20 17:03] sjpadgett commented on #3874
pheew, those were from generated encounters by lab modules during testing.

[2020-08-20 18:11] boxlady commented on #3874
No, I was working on an invoice module for Dentists here in the Netherlands. At first, I thought I broke something but after resting everything and it was still not working I tired on the demo server and fond the problem there. From what I can see the encounter is self is fine, its just when you open the encounter through the billing manager the pid is reset to 0.

[2020-08-20 18:25] sjpadgett commented on #3874
Okay, that works okay on my local 502(4). For some reason demo won't show Fees menu! Still, if broken on demo, I should be able to fix.

I'll look into further. If you come across any info, let me know...

[2020-08-20 18:39] sjpadgett commented on #3874
https://demo.openemr.io/a/openemr/interface/login/login.php?site=default
Works okay for me. Plus domos are 502(1) what version are you?

[2020-08-21 02:35] bradymiller commented on #3864
@tywrenn and others,

Was thinking it may make sense to consolidate the docker stuff a bit to the following paths:
docker->production->docker-compose.yml
docker->development-easy-standard->docker-compose.yml
docker->development-easy-lightweight->docker-compose.yml (without couchdb and ldap dockers; for @tywrenn :) )
docker->development-insane->docker-compose.yml

This would then mean there would b

[2020-08-21 02:48] tywrenn commented on #3864
@bradymiller This is when I wish docker was more dynamic lol xD
I'm assuming OpenEMR flex runs all the scripts so we technically could probably make the user enter in which environment they want on initial launch in CLI. I think your idea might end up being more complicated than it needs to be.

[2020-08-21 06:34] boxlady commented on #3874
The devement demo

https://eight.openemr.io/a/openemr/interface/main/tabs/main.php

On Thu, 20 Aug 2020, 8:39 pm Jerry Padgett, <notifications@github.com>
wrote:

[2020-08-21 06:46] khanhnv-2091 opened #3875 "Accounting account can upload file as Admin account"
I just discovered a vulnerability that allows an **accounting** account to upload files like an **admin** account
POC: https://drive.google.com/file/d/1uMVhHLkvf5bdAt0__vq8wG1hcHAaHALy/view?usp=sharing
If you need any further information don't hesitate to email me: nguyenkhanh.actvn@gmail.com

[2020-08-21 07:27] #3267 closed

[2020-08-22 14:14] Mouse55 opened #3877 "No-copay visits"
In my practice certain types of visits do not have copays applied to them (surgeries, post-op visits, etc.). The following link demonstrates the modifications necessary to the get_patient_balance function in library/patient.inc to prevent the application of copays to these specific services. https://community.open-emr.org/t/post-op-visits-and-co-pay/11495/4

[2020-08-23 19:29] #3619 closed

[2020-08-23 21:24] tywrenn commented on #3543
bump

[2020-08-23 22:07] tywrenn opened #3880 "Tall Navigation Area & Vertical Menus Don't Work"
### Describe the problem

It's no surprise that this happened. The tall navigation area and vertical menus are completely broken. This was expected due to converting to iframes.

### Describe the solution you'd like

@sjpadgett @bradymiller
The tall navigation area only worked on frameset mode which has been removed in a previous commit. This variable should be removed. This is also the same case

[2020-08-23 23:29] #3695 closed

[2020-08-24 00:15] tywrenn commented on #2784
bump

[2020-08-24 00:45] tywrenn commented on #3607
@bradymiller Travis CI is back to being a ghost again lol

[2020-08-24 00:48] tywrenn commented on #3864
@bradymiller What I need is a simple one that I can test themes with and without having to deal with CouchDB or anything extra. Anything in my way I consider slowing me down xD

[2020-08-24 02:34] #3742 closed

[2020-08-24 05:14] bradymiller commented on #3607
travis is just lurking under the waters:
https://travis-ci.org/github/openemr/openemr

![tenor (43)](https://user-images.githubusercontent.com/278968/91006372-0af27500-e58e-11ea-9fa3-aaefa73fbb1a.gif)

[2020-08-25 03:52] bradymiller commented on #2924
bump

[2020-08-25 04:04] #3799 closed

[2020-08-25 04:04] #3838 closed

[2020-08-25 04:12] tywrenn commented on #1653
Bump

[2020-08-25 06:36] dummys commented on #3849
ok I have made the change and now I'm able to save huge files. thanks for the help

[2020-08-25 13:41] stephenwaite commented on #2810
bump

[2020-08-25 15:13] sjpadgett opened #3885 "5.0.3 upgrade sql v6.0"
### Describe the bug
First pass hung up towards end.
Second pass gave below.
![image](https://user-images.githubusercontent.com/1859985/91188123-f06be900-e6be-11ea-977c-660881804528.png)

Third pass finished.

This is on my development database i've carried around since v4.1 so could be a fluke or bares watching.

[2020-08-25 16:42] tywrenn opened #3886 "Speed Up Gulp Build Time"
### Describe the problem

This is a follow-up issue to the death of superhero and addition of compact themes. When I added compact themes it basically was asking Gulp to compile all the themes one more time, therefore drastically impacting build time.

### Describe the solution you'd like

Bootstrap 4 uses modules to separate different items of itself ([here's the code in where they get separated

[2020-08-25 16:51] tywrenn opened #3887 "Add lang attribute to HTML tag & Add Missing Doctype tags"
### Describe the problem

This issue I believe will go on for awhile yet it has to be done. The `<html>` tag in HTML5 requires the `lang` attribute for internationalization reasons. Also adding the `<!doctype html>` tag is also something we should be using on the entire code base.

### Describe the solution you'd like

To make this easy for me and everyone else, we should develop in the `/src/Core

[2020-08-25 20:20] #3537 closed

[2020-08-25 20:20] #2767 closed

[2020-08-25 20:50] bradymiller commented on #3886
hi @tywrenn ,

Kind of related. @robertdown pointed out something I removed that may help speed up devs working on themes. It was browsersync in https://github.com/openemr/openemr/pull/3261
video showing use in https://github.com/openemr/openemr/blob/master/interface/README.md#getting-started
https://imgur.com/a/C0dVnfq

Sounds like this doesn't require full building while working on themes. If so

[2020-08-26 02:12] #3855 closed

[2020-08-26 02:22] bradymiller commented on #3855
hi @stephenwaite , I lost track of this. Was your questions answered?

[2020-08-26 02:25] stephenwaite commented on #3855
hi @bradymiller , yep, you said since `patch.sql` has it should be all set, will reopen when community proves not so :)

[2020-08-26 12:17] stephenwaite commented on #2292
here's the billing manager with `Unbilled` selected
![Screenshot from 2020-08-26 08-14-34](https://user-images.githubusercontent.com/5618372/91302359-61210d00-e774-11ea-9b42-48fd26eb5e60.png)

here's the shot with `Unbilled` and `Insurance Company`
![Screenshot from 2020-08-26 08-17-12](https://user-images.githubusercontent.com/5618372/91302480-9299d880-e774-11ea-87a9-372cd92545e9.png)

what happe

[2020-08-26 12:24] juggernautsei opened #3889 "Fee sheet select codes overlap"
### Describe the bug

After populating code categories, when selecting a category that is rather large and it drops down over the code select below. The code select box still is visible on top of the dropdown menu.

### To Reproduce

![image](https://user-images.githubusercontent.com/834958/91303013-5fa41480-e775-11ea-96da-404dd631d03a.png)

### Expected behavior

The dropdown should be opaque and

[2020-08-26 12:36] stephenwaite commented on #3889
hi @juggernautsei please see https://community.open-emr.org/t/product-screen-overlay-issues/14247/11?u=stephenwaite

[2020-08-26 13:39] juggernautsei commented on #3889
@stephenwaite yesterday I had an issue with my banking where the site would not let me log in. The tech support asked me to clear my browser cache. I did and the site allowed me to log in. For grins and giggles, I will clear my cache and use a different machine. I will report back in the next 20 minutes.

[2020-08-26 13:44] juggernautsei commented on #3889
Here is a screenshot from firefox on ubuntu.
![overlaystillhappens](https://user-images.githubusercontent.com/834958/91311080-a77c6900-e780-11ea-90f4-aeaddb4ec852.png)

[2020-08-26 13:48] sjpadgett commented on #3889
this is probably a z-index issue.

[2020-08-26 13:55] juggernautsei commented on #3889
It is a z-index issue but I was not quickly able to find it. I check out the code_choices.css file but because the page is using frameset and not divs it is not clear what can be done.

I cleared the cache in my windows machine and make sure the patch 4 was installed and it is still there.
![image](https://user-images.githubusercontent.com/834958/91312243-02fb2680-e782-11ea-9030-7e4d17b04ce8.png)

[2020-08-26 13:56] juggernautsei commented on #3889
`.active-category
{
    position: absolute;
    z-index: 10;
    background-color: white;
	background
    width: 99%;
    border: 1px black solid;
    padding: 14pt;
}`

I tried changing the z-index to 22222 and nothing changed.

[2020-08-26 14:35] sjpadgett commented on #3889
i'll take a look

[2020-08-26 14:42] stephenwaite commented on #3889
hi guys, this change i just committed doesn't work?

[2020-08-26 15:03] sjpadgett commented on #3889
here is where need to fix interface/forms/fee_sheet/code_choice/css/code_choices.css L-11
div.code-choices
{
    font-size: 10pt;
    position:relative;
    z-index: 0;
}

ya shouldn't need a z-index here! remove

[2020-08-26 15:25] stephenwaite commented on #3889
are my posts visible lol

[2020-08-26 15:34] sjpadgett commented on #3889
sorry @stephenwaite I wasn't paying attention. Removing worked for me however, 99 should work. Best to let parser handle the z-index. did ya clear cache?
![image](https://user-images.githubusercontent.com/1859985/91324229-d51cde80-e78f-11ea-9ca3-9e16815a3edf.png)

Still on my instance I get on selection:
![image](https://user-images.githubusercontent.com/1859985/91324378-00073280-e790-11ea-8428-13

[2020-08-26 16:00] juggernautsei commented on #3889
That work! No reload needed.

[2020-08-26 16:05] sjpadgett commented on #3889
okay so i'm lost! what worked and are you getting an error on code select?

[2020-08-26 17:42] sjpadgett commented on #3889
The above bug was by my fat fingers. I kicked my dog and he promised to not do it again!
@juggernautsei if you'd do PR i'll add to patch.

[2020-08-26 17:44] stephenwaite commented on #3889
lol, the above commit was added to `rel-502`

[2020-08-26 17:47] sjpadgett commented on #3889
Man oh man! I'm such an airhead. I should just go hide in the corner....

[2020-08-26 17:49] stephenwaite commented on #3889
github needs self destruct timer for these situations :bomb:

[2020-08-26 17:56] sjpadgett commented on #3889
ha, yesterday I started fixing something in 501 and caught myself.

[2020-08-26 20:29] tywrenn opened #3891 "Bug When Creating a New Patient"
Just ran into this bug that happens whenever I create a new patient.
![image](https://user-images.githubusercontent.com/46497068/91353492-563c9b80-e7b9-11ea-8b87-1c3620dbbf3b.png)

[2020-08-26 20:29] tywrenn commented on #3891
@bradymiller

[2020-08-26 20:51] stephenwaite commented on #3891
hi @tywrenn , can't reproduce on the demos but this is the easy dev setup?

[2020-08-26 20:53] tywrenn commented on #3891
@stephenwaite Yep it's using easy dev (as in the stock docker-compose file found in the repo)

[2020-08-26 20:56] bradymiller commented on #3889
I've heard the 4.0.2 has some bugs that needs fixing :)

[2020-08-26 21:09] stephenwaite commented on #3889
actually 4.1.2 upgrade lol

[2020-08-26 21:12] sjpadgett commented on #3889
I'm in the corner on timeout so.....

[2020-08-26 21:15] stephenwaite commented on #3891
just spun it up and it added a pt no prob

[2020-08-26 21:21] stephenwaite commented on #3889
![external-content duckduckgo com](https://user-images.githubusercontent.com/5618372/91358310-94898900-e7c0-11ea-9644-ecaa72431a7d.gif)

kind of obtuse :)

[2020-08-26 21:31] stephenwaite commented on #3891
have been seeing a persistent file that has to be checked out with the easy dev before moving on to more important matters lol
`contrib/util/docker/couchdb-config-ssl-cert-keys/local.ini`

[2020-08-26 21:49] bradymiller commented on #3889
we only for bans/timeout for 1 minute here. ban started. ok, now done :)

[2020-08-26 23:43] bradymiller commented on #3891
I'm officially banning the person that added couchdb for 1 minute ........ ok, done :)

[2020-08-26 23:55] sjpadgett commented on #3891
oh, we banned him yesterday!

[2020-08-27 00:01] bradymiller commented on #3891
I must of forgot. We need a high tech way to track these misbehaviors. Thinking that investing in future technology may help us:
https://www.amazon.com/Yellow-Mountain-Imports-Standard-Abacus/dp/B00SQVXSMM/

[2020-08-27 01:25] sjpadgett commented on #3885
502 to v6.0
hangs here:
![image](https://user-images.githubusercontent.com/1859985/91367078-842ed980-e7d3-11ea-8ead-eb82971e4d91.png)
then
[26-Aug-2020 19:54:23 America/New_York] SQL Error with statement:query failed: CREATE UNIQUE INDEX `uuid` ON `form_encounter` (`uuid`)--Duplicate key name &#039;uuid&#039;==&gt;C:\xampp\htdocs\openemr-6\library\sql_upgrade_fx.php at 1074:sqlStatement
[26-Aug-20

[2020-08-27 03:10] sjpadgett commented on #3885
@bradymiller
$db_encoding = 'utf8mb4';
Just a bit ambitious don't you think? I don't see this working out too well or do you have a plan?

[2020-08-27 03:21] bradymiller commented on #3885
hi @sjpadgett , That should only be for new installs. Upgraders should retain their original sqlconf.php script and not be affected (in theory at least). And if go to a new sqlconf.php script (by copying old credentials into the new script), then the utf8mb4 should be changed to utf8 (or just removing the variable altogether).

[2020-08-27 03:22] bradymiller commented on #3885
btw, we used the same strategy a decade ago when going from latin1 to utf8, which is why that weird `$disable_utf8_flag = false;` variable is in sqlconf.php .

[2020-08-27 03:23] sjpadgett commented on #3885
duh! :) okay, thanks..

[2020-08-27 03:24] bradymiller commented on #3885
Is that what caused the sql upgrade error or are we still on the hunt for the issue ?

[2020-08-27 03:27] sjpadgett commented on #3885
Prob some of it but i'm getting ready to run it up on my linux box. we'll see...

[2020-08-27 07:16] bradymiller commented on #3885
I also just noted this issue on linux (docker dev environment when using demo data, which basically runs through the sql upgrade).

[2020-08-27 07:17] bradymiller commented on #3885
disregard my above post; my error was different and related to development in the branch i was working on. time to give myself a time out :)

[2020-08-27 08:00] sjpadgett commented on #3885
Yep having a dickens of a time with upgrade_sql just going away and sometimes will show an error mostly for unique indexes on the uuid stuff.

Have we set a min version for v6.0 upgrades?

[2020-08-27 08:28] bradymiller commented on #3885
Upgrade testing is working for me on the easy dev env docker when going from 5.0.0 (this is because the demo data option in devtools brings in a 5.0.0 database with demo data in it and then performs upgrade on it to most recent version, in this case 6.0.0-dev). This environment is using mariadb 10.5. The demo farm dev instances with demo data also do same thing and are using mariadb 10.3 (they are

[2020-08-27 13:36] stephenwaite opened #3894 "simplify billing work flow for prior auths"
### Describe the problem

currently have to use the `Miscellaneous Billing Options` form in order for the prior auth number to be included in the claim

### Describe the solution you'd like

rather see a prior auth widget added to the main pt dashboard whereby the prior auth could be linked to an encounter

then the encounter and claims generation could look to see if a prior auth spanned the date

[2020-08-30 09:53] #2546 closed

[2020-08-30 18:24] sjpadgett commented on #3885
Appears the upgrade script is fine. My problem is the appearance that the upgrade hangs up due to the unusually long time it takes to create all the uuid infrastructure on a moderately sized production database.
On windows we are talking at least 15 minutes or more though, i've not timed it. I will time it on my linux box here soon but, in the end, we need to give an immediate feedback to the user

[2020-08-30 18:47] sjpadgett opened #3896 "Password upgrade v502 to v6.0"
### Describe the bug
Seems if a password is under 9(a guess) characters(mine was 6), password upgrade for that user does not work. My others were over 9 chars.
Unknown what it is set to but needs watching.

[2020-08-30 19:33] bradymiller commented on #3885
Thinking that maybe an ajax element that checks something every 5 seconds or so (could send the output to a tmp log file placed in sites/default/documents/logs_and_misc/ also in addition to the screen (as already done which is basically impossible to control the buffering issues since can be out of individual apps scope)), which the ajax element will keep checking and showing output from). Also, a

[2020-08-30 19:51] sjpadgett commented on #3885
Thanks Brady, let me finish testing. Right now with mysql 5.7 for some reason it looks like the index exist check isn't working because script still tries to create the index. I can't put my finger on why my servers are having such a hard time with this upgrade.

The upgrade is not doing anything extraordinary unless there's a server(mysql) buffering problem or time outs i'm not seeing.

I'm going

[2020-08-31 03:25] arnabnaha opened #3898 "Dropdown Not visible"
Hi,
I am in windows and using chrome. I am using the latest dev tip of openemr 6.0.0.
In my instance, I cannot see the dropdown list in the encounters page as this is too light against the background (see image below).
![openemr](https://user-images.githubusercontent.com/1074948/91679974-6a8ce980-eb67-11ea-8f59-571b08db71bb.png)

This doesnot change with the selection of theme, its same in all the

[2020-08-31 03:27] tywrenn commented on #3898
Please try using a different theme while I work on this issue.

[2020-08-31 03:29] arnabnaha commented on #3898
I have tested 3-4 themes..all are same

[2020-08-31 17:49] jfischburg-lifemesh commented on #3571
I would like to check-in on the progress of this initiative and contribute. @bradymiller @CraigT543 @gutiersa @tywrenn @sjpadgett @sunsetsystems what is the current status, and what needs doing?

[2020-09-01 00:49] bradymiller commented on #3582
bump

[2020-09-01 01:54] tywrenn commented on #3898
The default light theme should work -- if it doesn't it's probably a global theme issue.

[2020-09-01 02:13] tywrenn commented on #3891
Still happening unfortunately

[2020-09-01 03:12] #2280 closed

[2020-09-01 03:24] sjpadgett commented on #3885
@bradymiller
There will be a lag in the server process status and the echoed query from upgrade script so, what do you think?
- maintain the entire server process history or
- just show last/current server event in history view.
here's scroll. still not styled...
![image](https://user-images.githubusercontent.com/1859985/91791385-027ae980-ebe1-11ea-8546-d58a733fd102.png)

[2020-09-01 04:33] bradymiller commented on #3885
hi @sjpadgett , Would show it all for now. Can get more fancy as we go (things that would be neat would be to expand/collapse the element with Show Details/Hide Details and show a very non-obtrusive ongoing indicator in the element until the script is completed). Since logging every single query wonder what impact of tens of thousands of queries would be (in terms of the write and also the ajax re

[2020-09-01 04:35] bradymiller commented on #3885
oh and forgot to mention, the OpenEMR fans are very happy with this :)

![2DV](https://user-images.githubusercontent.com/278968/91795206-e3c12680-ebd1-11ea-98dc-1e42fea8b584.gif)

[2020-09-01 05:10] sjpadgett commented on #3885
lol, i've often wondered if the guy with one eye resents all the others with both eyes! And did he have to pay more to have his goggle made?

Nice thing about using the built in process list, it's maintained by the server and is a simple select query.
I have/had several options for checking status. Ajax, ES6 fetch w/promise, server side events or workers. Because this is a single process, polling

[2020-09-01 05:12] #542 closed

[2020-09-01 12:18] arnabnaha commented on #3898
Its still the same even after the code changes.

[2020-09-01 12:19] arnabnaha commented on #3898
please reopen this

[2020-09-01 12:37] arnabnaha opened #3900 "Cant Login to Openemr"
hi
All was working fine...I made the code changes to the themes #3899 and suddenly I got the error SITE ID MISSING... I cleared the cache and tried to log in back, but I am automatically thrown back to the login screen again. This is checked in firefox and microsoft edge also. All three browser shows same activity.

Apache error log is showing this -
[Tue Sep 01 18:03:33.391086 2020] [php7:notice]

[2020-09-01 12:49] stephenwaite commented on #3900
hi @arnabnaha , if you revert the changes are you able to log back in?

[2020-09-01 13:11] arnabnaha commented on #3900
I just reverted the changes...no help..still having the same login issue

On Tue, 1 Sep 2020, 18:20 stephen waite, <notifications@github.com> wrote:

[2020-09-01 13:56] stephenwaite commented on #3900
odd, have you tried resetting your password through the sql command line or phpmyadmin?

[2020-09-01 13:58] arnabnaha commented on #3900
No i have not reset my password anytime soon

On Tue, 1 Sep 2020, 19:27 stephen waite, <notifications@github.com> wrote:

[2020-09-01 13:59] stephenwaite commented on #3900
just thinking it's worth a try since it's a login issue

[2020-09-01 13:59] stephenwaite commented on #3900
`UPDATE users_secure SET `password` = '$2a$05$MKtnxYsfFPlb2mOW7Qzq2Oz61S26s5E80Yd60lKdX4Wy3PBdEufNu' WHERE `username` = 'admin'`

[2020-09-01 14:11] arnabnaha commented on #3900
No help..still cant login. Browser is refreshing back to login screen

*          Dr. Arnab Naha*
*          MBBS (Cal), DNB (General Surgery)*

On Tue, 1 Sep 2020 at 19:30, stephen waite <notifications@github.com> wrote:

[2020-09-01 14:17] stephenwaite commented on #3900
ok, and after reverting you cleared the cache?

[2020-09-01 14:21] arnabnaha commented on #3900
yes I cleared the cache

*          Dr. Arnab Naha*
*          MBBS (Cal), DNB (General Surgery)*

On Tue, 1 Sep 2020 at 19:47, stephen waite <notifications@github.com> wrote:

[2020-09-01 14:52] arnabnaha commented on #3900
I am reinstalling openemr after taking a mysqldump...lets see if this helps

*          Dr. Arnab Naha*
*          MBBS (Cal), DNB (General Surgery)*

On Tue, 1 Sep 2020 at 19:50, Arnab Naha <superarnab@gmail.com> wrote:

[2020-09-01 15:57] arnabnaha commented on #3900
So I understood where the problem is -
I dropped the database after taking a mysqldump and reinstalled openemr on
a fresh database totally empty from the recent dev tip and it worked fine.
I was able to login and everything.

Next I restored mysqldump file on my fresh database and again I am unable
to login and I am refreshed back to login screen after moments of getting
logged in.

What is the is

[2020-09-01 15:59] arnabnaha commented on #3900
PHP error log is now showing this -

[Tue Sep 01 21:24:44.529984 2020] [php7:warn] [pid 5528:tid 1868] [client
47.15.2.42:57934] PHP Warning:  session_destroy(): Trying to destroy
uninitialized session in
C:\\xampp\\htdocs\\openemr\\src\\Common\\Session\\SessionUtil.php on line
204, referer:
http://nahahealthclinic.ddns.net/openemr/interface/main/tabs/main.php?token_main=IzWZhku9oYI3WVeVRJDxaIh5nF

[2020-09-01 16:23] tywrenn commented on #3898
@arnabnaha I tested this on one of the up-for-grabs demos and it seems to be resolved...what theme are you using?
![image](https://user-images.githubusercontent.com/46497068/91878796-d0ec3780-ec4d-11ea-9c5e-213906d2fdc0.png)
Did you clear your website cache after updating? Try doing that as the themes typically get cached by your browser. Also be sure the themes have been recompiled as well in you

[2020-09-01 16:32] arnabnaha commented on #3900
![log openemr](https://user-images.githubusercontent.com/1074948/91881145-aeced580-ec9e-11ea-8934-e1155dbd93bd.jpg)

This is the openemr log from phpmyadmin - shows timeout and forced logout

I donot know why

[2020-09-01 18:17] bradymiller commented on #3900
hi @arnabnaha ,
Any entries in the session_tracker table. If so:
1. remove them
2. remove all cache/history on browser
3. stop/start browser
4. try to log in

[2020-09-01 18:17] bradymiller commented on #3900
also, take a screenshot of  the session_tracker entries before removing them

[2020-09-01 18:20] sjpadgett commented on #3900
Don't worry about this warning it is not hurting your issue. Thats from session teardown from being redirected to login I believe.
@bradymiller I think this may have to do with encryption keys!

[2020-09-01 18:23] bradymiller commented on #3900
the "timeout, so force logout" seems to point towards an issues in SessionTracker (i can't see how a bad column in session_tracker could do this since it's just pinned to session, but it is relatively new code)

[2020-09-01 18:32] sjpadgett commented on #3900
Okay but just for grins @arnabnaha try running sql_upgrade against troubled database. Start at v5.0.1

[2020-09-01 19:21] sjpadgett commented on #3885
@tywrenn
Which is better to use: bg-light/dark text-light/dark or bg-primary/secondary etc?

[2020-09-02 03:55] sjpadgett commented on #3885
I can't seem to help myself:
![image](https://user-images.githubusercontent.com/1859985/91929579-ada4a500-ecac-11ea-80b9-bc62550c2c9c.png)
also fixed the < 5.0.0 warning to only display if needed.
![image](https://user-images.githubusercontent.com/1859985/91929902-71be0f80-ecad-11ea-8b15-1fb1d44bf4a9.png)

And translated most of upgrade.  I think i'll stop here and get back to some real work...

@

[2020-09-02 04:04] arnabnaha commented on #3900
This is the session tracker table. I have removed it. I have removed all cache and browser history. Tried to relogin but all the same.

I even tried sql_upgrade from v5.0.1 but its same.

[2020-09-02 04:10] bradymiller commented on #3900
can't see your session tracker table.
Try to place the following right before the if block at line 87 in library/auth.inc:
[code]
(just a quick fix that should get things working in case needed for your production instance)

[2020-09-02 04:18] arnabnaha commented on #3900
Hi Brady...Thanks for the quick fix..really saved me...i have all my patient data in the instance and was going mad by thinking how i will get back my data. Anyways..Now I am able to login back but the calendar screen is not working - its showing unknown at the title.

Regarding the session tracker screenshot..there is an issue in github i guess for uploads...i am trying but its constantly failing

[2020-09-02 04:18] bradymiller commented on #3885
dang!

[2020-09-02 04:20] bradymiller commented on #3900
Wonder if browser is holding on to a bad cookie (which is in turn connecting to a bad php session). Would also ensure you remove all cookies from your browser.

[2020-09-02 04:21] bradymiller commented on #3900
Also, are you seeing any php errors after logging in successfully?

[2020-09-02 04:22] arnabnaha commented on #3900
This is my php error log now -

[Wed Sep 02 09:50:29.101926 2020] [php7:warn] [pid 5528:tid 1888] [client 223.223.146.216:59376] PHP Warning:  A non-numeric value encountered in C:\\xampp\\htdocs\\openemr\\interface\\main\\calendar\\modules\\PostCalendar\\pnuserapi.php on line 73, referer: http://nahahealthclinic.ddns.net/openemr/interface/main/tabs/main.php?token_main=VxRy07U01ZFDZ6r1crsj3WmQ

[2020-09-02 04:31] arnabnaha commented on #3900
![session_tracker](https://user-images.githubusercontent.com/1074948/91932235-36e6c680-ed03-11ea-9500-71b838e51255.png)

[2020-09-02 04:31] arnabnaha commented on #3900
![calendar](https://user-images.githubusercontent.com/1074948/91932246-3fd79800-ed03-11ea-9608-fe855dddd517.jpg)

This is the calendar currently

[2020-09-02 04:37] bradymiller commented on #3900
I think something is wrong with your globals table (this is why the timeout is possibly breaking and why getting that warning since the common link is they are both globals). Do you see any odd setting in Administration->Globals (for example the `Calendar Interval` setting and the `Idle Session Timeout Seconds` setting)

[2020-09-02 04:37] arnabnaha commented on #3900
This is the session tracker table after the fix given by Brady -

![session_tracker_afterfix](https://user-images.githubusercontent.com/1074948/91932535-179c6900-ed04-11ea-9316-b5e75e525963.jpg)

[2020-09-02 04:38] arnabnaha commented on #3900
I am checking it right now Brady

[2020-09-02 04:48] arnabnaha commented on #3900
Brady

The whole globals is completely problematic...please see -
![globals1](https://user-images.githubusercontent.com/1074948/91933041-9b0a8a00-ed05-11ea-97d6-79d0b2fcbe9c.jpg)
![globals2](https://user-images.githubusercontent.com/1074948/91933054-a1006b00-ed05-11ea-8594-8345c95054e6.jpg)
![globals3](https://user-images.githubusercontent.com/1074948/91933059-a2319800-ed05-11ea-8862-c4aeb72983ad.

[2020-09-02 04:51] arnabnaha commented on #3898
Hi..
The dropdown is nicely visible now..Actually i was facing a troubled login isssue and need to solve it...After I removed the cached and by Brady's fix was able to login back...I can see that the dropdowns are good to go..Thanks a lot. I am closing it down.

[2020-09-02 04:51] #3898 closed

[2020-09-02 04:53] arnabnaha commented on #3900
![global4](https://user-images.githubusercontent.com/1074948/91933349-4ddae800-ed06-11ea-95c1-6e6c03c4029d.jpg)

[2020-09-02 04:53] arnabnaha commented on #3900
Idle session time out is also empty

[2020-09-02 04:55] bradymiller commented on #3900
yep, basically empty. I would truncate the current globals table (ie. remove everything thing) and then populate it from a prior database backup that you have. Then run the sql_upgrade.php script.

[2020-09-02 04:57] bradymiller commented on #3900
(after you do this, then can remove the `$skipSessionExpirationCheck = true;` line you placed in auth.inc)

[2020-09-02 04:59] arnabnaha commented on #3900
Thanks Brady...It was extremely helpful...Thanks a lot

[2020-09-02 05:35] arnabnaha commented on #3900
Truncate and repopulation of globals table done...All working nicely now...have removed the library/auth.inc code that Brady gave. Thanks a lot everyone. Closing it down.

[2020-09-02 05:35] #3900 closed

[2020-09-02 10:27] samarmeena opened #3902 "Care Coordination multiple bugs/problems"
### Care Coordination  > Export Issue
No patient data in search result, thus can not export patients record.
![image](https://user-images.githubusercontent.com/23554168/91969004-1df60980-ed33-11ea-914c-bb68af8a3dec.png)

### Care Coordination > Import Issue
It shows data but when creating a new patient from it, it doesn't import everything. Only import 1 allergies for example.
this was also report

[2020-09-02 12:26] stephenwaite commented on #3579
bump

[2020-09-03 11:51] dummys opened #3904 "SQL Error: Too many connections"
Hi,
We have something weird. Is it normal that with only one user connected to OpenEMR we get 150 connections to SQL ?

[2020-09-03 13:55] stephenwaite commented on #3904
hi @dummys , it is normal from my experience, that's why for a multi-setup have this
[code]

[2020-09-03 15:41] dummys commented on #3904
ohh ok. So it means for production we need a huge mysql instance at AWS then ? Because max connections is related to ram

[2020-09-03 15:42] dummys commented on #3904
we are not running multisite, only one.

[2020-09-03 15:43] stephenwaite commented on #3904
then should prob watch for now and see what your max is, will label this a `bug` and hopefully can get a handle on too many opens

[2020-09-03 15:44] dummys commented on #3904
yes but to have 5000 connections on AWS, it means running a monster with 48GB of memory. WTF ?

[2020-09-03 15:45] stephenwaite commented on #3904
my multisite with `5000` is not on AWS, you can probably use something like 500 but would have to monitor during usage to confirm

[2020-09-03 15:46] dummys commented on #3904
ok but how it is possible to use so much connections ? There is persistent one ?

[2020-09-03 15:47] stephenwaite commented on #3904
that's why it's labeled a :beetle:

[2020-09-03 15:47] dummys commented on #3904
Ohhh ok. But nobody see this before ?

[2020-09-03 15:48] dummys commented on #3904
can you told me how open  connection you had on a production system with like 10 doctors ?

[2020-09-03 15:52] stephenwaite commented on #3904
usually should max out ~150

[2020-09-03 15:53] dummys commented on #3904
ok so with an instance with 4GB we should be at 317 connections, it should be ok you think ?

[2020-09-03 16:09] sjpadgett commented on #3904
Busy body here but, with 10 doctors I don't think you can get by on 4GB! Remember also support staff.
I remember last year I help somebody with a multi site config that was running 20-30 users where we had to bump to 8GB mem.
Also, remember volume space as that will be an ongoing and ever growing headache for you.

Server connections is a bug imo as Stephen pointed out that I may address in my cur

[2020-09-03 19:31] bradymiller commented on #3904
I'll have more to post on this later tonight (from work, my github/web
access is limited) since we've thought about this issue several times in
the past. This is related to connection pooling (connections are left
around and reused), which increases performance. We could have an option to
turn this off, which would then make ongoing connections super low (and may
be worth the performance trade off

[2020-09-03 20:18] sjpadgett commented on #3904
thanks Brady. I didn't know we used connection pooling so i'd leave it alone. Looks like we average 5-6 connections per user.
Besides while OpenEMR runs fine on 4GB for small office, i'd opt for the greater 8GB.
On average an instance will use 1.5-2GB with most of the rest being cached.

[2020-09-04 02:23] #251 closed

[2020-09-04 06:35] bradymiller commented on #3904
When I have time, I'll make a global to disable pooling just for allowing testing and show folks how to do it. It's not too tough to do (have tested this in past when added the ssl mysql stuff), and it may not get into the codebase, but will then allow profiling to get a clear idea of performance hit.

The max_connections setting in the demo farm has been very stable at 450 (never has run out of c

[2020-09-04 18:50] #3460 closed

[2020-09-04 19:22] zerai commented on #3904
Pooling settings is already a global variable [here](https://github.com/openemr/openemr/blob/0833d7d6dcff61a42399295f87b5ca980670642b/interface/globals.php#L299).
I don't think pooling config is the real problem, and it
works when we use doctrine, five entity/table (see the folder src/Entity)
versus all other tables (80? 100? or more table).

Actual state:
1 Gacl [creates](https://github.com/opene

[2020-09-04 21:01] mdsupport commented on #3904
If those are active connections working on different queries, that would be one busy user or a legit bug.

If you are an admin looking to fine tune the db operations, you know the connection mechanism. In general balance the small overhead of memory consumed by idle connection with user's ire when they spend few minutes filling the form and emr returns db error of not enough connections.

If the c

[2020-09-05 10:13] bradymiller commented on #3904
hi,

Incorporated a global setting to turn on/off database connection pooling in this PR:
https://github.com/openemr/openemr/pull/3906

Note @zerai that the global setting your pointed to was only for the doctrine connection.

In doing this, I noted that the calendar, laminas, and portal were actually not using pooling in their connection schemes (the PR adds this in so that all the connections ar

[2020-09-05 14:30] #3565 closed

[2020-09-05 15:04] #3885 closed

[2020-09-06 18:59] bradymiller commented on #3904
hi @dummys ,
Brought in a global in the above PR that is now in codebase (will be in 6.0.0) to turn off pooling/persistence. But you can see where changes are being made in case you want to try it out on your 5.0.2 instance if that is the direction you want to go. Added this setting to the setting guide with some guidance (links at least):
https://www.open-emr.org/wiki/index.php/Administration_Glo

[2020-09-06 21:24] tywrenn commented on #3902
Not surprised at all that this is happening considering we haven't really done much with Care Coordination

[2020-09-06 21:33] tywrenn opened #3909 "ICD Not Imported Bug"
Not importing the ICD10 codes (Administration->Coding->External Data Loads->ICD10->Install) results in a JSON bug as found in PR 3845.

_Originally posted by @bradymiller in https://github.com/openemr/openemr/pull/3845#discussion_r480529571_

[2020-09-06 21:56] tywrenn commented on #3136
Bump - this can enhance performance

[2020-09-06 21:59] tywrenn commented on #3444
Re-opening this issue. There are patients in practice that get duplicated sometimes just because they changed the case of their name. We need a way to make both the patient portal and the EMR detect if we potentially are creating a duplicate.

[2020-09-06 22:04] tywrenn commented on #3579
Creating foreign keys was something I learned in my mySQL 101 class lol. They are essential to give context to the relation of all the tables that we have in OpenEMR. The way we should proceed here is first create an Entity Relationship Diagram of some sort and then connect them with is/a relationships.

[2020-09-06 23:31] tywrenn opened #3910 "Git Ignore Generated Certs (This is Annoying)"
### Describe the problem

Currently 3 files get generated every time I do a docker compose:
`/contrib/util/docker/couchdb-config-ssl-cert-keys/local.ini`
`/contrib/util/docker/ldap-ssl-certs-keys/easy/dhparam.pem`
`/contrib/util/docker/ldap-ssl-certs-keys/easy/server-key.pem`

### Describe the solution you'd like

Gitignore these files so we don't have to deal with them ruining pushing changes.

[2020-09-06 23:32] tywrenn commented on #3910
@bradymiller

[2020-09-06 23:53] bradymiller commented on #3910
Those files are in the codebase (except for dhparam.pem which I am guessing is a typo). If we gitignore them, they will go away :)
Are you using most recent codebase?
Still got this issue in my queue, which should simplify things for you (a more basic docker setup): https://github.com/openemr/openemr/issues/3864

[2020-09-07 00:12] tywrenn commented on #3910
@bradymiller Yep using the most recent one

[2020-09-07 02:38] bradymiller commented on #3910
Can you push the changes you are getting as a PR? Then can figure out what is going on.

[2020-09-07 03:03] bradymiller commented on #3910
Guessing will go away if do a docker tear down and rebuild on recent codebase also. But if not, then push a PR with the changes.

[2020-09-07 14:39] aaronchantrill commented on #3579
Thanks for bumping. I'm afraid I've been busy with school and work since getting back to the United States. I should have some time to work on this in October.

@tywrenn yes, that has always been the issue. Generating an ERD is my end-goal here, and is easy to generate from the database directly in MySQLWorkbench once the relationships have been established. This then can be manipulated to isolate

[2020-09-07 18:05] #3583 closed

[2020-09-07 18:08] tywrenn commented on #3579
The problem here is that the SQL tables we have currently are unconventional and aren't really representative of any sort of object oriented programming. Creating an ERD might be difficult and some tables night need to be renamed or removed entirely.

[2020-09-07 18:50] tywrenn commented on #290
Bump

[2020-09-08 00:27] tywrenn commented on #3910
Closing since it was fixed

[2020-09-08 00:27] #3910 closed

[2020-09-08 11:54] stephenwaite commented on #2677
bump

[2020-09-10 05:44] Paul-B commented on #3571
Hey all,

I've been reading this thread and all the others I could find regarding the connection between openemr and wp. At the moment I run a web-facing client registration site on wp that uses formidableforms to register users and collect data. The basic user data is saved in de wordpress user table along with some meta data like a billing address and a client number. The sensitive stuff is tran

[2020-09-10 12:44] stephenwaite commented on #3894
hi @juggernautsei, here's the `issue/enhancement` started a couple of weeks ago

thinking the form could be moved into the codebase proper and  no longer be enabled through forms->administration so have to figure out an upgrade path for the few folks who have used it as encounter based

hoping it will be much like medical problems are in the dashboard that can be linked to encounters (should help

[2020-09-10 19:05] stephenwaite commented on #3617
ok, not really a good first issue but who doesn't love a challenge :trophy:

[2020-09-10 19:08] stephenwaite commented on #3617
can also see this in various places throughout the `UI` like when you hover over the `?` in clinical reminders, so maybe rooted in a top level build `scss`?

[2020-09-10 20:16] juggernautsei commented on #3894
Here is an idea to make this a module that can be enabled if needed. What do you think about going down that path? Do we need a prior auth id column in the billing table?

[2020-09-10 20:23] stephenwaite commented on #3894
hi @juggernautsei , not sure about a module since this could be used extensively imho, pretty sure auth # is in `misc_billings_option` table

[2020-09-10 21:15] juggernautsei commented on #3894
@stephenwaite  The reason that I mentioned it is because it is not used by every type of practice. So, it needs to have the ability to be disabled if not being used.

[2020-09-10 23:41] stephenwaite commented on #3894
think it's pretty widely used enough to set a global instead

[2020-09-11 12:19] juggernautsei commented on #3894
Agreed.
Below is part of the form mark up. The upgrade path in part should be the adding of the two columns to the current table that is in use.

     #IfMissingColumn form_prior_auth expiration
      ALTER TABLE `form_prior_auth` ADD expiration datetime NULL default '1900-01-01 12:12:12'
     #EndIf
     #IfMissingColumn form_prior_auth units
      ALTER TABLE `form_prior_auth` ADD `units` int(5)

[2020-09-11 14:45] CraigT543 commented on #3571
Hello Bradly,

I just noticed you asked for error messages.  Sorry for the delay.  This is all that I get:

`
Got error 'PHP message: PHP Warning:  Variable passed to each() is not an array or object in /pathtoopenemr/interface/cmsportal/list_requests.php on line 266PHP message: PHP Warning:  Variable passed to each() is not an array or object in /pathtoopenemr/interface/cmsportal/list_requests.ph

[2020-09-11 21:38] juggernautsei commented on #3894
Have you started a repo for this project

[2020-09-11 21:39] stephenwaite commented on #3894
nope, will just be a branch of off master

[2020-09-12 02:36] stephenwaite commented on #3512
bump

[2020-09-13 15:42] CraigT543 commented on #3571
Now that I am getting around to looking I see that line 267 is the sync for messages and the messages portion is problematic for various reasons.  The first issue is that there is no Cartpauj PM plugin anymore.  And my sync with Frontend PM also stopped working so I will dig in to this.

[2020-09-14 00:16] DangerPoodle opened #3925 "Mysql 8.0.11 removed the PASSWORD function"
### Describe the bug

As of version 8.0.11 of mysql, the PASSWORD() function has been removed.  This causes a Query Error display when trying to display rule details.  It may also affect library/classes/Installer.class.php.

### To Reproduce

Steps to reproduce the behavior:
1. Be using mysql 8.0.11 or newer (tested with mysql  Ver 8.0.21-0ubuntu0.20.04.4 for Linux on x86_64)
2. Select Administrat

[2020-09-14 00:23] DangerPoodle commented on #3925
Since RuleManager.php is only using it to generate guids, not secure passwords, we could probably just replace it with a different mysql function like SHA2().  Unsure about Installer.class.php.

[2020-09-14 00:32] DangerPoodle commented on #3925
Actually, on closer inspection I think Installer.class.php is fine.  It only tries to use PASSWORD on older versions of mysql that reject the newer syntax, so probably no change required there.

[2020-09-14 00:53] DangerPoodle commented on #3925
Tested this using SHA2() and it seems to work. The SHA2 function was added to mysql in version 5.5.5, though, so if we need to support older versions than that, SHA2 would be a poor choice.

Although SHA1 or MD5 would be perfectly fine for our purpose, they are no longer considered secure, so I worry they'll be removed from mysql in the near future (although there's been no such announcement that

[2020-09-14 05:43] bradymiller commented on #3531
bump

[2020-09-14 07:32] bradymiller commented on #3925
hi @DangerPoodle ,
Thanks for pointing this bug out. Recommend the strategy that was used in the prior PR:
https://github.com/openemr/openemr/pull/2928
(Would rec making a PR that only focused on that fix using that strategy, which basically removes that hashing stuff altogether)

[2020-09-14 12:15] #3617 closed

[2020-09-15 03:42] #3481 closed

[2020-09-15 22:49] stephenwaite commented on #3653
hi @tywrenn , pretty sure there isn't an API for that but the industry is moving in that direction

there's @sjpadgett 's real time elig that works per patient through office ally i believe

plus heard mention of a group that implemented their own with availity

@bradymiller , do you know of Brent's contact info from the call last week? thank you

[2020-09-16 12:47] matrix-amiel opened #3928 "Refresh token interface"
### Describe the problem

The clients who use an  API don't know when the token is expired.

### Describe the solution you'd like

The logic I found in the API mechanism refreshes the token automatic in the final 10 minutes before the token is expired.
This behavior prevent from the client to know when the token is nearing to expired and  to present message or send to login page.
I think the right

[2020-09-17 02:38] tywrenn commented on #3616
Closed due to no response

[2020-09-17 02:38] #3616 closed

[2020-09-18 07:00] bradymiller commented on #3928
@sjpadgett , Will the planned smart auth on FHIR stuff address this issue?

[2020-09-18 13:50] sjpadgett commented on #3928
@bradymiller @matrix-amiel
The token shouldn't refresh itself and is an oversight on our API part. I think was done for testing. New Auth server will handle but this could be easily fixed in the meantime.

I plan both Smart on FHIR and two/three legged OAuth. Client and password grant  types.

[2020-09-20 00:49] #3618 closed

[2020-09-20 19:27] matrix-amiel commented on #3928
@sjpadgett the correction needed to regular API and not just for FHIR, are you planning to fix it soon? thanks!

[2020-09-20 19:36] sjpadgett commented on #3928
hi @matrix-amiel Hope you and yours are well. Yep, both API's need done however, I believe can be done in same place in existing pre dispatcher.
I can't get to this for a week or so but if you want to take a shot at fixing, i'll review and bring in for you.
Let me know.

[2020-09-20 19:52] matrix-amiel commented on #3928
Hi @sjpadgett, Good to hear from you.
I'm a bit busy this week but maybe I'll make it too... the solution of new route for refresh-token sounds the right way?

[2020-09-20 20:29] sjpadgett commented on #3928
I don't believe we actually create refresh tokens to reauth session. You wouldn't want a separate endpoint to refresh but instead refresh in header. We use password grant type where you'd simply auth a new session when token expires.
For now, i'd mod auth code to not auto refresh the token and let expire the reauth on 401 redirect.

[2020-09-22 15:23] seroj6700 opened #3932 "Clients report dont working correct"
Hi i'm Sergey
I have a isssue with client report
I have a 2 users(administrator) for example X and Y and 94 patients

when I'm chooze X provider in Reports->clients->list i see 76 patients
but when I'm chooze Y in search bar i see nothing|

in all my patients in choise section i selected provider

please help me ASAP!

[2020-09-23 06:30] #3581 closed

[2020-09-23 23:18] tywrenn commented on #3620
Bump

[2020-09-23 23:31] tywrenn commented on #3925
To be honest this compatibility layer should be removed to discourage using anything between mySQL 4.1 and 5.5.5 as those versions have known security defects.

[2020-09-24 13:28] odra commented on #1364
may I? ;-)

[2020-09-25 04:56] bradymiller commented on #1364
![2DV](https://user-images.githubusercontent.com/278968/94228029-d1749880-feb0-11ea-8ea9-b63e0310f0ff.gif)

[2020-09-26 21:19] bradymiller commented on #2917
bump

[2020-09-28 10:44] #3241 closed

[2020-10-01 00:44] #3620 closed

[2020-10-01 23:49] tywrenn commented on #3704
bump

[2020-10-03 17:17] hanksterr7 opened #3947 "Clinical Rules and Reminders - required/optional choices are reversed"
The logic in clinical_rules.php is reversed in how it interprets the required_flag value in the rule_filter and rule_target tables

The tables indicate "0 is required and 1 is optional"

The rule display and editor php pages correctly interact with the tables. If you choose "optional: No" in the editor, the rule details display page will show "Characteristics: Required" and the table will contain

[2020-10-03 17:50] nestainnovations opened #3948 "Showing "502 Bad Gateway" while trying to login"
I just installed OpenEMR v5.0.2 in my server for testing, But unfortunately it is showing "**502 Bad Gateway**" while trying to login by using the account which I created during installation. I am confused its a bug or am I doing any mistake during installation.

[2020-10-03 18:57] hanksterr7 opened #3949 "Clinical Rules and Reminders - Errors in determining rule status (not due, due soon, due, past due)"
I found two related issues with how rule/reminder status (i.e. not due, due soon, due, past due) is calculated in `clinical_rules.php`. These issues cause it to be very difficult to design new rules and get predictable results.

First issue:

In test_rules_clinic(), the logic tests a rule target against 3 target dates, in this order:

1. today + the warning interval
2. today
3. today - the past du

[2020-10-03 20:40] hanksterr7 opened #3950 "Clinical Rules and Reminders - improper calculation of demographic filters when applied to db lookups"
Demographic filters specify features a patient needs to have in order for the rule to be applicable to a patient.

A variety of types of features can be examined, including age, gender, entries from the "lists" tables such as allergies and medications, as well as entries from custom tables and the rule_patient_data table

Filter configuration does not offer a way to specify date intervals when loo

[2020-10-03 23:21] hanksterr7 opened #3951 "Clinical Rules and Reminders - demographic filters - logic error when multiple filters are optional"
When multiple demographic filters exist, and all are optional (required_flag = 1), a bug in clinical_rules.php, database_check() causes filter evaluation to incorrectly return false when an early filter evaluates to false and is followed by a later filter that evaluates to true

The existing code for the DEFAULT section (which reads from rule_patient_data) is

            if (exist_database_item($

[2020-10-05 12:33] stephenwaite commented on #3949
Hi @hanksterr7 , this is great detail thank you! Now the next step is for you to make the code changes and open a pull request :)

[2020-10-05 16:41] sjpadgett opened #3956 "Implement OA2 Authorization server to support:"
- ONC 2015+
- Smart on FHIR
- OpenID Connect

Pretty simple justification; ONC requires SOF which requires OpenID Connect which in turn requires OA2 and identity provider.

My plan for phase 1 is to bring in OA2 and create the OIDC authenticate endpoint layer.
From there I hope to next do App registration for those native App developers to start registration development.
Registration is solely up

[2020-10-05 18:33] #3269 closed

[2020-10-06 02:22] mdsupport commented on #3956
Are you planning to include a OA2 server installation as part of emr installation?

[2020-10-06 05:53] vishnuyar opened #3957 "Adding Provenance Resource"
I am planning to add Provenance Resource. I have looked at https://www.hl7.org/fhir/provenance.html but unable to get a clear view on how to implement in for OpenEMR, any pointers will be appreciated.

[2020-10-06 06:00] bradymiller commented on #3957
hi @vishnuyar , Rec focusing on the USCore, which generally simplifies things:
https://www.hl7.org/fhir/us/core/StructureDefinition-us-core-provenance.html

[2020-10-06 06:58] sjpadgett commented on #3956
Hi @mdsupport ,
I am. I decided on using the leagues library as at least it is being maintained. The original author got frustrated with the OA2 committee and walked away in 2017. lol, my kind of guy, a rebel!
The oidc server layer I currently plan to be in the OpenEMR namespace and will be called as an endpoint from the apis directory redirect.

[2020-10-06 08:22] sjpadgett commented on #3956
Good grief! Trying to follow gov regulatory specs is like trying to track a deer on asphalt!

[2020-10-06 08:45] sjpadgett commented on #3957
Hi @vishnuyar This may help some in understanding the basic why for this profile.https://build.fhir.org/ig/HL7/US-Core-R4/basic-provenance.html

Like much of where the FHIR spec is heading and is now, overly complicated! In the end and for our purposes, our provenance will be the last providers organization for say a problem/issue or allergy/immunization(the two i'd focus) etc.

And thanks so much

[2020-10-06 08:46] bradymiller commented on #3956
especially trying to follow them late at night

![tenor (51)](https://user-images.githubusercontent.com/278968/95179594-b12cbf80-0775-11eb-89d0-070c28ca7a3f.gif)

[2020-10-06 08:49] sjpadgett commented on #3956
lol, Don't know anymore. I laid down this afternoon for just a minute in my mind and woke up at two a.m!!!

[2020-10-06 09:18] sjpadgett commented on #3956
Anyone.
I'm having trouble deciding whether to default to the authorization or implicit grant type. I'm thinking if decide to support for openemr login, authorization is way to go but, for api, perhaps implicit is better choice!

[2020-10-06 09:29] bradymiller commented on #3956
I vote for explicit (ok, I made that up :) ). From my quick reading, is implicit more for front end stuff?

[2020-10-06 09:32] sjpadgett commented on #3956
Actually you're right. I got that backwards. Though, i'm now looking at using a Hybrid grant for apis.

[2020-10-06 09:36] sjpadgett commented on #3956
anyone interested here is what i'm using
https://openid.net/specs/openid-connect-core-1_0.html

[2020-10-06 10:06] sjpadgett commented on #3956
As I feared, we tied api dispatcher to closely to authentication! Think i'll pull password auth out then just allow dispatcher to deal with tokens and token refresh..

[2020-10-06 16:17] bradymiller commented on #3956
If I haven't already stated how glad I am that you are doing this and not me, then "I am so glad you are doing this and not me" :)

[2020-10-06 16:59] sjpadgett commented on #3956
yep Brady and as my family just pointed out to me AGAIN this morning, i'm retired!:) They'll have to pull my keyboard from my cold hands or send it with me if I won't let go even then......!

[2020-10-06 17:17] stephenwaite commented on #3956
![mp4](https://user-images.githubusercontent.com/5618372/95237448-39db4800-07d6-11eb-93e4-259738a04539.gif)

[2020-10-06 17:18] sjpadgett commented on #3956
Hmm, wishing won't make it true Stephen:)

[2020-10-06 17:20] sjpadgett commented on #3956
Come to think of it; I'm not there when i'm on my computer or i'm not there if I go fishing so, can someone please explain to them what the heck is the difference! umm, don't they know me by now! okay enough of that.

Brady I hope to put up a PR later tonight where I hope you'll tackle how we handle auth servers private and public keys..

[2020-10-06 17:23] bradymiller commented on #3956
whoohooo, more keys and auth work! sadly, that is something I actually look forward to working on :)
Go argon2, a-r-g-o-n-2
![tenor (53)](https://user-images.githubusercontent.com/278968/95238185-0096de00-07be-11eb-8255-a4f0a8200d10.gif)

[2020-10-06 18:03] zerai commented on #3956
leauge/OA2 assumes the use of a concrete implementation
  of "psr/http-message" in the request / response cycle management

The codebase should be fixed before introducing OA2 library.

[2020-10-06 20:10] sjpadgett commented on #3956
@zerai
Huh! what's psr have to do with auth here?

[2020-10-06 21:17] zerai commented on #3956
There is no request object or response object in open-emr
we use indiscriminate direct access to php global vars [_POST,_GET,_SESSION]  as request  and a simple string or multi echo statement in  different files as a response.

leauge/OA2 [works](https://github.com/thephpleague/oauth2-server/blob/ffbeb6012bacb70a08b8caca156605c2d7ca7dcc/composer.json#L11) with a request/response object ([example c

[2020-10-06 21:28] sjpadgett commented on #3956
I still don't understand where we are remiss! Exactly where do we mangle http?
For the oidc/auth server interface i'll be using symfony.

[2020-10-07 21:54] #3611 closed

[2020-10-08 14:47] zerai commented on #3956
My point is you need a considerable refactoring before thinking of OA2 implementation.

[2020-10-10 13:26] stephenwaite commented on #3894
hi @juggernautsei , decided to bring in the prior auth form from contrib and update it a little bit. Let me know what you think.

[2020-10-10 13:33] juggernautsei commented on #3894
That is a great idea.

Sherwin

On Sat, Oct 10, 2020 at 9:26 AM stephen waite <notifications@github.com>
wrote:

[2020-10-10 13:34] stephenwaite commented on #3894
It's in master now so next step will be to add some logic to encounter to trigger if would like to auto-create for billing, just thinking out loud.

[2020-10-10 13:39] juggernautsei commented on #3894
auto create which part? Shouldn't the form be updated first? Just asking because I may have missed that part.

[2020-10-10 13:44] juggernautsei commented on #3894
I just looked, I will have to pull down the master and take a look at the form.

[2020-10-10 17:27] sjpadgett commented on #3956
ugh! oh yeah, multisite!

[2020-10-10 17:50] bradymiller opened #3967 "External selector is broken in Code Types editor"
In master branch:
External selector is broken in Administration->Forms->Lists->Code Types:

![image](https://user-images.githubusercontent.com/278968/95661723-57febc00-0ae6-11eb-91f6-fcd2caa2bb34.png)

[2020-10-11 00:49] sjpadgett commented on #3956
@bradymiller
Oops, we lost entities directory. I've got to start pulling master more often before developing!!!
How about OpenEMR\RestControllers for AutorizationServer controller and OpenEMR\Common\Auth\OpenIDConnect for repositories and entities(not doctrine entities) namespaces?

[2020-10-11 04:49] sjpadgett commented on #3956
I'm bored and this is lonely work!

{
  "id_token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiJvcGVuZW1yZmhpciIsImlzcyI6Imh0dHBzOlwvXC9sb2NhbGhvc3QiLCJpYXQiOjE2MDIzOTEwMTAsImV4cCI6MTYwMjM5NDU5OSwic3ViIjoiMSIsImVtYWlsIjoiam9obi5kb2VAZXhhbXBsZS5jb20iLCJlbWFpbF92ZXJpZmllZCI6dHJ1ZX0.Kv2pDQTO7luEIMsL-7uNsWZ3BVh-lMHfScUul1rIyFGowmjGOLTwBr6GF1mG957k3eHGg-MPA0jY_v9m0D_7khfRv9aMrat2ArPHOXk7nzsp4PJ0RF

[2020-10-11 05:37] bradymiller commented on #3956
namespaces sounds good to me :)

![tenor (54)](https://user-images.githubusercontent.com/278968/95671238-3551bf00-0b49-11eb-81d8-9ade771ddd8f.gif)

[2020-10-11 14:48] stephenwaite commented on #3967
will have something shortly, it was not declared global

[2020-10-11 15:18] #3967 closed

[2020-10-11 21:12] sjpadgett commented on #3956
@bradymiller Here is a mention for encryption. https://oauth2.thephpleague.com/installation/

[2020-10-12 03:15] bradymiller commented on #3723
bump

[2020-10-12 12:38] stephenwaite commented on #2917
this issue can also help address, https://community.open-emr.org/t/does-rxnorm-work/14854/7, and tie into #326

[2020-10-13 08:14] bradymiller commented on #3956
hi @sjpadgett ,

Annoying that the assymetric rsa key has to be a filename (looks like no way to change that), but not end of world. For now would just hard-code one in sites/default/documents/certificates (just stick one there; at some point, will plan to have OpenEMR create random private/public keyset there on the fly when need it).

Regarding the symmetric key, agree that no need to use the Op

[2020-10-13 16:16] richarditsme commented on #438
Good Faith Telehealth Remote Communications During the COVID-19 Nationwide Public Health Emergency

The first Notice of Enforcement Discretion in relation to COVID-19 was announced by OCR on March 17, 2020 and concerns the good faith provision of telehealth services. OCR is waiving potential penalties for HIPAA violations by healthcare providers that provide virtual care to patients through everyd

[2020-10-13 18:11] sjpadgett commented on #3956
thanks Brady,
For our purposes we prob won't see a lot of traffic on either our oauth or oidc identity server where the small speed advantage of not using a password just won't matter much so, do as you see fit imo.
Besides private key storage, I need to find a good endpoint for our well known discovery config. Another multi site delima where it will need to be gen'ed dynamically. Be so much easie

[2020-10-13 21:51] #3242 closed

[2020-10-14 19:11] tywrenn opened #3973 "Update Bootstrap to 4.5.3"
https://blog.getbootstrap.com/2020/10/13/bootstrap-4-5-3/

[2020-10-14 22:23] zerai opened #3974 "A wrong open-emr version in composer.json"
### Describe the bug

Master branch should be the version 6.0.0-dev

write concise description of what the bug is.

see -> https://community.open-emr.org/t/project-fhir-integration/13701/74

### To Reproduce
[composer line](https://github.com/openemr/openemr/blob/ce9ebc54be3305d99c23b697ec1af282c61e7cd3/composer.json#L3)

[2020-10-15 00:04] mdsupport commented on #3956
Will this server datastore be in emr db thus tying the auth server to a site or interface to a installation specific auth server?

[2020-10-15 00:16] sjpadgett commented on #3956
Yes, supports multisite, db, endpoints and scope will determine site/api request currently.

[2020-10-15 02:16] #3715 closed

[2020-10-16 12:32] alexsam986 commented on #438
Looking for best HIPPA chat app? Get attention on the [top chat SDK and API providers](https://habr.com/en/post/453374/) suitable for website enterprise business. For more business, SDK app is suitable for enhancing the business quickly. Grab attention on the video chat app flexible to meet changes with respect to the Live Broadcasting SDK.

1. MirrorFly
2. Apphitect
3. CometChat
4. Sendbird

To k

[2020-10-16 18:25] #3974 closed

[2020-10-16 21:45] juggernautsei opened #3977 "v6.0.0-dev globals dosen't save nor page reload"
### Describe the bug
v6.0.0-dev globals don't save nor page reload. When trying to save any value to the globals, upon clicking save. The page hangs. The tab changes title to unknown. When going back into the globals from the menu link. The page does load but the value that was entered is not saved.

### To Reproduce

![image](https://user-images.githubusercontent.com/834958/96311264-18007300-0fd7

[2020-10-16 21:47] stephenwaite commented on #3977
hi @juggernautsei, can't confirm this on the demos

did you see this recent conversation with Brady and Daniel?
https://community.open-emr.org/t/getting-a-white-screen-when-saving-demographics-in-502/15277/8

[2020-10-16 21:53] juggernautsei commented on #3977
Not my issue. I have done server installed of the dev and it happens over and over. I have spoken with another developer that gets the same thing on 5.0.2(4).  This is a clean install, not an upgrade.

[2020-10-16 21:54] stephenwaite commented on #3977
maybe it's a permissions issue in the `logs_and_misc` subdir of the documents folder under sites?

[2020-10-16 22:01] juggernautsei commented on #3977
I am checking the values for
L 130
if (array_key_exists('form_save', $_POST) && $_POST['form_save'] && $userMode) {
var_dump($_POST['form_save']);  NULL
var_dump($userMode); false
should it be NULL and fasles?

When I do a var dump on

![image](https://user-images.githubusercontent.com/834958/96312305-5008b580-0fd9-11eb-83df-de7e17a60397.png)

[2020-10-16 22:04] stephenwaite commented on #3977
not sure, might be a windows issue then

[2020-10-16 22:12] juggernautsei commented on #3977
There is nothing in the error logs and even if debugging is enabled. Nothing shows up. It is not a windows issue because I have a Linux ubuntu 20.14 box and I get the same result.

[2020-10-16 22:13] stephenwaite commented on #3977
it's working fine at https://eight.openemr.io/a/openemr/interface/login/login.php?site=default
when enable weno

is there a specific global you're having this issue with?

[2020-10-16 22:16] juggernautsei commented on #3977
I found this
OpenEMR Error : Decryption failed authentication., referer: http://e.healthbrigade.org/interface/super/edit_globals.php
OpenEMR Error : Key creation is not working - Exiting., referer: http://e.healthbrigade.org/interface/super/edit_globals.php
What causes this?

[2020-10-16 22:19] stephenwaite commented on #3977
https://github.com/openemr/openemr/blob/master/src/Common/Crypto/CryptoGen.php

[2020-10-16 22:20] stephenwaite commented on #3977
perms are good above but what about the `methods` subfolder of `logs_and_misc`

[2020-10-16 22:23] juggernautsei commented on #3977
Here is that folder.
![image](https://user-images.githubusercontent.com/834958/96316349-8bf14a00-0fdc-11eb-8361-20733f887dee.png)

[2020-10-16 22:23] stephenwaite commented on #3977
that folder looks old, 2018?

[2020-10-16 22:24] juggernautsei commented on #3977
That is was received in the download.

[2020-10-16 22:32] stephenwaite commented on #3977
https://community.open-emr.org/t/getting-a-white-screen-when-saving-demographics-in-502/15277/6

[2020-10-16 22:35] juggernautsei commented on #3977
These installations are on two different machines and both are Linux ubuntu boxes. But you are saying to remove the keys and the system will gen a new key?

[2020-10-16 22:37] stephenwaite commented on #3977
prob should make a backup of the keys just in case

[2020-10-16 22:51] #3977 closed

[2020-10-17 04:03] bradymiller commented on #3977
Before everybody gets in the habit of removing keys :)
Couple quick things to think about
1. The keys stored on the drive are used to encrypt sensitive data in database and when turn on encryption in logging. When keys are deleted that information will be lost forever.
2. The keys stored in the database in the keys sql table are used to encrypt all data stored on the drive (like patient documents,

[2020-10-17 10:05] juggernautsei commented on #3977
In my case, the installation is a new install where I installed the program updated the code then tried to connect it to the old database and it would not work right (didn't know about the encryption stuff). So, I ran the installation again to create a new database. The system came up but the globals would not save. (not knowing the key situation).
So, what does this mean for doing upgrades? As lo

[2020-10-17 10:12] bradymiller commented on #3977
Basically should consider the database and the documents directory as one singular entity that should never be parted or interchanged. Then upgrading will be just fine. Then would avoid ever needing to remove keys (ie. should never be in a position where keys need to be removed). And if ever do remove keys (again, this should never be needed), always save them somewhere first.

[2020-10-18 07:03] wcushen commented on #1986
Hi @odra, happy to take on if not being worked on presently.

[2020-10-18 07:31] bradymiller commented on #2889
bump

[2020-10-18 12:19] odra commented on #1986
Sure, @stephenwaite could you please assign the issue to @wcushen?

[2020-10-18 20:00] bradymiller commented on #1986
hi @wcushen , Just assigned the issue to you. thanks!

[2020-10-18 20:04] sjpadgett commented on #3956
Hi @bradymiller
taken a few days off and now finally around to dealing with token storage Believe it or not for the access token the library is only using `return \bin2hex(\random_bytes($length=40));`
Now the auth code is RSA so i'm just going to abstract away the bin2hex and use the AuthRestController  method to generate the access token. This way will stay compatible w/legacy and is fine going f

[2020-10-19 03:38] #3369 closed

[2020-10-19 14:46] #3744 closed

[2020-10-20 04:54] vishnuyar commented on #3957
Implementing the provenance resource for AllergyIntolerance
some bugs encountered in the AllergyIntoleranceService.php - fixed and did PR for the same

Just wanted to know if this an acceptable data when adding data to Provenance resource

For Agent
Author should be the user adding the issue
The table lists has the data related to allergy and contains column 'user' -- can this is be used to fill t

[2020-10-20 05:28] vishnuyar commented on #3957
Facility may be a better value instead of organization from the user table to fill the data for 'on behalf of'
agent type will be 'author' since we are taking the user details and I am assuming only practitoner enters the issue details in openemr.

[2020-10-20 10:28] wcushen commented on #1986
Thanks Brady and Leo!

Will Cushen

CONSULTANT, CUSTOMER SOLUTIONS GROUP

Red Hat Asia-Pacific Southern Region <https://www.redhat.com/>

wcushen@redhat.com    M: +61400691166 <+61-400-691-166>

[image: AnsibleFest 2020 is now a virtual experience]

On Mon, Oct 19, 2020 at 7:01 AM Brady Miller <notifications@github.com>
wrote:

[2020-10-20 13:07] stephenwaite commented on #3382
bump

[2020-10-20 14:03] matrix-amiel commented on #3928
@sjpadgett
Sorry, but I don't understand how to use the API without "refresh token".
Please help me with the basic scenario of client application -
1. login with username and password
2. get access token with an expiration time of 1 hour
3. after 55 minutes I need to login again for the new token

What is the next step? to ask the password from user again? save the password in the first time in th

[2020-10-20 14:55] sjpadgett commented on #3928
@matrix-amiel
My plan with in the next couple days is to bring in a new authorization/identity server and OpenId Connect authentication.
Initially will support authorization code flow and a password hybrid(resource grant) These will follow the standards set out in:
https://openid.net/specs/openid-connect-core-1_0.html
Except, I may not enforce a refresh token(many providers don't, Google for one).

[2020-10-20 20:31] bradymiller commented on #3957
hi @vishnuyar ,
Agreed that your proposal would definitely be a good working starting point. Note that facility and organization are basically the same thing (the Organization FHIR service is using a Facility service).

[2020-10-21 10:19] matrix-amiel commented on #3928
Hi @sjpadgett

Moving to openID is a big step for OpenEMR and if the mechanism will enable to connect to the authorization services like AWS Cognito it's will be amazing.
I'm not an expert on authentication, and I've bit tried to read about the correct way to save on valid token with SPA, there are a few ways (for example - https://auth0.com/blog/oauth2-implicit-grant-and-spa/ https://auth0.com/bl

[2020-10-21 12:13] vishnuyar opened #3987 "Query Error on Patient Medical Record DashBoard"
### Describe the bug

After selecting the patient, dashboard opens and query error is shown

### To Reproduce

 Got to https://eight.openemr.io/a/openemr
Login with 'admin' and 'pass'
Select the patient 'Phil Belford'
The error will be shown on patient dashboard

### Expected behavior

### Client configuration

- Browser:
- OpenEMR version:
- Operating system:

[2020-10-21 16:51] sjpadgett commented on #3928
You'd think so huh @matrix-amiel (my thoughts as well)! However, ONC requires a minimum of 3 months. This is why I believe refresh tokens are redundant and unnecessary. My preference is to force a re authentication with identity server after such a long lived token. But, I will bring this up with rest of community and admins for feedback.

As for AWS Cognito(or any third party auth provider): They

[2020-10-21 18:13] matrix-amiel commented on #3928
Ok... probably we do not agree on this point. seems to me irresponsible to leave the browser logged in when the user not doing any action on the screen.
At least we need an interface for determining token in the logout process... I can write it.

Regarding Cognito or another provider, they supply a set of tools like forget the password, 2FA, etc. that can benefit the user and reduce responsibility

[2020-10-21 18:15] zerai commented on #3928
A refresh token mechanism is mandatory for certification.

The "3 months value" requirement is for the refresh token only.

![ONC_Schermata_2020-10-21 20-10-45](https://user-images.githubusercontent.com/2405279/96762961-cc383a00-13d9-11eb-9541-3e2968e6384a.png)

[2020-10-21 19:32] sjpadgett commented on #3928
I think we were speaking to current password grant and third party providers but you're right.
Still, I support refresh (authorization code flow and a hybrid password grant is done) I just don't know how i'll handle current password grant. Fix refresh and keep for legacy or force moving everyone to a device/resource/hybrid.

I'm in the middle of refactor for back end authentication and once I get

[2020-10-21 21:05] stephenwaite commented on #3956
if you find anything that you would like to submit as feedback, here's your chance :)
https://www.healthit.gov/isa/svap-standard/170215b

be happy to do that on our behalf

[2020-10-21 21:19] sjpadgett commented on #3956
Nope @stephenwaite,  @zerai and @matrix-amiel are correct with ONC requirements and how the code flow needs to work. My problem is that i'm more interested with server to server transactions than I am with convenience of the OIDC workflow so when I should be talking about that, my brain is working out the provider client auth flows for import/export/hie's etc. Which is what I wanted to do 2 years

[2020-10-22 03:58] #3957 closed

[2020-10-22 04:37] bradymiller commented on #3987
my mistake (i messed up on a recent entry in the upgrade script). Fixed it here:
https://github.com/openemr/openemr/commit/b63804755252ffee6ef71d7745348645919ab3f5

Confirmed now working, so will close this issue.

thanks for the report!

[2020-10-22 04:37] #3987 closed

[2020-10-22 09:08] vishnuyar commented on #3957
@bradymiller @sjpadgett . As the AllergyIntolerance Provenance Resource and CapabilityStatement has been approved.

How can I contribute more towards
https://www.open-emr.org/wiki/index.php/OpenEMR_Certification_Stage_III_Meaningful_Use

I will continue to add more fixes to the FHIR Resources as and when I find them.

[2020-10-22 16:35] sjpadgett commented on #3956
I stuck on creating a JWK for client JWT validation with the public RS256 key.
My id_token JWT is okay and I can verify against public at jwt.io
This is the summary of my build:

$keyInfo = openssl_pkey_get_details(openssl_pkey_get_public(file_get_contents($loc)));
$jsonData = [
    'keys' => [
        [
            'kty' => 'RSA',
            "use"=> "sig",
            "alg"=> "RS256",

[2020-10-23 00:29] bradymiller commented on #3776
bump

[2020-10-23 00:30] bradymiller commented on #3722
bump

[2020-10-23 01:28] sjpadgett commented on #3722
I believe I fixed this in v6. someone could test again.

[2020-10-23 01:46] stephenwaite commented on #3722
looks good on firefox 81 and chrome 86

[2020-10-23 01:46] #3722 closed

[2020-10-23 19:57] #3776 closed

[2020-10-26 01:48] bradymiller commented on #3780
bump

[2020-10-27 21:06] bradymiller commented on #3435
bump

[2020-10-28 00:14] #3083 closed

[2020-10-28 01:14] #3770 closed

[2020-10-29 02:13] #3777 closed

[2020-10-30 15:59] sjpadgett commented on #3956
Does anyone have an oidc client that supports code challenge using the authorization grant type they'd be willing to share with me to use for testing my identity server?
This is necessary for public applications and to be honest, I'm too lazy to write a client test jig for this.

Also, i'd appreciate any thoughts on how best to register both public and confidential applications for access with Ope

[2020-10-31 18:27] mdsupport commented on #3956
We use [hybridAuth](https://hybridauth.github.io/).

[2020-10-31 19:15] sjpadgett commented on #3956
Cool thanks @mdsupport

[2020-11-01 13:23] mdsupport commented on #3956
Would it not be trivial since clients do this all the time? The caller application can be expected to provide something like - I am emr_caller@google.com and here is google.com provided token. If google.com is trusted 3rd party, emr will check with google.com by providing the token and making sure google.com independently returns emr_caller@google.com as one of the attributes.
Here is hybridAuth c

[2020-11-01 15:51] sjpadgett commented on #3956
Thanks for the input @mdsupport . From my perspective, dealing with the access/id tokens is part of resource server and dispatcher. I have that pretty much worked out. I also have the entire workflow for the authorization grant finished(remember, I am Google in our implementation).
However, as with Google, Amazon or Git etc, the client app/user still needs to register and the best I can tell, only

[2020-11-01 19:57] bradymiller commented on #3864
Addressed this issue here: https://github.com/openemr/openemr/pull/4005

[2020-11-01 20:17] #3864 closed

[2020-11-04 18:07] arnabnaha opened #4009 "Minor Serial Number Issue in External ID"
Hello All,

There is a minor sequence issue in the patient list. When we click on arrange by External ID in patient list, after external ID as 1, it shows 10. Actually 10 should be after 9.

Clearly shown in the screenshot below

![pid number issue](https://user-images.githubusercontent.com/1074948/98151661-8d84a280-1ef6-11eb-8f12-e20354ff1120.png)

Kindly see to it if this arrangement can be fixe

[2020-11-04 18:13] arnabnaha opened #4010 "Query Error on opening a patient demographics"
Hi,
On opening any patient demographics, its showing a query error like this as shown below -

![Query_error](https://user-images.githubusercontent.com/1074948/98152236-67abcd80-1ef7-11eb-9471-748dbdf969ed.png)

please fix this error..as none of the appointment side windows/medications/prescription windows on the demographics page is visible

Thanks
Dr. Arnab Naha

[2020-11-04 18:16] stephenwaite commented on #4010
hi @arnabnaha , need a space after 0 here
https://github.com/openemr/openemr/blob/master/interface/patient_file/summary/demographics.php#L1456
so should be
[code]

[2020-11-04 18:25] arnabnaha commented on #4010
Thanks @stephenwaite

Its fixed and done

[2020-11-04 18:43] #4010 closed

[2020-11-04 21:52] tywrenn opened #4012 "Fix Raspberry Pi Docker Builds"
The purpose of this issue is to fix the docker ARM builds to work with Raspberry Pi. Currently they do not work for it which is what I'm planning to fix.

Things Needed To Change To Get It Working:
- [x] Merge in #3892 to help with speed as that is causing a lot of issues
- [x] Change the `phpmyadmin/phpmyadmin` image to just `phpmyadmin` for ARM Docker File
- [x] Disable CouchDB on 32-bit ARM bui

[2020-11-05 03:33] bradymiller commented on #2719
The 5th patch for OpenEMR 5.0.2 has been released:
[https://www.open-emr.org/wiki/index.php/OpenEMR_Patches ](https://www.open-emr.org/wiki/index.php/OpenEMR_Patches)

The patch includes a security fix :
*  Security fix - reported by Dennis Brinkrolf (RIPS Technologies) and fixed by Brady Miller

[2020-11-05 04:51] #3886 closed

[2020-11-05 05:20] #3973 closed

[2020-11-05 10:12] matrix-amiel commented on #3928
Hi @sjpadgett
First regarding your question, yes we definitely would like to integrate with 3rd party, Would you think it will be simple after you bring your code?
Would you have an estimated date when your feature will be ready? You recommend me to fix the refresh token issue or waiting to new autherization code?

Thanks
Amiel

[2020-11-05 13:10] stephenwaite commented on #2719
![88220254-ba0afc00-cc30-11ea-9dd4-503ca1172e0e](https://user-images.githubusercontent.com/5618372/98245062-5f2ab580-1f3e-11eb-904e-9db18728d103.gif)

[2020-11-05 17:53] sjpadgett commented on #3956
Several points.
- if user selects to persist(remember) auth server login consent, instead of issuing cookies i'm going to force a new signin once refresh token expires instead of waiting for user  cookie to expire or be deleted. Some of this is laziness.:)
- decided instead of relying on an offline scope request before a refresh token issuance, will always issue a refresh with TTL of 3 months. Pub

[2020-11-07 13:23] sjpadgett commented on #3956
For those interested, I've put up a PR for peer review: https://github.com/openemr/openemr/pull/4013
As soon as I can get some documentation done I plan to merge.
- If you are currently or plan to use our apis, I strongly encourage you to pay attention to this PR as our api base url has to change to support multi site.
- Also changing is one will have to register their client regardless if using t

[2020-11-08 02:10] #3956 closed

[2020-11-08 02:56] tywrenn commented on #3561
Bump

[2020-11-08 16:50] benmarte opened #4016 "Rest API broken"
### Describe the bug

Rest API returning 500 error when performing authentication

### To Reproduce

Steps to reproduce the behavior:

- get latest files from repo as of this writing commit is at 7908307
- cd into docker/development-easy
- Run `docker-compose up`
- once app is running make sure Rest API is enabled
- try to auth with postman using the Rest API endpoint as outlined [here](https://gi

[2020-11-08 16:57] sjpadgett commented on #4016
https://community.open-emr.org/t/v6-authorization-and-api-changes-afoot/15450

[2020-11-08 17:05] benmarte commented on #4016
@sjpadgett Awesome just wanted to make sure you guys were aware since I had an older version that was working which I updated to the latest version today and ran into this issue.

Feel free to close this if you deem it's unnecessary, thanks.

[2020-11-08 17:07] sjpadgett commented on #4016
we'll just leave open for search as other will certainly be looking. thanks

[2020-11-09 05:34] mdsupport opened #4017 "Additional ICD10 code for COVID-19"
#3377 added primary ICD10 code for COVID-19.
Based on this [WHO emergency use statement](https://www.who.int/classifications/icd/covid19/en/), looks like we should also include `U07.2 COVID-19, virus not identified`

[2020-11-09 08:20] bradymiller commented on #4012
@tywrenn ,
Just brought in commits based on your work (made you author on the commits). ccda stuff was not breaking the build, so didn't see reason to consider removal of it. I was not able to test the 64bit docker-compose.yml since was unable to get the 64bit beta raspberry pi OS working.

[2020-11-09 14:28] stephenwaite commented on #4017
forgot that it's in 502 but can add it to the v6 upgrade script
https://github.com/stephenwaite/openemr/blob/rel-502/sql/patch.sql#L309-L313

[2020-11-09 22:00] #4017 closed

[2020-11-10 00:11] tywrenn commented on #4012
@bradymiller I'll be testing 64 bit out yet do note the fact that that is beta so support for it is not guaranteed.

[2020-11-10 00:50] tywrenn commented on #4012
@bradymiller I can confirm 64 bit RPI works using the 64 bit docker.

Closing this now

[2020-11-10 00:50] #4012 closed

[2020-11-10 02:02] bradymiller commented on #4012
![Uploading 2DV.gif…]()

[2020-11-10 12:42] stephenwaite commented on #3840
bump

[2020-11-10 15:15] spyrkob opened #4023 "Improve E2E tests"
I noticed there is setup for running e2e tests in OpenEMR, but there's not many tests. I was wondering if there were any plans to build up that testsuite? Would it be useful to contribute some tests like: https://github.com/openemr/openemr/compare/master...spyrkob:e2e_tests ?

[2020-11-10 17:58] bradymiller commented on #4023
hi @spyrkob , More e2e tests would be awesome! the more tests, the better :)

[2020-11-11 03:29] sjpadgett opened #4025 "Patient photo and id after 6.0 upgrade broken"
### Describe the bug

What the heck
![image](https://user-images.githubusercontent.com/1859985/98761675-f4490680-23a3-11eb-8e5a-899d003269d9.png)

[2020-11-11 08:41] spyrkob commented on #4023
Great :) I linked my initial test and if it looks good, I'll try adding some more.

Are there any areas that testing would be most beneficial?

[2020-11-11 09:44] #3788 closed

[2020-11-11 18:17] tywrenn commented on #4025
This should've been overhauled ages ago lol

[2020-11-11 18:20] sjpadgett commented on #4025
It's tied back to the upload in documents. That's where issue begins as current images in database work. It's any new uploads that fail...

[2020-11-11 19:14] bradymiller commented on #4025
this is my fault. looks like i missed a spot when converting to using labels rather than filename for documents. Should be a quick fix and will put it on my todo list.

[2020-11-12 04:13] vishnuyar opened #4029 "Implementing SMART APP Invocation for OpenEMR"
### Describe the problem

OpenEMR currently has FHIR Server capability. To further enhance the functionality for OpenEMR, we should implement SMART APP launch based on this framework http://hl7.org/fhir/smart-app-launch/

### Describe the solution you'd like

Create a Form for SMART APP Launch
This can be installed from Administration -->Forms --> Forms Administration

Details for individual smart

[2020-11-12 14:09] sjpadgett commented on #4029
Hi @vishnuyar
Not sure if you've been keeping up with my current project at https://community.open-emr.org/t/v6-authorization-and-api-changes-afoot/15450 but SMART is next on my todo.

If you can contribute towards that end it would be greatly appreciated.

[2020-11-12 16:53] vishnuyar commented on #4029
I was not aware of the project. Please let me know how i can contribute towards the same.

[2020-11-12 17:59] sjpadgett commented on #4029
Thanks @vishnuyar
umm, where to start!
Currently my OIDC identity server has a broad range of scopes and claims that I need to trim to openemr specific uses. Scopes like email, phone and so forth are not needed because we already have patient/user consent to hold that data. For SMART I need to add more specific scopes dealing with what type of access is allowed such as patient/Observation.read or

[2020-11-13 03:08] bradymiller opened #4030 "oauth stuff"
Goal to have these completed prior to 6.0.0 release :
1. incorporate csrf (for the login.php script). gotta analyze this a bit especially since sameSite needs to be set to Lax; possibly won't need to do this.
3. Remove user_id and user_role from client table and entity
4. Regarding php8 (gotta wait for this to be completed and releases in league package: https://github.com/thephpleague/oauth2-serv

[2020-11-13 04:51] vishnuyar opened #4031 "Surgery in Procedure FHIR Resource"
### Describe the bug

Currently when a patient procedures are requested via Procedure FHIR Resource, only Lab Related procedures are being sent, whereas the patient prior surgeries which are entered via issue should also be a part of Procedure FHIR Resource

[2020-11-13 09:12] pete-boyd opened #4032 "Referral form "Clinic Copy" and "Client Copy" should be on separate pages"
With Dashboard > Transactions > Transaction Type: Referral > Print, the "Clinic Copy" and "Client Copy" are on the same page. They should instead be on separate pages, as they are given to different people.

OpenEMR 5.0.2 Patch 4

[2020-11-13 09:22] pete-boyd opened #4033 "Referral form "Clinic Copy" and "Client Copy" sub-headings are not distinctive enough"
With Dashboard > Transactions > Transaction Type: Referral > Print, the sub-headings "Clinic Copy" and "Client Copy" are not distinctive enough for a description that should be clearer to the reader. The typeface is too small and is left justified. On my system, the typeface is smaller than the body text, the "Client medical history summary".

OpenEMR 5.0.2 Patch 4

[2020-11-13 11:20] pete-boyd opened #4034 "Add client/patient date of birth to referral form"
In Dashboard > Transactions > Transaction Type: Referral > Print, it would be useful to have the client/patient's date of birth.

OpenEMR 5.0.2 Patch 3

[2020-11-14 02:41] ophthal commented on #3951
Take a look at the PR https://github.com/openemr/openemr/pull/2928.  Most of these issues may have been addressed.

[2020-11-14 02:42] ophthal commented on #3949
I believe these changes are also in https://github.com/openemr/openemr/pull/2928.  Seems the CR functions were added to hit a MU criteria and based on the issues in the PR and what you have found, they may become a truly powerful when updated.

[2020-11-14 08:29] bradymiller commented on #3378
bump

[2020-11-14 14:04] #3840 closed

[2020-11-15 02:57] #3561 closed

[2020-11-15 02:57] #3834 closed

[2020-11-15 05:16] #3835 closed

[2020-11-15 05:16] #3836 closed

[2020-11-16 01:51] lthrhx opened #4038 "increase varchar size for code_text and code_text_short in codes tables"
### Describe the problem

Facility bills for ABA therapy and their CPT codes run long compared to space given. Their code_text_short averages 48 characters and their code_text bumps into 441 characters.

code_text_short examples:
`Adaptive Behavior Treatment with Protocol Modification`
`Behavior Identification Supporting Assessment`
`Multiple-family group adaptive behavior treatment guidance`
etc.

[2020-11-16 02:10] stephenwaite commented on #4038
hi @lthrhx , looks like all we'd have to do is bump `code_text` to `1024`
from `database.sql`
[code]

[2020-11-16 03:20] bradymiller commented on #4038
could just change those both to text (in both codes and codes_history tables)

[2020-11-16 15:12] lthrhx commented on #4038
Thank you for the prompt response.

@stephenwaite sorry, forgot to mention I am running v5.0.2 (4)
I did get an email about an v5.0.2 (5) release, but I don't see it on github yet.
Strange, `code_text_short` was set to 255 and then reduced to 24, surprised that didn't break things.

@bradymiller Setting to `text` would certainly allow for some extra descriptive names, but would loose the ability t

[2020-11-16 16:13] stephenwaite commented on #4038
no prob @lthrhx , there's a patch for 5.0.2 on the open-emr.org dowloads, rel-502 is updated on github

good pt about indexing but unlikely as you said

good ? re: `icd10_dx_order_code`, looks like based on below record layout we could lose 23 chars from the long descr :O
![Screenshot from 2020-11-16 11-11-36](https://user-images.githubusercontent.com/5618372/99277988-831eae80-27fc-11eb-955f-506e1

[2020-11-16 23:45] sjpadgett opened #4041 "Be on the lookout. Missing site id"
### Describe the bug
Unexpected missing site id message.

### To Reproduce
v6.0.0 master as of today. Noted in two areas so far that the session gets lost or stepped on resulting in the missing site id message.
- First noted in an LBF with nation notes. Popup the nation note and leave up for awhile where when returning/closing dialog, session is gone.
- I noted the same issue minus dialog use in D

[2020-11-17 02:58] stephenwaite commented on #4041
![Screenshot from 2020-11-16 21-58-27](https://user-images.githubusercontent.com/5618372/99340882-e1787b00-2856-11eb-8c2a-49a83206c280.png)

[2020-11-17 03:10] sjpadgett commented on #4041
you'd think we'd slip a dog or two in every now and then:)

[2020-11-17 13:04] #4038 closed

[2020-11-17 21:24] stephenwaite commented on #3871
please see https://github.com/openemr/openemr-devops/tree/master/kubernetes/minikube

[2020-11-17 21:24] #3871 closed

[2020-11-18 17:00] sjpadgett commented on #4025
![image](https://user-images.githubusercontent.com/1859985/99561933-8305e680-2995-11eb-9ea3-7c610ce411eb.png)

[2020-11-18 17:00] #4025 closed

[2020-11-18 19:27] sjpadgett commented on #4041
I've removed the blocking on this because it's is an issue that I simply can't easily pinpoint and doesn't prevent overall operation. More of an annoyance.

While testing and whenever one is in code, take a look for any JS calls or form submits that may be in need of a top.restoreSession() call. More harmful with not being there than a quick refresh.
Thanks

[2020-11-18 19:35] stephenwaite commented on #4041
hi @sjpadgett , also noticed that if you start from the billing manager and select a patient from there the encounter doesn't load properly, ie no forms

but if you select a patient from the finder first it will load correctly from the billing manager

[2020-11-18 19:36] sjpadgett opened #4043 "Update Publish Provider Client"
### Describe the problem

Publish is behind current APIs and authentication.

### Describe the solution you'd like
- Will need to update client to support OIDC authorization grant type and/or resource grant.
- This will allow queries to both outside and our APIs and server though, for FHIR only.

If someone wants to help here, please.....

[2020-11-18 19:47] sjpadgett commented on #4041
Yep, I looked at this once before and I believe it is a setPid() issue. Something to do with if current session pid is 0.
Prob needs to be a separate issue.

[2020-11-18 20:25] sjpadgett commented on #4041
@stephenwaite Now I remember. The feature works however if the encounter is missing the pid then you'll get:
![image](https://user-images.githubusercontent.com/1859985/99583362-5eb80300-29b1-11eb-9ea2-e39178b25355.png)
In my case, it came from auto generating encounters from my lab modules for orphaned orders. It was a bug I fixed with the leftover bad encounters left behind to befuddle me once ev

[2020-11-18 20:26] stephenwaite commented on #4041
not sure we're talking about the same thing

[2020-11-18 20:28] sjpadgett commented on #4041
You're right! I see it now. Back to init of pid

[2020-11-18 21:15] sjpadgett commented on #4041
Yay, at least I was right about the session pid being set to zero by time it gets to encounter form. So I suspect a session write w/o a session start somewhere.

[2020-11-18 21:23] stephenwaite commented on #4041
so how tricky is that to find, wouldn't seem like to many files are loaded if go str8 to billing manager?

[2020-11-18 21:30] sjpadgett commented on #4041
It's happening in setencounter() of encounter_top.php. I should get it spotted here soon.

[2020-11-19 00:35] sjpadgett commented on #4041
Look what we forgot in globals @bradymiller
[code]
We're in a session write close state here at times. We knew this was worrisome at the time and I forgot about it. Let's blame Tyler:)
Anyway, this is a bug for sure!

[2020-11-19 00:46] bradymiller commented on #4041
Pretty sure we allow write to session for login though where this session is set (so that session shouldn't ever be empty on other uses of globals during the session).

[2020-11-19 00:48] bradymiller commented on #4041
oh wait, this is not the site id. agree this needs to be looked into :)

[2020-11-19 00:52] sjpadgett commented on #4041
The sessions are fine best I can tell but this particular globals call is from encounter top where the pid GET var is meant for opening a new form. So you can see how that blows up session integrity when we have an un-init'ed session but we do have the $_SESSION supers in scope.
You want to fix or me?

[2020-11-19 04:31] bradymiller commented on #4041
thanks for catching and fixing this! code looks good to me.

will plan a look through interface/globals.php to ensure no other session writes needed (of course, I did this in the past and see how well that worked :) )

[2020-11-19 04:35] bradymiller commented on #4041
I'm still all for blaming Tyler though :)

![tenor (55)](https://user-images.githubusercontent.com/278968/99621762-891fb580-29dd-11eb-8f7e-1d5ec710b789.gif)

[2020-11-19 12:44] sjpadgett commented on #4041
Tyler it is! I'll include in my next PR.

[2020-11-19 20:15] stephenwaite opened #4045 "upgrade allscripts integration to veradigm"
### Describe the problem

https://community.open-emr.org/t/allscripts-integration-broken/14637

### Describe the solution you'd like

restore functioning
[orig script](https://greasyfork.org/en/scripts/9306-allscripts-integrationmm)
will prob have to do some scraping to get updated `.aspx` files from
https://eprescribe.allscripts.com/Login.aspx

[2020-11-19 20:46] kchapple opened #4046 "Recall Board Table Format"
### Describe the bug

The recall board table body is shown above the table headers.

### To Reproduce
<img width="1335" alt="Screen Shot 2020-11-19 at 3 34 32 PM" src="https://user-images.githubusercontent.com/271809/99722075-1dd9f000-2a7e-11eb-939e-854d27fa579d.png">

Steps to reproduce the behavior:
1. Add a Recall board
2. Add a recall
3. See data on top and headers below

### Expected behavior

[2020-11-19 20:54] sjpadgett commented on #4046
Oh No! Just when I finally am able to wrap my head around LTR and RTL we now have UTD and DTU!:)

[2020-11-19 21:14] kchapple commented on #4046
🤣🤣🤣 Oh, to live in one dimension only.

[2020-11-20 04:33] sjpadgett commented on #3928
@matrix-amiel I think you can close this issue now if you want. New auth server resolves.

[2020-11-20 05:00] sjpadgett commented on #4043
Have updated the oeHTTP client to handle OIDC OA2 authorization code grant authentication so we can have an internal client.
Works something like:(setDebug() is just a proxy port for exposing HTTP transactions. I use Fiddler)
[code]
![image](https://user-images.githubusercontent.com/1859985/99760061-1425ac00-2ac1-11eb-9220-eb2dc8f5aafb.png)

Then tokens will persist and refresh automatically ie oe

[2020-11-20 16:40] sjpadgett commented on #4043
@bradymiller I have to cleanup/breakdown/rename the publish client support classes in phpfhir directory for PSR compatibility. I'm wondering if I should go ahead and add those classes to our OpenEMR namespace or just keep including the class files in scripts.

[2020-11-20 18:13] sjpadgett commented on #3874
jesh. fixed in master

[2020-11-20 18:13] #3874 closed

[2020-11-20 19:49] stephenwaite commented on #3877
bump

[2020-11-20 20:32] sjpadgett commented on #3877
if I get time i'll try to get this in for v6 release. sounds like something that could come up often.

[2020-11-21 03:03] bradymiller commented on #4043
@sjpadgett , if not much more work, would get them into the src directory structure and OpenEMR namespace.

[2020-11-21 04:44] #3860 closed

[2020-11-21 05:57] sjpadgett commented on #4043
Dear Abby,
Why do I voluntarily get myself involved with these interop mistresses?

[2020-11-21 07:17] bradymiller commented on #2089
bump

[2020-11-21 22:29] sjpadgett commented on #4043
@bradymiller FYI
 The OAuth spec says that a refreshed access token can have the original scopes or fewer so must ensure the request doesn't include any new scopes. I may also do a rethink on client to user scope ties.

We'll need to decide on whether to force the sending of the id token by client.
Currently, and though we support, I exclude basic authorization header for client_id and secret in d

[2020-11-21 23:34] hanksterr7 opened #4050 "Clinical Rules and Reminders - Rule continues to be evaluated after targets are deleted"
If rule target is deleted, the method = target_interval row in rule_target table persists

This causes rule to continue, inappropriately, to be evaluated

Repro: create a new rule. Define demographic filter that should evaluate to true for a patient. Also, define rule action. Observe that the rule does not show in Reminders (edit) list. Add a rule target. Rule now shows in Reminders (edit) list. D

[2020-11-22 02:31] arnabnaha opened #4052 "Global Error"
Hi,
whenever I am trying to save after making a change in globals - in the Rx page mainly - after saving the changethe page gets blank upto the point of no return.

The error log shows this -
[Sun Nov 22 07:58:29.287735 2020] [php7:notice] [pid 3664:tid 1832] [client ::1:51758] OpenEMR Error : Decryption failed authentication., referer: http://localhost/openemr/interface/super/edit_globals.php
[Su

[2020-11-22 02:36] arnabnaha opened #4053 "Document Date Error"
Hi,
I uploaded 3 documents against my patient in the medical records section of the document uploader. I assigned the documents to the encounter but the date as shown on the encounter summary screen against the documents are as - 00/00/0000 instead of 18/11/2020.

screenshot -
![document_error](https://user-images.githubusercontent.com/1074948/99892293-851fbc00-2c99-11eb-97e4-34eb0f643a14.jpg)

ki

[2020-11-22 02:37] arnabnaha commented on #4009
any help on this please?

[2020-11-22 08:02] bradymiller commented on #4052
hi @arnabnaha ,
Guessing you did something (process of upgrading or back/restoring) that affected your keys in sites/default/documents/logs_and_misc :
https://community.open-emr.org/t/getting-a-white-screen-when-saving-demographics-in-502/15277/5

[2020-11-22 16:36] morg0n commented on #2597
Waiting to complete this through Drupal instead -- my understanding :)

[2020-11-22 20:34] #4043 closed

[2020-11-23 02:07] sjpadgett commented on #4053
Worked for me on current master however, we need to get the title back from document file name and not file path. @bradymiller

![image](https://user-images.githubusercontent.com/1859985/99923999-6a376100-2d06-11eb-8fbd-e6c123268366.png)

I just did the one file so.

[2020-11-23 08:05] bradymiller commented on #2924
bump

[2020-11-23 13:43] stephenwaite commented on #2810
bump

[2020-11-23 18:57] #3858 closed

[2020-11-23 18:57] #3276 closed

[2020-11-24 12:02] vishnuyar opened #4055 "FHIR Capability Statment giving 401 Error"
### Describe the bug

FHIR Capability Statement should be available without any authorization.

### To Reproduce
Go to https://two.openemr.io/openemr/apis/default/fhir/metadata

### Expected behavior

FHIR Capability statment without any authorization

[2020-11-24 15:48] bradymiller commented on #4055
@vishnuyar , Thanks for reporting this. Looks like something we broke on the api refactoring for oauth. @sjpadgett , I'm happy to take this on (I think i have an idea of how to do this) if your busy with other stuff (i am pretty sure you are busy with other stuff :) ).

[2020-11-24 16:21] sjpadgett commented on #4055
If you want to fix @bradymiller by all means. I'm just happy we have a capability statement even if nobody can see it!:)
Again thanks @vishnuyar for all your help.

[2020-11-24 16:35] vishnuyar commented on #4055
@bradymiller ,@sjpadgett
You have thanked me enough for this year and next :))). As always, I am glad that I am contributing to OpenEMR.
I wanted to add the oauth details to the capability statement and came across the issue.
Working towards smart of fhir invocation using OAuth

[2020-11-24 22:04] stephenwaite opened #4057 "LBF forms when lot of space from end of the question to the choice - listbox, textbox"
### Describe the bug

https://community.open-emr.org/t/project-modernize-styling-and-user-interface/13777/27

hi @tywrenn , Jit was hoping you could advise here, thank you

[2020-11-24 22:08] #3889 closed

[2020-11-25 00:05] #4055 closed

[2020-11-25 05:07] bradymiller opened #4059 "migrate from travis to Github Actions"
travis now only offers 1000 minutes of build time per month for free, so gotta move on.

STATUS:
1. css styling check (DONE)
2. PHP PSR12 styling check (DONE)
3. PHP syntax checks (DONE)
4. docker-compose environments for builds and testing (9 of them, but once get one going (will be a feat), the rest will be easy)

[2020-11-25 05:27] bradymiller commented on #4059
been wanting to do this for awhile anyways. guess it's good to finally have our hand forced...

[2020-11-25 07:12] #4046 closed

[2020-11-26 12:30] vishnuyar commented on #4029
@bradymiller
how do i enable CORS for OpenEMR

I am currently getting the following error

"Access to XMLHttpRequest at 'https://******/latest/apis/default/fhir/metadata' from origin 'https://*****' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: It does not have HTTP ok status.

[2020-11-26 19:13] bradymiller commented on #4029
hi @vishnuyar , Unable to confirm this issue on postman or browser. What is your environment/browser?

[2020-11-26 19:57] vishnuyar commented on #4029
I am using an oauth client, which will be the redirect_uri when registering the client. Before registering the client in OpenEMR, the oauth client will try to get the OpenEMR Auth Endpoint from the metadata via browser call. I am currently using latest google chrome.

[2020-11-26 21:50] sjpadgett commented on #4029
I think you need to turn cors off in browser or add a directive to your server Header set Access-Control-Allow-Origin "*" if apache
For AWS it's a different process that you'll have to look up.

I'm wondering if this isn't something we can config in our API.

Maybe @jesdynf can advise.

[2020-11-26 22:11] jesdynf commented on #4029
Browsers can't turn off CORS. I mean, you can almost do it with certain launch parameters and certain add-ons, but that's neither viable nor 100% effective. The real problem isn't ACAO * or the lack of it, it's the CORS preflight check that the browser is requiring. Baaaaasically what happens if you either use a non-standard HTTP verb, or you try to use any headers that aren't on a very short list

[2020-11-26 23:10] sjpadgett commented on #4029
Thanks @jesdynf nicely put.
So, no longer can config around browser however, why would one want to if security is of import.
The only legit reason a browser may want to be used with our apis is in this case of grabbing meta or well knowns for download.
Having admin/it config server would be my last choice leaving I suppose, supporting the http option.

I'll look into.

[2020-11-27 03:01] vishnuyar commented on #4029
Based on the above, My understanding is
1) The Server running the OpenEMR should allow Cors and options as
mentioned in
https://stackoverflow.com/questions/25709175/handling-cors-preflight-request-in-apache
2) The application that is OpenEMR should give the admin the settings to
set Headers mentioned in https://www.dinochiesa.net/?p=754

Both are a must and satisfying one condition itself doesn't

[2020-11-27 05:08] jesdynf commented on #4029
Not truly. The requirement is met if the browser can make a preflight request and get a positive response. If the app attends to that need, you can get something fairly fine-grained and responsive, an arbitrarily complex PHP evaluation. If the server does it, which it can through rewriting, then you're going to get something less flexible but still reasonable, hardcoding the server's name into the

[2020-11-27 06:32] bradymiller commented on #4059
3 items down and just 1 more big item left

[2020-11-27 15:09] spyrkob opened #4066 "Patient search table cursor doesn't indicate that row is clickable"
When hovering mouse cursor over list of patients, the cursor defaults to a text selector. It should change to a pointer to indicate it's possible to click on the names to open further screens.

Current:
![Patient Finder 1](https://user-images.githubusercontent.com/1005243/100462595-661e9100-30c2-11eb-8497-36acbef9f266.png)

Expected:
![Patient Finder 2](https://user-images.githubusercontent.com/10

[2020-11-28 06:23] bradymiller commented on #4059
done!

[2020-11-28 06:23] #4059 closed

[2020-11-28 06:34] bradymiller commented on #4059
Also another cool things:
Github Actions is finishing the testing in about 10 minutes and allows 20 concurrent processes (so, we have room to add even more tests! :) ).

[2020-11-28 22:49] #3543 closed

[2020-11-29 02:07] #2784 closed

[2020-11-29 05:56] #3607 closed

[2020-11-30 02:53] bradymiller commented on #3582
bump

[2020-11-30 03:27] bradymiller opened #4073 "Announcement: OpenEMR's nemesis has changed from Travis to Github Actions"
This is especially directed towards @tywrenn :)

We can no longer blame Travis on our woes. We now need to officially blame Github Actions on our woes.

For example, it is now incorrect to say:
Why are you killing me Travis!

We instead will need to say:
Why are you killing me Github Actions!
or
Why are you killing me Actions!

[2020-11-30 07:32] #3849 closed

[2020-11-30 15:15] sjpadgett opened #4076 "Oauth2/Identity Server Final Phase. SMART"
Implement a SMART layer on top of OIDC/OA2 to meet ONC (g10)+

This requires a more granular handling of scopes and permissions when dealing with SMART on FHIR.
Unclear right now how i'll approach so stay tuned!

First need to add a last endpoint (token introspection to verify issued tokens with client) and implement some scope requirements to support SMART. This will be last update for server bef

[2020-11-30 15:54] sjpadgett opened #4077 "ONC API Testing (Inferno)"
We probably need to setup a testing server on our Demo network or I can setup on my domain. (Docker is best choice here)

A testing plan synopsis/summary needs to be developed but, I recommend and until I can complete the SMART requirements, we start testing our FHIR U.S core resource endpoints. I'm pretty sure some will have to be touched.

I'm looking for some volunteers.. The main goal is to tr

[2020-11-30 18:32] sjpadgett commented on #4029
@vishnuyar
Here is the issue for the server part for tracking progress and bringing up issues as you come across in your development: https://github.com/openemr/openemr/issues/4076

In regard to the CORS issue you and Asher @jesdynf have commented on, i'm not so sure we'd want the solution in server config  because I worry it would be to global to the whole OpenEMR enterprise instance. My thinking

[2020-11-30 18:58] #3887 closed

[2020-12-01 15:27] pete-boyd opened #4078 "Various menu wording improvements"
Various menu wording improvements for OpenEMR Patch 5:

Miscellaneous > "Ofc Notes" would be clearer as "Office Notes"

Miscellaneous > "BatchCom" would be clearer as "Batch Communication Tool"

Administration > "Addr Book" would be clearer as "Address Book"

Popups > "Appts" would be clearer as "Appointments"

[2020-12-01 15:29] pete-boyd opened #4079 "Popups > Export and Import, Close and Cancel buttons don't work"
Popups > Export > Close button doesn't close the dialog window

Popups > Import > Cancel button doesn't close the dialog window

OpenEMR Patch 5

[2020-12-01 15:35] pete-boyd opened #4080 "A blank Popups > Import > Import gives a non-human readable error message"
In OpenEMR Patch 5, Popups > Import > Import, when a blank field is used, gives a non-human readable error message:

"Query Error

ERROR: insert failed: replace into patient_data set id='2', title='', fname='', lname='', mname='', sex='', DOB='0000-00-00', street='', postal_code='', city='', state='', country_code='', drivers_license='', ss='', occupation='', phone_home='', phone_biz='', phone_con

[2020-12-01 15:56] stephenwaite commented on #4079
thanks for the report @pete-boyd; these are fixed in soon to be release v6

[2020-12-01 15:56] #4079 closed

[2020-12-03 05:06] lere01 opened #4081 "Integrating openEMR with Azure FHIR Server"
### Describe the problem

At the moment, an interface has been provided for integrating for HAPI FHIR server but Azure Open Source FHIR server is not yet supported.

### Describe the solution you'd like

It would be great to have an interface for integrating with Azure FHIR server and a couple of other options so that openEMR can be used across different choices.

[2020-12-03 05:42] #4066 closed

[2020-12-05 21:00] #3896 closed

[2020-12-06 18:49] #3162 closed

[2020-12-07 04:37] #3891 closed

[2020-12-07 07:39] #4030 closed

[2020-12-07 13:59] kchapple commented on #2677
Still on the chopping block

[2020-12-08 09:21] viradhanus opened #4089 "Is there a way to update 'OpenEMR Development With VirtualBox' official video"
I tried to start contributing to the project referring [CONTRIBUTING.md](https://github.com/openemr/openemr/blob/master/CONTRIBUTING.md#code-contributions-local-development)

Here I'm stuck with the below step since there is no docker-compose.yml file available.
3. Run `docker-compose up` from your command line

I think we should update the CONTRIBUTING.md file. Yeah?

[2020-12-08 10:04] stephenwaite commented on #4089
hi @viradhanus , `Step 2. cd openemr/docker/development-easy` ?

[2020-12-08 16:13] viradhanus commented on #4089
I tried but got this error.
![Screenshot from 2020-12-08 21-33-22](https://user-images.githubusercontent.com/59219626/101507987-2cd90180-399d-11eb-8bde-9aeea49af476.png)
I watched [this video](https://www.youtube.com/watch?v=Gb7PB0c5_pA&ab_channel=OpenEMR) which is on the official OpenEMR Youtube channel. At that time the video recorded, there was docker-compose.yml file in the main repository its

[2020-12-09 01:18] bradymiller commented on #4089
hi @viradhanus ,
Looks like you need to get docker and docker-compose working in your environment. There is a really neat script here that sets up a whole bunch of stuff in most popular linux environments:
https://github.com/openemr/openemr-devops/tree/master/utilities/openemr-env-installer

[2020-12-09 04:20] viradhanus commented on #4089
@bradymiller Sure Sir, I will try with openemr-env-installer. Hence I will close this now. Thanks a lot @bradymiller @stephenwaite :+1:

[2020-12-09 04:21] viradhanus commented on #4089
@bradymiller Sure Sir, I will try with openemr-env-installer. Hence I will close this now. Thanks a lot @bradymiller @stephenwaite :+1:

[2020-12-09 04:28] bradymiller commented on #4089
@robertdown , is there a way to modify the description for this video:
https://www.youtube.com/watch?v=Gb7PB0c5_pA&ab_channel=OpenEMR

with something like:
[code]

[2020-12-09 21:42] sjpadgett commented on #4029
@vishnuyar We have started the SMART layer for auth/identity server. @adunsulag is heading this up where you may want to interface with him. His starting focus is on the EMR launch.

So, are you still pursuing this app and if so, where do ya stand? Need help?

[2020-12-10 07:26] vishnuyar commented on #4029
@sjpadgett , I am struggling with CORS pre-flight check when invoking OpenEMR Oauth2 from the Smartapp callback url
I am writing headers in the apache config but haven't progressed much.
@adunsulag has covered the security part of FHIR metadata which I was planning to push. So we are good there.

I am thinking, we will need a create a UI for registering  SMART App's. "This will invoke oauth2 regis

[2020-12-10 14:52] sjpadgett commented on #4029
@vishnuyar
@adunsulag and I spoke about the CORS and agree(I think) we should implement handling pre-flight in our resource server via an http options response(PHP solution). Want to take a shot at doing this?
Concerning SMART and OIDC registration. I'm not sure best approach is admin has to register the form but instead turn on as feature in Globals.

Also for the form, i'd follow a similar workf

[2020-12-10 16:01] adunsulag commented on #4029
@sjpadgett As far as enabling SMART, I think having it on/off is fine in Globals.  I think what @vishnuyar is saying is we need a place where people can go to register their apps and manage the permissions.  I don't care if that is in Globals or the Forms system.  I'm not familiar with how the forms work so if its a good place to manage the apps that's fine with me, on the surface it sounds strang

[2020-12-10 16:16] sjpadgett commented on #4029
I'm not sure where we are on an EMR app for the original intent of this issue but, I was responding to the above.
So besides having a dynamic registration, it behooves us to have app registration built into an administrators prevue.
Perhaps we need to separate that into a separate issue as we seem to be taking three different paths in this issue thread!
Or am I just showing my ignorance of the SMA

[2020-12-10 16:23] sjpadgett opened #4091 "Implement administrator OIDC, SMART client/application registration."
Refer to https://github.com/openemr/openemr/issues/4029
Ability to static register/revoke and issue credentials for APIs.

Preferential to integrate into normal openemr permissions workflow.

[2020-12-10 16:44] sjpadgett commented on #4029
To be clear, this is best served from forms registered forms but we need a clearer description of what a provider would use the form for and when/why a form would implement a SMART launch. e.g soliciting a FHIR QuestionnaireReponse via a launch of our EasiPro module for a portal request to patient(again just an example workflow). Too me, this form would create a SMART launch to a different server.

[2020-12-10 16:51] stephenwaite commented on #4029
@bradymiller donates this service for any openemr related needs:
https://www.open-emr.org/wiki/index.php/OpenEMR_Foundation_Monthly_Conference_Call_Details

[2020-12-10 16:54] sjpadgett commented on #4029
Okay, guess i'll just figure out how to conf from my phone. Can't be too hard and I am an engineer!:)

[2020-12-10 16:55] stephenwaite commented on #4029
oh, i mean feel free, it's wide open for use, just follow that guide

[2020-12-10 16:58] sjpadgett commented on #4029
Following instructions is just not my thing! I am a rebel after all!:)

Okay enough of my musings... thanks Stephen W.

[2020-12-10 23:29] sjpadgett commented on #4076
Okay, Looks like I missed the ONC Client grant requirement. That part of the test requirement is sketchy because i'm not seeing why we need to accept/use a JWK. That's a client outgoing request need where server provides a JWK for client to verify token signature and server verifies its own issued token with public key!
A drill down on the spec shows:
- (4) Implementation specification. FHIR Bulk

[2020-12-11 06:48] vishnuyar commented on #4029
@sjpadgett , I agree there are two many pieces which needs to be pieced to have a nice SMART App invocation. may be a design document approach is better before embarking on this. (http://hl7.org/fhir/smart-app-launch/#smart-authorization-and-resource-retrieval)
@adunsulag , I haven't started any work on the UI part. My thinking is based on how blue button(https://sandbox.bluebutton.cms.gov/v1/acco

[2020-12-11 14:23] sjpadgett commented on #4029
Okay guys, i'm thinking maybe i'll just leave this to you as i'm not taking much effort to learn the SMART if I don't have to(too much other stuff i'm working).
However, I kind of have an opinion concerning registration. How we register apps is entirely up to us and I see two forms.
- Dynamic where Smart can be added as an application type; smart, smart-public or whatever we choose to indicate a c

[2020-12-11 14:23] sreekanthmettles commented on #4029
Hi there, we have a smart on FHIR application which can help in Prior Authorization. We have tested it with Cerner. We are on onboarding to their App Gallery. We can test the same on OpenEmr we get a methodology to launch our app.

[2020-12-11 14:26] sjpadgett commented on #4029
Hi @sreekanthmettles
How do you register your app?

[2020-12-11 14:28] sreekanthmettles commented on #4029
In cerner they have a registration page for the app vendors. We need to mention the launch URL, the redirect URL and the scopes when registering the app.

[2020-12-11 14:29] sjpadgett commented on #4029
If they had dynamic registration, would you see value with that or manual is preferred?

[2020-12-11 14:32] sjpadgett commented on #4029
Okay, well i'd like to see both guys...

[2020-12-11 14:37] sreekanthmettles commented on #4029
Cerner being a commercial proprietary software, they may be needing registration for multiple reasons. Not all of them may be technical. However in case of OpenEmr, I would prefer a Dynamic registration.

[2020-12-11 14:39] sjpadgett commented on #4029
Could you be so kind as to list what scopes your app requires/wants?

[2020-12-11 18:28] sjpadgett commented on #4029
I'm adding the smart requirements to the existing oidc dynamic registration. So, this will be in place for y'all. Prob tonight or tomorrow.

[2020-12-11 20:06] sreekanthmettles commented on #4029
We extract the medical record of the patient as a part of our Prior Auth request process for supporting documentation. So we use most of the resources that are defined by USCDI. We need all these resources in "Read" mode. For "write", we need QuestionnaireResponse, Task and ClaimResponse. However we can get around if the write options are not available...

[2020-12-11 22:13] adunsulag commented on #4029
@vishnuyar My latest changes in my pull request fixes the CORS problem.  Long term I'd like to match the CORS request based upon the client app registration to the domain origin, but for now this just block grants '*' to anyone on OPTIONS.  If you have a valid token it also grants CORS request on standard REST verbs (PUT, POST,GET, etc).

I've got the beginnings of the launch/patient working to a

[2020-12-12 19:29] #3904 closed

[2020-12-12 23:32] #3902 closed

[2020-12-12 23:32] #3909 closed

[2020-12-13 03:58] Chips1234 commented on #4078
Hello, I would like to work on this issue.

[2020-12-13 14:10] #4078 closed

[2020-12-15 10:56] vibinernesto commented on #3353
I'm testing the same thing with the open EMR. But getting the same issue mentioned by @dixonwhitmire attached the screenshot
![image](https://user-images.githubusercontent.com/11159009/102206113-1fb69800-3ef2-11eb-8a8e-dcef9efcf23b.png)

Ideally Im expecting OPEN EMR to send a bundle to base FHIR URL with the list of items I've added for the patient and internal ID to be one of the identifier in e

[2020-12-15 20:51] kchapple opened #4102 "Fatal Crash When Editing Patient"
### Describe the bug
PID mix-up causes demographics screen to crash when navigating from Billing Manager. @growlingflea found this while working on a different issue.

### To Reproduce

From the billing manager, click the "Patient" button on a row of the billing manager.
<img width="416" alt="Screen Shot 2020-12-15 at 3 47 14 PM" src="https://user-images.githubusercontent.com/271809/102271085-ddd7

[2020-12-15 22:43] sjpadgett commented on #4102
I fixed this issue and just tested up and down so, works for me in all scenarios Dan and you have raised!

[2020-12-16 06:54] arnabnaha opened #4103 "XML formgen Forms - help with the error please"
Hi..
I created a bunch of forms using xmlformgen form maker. The form registers well and installs well too. It opens in the form window but after saving the form, there are missing informations and on clicking the edit button, a blank page appears. Kindly help me with the error logs so that I can fix this -

I need those forms for my daily patient assessments.

[Wed Dec 16 12:14:38.756675 2020] [p

[2020-12-16 06:59] arnabnaha commented on #4052
This is fixed

[2020-12-16 06:59] #4052 closed

[2020-12-16 07:02] arnabnaha commented on #4009
hii....
can this be fixed????

[2020-12-16 16:25] sjpadgett commented on #4103
Hi @arnabnaha Hope you are well.
split() has been deprecated since PHP5.3 and removed in PHP7.0

Unsure why you're just seeing this now unless a vendor library was aliasing it to maintain compatibility thus, we have updated our vendor dependencies and now the alias could be gone.

Difficult for me to troubleshoot this as I don't have the form so, above is an educated guess.

[2020-12-16 17:04] stephenwaite commented on #4102
how about https://github.com/openemr/openemr/commit/0c109b88a20c34aa6215b03d2a2adf9292593f00?

[2020-12-16 17:05] stephenwaite commented on #4041
https://github.com/openemr/openemr/commit/0c109b88a20c34aa6215b03d2a2adf9292593f00

[2020-12-16 17:15] kchapple commented on #4102
@sjpadgett Sorry you're right, I thought I was up-to-date, but I wasn't. Just pulled and tested again and it's all good. @growlingflea

[2020-12-16 17:45] stephenwaite commented on #4041
there may be other issues down the road but let's close for now :)

[2020-12-16 17:45] #4041 closed

[2020-12-16 17:47] sjpadgett commented on #4102
Thanks @stephenwaite I don't know why I can't find my own work.  @kchapple no problem.

[2020-12-16 17:47] #4102 closed

[2020-12-17 00:50] nursejeff opened #4104 "Add "All" to justify on Fee Sheet"
Would it be possible to add the choice of “All” to the “Justify” drop down list, which would put all diagnoses into the justify box at once?

Jeff Guillory
NP Health Clinic

[2020-12-17 00:56] nursejeff opened #4105 "No need for patient name window to pop up"
### Describe the bug

When I am in the message center, looking at a message. I click on the blue word “Patient:” which is supposed to open that patient’s chart. Well it does open that patients chart but it also pops up a Patient name: window. I now have to close this window to proceed.

### Expected behavior
 It should go to the patient chart without popping up a Patient Name Window.

### Client c

[2020-12-17 00:59] nursejeff commented on #4105
![image](https://user-images.githubusercontent.com/31212040/102424462-c5d8cf80-3fd0-11eb-82a0-fb0e6d0010e9.png)

[2020-12-17 03:43] arnabnaha commented on #4103
Hi Jerry...
How are u?? I am doing good..if i send u the form via email..xan you please
take a look at it?

Thanks and regards
Dr. Arnab

On Wed, 16 Dec 2020, 21:56 Jerry Padgett, <notifications@github.com> wrote:

[2020-12-17 03:45] sjpadgett commented on #4103
Sure, I can do that for you. Can you send now?

[2020-12-17 03:50] arnabnaha commented on #4103
Sure...plz send me your email id..

On Thu, 17 Dec 2020, 09:15 Jerry Padgett, <notifications@github.com> wrote:

[2020-12-17 03:53] sjpadgett commented on #4103
sjpadgett@gmail.com

[2020-12-17 03:54] arnabnaha commented on #4103
done

[2020-12-17 05:10] sjpadgett commented on #4103
@arnabnaha Sent you hopefully a fix. Let me know.

[2020-12-17 17:39] sjpadgett opened #4108 "FHIR Resource response incorrect."
### Describe the bug

Currently any of our FHIR API responses emitted to interface is of the form:
[code]
Unsure why it is done this way essentially combining an Operation Outcome with the response json.
The Operation Outcome should be sent if an error as a different resourceType.
[code]

Also interesting is why are we sending the resource response inside a data array!
[code]
For example should be

[2020-12-17 18:57] sjpadgett opened #4109 "Need to implement ACL for API contexts"
### Describe the problem
Currently we support permissions only for active openemr users. These are checked in our api route before dispatch.
E.g:
[code]
However we have several more contexts we will need to check and easiest to reference the spec for these:
http://hl7.org/fhir/smart-app-launch/scopes-and-launch-context/index.html

The requesting user/patient/system/launch, through their client, wi

[2020-12-17 19:35] dixonwhitmire commented on #4108
Hi @sjpadgett - Yes if this is occurring this is not compliant with the FHIR R4 spec.

The first response payload you mention looks similar to the API response which is documented [here](https://github.com/openemr/openemr/blob/master/API_README.md). This API response is used for the OpenEMR "non-FHIR" endpoints.

If I remember correctly, and I'm stretching here as this was "pre-paternity level" is

[2020-12-17 19:51] sjpadgett commented on #4108
I'll get it sorted. Just wanted to ensure there wasn't a reason it worked this way. This needs to be broken up.
Thanks.

[2020-12-18 04:16] #3512 closed

[2020-12-18 07:02] Frankie-Machine commented on #2089
Hello Can i be assigned this issue? Please i would like to work on this one.

[2020-12-18 09:03] bradymiller commented on #2089
hi @Frankie-Machine , the issue is yours :)

[2020-12-18 09:13] bradymiller commented on #4109
Out of curiosity:
Are the scopes always in the access token? If so, does there also need to be a check to ensure a certain user/patient/system/launch has those scopes in oauth_trusted_user entry (or do we assume the access token can not be meddled with).

Something to consider. Could offer 2 strategies that are set in the oauth_trusted_user.
First is the standard one that uses the current authoriz

[2020-12-18 09:14] bradymiller commented on #4109
Another thing. How would non patient/user entities get an entry in the the oauth_trusted_user table (since that requires a login).

[2020-12-18 15:43] adunsulag commented on #4109
@bradymiller

Yes they are.  I don't know enough about the oauth_trusted_user_entry so hopefully @sjpadgett can chime in on this.  The Access Token is supposed to be signed and hasn't been tampered with.  That's one of the reasons why we support a JWK so that the client can also verify the token has not been tampered with in transit from OpenEMR to the user agent by validating against our public k

[2020-12-18 16:54] sjpadgett commented on #4109
Currently everything about permissions concerning apis are based on confidential apps using openemr users permissions.(Jerry overstating the obvious:)).
We can't rely on claims because the client will never send an id_token to our resource server where id_token is meant to be consumed by client to gain auth information about the server signed in user/patient session which the access/refresh tokens

[2020-12-18 17:10] sjpadgett commented on #4109
Besides patient/user we'd only have system via a client_credentials grant for backend. This is where client scopes will get used and treated as a user in many ways. i.e will generally have read/write.

I'm actually thinking I better go ahead and develop the manual/administrative UI while making the dynamic registration strict with perhaps three canned registration types that include set scopes etc

[2020-12-18 17:47] arnabnaha commented on #4103
Hi Jerry...sorry I didnt get time to take a look at the form..i will surely
do it over the weekend and let u know...thanks a lot

On Thu, 17 Dec 2020, 10:41 Jerry Padgett, <notifications@github.com> wrote:

[2020-12-22 05:27] #3653 closed

[2020-12-22 07:30] arnabnaha commented on #4103
Hi jerry
Thanks for the form input...I am still getting the same error in error log and the form behaves in the same way...after saving data, it is not showing the saved data. The error log is below:

[Tue Dec 22 12:57:22.344044 2020] [php7:error] [pid 3792:tid 1836] [client 43.231.240.178:62823] PHP Fatal error:  Uncaught Error: Call to undefined function split() in C:\\xampp\\htdocs\\openemr\\in

[2020-12-22 07:52] arnabnaha commented on #4103
Hi @sjpadgett @bradymiller
I found the solution -
the split function is no longer supported in php 7 and so I replaced it with explode in all the files of the forms and it worked fine. So I am editing the xmlformgen file to automatically use the explode function rather than split function while creating the forms. I am creating a branch. Please merge it if you think its ok.

Thanks
Dr. Arnab Naha

[2020-12-22 12:44] #4103 closed

[2020-12-22 14:19] sjpadgett opened #4118 "User Deprecated Error Lcobucci JWT Builder"
### Describe the bug
```[21-Dec-2020 17:49:17 America/New_York] PHP Deprecated:  Using integers for registered date claims is deprecated, please use DateTimeImmutable objects instead. in C:\xampp\htdocs\openemr\vendor\lcobucci\jwt\src\Builder.php on line 151```

What's frustrating is this will have to be fixed in the leagues OIDC project(steverhoades/oauth2-openid-connect-server/IdTokenResponse.ph

[2020-12-22 15:02] sjpadgett commented on #4118
I'm going to go ahead and submit a PR to league project. I think I will also see about allowing to pull an encrypted public/private key from database instead of files! I see issues heading our way otherwise!

[2020-12-22 15:29] sjpadgett commented on #4118
more: https://github.com/steverhoades/oauth2-openid-connect-server/issues/30 thus
https://lcobucci-jwt.readthedocs.io/en/latest/upgrading/#v3x-to-v4x

[2020-12-22 16:51] bradymiller commented on #4118
@sjpadgett ,
I am pretty sure the I can solve your problem by removing this line in out "custom" jwt package :)
https://github.com/openemr/jwt/blob/34php8/src/Builder.php#L151

[2020-12-22 16:53] bradymiller commented on #4118
I was gonna do a php8 sweep of oauth2 stuff and mfa testing today anyways. I can make the above change also in my planned work today if that will help.

[2020-12-22 19:00] sjpadgett commented on #4118
okay, works for me

[2020-12-23 01:23] #4029 closed

[2020-12-23 05:14] bradymiller commented on #4118
fixed this here:
https://github.com/openemr/openemr/pull/4119
(the build will now bring a jwt package that will not report these errors :) )

[2020-12-23 10:40] adunsulag opened #4120 "FHIR Inferno Launch inside EHR Test Results - Bugs/Missing Functionality Identified"
So I finally got an instance of [Inferno](https://github.com/onc-healthit/inferno-program) running to test against our FHIR installation.  I thought I'd put the test results out.  I'm not sure if we break these up into separate issues and can point those issues to this one as a reference?  @bradymiller or @sjpadgett might have insight into the best way to track these.
I ran this with docker using

[2020-12-23 11:01] adunsulag commented on #4077
I missed this issue when I posted my Inferno Test results.  @sjpadgett should I close my issue and merge the results into this one?

[2020-12-23 14:36] sjpadgett commented on #4077
@adunsulag I'll just close this issue with a reference to yours.
See
https://github.com/openemr/openemr/issues/4120
For follow up to this issue

[2020-12-23 14:36] #4077 closed

[2020-12-23 22:07] sjpadgett commented on #4118
Thanks Brady. Will close and send one atta boy your way:)

[2020-12-23 22:07] #4118 closed

[2020-12-24 02:05] sjpadgett opened #4121 "Finalize issuers (smart and claims iss)"
Need to setup consistent issuer i.e iss attribute.
I use the IdTokenSMARTResponse extends IdTokenResponse @adunsulag set up to modify the id token builder to reflect correct issuer so as not to use the $_SERVER supers for domain references. Also allows including the site in issuer.(this is really only important to the iss claim in id_token matches the published issuer.)
Note also i've bumped the O

[2020-12-24 02:16] sjpadgett commented on #4121
I'm beginning to wonder if perhaps site should be moved to
$GLOBALS['site_addr_oath'] . $GLOBALS['webroot']  . "/" . $_SESSION['site_id']
@bradymiller what do you think?

[2020-12-24 07:45] bradymiller commented on #4121
@sjpadgett ,
Sounds like it would simplify paths to site_addr_oath/webroot/site/<stuff like apis-oauth2-other/future/stuff>
How extensive would that change be to do?

[2020-12-24 14:49] sjpadgett commented on #4121
In the light of day not so easy. Won't work after sleeping on it because of our path rewrites.
Why is it we think we're so clever when we're tired!

[2020-12-27 01:25] #4121 closed

[2020-12-27 15:58] tauqirpasha commented on #2089
well, why don't just disable the right-click options in an HTML page ??

[2020-12-27 19:43] sjpadgett opened #4126 "Move site_id part in endpoint urls."
### Describe the problem
Currently our apis(FHIR and Standard) URI/URL endpoints requires the site_id(we'll call a tenant) as part of endpoint of the scheme: `https://domain/{ROOT}/SERVER/SITEID/{api}/endpoint` e.g `https://domain/{ROOT}/oauth2/default/endpoint` or `https://domain/{ROOT}/apis/default/api/endpoint`
This seems unnatural/clumsy.

I'm ready to pull the trigger on this and have done so

[2020-12-27 23:59] sjpadgett commented on #4126
Turns out that when doing redirects(login), session is destroyed. Don't see a way around.

[2020-12-28 00:49] bradymiller commented on #4126
Was worth a try. We can definitely make do with current pathing :)

[2020-12-28 00:51] sjpadgett commented on #4126
lol I don't know if i'm disappointed or relieved!:)

[2020-12-28 00:52] #4126 closed

[2020-12-28 17:34] #3932 closed

[2020-12-29 06:02] bradymiller commented on #2975
bump

[2020-12-29 20:17] sjpadgett commented on #4108
This was fixed as companion in another PR.

[2020-12-29 20:17] #4108 closed

[2020-12-29 20:46] sjpadgett opened #4131 "Update current node CDA server/generator to support v2.1"
### Describe the problem
Currently CDA document generation mostly supports HL7 Release 1.1. Need to update to a minimum Release 2.1 however while here, will try to bring current to meet 2020 ONC. I believe after rel 2 the Consolidated document is of import and may I say, yuck!
### Describe the solution you'd like
Need to add several new sections requiring new template leafs and xpaths. Also need t

[2020-12-29 23:18] sjpadgett opened #4133 "No scopes in refresh token.."
### Describe the bug
I wish I paid more attention to refresh token besides it issues new access token. @adunsulag was this the issue you tried to convey?
Access token scopes before refresh:
[code]
And after refresh:
[code]
I would have expected the league lib to handle this that on a refresh if scopes aren't passed in the request then original scopes are returned. This I thought was part of oauth2

[2020-12-29 23:26] adunsulag commented on #4133
@sjpadgett my PR fixes this problem. It comes from the fact that AuthorizationController was stuffing the site:default into the $_POST. The league stuff either uses the old token's scopes, or whatever was sent in the $_REQUEST, which has a value because we stuff one in on the server side.
[code]

[2020-12-29 23:31] sjpadgett commented on #4133
aww, so i'm not as clever as I thought. So the site should already be there. Guess I need to start reviewing PRs again!

[2020-12-29 23:31] #4133 closed

[2021-01-01 18:12] #3948 closed

[2021-01-01 21:22] bradymiller opened #4148 "example smart on fhir app to quickly test that it is working for 6.0.0"
interface/smart/register-app.php:
![image](https://user-images.githubusercontent.com/278968/103446325-2ef84e00-4c33-11eb-93d0-ce40fe9de5f9.png)

API Clients:
![image](https://user-images.githubusercontent.com/278968/103446344-57804800-4c33-11eb-970c-c2696ee173e8.png)

Deregister client id from the app for complete testing:
https://adunsulag.github.io/growth-chart-app/deregister.html
![image](https

[2021-01-01 21:24] bradymiller commented on #4148
@adunsulag , Getting close on getting this to work. Just wanted to make sure I have the right settings and that perhaps I am missing something simple on the setup.

[2021-01-01 22:30] adunsulag commented on #4148
@bradymiller Let me look into this, been out all day I'll run through this again and verify.

[2021-01-01 22:38] sjpadgett commented on #3950
bump

[2021-01-01 22:39] sjpadgett commented on #3947
bump

[2021-01-01 23:26] adunsulag commented on #4148
@bradymiller It's failing on requesting the patient/Observation.read scope.  Before we did our permission fixes this was allowed.  I'm looking to see what we can do, adding into the portal the patient observation doesn't look too hard.